@inherits Forms.Forms.Form_789Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.ORM
@using Castle.DynamicLinqQueryBuilder
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Forms
@using Utility
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
<style>
    .EMP_bg {
    border: 1px dashed rgb(255, 208, 139);
    background: rgba(255, 193, 7, 0.04);
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 16px;
    border-radius: var(--bs-border-radius) !important;
    margin-top: 0.20rem !important;
}
/* ************************************************** */
.detailArea form div:not(.devdrop) {
    margin-top: .1rem;
}

/* ************************************************** */

.form-header {
    background: linear-gradient(to bottom, #6c5ffc, #0d1a52);
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.form-header:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.form-header h2 {
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.form-header .icon {
    font-size: 1.8rem;
    margin-left: 15px;
    animation: float 3s ease-in-out infinite;
}

.form-header::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
    transform: rotate(45deg);
    z-index: 1;
    transition: all 0.5s ease;
}

.form-header:hover::before {
    transform: rotate(45deg) translate(20px, 20px);
}

.form-header .decoration {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    z-index: 1;
}

.form-header .decoration-1 {
    top: -30px;
    left: -30px;
    width: 120px;
    height: 120px;
}

.form-header .decoration-2 {
    bottom: -40px;
    right: -20px;
    width: 80px;
    height: 80px;
}

@@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@@keyframes pulse {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.3;
    }
}

.pulse-animation {
    animation: pulse 4s ease-in-out infinite;
}

/* ************************************************** */
</style>

<div class="@(ReadOnly?"FormReadOnly":"")">


    <span class="d-none">VersionForm:@VersionForm</span>

    <div class="formListi mt-3">
        <div class="masterArea">
            <div class="p-2 cardbox">

                @*فیلد های مستر اگه نیاز شد اینجا قرار گیرد *@


                <Form_789_Filter @ref="RefListFilter" OnSearch="@(f => SearchFilter(f))" _RequestParameters="@_RequestParameters" _CartablesParameters="@_CartablesParameters"></Form_789_Filter>


                <div class="gridArea">

                    @*
                    فیلتر و گرید با یک لیست داده کار میکنند
                    *@

                    <label for="HR_RMS_RecruitmentHiring_HR_RMS_RecruitmentHiring">جذب و استخدام
   
    
</label>

<DxGrid @ref="Grid_HR_RMS_RecruitmentHiring" Data="_Entity" KeyFieldName="_Id" 
        EditModelSaving="OnEditModelSavingHR_RMS_RecruitmentHiring"
        DataItemDeleting="OnDataItemDeletingHR_RMS_RecruitmentHiring"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جذب و استخدام"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_HR_RMS_RecruitmentHiring"
        CustomizeElement="CustomizeRowsGrid_HR_RMS_RecruitmentHiring" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":0,\"ViewId\":789,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"HR_RMS_RecruitmentHiring\",\"GridMainModel\":\"HR_RMS_RecruitmentHiring\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"modal\":true,\"StartCustomDataGrid\":true,\"label\":\"جذب و استخدام\",\"tableView\":false,\"key\":\"HR_RMS_RecruitmentHiring\",\"type\":\"datagrid\",\"input\":true,\"modalEdit\":false,\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":false,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=HR_RMS_RecruitmentHiring_HR_RMS_RecruitmentHiringButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_HR_RMS_RecruitmentHiring())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=HR_RMS_RecruitmentHiring_HR_RMS_RecruitmentHiringButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_HR_RMS_RecruitmentHiring(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn  Caption="زمان تنظیم"  FieldName="RegulatingTime" />

<DxGridDataColumn  Caption="زمان تائید"  FieldName="ApproveTime" />

<DxGridDataColumn  Caption="توضیحات تنظیم"  FieldName="RegulatingDescription" />

<DxGridDataColumn  Caption="نتایج تست شخصیت شناسی"  FieldName="PersonalityTestResults" />

<DxGridDataColumn  Caption="توضیحات منابع انسانی"  FieldName="DescriptionHR" />

<DxGridDataColumn  Caption="دلایل تائید نهایی در مصاحبه"  FieldName="ReasonsApproval" />

<DxGridDataColumn  Caption="زمان ثبت تائید مصاحبه کانون"  FieldName="InterviewConfirmationTime" />

<DxGridDataColumn DisplayFormat="0" Caption="امتیاز نهایی کانون"  FieldName="ScoreInterviewConfirmation" />

<DxGridDataColumn DisplayFormat="0" Caption="گروه"  FieldName="OccupationalGroup" />

<DxGridDataColumn DisplayFormat="0" Caption="حق جذب روزانه"  FieldName="DailyAttractionRight" />

<DxGridDataColumn DisplayFormat="0" Caption="شرایط محیط کار روزانه"  FieldName="DailyWorkingEnvironmentConditions" />

<DxGridDataColumn DisplayFormat="0" Caption="دستمزد روزانه"  FieldName="DailyWage" />

<DxGridDataColumn DisplayFormat="0" Caption="حقوق خالص دریافتی"  FieldName="NetSalaryReceived" />

<DxGridDataColumn  Caption="زمان تائید مدیرکارخانه"  FieldName="ApprovalTimeFactoryManager" />

<DxGridDataColumn  Caption="توضیحات مدیر کارخانه"  FieldName="DescriptionFactoryManager" />

<DxGridDataColumn  Caption="زمان تائید منابع انسانی"  FieldName="ConfirmTimeDeputyHR" />

<DxGridDataColumn  Caption="توضیحات معاون منابع انسانی"  FieldName="DescriptionDeputyHR" />

<DxGridDataColumn  Caption="آخرین تائیدکننده"  FieldName="LastApproverTime" />

<DxGridDataColumn  Caption="توضیحات نهایی"  FieldName="DescriptionLastApprover" />

<DxGridDataColumn Context="RequestUserId_" Caption="کاربر درخواست کننده" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderRequestUserId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18598,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"RequestUser\",\"RelationParentModel\":\"AspNetUsers\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/AspNetUsers/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.UserName}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"کاربر درخواست کننده\",\"tableView\":true,\"key\":\"RequestUserId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18598?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowRequestUserId = ((Entity.HR_RMS_RecruitmentHiring)RequestUserId_.DataItem).RequestUserId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowRequestUserId"   FieldName="RequestUserId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringRequestUserId_Header" Component="HeaderRequestUserId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringRequestUserId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   RequestUserId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="UnitManagerUserId_" Caption="تائیدامور مربوطه" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderUnitManagerUserId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18599,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"UnitManagerUser\",\"RelationParentModel\":\"AspNetUsers\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/AspNetUsers/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.UserName}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"تائیدامور مربوطه\",\"tableView\":true,\"key\":\"UnitManagerUserId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18599?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowUnitManagerUserId = ((Entity.HR_RMS_RecruitmentHiring)UnitManagerUserId_.DataItem).UnitManagerUserId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowUnitManagerUserId"   FieldName="UnitManagerUserId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringUnitManagerUserId_Header" Component="HeaderUnitManagerUserId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringUnitManagerUserId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   UnitManagerUserId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="HumanResourcesManagerUserId_" Caption="تائید کننده منابع انسانی" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderHumanResourcesManagerUserId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18600,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HumanResourcesManagerUser\",\"RelationParentModel\":\"AspNetUsers\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/AspNetUsers/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.UserName}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"تائید کننده منابع انسانی\",\"tableView\":true,\"key\":\"HumanResourcesManagerUserId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18600?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowHumanResourcesManagerUserId = ((Entity.HR_RMS_RecruitmentHiring)HumanResourcesManagerUserId_.DataItem).HumanResourcesManagerUserId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowHumanResourcesManagerUserId"   FieldName="HumanResourcesManagerUserId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringHumanResourcesManagerUserId_Header" Component="HeaderHumanResourcesManagerUserId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringHumanResourcesManagerUserId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   HumanResourcesManagerUserId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="FactoryManagerUserId_" Caption="تائید مدیرکارخانه" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderFactoryManagerUserId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18601,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"FactoryManagerUser\",\"RelationParentModel\":\"AspNetUsers\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/AspNetUsers/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.UserName}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"تائید مدیرکارخانه\",\"tableView\":true,\"key\":\"FactoryManagerUserId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18601?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowFactoryManagerUserId = ((Entity.HR_RMS_RecruitmentHiring)FactoryManagerUserId_.DataItem).FactoryManagerUserId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowFactoryManagerUserId"   FieldName="FactoryManagerUserId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringFactoryManagerUserId_Header" Component="HeaderFactoryManagerUserId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringFactoryManagerUserId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   FactoryManagerUserId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="FinalApproverUserId_" Caption="تائید کننده نهایی" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderFinalApproverUserId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18602,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"FinalApproverUser\",\"RelationParentModel\":\"AspNetUsers\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/AspNetUsers/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.UserName}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"تائید کننده نهایی\",\"tableView\":true,\"key\":\"FinalApproverUserId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18602?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowFinalApproverUserId = ((Entity.HR_RMS_RecruitmentHiring)FinalApproverUserId_.DataItem).FinalApproverUserId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowFinalApproverUserId"   FieldName="FinalApproverUserId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringFinalApproverUserId_Header" Component="HeaderFinalApproverUserId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringFinalApproverUserId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   FinalApproverUserId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="HR_CVR_JobId_" Caption="شغل" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderHR_CVR_JobId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18648,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_CVR_Job\",\"RelationParentModel\":\"HR_CVR_Job\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_CVR_Job/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شغل\",\"tableView\":true,\"key\":\"HR_CVR_JobId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18648?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowHR_CVR_JobId = ((Entity.HR_RMS_RecruitmentHiring)HR_CVR_JobId_.DataItem).HR_CVR_JobId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowHR_CVR_JobId"   FieldName="HR_CVR_JobId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringHR_CVR_JobId_Header" Component="HeaderHR_CVR_JobId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringHR_CVR_JobId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   HR_CVR_JobId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="ScoreInterviewConfirmationEmployeeId_" Caption="کاربر تائید کننده مصاحبه کانون" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderScoreInterviewConfirmationEmployeeId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18649,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"ScoreInterviewConfirmationEmployee\",\"RelationParentModel\":\"HR_EMP_Employees\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_EMP_Employees/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.LastNameEn}} {{item.FirstName}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"کاربر تائید کننده مصاحبه کانون\",\"tableView\":true,\"key\":\"ScoreInterviewConfirmationEmployeeId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18649?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowScoreInterviewConfirmationEmployeeId = ((Entity.HR_RMS_RecruitmentHiring)ScoreInterviewConfirmationEmployeeId_.DataItem).ScoreInterviewConfirmationEmployeeId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowScoreInterviewConfirmationEmployeeId"   FieldName="ScoreInterviewConfirmationEmployeeId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringScoreInterviewConfirmationEmployeeId_Header" Component="HeaderScoreInterviewConfirmationEmployeeId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringScoreInterviewConfirmationEmployeeId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   ScoreInterviewConfirmationEmployeeId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="HR_ORG_SectionsId_" Caption="قسمت" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderHR_ORG_SectionsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18650,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_ORG_Sections\",\"RelationParentModel\":\"HR_ORG_Sections\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_ORG_Sections/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"قسمت\",\"tableView\":true,\"key\":\"HR_ORG_SectionsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18650?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowHR_ORG_SectionsId = ((Entity.HR_RMS_RecruitmentHiring)HR_ORG_SectionsId_.DataItem).HR_ORG_SectionsId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowHR_ORG_SectionsId"   FieldName="HR_ORG_SectionsId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringHR_ORG_SectionsId_Header" Component="HeaderHR_ORG_SectionsId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringHR_ORG_SectionsId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   HR_ORG_SectionsId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="HR_ORG_PostsId_" Caption="پست" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderHR_ORG_PostsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18651,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_ORG_Posts\",\"RelationParentModel\":\"HR_ORG_Posts\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_ORG_Posts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"پست\",\"tableView\":true,\"key\":\"HR_ORG_PostsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18651?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowHR_ORG_PostsId = ((Entity.HR_RMS_RecruitmentHiring)HR_ORG_PostsId_.DataItem).HR_ORG_PostsId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowHR_ORG_PostsId"   FieldName="HR_ORG_PostsId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringHR_ORG_PostsId_Header" Component="HeaderHR_ORG_PostsId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringHR_ORG_PostsId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   HR_ORG_PostsId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="HR_RMS_RecruitmentRequestsId_" Caption="شماره درخواست جذب نیرو انسانی" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderHR_RMS_RecruitmentRequestsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":16343,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_RMS_RecruitmentRequests\",\"RelationParentModel\":\"HR_RMS_RecruitmentRequests\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_RMS_RecruitmentRequests/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} {{item.HR_ReasonRequestRecruitmentId}} {{item.HR_ApplicationStatusRecruitmentId}} {{item.HR_ORG_PostsId}} {{item.HR_ORG_SectionsId}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شماره درخواست جذب نیرو انسانی\",\"tableView\":true,\"key\":\"HR_RMS_RecruitmentRequestsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"16343?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowHR_RMS_RecruitmentRequestsId = ((Entity.HR_RMS_RecruitmentHiring)HR_RMS_RecruitmentRequestsId_.DataItem).HR_RMS_RecruitmentRequestsId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowHR_RMS_RecruitmentRequestsId"   FieldName="HR_RMS_RecruitmentRequestsId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringHR_RMS_RecruitmentRequestsId_Header" Component="HeaderHR_RMS_RecruitmentRequestsId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringHR_RMS_RecruitmentRequestsId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   HR_RMS_RecruitmentRequestsId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="HR_StatusRecruitmentHiringId_" Caption="وضعیت جذب و استخدام" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderHR_StatusRecruitmentHiringId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18660,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_StatusRecruitmentHiring\",\"RelationParentModel\":\"HR_StatusRecruitmentHiring\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_StatusRecruitmentHiring/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.IsDelete}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"وضعیت جذب و استخدام\",\"tableView\":true,\"key\":\"HR_StatusRecruitmentHiringId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18660?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowHR_StatusRecruitmentHiringId = ((Entity.HR_RMS_RecruitmentHiring)HR_StatusRecruitmentHiringId_.DataItem).HR_StatusRecruitmentHiringId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowHR_StatusRecruitmentHiringId"   FieldName="HR_StatusRecruitmentHiringId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringHR_StatusRecruitmentHiringId_Header" Component="HeaderHR_StatusRecruitmentHiringId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringHR_StatusRecruitmentHiringId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   HR_StatusRecruitmentHiringId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="HR_RMS_HiringQuestionnaireId_" Caption="شناسه پرسشنامه استخدامی" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderHR_RMS_HiringQuestionnaireId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":432,\"FieldId\":18661,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":789,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_RMS_HiringQuestionnaire\",\"RelationParentModel\":\"HR_RMS_HiringQuestionnaire\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_RMS_HiringQuestionnaire/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شناسه پرسشنامه استخدامی\",\"tableView\":true,\"key\":\"HR_RMS_HiringQuestionnaireId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18661?EId=432&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowHR_RMS_HiringQuestionnaireId = ((Entity.HR_RMS_RecruitmentHiring)HR_RMS_HiringQuestionnaireId_.DataItem).HR_RMS_HiringQuestionnaireId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowHR_RMS_HiringQuestionnaireId"   FieldName="HR_RMS_HiringQuestionnaireId" OnItemSelected="ItemSelected_HR_RMS_RecruitmentHiringHR_RMS_HiringQuestionnaireId_Header" Component="HeaderHR_RMS_HiringQuestionnaireId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_RecruitmentHiringHR_RMS_HiringQuestionnaireId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   HR_RMS_HiringQuestionnaireId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="کد جذب و استخدام"  FieldName="Code" />


</Columns>

    
</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownHR_RMS_RecruitmentHiring" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_HR_RMS_RecruitmentHiring" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_HR_RMS_RecruitmentHiring" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationHR_RMS_RecruitmentHiring" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonHR_RMS_RecruitmentHiring" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonHR_RMS_RecruitmentHiring" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_HR_RMS_RecruitmentHiring;
    Entity.HR_RMS_RecruitmentHiring HR_RMS_RecruitmentHiring;
    bool ConfirmationShownHR_RMS_RecruitmentHiring { get; set; } = false;
    public Entity.HR_RMS_RecruitmentHiring SelectedItemGrid_HR_RMS_RecruitmentHiring { get; set; } = new Entity.HR_RMS_RecruitmentHiring();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_HR_RMS_RecruitmentHiring { get; set; }

    ///////////////////////
    bool ConfirmationHR_RMS_RecruitmentHiring { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateHR_RMS_RecruitmentHiring { get; set; }
    public int OpenDialogCodeHR_RMS_RecruitmentHiring { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingHR_RMS_RecruitmentHiring(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_HR_RMS_RecruitmentHiring(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_HR_RMS_RecruitmentHiring(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeHR_RMS_RecruitmentHiring = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateHR_RMS_RecruitmentHiring = e;
    ConfirmationHR_RMS_RecruitmentHiring = true;
    }
    else
    {
    await OnNoButtonHR_RMS_RecruitmentHiring();
    }
}
async Task OnYesButtonHR_RMS_RecruitmentHiring()
{

    ConfirmationHR_RMS_RecruitmentHiring = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateHR_RMS_RecruitmentHiring.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_HR_RMS_RecruitmentHiring(_ContextFormTemplateHR_RMS_RecruitmentHiring.DataItem, _ContextFormTemplateHR_RMS_RecruitmentHiring.EditModel);
            await Grid_HR_RMS_RecruitmentHiring.CancelEditAsync();
         await ChangePageGrid_HR_RMS_RecruitmentHiring();
         await SetEditFormContextGrid_HR_RMS_RecruitmentHiring();
         }
          
    }

}
async Task OnNoButtonHR_RMS_RecruitmentHiring()
{
    ConfirmationHR_RMS_RecruitmentHiring = false;
    await ChangePageGrid_HR_RMS_RecruitmentHiring();
    await SetEditFormContextGrid_HR_RMS_RecruitmentHiring();

}
async Task SetEditFormContextGrid_HR_RMS_RecruitmentHiring()
{
    var e = (Entity.HR_RMS_RecruitmentHiring)Grid_HR_RMS_RecruitmentHiring.GetDataItem(IndexGrid_HR_RMS_RecruitmentHiring);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_HR_RMS_RecruitmentHiring()
{
    int VisibleIndex = IndexGrid_HR_RMS_RecruitmentHiring;
    try
    {
    if (OpenDialogCodeHR_RMS_RecruitmentHiring == 1)
    {
        if (VisibleIndex != (Grid_HR_RMS_RecruitmentHiring.GetVisibleRowCount() - 1))
    { 
            Grid_HR_RMS_RecruitmentHiring.CancelEditAsync();
            IndexGrid_HR_RMS_RecruitmentHiring = VisibleIndex + 1;
    Grid_HR_RMS_RecruitmentHiring.StartEditRowAsync(IndexGrid_HR_RMS_RecruitmentHiring);
    }
    }
    else if (OpenDialogCodeHR_RMS_RecruitmentHiring == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_HR_RMS_RecruitmentHiring.CancelEditAsync();
            IndexGrid_HR_RMS_RecruitmentHiring = VisibleIndex - 1;
    Grid_HR_RMS_RecruitmentHiring.StartEditRowAsync(IndexGrid_HR_RMS_RecruitmentHiring);
    }

    }
    var e = (Entity.HR_RMS_RecruitmentHiring)Grid_HR_RMS_RecruitmentHiring.GetDataItem(IndexGrid_HR_RMS_RecruitmentHiring);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_HR_RMS_RecruitmentHiring()
{
    //تعداد سطرهای کل
_VisibleIndex = Grid_HR_RMS_RecruitmentHiring.GetVisibleRowCount();
setFocusOff();
IsNew = true;
await ShowFormCU(null);
var e = new Entity.HR_RMS_RecruitmentHiring();
await Task.Delay(300);

}

async Task StartModalGrid_HR_RMS_RecruitmentHiring(GridCommandColumnCellDisplayTemplateContext Context)
{
    IsNew = false;
setFocusOn();
_VisibleIndex = Context.VisibleIndex;
await ShowFormCU(Context.DataItem);
var e = (Entity.HR_RMS_RecruitmentHiring)Context.DataItem;
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_HR_RMS_RecruitmentHiring(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_HR_RMS_RecruitmentHiring(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_HR_RMS_RecruitmentHiring(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_HR_RMS_RecruitmentHiring(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_HR_RMS_RecruitmentHiring();

    }
          
    }
   
}

void PerviousPageGrid_HR_RMS_RecruitmentHiring(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_HR_RMS_RecruitmentHiring.CancelEditAsync();
        IndexGrid_HR_RMS_RecruitmentHiring = VisibleIndex - 1;
         Grid_HR_RMS_RecruitmentHiring.StartEditRowAsync(IndexGrid_HR_RMS_RecruitmentHiring);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_HR_RMS_RecruitmentHiring(int VisibleIndex)
{

    if (VisibleIndex == Grid_HR_RMS_RecruitmentHiring.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_HR_RMS_RecruitmentHiring ");
    try
    {
Grid_HR_RMS_RecruitmentHiring.CancelEditAsync();
        IndexGrid_HR_RMS_RecruitmentHiring = VisibleIndex + 1;
         Grid_HR_RMS_RecruitmentHiring.StartEditRowAsync(IndexGrid_HR_RMS_RecruitmentHiring);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_HR_RMS_RecruitmentHiring(object DataItem, object EditModel)
{
    var ListEntity = _Entity;
    var MainModel = (Entity.HR_RMS_RecruitmentHiring)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.HR_RMS_RecruitmentHiring)EditModel).Id;
MainModel.RequestID = ((Entity.HR_RMS_RecruitmentHiring)EditModel).RequestID;
MainModel.CreateUser = ((Entity.HR_RMS_RecruitmentHiring)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.HR_RMS_RecruitmentHiring)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.HR_RMS_RecruitmentHiring)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.HR_RMS_RecruitmentHiring)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.HR_RMS_RecruitmentHiring)EditModel).IsDelete;
MainModel.RegulatingTime = ((Entity.HR_RMS_RecruitmentHiring)EditModel).RegulatingTime;
MainModel.ApproveTime = ((Entity.HR_RMS_RecruitmentHiring)EditModel).ApproveTime;
MainModel.RegulatingDescription = ((Entity.HR_RMS_RecruitmentHiring)EditModel).RegulatingDescription;
MainModel.PersonalityTestResults = ((Entity.HR_RMS_RecruitmentHiring)EditModel).PersonalityTestResults;
MainModel.DescriptionHR = ((Entity.HR_RMS_RecruitmentHiring)EditModel).DescriptionHR;
MainModel.ReasonsApproval = ((Entity.HR_RMS_RecruitmentHiring)EditModel).ReasonsApproval;
MainModel.InterviewConfirmationTime = ((Entity.HR_RMS_RecruitmentHiring)EditModel).InterviewConfirmationTime;
MainModel.ScoreInterviewConfirmation = ((Entity.HR_RMS_RecruitmentHiring)EditModel).ScoreInterviewConfirmation;
MainModel.OccupationalGroup = ((Entity.HR_RMS_RecruitmentHiring)EditModel).OccupationalGroup;
MainModel.DailyAttractionRight = ((Entity.HR_RMS_RecruitmentHiring)EditModel).DailyAttractionRight;
MainModel.DailyWorkingEnvironmentConditions = ((Entity.HR_RMS_RecruitmentHiring)EditModel).DailyWorkingEnvironmentConditions;
MainModel.DailyWage = ((Entity.HR_RMS_RecruitmentHiring)EditModel).DailyWage;
MainModel.NetSalaryReceived = ((Entity.HR_RMS_RecruitmentHiring)EditModel).NetSalaryReceived;
MainModel.ApprovalTimeFactoryManager = ((Entity.HR_RMS_RecruitmentHiring)EditModel).ApprovalTimeFactoryManager;
MainModel.DescriptionFactoryManager = ((Entity.HR_RMS_RecruitmentHiring)EditModel).DescriptionFactoryManager;
MainModel.ConfirmTimeDeputyHR = ((Entity.HR_RMS_RecruitmentHiring)EditModel).ConfirmTimeDeputyHR;
MainModel.DescriptionDeputyHR = ((Entity.HR_RMS_RecruitmentHiring)EditModel).DescriptionDeputyHR;
MainModel.LastApproverTime = ((Entity.HR_RMS_RecruitmentHiring)EditModel).LastApproverTime;
MainModel.DescriptionLastApprover = ((Entity.HR_RMS_RecruitmentHiring)EditModel).DescriptionLastApprover;
MainModel.RequestUserId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).RequestUserId;
MainModel.RequestUser = ((Entity.HR_RMS_RecruitmentHiring)EditModel).RequestUser;
MainModel.UnitManagerUserId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).UnitManagerUserId;
MainModel.UnitManagerUser = ((Entity.HR_RMS_RecruitmentHiring)EditModel).UnitManagerUser;
MainModel.HumanResourcesManagerUserId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HumanResourcesManagerUserId;
MainModel.HumanResourcesManagerUser = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HumanResourcesManagerUser;
MainModel.FactoryManagerUserId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).FactoryManagerUserId;
MainModel.FactoryManagerUser = ((Entity.HR_RMS_RecruitmentHiring)EditModel).FactoryManagerUser;
MainModel.FinalApproverUserId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).FinalApproverUserId;
MainModel.FinalApproverUser = ((Entity.HR_RMS_RecruitmentHiring)EditModel).FinalApproverUser;
MainModel.HR_CVR_JobId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_CVR_JobId;
MainModel.HR_CVR_Job = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_CVR_Job;
MainModel.ScoreInterviewConfirmationEmployeeId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).ScoreInterviewConfirmationEmployeeId;
MainModel.ScoreInterviewConfirmationEmployee = ((Entity.HR_RMS_RecruitmentHiring)EditModel).ScoreInterviewConfirmationEmployee;
MainModel.HR_ORG_SectionsId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_ORG_SectionsId;
MainModel.HR_ORG_Sections = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_ORG_Sections;
MainModel.HR_ORG_PostsId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_ORG_PostsId;
MainModel.HR_ORG_Posts = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_ORG_Posts;
MainModel.HR_RMS_RecruitmentRequestsId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_RMS_RecruitmentRequestsId;
MainModel.HR_RMS_RecruitmentRequests = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_RMS_RecruitmentRequests;
MainModel.HR_StatusRecruitmentHiringId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_StatusRecruitmentHiringId;
MainModel.HR_StatusRecruitmentHiring = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_StatusRecruitmentHiring;
MainModel.HR_RMS_HiringQuestionnaireId = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_RMS_HiringQuestionnaireId;
MainModel.HR_RMS_HiringQuestionnaire = ((Entity.HR_RMS_RecruitmentHiring)EditModel).HR_RMS_HiringQuestionnaire;
MainModel.Code = ((Entity.HR_RMS_RecruitmentHiring)EditModel).Code;

    }
    else
    {
    ListEntity.Add((Entity.HR_RMS_RecruitmentHiring)EditModel);
    }
}

async Task OnDataItemDeletingHR_RMS_RecruitmentHiring(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity;
    ListEntity.Remove((Entity.HR_RMS_RecruitmentHiring)e.DataItem);
}
async void OnDeleteButtonClickGrid_HR_RMS_RecruitmentHiring (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_HR_RMS_RecruitmentHiring = (ex.DataItem as Entity.HR_RMS_RecruitmentHiring);
    var e =SelectedItemGrid_HR_RMS_RecruitmentHiring;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownHR_RMS_RecruitmentHiring = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_HR_RMS_RecruitmentHiring ()
{
       if (SelectedItemGrid_HR_RMS_RecruitmentHiring != null)
    {
      if (SelectedItemGrid_HR_RMS_RecruitmentHiring.Id == Guid.Empty)
      {
          var ListEntity = _Entity;
        ListEntity.Remove((Entity.HR_RMS_RecruitmentHiring)SelectedItemGrid_HR_RMS_RecruitmentHiring);
     
      }
      else
      {
        var cleanModel = new Entity.HR_RMS_RecruitmentHiring();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.HR_RMS_RecruitmentHiring).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_HR_RMS_RecruitmentHiring);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_HR_RMS_RecruitmentHiring, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_HR_RMS_RecruitmentHiring._Id);
    
      await PostDataDelete(cleanModel); 
       
      }
    }
    var e= SelectedItemGrid_HR_RMS_RecruitmentHiring;
    
    Grid_HR_RMS_RecruitmentHiring.Reload();
    ConfirmationShownHR_RMS_RecruitmentHiring = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_HR_RMS_RecruitmentHiring ()
{
    ConfirmationShownHR_RMS_RecruitmentHiring = false;
}

void CustomizeRowsGrid_HR_RMS_RecruitmentHiring(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.HR_RMS_RecruitmentHiring)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_HR_RMS_RecruitmentHiring(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.HR_RMS_RecruitmentHiring)e.EditModel;

     

    }

await ShowFormCU(e);
}
public async void RowClickGrid_HR_RMS_RecruitmentHiring(GridRowClickEventArgs e)
{
if (!e.Grid.FocusedRowEnabled)
{
    setFocusOn();
}
IsNew = false;
_VisibleIndex = e.VisibleIndex;
ShowFormCU(e.Grid.GetDataItem(e.VisibleIndex));
e.Grid.SetFocusedRowIndex(e.VisibleIndex);
}

public async void RowDubbleClickGrid_HR_RMS_RecruitmentHiring(GridRowClickEventArgs e)
{

}
}


                    <DxPager @ref=DxPager VisibleNumericButtonCount="1" SwitchToInputBoxButtonCount="3" PageCount="@PageCount" NavigationMode="PagerNavigationMode.NumericButtons" ActivePageIndexChanged="PageIndexChanged" />
                    @* دیالوگ برای سابمیت *@
                    <DxPopup @bind-Visible="@Confirmation_Submit" HeaderText="Save" Width="350px" CloseOnOutsideClick="false">
                        <BodyContentTemplate Context="EditFormContext">
                            <div class="py-3 px-5 text-center">
                                <p>آیا از ذخیره این رکورد مطمئن هستید</p>
                                <div class="confirm-dialog-buttons">


                                    <DxButton Text="Yes" Enabled="!isSending" CssClass="btn btn-red px-4" Click="@OnYesSubmitClick">
                                        @* تبدیل دکمه به لود  *@
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "Send"))</span>

                                    </DxButton>
                                    <DxButton Text="No" CssClass="btn btn-purple-light px-4" Click="@OnNoSubmitClick" />
                                </div>
                            </div>
                        </BodyContentTemplate>
                    </DxPopup>
                    @* دیالوگ برای ذخیره و رکورد جدید *@
                    <DxPopup @bind-Visible="@Confirmation_SubmitNew" HeaderText="Save" Width="350px" CloseOnOutsideClick="false">

                        <BodyContentTemplate Context="EditFormContext">
                            <div class="py-3 px-5 text-center">
                                <p>آیا از ذخیره این رکورد مطمئن هستید</p>
                                <div class="confirm-dialog-buttons">
                                    <DxButton Text="Yes" Enabled="!isSending" CssClass="btn btn-red px-4" Click="@OnYesSubmitNewClick">
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "Send"))</span>

                                    </DxButton>
                                    <DxButton Text="No" CssClass="btn btn-purple-light px-4" Click="@OnNoSubmitNewClick" />
                                </div>
                            </div>
                        </BodyContentTemplate>
                    </DxPopup>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade xyz-in @(ShowForm?"show d-block":"")" id="DetailDialog" tabindex="-1" aria-labelledby="DetailDialog2Label" aria-hidden="true" style="z-index:1049">
        <div class="modal-dialog modal-fullscreen" style="z-index:1049;">
            <div class="modal-content" xyz="fade up-25% perspective-2 stagger">
                <div class="modal-header xyz-nested py-1" xyz="up-100% in-delay-3">
                    <h1 class="modal-title fs-5 fw-black">جزئیات</h1>
                    <button type="button" class="btn" @onclick="()=>ShowForm=false">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="detailArea">
                        @*
            @if (Id != null)
            {
            <h3>Row Id: @Id </h3>
            }

            <div>
            برای ایجاد هم از همین اصتفاده میشه
            باید وقتی داخل گرید سطری انتخاب شد برای ویرایش
            ارسال بشه به این فرم
            فرم وقتی ویرایش کرد داده رو به ORM ارسال کنه برای ذخیره داده
            و موجودیت بروز شده رو برگردونه که گرید هم بروز کنه داده رو
            ***تغیراتی داخل فرم پاین نیاز هست اعمال شود
            </div> *@

                        <Form_789_CU @ref="RefForm" IndependentForm=false _CartablesParameters="_CartablesParameters" _RequestParameters="_RequestParameters"></Form_789_CU>
                        <div class="mt-3">

                            @if (DtComponent is not null && DtComponent.AccessEdit)
                            {

                                <DxButton Enabled="!isSending" id="btn_listi_Save" CssClass="btn btn-sm btn-green" Click="@OnYesSubmitClick">
                                    @* تبدیل دکمه به لود  *@
                                    <DxWaitIndicator Visible="isSending" />
                                    <span class="mx-2">@((isSending ? "Sending..." : "ذخیره"))</span>

                                </DxButton>

                                <DxButton Enabled="!isSending" id="btn_listi_Save_close" CssClass="btn btn-sm btn-green" Click="@OnSubmitCloseClick">
                                    @* تبدیل دکمه به لود  *@
                                    <DxWaitIndicator Visible="isSending" />
                                    <span class="mx-2">@((isSending ? "Sending..." : "ذخیره و بستن"))</span>

                                </DxButton>
                                @if (DtComponent.AccessNew)
                                {
                                    <DxButton Enabled="!isSending" id="btn_listi_Save_New" CssClass="btn btn-sm btn-green" Click="@OnYesSubmitNewClick">
                                        @* تبدیل دکمه به لود  *@
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "ذخیره و جدید"))</span>

                                    </DxButton>
                                }
                            }
                            <button class="btn btn-sm btn-red" @onclick=SubmitCancell>انصراف</button>
                            |

                            <DxButton Text="Yes" Enabled="!isSending" id="btn_listi_Previous" CssClass="btn btn-sm btn-purple" Click="@BackRow">
                                @* تبدیل دکمه به لود  *@
                                <DxWaitIndicator Visible="isSending" />
                                <span class="bi bi-chevron-right btnicon"></span>
                                <span>@((isSending ? "wait..." : "قبلی"))</span>

                            </DxButton>
                            <DxButton Text="Yes" Enabled="!isSending" id="btn_listi_Next" CssClass="btn btn-sm btn-purple" Click="@NextRow">
                                @* تبدیل دکمه به لود  *@
                                <DxWaitIndicator Visible="isSending" />
                                <span>@((isSending ? "wait..." : "بعدی"))</span>
                                <span class="bi bi-chevron-left btnicon"></span>
                            </DxButton>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-backdrop fade @(ShowForm?"show":"")" style="z-index:1048"></div>
    </div>

</div>



@code {
    /// <summary>
    /// مقداردهی بر اساس ایندکس فعال
    /// </summary>
    protected int? _VisibleIndex { get; set; }
    //// <summary>
    /// نمایش دیالوگ ذخیره
    /// </summary>

    public bool Confirmation_Submit { get; set; } = false;
    /// <summary>
    /// نمایش دیالوگ ذخیره و فرم جدید
    /// </summary>
    public bool Confirmation_SubmitNew { get; set; } = false;
    /// <summary>
    /// کامپوننت دیتاگرید
    /// </summary>
    public View_Component DtComponent { get; set; } = new View_Component();

    //// <summary>
    /// نمایش لودینگ
    /// </summary>
    public bool isSending { get; set; } = false;
    /// <summary>
    /// رکورد جدید می باشد یا ویرایش
    /// </summary>

    public bool IsNew { get; set; }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
        //   RefListFilter = new();
    }
    protected override async Task OnInitializedAsync()
    {
        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        //     RefListFilter = new();
        await base.OnInitializedAsync();
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Yield();
            StateHasChanged();
            if (Grid_HR_RMS_RecruitmentHiring is not null)
    {
                DtComponent = (View_Component)Grid_HR_RMS_RecruitmentHiring.Attributes.GetValueOrDefault("Component");
    }

            //JSO = await JS.InvokeAsync<IJSObjectReference>("import", "./js/FormFunctions.js?ver=1.2");

            /*             var ResultConvert = await Forms.Domain.Utility.ConvertParameter.ConvertParametersToDaunamic(RequestParameters, CartablesParameters);
            _RequestParameters = ResultConvert._RequestParameters;
            _CartablesParameters = ResultConvert._CartablesParameters; */

            /*    RefForm.CartablesParameters = CartablesParameters;
            RefForm.RequestParameters = RequestParameters; */

            await InvokeAsync(StateHasChanged);
            await Task.Yield();
            QueryFilter = new QueryBuilderFilterRule();
            if ("{\"Condition\":\"AND\",\"Rules\":[{\"Field\":\"HR_CVR_JobId\",\"Id\":\"18648\",\"Input\":\"text\",\"Operator\":\"contains\",\"Type\":\"string\",\"Value\":[]}]}" != "null" || "{\"Condition\":\"AND\",\"Rules\":[{\"Field\":\"HR_CVR_JobId\",\"Id\":\"18648\",\"Input\":\"text\",\"Operator\":\"contains\",\"Type\":\"string\",\"Value\":[]}]}" != "{}")
            {
                QueryFilter = await JSON.ToObject<QueryBuilderFilterRule>("{\"Condition\":\"AND\",\"Rules\":[{\"Field\":\"HR_CVR_JobId\",\"Id\":\"18648\",\"Input\":\"text\",\"Operator\":\"contains\",\"Type\":\"string\",\"Value\":[]}]}");

            }


            if (RefListFilter == null)
            {

                RefListFilter = new();
            }

            await InvokeAsync(StateHasChanged);
            await Task.Yield();

            RefListFilter.QueryFilter = QueryFilter;//برای این گذاشتم که فیلتر نال نره تو پکامپوننتش

            await base.BeforGetData();
            await InvokeAsync(StateHasChanged);
            await Task.Yield();

            await RefListFilter.SearchFilter();
            await base.AfterGetData();
            //ست کردن شماره صفحه به گرید
            await SetPageIndex(0);

            //          if (Grid_HR_RMS_RecruitmentHiring.GetDataItem(0) != null)
            //  {
            //              await ShowFormCU(Grid_HR_RMS_RecruitmentHiring.GetDataItem(0));
            //  }
        }

        await base.OnAfterRenderAsync(firstRender);
    }


    public async Task SearchFilter(QueryBuilderFilterRule? Filter)
    {

        SearchQueryFilter = Filter;

        //ریست پیج بندی
        if (PageReset)
            PageIndex = 0;
        //
        //فیلتر ارسال بشه برای ORM
        //لیست ردیافتی بایند بشه تو لیست ListData
        await LoadData();
        PageReset = true;
        StateHasChanged();
    }

    /// <summary>
    /// لود دیتا گرید
    /// </summary>
    /// <returns></returns>
    public async Task LoadData()
    {

        //string Url = "https://bayaorm.workcv.ir/fa/api/v1/HR_RMS_RecruitmentHiring/GetList";
        //string Url = "https://testorm.workcv.ir/fa/api/v1/HR_RMS_RecruitmentHiring/GetList";
        // string Url = "https://bayaorm.workcv.ir/fa/api/v1/HR_RMS_RecruitmentHiring/GetList";

        int skip = (PageIndex * PageSize);

        var pagedResult = new PagedResult();

        pagedResult.PageSize = PageSize;

        pagedResult.PageNumber = skip;
        await FillTableGet();

        var R = await ApiServer.External.Services.Data.GetListPost(TableGet, SearchQueryFilter, pagedResult, "HR_RMS_RecruitmentHiring");


        if (R is not null)
        {//اگه داده گرفته 
            if (R.Status == System.Net.HttpStatusCode.OK)
            {


                var page = await Utility.JSON.ToObject<PagedResult>(R.Content?.ToString());

                if (page?.Items != null)
                {
                    // مستقیم به لیست مدل تبدیل کن
                    _Entity = await Utility.JSON.ToObject<List<Entity.HR_RMS_RecruitmentHiring>>(
               await Utility.JSON.ToJson(page.Items)
                    );


                }
                if (page?.PagesCount != null)
                {
                    PageCount = page.PagesCount;
                }
      
                //  _Entity = (await Utility.JSON.ToObject<List<Entity.HR_RMS_RecruitmentHiring>>(R.Content?.ToString()));
            }
            else
            {
                Console.WriteLine("#Log LoadData Error:");
              //  Console.WriteLine(R.Status);
                Console.WriteLine(R.Content);
                Console.WriteLine(R.Message);
            }
          
            //await OnFormloaded.InvokeAsync(Result);
        }
        
    }

    /// <summary>
    /// تابع پیج بندی
    /// </summary>
    /// <param name="Index"></param>
    /// <returns></returns>
    public async Task PageIndexChanged(int Index)
    {
        await SetPageIndex(Index);

        await LoadData();
    }


    /// <summary>
    /// دریافت داده فرم سمت راست CU
    /// </summary>
    /// <param name="Id"></param>
    /// <returns></returns>
    public async Task GetDataForm(object Id)
    {
        ShowForm = true;
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = PrimaryFieldName,
                        Id = PrimaryFieldName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        RefForm.QueryFilter = NewQuery;
        await RefForm.GetData();
        StateHasChanged();
    }
    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }
    /// <summary>
    /// سامبیت فرم
    /// </summary>
    /// <returns></returns>
    public async Task Submit()
    {
        Confirmation_Submit = true;
        // var R = await RefForm.Submit();

        // if (R.Status != System.Net.HttpStatusCode.OK)
        // {
        //     toastService.ShowError("ذخیره سازی دچار خطا شد");
        // }
    }
    /// <summary>
    /// تایید ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnYesSubmitClick()
    {
        PageReset = false;
        await RefForm.Submit();
        await RefListFilter.SearchFilter();
        var PageIndex = Grid_HR_RMS_RecruitmentHiring.PageIndex;
    //اگر جدید بود برو بر روی خود رکورد جدید
  // if (IsNew)
  //     {
  //         if (_VisibleIndex == (Grid_HR_RMS_RecruitmentHiring.GetVisibleRowCount() - 1))
  // {
  //             PageIndex = PageIndex + 1;
  //             _VisibleIndex = 0;
  //         }
  //         else
  //         {
  //             _VisibleIndex = _VisibleIndex.Value + 1;
  //         }
  //
  //     }
  //     await SelectRecord(PageIndex, _VisibleIndex.Value);
    }

    /// <summary>
    /// ذخیره و بستن فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnSubmitCloseClick()
    {
        PageReset = false;
        await SubmitAndRefreshData();
        ShowForm = false;
        await InvokeAsync(StateHasChanged);
    }

    /// <summary>
    /// تایید ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnYesSubmitNewClick()
    {
        PageReset = false;
        await SubmitAndRefreshData();
        StartEditNewRowAsync_Grid_HR_RMS_RecruitmentHiring();
    }

    public async Task SubmitAndRefreshData()
    {
        isSending = true;
        await RefForm.Submit();
        await RefListFilter.SearchFilter();
        await InvokeAsync(StateHasChanged);
        Confirmation_SubmitNew = false;
        isSending = false;
    }

    /// <summary>
    /// انصراف ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnNoSubmitClick()
    {
        Confirmation_Submit = false;
    }

    //// <summary>
    /// فعال شدن دیالوگ ذخیره و فرم جدید
    /// </summary>
    /// <returns></returns>
    public async Task SubmitNew()
    {
        Confirmation_SubmitNew = true;
    }


    /// <summary>
    /// انصراف ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnNoSubmitNewClick()
    {
        Confirmation_Submit = false;
    }

    /// <summary>
    /// انصراف از ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task SubmitCancell()
    {
       // await GetDataForm(null);
        ShowForm = false;
        PageReset = false;
        await RefListFilter.SearchFilter();
    }
    /// <summary>
    /// رکورد بعدی
    /// </summary>
    /// <returns></returns>
    public async Task NextRow()
    {


        if (_VisibleIndex is null)
        {
            _VisibleIndex = 0;
        }
        else if (_VisibleIndex == (Grid_HR_RMS_RecruitmentHiring.GetVisibleRowCount() - 1))
    {
            if (PageIndex < DxPager.PageCount)
            {
                PageIndex = PageIndex + 1;
            }
            else
            {
                PageIndex = 0;
            }
            _VisibleIndex = 0;
        }
        else
        {
            _VisibleIndex = _VisibleIndex.Value + 1;
        }
        await SelectRecord(PageIndex, _VisibleIndex.Value);

    }
    /// <summary>
    /// رکورد قبلی
    /// </summary>
    /// <returns></returns>
    public async Task BackRow()
    {
        if (_VisibleIndex is null)
        {
            _VisibleIndex = 0;
        }
        if (_VisibleIndex == 0)
        {
            if (PageIndex > 0)
            {
                PageIndex = PageIndex - 1;
                _VisibleIndex = Grid_HR_RMS_RecruitmentHiring.PageSize - 1;
    }
        }
        else
        {

            _VisibleIndex = _VisibleIndex.Value - 1;
        }
        await SelectRecord(PageIndex, _VisibleIndex.Value);
    }

    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }


    /// <summary>
    /// نمایش دادن فرم CU برای ویرایش و ضافه کردن رکورد
    /// </summary>
    /// <param name="e"></param>
    // public async Task ShowFormCU(GridCustomizeEditModelEventArgs e)
    // {
    //     Guid Id = Guid.Empty;
    //     if (!e.IsNew)
    //     {
    //         var newRow = (Entity.HR_RMS_RecruitmentHiring)e.EditModel;
    //         Id = newRow.Id;
    //     }
    //     await GetDataForm(Id);
    // }

    /// <summary>
    /// نمایش دادن فرم CU برای ویرایش و ضافه کردن رکورد
    /// </summary>
    /// <param name="e"></param>
    public async Task ShowFormCU(object e)
    {
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        object Id = null;
        Type type = null;
        ShowForm = true;
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        if (!IsNew)
        {
            var newRow = (Entity.HR_RMS_RecruitmentHiring)e;
    Id = newRow._Id;
            await InvokeAsync(StateHasChanged);
            await Task.Yield();
        }
        else
        {
            var newRow = new Entity.HR_RMS_RecruitmentHiring();
    Id = newRow._Id;
        }
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        await GetDataForm(Id);
    }
    /// <summary>
    /// خاموش کردن فوکوس گرید
    /// </summary>
    /// <returns></returns>
    public async Task setFocusOff()
    {
        //اگر فوکوس روشن بود خاموشش کن
        if (Grid_HR_RMS_RecruitmentHiring.FocusedRowEnabled)
    {
            //به علت یروزرسانی دیتاگرید و اینکه فوکوس باید مقدار اولیه داده شود از خط زیر استفاده می شود
            Grid_HR_RMS_RecruitmentHiring.BeginUpdate();
    Grid_HR_RMS_RecruitmentHiring.FocusedRowEnabled = false;
    Grid_HR_RMS_RecruitmentHiring.EndUpdate();
    }

    }
    /// <summary>
    /// فعال کردن فوکوس گرید
    /// </summary>
    /// <returns></returns>
    public async Task setFocusOn()
    {
        if (!Grid_HR_RMS_RecruitmentHiring.FocusedRowEnabled)
    {
            Grid_HR_RMS_RecruitmentHiring.BeginUpdate();
    Grid_HR_RMS_RecruitmentHiring.FocusedRowEnabled = true;

    Grid_HR_RMS_RecruitmentHiring.EndUpdate();
    }

    }

    public async Task SelectRecord(int PageIndex, int __VisibleIndex)
    {

        isSending = true;
        await setFocusOn();
        PageIndexChanged(PageIndex);
        await ShowFormCU(Grid_HR_RMS_RecruitmentHiring.GetDataItem(__VisibleIndex));
    DxPager.ActivePageIndex = PageIndex;
        Grid_HR_RMS_RecruitmentHiring.BeginUpdate();
    Grid_HR_RMS_RecruitmentHiring.PageIndex = PageIndex;
    Grid_HR_RMS_RecruitmentHiring.EndUpdate();
    Grid_HR_RMS_RecruitmentHiring.SetFocusedRowIndex(__VisibleIndex);

    isSending = false;
    }

    public async Task SetPageIndex(int Index)
    {
        PageIndex = Index;
        Grid_HR_RMS_RecruitmentHiring.BeginUpdate();
    Grid_HR_RMS_RecruitmentHiring.PageIndex = Index;
    Grid_HR_RMS_RecruitmentHiring.EndUpdate();
    }
    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostDataDelete(Entity.HR_RMS_RecruitmentHiring _entity)
    {
        string Data = await Utility.JSON.ToJson(_entity);

        var TablePost = new Table();
        TablePost.Name = "HR_RMS_RecruitmentHiring";
        TablePost.Column = new List<Coulmn>
                    {
                    new Coulmn {Name=_entity._GetIdName  , NameAs= _entity._GetIdName},
                    new Coulmn {Name ="IsDelete",NameAs="IsDelete" }

                    };
        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, null, _User.UserID.ToString());
        if (Model?.Status == HttpStatusCode.OK)
        {
            IsOk = true;
        }

        return IsOk;
    }
}
