@inherits Forms.Components.TimeBase 
@namespace TimePage
 

<div id="@Id" class="@(_Visible?"":"d-none") @CssClass">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label id=@(Id + "Label") for=@(Id + "Input")>
            @Label
            @if (Required.HasValue && Required == true)
            {
                <span id=@(Id + "SpanLabel") class="text-danger">*</span>
            }
            @if (!string.IsNullOrEmpty(ToolTip))
            {
                <i id=@(Id + "ToolTipLabel") class="bi bi-question-circle text-muted" data-bs-toggle="tooltip" data-bs-title="@ToolTip" title="@ToolTip"></i>
            }
        </label>
    }

    <input id=@(Id + "Input")   type="@type" placeholder="@placeholder" class="@InputClass " required="@Required"
           value="@_Value"
           onchange="@ChangeValue"
           @oninput="@oninput" @oncut="@oncut" @oncopy="@oncopy" @onpaste="@onpaste"
           @onselect="@onselect" @onfocus="@onfocus"
           @onkeydown="@onkeydown" @onkeyup="@onkeyup"
           @onclick="@onclick" @attributes="@_Attributes"
           oninvalid="setCustomValidity('پر کردن این فیلد الزامی است')"
           onkeypress="try{setCustomValidity('')}catch(e){}" />

</div>


@code {

}