@using Microsoft.AspNetCore.Components.Forms
@using Newtonsoft.Json
@using Microsoft.JSInterop
@typeparam TItem
@namespace FileUploadPage




<div id=@(Id) class="card mb-2 @(_Visible?"":"d-none") UploadFileBox @CssClass">
    <div id=@(Id + "Caption") class="card-header mt-0">@Caption</div>
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div  id=@(Id + "ErrorMessage") class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }

    <div class="card-body"  id=@(Id + "CardBodyInputFile")>
        <div id=@(Id + "DivInputFile") class="dropzone text-center @dropClass ">
            <label id=@(Id + "labelInputFile") >
                <span class="fal fa-2x fa-upload"></span>
                <span id=@(Id + "SpanlabelInputFile")>بارگذاری فایل</span>

            </label>
            <InputFile id=@(Id + "InputFile") OnChange="AddFilesToQueue"
                       @attributes="@_Attributes"
                       @ondragenter="HandleDragEnter"
                       @ondragleave="HandleDragLeave"
                       class="@InputClass"
                       disabled="@isUploading"
                       style="position: absolute;top: 0;left: 0;right: 0;opacity: 0;height:130px;cursor: pointer;"
                       accept="@Accept"
                       multiple />
        </div>
    </div>

    @if (filesQueue.Count > 0)
    {
        <div class="card-body table-responsive" id=@(Id + "CardBodyFilesQueue")>
            <table class="table table-sm" id=@(Id + "TableFilesQueue")>
                <thead id=@(Id + "TheadTableFilesQueue")>
                    <tr id=@(Id + "TrTheadTableFilesQueue")>
                        <th id=@(Id + "Th1TrTheadTableFilesQueue") style="width:70px;"></th>
                        <th id=@(Id + "Th2TrTheadTableFilesQueue")></th>
                        <th id=@(Id + "Th3TrTheadTableFilesQueue") class="text-center" style="width:50px">%</th>
                        <th id=@(Id + "Th4TrTheadTableFilesQueue") style="width:155px;"></th>
                        <th id=@(Id + "Th5TrTheadTableFilesQueue")>FileName</th>
                         <th id=@(Id + "Th6TrTheadTableFilesQueue")>URL</th>
                        <th id=@(Id + "Th7TrTheadTableFilesQueue") class="text-end" style="width:80px;">Size (KB)</th>
                    </tr>
                </thead>
                <tbody id=@(Id + "TbodyTableFilesQueue")>

                    @foreach (var file in filesQueue.OrderByDescending(x => x.FileId))
                    {
                        var size = Math.Round((file.Size / 1024.00));
                        var percentage = Math.Round(file.UploadedPercentage);
                        <tr id=@(Id + "TrTbodyTableFilesQueue")>
                            <td class="text-center">
                                @if (file.HasBeenUploaded)
                                {
                                    <span class="oi oi-circle-check text-success"></span>
                                }
                                else
                                {
                                    <span class="oi oi-circle-check text-icon-light"></span>
                                }
                            </td>
                            <td class="text-end">
                                <a href="@file.url" class="btn btn-sm btn-blue-light" disabled="@Disabled" title="download"><span class="fa fa-download btnicon"></span></a>
                                <button type="button" class="btn btn-sm btn-red-light" disabled="@Disabled" @onclick="(() => RemoveFromQueue(file.FileId,file.url))" title="delete"><span class="fa fa-times-circle btnicon"></span></button>
                            </td>
                            <td class="text-end">@($"{percentage}%")</td>
                            <td><progress value="@file.UploadedBytes" max="@file.Size" class="fileProgress"></progress></td>
                            <td>@file.FileName</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-yellow-light" disabled="@Disabled" @onclick="(() => CopyUrl(file.url))" title="Copy Url"><span class="fa fa-link btnicon"></span></button>
                            </td>
                            <td class="text-end">@string.Format("{0:#,0.##}", @size)</td>
                        </tr>

                    }
                </tbody>
            </table>
            @*<div class="btn-group w-100" role="group" aria-label="Basic mixed styles example">
                 <button type="button" disabled="@isUploading" class="btn btn-sm btn-success" @onclick="UploadFileQueue">Upload file queue</button> 
                 <button type="button" disabled="@isUploading" class="btn btn-sm btn-info" @onclick="ClearFileQueue">Clear file queue</button> 
            </div>*@

        </div>
    }
</div>
@code {
    [Parameter] public string? Id { get; set; }   
    #region variable
    public bool isUploading = false;
    public string ErrorMessage = string.Empty;
    public string dropClass = string.Empty;
    public int maxAllowedFiles = 3;
    public List<FileUploadProgress> filesQueue { get; set; } = new List<FileUploadProgress>();
    #endregion
[Inject] protected IJSRuntime JSRuntime { get; set; } = default!;
    #region Param
    [Parameter]
    public ICollection<TItem> Data { get; set; }
    [Parameter]
    public string? Url { get; set; }
    [Parameter]
    public string? Caption { get; set; }
    [Parameter]
    public string? MaxSize { get; set; }
    [Parameter]
    public string? MinSize { get; set; }
    [Parameter]
    public string? Accept { get; set; }
    [Parameter] public bool Visible { get; set; } = true;
    public bool _Visible { get; set; }
    [Parameter]
    public bool Disabled { get; set; } = false;
    private bool _Disabled { get; set; }

    [Parameter] public Dictionary<string, object>? Attributes { get; set; } = new Dictionary<string, object>();
    public Dictionary<string, object>? _Attributes { get; set; } = new Dictionary<string, object>();

    [Parameter] public string? CssClass { get; set; }
    private string? InputClass { get; set; }
    public EventCallback<string?> ClassChanged { get; set; }
    #endregion 


    async override protected Task OnInitializedAsync()
    {
        //دریافت لیست اولیه
        await GetFromData();

        //set attributes
        if (Attributes.Keys.Count > 0)
        {
            foreach (var item in Attributes)
            {
                _Attributes.Add(item.Key, item.Value);
            }
        }

        isUploading = Disabled;
        _Visible = Visible;

    }


    public class _File
    {
        /// <summary>
        /// Gets the name of the file as specified by the browser.
        /// </summary>
        public string Name { get; set; }

        /// <summary>
        /// Gets the last modified date as specified by the browser.
        /// </summary>
        public string LastModified { get; set; }

        /// <summary>
        /// Gets the size of the file in bytes as specified by the browser.
        /// </summary>
        public long Size { get; set; }

        /// <summary>
        /// Gets the MIME type of the file as specified by the browser.
        /// </summary>
        public string ContentType { get; set; }

    }


    /// <summary>
    /// افزودن فایل داخل صف
    /// </summary>
    /// <param name="e"></param>
    public async void AddFilesToQueue(InputFileChangeEventArgs e)
    {

        dropClass = string.Empty;
        ErrorMessage = string.Empty;
        long _MinSize = 0;
        long _MaxSize = 1000000000;
        ///اضافه کردن اندازه فایل در صورت وجود
        if (!string.IsNullOrEmpty(MinSize))
        {
            _MinSize = ConvertToBytes(MinSize);
        }
        if (!string.IsNullOrEmpty(MaxSize))
        {
            _MaxSize = ConvertToBytes(MaxSize);
        }

        var files = e.GetMultipleFiles(maxAllowedFiles);

        var fileCount = filesQueue.Count;

        foreach (var file in files)
        {

            var _file = await Utility.JSON.ToObject<_File>(await Utility.JSON.ToJson(file));

            if ((file.Size < _MinSize) || (file.Size > _MaxSize))
            {
                 
                ErrorMessage = $"حداکثر فایل {MaxSize} و حداقل  {MinSize} باید باشد.";
                return;
            }


            var progress = new FileUploadProgress(file, _file.Name, file.Size, fileCount, "");
            filesQueue.Add(progress);
            fileCount++;
        }

        await UploadFileQueue();

    } //PlaceFilesInQue


    public async Task UploadFileQueue()
    {
        isUploading = true;
        await InvokeAsync(StateHasChanged);

        foreach (var file in filesQueue.OrderByDescending(x => x.FileId))
        {
            if (!file.HasBeenUploaded)
            {
                await UploadChunks(file);
                file.HasBeenUploaded = true;
            }
        }

        isUploading = false;
        await InvokeAsync(StateHasChanged);
    } //UploadFileQueue


    #region Classes
    public async Task AddToData(string name, string url, string size)
    {
        string Json = "{\"name\":\"" + name + "\" , \"url\":\"" + url + "\" ,\"size\":\"" + size + "\" ,\"IsDelete\": false  }";
        object instance = Activator.CreateInstance<TItem>();
        //مقادیر جیسان رو میریزه داخل اینستنس
        Newtonsoft.Json.JsonConvert.PopulateObject(Json, instance);
        Data.Add((TItem)instance);
    } //افزودن اطلاعات به دیتا

    public async Task RemoveFromData(string _name, string url, string size)
    {
        if ((Data != null) || (!Data.Any()))
        {
            var properties = typeof(TItem).GetProperties();
            foreach (var item in Data)
            {
                bool IsDelete = false;

                foreach (var property in properties)
                {
                    var name = property.Name;

                    switch (name)
                    {
                        case "url":
                            var value = property.GetValue(item, null);
                            if (value.ToString() == url.ToString())
                            {
                                IsDelete = true;
                            }

                            break;
                    }
                }

                if (IsDelete)
                {
                    var Finded = properties.FirstOrDefault(x => x.Name == "IsDelete");

                    Finded.SetValue(item, true);

                    // item.IsDeleted = true;

                    break;
                }
            }
        }
        await InvokeAsync(StateHasChanged);
    } //افزودن اطلاعات به دیتا
    protected override void OnParametersSet()
    {
        Disabled = isUploading;
    }
    public async Task GetFromData()
    {
        string Name = "";
        string Url_ = "";
        int Size = 0;
        bool _IsDelete = false;
        if ((Data != null) || (!Data.Any()))
        {
            var properties = typeof(TItem).GetProperties();
            foreach (var item in Data)
            {
                foreach (var property in properties)
                {
                    var name = property.Name;
                    var value = property.GetValue(item, null);
                    switch (name)
                    {
                        case "name":
                            Name = value.ToString();
                            break;
                        case "size":
                            Size = Convert.ToInt16(value) * 1024;
                            break;
                        case "url":
                            Url_ = value.ToString();
                            break;
                        case "IsDelete":
                            _IsDelete = (bool)value;

                            break;
                    }

                }
                if (!string.IsNullOrEmpty(Name) && !_IsDelete)
                {
                    var progress = new FileUploadProgress(null, Name, Size, 1, Url_);
                    progress.UploadedBytes = Size;
                    progress.HasBeenUploaded = true;
                    filesQueue.Add(progress);
                }

            }

        }
    }//دسترسی به اطلاعات جدول
    public class FileDetails
    {
        public string? url { get; set; }
        public string? name { get; set; }
        public string? size { get; set; }
    }
    public long ConvertToBytes(string size_)
    {
        string unit = Right(size_, 2);
        string size = Left(size_, size_.Length - 2);
        switch (unit.ToLower())
        {
            case "mb":
                return long.Parse(size) * 1024 * 1024;
            case "kb":
                return long.Parse(size) * 1024;
            case "gb":
                return long.Parse(size) * 1024 * 1024 * 1024;
            default:
                throw new ArgumentException("Invalid unit provided.");
        }
    }
    public string Right(string str, int length)
    {
        return str.Substring(str.Length - length, length);
    }
    public string Left(string str, int length)
    {
        str = (str ?? string.Empty);
        return str.Substring(0, Math.Min(length, str.Length));
    }
    #endregion

    HttpClient client = new();

    private async Task UploadChunks(FileUploadProgress file)
    {
        try
        {
            MultipartFormDataContent formData = new MultipartFormDataContent();
            var fileContent = new StreamContent(file.FileData.OpenReadStream(maxAllowedFiles = 32000000));

            formData.Add(fileContent, "file", file.FileName);

            var response = await client.PostAsync(Url, formData);
            var responseContent = await response.Content.ReadAsStringAsync();
            FileDetails fileDetails = JsonConvert.DeserializeObject<FileDetails>(responseContent);
            if (response.IsSuccessStatusCode)
            {
                filesQueue[file.FileId].UploadedBytes = file.Size;
                filesQueue[file.FileId].url = fileDetails.url;
                await AddToData(fileDetails.name, fileDetails.url, fileDetails.size);
                // فایل با موفقیت آپلود شد
            }
            else
            {
                filesQueue[file.FileId].UploadedBytes = 0;
                // خطا در آپلود فایل
            }
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {

            ErrorMessage = "خطا در بارگذاری" + "\n" + e.Message;
        }

    } //UploadChunks


    public async void RemoveFromQueue(int fileId, string? url)
    {
        if (!string.IsNullOrEmpty(url))
        {
            var itemToRemove = filesQueue.SingleOrDefault(x => x.url == url);
            if (itemToRemove != null)
            {
                RemoveFromData(itemToRemove.FileName, itemToRemove.url, itemToRemove.Size.ToString());
                filesQueue.Remove(itemToRemove);

            }
        }
        else
        {
            var itemToRemove = filesQueue.SingleOrDefault(x => x.FileId == fileId);
            if (itemToRemove != null)
            {
                filesQueue.Remove(itemToRemove);
            }
        }
        await InvokeAsync(StateHasChanged);

    } //RemoveFromQueue


    public void ClearFileQueue()
    {
        filesQueue.Clear();
    } //ClearFileQueue


    public record FileUploadProgress(IBrowserFile File, string FileName, long Size, int FileId, string? url)
    {
        public IBrowserFile FileData { get; set; } = File;
        public int FileId { get; set; } = FileId;
        public long UploadedBytes { get; set; }
        public double UploadedPercentage => (double)UploadedBytes / (double)Size * 100d;
        public bool HasBeenUploaded { get; set; } = false;
        public string url { get; set; } = url;
    } //FileUploadProgress


    public void HandleDragEnter()
    {
        dropClass = "dropzone-active";
    } //HandleDragEnter
    public void HandleDragLeave()
    {
        dropClass = string.Empty;
    } //HandleDragLeave
    public class FileChunkDto
    {
        public string FileName { get; set; } = "";
        public long Offset { get; set; }
        public byte[]? Data { get; set; }
        public bool FirstChunk = false;
    }
    public interface IFilesManager
    {
        Task<bool> UploadFileChunk(FileChunkDto fileChunkDto);
        Task<List<string>> GetFileNames();
    }
    #region Class
    public bool AddAttribute(string? Key, string? Value)
    {
        try
        {
            var Attr = _Attributes.FirstOrDefault(p => p.Key == Key);
            if (Attr.Key is null)
            {
                _Attributes.Add(Key, (!string.IsNullOrEmpty(Value)) ? (object)Value : null);
            }
            else
            {
                RemoveAttribute(Attr.Key);
                _Attributes.Add(Key, (!string.IsNullOrEmpty(Value)) ? (object)Value : null);
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In AddAttribute " + ex.Message);
            return false;
        }
        return true;
    }

    public bool RemoveAttribute(string? Key)
    {
        try
        {
            var Attr = _Attributes.Where(p => p.Key == Key);
            if (Attr.Count() > 0)
            {
                foreach (var item in Attr)
                {
                    if (item.Key is not null)
                    {
                        _Attributes.Remove(_Attributes.FirstOrDefault(p => p.Key == Key).Key);
                    }
                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In RemoveAttribute " + ex.Message);
            return false;
        }
        return true;
    }

    public bool ToggleAttribute(string? Key, string? Value)
    {
        var Attr = _Attributes.FirstOrDefault(p => p.Key == Key);
        try
        {
            if (Attr.Key is null)
            {
                _Attributes.Add(Key, (!string.IsNullOrEmpty(Value)) ? (object)Value : null);
            }
            else
            {
                _Attributes.Remove(_Attributes.FirstOrDefault(p => p.Key == Key).Key);
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In ToggleAttribute " + ex.Message);
            return false;
        }
        return true;
    }

    public bool AddClassInput(string _NewClass)
    {
        try
        {
            if (!string.IsNullOrEmpty(_NewClass))
            {
                InputClass += " " + _NewClass;
                ClassChanged.InvokeAsync(InputClass);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In AddClassInput " + ex.Message);
            return false;
        }
        return true;


    }

    public bool RemoveClassInput(string _Class)
    {
        try
        {
            if (!string.IsNullOrEmpty(InputClass))
            {
                InputClass = InputClass.Replace(" " + _Class, string.Empty);
                ClassChanged.InvokeAsync(InputClass);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In RemoveClassInput " + ex.Message);
            return false;
        }

        return true;
    }

    public bool ToggleClassInput(string _Class)
    {
        try
        {
            if ((!string.IsNullOrEmpty(InputClass)) && InputClass.Contains(_Class))
            {
                RemoveClassInput(_Class);
            }
            else
            {
                AddClassInput(_Class);
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In ToggleClassInput " + ex.Message);
            return false;
        }
        return true;
    }

    public bool AddClass(string _NewClass)
    {
        try
        {
            CssClass += " " + _NewClass;
            ClassChanged.InvokeAsync(CssClass);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In AddClass " + ex.Message);
            return false;
        }
        return true;
    }

    public bool RemoveClass(string _Class)
    {
        try
        {
            if (!string.IsNullOrEmpty(CssClass))
            {
                CssClass = CssClass.Replace(" " + _Class, string.Empty);
                ClassChanged.InvokeAsync(CssClass);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In RemoveClass " + ex.Message);
            return false;
        }
        return true;
    }
    public bool ToggleClass(string _Class)
    {
        try
        {
            if ((!string.IsNullOrEmpty(CssClass)) && CssClass.Contains(_Class))
            {
                RemoveClass(_Class);
            }
            else
            {
                AddClass(_Class);
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In ToggleClass " + ex.Message);
            return false;
        }
        return true;
    }
    /// <summary>
    /// تغییر فعال یا غیر فعال بودن کامپوننت
    /// </summary>
    /// <param name="val"></param>
    public void SetDisabled(bool val)
    {
        isUploading = val;
       
    }
    /// <summary>
    /// نمایش یا عدم نمایش کامپوننت
    /// </summary>
    /// <param name="val"></param>
    public void SetVisible(bool val)
    {
        _Visible = val; 
        //در صورتی که فیلد نمایش داده نشود کامپوننت آن غیر فعال میشود تا اگر اجباری بود در نظر گرفته نشود
        isUploading = !val; 
    }

     public async Task CopyUrl(string Url)
 {
     await JSRuntime.InvokeVoidAsync("copyTextToClipboard", Url);
 }
    #endregion
}