@inherits Forms.Forms.Form_786_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    .EMP_bg {
    border: 1px dashed rgb(255, 208, 139);
    background: rgba(255, 193, 7, 0.04);
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 16px;
    border-radius: var(--bs-border-radius) !important;
    margin-top: 0.20rem !important;
}
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="row ">
    
<div class="col-md-12">
    <div  class="">
    <div class="card border-0 shadow-sm rounded-3 mb-4">
    <div class="card-header bg-gradient bg-light yellow text-dark fw-bold fs-5 rounded-top-3">
        <i class="bi bi-info-circle me-2"></i> اعلام اخذ پرسشنامه استخدامی
    </div>
</div>
</div>

</div>

<div class="col-md-12">
    
<div class="row EMP_bg">
    
<div class="col-md-3">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_RMS_HiringtQuestionnaireAnnouncemenHR_RMS_RecruitmentRequestsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"اعلام اخذ پرسشنامه استخدامی\",\"primaryKey\":false,\"EntityID\":412,\"FieldId\":16056,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":786,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_RMS_RecruitmentRequests\",\"RelationParentModel\":\"HR_RMS_RecruitmentRequests\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_RMS_RecruitmentRequests/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شماره درخواست جذب نیرو انسانی\",\"tableView\":true,\"key\":\"HR_RMS_RecruitmentRequestsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"16056?EId=412&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_RMS_RecruitmentRequestsId  @ref="Ref_HR_RMS_RecruitmentRequestsId" Label="شماره درخواست جذب نیرو انسانی" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_RMS_RecruitmentRequestsId" FieldName="HR_RMS_RecruitmentRequestsId" OnItemSelected="ItemSelected_HR_RMS_HiringtQuestionnaireAnnouncemenHR_RMS_RecruitmentRequestsId" Component="Component_HR_RMS_HiringtQuestionnaireAnnouncemenHR_RMS_RecruitmentRequestsId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_HiringtQuestionnaireAnnouncemenHR_RMS_RecruitmentRequestsId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 Item.HR_RMS_RecruitmentRequestsId = Selected.Id;
 Item.HR_RMS_RecruitmentRequests = await Utility.JSON.ToObject<Entity.HR_RMS_RecruitmentRequests>(await Utility.JSON.ToJson(_Item));

    

    
    }
} 

<Input Id="FromDate" @ref="Ref_FromDate" Label="از تاریخ"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.FromDate" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="TimeRegisterannouncement" @ref="Ref_TimeRegisterannouncement" Label="زمان ثبت اعلام"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.TimeRegisterannouncement" type="textfield"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \"}").Result))></Input>

<Input Id="ToDate" @ref="Ref_ToDate" Label="تا تاریخ"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.ToDate" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

</div>

<div class="col-md-3">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_RMS_HiringtQuestionnaireAnnouncemenHR_StatusHiringtQuestionnaireAnnouncemenId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"اعلام اخذ پرسشنامه استخدامی\",\"primaryKey\":false,\"EntityID\":412,\"FieldId\":16079,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":786,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_StatusHiringtQuestionnaireAnnouncemen\",\"RelationParentModel\":\"HR_StatusHiringtQuestionnaireAnnouncemen\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_StatusHiringtQuestionnaireAnnouncemen/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"وضعیت\",\"tableView\":true,\"key\":\"HR_StatusHiringtQuestionnaireAnnouncemenId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"16079?EId=412&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_StatusHiringtQuestionnaireAnnouncemenId  @ref="Ref_HR_StatusHiringtQuestionnaireAnnouncemenId" Label="وضعیت" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_StatusHiringtQuestionnaireAnnouncemenId" FieldName="HR_StatusHiringtQuestionnaireAnnouncemenId" OnItemSelected="ItemSelected_HR_RMS_HiringtQuestionnaireAnnouncemenHR_StatusHiringtQuestionnaireAnnouncemenId" Component="Component_HR_RMS_HiringtQuestionnaireAnnouncemenHR_StatusHiringtQuestionnaireAnnouncemenId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_HiringtQuestionnaireAnnouncemenHR_StatusHiringtQuestionnaireAnnouncemenId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 Item.HR_StatusHiringtQuestionnaireAnnouncemenId = Selected.Id;
 Item.HR_StatusHiringtQuestionnaireAnnouncemen = await Utility.JSON.ToObject<Entity.HR_StatusHiringtQuestionnaireAnnouncemen>(await Utility.JSON.ToJson(_Item));

    

    
    }
} 

<Input Id="ReasonQuestionnaire" @ref="Ref_ReasonQuestionnaire" Label="علت اخذ پرسشنامه"     @bind-Value="_Entity.ReasonQuestionnaire" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"500\"}").Result))></Input>

</div>

<div class="col-md-3">
    
</div>

</div>

</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<div class="row ">
    
<div class="col-md-3">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_RMS_HiringtQuestionnaireAnnouncemenRegisterUserId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"اعلام اخذ پرسشنامه استخدامی\",\"primaryKey\":false,\"EntityID\":412,\"FieldId\":18595,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":786,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"RegisterUser\",\"RelationParentModel\":\"AspNetUsers\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/AspNetUsers/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.FAMILY}} {{item.NAME}} {{item.EMP_NO}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"تنظیم کننده\",\"tableView\":true,\"key\":\"RegisterUserId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18595?EId=412&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=RegisterUserId  @ref="Ref_RegisterUserId" Label="تنظیم کننده" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false Text="" Value="@_Entity.RegisterUserId" FieldName="RegisterUserId" OnItemSelected="ItemSelected_HR_RMS_HiringtQuestionnaireAnnouncemenRegisterUserId" Component="Component_HR_RMS_HiringtQuestionnaireAnnouncemenRegisterUserId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_HiringtQuestionnaireAnnouncemenRegisterUserId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 Item.RegisterUserId = Selected.Id;
 Item.RegisterUser = await Utility.JSON.ToObject<Entity.AspNetUsers>(await Utility.JSON.ToJson(_Item));

    

    
    }
} 

</div>

<div class="col-md-3">
    
<Input Id="ConfirmationTime" @ref="Ref_ConfirmationTime" Label="زمان تائید"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.ConfirmationTime" type="textfield"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \"}").Result))></Input>

</div>

<div class="col-md-3">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_RMS_HiringtQuestionnaireAnnouncemenApproverUserId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"اعلام اخذ پرسشنامه استخدامی\",\"primaryKey\":false,\"EntityID\":412,\"FieldId\":18596,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":786,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"ApproverUser\",\"RelationParentModel\":\"AspNetUsers\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/AspNetUsers/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.FAMILY}} {{item.NAME}} {{item.EMP_NO}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"تائیدکننده\",\"tableView\":true,\"key\":\"ApproverUserId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18596?EId=412&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=ApproverUserId  @ref="Ref_ApproverUserId" Label="تائیدکننده" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false Text="" Value="@_Entity.ApproverUserId" FieldName="ApproverUserId" OnItemSelected="ItemSelected_HR_RMS_HiringtQuestionnaireAnnouncemenApproverUserId" Component="Component_HR_RMS_HiringtQuestionnaireAnnouncemenApproverUserId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_RMS_HiringtQuestionnaireAnnouncemenApproverUserId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 Item.ApproverUserId = Selected.Id;
 Item.ApproverUser = await Utility.JSON.ToObject<Entity.AspNetUsers>(await Utility.JSON.ToJson(_Item));

    

    
    }
} 

</div>

<div class="col-md-3">
    
</div>

</div>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_RMS_HiringtQuestionnaireAnnouncemen\",\"GetNameAs\":\"HR_RMS_HiringtQuestionnaireAnnouncemen\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"HR_RMS_RecruitmentRequestsId\",\"GetNameAs\":\"HR_RMS_RecruitmentRequestsId\"},{\"Name\":\"TimeRegisterannouncement\",\"GetNameAs\":\"TimeRegisterannouncement\"},{\"Name\":\"FromDate\",\"GetNameAs\":\"FromDate\"},{\"Name\":\"ToDate\",\"GetNameAs\":\"ToDate\"},{\"Name\":\"ReasonQuestionnaire\",\"GetNameAs\":\"ReasonQuestionnaire\"},{\"Name\":\"HR_StatusHiringtQuestionnaireAnnouncemenId\",\"GetNameAs\":\"HR_StatusHiringtQuestionnaireAnnouncemenId\"},{\"Name\":\"ConfirmationTime\",\"GetNameAs\":\"ConfirmationTime\"},{\"Name\":\"RegisterUserId\",\"GetNameAs\":\"RegisterUserId\"},{\"Name\":\"ApproverUserId\",\"GetNameAs\":\"ApproverUserId\"}],\"Relation\":[{\"Name\":\"HR_StatusHiringtQuestionnaireAnnouncemen\",\"GetNameAs\":\"HR_StatusHiringtQuestionnaireAnnouncemen\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"HR_RMS_RecruitmentRequests\",\"GetNameAs\":\"HR_RMS_RecruitmentRequests\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"HR_Base_FieldOfStudyId\",\"GetNameAs\":\"HR_Base_FieldOfStudyId\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"HR_ReasonRequestRecruitmentId\",\"GetNameAs\":\"HR_ReasonRequestRecruitmentId\"},{\"Name\":\"HR_ApplicationStatusRecruitmentId\",\"GetNameAs\":\"HR_ApplicationStatusRecruitmentId\"},{\"Name\":\"HR_ORG_SectionsId\",\"GetNameAs\":\"HR_ORG_SectionsId\"},{\"Name\":\"HR_ORG_PostsId\",\"GetNameAs\":\"HR_ORG_PostsId\"},{\"Name\":\"RequiredDocuments\",\"GetNameAs\":\"RequiredDocuments\"},{\"Name\":\"Skills\",\"GetNameAs\":\"Skills\"},{\"Name\":\"FromAge\",\"GetNameAs\":\"FromAge\"},{\"Name\":\"ToAge\",\"GetNameAs\":\"ToAge\"},{\"Name\":\"MinimumRequirement\",\"GetNameAs\":\"MinimumRequirement\"},{\"Name\":\"HR_Base_GenderId\",\"GetNameAs\":\"HR_Base_GenderId\"},{\"Name\":\"RequiredNumber\",\"GetNameAs\":\"RequiredNumber\"},{\"Name\":\"DescriptionRequest\",\"GetNameAs\":\"DescriptionRequest\"},{\"Name\":\"DescriptionUnitManager\",\"GetNameAs\":\"DescriptionUnitManager\"},{\"Name\":\"RegisterTimeUserManger\",\"GetNameAs\":\"RegisterTimeUserManger\"},{\"Name\":\"DescriptionSectionHumanResourcesManager\",\"GetNameAs\":\"DescriptionSectionHumanResourcesManager\"},{\"Name\":\"RegisterTimeHumanResourcesManager\",\"GetNameAs\":\"RegisterTimeHumanResourcesManager\"},{\"Name\":\"DescriptionFactoryManager\",\"GetNameAs\":\"DescriptionFactoryManager\"},{\"Name\":\"RegisterTimeFactoryManager\",\"GetNameAs\":\"RegisterTimeFactoryManager\"},{\"Name\":\"DescriptionFinalApprover\",\"GetNameAs\":\"DescriptionFinalApprover\"},{\"Name\":\"RegisterTimeFinalApprover\",\"GetNameAs\":\"RegisterTimeFinalApprover\"},{\"Name\":\"RequestUserId\",\"GetNameAs\":\"RequestUserId\"},{\"Name\":\"UnitManagerUserId\",\"GetNameAs\":\"UnitManagerUserId\"},{\"Name\":\"HumanResourcesManagerUserId\",\"GetNameAs\":\"HumanResourcesManagerUserId\"},{\"Name\":\"FactoryManagerUserId\",\"GetNameAs\":\"FactoryManagerUserId\"},{\"Name\":\"FinalApproverUserId\",\"GetNameAs\":\"FinalApproverUserId\"},{\"Name\":\"RegisterTimeRequestUserId\",\"GetNameAs\":\"RegisterTimeRequestUserId\"}],\"Relation\":[]},{\"Name\":\"ApproverUser\",\"GetNameAs\":\"ApproverUser\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"AccessFailedCount\",\"GetNameAs\":\"AccessFailedCount\"},{\"Name\":\"ConcurrencyStamp\",\"GetNameAs\":\"ConcurrencyStamp\"},{\"Name\":\"Discriminator\",\"GetNameAs\":\"Discriminator\"},{\"Name\":\"Email\",\"GetNameAs\":\"Email\"},{\"Name\":\"EmailConfirmed\",\"GetNameAs\":\"EmailConfirmed\"},{\"Name\":\"LockoutEnabled\",\"GetNameAs\":\"LockoutEnabled\"},{\"Name\":\"LockoutEnd\",\"GetNameAs\":\"LockoutEnd\"},{\"Name\":\"NormalizedEmail\",\"GetNameAs\":\"NormalizedEmail\"},{\"Name\":\"NormalizedUserName\",\"GetNameAs\":\"NormalizedUserName\"},{\"Name\":\"PasswordHash\",\"GetNameAs\":\"PasswordHash\"},{\"Name\":\"PhoneNumber\",\"GetNameAs\":\"PhoneNumber\"},{\"Name\":\"PhoneNumberConfirmed\",\"GetNameAs\":\"PhoneNumberConfirmed\"},{\"Name\":\"SecurityStamp\",\"GetNameAs\":\"SecurityStamp\"},{\"Name\":\"TwoFactorEnabled\",\"GetNameAs\":\"TwoFactorEnabled\"},{\"Name\":\"UserName\",\"GetNameAs\":\"UserName\"},{\"Name\":\"Address\",\"GetNameAs\":\"Address\"},{\"Name\":\"BirthDate\",\"GetNameAs\":\"BirthDate\"},{\"Name\":\"BirthDateString\",\"GetNameAs\":\"BirthDateString\"},{\"Name\":\"BirthPlace\",\"GetNameAs\":\"BirthPlace\"},{\"Name\":\"CodeMelli\",\"GetNameAs\":\"CodeMelli\"},{\"Name\":\"CompanyEmploymentDate\",\"GetNameAs\":\"CompanyEmploymentDate\"},{\"Name\":\"CompanyEmploymentDateString\",\"GetNameAs\":\"CompanyEmploymentDateString\"},{\"Name\":\"CompanyID\",\"GetNameAs\":\"CompanyID\"},{\"Name\":\"EMP_NO\",\"GetNameAs\":\"EMP_NO\"},{\"Name\":\"EmploymentStatus\",\"GetNameAs\":\"EmploymentStatus\"},{\"Name\":\"FAMILY\",\"GetNameAs\":\"FAMILY\"},{\"Name\":\"FatherName\",\"GetNameAs\":\"FatherName\"},{\"Name\":\"IndustrialComplexEmploymentDate\",\"GetNameAs\":\"IndustrialComplexEmploymentDate\"},{\"Name\":\"IndustrialComplexEmploymentDateString\",\"GetNameAs\":\"IndustrialComplexEmploymentDateString\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"IsCut\",\"GetNameAs\":\"IsCut\"},{\"Name\":\"JobTitle\",\"GetNameAs\":\"JobTitle\"},{\"Name\":\"LastEducationalCertificate\",\"GetNameAs\":\"LastEducationalCertificate\"},{\"Name\":\"MaritalStatus\",\"GetNameAs\":\"MaritalStatus\"},{\"Name\":\"NAME\",\"GetNameAs\":\"NAME\"},{\"Name\":\"OrganizationalUnit\",\"GetNameAs\":\"OrganizationalUnit\"},{\"Name\":\"OstanID\",\"GetNameAs\":\"OstanID\"},{\"Name\":\"PERS_NO\",\"GetNameAs\":\"PERS_NO\"},{\"Name\":\"Part\",\"GetNameAs\":\"Part\"},{\"Name\":\"PlaceofIssue\",\"GetNameAs\":\"PlaceofIssue\"},{\"Name\":\"PostTitle\",\"GetNameAs\":\"PostTitle\"},{\"Name\":\"ResetPassword\",\"GetNameAs\":\"ResetPassword\"},{\"Name\":\"SEX\",\"GetNameAs\":\"SEX\"},{\"Name\":\"SYSUserName\",\"GetNameAs\":\"SYSUserName\"},{\"Name\":\"SectionID\",\"GetNameAs\":\"SectionID\"},{\"Name\":\"ShomareShenasname\",\"GetNameAs\":\"ShomareShenasname\"},{\"Name\":\"Signature\",\"GetNameAs\":\"Signature\"},{\"Name\":\"StudyField\",\"GetNameAs\":\"StudyField\"},{\"Name\":\"UserImage\",\"GetNameAs\":\"UserImage\"}],\"Relation\":[]},{\"Name\":\"RegisterUser\",\"GetNameAs\":\"RegisterUser\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"AccessFailedCount\",\"GetNameAs\":\"AccessFailedCount\"},{\"Name\":\"ConcurrencyStamp\",\"GetNameAs\":\"ConcurrencyStamp\"},{\"Name\":\"Discriminator\",\"GetNameAs\":\"Discriminator\"},{\"Name\":\"Email\",\"GetNameAs\":\"Email\"},{\"Name\":\"EmailConfirmed\",\"GetNameAs\":\"EmailConfirmed\"},{\"Name\":\"LockoutEnabled\",\"GetNameAs\":\"LockoutEnabled\"},{\"Name\":\"LockoutEnd\",\"GetNameAs\":\"LockoutEnd\"},{\"Name\":\"NormalizedEmail\",\"GetNameAs\":\"NormalizedEmail\"},{\"Name\":\"NormalizedUserName\",\"GetNameAs\":\"NormalizedUserName\"},{\"Name\":\"PasswordHash\",\"GetNameAs\":\"PasswordHash\"},{\"Name\":\"PhoneNumber\",\"GetNameAs\":\"PhoneNumber\"},{\"Name\":\"PhoneNumberConfirmed\",\"GetNameAs\":\"PhoneNumberConfirmed\"},{\"Name\":\"SecurityStamp\",\"GetNameAs\":\"SecurityStamp\"},{\"Name\":\"TwoFactorEnabled\",\"GetNameAs\":\"TwoFactorEnabled\"},{\"Name\":\"UserName\",\"GetNameAs\":\"UserName\"},{\"Name\":\"Address\",\"GetNameAs\":\"Address\"},{\"Name\":\"BirthDate\",\"GetNameAs\":\"BirthDate\"},{\"Name\":\"BirthDateString\",\"GetNameAs\":\"BirthDateString\"},{\"Name\":\"BirthPlace\",\"GetNameAs\":\"BirthPlace\"},{\"Name\":\"CodeMelli\",\"GetNameAs\":\"CodeMelli\"},{\"Name\":\"CompanyEmploymentDate\",\"GetNameAs\":\"CompanyEmploymentDate\"},{\"Name\":\"CompanyEmploymentDateString\",\"GetNameAs\":\"CompanyEmploymentDateString\"},{\"Name\":\"CompanyID\",\"GetNameAs\":\"CompanyID\"},{\"Name\":\"EMP_NO\",\"GetNameAs\":\"EMP_NO\"},{\"Name\":\"EmploymentStatus\",\"GetNameAs\":\"EmploymentStatus\"},{\"Name\":\"FAMILY\",\"GetNameAs\":\"FAMILY\"},{\"Name\":\"FatherName\",\"GetNameAs\":\"FatherName\"},{\"Name\":\"IndustrialComplexEmploymentDate\",\"GetNameAs\":\"IndustrialComplexEmploymentDate\"},{\"Name\":\"IndustrialComplexEmploymentDateString\",\"GetNameAs\":\"IndustrialComplexEmploymentDateString\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"IsCut\",\"GetNameAs\":\"IsCut\"},{\"Name\":\"JobTitle\",\"GetNameAs\":\"JobTitle\"},{\"Name\":\"LastEducationalCertificate\",\"GetNameAs\":\"LastEducationalCertificate\"},{\"Name\":\"MaritalStatus\",\"GetNameAs\":\"MaritalStatus\"},{\"Name\":\"NAME\",\"GetNameAs\":\"NAME\"},{\"Name\":\"OrganizationalUnit\",\"GetNameAs\":\"OrganizationalUnit\"},{\"Name\":\"OstanID\",\"GetNameAs\":\"OstanID\"},{\"Name\":\"PERS_NO\",\"GetNameAs\":\"PERS_NO\"},{\"Name\":\"Part\",\"GetNameAs\":\"Part\"},{\"Name\":\"PlaceofIssue\",\"GetNameAs\":\"PlaceofIssue\"},{\"Name\":\"PostTitle\",\"GetNameAs\":\"PostTitle\"},{\"Name\":\"ResetPassword\",\"GetNameAs\":\"ResetPassword\"},{\"Name\":\"SEX\",\"GetNameAs\":\"SEX\"},{\"Name\":\"SYSUserName\",\"GetNameAs\":\"SYSUserName\"},{\"Name\":\"SectionID\",\"GetNameAs\":\"SectionID\"},{\"Name\":\"ShomareShenasname\",\"GetNameAs\":\"ShomareShenasname\"},{\"Name\":\"Signature\",\"GetNameAs\":\"Signature\"},{\"Name\":\"StudyField\",\"GetNameAs\":\"StudyField\"},{\"Name\":\"UserImage\",\"GetNameAs\":\"UserImage\"}],\"Relation\":[]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_RMS_HiringtQuestionnaireAnnouncemen\",\"GetNameAs\":\"HR_RMS_HiringtQuestionnaireAnnouncemen\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"HR_RMS_RecruitmentRequestsId\",\"GetNameAs\":\"HR_RMS_RecruitmentRequestsId\"},{\"Name\":\"TimeRegisterannouncement\",\"GetNameAs\":\"TimeRegisterannouncement\"},{\"Name\":\"FromDate\",\"GetNameAs\":\"FromDate\"},{\"Name\":\"ToDate\",\"GetNameAs\":\"ToDate\"},{\"Name\":\"ReasonQuestionnaire\",\"GetNameAs\":\"ReasonQuestionnaire\"},{\"Name\":\"HR_StatusHiringtQuestionnaireAnnouncemenId\",\"GetNameAs\":\"HR_StatusHiringtQuestionnaireAnnouncemenId\"},{\"Name\":\"ConfirmationTime\",\"GetNameAs\":\"ConfirmationTime\"},{\"Name\":\"RegisterUserId\",\"GetNameAs\":\"RegisterUserId\"},{\"Name\":\"ApproverUserId\",\"GetNameAs\":\"ApproverUserId\"}],\"Relation\":[]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.HR_RMS_HiringtQuestionnaireAnnouncemen>(Data);
        }
            }
            else
            {
                _Entity = new Entity.HR_RMS_HiringtQuestionnaireAnnouncemen();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.HR_RMS_HiringtQuestionnaireAnnouncemen>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
