@inherits Forms.Forms.Form_682_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    /* ************************************************** */
.detailArea form div:not(.devdrop) {
    margin-top: .1rem;
}

/* ************************************************** */

.form-header {
    background: linear-gradient(to bottom, #6c5ffc, #0d1a52);
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.form-header:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.form-header h2 {
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.form-header .icon {
    font-size: 1.8rem;
    margin-left: 15px;
    animation: float 3s ease-in-out infinite;
}

.form-header::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
    transform: rotate(45deg);
    z-index: 1;
    transition: all 0.5s ease;
}

.form-header:hover::before {
    transform: rotate(45deg) translate(20px, 20px);
}

.form-header .decoration {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    z-index: 1;
}

.form-header .decoration-1 {
    top: -30px;
    left: -30px;
    width: 120px;
    height: 120px;
}

.form-header .decoration-2 {
    bottom: -40px;
    right: -20px;
    width: 80px;
    height: 80px;
}

@@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@@keyframes pulse {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.3;
    }
}

.pulse-animation {
    animation: pulse 4s ease-in-out infinite;
}

/* ************************************************** */

.dxbl-grid-table .htmlview {
    display: none !important;
}

/* ************************************************** */
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="row ">
    
<div class="col-md-12">
    <div  class="">
    <header class="form-header">
  <!-- عناصر تزئینی -->
  <div class="decoration decoration-1"></div>
  <div class="decoration decoration-2 pulse-animation"></div>
  
  <!-- محتوای هدر -->
  <h5>
      <i class="fal fa-project-diagram icon"></i>
      اطلاعات سمت و پست‌های سازمانی
  </h5>
</header>
</div>

</div>

<div class="col-md-3">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_ORG_PositionsHR_ORG_PositionClassificationId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"سمت های سازمانی\",\"primaryKey\":false,\"EntityID\":388,\"FieldId\":15713,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":682,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_ORG_PositionClassification\",\"RelationParentModel\":\"HR_ORG_PositionClassification\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_ORG_PositionClassification/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"Title\",\"disabled\":false,\"modal\":true,\"label\":\"طبقه بندی سمت\",\"tableView\":true,\"key\":\"HR_ORG_PositionClassificationId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"15713?EId=388&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_ORG_PositionClassificationId  @ref="Ref_HR_ORG_PositionClassificationId" Label="طبقه بندی سمت" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_ORG_PositionClassificationId" FieldName="HR_ORG_PositionClassificationId" OnItemSelected="ItemSelected_HR_ORG_PositionsHR_ORG_PositionClassificationId" Component="Component_HR_ORG_PositionsHR_ORG_PositionClassificationId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_ORG_PositionsHR_ORG_PositionClassificationId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 Item.HR_ORG_PositionClassificationId = Selected.Id;
 Item.HR_ORG_PositionClassification = await Utility.JSON.ToObject<Entity.HR_ORG_PositionClassification>(await Utility.JSON.ToJson(_Item));

    

    
    }
} 

<Input Id="PositionCode" @ref="Ref_PositionCode" Label="کد سمت"     @bind-Value="_Entity.PositionCode" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"10\"}").Result))></Input>

<Input Id="Title" @ref="Ref_Title" Label="عنوان سمت"     @bind-Value="_Entity.Title" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

<Input Id="IsApprover" @ref="Ref_IsApprover" Label="سرپرستی است؟"     @bind-Value="_Entity.IsApprover" type="checkbox"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Description" @ref="Ref_Description" Label="توضیحات"     @bind-Value="_Entity.Description" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"350\"}").Result))></Input>

<Input Id="IsActive" @ref="Ref_IsActive" Label="فعال است؟"     @bind-Value="_Entity.IsActive" type="checkbox"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-9">
    <label for="HR_ORG_Posts_GridHR_ORG_PositionsId_389">پست سازمانی
   
    
</label>

<DxGrid @ref="Grid_HR_ORG_Posts" Data="_Entity.HR_ORG_Posts" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingHR_ORG_Posts"
        DataItemDeleting="OnDataItemDeletingHR_ORG_Posts"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="پست سازمانی"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_HR_ORG_Posts"
        CustomizeElement="CustomizeRowsGrid_HR_ORG_Posts" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":389,\"FieldId\":389,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"HR_ORG_Posts\",\"GridMainModel\":\"HR_ORG_Posts\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"پست سازمانی\",\"tableView\":true,\"key\":\"GridHR_ORG_PositionsId_389\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridHR_ORG_PositionsId_389\",\"modalEdit\":true,\"FieldUrl\":\"389?EId=389&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=HR_ORG_Posts_GridHR_ORG_PositionsId_389ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_HR_ORG_Posts())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=HR_ORG_Posts_GridHR_ORG_PositionsId_389ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_HR_ORG_Posts(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_HR_ORG_Posts(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn Context="HR_ORG_PositionsId_" Caption="سمت سازمانی" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderHR_ORG_PositionsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":389,\"FieldId\":15728,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":682,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_ORG_Positions\",\"RelationParentModel\":\"HR_ORG_Positions\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\" https://bayaorm.workcv.ir/fa/api/v1/View_HR_ORG_Positions/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.PositionCode}} {{item.Title}} {{item.HR_ORG_PositionClassificationTitle}} </span>\",\"FieldsTemplate\":[{\"key\":\"PositionCode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"HR_ORG_PositionClassificationTitle\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"PositionCode,Title,HR_ORG_PositionClassificationTitle\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":false,\"modal\":true,\"label\":\"سمت سازمانی\",\"tableView\":true,\"key\":\"HR_ORG_PositionsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-6\",\"FieldUrl\":\"15728?EId=389&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowHR_ORG_PositionsId = ((Entity.HR_ORG_Posts)HR_ORG_PositionsId_.DataItem).HR_ORG_PositionsId;
}

<Dropdown ExternalApi=false NotMapped=false TextGrid=true Value="@RowHR_ORG_PositionsId"   FieldName="HR_ORG_PositionsId" OnItemSelected="ItemSelected_HR_ORG_PostsHR_ORG_PositionsId_Header" Component="HeaderHR_ORG_PositionsId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_ORG_PostsHR_ORG_PositionsId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   HR_ORG_PositionsId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="html_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="htmlview Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="کد پست سازمانی"  FieldName="PostCode" />

<DxGridDataColumn  Caption="عنوان پست سازمانی"  FieldName="Title" />

<DxGridDataColumn Context="html4_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="htmlview Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="HR_Base_InsuranceJobsId_" Caption="عنوان شغلی در بیمه" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderHR_Base_InsuranceJobsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":389,\"FieldId\":15729,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":682,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/View_Insurance/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"InsuranceJobsId\",\"template\":\"<span>{{item.InsuranceTypesTitle}} {{item.InsuranceTypesCode}} {{item.InsuranceJobsTitle}} </span>\",\"FieldsTemplate\":[{\"key\":\"InsuranceTypesTitle\",\"value\":\"nvarchar(Max)\"},{\"key\":\"InsuranceTypesCode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"InsuranceJobsTitle\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"InsuranceTypesTitle,InsuranceTypesCode,InsuranceJobsTitle\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":false,\"modal\":true,\"label\":\"عنوان شغلی در بیمه\",\"tableView\":true,\"key\":\"HR_Base_InsuranceJobsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-6\",\"FieldUrl\":\"15729?EId=389&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowHR_Base_InsuranceJobsId = ((Entity.HR_ORG_Posts)HR_Base_InsuranceJobsId_.DataItem).HR_Base_InsuranceJobsId;
}

<Dropdown ExternalApi=true NotMapped=false TextGrid=true Value="@RowHR_Base_InsuranceJobsId"   FieldName="HR_Base_InsuranceJobsId" OnItemSelected="ItemSelected_HR_ORG_PostsHR_Base_InsuranceJobsId_Header" Component="HeaderHR_Base_InsuranceJobsId">
</Dropdown>
@code {
    public async Task ItemSelected_HR_ORG_PostsHR_Base_InsuranceJobsId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   HR_Base_InsuranceJobsId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="html2_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="htmlview Gcol-sm-8 Gcol-md-6 Gcol-lg-8">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="توضیحات"  FieldName="Description" />

<DxGridDataColumn Context="html3_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="State_" Caption="فعال است؟" >
    <CellDisplayTemplate>
       
@{
    var HR_ORG_Posts_State = ((Entity.HR_ORG_Posts)State_.DataItem).State;
}

<p class="text-center " hidden="@(HR_ORG_Posts_State !=null ? !HR_ORG_Posts_State : true)">@languageContainer.Keys["DXGrid:Yes"]</p>

<p class="text-center" hidden="@(HR_ORG_Posts_State !=null ? HR_ORG_Posts_State : true)">@languageContainer.Keys["DXGrid:No"]</p>
 

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />


</Columns>

    <EditFormTemplate Context="EditFormContextHR_ORG_Posts">
    @{
        HR_ORG_Posts  = (Entity.HR_ORG_Posts)EditFormContextHR_ORG_Posts.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_ORG_PostsHR_ORG_PositionsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":389,\"FieldId\":15728,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":682,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_ORG_Positions\",\"RelationParentModel\":\"HR_ORG_Positions\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\" https://bayaorm.workcv.ir/fa/api/v1/View_HR_ORG_Positions/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.PositionCode}} {{item.Title}} {{item.HR_ORG_PositionClassificationTitle}} </span>\",\"FieldsTemplate\":[{\"key\":\"PositionCode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"HR_ORG_PositionClassificationTitle\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"PositionCode,Title,HR_ORG_PositionClassificationTitle\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":false,\"modal\":true,\"label\":\"سمت سازمانی\",\"tableView\":true,\"key\":\"HR_ORG_PositionsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-6\",\"FieldUrl\":\"15728?EId=389&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_ORG_Posts_HR_ORG_PositionsId  @ref="Ref_HR_ORG_Posts_HR_ORG_PositionsId" Label="سمت سازمانی" CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6"  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false Text="" Value="@HR_ORG_Posts.HR_ORG_PositionsId" FieldName="HR_ORG_PositionsId" OnItemSelected="ItemSelected_HR_ORG_PostsHR_ORG_PositionsId" Component="Component_HR_ORG_PostsHR_ORG_PositionsId" _Entity="_Entity" _EntityRow=HR_ORG_Posts>
</Dropdown>
@code {
    public async Task ItemSelected_HR_ORG_PostsHR_ORG_PositionsId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = HR_ORG_Posts;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 Item.HR_ORG_PositionsId = Selected.Id;
 Item.HR_ORG_Positions = await Utility.JSON.ToObject<Entity.HR_ORG_Positions>(await Utility.JSON.ToJson(_Item));

    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    <div  class="htmlview Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_PostCode" @ref="Ref_HR_ORG_Posts_PostCode" Label="کد پست سازمانی"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3"   @bind-Value="HR_ORG_Posts.PostCode" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"10\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_Title" @ref="Ref_HR_ORG_Posts_Title" Label="عنوان پست سازمانی"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3"   @bind-Value="HR_ORG_Posts.Title" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"75\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    <div  class="htmlview Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_ORG_PostsHR_Base_InsuranceJobsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":389,\"FieldId\":15729,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":682,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/View_Insurance/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"InsuranceJobsId\",\"template\":\"<span>{{item.InsuranceTypesTitle}} {{item.InsuranceTypesCode}} {{item.InsuranceJobsTitle}} </span>\",\"FieldsTemplate\":[{\"key\":\"InsuranceTypesTitle\",\"value\":\"nvarchar(Max)\"},{\"key\":\"InsuranceTypesCode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"InsuranceJobsTitle\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"InsuranceTypesTitle,InsuranceTypesCode,InsuranceJobsTitle\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":false,\"modal\":true,\"label\":\"عنوان شغلی در بیمه\",\"tableView\":true,\"key\":\"HR_Base_InsuranceJobsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-6\",\"FieldUrl\":\"15729?EId=389&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_ORG_Posts_HR_Base_InsuranceJobsId  @ref="Ref_HR_ORG_Posts_HR_Base_InsuranceJobsId" Label="عنوان شغلی در بیمه" CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6"  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@HR_ORG_Posts.HR_Base_InsuranceJobsId" FieldName="HR_Base_InsuranceJobsId" OnItemSelected="ItemSelected_HR_ORG_PostsHR_Base_InsuranceJobsId" Component="Component_HR_ORG_PostsHR_Base_InsuranceJobsId" _Entity="_Entity" _EntityRow=HR_ORG_Posts>
</Dropdown>
@code {
    public async Task ItemSelected_HR_ORG_PostsHR_Base_InsuranceJobsId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = HR_ORG_Posts;

    Item.HR_Base_InsuranceJobsId = Selected.InsuranceJobsId;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    <div  class="htmlview Gcol-sm-8 Gcol-md-6 Gcol-lg-8">
    
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_Description" @ref="Ref_HR_ORG_Posts_Description" Label="توضیحات"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6"   @bind-Value="HR_ORG_Posts.Description" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"350\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_State" @ref="Ref_HR_ORG_Posts_State" Label="فعال است؟"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3"   @bind-Value="HR_ORG_Posts.State" type="checkbox"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_Id" @ref="Ref_HR_ORG_Posts_Id"   CssClass="d-none"   @bind-Value="HR_ORG_Posts.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_RequestID" @ref="Ref_HR_ORG_Posts_RequestID"      @bind-Value="HR_ORG_Posts.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_CreateUser" @ref="Ref_HR_ORG_Posts_CreateUser"      @bind-Value="HR_ORG_Posts.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_UpdateUser" @ref="Ref_HR_ORG_Posts_UpdateUser"      @bind-Value="HR_ORG_Posts.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_CreateDate" @ref="Ref_HR_ORG_Posts_CreateDate"   CssClass="d-none"   @bind-Value="HR_ORG_Posts.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_UpdateDate" @ref="Ref_HR_ORG_Posts_UpdateDate"   CssClass="d-none"   @bind-Value="HR_ORG_Posts.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextHR_ORG_Posts">
    
<Input Id="HR_ORG_Posts_IsDelete" @ref="Ref_HR_ORG_Posts_IsDelete"   CssClass="d-none"   @bind-Value="HR_ORG_Posts.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextHR_ORG_Posts" CssClass="btn-modal-custom">
            <DxButton Id="HR_ORG_Posts_GridHR_ORG_PositionsId_389ButtonSave" Click="@(() => SaveModalGrid_HR_ORG_Posts(EditFormContextHR_ORG_Posts))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="HR_ORG_Posts_GridHR_ORG_PositionsId_389ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_HR_ORG_Posts(EditFormContextHR_ORG_Posts))" CssClass="btn btn-green" />


            <DxButton Id="HR_ORG_Posts_GridHR_ORG_PositionsId_389ButtonCancel" Click="@(() => Grid_HR_ORG_Posts.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="HR_ORG_Posts_GridHR_ORG_PositionsId_389ButtonBefore" Click="@(() => Dialog_Grid_HR_ORG_Posts(0,IndexGrid_HR_ORG_Posts,EditFormContextHR_ORG_Posts))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="HR_ORG_Posts_GridHR_ORG_PositionsId_389ButtonNext" Click="@(() => Dialog_Grid_HR_ORG_Posts(1,IndexGrid_HR_ORG_Posts,EditFormContextHR_ORG_Posts))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownHR_ORG_Posts" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_HR_ORG_Posts" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_HR_ORG_Posts" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationHR_ORG_Posts" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonHR_ORG_Posts" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonHR_ORG_Posts" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_HR_ORG_Posts;
    Entity.HR_ORG_Posts HR_ORG_Posts;
    bool ConfirmationShownHR_ORG_Posts { get; set; } = false;
    public Entity.HR_ORG_Posts SelectedItemGrid_HR_ORG_Posts { get; set; } = new Entity.HR_ORG_Posts();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_HR_ORG_Posts { get; set; }

    ///////////////////////
    bool ConfirmationHR_ORG_Posts { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateHR_ORG_Posts { get; set; }
    public int OpenDialogCodeHR_ORG_Posts { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingHR_ORG_Posts(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_HR_ORG_Posts(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_HR_ORG_Posts(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeHR_ORG_Posts = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateHR_ORG_Posts = e;
    ConfirmationHR_ORG_Posts = true;
    }
    else
    {
    await OnNoButtonHR_ORG_Posts();
    }
}
async Task OnYesButtonHR_ORG_Posts()
{

    ConfirmationHR_ORG_Posts = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateHR_ORG_Posts.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_HR_ORG_Posts(_ContextFormTemplateHR_ORG_Posts.DataItem, _ContextFormTemplateHR_ORG_Posts.EditModel);
            await Grid_HR_ORG_Posts.CancelEditAsync();
         await ChangePageGrid_HR_ORG_Posts();
         await SetEditFormContextGrid_HR_ORG_Posts();
         }
          
    }

}
async Task OnNoButtonHR_ORG_Posts()
{
    ConfirmationHR_ORG_Posts = false;
    await ChangePageGrid_HR_ORG_Posts();
    await SetEditFormContextGrid_HR_ORG_Posts();

}
async Task SetEditFormContextGrid_HR_ORG_Posts()
{
    var e = (Entity.HR_ORG_Posts)Grid_HR_ORG_Posts.GetDataItem(IndexGrid_HR_ORG_Posts);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_HR_ORG_Posts()
{
    int VisibleIndex = IndexGrid_HR_ORG_Posts;
    try
    {
    if (OpenDialogCodeHR_ORG_Posts == 1)
    {
        if (VisibleIndex != (Grid_HR_ORG_Posts.GetVisibleRowCount() - 1))
    { 
            Grid_HR_ORG_Posts.CancelEditAsync();
            IndexGrid_HR_ORG_Posts = VisibleIndex + 1;
    Grid_HR_ORG_Posts.StartEditRowAsync(IndexGrid_HR_ORG_Posts);
    }
    }
    else if (OpenDialogCodeHR_ORG_Posts == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_HR_ORG_Posts.CancelEditAsync();
            IndexGrid_HR_ORG_Posts = VisibleIndex - 1;
    Grid_HR_ORG_Posts.StartEditRowAsync(IndexGrid_HR_ORG_Posts);
    }

    }
    var e = (Entity.HR_ORG_Posts)Grid_HR_ORG_Posts.GetDataItem(IndexGrid_HR_ORG_Posts);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_HR_ORG_Posts()
{
    IndexGrid_HR_ORG_Posts = Grid_HR_ORG_Posts.GetVisibleRowCount();
Grid_HR_ORG_Posts.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.HR_ORG_Posts();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_HR_ORG_Posts(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_HR_ORG_Posts = Context.VisibleIndex;
Grid_HR_ORG_Posts.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.HR_ORG_Posts)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_HR_ORG_Posts(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_HR_ORG_Posts(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_HR_ORG_Posts(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_HR_ORG_Posts(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_HR_ORG_Posts();

    }
          
    }
   
}

void PerviousPageGrid_HR_ORG_Posts(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_HR_ORG_Posts.CancelEditAsync();
        IndexGrid_HR_ORG_Posts = VisibleIndex - 1;
         Grid_HR_ORG_Posts.StartEditRowAsync(IndexGrid_HR_ORG_Posts);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_HR_ORG_Posts(int VisibleIndex)
{

    if (VisibleIndex == Grid_HR_ORG_Posts.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_HR_ORG_Posts ");
    try
    {
Grid_HR_ORG_Posts.CancelEditAsync();
        IndexGrid_HR_ORG_Posts = VisibleIndex + 1;
         Grid_HR_ORG_Posts.StartEditRowAsync(IndexGrid_HR_ORG_Posts);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_HR_ORG_Posts(object DataItem, object EditModel)
{
    var ListEntity = _Entity.HR_ORG_Posts;
    var MainModel = (Entity.HR_ORG_Posts)DataItem;
    if (MainModel != null)
    {
MainModel.HR_ORG_PositionsId = ((Entity.HR_ORG_Posts)EditModel).HR_ORG_PositionsId;
MainModel.HR_ORG_Positions = ((Entity.HR_ORG_Posts)EditModel).HR_ORG_Positions;
MainModel.PostCode = ((Entity.HR_ORG_Posts)EditModel).PostCode;
MainModel.Title = ((Entity.HR_ORG_Posts)EditModel).Title;
MainModel.HR_Base_InsuranceJobsId = ((Entity.HR_ORG_Posts)EditModel).HR_Base_InsuranceJobsId;
MainModel.Description = ((Entity.HR_ORG_Posts)EditModel).Description;
MainModel.State = ((Entity.HR_ORG_Posts)EditModel).State;
MainModel.Id = ((Entity.HR_ORG_Posts)EditModel).Id;
MainModel.RequestID = ((Entity.HR_ORG_Posts)EditModel).RequestID;
MainModel.CreateUser = ((Entity.HR_ORG_Posts)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.HR_ORG_Posts)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.HR_ORG_Posts)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.HR_ORG_Posts)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.HR_ORG_Posts)EditModel).IsDelete;

    }
    else
    {
    ListEntity.Add((Entity.HR_ORG_Posts)EditModel);
    }
}

async Task OnDataItemDeletingHR_ORG_Posts(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.HR_ORG_Posts;
    ListEntity.Remove((Entity.HR_ORG_Posts)e.DataItem);
}
async void OnDeleteButtonClickGrid_HR_ORG_Posts (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_HR_ORG_Posts = (ex.DataItem as Entity.HR_ORG_Posts);
    var e =SelectedItemGrid_HR_ORG_Posts;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownHR_ORG_Posts = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_HR_ORG_Posts ()
{
       if (SelectedItemGrid_HR_ORG_Posts != null)
    {
      if (SelectedItemGrid_HR_ORG_Posts.Id == Guid.Empty)
      {
          var ListEntity = _Entity.HR_ORG_Posts;
        ListEntity.Remove((Entity.HR_ORG_Posts)SelectedItemGrid_HR_ORG_Posts);
     
      }
      else
      {
        var cleanModel = new Entity.HR_ORG_Posts();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.HR_ORG_Posts).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_HR_ORG_Posts);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_HR_ORG_Posts, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_HR_ORG_Posts._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_HR_ORG_Posts;
    
    Grid_HR_ORG_Posts.Reload();
    ConfirmationShownHR_ORG_Posts = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_HR_ORG_Posts ()
{
    ConfirmationShownHR_ORG_Posts = false;
}

void CustomizeRowsGrid_HR_ORG_Posts(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.HR_ORG_Posts)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_HR_ORG_Posts(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.HR_ORG_Posts)e.EditModel;

     

    }


}
public async void RowClickGrid_HR_ORG_Posts(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_HR_ORG_Posts(GridRowClickEventArgs e)
{

}
}

</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_ORG_Positions\",\"GetNameAs\":\"HR_ORG_Positions\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"},{\"Name\":\"IsApprover\",\"GetNameAs\":\"IsApprover\"},{\"Name\":\"HR_ORG_PositionClassificationId\",\"GetNameAs\":\"HR_ORG_PositionClassificationId\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"PositionCode\",\"GetNameAs\":\"PositionCode\"}],\"Relation\":[{\"Name\":\"HR_ORG_PositionClassification\",\"GetNameAs\":\"HR_ORG_PositionClassification\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Lvl\",\"GetNameAs\":\"Lvl\"},{\"Name\":\"TitleEn\",\"GetNameAs\":\"TitleEn\"},{\"Name\":\"DeleteDateTime\",\"GetNameAs\":\"DeleteDateTime\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"}],\"Relation\":[]},{\"Name\":\"HR_ORG_Posts\",\"GetNameAs\":\"HR_ORG_Posts\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"State\",\"GetNameAs\":\"State\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"},{\"Name\":\"HR_ORG_PositionsId\",\"GetNameAs\":\"HR_ORG_PositionsId\"},{\"Name\":\"HR_Base_InsuranceJobsId\",\"GetNameAs\":\"HR_Base_InsuranceJobsId\"},{\"Name\":\"PostCode\",\"GetNameAs\":\"PostCode\"}],\"Relation\":[{\"Name\":\"HR_ORG_Positions\",\"GetNameAs\":\"HR_ORG_Positions\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"TitleEn\",\"GetNameAs\":\"TitleEn\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"DeleteDateTime\",\"GetNameAs\":\"DeleteDateTime\"},{\"Name\":\"IsApprover\",\"GetNameAs\":\"IsApprover\"},{\"Name\":\"HR_ORG_PositionClassificationId\",\"GetNameAs\":\"HR_ORG_PositionClassificationId\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"PositionCode\",\"GetNameAs\":\"PositionCode\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_ORG_Positions\",\"GetNameAs\":\"HR_ORG_Positions\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"},{\"Name\":\"IsApprover\",\"GetNameAs\":\"IsApprover\"},{\"Name\":\"HR_ORG_PositionClassificationId\",\"GetNameAs\":\"HR_ORG_PositionClassificationId\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"PositionCode\",\"GetNameAs\":\"PositionCode\"}],\"Relation\":[{\"Name\":\"HR_ORG_Posts\",\"GetNameAs\":\"HR_ORG_Posts\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"State\",\"GetNameAs\":\"State\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"},{\"Name\":\"HR_ORG_PositionsId\",\"GetNameAs\":\"HR_ORG_PositionsId\"},{\"Name\":\"HR_Base_InsuranceJobsId\",\"GetNameAs\":\"HR_Base_InsuranceJobsId\"},{\"Name\":\"PostCode\",\"GetNameAs\":\"PostCode\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.HR_ORG_Positions>(Data);
        }
            }
            else
            {
                _Entity = new Entity.HR_ORG_Positions();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.HR_ORG_Positions>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
