@using Baya.Models.ViewEngine
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@namespace ButtonPage
 
<div id="@Id" class="@(Visible?"":"d-none")">
    <a  id=@(Id + "Button") class="btn @CssClass" 
       @oninput="@oninput" @oncut="@oncut" @oncopy="@oncopy" @onpaste="@onpaste"
       @onselect="@onselect" @oninvalid="@oninvalid" @onfocus="@onfocus"
       @onkeydown="@onkeydown" @onkeypress="@onkeypress" @onkeyup="@onkeyup"
       @onclick="@onclick">
        <span  class="@BeforeClass"></span>
        <span id=@(Id + "Label") >@Label</span>
        <span class="@AfterClass"></span>
    </a>
</div>


@code {
   
    #region ParameterPublic
    [Parameter] public bool Visible { get; set; } = true;
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public string? AfterClass { get; set; }
    [Parameter] public string? BeforeClass { get; set; }
    [Parameter] public string? Label { get; set; } 
    [Parameter] public string? Id { get; set; }      
    #endregion
    #region events
    [Parameter] public EventCallback<ChangeEventArgs> oninput { get; set; }

    [Parameter] public EventCallback<ClipboardEventArgs> oncut { get; set; }
    [Parameter] public EventCallback<ClipboardEventArgs> oncopy { get; set; }
    [Parameter] public EventCallback<ClipboardEventArgs> onpaste { get; set; }

    [Parameter] public EventCallback<EventArgs> onselect { get; set; }
    [Parameter] public EventCallback<EventArgs> oninvalid { get; set; }

    [Parameter] public EventCallback<FocusEventArgs> onfocus { get; set; }

    [Parameter] public EventCallback<KeyboardEventArgs> onkeydown { get; set; }
    [Parameter] public EventCallback<KeyboardEventArgs> onkeypress { get; set; }
    [Parameter] public EventCallback<KeyboardEventArgs> onkeyup { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> onclick { get; set; }
    #endregion
    #region ParameterTextArea
    [Parameter] public int? Rows { get; set; }
    #endregion

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        { 
            StateHasChanged();
        }
    }


    protected override void OnInitialized()
    {
         
    }


    #region class
   
    #endregion
}