@using Baya.Models.ViewEngine
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@namespace RadioBooleanPage
<div id="@Id" class="@(_Visible?"":"d-none")  @CssClass " @attributes="@_Attributes">
     @if (!string.IsNullOrEmpty(Label))
    {
     <label id=@(Id + "label") for=@(Id + "RadioButton")>
         @Label
         @if (Required.HasValue && Required == true)
         {
             <span id=@(Id + "SpanLabel") class="text-danger">*</span>
         }
         @if (!string.IsNullOrEmpty(ToolTip))
         {
             <i id=@(Id + "ToolTipLabel") class="bi bi-question-circle text-muted" data-bs-toggle="tooltip" data-bs-title="@ToolTip" title="@ToolTip"></i>
         }
     </label>
    }
    <div id=@(Id + "RadioButton") class="@CssClassElement">
        <div id=@(Id + "DivTrue") class="@(InLine?"form-check-inline":"") radiodiv">
            <label id=@(Id + "LabelTrue") for=@(Id + "InputTrue") class="@((RadioSelected.HasValue && RadioSelected.Value)?" radioselected":"") form-check-label">
                <input id=@(Id + "InputTrue")   type="radio" class="form-check-input" value="true" @onchange="@(() =>  Value =(bool)(object)true)"
                       name="@Name"
                       @oninput="@oninput"
                       @onclick="@onclick"
                       @attributes="@AttributesTrue" />
                <span  id=@(Id + "SpanLabelTrue")>@LabelTrue</span>
            </label>
        </div>
        <div id=@(Id + "DivFalse") class="@(InLine?"form-check-inline":"") radiodiv">
            <label id=@(Id + "LabelFalse") for=@(Id + "InputFalse")  class="@((RadioSelected.HasValue && !RadioSelected.Value)?" radioselected":"") form-check-label">
                <input id=@(Id + "InputFalse")  type="radio" class="form-check-input" value="false" @onchange="@(() =>  Value =(bool)(object) false)"
                       name="@Name"
                       @oninput="@oninput"
                       @onclick="@onclick"
                       @attributes="@AttributesFalse" />
                <span id=@(Id + "SpanLabelFalse")>@LabelFalse</span>
            </label>
        </div>  
    </div>


</div>


@code {
    /// <summary>
    /// آیا خطی باشد یا خیر؟
    /// </summary>
    [Parameter]
    public bool InLine { get; set; } = false;
    /// <summary>
    /// افزودن کلاس به انخاب شده
    /// </summary>
    public bool? RadioSelected { get; set; }
    [Parameter] public bool? Required { get; set; }
    [Parameter] public string? ToolTip { get; set; }
    #region bind
    [Parameter]
    public bool? Value
    {
        get => _Value;
        set
        {
            if (Convert.ToString(_Value) == Convert.ToString(value)) return;
            _Value = value.Value;
            ValueChanged.InvokeAsync(value);
            if (value.HasValue)
            {
                if (value.Value)
                {
                    RemoveAttributeFalse("checked");
                    RemoveAttributeTrue("checked");
                    AddAttributeTrue("checked", "checked");
                    RadioSelected = true;
                }
                else
                {
                    RemoveAttributeFalse("checked");
                    RemoveAttributeTrue("checked");
                    AddAttributeFalse("checked", "checked");
                    RadioSelected = false;
                }
            }
            base.SetParametersAsync(ParameterView.Empty).GetAwaiter();
        }
    }
    [Parameter] public EventCallback<bool?> ValueChanged { get; set; }
    public bool? _Value { set; get; }
    #endregion
    #region ParameterPublic
    [Parameter]
    public bool Visible { get; set; } = true;
    public bool _Visible { get; set; }

    [Parameter] public string? CssClass { get; set; }
    public string? CssClassElement { get; set; }
    public EventCallback<string?> ClassChanged { get; set; }
    [Parameter] public string? LabelTrue { get; set; }
    [Parameter] public string? LabelFalse { get; set; }
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Name { get; set; } = $"Name_{Guid.NewGuid().ToString("N")}";
    [Parameter] public string? Label { get; set; }
    [Parameter]
    public bool Disabled { get; set; } = false;
    private bool _Disabled { get; set; }
    #endregion
    #region InternalVariable
    public string? IdRadioButton { get; set; } = $"RadioBoolean_{Guid.NewGuid().ToString("N")}";
    public string? IdTrue { get; set; } = $"f_True_{Guid.NewGuid().ToString("N")}";
    public string? IdFalse { get; set; } = $"f_False_{Guid.NewGuid().ToString("N")}";
    #endregion
    #region events
    [Parameter] public EventCallback<ChangeEventArgs> oninput { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> onclick { get; set; }
    #endregion
    #region Attr
    [Parameter] public Dictionary<string, object>? Attributes { get; set; } = new Dictionary<string, object>();
    public Dictionary<string, object>? _Attributes { get; set; } = new Dictionary<string, object>();
    public Dictionary<string, object>? AttributesTrue { get; set; } = new Dictionary<string, object>();
    public Dictionary<string, object>? AttributesFalse { get; set; } = new Dictionary<string, object>();
    #endregion

    protected override void OnInitialized()
    {
        if (Attributes.Keys.Count > 0)
        {
            foreach (var item in Attributes)
            {
                _Attributes.Add(item.Key, item.Value);
            }
        }
        //Set Disabled First
        _Disabled = Disabled;
        RunDisabled();
        _Visible = Visible;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }
    protected override void OnParametersSet()
    { 
        RunDisabled();
        Visible = _Visible;
    }
    #region classAttrbute
    protected void RunDisabled()
    {
        if (_Disabled)
        {
            AddAttribute("disabled", "true");
               CssClassElement = "disablediv";
        }
        else
        {
            RemoveAttribute("disabled");
             CssClassElement ="";
        }
       Disabled = _Disabled;
    }
    public bool AddAttribute(string? Key, string? Value)
    {
        try
        {
            var Attr = _Attributes.FirstOrDefault(p => p.Key == Key);
            if (Attr.Key is null)
            {
                _Attributes.Add(Key, (!string.IsNullOrEmpty(Value)) ? (object)Value : null);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In AddAttribute " + ex.Message);
            return false;
        }
        return true;
    }

    public bool RemoveAttribute(string? Key)
    {
        try
        {
            var Attr = _Attributes.Where(p => p.Key == Key);
            if (Attr.Count() > 0)
            {
                foreach (var item in Attr)
                {
                    if (item.Key is not null)
                    {
                        _Attributes.Remove(_Attributes.FirstOrDefault(p => p.Key == Key).Key);
                    }
                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In RemoveAttribute " + ex.Message);
            return false;
        }
        return true;
    }

    public bool ToggleAttribute(string? Key, string? Value)
    {
        var Attr = _Attributes.FirstOrDefault(p => p.Key == Key);
        try
        {
            if (Attr.Key is null)
            {
                _Attributes.Add(Key, (!string.IsNullOrEmpty(Value)) ? (object)Value : null);
            }
            else
            {
                _Attributes.Remove(_Attributes.FirstOrDefault(p => p.Key == Key).Key);
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In ToggleAttribute " + ex.Message);
            return false;
        }
        return true;
    }

    public bool AddAttributeTrue(string? Key, string? _Value)
    {
        try
        {
            var Attr = AttributesTrue.FirstOrDefault(p => p.Key == Key);
            if (Attr.Key is null)
            {
                AttributesTrue.Add(Key, (!string.IsNullOrEmpty(_Value)) ? (object)_Value : null);
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In AddAttribute " + ex.Message);
            return false;
        }
        return true;
    }

    public bool RemoveAttributeTrue(string? Key)
    {
        try
        {
            var Attr = AttributesTrue.Where(p => p.Key == Key);
            if (Attr.Count() > 0)
            {
                foreach (var item in Attr)
                {
                    if (item.Key is not null)
                    {
                        AttributesTrue.Remove(AttributesTrue.FirstOrDefault(p => p.Key == Key).Key);
                    }
                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In RemoveAttribute " + ex.Message);
            return false;
        }
        return true;
    }
    public bool AddAttributeFalse(string? Key, string? _Value)
    {
        try
        {
            var Attr = AttributesFalse.FirstOrDefault(p => p.Key == Key);
            if (Attr.Key is null)
            {
                AttributesFalse.Add(Key, (!string.IsNullOrEmpty(_Value)) ? (object)_Value : null);
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In AddAttribute " + ex.Message);
            return false;
        }
        return true;
    }

    public bool RemoveAttributeFalse(string? Key)
    {
        try
        {
            var Attr = AttributesFalse.Where(p => p.Key == Key);
            if (Attr.Count() > 0)
            {
                foreach (var item in Attr)
                {
                    if (item.Key is not null)
                    {
                        AttributesFalse.Remove(AttributesFalse.FirstOrDefault(p => p.Key == Key).Key);
                    }
                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In RemoveAttribute " + ex.Message);
            return false;
        }
        return true;
    }
    public bool AddClass(string _NewClass)
    {
        try
        {
            CssClass += " " + _NewClass;
            ClassChanged.InvokeAsync(CssClass);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In AddClass " + ex.Message);
            return false;
        }
        return true;
    }
    
    public bool RemoveClass(string _Class)
    {
        try
        {
            if (!string.IsNullOrEmpty(CssClass))
            {
                CssClass = CssClass.Replace(" " + _Class, string.Empty);
                ClassChanged.InvokeAsync(CssClass);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error In RemoveClass " + ex.Message);
            return false;
        }
        return true;
    }
    #endregion

    public void SetDisabled(bool t)
    {
        _Disabled = t;
    }
    public void SetVisible(bool t)
    {
        _Visible = t;
        _Disabled = !t;
        StateHasChanged();
    }
}