@inherits Forms.Forms.Form_688_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    /* ************************************************** */
.detailArea form div:not(.devdrop) {
    margin-top: .1rem;
}

.force-left input {
    text-align: left !important;
}

/* ************************************************** */

.form-header {
    background: linear-gradient(to bottom, #6c5ffc, #0d1a52);
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.form-header:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.form-header h2 {
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.form-header .icon {
    font-size: 1.8rem;
    margin-left: 15px;
    animation: float 3s ease-in-out infinite;
}

.form-header::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
    transform: rotate(45deg);
    z-index: 1;
    transition: all 0.5s ease;
}

.form-header:hover::before {
    transform: rotate(45deg) translate(20px, 20px);
}

.form-header .decoration {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    z-index: 1;
}

.form-header .decoration-1 {
    top: -30px;
    left: -30px;
    width: 120px;
    height: 120px;
}

.form-header .decoration-2 {
    bottom: -40px;
    right: -20px;
    width: 80px;
    height: 80px;
}

@@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@@keyframes pulse {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.3;
    }
}

.pulse-animation {
    animation: pulse 4s ease-in-out infinite;
}

/* ************************************************** */
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="">
    <div  class="">
    <header class="form-header">
  <!-- عناصر تزئینی -->
  <div class="decoration decoration-1"></div>
  <div class="decoration decoration-2 pulse-animation"></div>
  
  <!-- محتوای هدر -->
  <div class="fs-4 fw-bold">
      <i class="fal fa-building icon"></i>
      اطلاعات حساب بانکی کارمند
  </div>
</header>
</div>

</div>

<div class="row ">
    
<div class="col-md-6">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_Base_BankAccountHR_EMP_EmployeesId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"حساب بانکی\",\"primaryKey\":false,\"EntityID\":357,\"FieldId\":15252,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":688,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"HR_EMP_Employees\",\"RelationParentModel\":\"HR_EMP_Employees\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/View_HR_EMP_Employees/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.BaseInfo_ORG_CompaniesTitle}} {{item.EmployeeNo}} {{item.FirstName}} {{item.LastName}} </span>\",\"FieldsTemplate\":[{\"key\":\"EmployeeNo\",\"value\":\"nvarchar(Max)\"},{\"key\":\"FirstName\",\"value\":\"nvarchar(Max)\"},{\"key\":\"LastName\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"EmployeeNo,FirstName,LastName\",\"modal\":true,\"label\":\"اطلاعات کارمند\",\"tableView\":true,\"key\":\"HR_EMP_EmployeesId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"15252?EId=357&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_EMP_EmployeesId  @ref="Ref_HR_EMP_EmployeesId" Label="اطلاعات کارمند" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.HR_EMP_EmployeesId" FieldName="HR_EMP_EmployeesId" OnItemSelected="ItemSelected_HR_Base_BankAccountHR_EMP_EmployeesId" Component="Component_HR_Base_BankAccountHR_EMP_EmployeesId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_Base_BankAccountHR_EMP_EmployeesId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.HR_EMP_EmployeesId = Selected.Id;


    

    
    }
} 

</div>

<div class="col-md-6">
    
</div>

</div>
<div  class="">
    <hr class="hrdash">
</div>

<div class="row ">
    
<div class="col-md-4">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_Base_BankAccountBaseInfo_BankAccountTypeId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"حساب بانکی\",\"primaryKey\":false,\"EntityID\":357,\"FieldId\":19486,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":688,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"BaseInfo_BankAccountType\",\"RelationParentModel\":\"BaseInfo_BankAccountType\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/BaseInfo_BankAccountType/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"Title\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\"نوع حساب بانکی\",\"tableView\":true,\"key\":\"BaseInfo_BankAccountTypeId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"mt-3\",\"FieldUrl\":\"19486?EId=357&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=BaseInfo_BankAccountTypeId  @ref="Ref_BaseInfo_BankAccountTypeId" Label="نوع حساب بانکی" CssClass="mt-3"  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.BaseInfo_BankAccountTypeId" FieldName="BaseInfo_BankAccountTypeId" OnItemSelected="ItemSelected_HR_Base_BankAccountBaseInfo_BankAccountTypeId" Component="Component_HR_Base_BankAccountBaseInfo_BankAccountTypeId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_Base_BankAccountBaseInfo_BankAccountTypeId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.BaseInfo_BankAccountTypeId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.BaseInfo_BankAccountTypeId =EntityHelper.SetPropertyNull(Item.BaseInfo_BankAccountTypeId);
 }
 Item.BaseInfo_BankAccountType = await Utility.JSON.ToObject<Entity.BaseInfo_BankAccountType>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_Base_BankAccountBaseInfo_BankId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"حساب بانکی\",\"primaryKey\":false,\"EntityID\":357,\"FieldId\":29973,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":688,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"BaseInfo_Bank\",\"RelationParentModel\":\"BaseInfo_Banks\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/BaseInfo_Banks/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"Title\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\"بانک\",\"tableView\":true,\"key\":\"BaseInfo_BankId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"mt-3\",\"FieldUrl\":\"29973?EId=357&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=BaseInfo_BankId  @ref="Ref_BaseInfo_BankId" Label="بانک" CssClass="mt-3"  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.BaseInfo_BankId" FieldName="BaseInfo_BankId" OnItemSelected="ItemSelected_HR_Base_BankAccountBaseInfo_BankId" Component="Component_HR_Base_BankAccountBaseInfo_BankId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_Base_BankAccountBaseInfo_BankId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.BaseInfo_BankId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.BaseInfo_BankId =EntityHelper.SetPropertyNull(Item.BaseInfo_BankId);
 }
 Item.BaseInfo_Bank = await Utility.JSON.ToObject<Entity.BaseInfo_Banks>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_Base_BankAccountBaseInfo_BankBranchesId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"حساب بانکی\",\"primaryKey\":false,\"EntityID\":357,\"FieldId\":19449,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":688,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"BaseInfo_BankBranches\",\"RelationParentModel\":\"BaseInfo_BankBranches\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/BaseInfo_BankBranches/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"Title\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\" شعبه بانک\",\"tableView\":true,\"key\":\"BaseInfo_BankBranchesId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"mt-3\",\"FieldUrl\":\"19449?EId=357&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=BaseInfo_BankBranchesId  @ref="Ref_BaseInfo_BankBranchesId" Label=" شعبه بانک" CssClass="mt-3"  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.BaseInfo_BankBranchesId" FieldName="BaseInfo_BankBranchesId" OnItemSelected="ItemSelected_HR_Base_BankAccountBaseInfo_BankBranchesId" Component="Component_HR_Base_BankAccountBaseInfo_BankBranchesId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_Base_BankAccountBaseInfo_BankBranchesId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.BaseInfo_BankBranchesId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.BaseInfo_BankBranchesId =EntityHelper.SetPropertyNull(Item.BaseInfo_BankBranchesId);
 }
 Item.BaseInfo_BankBranches = await Utility.JSON.ToObject<Entity.BaseInfo_BankBranches>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

<Input Id="BankAccountNumber" @ref="Ref_BankAccountNumber" Label="شماره حساب بانکی"  CssClass="mt-3"   @bind-Value="_Entity.BankAccountNumber" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"20\"}").Result))></Input>

<Input Id="CartNo" @ref="Ref_CartNo" Label="شماره کارت بانکی"  CssClass="mt-3"   @bind-Value="_Entity.CartNo" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"20\"}").Result))></Input>

<Input Id="IBAN" @ref="Ref_IBAN" Label="شبا بانکی"  CssClass="mt-3"   @bind-Value="_Entity.IBAN" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"26\"}").Result))></Input>

<Input Id="IsActive" @ref="Ref_IsActive" Label="فعال است؟"  CssClass="mt-3"   @bind-Value="_Entity.IsActive" type="checkbox"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-8">
    
<div class="">
    <div  class="">
    <div style="
    background: linear-gradient(135deg, #faf7f4, #f1ebe6);
    border-radius: 16px;
    padding: 22px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 6px 16px rgba(0,0,0,0.05);
">

    <!-- Animated Banking Cards Illustration (متحرک کارت‌های بانکی) -->
    <div style="flex: 0 0 180px; position: relative;">
        <svg viewBox="0 0 300 300" width="160" height="160" xmlns="http://www.w3.org/2000/svg">
            <!-- کارت بانکی اصلی (جلو می‌آد و می‌چرخه) -->
            <g id="main-card">
                <rect x="50" y="80" width="200" height="120" rx="15" fill="#4a90e2" stroke="#2c5aa0" stroke-width="4"/>
                <rect x="70" y="100" width="140" height="30" rx="6" fill="#5ba3f5"/>
                <text x="140" y="145" font-size="18" fill="#fff" font-family="sans-serif" text-anchor="middle">IR62 0100 ....</text>
                <circle cx="200" cy="165" r="20" fill="#ffd700"/>
                <rect x="70" y="170" width="80" height="12" rx="6" fill="#ccc"/>

                <!-- انیمیشن‌های SMIL -->
                <animateTransform attributeName="transform" type="translate" values="0,0; 20,-20; 0,0" dur="5s" repeatCount="indefinite"/>
                <animateTransform attributeName="transform" type="rotate" values="0 150 140; -8 150 140; 0 150 140" dur="5s" repeatCount="indefinite" additive="sum"/>
                <animateTransform attributeName="transform" type="scale" values="1; 1.15; 1" dur="5s" repeatCount="indefinite" additive="sum"/>
                <animate attributeName="opacity" values="0.8; 1; 0.8" dur="5s" repeatCount="indefinite"/>
            </g>

            <!-- کارت دوم (شناور در پشت) -->
            <g id="card2">
                <rect x="30" y="120" width="180" height="110" rx="15" fill="#e27d60" stroke="#b35640" stroke-width="4"/>
                <rect x="50" y="135" width="120" height="25" rx="5" fill="#f28e70"/>
                <text x="120" y="175" font-size="16" fill="#fff" font-family="sans-serif" text-anchor="middle">IR73 ....</text>
                <circle cx="170" cy="195" r="15" fill="#ffcc00"/>

                <animateTransform attributeName="transform" type="translate" values="0,0; -15,15; 0,0" dur="6s" repeatCount="indefinite"/>
                <animateTransform attributeName="transform" type="rotate" values="0 120 175; 10 120 175; 0 120 175" dur="6s" repeatCount="indefinite" additive="sum"/>
            </g>

            <!-- کارت سوم (کوچک‌تر و چرخشی) -->
            <g id="card3">
                <rect x="80" y="50" width="160" height="100" rx="12" fill="#85ad88" stroke="#5e8a60" stroke-width="3"/>
                <text x="160" y="100" font-size="14" fill="#fff" font-family="sans-serif" text-anchor="middle">Bank Card</text>

                <animateTransform attributeName="transform" type="rotate" values="0 160 100; 360 160 100" dur="12s" repeatCount="indefinite" additive="sum"/>
                <animateTransform attributeName="transform" type="translate" values="0,0; 0,-10; 0,0" dur="4s" repeatCount="indefinite"/>
            </g>

            <!-- افکت درخشش کلی -->
            <circle cx="150" cy="150" r="80" fill="none" stroke="#ffd700" stroke-width="2" opacity="0.3">
                <animate attributeName="r" values="70; 100; 70" dur="4s" repeatCount="indefinite"/>
                <animate attributeName="opacity" values="0.3; 0.6; 0.3" dur="4s" repeatCount="indefinite"/>
            </circle>
        </svg>
    </div>

    <!-- Guide Content -->
    <div style="flex: 1;">
        <h3 style="margin: 0 0 8px; font-size: 17px; font-weight: 700; color:#3a2d28;">
            راهنمای اطلاعات حساب بانکی
        </h3>

        <p style="margin: 0 0 14px; font-size: 13px; color:#6b5a52;">
            جهت جلوگیری از تأخیر در پرداخت، لطفاً اطلاعات بانکی را دقیق و مطابق مدارک رسمی وارد نمایید.
        </p>

        <ul style="padding-right: 18px; margin: 0; font-size: 13px; color:#4a3b35;">
            <li>نام بانک و شماره حساب الزامی است</li>
            <li>شماره شبا باید با <strong>IR</strong> شروع شود</li>
            <li>نام صاحب حساب باید با نام کارمند یکسان باشد</li>
        </ul>

        <div style="
            margin-top: 12px;
            font-size: 12px;
            color: #8a6d5c;
        ">
            ⚠️ مسئولیت صحت اطلاعات وارد شده بر عهده کارمند می‌باشد.
        </div>
    </div>

</div>
</div>

</div>

</div>

</div>

<div class="row ">
    
<div class="col-md-4">
    
</div>

<div class="col-md-4">
    
</div>

<div class="col-md-4">
    
</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_Base_BankAccount\",\"GetNameAs\":\"HR_Base_BankAccount\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"IBAN\",\"GetNameAs\":\"IBAN\"},{\"Name\":\"CartNo\",\"GetNameAs\":\"CartNo\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"HR_EMP_EmployeesId\",\"GetNameAs\":\"HR_EMP_EmployeesId\"},{\"Name\":\"BaseInfo_BankBranchesId\",\"GetNameAs\":\"BaseInfo_BankBranchesId\"},{\"Name\":\"BaseInfo_BankAccountTypeId\",\"GetNameAs\":\"BaseInfo_BankAccountTypeId\"},{\"Name\":\"BankAccountNumber\",\"GetNameAs\":\"BankAccountNumber\"},{\"Name\":\"BaseInfo_BankId\",\"GetNameAs\":\"BaseInfo_BankId\"}],\"Relation\":[{\"Name\":\"BaseInfo_BankAccountType\",\"GetNameAs\":\"BaseInfo_BankAccountType\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"HR_EMP_Employees\",\"GetNameAs\":\"HR_EMP_Employees\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"LastName\",\"GetNameAs\":\"LastName\"},{\"Name\":\"LastNameEn\",\"GetNameAs\":\"LastNameEn\"},{\"Name\":\"DeleteDateTime\",\"GetNameAs\":\"DeleteDateTime\"},{\"Name\":\"HR_EMP_StatusId\",\"GetNameAs\":\"HR_EMP_StatusId\"},{\"Name\":\"EmployeeLastPersonelNo\",\"GetNameAs\":\"EmployeeLastPersonelNo\"},{\"Name\":\"EmployeeNo\",\"GetNameAs\":\"EmployeeNo\"},{\"Name\":\"EmployeePersonelNo\",\"GetNameAs\":\"EmployeePersonelNo\"},{\"Name\":\"FirstName\",\"GetNameAs\":\"FirstName\"},{\"Name\":\"FirstNameEn\",\"GetNameAs\":\"FirstNameEn\"},{\"Name\":\"HR_Base_FactoryId\",\"GetNameAs\":\"HR_Base_FactoryId\"},{\"Name\":\"BaseInfo_ORG_CompaniesId\",\"GetNameAs\":\"BaseInfo_ORG_CompaniesId\"},{\"Name\":\"UserId\",\"GetNameAs\":\"UserId\"},{\"Name\":\"LastEmployeeNo\",\"GetNameAs\":\"LastEmployeeNo\"},{\"Name\":\"ProfilePicture\",\"GetNameAs\":\"ProfilePicture\"},{\"Name\":\"FullName\",\"GetNameAs\":\"FullName\"}],\"Relation\":[]},{\"Name\":\"BaseInfo_Bank\",\"GetNameAs\":\"BaseInfo_Bank\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"CNAPSE_Code\",\"GetNameAs\":\"CNAPSE_Code\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"ExtCode\",\"GetNameAs\":\"ExtCode\"},{\"Name\":\"BaseInfo_BankType\",\"GetNameAs\":\"BaseInfo_BankType\"}],\"Relation\":[]},{\"Name\":\"BaseInfo_BankBranches\",\"GetNameAs\":\"BaseInfo_BankBranches\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Address\",\"GetNameAs\":\"Address\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"BaseInfo_CitiesId\",\"GetNameAs\":\"BaseInfo_CitiesId\"},{\"Name\":\"BaseInfo_BanksId\",\"GetNameAs\":\"BaseInfo_BanksId\"},{\"Name\":\"BaseInfo_CitiesAreasId\",\"GetNameAs\":\"BaseInfo_CitiesAreasId\"}],\"Relation\":[]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_Base_BankAccount\",\"GetNameAs\":\"HR_Base_BankAccount\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"IBAN\",\"GetNameAs\":\"IBAN\"},{\"Name\":\"CartNo\",\"GetNameAs\":\"CartNo\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"HR_EMP_EmployeesId\",\"GetNameAs\":\"HR_EMP_EmployeesId\"},{\"Name\":\"BaseInfo_BankBranchesId\",\"GetNameAs\":\"BaseInfo_BankBranchesId\"},{\"Name\":\"BaseInfo_BankAccountTypeId\",\"GetNameAs\":\"BaseInfo_BankAccountTypeId\"},{\"Name\":\"BankAccountNumber\",\"GetNameAs\":\"BankAccountNumber\"},{\"Name\":\"BaseInfo_BankId\",\"GetNameAs\":\"BaseInfo_BankId\"}],\"Relation\":[]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.HR_Base_BankAccount>(Data);
        }
            }
            else
            {
                _Entity = new Entity.HR_Base_BankAccount();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.HR_Base_BankAccount>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
