@inherits Forms.Forms.Form_985_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="Shomaran_TransDetail_GridShomaran_TransId_727">TransDetail
   
    
</label>

<DxGrid @ref="Grid_Shomaran_TransDetail" Data="_Entity.Shomaran_TransDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingShomaran_TransDetail"
        DataItemDeleting="OnDataItemDeletingShomaran_TransDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="TransDetail"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_Shomaran_TransDetail"
        CustomizeElement="CustomizeRowsGrid_Shomaran_TransDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":727,\"FieldId\":727,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"Shomaran_TransDetail\",\"GridMainModel\":\"Shomaran_TransDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"TransDetail\",\"tableView\":true,\"key\":\"GridShomaran_TransId_727\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridShomaran_TransId_727\",\"modalEdit\":true,\"FieldUrl\":\"727?EId=727&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=Shomaran_TransDetail_GridShomaran_TransId_727ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_Shomaran_TransDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=Shomaran_TransDetail_GridShomaran_TransId_727ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_Shomaran_TransDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_Shomaran_TransDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار1"  FieldName="Amount" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار2"  FieldName="Amount2" />

<DxGridDataColumn  Caption="توضیحات ردیف"  FieldName="Note" />

<DxGridDataColumn Context="PartCode_" Caption="کد کالای پشت سیستمی" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderPartCode = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":727,\"FieldId\":30237,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":985,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_cardpart/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.desc}} {{item.partno}} {{item.partcode}} </span>\",\"FieldsTemplate\":[{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"desc,partcode\",\"modal\":true,\"label\":\"کد کالای پشت سیستمی\",\"tableView\":true,\"key\":\"PartCode\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30237?EId=727&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowPartCode = ((Entity.Shomaran_TransDetail)PartCode_.DataItem).PartCode;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowPartCode"   FieldName="PartCode" OnItemSelected="ItemSelected_Shomaran_TransDetailPartCode_Header" Component="HeaderPartCode">
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_TransDetailPartCode_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   PartCode

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="ردیابی"  FieldName="Radyabi" />

<DxGridDataColumn  Caption="سفارش کالا"  FieldName="Sefaresh" />

<DxGridDataColumn  Caption="ردیف دیتیل"  FieldName="RowOrder" />

<DxGridDataColumn DisplayFormat="0" Caption="سال"  FieldName="Year" />

<DxGridDataColumn Context="Shomaran_TransId_" Caption="جزئیات Trans" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderShomaran_TransId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":727,\"FieldId\":30242,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":985,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"Shomaran_Trans\",\"RelationParentModel\":\"Shomaran_Trans\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Shomaran_Trans/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"جزئیات Trans\",\"tableView\":true,\"key\":\"Shomaran_TransId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30242?EId=727&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowShomaran_TransId = ((Entity.Shomaran_TransDetail)Shomaran_TransId_.DataItem).Shomaran_TransId;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowShomaran_TransId"   FieldName="Shomaran_TransId" OnItemSelected="ItemSelected_Shomaran_TransDetailShomaran_TransId_Header" Component="HeaderShomaran_TransId">
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_TransDetailShomaran_TransId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Shomaran_TransId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextShomaran_TransDetail">
    @{
        Shomaran_TransDetail  = (Entity.Shomaran_TransDetail)EditFormContextShomaran_TransDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_Id" @ref="Ref_Shomaran_TransDetail_Id"   CssClass="d-none"   @bind-Value="Shomaran_TransDetail.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_RequestID" @ref="Ref_Shomaran_TransDetail_RequestID"      @bind-Value="Shomaran_TransDetail.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_CreateUser" @ref="Ref_Shomaran_TransDetail_CreateUser"      @bind-Value="Shomaran_TransDetail.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_UpdateUser" @ref="Ref_Shomaran_TransDetail_UpdateUser"      @bind-Value="Shomaran_TransDetail.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_CreateDate" @ref="Ref_Shomaran_TransDetail_CreateDate"   CssClass="d-none"   @bind-Value="Shomaran_TransDetail.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_UpdateDate" @ref="Ref_Shomaran_TransDetail_UpdateDate"   CssClass="d-none"   @bind-Value="Shomaran_TransDetail.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_IsDelete" @ref="Ref_Shomaran_TransDetail_IsDelete"   CssClass="d-none"   @bind-Value="Shomaran_TransDetail.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_Amount" @ref="Ref_Shomaran_TransDetail_Amount" Label="مقدار1"     @bind-Value="Shomaran_TransDetail.Amount" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_Amount2" @ref="Ref_Shomaran_TransDetail_Amount2" Label="مقدار2"     @bind-Value="Shomaran_TransDetail.Amount2" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_Note" @ref="Ref_Shomaran_TransDetail_Note" Label="توضیحات ردیف"     @bind-Value="Shomaran_TransDetail.Note" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_Shomaran_TransDetailPartCode = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":727,\"FieldId\":30237,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":985,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_cardpart/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.desc}} {{item.partno}} {{item.partcode}} </span>\",\"FieldsTemplate\":[{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"desc,partcode\",\"modal\":true,\"label\":\"کد کالای پشت سیستمی\",\"tableView\":true,\"key\":\"PartCode\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30237?EId=727&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=Shomaran_TransDetail_PartCode  @ref="Ref_Shomaran_TransDetail_PartCode" Label="کد کالای پشت سیستمی" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@Shomaran_TransDetail.PartCode" FieldName="PartCode" OnItemSelected="ItemSelected_Shomaran_TransDetailPartCode" Component="Component_Shomaran_TransDetailPartCode" _Entity="_Entity" _EntityRow=Shomaran_TransDetail>
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_TransDetailPartCode(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = Shomaran_TransDetail;

    Item.PartCode = Selected.partcode;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_Radyabi" @ref="Ref_Shomaran_TransDetail_Radyabi" Label="ردیابی"     @bind-Value="Shomaran_TransDetail.Radyabi" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_Sefaresh" @ref="Ref_Shomaran_TransDetail_Sefaresh" Label="سفارش کالا"     @bind-Value="Shomaran_TransDetail.Sefaresh" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_RowOrder" @ref="Ref_Shomaran_TransDetail_RowOrder" Label="ردیف دیتیل"     @bind-Value="Shomaran_TransDetail.RowOrder" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
    
<Input Id="Shomaran_TransDetail_Year" @ref="Ref_Shomaran_TransDetail_Year" Label="سال"     @bind-Value="Shomaran_TransDetail.Year" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_TransDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_Shomaran_TransDetailShomaran_TransId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":727,\"FieldId\":30242,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":985,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"Shomaran_Trans\",\"RelationParentModel\":\"Shomaran_Trans\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Shomaran_Trans/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"جزئیات Trans\",\"tableView\":true,\"key\":\"Shomaran_TransId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30242?EId=727&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=Shomaran_TransDetail_Shomaran_TransId  @ref="Ref_Shomaran_TransDetail_Shomaran_TransId" Label="جزئیات Trans" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@Shomaran_TransDetail.Shomaran_TransId" FieldName="Shomaran_TransId" OnItemSelected="ItemSelected_Shomaran_TransDetailShomaran_TransId" Component="Component_Shomaran_TransDetailShomaran_TransId" _Entity="_Entity" _EntityRow=Shomaran_TransDetail>
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_TransDetailShomaran_TransId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = Shomaran_TransDetail;

    Item.Shomaran_TransId = Selected.Id;


    

    
    }
} 

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextShomaran_TransDetail" CssClass="btn-modal-custom">
            <DxButton Id="Shomaran_TransDetail_GridShomaran_TransId_727ButtonSave" Click="@(() => SaveModalGrid_Shomaran_TransDetail(EditFormContextShomaran_TransDetail))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="Shomaran_TransDetail_GridShomaran_TransId_727ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_Shomaran_TransDetail(EditFormContextShomaran_TransDetail))" CssClass="btn btn-green" />


            <DxButton Id="Shomaran_TransDetail_GridShomaran_TransId_727ButtonCancel" Click="@(() => Grid_Shomaran_TransDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="Shomaran_TransDetail_GridShomaran_TransId_727ButtonBefore" Click="@(() => Dialog_Grid_Shomaran_TransDetail(0,IndexGrid_Shomaran_TransDetail,EditFormContextShomaran_TransDetail))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="Shomaran_TransDetail_GridShomaran_TransId_727ButtonNext" Click="@(() => Dialog_Grid_Shomaran_TransDetail(1,IndexGrid_Shomaran_TransDetail,EditFormContextShomaran_TransDetail))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownShomaran_TransDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_Shomaran_TransDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_Shomaran_TransDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationShomaran_TransDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonShomaran_TransDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonShomaran_TransDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_Shomaran_TransDetail;
    Entity.Shomaran_TransDetail Shomaran_TransDetail;
    bool ConfirmationShownShomaran_TransDetail { get; set; } = false;
    public Entity.Shomaran_TransDetail SelectedItemGrid_Shomaran_TransDetail { get; set; } = new Entity.Shomaran_TransDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_Shomaran_TransDetail { get; set; }

    ///////////////////////
    bool ConfirmationShomaran_TransDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateShomaran_TransDetail { get; set; }
    public int OpenDialogCodeShomaran_TransDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingShomaran_TransDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_Shomaran_TransDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_Shomaran_TransDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeShomaran_TransDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateShomaran_TransDetail = e;
    ConfirmationShomaran_TransDetail = true;
    }
    else
    {
    await OnNoButtonShomaran_TransDetail();
    }
}
async Task OnYesButtonShomaran_TransDetail()
{

    ConfirmationShomaran_TransDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateShomaran_TransDetail.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_Shomaran_TransDetail(_ContextFormTemplateShomaran_TransDetail.DataItem, _ContextFormTemplateShomaran_TransDetail.EditModel);
            await Grid_Shomaran_TransDetail.CancelEditAsync();
         await ChangePageGrid_Shomaran_TransDetail();
         await SetEditFormContextGrid_Shomaran_TransDetail();
         }
          
    }

}
async Task OnNoButtonShomaran_TransDetail()
{
    ConfirmationShomaran_TransDetail = false;
    await ChangePageGrid_Shomaran_TransDetail();
    await SetEditFormContextGrid_Shomaran_TransDetail();

}
async Task SetEditFormContextGrid_Shomaran_TransDetail()
{
    var e = (Entity.Shomaran_TransDetail)Grid_Shomaran_TransDetail.GetDataItem(IndexGrid_Shomaran_TransDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_Shomaran_TransDetail()
{
    int VisibleIndex = IndexGrid_Shomaran_TransDetail;
    try
    {
    if (OpenDialogCodeShomaran_TransDetail == 1)
    {
        if (VisibleIndex != (Grid_Shomaran_TransDetail.GetVisibleRowCount() - 1))
    { 
            Grid_Shomaran_TransDetail.CancelEditAsync();
            IndexGrid_Shomaran_TransDetail = VisibleIndex + 1;
    Grid_Shomaran_TransDetail.StartEditRowAsync(IndexGrid_Shomaran_TransDetail);
    }
    }
    else if (OpenDialogCodeShomaran_TransDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_Shomaran_TransDetail.CancelEditAsync();
            IndexGrid_Shomaran_TransDetail = VisibleIndex - 1;
    Grid_Shomaran_TransDetail.StartEditRowAsync(IndexGrid_Shomaran_TransDetail);
    }

    }
    var e = (Entity.Shomaran_TransDetail)Grid_Shomaran_TransDetail.GetDataItem(IndexGrid_Shomaran_TransDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_Shomaran_TransDetail()
{
    IndexGrid_Shomaran_TransDetail = Grid_Shomaran_TransDetail.GetVisibleRowCount();
Grid_Shomaran_TransDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.Shomaran_TransDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_Shomaran_TransDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_Shomaran_TransDetail = Context.VisibleIndex;
Grid_Shomaran_TransDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.Shomaran_TransDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_Shomaran_TransDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_Shomaran_TransDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_Shomaran_TransDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_Shomaran_TransDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_Shomaran_TransDetail();

    }
          
    }
   
}

void PerviousPageGrid_Shomaran_TransDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_Shomaran_TransDetail.CancelEditAsync();
        IndexGrid_Shomaran_TransDetail = VisibleIndex - 1;
         Grid_Shomaran_TransDetail.StartEditRowAsync(IndexGrid_Shomaran_TransDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_Shomaran_TransDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_Shomaran_TransDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_Shomaran_TransDetail ");
    try
    {
Grid_Shomaran_TransDetail.CancelEditAsync();
        IndexGrid_Shomaran_TransDetail = VisibleIndex + 1;
         Grid_Shomaran_TransDetail.StartEditRowAsync(IndexGrid_Shomaran_TransDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_Shomaran_TransDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.Shomaran_TransDetail;
    var MainModel = (Entity.Shomaran_TransDetail)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.Shomaran_TransDetail)EditModel).Id;
MainModel.RequestID = ((Entity.Shomaran_TransDetail)EditModel).RequestID;
MainModel.CreateUser = ((Entity.Shomaran_TransDetail)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.Shomaran_TransDetail)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.Shomaran_TransDetail)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.Shomaran_TransDetail)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.Shomaran_TransDetail)EditModel).IsDelete;
MainModel.Amount = ((Entity.Shomaran_TransDetail)EditModel).Amount;
MainModel.Amount2 = ((Entity.Shomaran_TransDetail)EditModel).Amount2;
MainModel.Note = ((Entity.Shomaran_TransDetail)EditModel).Note;
MainModel.PartCode = ((Entity.Shomaran_TransDetail)EditModel).PartCode;
MainModel.Radyabi = ((Entity.Shomaran_TransDetail)EditModel).Radyabi;
MainModel.Sefaresh = ((Entity.Shomaran_TransDetail)EditModel).Sefaresh;
MainModel.RowOrder = ((Entity.Shomaran_TransDetail)EditModel).RowOrder;
MainModel.Year = ((Entity.Shomaran_TransDetail)EditModel).Year;
MainModel.Shomaran_TransId = ((Entity.Shomaran_TransDetail)EditModel).Shomaran_TransId;

    }
    else
    {
    ListEntity.Add((Entity.Shomaran_TransDetail)EditModel);
    }
}

async Task OnDataItemDeletingShomaran_TransDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.Shomaran_TransDetail;
    ListEntity.Remove((Entity.Shomaran_TransDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_Shomaran_TransDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_Shomaran_TransDetail = (ex.DataItem as Entity.Shomaran_TransDetail);
    var e =SelectedItemGrid_Shomaran_TransDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownShomaran_TransDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_Shomaran_TransDetail ()
{
       if (SelectedItemGrid_Shomaran_TransDetail != null)
    {
      if (SelectedItemGrid_Shomaran_TransDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.Shomaran_TransDetail;
        ListEntity.Remove((Entity.Shomaran_TransDetail)SelectedItemGrid_Shomaran_TransDetail);
     
      }
      else
      {
        var cleanModel = new Entity.Shomaran_TransDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.Shomaran_TransDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_Shomaran_TransDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_Shomaran_TransDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_Shomaran_TransDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_Shomaran_TransDetail;
    
    Grid_Shomaran_TransDetail.Reload();
    ConfirmationShownShomaran_TransDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_Shomaran_TransDetail ()
{
    ConfirmationShownShomaran_TransDetail = false;
}

void CustomizeRowsGrid_Shomaran_TransDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.Shomaran_TransDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_Shomaran_TransDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.Shomaran_TransDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_Shomaran_TransDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_Shomaran_TransDetail(GridRowClickEventArgs e)
{

}
}

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Creator" @ref="Ref_Creator" Label="ایجاد کننده"     @bind-Value="_Entity.Creator" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="FactDate" @ref="Ref_FactDate" Label="تاریخ"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.FactDate" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_Shomaran_TransSInvCode = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"Trans\",\"primaryKey\":false,\"EntityID\":726,\"FieldId\":30221,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":985,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_INV/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"INVCODE\",\"template\":\"<span>{{item.INVNAME}} {{item.INVCODE}} </span>\",\"FieldsTemplate\":[{\"key\":\"INVNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"INVCODE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"INVNAME,INVCODE\",\"modal\":true,\"label\":\"کد انبار مبدا\",\"tableView\":true,\"key\":\"SInvCode\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30221?EId=726&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SInvCode  @ref="Ref_SInvCode" Label="کد انبار مبدا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.SInvCode" FieldName="SInvCode" OnItemSelected="ItemSelected_Shomaran_TransSInvCode" Component="Component_Shomaran_TransSInvCode" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_TransSInvCode(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.SInvCode = Selected.INVCODE;


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_Shomaran_TransTInvCode = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"Trans\",\"primaryKey\":false,\"EntityID\":726,\"FieldId\":30222,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":985,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_INV/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"INVCODE\",\"template\":\"<span>{{item.INVNAME}} {{item.INVCODE}} </span>\",\"FieldsTemplate\":[{\"key\":\"INVNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"INVCODE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"INVNAME,INVCODE\",\"modal\":true,\"label\":\"کد انبار مقصد\",\"tableView\":true,\"key\":\"TInvCode\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30222?EId=726&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=TInvCode  @ref="Ref_TInvCode" Label="کد انبار مقصد" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.TInvCode" FieldName="TInvCode" OnItemSelected="ItemSelected_Shomaran_TransTInvCode" Component="Component_Shomaran_TransTInvCode" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_TransTInvCode(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.TInvCode = Selected.INVCODE;


    

    
    }
} 

<Input Id="TDesc" @ref="Ref_TDesc" Label="توضیحات در فرم"     @bind-Value="_Entity.TDesc" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="TempNo" @ref="Ref_TempNo" Label="شماره عطف"     @bind-Value="_Entity.TempNo" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="WUser" @ref="Ref_WUser" Label="کاربر ثبت کننده"     @bind-Value="_Entity.WUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Year" @ref="Ref_Year" Label="سال"     @bind-Value="_Entity.Year" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"Shomaran_Trans\",\"GetNameAs\":\"Shomaran_Trans\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Creator\",\"GetNameAs\":\"Creator\"},{\"Name\":\"FactDate\",\"GetNameAs\":\"FactDate\"},{\"Name\":\"SInvCode\",\"GetNameAs\":\"SInvCode\"},{\"Name\":\"TInvCode\",\"GetNameAs\":\"TInvCode\"},{\"Name\":\"TDesc\",\"GetNameAs\":\"TDesc\"},{\"Name\":\"TempNo\",\"GetNameAs\":\"TempNo\"},{\"Name\":\"WUser\",\"GetNameAs\":\"WUser\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"}],\"Relation\":[{\"Name\":\"Shomaran_TransDetail\",\"GetNameAs\":\"Shomaran_TransDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Shomaran_TransId\",\"GetNameAs\":\"Shomaran_TransId\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Amount\",\"GetNameAs\":\"Amount\"},{\"Name\":\"Amount2\",\"GetNameAs\":\"Amount2\"},{\"Name\":\"Note\",\"GetNameAs\":\"Note\"},{\"Name\":\"PartCode\",\"GetNameAs\":\"PartCode\"},{\"Name\":\"Radyabi\",\"GetNameAs\":\"Radyabi\"},{\"Name\":\"Sefaresh\",\"GetNameAs\":\"Sefaresh\"},{\"Name\":\"RowOrder\",\"GetNameAs\":\"RowOrder\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"}],\"Relation\":[{\"Name\":\"Shomaran_Trans\",\"GetNameAs\":\"Shomaran_Trans\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Creator\",\"GetNameAs\":\"Creator\"},{\"Name\":\"FactDate\",\"GetNameAs\":\"FactDate\"},{\"Name\":\"SInvCode\",\"GetNameAs\":\"SInvCode\"},{\"Name\":\"TInvCode\",\"GetNameAs\":\"TInvCode\"},{\"Name\":\"TDesc\",\"GetNameAs\":\"TDesc\"},{\"Name\":\"TempNo\",\"GetNameAs\":\"TempNo\"},{\"Name\":\"WUser\",\"GetNameAs\":\"WUser\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"FactNo\",\"GetNameAs\":\"FactNo\"},{\"Name\":\"Note\",\"GetNameAs\":\"Note\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"},{\"Name\":\"Trans_List\",\"GetNameAs\":\"Trans_List\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"Shomaran_Trans\",\"GetNameAs\":\"Shomaran_Trans\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Creator\",\"GetNameAs\":\"Creator\"},{\"Name\":\"FactDate\",\"GetNameAs\":\"FactDate\"},{\"Name\":\"SInvCode\",\"GetNameAs\":\"SInvCode\"},{\"Name\":\"TInvCode\",\"GetNameAs\":\"TInvCode\"},{\"Name\":\"TDesc\",\"GetNameAs\":\"TDesc\"},{\"Name\":\"TempNo\",\"GetNameAs\":\"TempNo\"},{\"Name\":\"WUser\",\"GetNameAs\":\"WUser\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"}],\"Relation\":[{\"Name\":\"Shomaran_TransDetail\",\"GetNameAs\":\"Shomaran_TransDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Shomaran_TransId\",\"GetNameAs\":\"Shomaran_TransId\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Amount\",\"GetNameAs\":\"Amount\"},{\"Name\":\"Amount2\",\"GetNameAs\":\"Amount2\"},{\"Name\":\"Note\",\"GetNameAs\":\"Note\"},{\"Name\":\"PartCode\",\"GetNameAs\":\"PartCode\"},{\"Name\":\"Radyabi\",\"GetNameAs\":\"Radyabi\"},{\"Name\":\"Sefaresh\",\"GetNameAs\":\"Sefaresh\"},{\"Name\":\"RowOrder\",\"GetNameAs\":\"RowOrder\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.Shomaran_Trans>(Data);
        }
            }
            else
            {
                _Entity = new Entity.Shomaran_Trans();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.Shomaran_Trans>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
