@inherits Forms.Forms.Form_507_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="FU_FU_Files_GridFU_FU_MainId_185">بارگذاری فایل
   
    
</label>

<DxGrid @ref="Grid_FU_FU_Files" Data="_Entity.FU_FU_Files" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingFU_FU_Files"
        DataItemDeleting="OnDataItemDeletingFU_FU_Files"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="بارگذاری فایل"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_FU_FU_Files"
        CustomizeElement="CustomizeRowsGrid_FU_FU_Files" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":185,\"FieldId\":185,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"FU_FU_Files\",\"GridMainModel\":\"FU_FU_Files\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"بارگذاری فایل\",\"tableView\":true,\"key\":\"GridFU_FU_MainId_185\",\"type\":\"datagrid\",\"input\":true,\"modalEdit\":true,\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":false,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=FU_FU_Files_GridFU_FU_MainId_185ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_FU_FU_Files())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=FU_FU_Files_GridFU_FU_MainId_185ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_FU_FU_Files(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn  Caption="عنوان فایل"  FieldName="FileTitle" />

<DxGridDataColumn Context="FU_FU_Files_FileUpload_" Caption="بارگذاری فایل" >
    <CellDisplayTemplate>
      
@{
    var FU_FU_Files_FU_FU_Files_FileUpload = (Entity.FU_FU_Files)FU_FU_Files_FileUpload_.DataItem;
}
@foreach (var item_FU_FU_Files in FU_FU_Files_FU_FU_Files_FileUpload.FU_FU_Files_FileUpload.Where(p=>!p.IsDelete.HasValue || !p.IsDelete.Value))
{

    <div class="bg-lightblue rounded p-1 d-inline-block m-1">
        <span>@item_FU_FU_Files.originalName</span>
        <hr class="hrdash mt-1 mb-0">
        <div class="btn-group align-items-center">
            <button type="button" class="btn btn-sm text-yellow p-0" onclick="ShowImageNewTab('@item_FU_FU_Files.url')">@languageContainer.Keys["DXGrid:View"]</button>
            <a href="@item_FU_FU_Files.url" class="btn btn-sm text-green p-0">@languageContainer.Keys["DXGrid:Download"]</a>
        </div>
    </div>
}


    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextFU_FU_Files">
    @{
        FU_FU_Files  = (Entity.FU_FU_Files)EditFormContextFU_FU_Files.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFU_FU_Files">
    
<Input Id="FU_FU_Files_Id" @ref="Ref_FU_FU_Files_Id"   CssClass="d-none"   @bind-Value="FU_FU_Files.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFU_FU_Files">
    
<Input Id="FU_FU_Files_RequestID" @ref="Ref_FU_FU_Files_RequestID"      @bind-Value="FU_FU_Files.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFU_FU_Files">
    
<Input Id="FU_FU_Files_CreateUser" @ref="Ref_FU_FU_Files_CreateUser"      @bind-Value="FU_FU_Files.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFU_FU_Files">
    
<Input Id="FU_FU_Files_UpdateUser" @ref="Ref_FU_FU_Files_UpdateUser"      @bind-Value="FU_FU_Files.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFU_FU_Files">
    
<Input Id="FU_FU_Files_CreateDate" @ref="Ref_FU_FU_Files_CreateDate"   CssClass="d-none"   @bind-Value="FU_FU_Files.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFU_FU_Files">
    
<Input Id="FU_FU_Files_UpdateDate" @ref="Ref_FU_FU_Files_UpdateDate"   CssClass="d-none"   @bind-Value="FU_FU_Files.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFU_FU_Files">
    
<Input Id="FU_FU_Files_IsDelete" @ref="Ref_FU_FU_Files_IsDelete"   CssClass="d-none"   @bind-Value="FU_FU_Files.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFU_FU_Files">
    
<Input Id="FU_FU_Files_FileTitle" @ref="Ref_FU_FU_Files_FileTitle" Label="عنوان فایل" placeholder="عنوان فایل"    @bind-Value="FU_FU_Files.FileTitle" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFU_FU_Files">
    <Uploader Id=FU_FU_Files_FU_FU_Files_FileUpload  @ref="Ref_FU_FU_Files_FU_FU_Files_FileUpload"   Accept="image/* , application/pdf" MinSize="1KB" MaxSize="10MB" Caption="بارگذاری فایل" Data="FU_FU_Files.FU_FU_Files_FileUpload" Url="https://File.workcv.ir/fa/api/v1/File/Post" TItem="Entity.FU_FU_Files_FileUpload"></Uploader>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextFU_FU_Files" CssClass="btn-modal-custom">
            <DxButton Id="FU_FU_Files_GridFU_FU_MainId_185ButtonSave" Click="@(() => SaveModalGrid_FU_FU_Files(EditFormContextFU_FU_Files))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="FU_FU_Files_GridFU_FU_MainId_185ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_FU_FU_Files(EditFormContextFU_FU_Files))" CssClass="btn btn-green" />


            <DxButton Id="FU_FU_Files_GridFU_FU_MainId_185ButtonCancel" Click="@(() => Grid_FU_FU_Files.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="FU_FU_Files_GridFU_FU_MainId_185ButtonBefore" Click="@(() => Dialog_Grid_FU_FU_Files(0,IndexGrid_FU_FU_Files,EditFormContextFU_FU_Files))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="FU_FU_Files_GridFU_FU_MainId_185ButtonNext" Click="@(() => Dialog_Grid_FU_FU_Files(1,IndexGrid_FU_FU_Files,EditFormContextFU_FU_Files))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownFU_FU_Files" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_FU_FU_Files" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_FU_FU_Files" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationFU_FU_Files" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonFU_FU_Files" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonFU_FU_Files" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_FU_FU_Files;
    Entity.FU_FU_Files FU_FU_Files;
    bool ConfirmationShownFU_FU_Files { get; set; } = false;
    public Entity.FU_FU_Files SelectedItemGrid_FU_FU_Files { get; set; } = new Entity.FU_FU_Files();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_FU_FU_Files { get; set; }

    ///////////////////////
    bool ConfirmationFU_FU_Files { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateFU_FU_Files { get; set; }
    public int OpenDialogCodeFU_FU_Files { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingFU_FU_Files(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_FU_FU_Files(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_FU_FU_Files(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeFU_FU_Files = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateFU_FU_Files = e;
    ConfirmationFU_FU_Files = true;
    }
    else
    {
    await OnNoButtonFU_FU_Files();
    }
}
async Task OnYesButtonFU_FU_Files()
{

    ConfirmationFU_FU_Files = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateFU_FU_Files.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_FU_FU_Files(_ContextFormTemplateFU_FU_Files.DataItem, _ContextFormTemplateFU_FU_Files.EditModel);
            await Grid_FU_FU_Files.CancelEditAsync();
         await ChangePageGrid_FU_FU_Files();
         await SetEditFormContextGrid_FU_FU_Files();
         }
          
    }

}
async Task OnNoButtonFU_FU_Files()
{
    ConfirmationFU_FU_Files = false;
    await ChangePageGrid_FU_FU_Files();
    await SetEditFormContextGrid_FU_FU_Files();

}
async Task SetEditFormContextGrid_FU_FU_Files()
{
    var e = (Entity.FU_FU_Files)Grid_FU_FU_Files.GetDataItem(IndexGrid_FU_FU_Files);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_FU_FU_Files()
{
    int VisibleIndex = IndexGrid_FU_FU_Files;
    try
    {
    if (OpenDialogCodeFU_FU_Files == 1)
    {
        if (VisibleIndex != (Grid_FU_FU_Files.GetVisibleRowCount() - 1))
    { 
            Grid_FU_FU_Files.CancelEditAsync();
            IndexGrid_FU_FU_Files = VisibleIndex + 1;
    Grid_FU_FU_Files.StartEditRowAsync(IndexGrid_FU_FU_Files);
    }
    }
    else if (OpenDialogCodeFU_FU_Files == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_FU_FU_Files.CancelEditAsync();
            IndexGrid_FU_FU_Files = VisibleIndex - 1;
    Grid_FU_FU_Files.StartEditRowAsync(IndexGrid_FU_FU_Files);
    }

    }
    var e = (Entity.FU_FU_Files)Grid_FU_FU_Files.GetDataItem(IndexGrid_FU_FU_Files);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_FU_FU_Files()
{
    IndexGrid_FU_FU_Files = Grid_FU_FU_Files.GetVisibleRowCount();
Grid_FU_FU_Files.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.FU_FU_Files();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_FU_FU_Files(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_FU_FU_Files = Context.VisibleIndex;
Grid_FU_FU_Files.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.FU_FU_Files)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_FU_FU_Files(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_FU_FU_Files(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_FU_FU_Files(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_FU_FU_Files(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_FU_FU_Files();

    }
          
    }
   
}

void PerviousPageGrid_FU_FU_Files(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_FU_FU_Files.CancelEditAsync();
        IndexGrid_FU_FU_Files = VisibleIndex - 1;
         Grid_FU_FU_Files.StartEditRowAsync(IndexGrid_FU_FU_Files);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_FU_FU_Files(int VisibleIndex)
{

    if (VisibleIndex == Grid_FU_FU_Files.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_FU_FU_Files ");
    try
    {
Grid_FU_FU_Files.CancelEditAsync();
        IndexGrid_FU_FU_Files = VisibleIndex + 1;
         Grid_FU_FU_Files.StartEditRowAsync(IndexGrid_FU_FU_Files);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_FU_FU_Files(object DataItem, object EditModel)
{
    var ListEntity = _Entity.FU_FU_Files;
    var MainModel = (Entity.FU_FU_Files)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.FU_FU_Files)EditModel).Id;
MainModel.RequestID = ((Entity.FU_FU_Files)EditModel).RequestID;
MainModel.CreateUser = ((Entity.FU_FU_Files)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.FU_FU_Files)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.FU_FU_Files)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.FU_FU_Files)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.FU_FU_Files)EditModel).IsDelete;
MainModel.FileTitle = ((Entity.FU_FU_Files)EditModel).FileTitle;

    }
    else
    {
    ListEntity.Add((Entity.FU_FU_Files)EditModel);
    }
}

async Task OnDataItemDeletingFU_FU_Files(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.FU_FU_Files;
    ListEntity.Remove((Entity.FU_FU_Files)e.DataItem);
}
async void OnDeleteButtonClickGrid_FU_FU_Files (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_FU_FU_Files = (ex.DataItem as Entity.FU_FU_Files);
    var e =SelectedItemGrid_FU_FU_Files;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownFU_FU_Files = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_FU_FU_Files ()
{
       if (SelectedItemGrid_FU_FU_Files != null)
    {
      if (SelectedItemGrid_FU_FU_Files.Id == Guid.Empty)
      {
          var ListEntity = _Entity.FU_FU_Files;
        ListEntity.Remove((Entity.FU_FU_Files)SelectedItemGrid_FU_FU_Files);
     
      }
      else
      {
        var cleanModel = new Entity.FU_FU_Files();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.FU_FU_Files).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_FU_FU_Files);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_FU_FU_Files, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_FU_FU_Files._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_FU_FU_Files;
    
    Grid_FU_FU_Files.Reload();
    ConfirmationShownFU_FU_Files = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_FU_FU_Files ()
{
    ConfirmationShownFU_FU_Files = false;
}

void CustomizeRowsGrid_FU_FU_Files(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.FU_FU_Files)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_FU_FU_Files(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.FU_FU_Files)e.EditModel;

     

    }


}
public async void RowClickGrid_FU_FU_Files(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_FU_FU_Files(GridRowClickEventArgs e)
{

}
}

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="SystemCreatedUser" @ref="Ref_SystemCreatedUser" Label="کاربر"     @bind-Value="_Entity.SystemCreatedUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"FU_FU_Main\",\"GetNameAs\":\"FU_FU_Main\",\"Column\":[{\"Name\":\"SystemCreatedUser\",\"GetNameAs\":\"SystemCreatedUser\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}],\"Relation\":[{\"Name\":\"FU_FU_Files\",\"GetNameAs\":\"FU_FU_Files\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"FileTitle\",\"GetNameAs\":\"FileTitle\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}],\"Relation\":[{\"Name\":\"FU_FU_Files_FileUpload\",\"GetNameAs\":\"FU_FU_Files_FileUpload\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"FU_FU_FilesId\",\"GetNameAs\":\"FU_FU_FilesId\"},{\"Name\":\"storage\",\"GetNameAs\":\"storage\"},{\"Name\":\"name\",\"GetNameAs\":\"name\"},{\"Name\":\"url\",\"GetNameAs\":\"url\"},{\"Name\":\"size\",\"GetNameAs\":\"size\"},{\"Name\":\"type\",\"GetNameAs\":\"type\"},{\"Name\":\"originalName\",\"GetNameAs\":\"originalName\"},{\"Name\":\"hash\",\"GetNameAs\":\"hash\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"FU_FU_Main\",\"GetNameAs\":\"FU_FU_Main\",\"Column\":[{\"Name\":\"SystemCreatedUser\",\"GetNameAs\":\"SystemCreatedUser\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}],\"Relation\":[{\"Name\":\"FU_FU_Files\",\"GetNameAs\":\"FU_FU_Files\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"FileTitle\",\"GetNameAs\":\"FileTitle\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}],\"Relation\":[{\"Name\":\"FU_FU_Files_FileUpload\",\"GetNameAs\":\"FU_FU_Files_FileUpload\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"FU_FU_FilesId\",\"GetNameAs\":\"FU_FU_FilesId\"},{\"Name\":\"storage\",\"GetNameAs\":\"storage\"},{\"Name\":\"name\",\"GetNameAs\":\"name\"},{\"Name\":\"url\",\"GetNameAs\":\"url\"},{\"Name\":\"size\",\"GetNameAs\":\"size\"},{\"Name\":\"type\",\"GetNameAs\":\"type\"},{\"Name\":\"originalName\",\"GetNameAs\":\"originalName\"},{\"Name\":\"hash\",\"GetNameAs\":\"hash\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}]}]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.FU_FU_Main>(Data);
        }
            }
            else
            {
                _Entity = new Entity.FU_FU_Main();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//
_Entity.SystemCreatedUser = _RequestParameters.UserStarterFullName;


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.FU_FU_Main>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
