@inherits Forms.Forms.Form_974Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.ORM
@using Castle.DynamicLinqQueryBuilder
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Forms
@using Utility
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
<style>
    /* ************************************************** */
.detailArea form div:not(.devdrop) {
    margin-top: .1rem;
}

/* ************************************************** */
.header-form {
    height: 100px;
    background: linear-gradient(96deg, #0d3b66, #6a0dad);
    color: white;
    border-bottom: 2px solid #ffffff33;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.header-icon {
    font-size: 56px;
    color: #ffccff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-icon:hover {
    transform: scale(1.1) rotate(-5deg);
    color: #f5baff;
}

.header-title {
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-subtitle {
    font-size: 14px;
    opacity: 0.95;
    transition: opacity 0.3s ease;
}

.header-text:hover .header-title {
    color: #ffe0ff;
}

.header-text:hover .header-subtitle {
    opacity: 1;
}

/* ********** */

.col_bg1 {
    border: 1px dashed rgba(99, 100, 102, 0.3);
    background-color: rgba(189, 193, 196, 0.488);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0.1rem !important;
    /*align-items: baseline;*/
}

.col_bg1:hover {
    /* background-color: rgba(255, 193, 7, 0.03);
  border-color: rgba(255, 193, 7, 0.5);*/
}


.col_bg {
    /* border: 1px dashed rgba(88, 89, 104, 0.5);*/
    /* طوسی خط‌چین */
    background: #DEDED1;
    /* background-color: #DEDED1; */
    /* طوسی خیلی روشن */
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0.1rem !important;
}

/* حذف کامل هاور */
.col_bg:hover {
    /* خالی بماند تا هیچ تغییری نکند */
}
</style>

<div class="@(ReadOnly?"FormReadOnly":"")">


    <span class="d-none">VersionForm:@VersionForm</span>

    <div class="formListi mt-3">
        <div class="masterArea">
            <div class="p-2 cardbox">

                @*فیلد های مستر اگه نیاز شد اینجا قرار گیرد *@


                <Form_974_Filter @ref="RefListFilter" OnSearch="@(f => SearchFilter(f))" _RequestParameters="@_RequestParameters" _CartablesParameters="@_CartablesParameters"></Form_974_Filter>


                <div class="gridArea">

                    @*
                    فیلتر و گرید با یک لیست داده کار میکنند
                    *@

                    <label for="Shomaran_DepoIn_Shomaran_DepoIn">دریافت کالا پس از تغییر از سازنده
   
    
</label>

<DxGrid @ref="Grid_Shomaran_DepoIn" Data="_Entity" KeyFieldName="_Id" 
        EditModelSaving="OnEditModelSavingShomaran_DepoIn"
        DataItemDeleting="OnDataItemDeletingShomaran_DepoIn"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="دریافت کالا پس از تغییر از سازنده"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_Shomaran_DepoIn"
        CustomizeElement="CustomizeRowsGrid_Shomaran_DepoIn" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":716,\"FieldId\":0,\"ViewId\":974,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"Shomaran_DepoIn\",\"GridMainModel\":\"Shomaran_DepoIn\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"modal\":true,\"StartCustomDataGrid\":true,\"label\":\"دریافت کالا پس از تغییر از سازنده\",\"tableView\":false,\"key\":\"Shomaran_DepoIn\",\"type\":\"datagrid\",\"input\":true,\"modalEdit\":false,\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=Shomaran_DepoIn_Shomaran_DepoInButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_Shomaran_DepoIn())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=Shomaran_DepoIn_Shomaran_DepoInButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_Shomaran_DepoIn(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_Shomaran_DepoIn(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار دریافتی"  FieldName="Amount" />

<DxGridDataColumn  Caption="شماره"  FieldName="RecNo" />

<DxGridDataColumn  Caption="تاریخ"  FieldName="RecDate" />

<DxGridDataColumn Context="InvCode_" Caption="نام انبار" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderInvCode = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":716,\"FieldId\":30074,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":974,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_INV/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"INVCODE\",\"template\":\"<span>{{item.INVNAME}} {{item.INVCODE}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"INVNAME,INVCODE\",\"disabled\":false,\"modal\":true,\"label\":\"نام انبار\",\"tableView\":true,\"key\":\"InvCode\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30074?EId=716&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowInvCode = ((Entity.Shomaran_DepoIn)InvCode_.DataItem).InvCode;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowInvCode"   FieldName="InvCode" OnItemSelected="ItemSelected_Shomaran_DepoInInvCode_Header" Component="HeaderInvCode">
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoInInvCode_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   InvCode

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="Product_" Caption="تولیدی1 یا غیر تولیدی2" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProduct = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":716,\"FieldId\":30075,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":974,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/View_product/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.code}} {{item.title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"تولیدی1 یا غیر تولیدی2\",\"tableView\":true,\"key\":\"Product\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30075?EId=716&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowProduct = ((Entity.Shomaran_DepoIn)Product_.DataItem).Product;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowProduct"   FieldName="Product" OnItemSelected="ItemSelected_Shomaran_DepoInProduct_Header" Component="HeaderProduct">
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoInProduct_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Product

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="QC_" Caption="کنترل کیفی است یا خیر" >
    <CellDisplayTemplate>
       
@{
    var Shomaran_DepoIn_QC = ((Entity.Shomaran_DepoIn)QC_.DataItem).QC;
}

<p class="text-center " hidden="@(Shomaran_DepoIn_QC !=null ? !Shomaran_DepoIn_QC : true)">بله</p>

<p class="text-center" hidden="@(Shomaran_DepoIn_QC !=null ? Shomaran_DepoIn_QC : true)">خیر</p>


    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="Receipt_" Caption="سازنده" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderReceipt = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":716,\"FieldId\":30077,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":974,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_person/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.code}} {{item.name}} {{item.HOMEADDR}} {{item.WORKADDR}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"code,name\",\"disabled\":false,\"modal\":true,\"label\":\"سازنده\",\"tableView\":true,\"key\":\"Receipt\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30077?EId=716&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowReceipt = ((Entity.Shomaran_DepoIn)Receipt_.DataItem).Receipt;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowReceipt"   FieldName="Receipt" OnItemSelected="ItemSelected_Shomaran_DepoInReceipt_Header" Component="HeaderReceipt">
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoInReceipt_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Receipt

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="شماره عطف"  FieldName="TempNo" />

<DxGridDataColumn DisplayFormat="0" Caption="سال"  FieldName="Year" />

<DxGridDataColumn Context="PartCode_" Caption="کالای دریافتی" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderPartCode = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":716,\"FieldId\":30073,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":974,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_cardpart/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.desc}} {{item.partno}} {{item.partcode}} </span>\",\"FieldsTemplate\":[{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,desc,partno\",\"disabled\":false,\"modal\":true,\"label\":\"کالای دریافتی\",\"tableView\":true,\"key\":\"PartCode\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30073?EId=716&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowPartCode = ((Entity.Shomaran_DepoIn)PartCode_.DataItem).PartCode;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowPartCode"   FieldName="PartCode" OnItemSelected="ItemSelected_Shomaran_DepoInPartCode_Header" Component="HeaderPartCode">
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoInPartCode_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   PartCode

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="ApiResult"  FieldName="ApiResult" />

<DxGridDataColumn  Caption="توضیحات"  FieldName="Description" />

<DxGridDataColumn  Caption="تنظیم کننده"  FieldName="Creator" />

<DxGridDataColumn Context="Outsourcing_List_" Caption="فهرست اصلی ارسال کالا به سازنده" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderOutsourcing_List = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":716,\"FieldId\":30863,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":974,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_DEPO_IN_DTL/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DataGrid\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"RECNO\",\"template\":\"<span>{{item.PRODUCT}} {{item.RECNO}} {{item.RECDATE}} {{item.TEMPNO}} </span>\",\"FieldsTemplate\":[{\"key\":\"PRODUCT\",\"value\":\"nvarchar(Max)\"},{\"key\":\"RECNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"RECDATE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TEMPNO\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"RECNO,TEMPNO\",\"disabled\":false,\"modal\":true,\"label\":\"فهرست اصلی ارسال کالا به سازنده\",\"tableView\":true,\"key\":\"Outsourcing_List\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30863?EId=716&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowOutsourcing_List = ((Entity.Shomaran_DepoIn)Outsourcing_List_.DataItem).Outsourcing_List;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowOutsourcing_List"   FieldName="Outsourcing_List" OnItemSelected="ItemSelected_Shomaran_DepoInOutsourcing_List_Header" Component="HeaderOutsourcing_List">
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoInOutsourcing_List_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Outsourcing_List

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    
</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownShomaran_DepoIn" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_Shomaran_DepoIn" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_Shomaran_DepoIn" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationShomaran_DepoIn" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonShomaran_DepoIn" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonShomaran_DepoIn" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_Shomaran_DepoIn;
    Entity.Shomaran_DepoIn Shomaran_DepoIn;
    bool ConfirmationShownShomaran_DepoIn { get; set; } = false;
    public Entity.Shomaran_DepoIn SelectedItemGrid_Shomaran_DepoIn { get; set; } = new Entity.Shomaran_DepoIn();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_Shomaran_DepoIn { get; set; }

    ///////////////////////
    bool ConfirmationShomaran_DepoIn { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateShomaran_DepoIn { get; set; }
    public int OpenDialogCodeShomaran_DepoIn { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingShomaran_DepoIn(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_Shomaran_DepoIn(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_Shomaran_DepoIn(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeShomaran_DepoIn = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateShomaran_DepoIn = e;
    ConfirmationShomaran_DepoIn = true;
    }
    else
    {
    await OnNoButtonShomaran_DepoIn();
    }
}
async Task OnYesButtonShomaran_DepoIn()
{

    ConfirmationShomaran_DepoIn = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateShomaran_DepoIn.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_Shomaran_DepoIn(_ContextFormTemplateShomaran_DepoIn.DataItem, _ContextFormTemplateShomaran_DepoIn.EditModel);
            await Grid_Shomaran_DepoIn.CancelEditAsync();
         await ChangePageGrid_Shomaran_DepoIn();
         await SetEditFormContextGrid_Shomaran_DepoIn();
         }
          
    }

}
async Task OnNoButtonShomaran_DepoIn()
{
    ConfirmationShomaran_DepoIn = false;
    await ChangePageGrid_Shomaran_DepoIn();
    await SetEditFormContextGrid_Shomaran_DepoIn();

}
async Task SetEditFormContextGrid_Shomaran_DepoIn()
{
    var e = (Entity.Shomaran_DepoIn)Grid_Shomaran_DepoIn.GetDataItem(IndexGrid_Shomaran_DepoIn);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_Shomaran_DepoIn()
{
    int VisibleIndex = IndexGrid_Shomaran_DepoIn;
    try
    {
    if (OpenDialogCodeShomaran_DepoIn == 1)
    {
        if (VisibleIndex != (Grid_Shomaran_DepoIn.GetVisibleRowCount() - 1))
    { 
            Grid_Shomaran_DepoIn.CancelEditAsync();
            IndexGrid_Shomaran_DepoIn = VisibleIndex + 1;
    Grid_Shomaran_DepoIn.StartEditRowAsync(IndexGrid_Shomaran_DepoIn);
    }
    }
    else if (OpenDialogCodeShomaran_DepoIn == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_Shomaran_DepoIn.CancelEditAsync();
            IndexGrid_Shomaran_DepoIn = VisibleIndex - 1;
    Grid_Shomaran_DepoIn.StartEditRowAsync(IndexGrid_Shomaran_DepoIn);
    }

    }
    var e = (Entity.Shomaran_DepoIn)Grid_Shomaran_DepoIn.GetDataItem(IndexGrid_Shomaran_DepoIn);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_Shomaran_DepoIn()
{
    //تعداد سطرهای کل
_VisibleIndex = Grid_Shomaran_DepoIn.GetVisibleRowCount();
setFocusOff();
IsNew = true;
await ShowFormCU(null);
var e = new Entity.Shomaran_DepoIn();
await Task.Delay(300);

}

async Task StartModalGrid_Shomaran_DepoIn(GridCommandColumnCellDisplayTemplateContext Context)
{
    IsNew = false;
setFocusOn();
_VisibleIndex = Context.VisibleIndex;
await ShowFormCU(Context.DataItem);
var e = (Entity.Shomaran_DepoIn)Context.DataItem;
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_Shomaran_DepoIn(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_Shomaran_DepoIn(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_Shomaran_DepoIn(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_Shomaran_DepoIn(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_Shomaran_DepoIn();

    }
          
    }
   
}

void PerviousPageGrid_Shomaran_DepoIn(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_Shomaran_DepoIn.CancelEditAsync();
        IndexGrid_Shomaran_DepoIn = VisibleIndex - 1;
         Grid_Shomaran_DepoIn.StartEditRowAsync(IndexGrid_Shomaran_DepoIn);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_Shomaran_DepoIn(int VisibleIndex)
{

    if (VisibleIndex == Grid_Shomaran_DepoIn.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_Shomaran_DepoIn ");
    try
    {
Grid_Shomaran_DepoIn.CancelEditAsync();
        IndexGrid_Shomaran_DepoIn = VisibleIndex + 1;
         Grid_Shomaran_DepoIn.StartEditRowAsync(IndexGrid_Shomaran_DepoIn);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_Shomaran_DepoIn(object DataItem, object EditModel)
{
    var ListEntity = _Entity;
    var MainModel = (Entity.Shomaran_DepoIn)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.Shomaran_DepoIn)EditModel).Id;
MainModel.RequestID = ((Entity.Shomaran_DepoIn)EditModel).RequestID;
MainModel.CreateUser = ((Entity.Shomaran_DepoIn)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.Shomaran_DepoIn)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.Shomaran_DepoIn)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.Shomaran_DepoIn)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.Shomaran_DepoIn)EditModel).IsDelete;
MainModel.Amount = ((Entity.Shomaran_DepoIn)EditModel).Amount;
MainModel.RecNo = ((Entity.Shomaran_DepoIn)EditModel).RecNo;
MainModel.RecDate = ((Entity.Shomaran_DepoIn)EditModel).RecDate;
MainModel.InvCode = ((Entity.Shomaran_DepoIn)EditModel).InvCode;
MainModel.Product = ((Entity.Shomaran_DepoIn)EditModel).Product;
MainModel.QC = ((Entity.Shomaran_DepoIn)EditModel).QC;
MainModel.Receipt = ((Entity.Shomaran_DepoIn)EditModel).Receipt;
MainModel.TempNo = ((Entity.Shomaran_DepoIn)EditModel).TempNo;
MainModel.Year = ((Entity.Shomaran_DepoIn)EditModel).Year;
MainModel.PartCode = ((Entity.Shomaran_DepoIn)EditModel).PartCode;
MainModel.ApiResult = ((Entity.Shomaran_DepoIn)EditModel).ApiResult;
MainModel.Description = ((Entity.Shomaran_DepoIn)EditModel).Description;
MainModel.Creator = ((Entity.Shomaran_DepoIn)EditModel).Creator;
MainModel.Outsourcing_List = ((Entity.Shomaran_DepoIn)EditModel).Outsourcing_List;

    }
    else
    {
    ListEntity.Add((Entity.Shomaran_DepoIn)EditModel);
    }
}

async Task OnDataItemDeletingShomaran_DepoIn(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity;
    ListEntity.Remove((Entity.Shomaran_DepoIn)e.DataItem);
}
async void OnDeleteButtonClickGrid_Shomaran_DepoIn (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_Shomaran_DepoIn = (ex.DataItem as Entity.Shomaran_DepoIn);
    var e =SelectedItemGrid_Shomaran_DepoIn;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownShomaran_DepoIn = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_Shomaran_DepoIn ()
{
       if (SelectedItemGrid_Shomaran_DepoIn != null)
    {
      if (SelectedItemGrid_Shomaran_DepoIn.Id == Guid.Empty)
      {
          var ListEntity = _Entity;
        ListEntity.Remove((Entity.Shomaran_DepoIn)SelectedItemGrid_Shomaran_DepoIn);
     
      }
      else
      {
        var cleanModel = new Entity.Shomaran_DepoIn();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.Shomaran_DepoIn).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_Shomaran_DepoIn);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_Shomaran_DepoIn, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_Shomaran_DepoIn._Id);
    
      await PostDataDelete(cleanModel); 
       
      }
    }
    var e= SelectedItemGrid_Shomaran_DepoIn;
    
    Grid_Shomaran_DepoIn.Reload();
    ConfirmationShownShomaran_DepoIn = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_Shomaran_DepoIn ()
{
    ConfirmationShownShomaran_DepoIn = false;
}

void CustomizeRowsGrid_Shomaran_DepoIn(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.Shomaran_DepoIn)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_Shomaran_DepoIn(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.Shomaran_DepoIn)e.EditModel;

     

    }

await ShowFormCU(e);
}
public async void RowClickGrid_Shomaran_DepoIn(GridRowClickEventArgs e)
{
if (!e.Grid.FocusedRowEnabled)
{
    setFocusOn();
}
IsNew = false;
_VisibleIndex = e.VisibleIndex;
ShowFormCU(e.Grid.GetDataItem(e.VisibleIndex));
e.Grid.SetFocusedRowIndex(e.VisibleIndex);
}

public async void RowDubbleClickGrid_Shomaran_DepoIn(GridRowClickEventArgs e)
{

}
}


                    <DxPager @ref=DxPager VisibleNumericButtonCount="1" SwitchToInputBoxButtonCount="3" PageCount="@PageCount" NavigationMode="PagerNavigationMode.NumericButtons" ActivePageIndexChanged="PageIndexChanged" />
                    @* دیالوگ برای سابمیت *@
                    <DxPopup @bind-Visible="@Confirmation_Submit" HeaderText="Save" Width="350px" CloseOnOutsideClick="false">
                        <BodyContentTemplate Context="EditFormContext">
                            <div class="py-3 px-5 text-center">
                                <p>آیا از ذخیره این رکورد مطمئن هستید</p>
                                <div class="confirm-dialog-buttons">


                                    <DxButton Text="Yes" Enabled="!isSending" CssClass="btn btn-red px-4" Click="@OnYesSubmitClick">
                                        @* تبدیل دکمه به لود  *@
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "Send"))</span>

                                    </DxButton>
                                    <DxButton Text="No" CssClass="btn btn-purple-light px-4" Click="@OnNoSubmitClick" />
                                </div>
                            </div>
                        </BodyContentTemplate>
                    </DxPopup>
                    @* دیالوگ برای ذخیره و رکورد جدید *@
                    <DxPopup @bind-Visible="@Confirmation_SubmitNew" HeaderText="Save" Width="350px" CloseOnOutsideClick="false">

                        <BodyContentTemplate Context="EditFormContext">
                            <div class="py-3 px-5 text-center">
                                <p>آیا از ذخیره این رکورد مطمئن هستید</p>
                                <div class="confirm-dialog-buttons">
                                    <DxButton Text="Yes" Enabled="!isSending" CssClass="btn btn-red px-4" Click="@OnYesSubmitNewClick">
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "Send"))</span>

                                    </DxButton>
                                    <DxButton Text="No" CssClass="btn btn-purple-light px-4" Click="@OnNoSubmitNewClick" />
                                </div>
                            </div>
                        </BodyContentTemplate>
                    </DxPopup>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade xyz-in @(ShowForm?"show d-block":"")" id="DetailDialog" tabindex="-1" aria-labelledby="DetailDialog2Label" aria-hidden="true" style="z-index:1049">
        <div class="modal-dialog modal-fullscreen" style="z-index:1049;">
            <div class="modal-content" xyz="fade up-25% perspective-2 stagger">
                <div class="modal-header xyz-nested py-1" xyz="up-100% in-delay-3">
                    <h1 class="modal-title fs-5 fw-black">جزئیات</h1>
                    <button type="button" class="btn" @onclick="()=>ShowForm=false">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="detailArea">
                        @*
            @if (Id != null)
            {
            <h3>Row Id: @Id </h3>
            }

            <div>
            برای ایجاد هم از همین اصتفاده میشه
            باید وقتی داخل گرید سطری انتخاب شد برای ویرایش
            ارسال بشه به این فرم
            فرم وقتی ویرایش کرد داده رو به ORM ارسال کنه برای ذخیره داده
            و موجودیت بروز شده رو برگردونه که گرید هم بروز کنه داده رو
            ***تغیراتی داخل فرم پاین نیاز هست اعمال شود
            </div> *@

                        <Form_974_CU @ref="RefForm" IndependentForm=false _CartablesParameters="_CartablesParameters" _RequestParameters="_RequestParameters"></Form_974_CU>
                        <div class="mt-3">

                            @if (DtComponent is not null && DtComponent.AccessEdit)
                            {

                                <DxButton Enabled="!isSending" id="btn_listi_Save" CssClass="btn btn-sm btn-green" Click="@OnYesSubmitClick">
                                    @* تبدیل دکمه به لود  *@
                                    <DxWaitIndicator Visible="isSending" />
                                    <span class="mx-2">@((isSending ? "Sending..." : "ذخیره"))</span>

                                </DxButton>

                                <DxButton Enabled="!isSending" id="btn_listi_Save_close" CssClass="btn btn-sm btn-green" Click="@OnSubmitCloseClick">
                                    @* تبدیل دکمه به لود  *@
                                    <DxWaitIndicator Visible="isSending" />
                                    <span class="mx-2">@((isSending ? "Sending..." : "ذخیره و بستن"))</span>

                                </DxButton>
                                @if (DtComponent.AccessNew)
                                {
                                    <DxButton Enabled="!isSending" id="btn_listi_Save_New" CssClass="btn btn-sm btn-green" Click="@OnYesSubmitNewClick">
                                        @* تبدیل دکمه به لود  *@
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "ذخیره و جدید"))</span>

                                    </DxButton>
                                }
                            }
                            <button class="btn btn-sm btn-red" @onclick=SubmitCancell>انصراف</button>
                            |

                            <DxButton Text="Yes" Enabled="!isSending" id="btn_listi_Previous" CssClass="btn btn-sm btn-purple" Click="@BackRow">
                                @* تبدیل دکمه به لود  *@
                                <DxWaitIndicator Visible="isSending" />
                                <span class="bi bi-chevron-right btnicon"></span>
                                <span>@((isSending ? "wait..." : "قبلی"))</span>

                            </DxButton>
                            <DxButton Text="Yes" Enabled="!isSending" id="btn_listi_Next" CssClass="btn btn-sm btn-purple" Click="@NextRow">
                                @* تبدیل دکمه به لود  *@
                                <DxWaitIndicator Visible="isSending" />
                                <span>@((isSending ? "wait..." : "بعدی"))</span>
                                <span class="bi bi-chevron-left btnicon"></span>
                            </DxButton>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-backdrop fade @(ShowForm?"show":"")" style="z-index:1048"></div>
    </div>

</div>



@code {
    /// <summary>
    /// مقداردهی بر اساس ایندکس فعال
    /// </summary>
    protected int? _VisibleIndex { get; set; }
    //// <summary>
    /// نمایش دیالوگ ذخیره
    /// </summary>

    public bool Confirmation_Submit { get; set; } = false;
    /// <summary>
    /// نمایش دیالوگ ذخیره و فرم جدید
    /// </summary>
    public bool Confirmation_SubmitNew { get; set; } = false;
    /// <summary>
    /// کامپوننت دیتاگرید
    /// </summary>
    public View_Component DtComponent { get; set; } = new View_Component();

    //// <summary>
    /// نمایش لودینگ
    /// </summary>
    public bool isSending { get; set; } = false;
    /// <summary>
    /// رکورد جدید می باشد یا ویرایش
    /// </summary>

    public bool IsNew { get; set; }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
        //   RefListFilter = new();
    }
    protected override async Task OnInitializedAsync()
    {
        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        //     RefListFilter = new();
        await base.OnInitializedAsync();
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Yield();
            StateHasChanged();
            if (Grid_Shomaran_DepoIn is not null)
    {
                DtComponent = (View_Component)Grid_Shomaran_DepoIn.Attributes.GetValueOrDefault("Component");
    }

            //JSO = await JS.InvokeAsync<IJSObjectReference>("import", "./js/FormFunctions.js?ver=1.2");

            /*             var ResultConvert = await Forms.Domain.Utility.ConvertParameter.ConvertParametersToDaunamic(RequestParameters, CartablesParameters);
            _RequestParameters = ResultConvert._RequestParameters;
            _CartablesParameters = ResultConvert._CartablesParameters; */

            /*    RefForm.CartablesParameters = CartablesParameters;
            RefForm.RequestParameters = RequestParameters; */

            await InvokeAsync(StateHasChanged);
            await Task.Yield();
            QueryFilter = new QueryBuilderFilterRule();
            if ("{}" != "null" || "{}" != "{}")
            {
                QueryFilter = await JSON.ToObject<QueryBuilderFilterRule>("{}");

            }


            if (RefListFilter == null)
            {

                RefListFilter = new();
            }

            await InvokeAsync(StateHasChanged);
            await Task.Yield();

            RefListFilter.QueryFilter = QueryFilter;//برای این گذاشتم که فیلتر نال نره تو پکامپوننتش

            await base.BeforGetData();
            await InvokeAsync(StateHasChanged);
            await Task.Yield();

            await RefListFilter.SearchFilter();
            await base.AfterGetData();
            //ست کردن شماره صفحه به گرید
            await SetPageIndex(0);

            //          if (Grid_Shomaran_DepoIn.GetDataItem(0) != null)
            //  {
            //              await ShowFormCU(Grid_Shomaran_DepoIn.GetDataItem(0));
            //  }
        }

        await base.OnAfterRenderAsync(firstRender);
    }


    public async Task SearchFilter(QueryBuilderFilterRule? Filter)
    {

        SearchQueryFilter = Filter;

        //ریست پیج بندی
        if (PageReset)
            PageIndex = 0;
        //
        //فیلتر ارسال بشه برای ORM
        //لیست ردیافتی بایند بشه تو لیست ListData
        await LoadData();
        PageReset = true;
        StateHasChanged();
    }

    /// <summary>
    /// لود دیتا گرید
    /// </summary>
    /// <returns></returns>
    public async Task LoadData()
    {

        //string Url = "https://bayaorm.workcv.ir/fa/api/v1/Shomaran_DepoIn/GetList";
        //string Url = "https://testorm.workcv.ir/fa/api/v1/Shomaran_DepoIn/GetList";
        // string Url = "https://bayaorm.workcv.ir/fa/api/v1/Shomaran_DepoIn/GetList";

        int skip = (PageIndex * PageSize);

        var pagedResult = new PagedResult();

        pagedResult.PageSize = PageSize;

        pagedResult.PageNumber = skip;
        await FillTableGet();

        var R = await ApiServer.External.Services.Data.GetListPost(TableGet, SearchQueryFilter, pagedResult, "Shomaran_DepoIn");


        if (R is not null)
        {//اگه داده گرفته 
            if (R.Status == System.Net.HttpStatusCode.OK)
            {


                var page = await Utility.JSON.ToObject<PagedResult>(R.Content?.ToString());

                if (page?.Items != null)
                {
                    // مستقیم به لیست مدل تبدیل کن
                    _Entity = await Utility.JSON.ToObject<List<Entity.Shomaran_DepoIn>>(
               await Utility.JSON.ToJson(page.Items)
                    );


                }
                if (page?.PagesCount != null)
                {
                    PageCount = page.PagesCount;
                }
      
                //  _Entity = (await Utility.JSON.ToObject<List<Entity.Shomaran_DepoIn>>(R.Content?.ToString()));
            }
            else
            {
                Console.WriteLine("#Log LoadData Error:");
              //  Console.WriteLine(R.Status);
                Console.WriteLine(R.Content);
                Console.WriteLine(R.Message);
            }
          
            //await OnFormloaded.InvokeAsync(Result);
        }
        
    }

    /// <summary>
    /// تابع پیج بندی
    /// </summary>
    /// <param name="Index"></param>
    /// <returns></returns>
    public async Task PageIndexChanged(int Index)
    {
        await SetPageIndex(Index);

        await LoadData();
    }


    /// <summary>
    /// دریافت داده فرم سمت راست CU
    /// </summary>
    /// <param name="Id"></param>
    /// <returns></returns>
    public async Task GetDataForm(object Id)
    {
        ShowForm = true;
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = PrimaryFieldName,
                        Id = PrimaryFieldName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        RefForm.QueryFilter = NewQuery;
        await RefForm.GetData();
        StateHasChanged();
    }
    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }
    /// <summary>
    /// سامبیت فرم
    /// </summary>
    /// <returns></returns>
    public async Task Submit()
    {
        Confirmation_Submit = true;
        // var R = await RefForm.Submit();

        // if (R.Status != System.Net.HttpStatusCode.OK)
        // {
        //     toastService.ShowError("ذخیره سازی دچار خطا شد");
        // }
    }
    /// <summary>
    /// تایید ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnYesSubmitClick()
    {
        PageReset = false;
        await RefForm.Submit();
        await RefListFilter.SearchFilter();
        var PageIndex = Grid_Shomaran_DepoIn.PageIndex;
    //اگر جدید بود برو بر روی خود رکورد جدید
  // if (IsNew)
  //     {
  //         if (_VisibleIndex == (Grid_Shomaran_DepoIn.GetVisibleRowCount() - 1))
  // {
  //             PageIndex = PageIndex + 1;
  //             _VisibleIndex = 0;
  //         }
  //         else
  //         {
  //             _VisibleIndex = _VisibleIndex.Value + 1;
  //         }
  //
  //     }
  //     await SelectRecord(PageIndex, _VisibleIndex.Value);
    }

    /// <summary>
    /// ذخیره و بستن فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnSubmitCloseClick()
    {
        PageReset = false;
        await SubmitAndRefreshData();
        ShowForm = false;
        await InvokeAsync(StateHasChanged);
    }

    /// <summary>
    /// تایید ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnYesSubmitNewClick()
    {
        PageReset = false;
        await SubmitAndRefreshData();
        StartEditNewRowAsync_Grid_Shomaran_DepoIn();
    }

    public async Task SubmitAndRefreshData()
    {
        isSending = true;
        await RefForm.Submit();
        await RefListFilter.SearchFilter();
        await InvokeAsync(StateHasChanged);
        Confirmation_SubmitNew = false;
        isSending = false;
    }

    /// <summary>
    /// انصراف ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnNoSubmitClick()
    {
        Confirmation_Submit = false;
    }

    //// <summary>
    /// فعال شدن دیالوگ ذخیره و فرم جدید
    /// </summary>
    /// <returns></returns>
    public async Task SubmitNew()
    {
        Confirmation_SubmitNew = true;
    }


    /// <summary>
    /// انصراف ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnNoSubmitNewClick()
    {
        Confirmation_Submit = false;
    }

    /// <summary>
    /// انصراف از ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task SubmitCancell()
    {
       // await GetDataForm(null);
        ShowForm = false;
        PageReset = false;
        await RefListFilter.SearchFilter();
    }
    /// <summary>
    /// رکورد بعدی
    /// </summary>
    /// <returns></returns>
    public async Task NextRow()
    {


        if (_VisibleIndex is null)
        {
            _VisibleIndex = 0;
        }
        else if (_VisibleIndex == (Grid_Shomaran_DepoIn.GetVisibleRowCount() - 1))
    {
            if (PageIndex < DxPager.PageCount)
            {
                PageIndex = PageIndex + 1;
            }
            else
            {
                PageIndex = 0;
            }
            _VisibleIndex = 0;
        }
        else
        {
            _VisibleIndex = _VisibleIndex.Value + 1;
        }
        await SelectRecord(PageIndex, _VisibleIndex.Value);

    }
    /// <summary>
    /// رکورد قبلی
    /// </summary>
    /// <returns></returns>
    public async Task BackRow()
    {
        if (_VisibleIndex is null)
        {
            _VisibleIndex = 0;
        }
        if (_VisibleIndex == 0)
        {
            if (PageIndex > 0)
            {
                PageIndex = PageIndex - 1;
                _VisibleIndex = Grid_Shomaran_DepoIn.PageSize - 1;
    }
        }
        else
        {

            _VisibleIndex = _VisibleIndex.Value - 1;
        }
        await SelectRecord(PageIndex, _VisibleIndex.Value);
    }

    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }


    /// <summary>
    /// نمایش دادن فرم CU برای ویرایش و ضافه کردن رکورد
    /// </summary>
    /// <param name="e"></param>
    // public async Task ShowFormCU(GridCustomizeEditModelEventArgs e)
    // {
    //     Guid Id = Guid.Empty;
    //     if (!e.IsNew)
    //     {
    //         var newRow = (Entity.Shomaran_DepoIn)e.EditModel;
    //         Id = newRow.Id;
    //     }
    //     await GetDataForm(Id);
    // }

    /// <summary>
    /// نمایش دادن فرم CU برای ویرایش و ضافه کردن رکورد
    /// </summary>
    /// <param name="e"></param>
    public async Task ShowFormCU(object e)
    {
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        object Id = null;
        Type type = null;
        ShowForm = true;
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        if (!IsNew)
        {
            var newRow = (Entity.Shomaran_DepoIn)e;
    Id = newRow._Id;
            await InvokeAsync(StateHasChanged);
            await Task.Yield();
        }
        else
        {
            var newRow = new Entity.Shomaran_DepoIn();
    Id = newRow._Id;
        }
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        await GetDataForm(Id);
    }
    /// <summary>
    /// خاموش کردن فوکوس گرید
    /// </summary>
    /// <returns></returns>
    public async Task setFocusOff()
    {
        //اگر فوکوس روشن بود خاموشش کن
        if (Grid_Shomaran_DepoIn.FocusedRowEnabled)
    {
            //به علت یروزرسانی دیتاگرید و اینکه فوکوس باید مقدار اولیه داده شود از خط زیر استفاده می شود
            Grid_Shomaran_DepoIn.BeginUpdate();
    Grid_Shomaran_DepoIn.FocusedRowEnabled = false;
    Grid_Shomaran_DepoIn.EndUpdate();
    }

    }
    /// <summary>
    /// فعال کردن فوکوس گرید
    /// </summary>
    /// <returns></returns>
    public async Task setFocusOn()
    {
        if (!Grid_Shomaran_DepoIn.FocusedRowEnabled)
    {
            Grid_Shomaran_DepoIn.BeginUpdate();
    Grid_Shomaran_DepoIn.FocusedRowEnabled = true;

    Grid_Shomaran_DepoIn.EndUpdate();
    }

    }

    public async Task SelectRecord(int PageIndex, int __VisibleIndex)
    {

        isSending = true;
        await setFocusOn();
        PageIndexChanged(PageIndex);
        await ShowFormCU(Grid_Shomaran_DepoIn.GetDataItem(__VisibleIndex));
    DxPager.ActivePageIndex = PageIndex;
        Grid_Shomaran_DepoIn.BeginUpdate();
    Grid_Shomaran_DepoIn.PageIndex = PageIndex;
    Grid_Shomaran_DepoIn.EndUpdate();
    Grid_Shomaran_DepoIn.SetFocusedRowIndex(__VisibleIndex);

    isSending = false;
    }

    public async Task SetPageIndex(int Index)
    {
        PageIndex = Index;
        Grid_Shomaran_DepoIn.BeginUpdate();
    Grid_Shomaran_DepoIn.PageIndex = Index;
    Grid_Shomaran_DepoIn.EndUpdate();
    }
    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostDataDelete(Entity.Shomaran_DepoIn _entity)
    {
        string Data = await Utility.JSON.ToJson(_entity);

        var TablePost = new Table();
        TablePost.Name = "Shomaran_DepoIn";
        TablePost.Column = new List<Coulmn>
                    {
                    new Coulmn {Name=_entity._GetIdName  , NameAs= _entity._GetIdName},
                    new Coulmn {Name ="IsDelete",NameAs="IsDelete" }

                    };
        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, null, _User.UserID.ToString());
        if (Model?.Status == HttpStatusCode.OK)
        {
            IsOk = true;
        }

        return IsOk;
    }
}
