@inherits Forms.Forms.Form_1141Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    .custom-class {
    display: flex;
    /* معادل d-flex */
    justify-content: flex-end;
    /* معادل justify-content-right */
    text-align: center;
    /* معادل text-center */
    padding-top: 0.25rem;
    /* معادل pt-1 در Bootstrap */
    font-size: 1.5rem;
    /* معادل fs-4 */
    color: #000000;
    /* معادل text-black */
}

.bg-atlascell {
    background-color: #52c5cd;
}

.form-title {
    font-size: 1.25rem;
    font-weight: 900;
    padding: 0.5rem;
    text-align: center;
}

.form-serial {
    text-align: center;
    font-size: 1.25rem;
    color: #9d9d9e;
    background-color: #f4f5f7;
    border-radius: 0.375rem;
    padding: 0.2rem;
}

.userHolderBox {
    max-width: 700px;
}

.userboxscroll {
    width: 680px;
}

.userInfoBox {
    width: 165px;
    display: inline-block;
}

.userInfoBox .form-control {
    font-size: 13px;
}

.GridSCMAtlasCellPRD table thead tr>*:nth-child(4),
.GridSCMAtlasCellPRD table tbody tr>*:nth-child(4),
.GridSCMAtlasCellPRD table thead tr>*:nth-child(13),
.GridSCMAtlasCellPRD table tbody tr>*:nth-child(13),
.GridSCMAtlasCellPRD table thead tr>*:nth-child(15),
.GridSCMAtlasCellPRD table tbody tr>*:nth-child(15) {
    display: none;
}
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        <div  class="">
    <div class="row">
  

<div class="col-md-3 col-6 order-md-1">
  <img src="https://file.workcv.ir/fa-ir/api/v1/File/Get?FileID=e35322d0-23f4-4d03-b886-08de9f64ab6f" class="img-fluid" alt="لوگو اطلس سلولز" width="75">
</div>

<div class="col-md-6 col-12 order-md-2 order-3">
  <div class="form-title">
    درخواست واگذاری جنس از انبار
  </div>
</div>

<div class="col-md-3 col-6 order-md-3">
  <div class="form-serial">
  کد فرم: FPL02600
</div>
</div>
</div>
</div>

<div class=" p-2 m-1 border-0 bg-atlascell rounded userHolderBox">
    <div  class="pb-2">
    <div class="bg-light fw-black fs-6 rounded px-2 py-2" style="">
  کاربر درخواست دهنده
</div>
</div>

<div class="overflow-x-auto pb-2">
    
<div class="userboxscroll">
    
<div class="userInfoBox">
    
<Input Id="UserStarterFullName" @ref="Ref_UserStarterFullName" Label="کاربر"   Disabled=true  @bind-Value="_Entity.UserStarterFullName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"350\"}").Result))></Input>

</div>

<div class="userInfoBox">
    
<Input Id="UserStarterCompanyName" @ref="Ref_UserStarterCompanyName" Label="شرکت کاربر	"   Disabled=true  @bind-Value="_Entity.UserStarterCompanyName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="userInfoBox">
    
<Input Id="UserStarterUnitName" @ref="Ref_UserStarterUnitName" Label="واحد کاربر"   Disabled=true  @bind-Value="_Entity.UserStarterUnitName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="userInfoBox">
    
<Input Id="UserStarterSectionName" @ref="Ref_UserStarterSectionName" Label="قسمت کاربر"   Disabled=true  @bind-Value="_Entity.UserStarterSectionName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

</div>

</div>
<div  class="">
    <hr class="hrdash bg-info">
</div>

<DxGrid @ref="Grid_SCMATLASCELL_ProductRequestDetails" Data="_Entity.SCMATLASCELL_ProductRequestDetails" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSCMATLASCELL_ProductRequestDetails"
        DataItemDeleting="OnDataItemDeletingSCMATLASCELL_ProductRequestDetails"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزییات درخواست کالا"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SCMATLASCELL_ProductRequestDetails"
        CustomizeElement="CustomizeRowsGrid_SCMATLASCELL_ProductRequestDetails" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":817,\"FieldId\":817,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SCMATLASCELL_ProductRequestDetails\",\"GridMainModel\":\"SCMATLASCELL_ProductRequestDetails\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزییات درخواست کالا\",\"tableView\":true,\"key\":\"GridSCMATLASCELL_ProductRequestId_817\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSCMATLASCELL_ProductRequestId_817\",\"hideLabel\":true,\"modalEdit\":true,\"customClass\":\"GridSCMAtlasCellPRD pt-3\",\"FieldUrl\":\"817?EId=817&SubId=37\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"editmodelsaving\":\"GridSCMATLASCELL_ProductRequestId_817_editmodelsaving\",\"afterrendermodal\":\"GridSCMATLASCELL_ProductRequestId_817_afterrendermodal\"}").Result))"
        CssClass="GridSCMAtlasCellPRD pt-3" >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SCMATLASCELL_ProductRequestDetails_GridSCMATLASCELL_ProductRequestId_817ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SCMATLASCELL_ProductRequestDetails())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SCMATLASCELL_ProductRequestDetails_GridSCMATLASCELL_ProductRequestId_817ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SCMATLASCELL_ProductRequestDetails(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SCMATLASCELL_ProductRequestDetails(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="نام کالا شماران"  FieldName="SH_DESC" />

<DxGridDataColumn  Caption="کد کالا شماران"  FieldName="SH_PARTNO" />

<DxGridDataColumn  Caption="واحد کالا شماران"  FieldName="SH_UNIT" />

<DxGridDataColumn DisplayFormat="G" Caption="موجودی کالا شماران"  FieldName="SH_Amount" />

<DxGridDataColumn DisplayFormat="G" Caption="تعداد یا مقدار درخواستی"  FieldName="ProductRequestingQTY" />

<DxGridDataColumn Context="Global_PriorityId_" Caption="اولویت" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderGlobal_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":817,\"FieldId\":31954,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1141,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Priority\",\"RelationParentModel\":\"Global_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Priority/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"Title\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":true,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"Global_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-3\",\"FieldUrl\":\"31954?EId=817&SubId=37\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowGlobal_PriorityId = ((Entity.SCMATLASCELL_ProductRequestDetails)Global_PriorityId_.DataItem).Global_PriorityId;
}

<Dropdown ExternalApi=false CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" NotMapped=false TextGrid=true Value="@RowGlobal_PriorityId"   FieldName="Global_PriorityId" OnItemSelected="ItemSelected_SCMATLASCELL_ProductRequestDetailsGlobal_PriorityId_Header" Component="HeaderGlobal_PriorityId">
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASCELL_ProductRequestDetailsGlobal_PriorityId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Global_PriorityId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="محل مصرف"  FieldName="PlaceOfUse" />

<DxGridDataColumn  Caption="توضیحات درخواست کننده"  FieldName="SR_Desc" />

<DxGridDataColumn DisplayFormat="G" Caption="تعداد تامین کسری"  FieldName="DeficitSupplyNumber" />

<DxGridDataColumn  Caption="توضیحات انباردار"  FieldName="DescriptionWarehouseKeeper" />

<DxGridDataColumn Context="html43_" Caption="-" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <hr class="hrdash bg-info">
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="GoodsDeliveryApproved_" Caption="کالا، مورد تایید است؟" >
    <CellDisplayTemplate>
       
@{
    var SCMATLASCELL_ProductRequestDetails_GoodsDeliveryApproved = ((Entity.SCMATLASCELL_ProductRequestDetails)GoodsDeliveryApproved_.DataItem).GoodsDeliveryApproved;
}

<p class="text-center " hidden="@(SCMATLASCELL_ProductRequestDetails_GoodsDeliveryApproved !=null ? !SCMATLASCELL_ProductRequestDetails_GoodsDeliveryApproved : true)">بله</p>

<p class="text-center" hidden="@(SCMATLASCELL_ProductRequestDetails_GoodsDeliveryApproved !=null ? SCMATLASCELL_ProductRequestDetails_GoodsDeliveryApproved : true)">خیر</p>


    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="HasModification_" Caption="آیا اصلاح گردد؟" >
    <CellDisplayTemplate>
       
@{
    var SCMATLASCELL_ProductRequestDetails_HasModification = ((Entity.SCMATLASCELL_ProductRequestDetails)HasModification_.DataItem).HasModification;
}

<p class="text-center " hidden="@(SCMATLASCELL_ProductRequestDetails_HasModification !=null ? !SCMATLASCELL_ProductRequestDetails_HasModification : true)">بله</p>

<p class="text-center" hidden="@(SCMATLASCELL_ProductRequestDetails_HasModification !=null ? SCMATLASCELL_ProductRequestDetails_HasModification : true)">خیر</p>


    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="DeficitSupplyIsEnable_" Caption="آیا تامین کسری کالا انجام شود؟" Visible=false>
    <CellDisplayTemplate>
       
@{
    var SCMATLASCELL_ProductRequestDetails_DeficitSupplyIsEnable = ((Entity.SCMATLASCELL_ProductRequestDetails)DeficitSupplyIsEnable_.DataItem).DeficitSupplyIsEnable;
}

<p class="text-center " hidden="@(SCMATLASCELL_ProductRequestDetails_DeficitSupplyIsEnable !=null ? !SCMATLASCELL_ProductRequestDetails_DeficitSupplyIsEnable : true)">بله</p>

<p class="text-center" hidden="@(SCMATLASCELL_ProductRequestDetails_DeficitSupplyIsEnable !=null ? SCMATLASCELL_ProductRequestDetails_DeficitSupplyIsEnable : true)">خیر</p>


    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn Context="EnableLaterPurchace_" Caption="بعدا خرید" Visible=false>
    <CellDisplayTemplate>
       
@{
    var SCMATLASCELL_ProductRequestDetails_EnableLaterPurchace = ((Entity.SCMATLASCELL_ProductRequestDetails)EnableLaterPurchace_.DataItem).EnableLaterPurchace;
}

<p class="text-center " hidden="@(SCMATLASCELL_ProductRequestDetails_EnableLaterPurchace !=null ? !SCMATLASCELL_ProductRequestDetails_EnableLaterPurchace : true)">بله</p>

<p class="text-center" hidden="@(SCMATLASCELL_ProductRequestDetails_EnableLaterPurchace !=null ? SCMATLASCELL_ProductRequestDetails_EnableLaterPurchace : true)">خیر</p>


    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextSCMATLASCELL_ProductRequestDetails">
    @{
        SCMATLASCELL_ProductRequestDetails  = (Entity.SCMATLASCELL_ProductRequestDetails)EditFormContextSCMATLASCELL_ProductRequestDetails.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_SH_DESC" @ref="Ref_SCMATLASCELL_ProductRequestDetails_SH_DESC" Label="نام کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMATLASCELL_ProductRequestDetails.SH_DESC" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_SH_PARTNO" @ref="Ref_SCMATLASCELL_ProductRequestDetails_SH_PARTNO" Label="کد کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMATLASCELL_ProductRequestDetails.SH_PARTNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_SH_UNIT" @ref="Ref_SCMATLASCELL_ProductRequestDetails_SH_UNIT" Label="واحد کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMATLASCELL_ProductRequestDetails.SH_UNIT" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_SH_Amount" @ref="Ref_SCMATLASCELL_ProductRequestDetails_SH_Amount" Label="موجودی کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMATLASCELL_ProductRequestDetails.SH_Amount" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_ProductRequestingQTY" @ref="Ref_SCMATLASCELL_ProductRequestDetails_ProductRequestingQTY" Label="تعداد یا مقدار درخواستی"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMATLASCELL_ProductRequestDetails.ProductRequestingQTY" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMATLASCELL_ProductRequestDetailsGlobal_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":817,\"FieldId\":31954,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1141,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Priority\",\"RelationParentModel\":\"Global_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Priority/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"Title\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":true,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"Global_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-3\",\"FieldUrl\":\"31954?EId=817&SubId=37\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMATLASCELL_ProductRequestDetails_Global_PriorityId Disabled=true @ref="Ref_SCMATLASCELL_ProductRequestDetails_Global_PriorityId" Label="اولویت" CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3"  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCMATLASCELL_ProductRequestDetails.Global_PriorityId" FieldName="Global_PriorityId" OnItemSelected="ItemSelected_SCMATLASCELL_ProductRequestDetailsGlobal_PriorityId" Component="Component_SCMATLASCELL_ProductRequestDetailsGlobal_PriorityId" _Entity="_Entity" _EntityRow=SCMATLASCELL_ProductRequestDetails>
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASCELL_ProductRequestDetailsGlobal_PriorityId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMATLASCELL_ProductRequestDetails;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.Global_PriorityId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.Global_PriorityId =EntityHelper.SetPropertyNull(Item.Global_PriorityId);
 }
 Item.Global_Priority = await Utility.JSON.ToObject<Entity.Global_Priority>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_PlaceOfUse" @ref="Ref_SCMATLASCELL_ProductRequestDetails_PlaceOfUse" Label="محل مصرف"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-12" Disabled=true  @bind-Value="SCMATLASCELL_ProductRequestDetails.PlaceOfUse" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"1000\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_SR_Desc" @ref="Ref_SCMATLASCELL_ProductRequestDetails_SR_Desc" Label="توضیحات درخواست کننده"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-12" Disabled=true  @bind-Value="SCMATLASCELL_ProductRequestDetails.SR_Desc" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"1000\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_DeficitSupplyNumber" @ref="Ref_SCMATLASCELL_ProductRequestDetails_DeficitSupplyNumber" Label="تعداد تامین کسری"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMATLASCELL_ProductRequestDetails.DeficitSupplyNumber" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_DescriptionWarehouseKeeper" @ref="Ref_SCMATLASCELL_ProductRequestDetails_DescriptionWarehouseKeeper" Label="توضیحات انباردار"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-12"   @bind-Value="SCMATLASCELL_ProductRequestDetails.DescriptionWarehouseKeeper" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"1000\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <hr class="hrdash bg-info">
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<RadioBoolean @ref="Ref_SCMATLASCELL_ProductRequestDetails_GoodsDeliveryApproved" InLine=true Id="SCMATLASCELL_ProductRequestDetails_GoodsDeliveryApproved"  oninput="@(e => GoodsDeliveryApproved_oninput(e ,SCMATLASCELL_ProductRequestDetails))"  LabelTrue="بله" LabelFalse="خیر" Label="کالا، مورد تایید است؟" @bind-Value="SCMATLASCELL_ProductRequestDetails.GoodsDeliveryApproved" CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" ></RadioBoolean>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<RadioBoolean @ref="Ref_SCMATLASCELL_ProductRequestDetails_HasModification" InLine=true Id="SCMATLASCELL_ProductRequestDetails_HasModification"   LabelTrue="بله" LabelFalse="خیر" Label="آیا اصلاح گردد؟" @bind-Value="SCMATLASCELL_ProductRequestDetails.HasModification" CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" ></RadioBoolean>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<RadioBoolean @ref="Ref_SCMATLASCELL_ProductRequestDetails_DeficitSupplyIsEnable" InLine=true Id="SCMATLASCELL_ProductRequestDetails_DeficitSupplyIsEnable"   LabelTrue="بله" LabelFalse="خیر" Label="آیا تامین کسری کالا انجام شود؟" @bind-Value="SCMATLASCELL_ProductRequestDetails.DeficitSupplyIsEnable" CssClass="d-none" Disabled=true></RadioBoolean>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_Id" @ref="Ref_SCMATLASCELL_ProductRequestDetails_Id"   CssClass="d-none"   @bind-Value="SCMATLASCELL_ProductRequestDetails.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_RequestID" @ref="Ref_SCMATLASCELL_ProductRequestDetails_RequestID"      @bind-Value="SCMATLASCELL_ProductRequestDetails.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_CreateUser" @ref="Ref_SCMATLASCELL_ProductRequestDetails_CreateUser"      @bind-Value="SCMATLASCELL_ProductRequestDetails.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_UpdateUser" @ref="Ref_SCMATLASCELL_ProductRequestDetails_UpdateUser"      @bind-Value="SCMATLASCELL_ProductRequestDetails.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_CreateDate" @ref="Ref_SCMATLASCELL_ProductRequestDetails_CreateDate"   CssClass="d-none"   @bind-Value="SCMATLASCELL_ProductRequestDetails.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_UpdateDate" @ref="Ref_SCMATLASCELL_ProductRequestDetails_UpdateDate"   CssClass="d-none"   @bind-Value="SCMATLASCELL_ProductRequestDetails.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<Input Id="SCMATLASCELL_ProductRequestDetails_IsDelete" @ref="Ref_SCMATLASCELL_ProductRequestDetails_IsDelete"   CssClass="d-none"   @bind-Value="SCMATLASCELL_ProductRequestDetails.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails">
    
<RadioBoolean @ref="Ref_SCMATLASCELL_ProductRequestDetails_EnableLaterPurchace" InLine=true Id="SCMATLASCELL_ProductRequestDetails_EnableLaterPurchace"   LabelTrue="بله" LabelFalse="خیر" Label="بعدا خرید" @bind-Value="SCMATLASCELL_ProductRequestDetails.EnableLaterPurchace" CssClass="d-none" Disabled=true></RadioBoolean>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSCMATLASCELL_ProductRequestDetails" CssClass="btn-modal-custom">
            <DxButton Id="SCMATLASCELL_ProductRequestDetails_GridSCMATLASCELL_ProductRequestId_817ButtonSave" Click="@(() => SaveModalGrid_SCMATLASCELL_ProductRequestDetails(EditFormContextSCMATLASCELL_ProductRequestDetails))" Text="@languageContainer.Keys["DXGrid:Ok"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SCMATLASCELL_ProductRequestDetails_GridSCMATLASCELL_ProductRequestId_817ButtonSaveAndNew"    Text="@languageContainer.Keys["DXGrid:OkAndNew"]" Click="@(() => SaveAndNewGrid_SCMATLASCELL_ProductRequestDetails(EditFormContextSCMATLASCELL_ProductRequestDetails))" CssClass="btn btn-green" />


            <DxButton Id="SCMATLASCELL_ProductRequestDetails_GridSCMATLASCELL_ProductRequestId_817ButtonCancel" Click="@(() => Grid_SCMATLASCELL_ProductRequestDetails.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SCMATLASCELL_ProductRequestDetails_GridSCMATLASCELL_ProductRequestId_817ButtonBefore" Click="@(() => Dialog_Grid_SCMATLASCELL_ProductRequestDetails(0,IndexGrid_SCMATLASCELL_ProductRequestDetails,EditFormContextSCMATLASCELL_ProductRequestDetails))" Text="@languageContainer.Keys["DXGrid:Prev"]" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SCMATLASCELL_ProductRequestDetails_GridSCMATLASCELL_ProductRequestId_817ButtonNext" Click="@(() => Dialog_Grid_SCMATLASCELL_ProductRequestDetails(1,IndexGrid_SCMATLASCELL_ProductRequestDetails,EditFormContextSCMATLASCELL_ProductRequestDetails))" Text="@languageContainer.Keys["DXGrid:Next"]" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSCMATLASCELL_ProductRequestDetails" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SCMATLASCELL_ProductRequestDetails" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SCMATLASCELL_ProductRequestDetails" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSCMATLASCELL_ProductRequestDetails" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSCMATLASCELL_ProductRequestDetails" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSCMATLASCELL_ProductRequestDetails" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SCMATLASCELL_ProductRequestDetails;
    Entity.SCMATLASCELL_ProductRequestDetails SCMATLASCELL_ProductRequestDetails;
    bool ConfirmationShownSCMATLASCELL_ProductRequestDetails { get; set; } = false;
    public Entity.SCMATLASCELL_ProductRequestDetails SelectedItemGrid_SCMATLASCELL_ProductRequestDetails { get; set; } = new Entity.SCMATLASCELL_ProductRequestDetails();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SCMATLASCELL_ProductRequestDetails { get; set; }

    ///////////////////////
    bool ConfirmationSCMATLASCELL_ProductRequestDetails { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSCMATLASCELL_ProductRequestDetails { get; set; }
    public int OpenDialogCodeSCMATLASCELL_ProductRequestDetails { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSCMATLASCELL_ProductRequestDetails(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       NotValid = await GridSCMATLASCELL_ProductRequestId_817_editmodelsaving(e);
        
      if (!NotValid)
     {
      SaveGrid_SCMATLASCELL_ProductRequestDetails(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SCMATLASCELL_ProductRequestDetails(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSCMATLASCELL_ProductRequestDetails = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSCMATLASCELL_ProductRequestDetails = e;
    ConfirmationSCMATLASCELL_ProductRequestDetails = true;
    }
    else
    {
    await OnNoButtonSCMATLASCELL_ProductRequestDetails();
    }
}
async Task OnYesButtonSCMATLASCELL_ProductRequestDetails()
{

    ConfirmationSCMATLASCELL_ProductRequestDetails = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSCMATLASCELL_ProductRequestDetails.EditModel;
         //events
         NotValid = await GridSCMATLASCELL_ProductRequestId_817_editmodelsaving(e);

        if (!NotValid)
         {
        SaveGrid_SCMATLASCELL_ProductRequestDetails(_ContextFormTemplateSCMATLASCELL_ProductRequestDetails.DataItem, _ContextFormTemplateSCMATLASCELL_ProductRequestDetails.EditModel);
            await Grid_SCMATLASCELL_ProductRequestDetails.CancelEditAsync();
         await ChangePageGrid_SCMATLASCELL_ProductRequestDetails();
         await SetEditFormContextGrid_SCMATLASCELL_ProductRequestDetails();
         }
          
    }

}
async Task OnNoButtonSCMATLASCELL_ProductRequestDetails()
{
    ConfirmationSCMATLASCELL_ProductRequestDetails = false;
    await ChangePageGrid_SCMATLASCELL_ProductRequestDetails();
    await SetEditFormContextGrid_SCMATLASCELL_ProductRequestDetails();

}
async Task SetEditFormContextGrid_SCMATLASCELL_ProductRequestDetails()
{
    var e = (Entity.SCMATLASCELL_ProductRequestDetails)Grid_SCMATLASCELL_ProductRequestDetails.GetDataItem(IndexGrid_SCMATLASCELL_ProductRequestDetails);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SCMATLASCELL_ProductRequestDetails()
{
    int VisibleIndex = IndexGrid_SCMATLASCELL_ProductRequestDetails;
    try
    {
    if (OpenDialogCodeSCMATLASCELL_ProductRequestDetails == 1)
    {
        if (VisibleIndex != (Grid_SCMATLASCELL_ProductRequestDetails.GetVisibleRowCount() - 1))
    { 
            Grid_SCMATLASCELL_ProductRequestDetails.CancelEditAsync();
            IndexGrid_SCMATLASCELL_ProductRequestDetails = VisibleIndex + 1;
    Grid_SCMATLASCELL_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMATLASCELL_ProductRequestDetails);
    }
    }
    else if (OpenDialogCodeSCMATLASCELL_ProductRequestDetails == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SCMATLASCELL_ProductRequestDetails.CancelEditAsync();
            IndexGrid_SCMATLASCELL_ProductRequestDetails = VisibleIndex - 1;
    Grid_SCMATLASCELL_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMATLASCELL_ProductRequestDetails);
    }

    }
    var e = (Entity.SCMATLASCELL_ProductRequestDetails)Grid_SCMATLASCELL_ProductRequestDetails.GetDataItem(IndexGrid_SCMATLASCELL_ProductRequestDetails);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    await GridSCMATLASCELL_ProductRequestId_817_afterrendermodal(e);
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SCMATLASCELL_ProductRequestDetails()
{
    IndexGrid_SCMATLASCELL_ProductRequestDetails = Grid_SCMATLASCELL_ProductRequestDetails.GetVisibleRowCount();
Grid_SCMATLASCELL_ProductRequestDetails.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SCMATLASCELL_ProductRequestDetails();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await GridSCMATLASCELL_ProductRequestId_817_afterrendermodal(e);
}

async Task StartModalGrid_SCMATLASCELL_ProductRequestDetails(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SCMATLASCELL_ProductRequestDetails = Context.VisibleIndex;
Grid_SCMATLASCELL_ProductRequestDetails.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SCMATLASCELL_ProductRequestDetails)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await GridSCMATLASCELL_ProductRequestId_817_afterrendermodal(e);
   // await Task.Delay(500);
}
public async Task SaveModalGrid_SCMATLASCELL_ProductRequestDetails(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    NotValid = await GridSCMATLASCELL_ProductRequestId_817_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_SCMATLASCELL_ProductRequestDetails(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SCMATLASCELL_ProductRequestDetails(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    NotValid = await GridSCMATLASCELL_ProductRequestId_817_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_SCMATLASCELL_ProductRequestDetails(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SCMATLASCELL_ProductRequestDetails();

    }
          
    }
   
}

void PerviousPageGrid_SCMATLASCELL_ProductRequestDetails(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SCMATLASCELL_ProductRequestDetails.CancelEditAsync();
        IndexGrid_SCMATLASCELL_ProductRequestDetails = VisibleIndex - 1;
         Grid_SCMATLASCELL_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMATLASCELL_ProductRequestDetails);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SCMATLASCELL_ProductRequestDetails(int VisibleIndex)
{

    if (VisibleIndex == Grid_SCMATLASCELL_ProductRequestDetails.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SCMATLASCELL_ProductRequestDetails ");
    try
    {
Grid_SCMATLASCELL_ProductRequestDetails.CancelEditAsync();
        IndexGrid_SCMATLASCELL_ProductRequestDetails = VisibleIndex + 1;
         Grid_SCMATLASCELL_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMATLASCELL_ProductRequestDetails);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SCMATLASCELL_ProductRequestDetails(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SCMATLASCELL_ProductRequestDetails;
    var MainModel = (Entity.SCMATLASCELL_ProductRequestDetails)DataItem;
    if (MainModel != null)
    {
MainModel.SH_DESC = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).SH_DESC;
MainModel.SH_PARTNO = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).SH_PARTNO;
MainModel.SH_UNIT = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).SH_UNIT;
MainModel.SH_Amount = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).SH_Amount;
MainModel.ProductRequestingQTY = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).ProductRequestingQTY;
MainModel.Global_PriorityId = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).Global_PriorityId;
MainModel.Global_Priority = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).Global_Priority;
MainModel.PlaceOfUse = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).PlaceOfUse;
MainModel.SR_Desc = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).SR_Desc;
MainModel.DeficitSupplyNumber = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).DeficitSupplyNumber;
MainModel.DescriptionWarehouseKeeper = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).DescriptionWarehouseKeeper;
MainModel.GoodsDeliveryApproved = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).GoodsDeliveryApproved;
MainModel.HasModification = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).HasModification;
MainModel.DeficitSupplyIsEnable = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).DeficitSupplyIsEnable;
MainModel.Id = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).Id;
MainModel.RequestID = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).IsDelete;
MainModel.EnableLaterPurchace = ((Entity.SCMATLASCELL_ProductRequestDetails)EditModel).EnableLaterPurchace;

    }
    else
    {
    ListEntity.Add((Entity.SCMATLASCELL_ProductRequestDetails)EditModel);
    }
}

async Task OnDataItemDeletingSCMATLASCELL_ProductRequestDetails(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SCMATLASCELL_ProductRequestDetails;
    ListEntity.Remove((Entity.SCMATLASCELL_ProductRequestDetails)e.DataItem);
}
async void OnDeleteButtonClickGrid_SCMATLASCELL_ProductRequestDetails (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SCMATLASCELL_ProductRequestDetails = (ex.DataItem as Entity.SCMATLASCELL_ProductRequestDetails);
    var e =SelectedItemGrid_SCMATLASCELL_ProductRequestDetails;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSCMATLASCELL_ProductRequestDetails = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SCMATLASCELL_ProductRequestDetails ()
{
       if (SelectedItemGrid_SCMATLASCELL_ProductRequestDetails != null)
    {
      if (SelectedItemGrid_SCMATLASCELL_ProductRequestDetails.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SCMATLASCELL_ProductRequestDetails;
        ListEntity.Remove((Entity.SCMATLASCELL_ProductRequestDetails)SelectedItemGrid_SCMATLASCELL_ProductRequestDetails);
     
      }
      else
      {
        var cleanModel = new Entity.SCMATLASCELL_ProductRequestDetails();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SCMATLASCELL_ProductRequestDetails).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SCMATLASCELL_ProductRequestDetails);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SCMATLASCELL_ProductRequestDetails, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SCMATLASCELL_ProductRequestDetails._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SCMATLASCELL_ProductRequestDetails;
    
    Grid_SCMATLASCELL_ProductRequestDetails.Reload();
    ConfirmationShownSCMATLASCELL_ProductRequestDetails = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SCMATLASCELL_ProductRequestDetails ()
{
    ConfirmationShownSCMATLASCELL_ProductRequestDetails = false;
}

void CustomizeRowsGrid_SCMATLASCELL_ProductRequestDetails(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SCMATLASCELL_ProductRequestDetails)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SCMATLASCELL_ProductRequestDetails(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SCMATLASCELL_ProductRequestDetails)e.EditModel;

     

    }


}
public async void RowClickGrid_SCMATLASCELL_ProductRequestDetails(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SCMATLASCELL_ProductRequestDetails(GridRowClickEventArgs e)
{

}
}

<div class="row d-none">
    
<div class="col-md-6">
    
</div>

<div class="col-md-6">
    
<Input Id="RequestTrakingCode" @ref="Ref_RequestTrakingCode" Label="کد پیگیری سیستمی"   Disabled=true  @bind-Value="_Entity.RequestTrakingCode" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="ProcessVersionID" @ref="Ref_ProcessVersionID" Label="شناسه نسخه فرآیند جاری"   Disabled=true  @bind-Value="_Entity.ProcessVersionID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMATLASCELL_ProductRequest\",\"GetNameAs\":\"SCMATLASCELL_ProductRequest\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"UserStarterFullName\",\"GetNameAs\":\"UserStarterFullName\"},{\"Name\":\"UserStarterCompanyName\",\"GetNameAs\":\"UserStarterCompanyName\"},{\"Name\":\"UserStarterUnitName\",\"GetNameAs\":\"UserStarterUnitName\"},{\"Name\":\"UserStarterSectionName\",\"GetNameAs\":\"UserStarterSectionName\"},{\"Name\":\"RequestTrakingCode\",\"GetNameAs\":\"RequestTrakingCode\"},{\"Name\":\"ProcessVersionID\",\"GetNameAs\":\"ProcessVersionID\"}],\"Relation\":[{\"Name\":\"SCMATLASCELL_ICT_Departments\",\"GetNameAs\":\"SCMATLASCELL_ICT_Departments\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"SCMATLASCELL_ProductRequestDetails\",\"GetNameAs\":\"SCMATLASCELL_ProductRequestDetails\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SH_PARTNO\",\"GetNameAs\":\"SH_PARTNO\"},{\"Name\":\"SH_DESC\",\"GetNameAs\":\"SH_DESC\"},{\"Name\":\"SH_UNIT\",\"GetNameAs\":\"SH_UNIT\"},{\"Name\":\"SH_Amount\",\"GetNameAs\":\"SH_Amount\"},{\"Name\":\"Global_PriorityId\",\"GetNameAs\":\"Global_PriorityId\"},{\"Name\":\"ProductRequestingQTY\",\"GetNameAs\":\"ProductRequestingQTY\"},{\"Name\":\"PlaceOfUse\",\"GetNameAs\":\"PlaceOfUse\"},{\"Name\":\"SR_Desc\",\"GetNameAs\":\"SR_Desc\"},{\"Name\":\"DeficitSupplyIsEnable\",\"GetNameAs\":\"DeficitSupplyIsEnable\"},{\"Name\":\"DeficitSupplyNumber\",\"GetNameAs\":\"DeficitSupplyNumber\"},{\"Name\":\"DescriptionWarehouseKeeper\",\"GetNameAs\":\"DescriptionWarehouseKeeper\"},{\"Name\":\"GoodsDeliveryApproved\",\"GetNameAs\":\"GoodsDeliveryApproved\"},{\"Name\":\"HasModification\",\"GetNameAs\":\"HasModification\"},{\"Name\":\"EnableLaterPurchace\",\"GetNameAs\":\"EnableLaterPurchace\"}],\"Relation\":[{\"Name\":\"Global_Priority\",\"GetNameAs\":\"Global_Priority\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMATLASCELL_ProductRequest\",\"GetNameAs\":\"SCMATLASCELL_ProductRequest\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"UserStarterFullName\",\"GetNameAs\":\"UserStarterFullName\"},{\"Name\":\"UserStarterCompanyName\",\"GetNameAs\":\"UserStarterCompanyName\"},{\"Name\":\"UserStarterUnitName\",\"GetNameAs\":\"UserStarterUnitName\"},{\"Name\":\"UserStarterSectionName\",\"GetNameAs\":\"UserStarterSectionName\"},{\"Name\":\"RequestTrakingCode\",\"GetNameAs\":\"RequestTrakingCode\"},{\"Name\":\"ProcessVersionID\",\"GetNameAs\":\"ProcessVersionID\"}],\"Relation\":[{\"Name\":\"SCMATLASCELL_ProductRequestDetails\",\"GetNameAs\":\"SCMATLASCELL_ProductRequestDetails\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SH_PARTNO\",\"GetNameAs\":\"SH_PARTNO\"},{\"Name\":\"SH_DESC\",\"GetNameAs\":\"SH_DESC\"},{\"Name\":\"SH_UNIT\",\"GetNameAs\":\"SH_UNIT\"},{\"Name\":\"SH_Amount\",\"GetNameAs\":\"SH_Amount\"},{\"Name\":\"Global_PriorityId\",\"GetNameAs\":\"Global_PriorityId\"},{\"Name\":\"ProductRequestingQTY\",\"GetNameAs\":\"ProductRequestingQTY\"},{\"Name\":\"PlaceOfUse\",\"GetNameAs\":\"PlaceOfUse\"},{\"Name\":\"SR_Desc\",\"GetNameAs\":\"SR_Desc\"},{\"Name\":\"DeficitSupplyIsEnable\",\"GetNameAs\":\"DeficitSupplyIsEnable\"},{\"Name\":\"DeficitSupplyNumber\",\"GetNameAs\":\"DeficitSupplyNumber\"},{\"Name\":\"DescriptionWarehouseKeeper\",\"GetNameAs\":\"DescriptionWarehouseKeeper\"},{\"Name\":\"GoodsDeliveryApproved\",\"GetNameAs\":\"GoodsDeliveryApproved\"},{\"Name\":\"HasModification\",\"GetNameAs\":\"HasModification\"},{\"Name\":\"EnableLaterPurchace\",\"GetNameAs\":\"EnableLaterPurchace\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SCMATLASCELL_ProductRequest>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SCMATLASCELL_ProductRequest();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//
_Entity.UserStarterFullName = _RequestParameters.UserStarterFullName;
_Entity.UserStarterCompanyName = _RequestParameters.UserStarterCompanyName;
_Entity.UserStarterUnitName = _RequestParameters.UserStarterUnitName;
_Entity.UserStarterSectionName = _RequestParameters.UserStarterSectionName;
_Entity.RequestTrakingCode = _RequestParameters.RequestTrakingCode;
_Entity.ProcessVersionID = _RequestParameters.ProcessVersionID;


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SCMATLASCELL_ProductRequest>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
