@inherits Forms.Forms.Form_570_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<div class="row ">
    
<div class="col-md-6">
    
<Input Id="EnteringWarehouseNo" @ref="Ref_EnteringWarehouseNo" Label="شماره رسید انبار"     @bind-Value="_Entity.EnteringWarehouseNo" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-6">
    
<Input Id="BarNamehNo" @ref="Ref_BarNamehNo" Label="شماره بارنامه"     @bind-Value="_Entity.BarNamehNo" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<div class="row ">
    
<div class="col-md-6">
    
<Input Id="DateBarnameh" @ref="Ref_DateBarnameh" Label="تاریخ بارنامه"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.DateBarnameh" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

</div>

<div class="col-md-6">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_PPCAtlasBobbin_EnteringWarehouseGlobal_VehicleId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"انبار مواد اولیه\",\"primaryKey\":false,\"EntityID\":330,\"FieldId\":14214,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":570,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Vehicle\",\"RelationParentModel\":\"Global_Vehicle\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Vehicle/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"وسیله نقلیه\",\"tableView\":true,\"key\":\"Global_VehicleId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14214?EId=330&SubId=26\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=Global_VehicleId  @ref="Ref_Global_VehicleId" Label="وسیله نقلیه" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.Global_VehicleId" FieldName="Global_VehicleId" OnItemSelected="ItemSelected_PPCAtlasBobbin_EnteringWarehouseGlobal_VehicleId" Component="Component_PPCAtlasBobbin_EnteringWarehouseGlobal_VehicleId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_PPCAtlasBobbin_EnteringWarehouseGlobal_VehicleId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.Global_VehicleId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.Global_VehicleId =EntityHelper.SetPropertyNull(Item.Global_VehicleId);
 }
 Item.Global_Vehicle = await Utility.JSON.ToObject<Entity.Global_Vehicle>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</div>

</div>

<div class="row ">
    
<div class="col-md-6">
    
<Input Id="CarNumber" @ref="Ref_CarNumber" Label="پلاک خودرو"     @bind-Value="_Entity.CarNumber" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-6">
    
<Input Id="DriverName" @ref="Ref_DriverName" Label="نام راننده"     @bind-Value="_Entity.DriverName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<div class="row ">
    
<div class="col-md-6">
    
</div>

<div class="col-md-6">
    
<Input Id="Remark" @ref="Ref_Remark" Label="توضیحات"     @bind-Value="_Entity.Remark" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="PPCAtlasBobbin_EnteringWarehouseDetail_GridPPCAtlasBobbin_EnteringWarehouseId_331">جزئیات انبار مواد اولیه
   
    
</label>

<DxGrid @ref="Grid_PPCAtlasBobbin_EnteringWarehouseDetail" Data="_Entity.PPCAtlasBobbin_EnteringWarehouseDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingPPCAtlasBobbin_EnteringWarehouseDetail"
        DataItemDeleting="OnDataItemDeletingPPCAtlasBobbin_EnteringWarehouseDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزئیات انبار مواد اولیه"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_PPCAtlasBobbin_EnteringWarehouseDetail"
        CustomizeElement="CustomizeRowsGrid_PPCAtlasBobbin_EnteringWarehouseDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":331,\"FieldId\":331,\"TypeCSharp\":\"\",\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"RelationChildModel\":\"PPCAtlasBobbin_EnteringWarehouseDetail\",\"GridMainModel\":\"PPCAtlasBobbin_EnteringWarehouseDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزئیات انبار مواد اولیه\",\"tableView\":true,\"key\":\"GridPPCAtlasBobbin_EnteringWarehouseId_331\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridPPCAtlasBobbin_EnteringWarehouseId_331\",\"modalEdit\":true,\"FieldUrl\":\"331?EId=331&SubId=26\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=PPCAtlasBobbin_EnteringWarehouseDetail_GridPPCAtlasBobbin_EnteringWarehouseId_331ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_PPCAtlasBobbin_EnteringWarehouseDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=PPCAtlasBobbin_EnteringWarehouseDetail_GridPPCAtlasBobbin_EnteringWarehouseId_331ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_PPCAtlasBobbin_EnteringWarehouseDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_PPCAtlasBobbin_EnteringWarehouseDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn Context="Global_Global_PackagingId_" Caption="نوع بسته بندی" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderGlobal_Global_PackagingId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":331,\"FieldId\":14219,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":570,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Global_Packaging\",\"RelationParentModel\":\"Global_Global_Packaging\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Global_Packaging/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"نوع بسته بندی\",\"tableView\":true,\"key\":\"Global_Global_PackagingId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14219?EId=331&SubId=26\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowGlobal_Global_PackagingId = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)Global_Global_PackagingId_.DataItem).Global_Global_PackagingId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowGlobal_Global_PackagingId"   FieldName="Global_Global_PackagingId" OnItemSelected="ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_Global_PackagingId_Header" Component="HeaderGlobal_Global_PackagingId">
</Dropdown>
@code {
    public async Task ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_Global_PackagingId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Global_Global_PackagingId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="PPCAtlasBobbin_RawMaterialId_" Caption="مواد اولیه" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderPPCAtlasBobbin_RawMaterialId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":331,\"FieldId\":14220,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":570,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"PPCAtlasBobbin_RawMaterial\",\"RelationParentModel\":\"PPCAtlasBobbin_RawMaterial\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/PPCAtlasBobbin_RawMaterial/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.RawMaterialName}} </span>\",\"FieldsTemplate\":[{\"key\":\"RawMaterialName\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"مواد اولیه\",\"tableView\":true,\"key\":\"PPCAtlasBobbin_RawMaterialId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14220?EId=331&SubId=26\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowPPCAtlasBobbin_RawMaterialId = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)PPCAtlasBobbin_RawMaterialId_.DataItem).PPCAtlasBobbin_RawMaterialId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowPPCAtlasBobbin_RawMaterialId"   FieldName="PPCAtlasBobbin_RawMaterialId" OnItemSelected="ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_RawMaterialId_Header" Component="HeaderPPCAtlasBobbin_RawMaterialId">
</Dropdown>
@code {
    public async Task ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_RawMaterialId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   PPCAtlasBobbin_RawMaterialId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="Global_UnitId_" Caption="واحد شمارش" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderGlobal_UnitId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":331,\"FieldId\":14221,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":570,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Unit\",\"RelationParentModel\":\"Global_Unit\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Unit/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"واحد شمارش\",\"tableView\":true,\"key\":\"Global_UnitId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14221?EId=331&SubId=26\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowGlobal_UnitId = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)Global_UnitId_.DataItem).Global_UnitId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowGlobal_UnitId"   FieldName="Global_UnitId" OnItemSelected="ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_UnitId_Header" Component="HeaderGlobal_UnitId">
</Dropdown>
@code {
    public async Task ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_UnitId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Global_UnitId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="PPCAtlasBobbin_ProducerId_" Caption="تامین کننده" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderPPCAtlasBobbin_ProducerId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":331,\"FieldId\":14222,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":570,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"PPCAtlasBobbin_Producer\",\"RelationParentModel\":\"PPCAtlasBobbin_Producer\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/PPCAtlasBobbin_Producer/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.ProducerName}} </span>\",\"FieldsTemplate\":[{\"key\":\"ProducerName\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"تامین کننده\",\"tableView\":true,\"key\":\"PPCAtlasBobbin_ProducerId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14222?EId=331&SubId=26\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowPPCAtlasBobbin_ProducerId = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)PPCAtlasBobbin_ProducerId_.DataItem).PPCAtlasBobbin_ProducerId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowPPCAtlasBobbin_ProducerId"   FieldName="PPCAtlasBobbin_ProducerId" OnItemSelected="ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_ProducerId_Header" Component="HeaderPPCAtlasBobbin_ProducerId">
</Dropdown>
@code {
    public async Task ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_ProducerId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   PPCAtlasBobbin_ProducerId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="بارکد"  FieldName="BarcodeNo" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار"  FieldName="Amount" />

<DxGridDataColumn  Caption="شماره لات"  FieldName="SellerBarcode" />


</Columns>

    <EditFormTemplate Context="EditFormContextPPCAtlasBobbin_EnteringWarehouseDetail">
    @{
        PPCAtlasBobbin_EnteringWarehouseDetail  = (Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditFormContextPPCAtlasBobbin_EnteringWarehouseDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
    
<Input Id="PPCAtlasBobbin_EnteringWarehouseDetail_Id" @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_Id"   CssClass="d-none"   @bind-Value="PPCAtlasBobbin_EnteringWarehouseDetail.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
    
<Input Id="PPCAtlasBobbin_EnteringWarehouseDetail_RequestID" @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_RequestID"      @bind-Value="PPCAtlasBobbin_EnteringWarehouseDetail.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
    
<Input Id="PPCAtlasBobbin_EnteringWarehouseDetail_CreateUser" @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_CreateUser"      @bind-Value="PPCAtlasBobbin_EnteringWarehouseDetail.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
    
<Input Id="PPCAtlasBobbin_EnteringWarehouseDetail_UpdateUser" @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_UpdateUser"      @bind-Value="PPCAtlasBobbin_EnteringWarehouseDetail.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
    
<Input Id="PPCAtlasBobbin_EnteringWarehouseDetail_CreateDate" @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_CreateDate"   CssClass="d-none"   @bind-Value="PPCAtlasBobbin_EnteringWarehouseDetail.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
    
<Input Id="PPCAtlasBobbin_EnteringWarehouseDetail_UpdateDate" @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_UpdateDate"   CssClass="d-none"   @bind-Value="PPCAtlasBobbin_EnteringWarehouseDetail.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
    
<Input Id="PPCAtlasBobbin_EnteringWarehouseDetail_IsDelete" @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_IsDelete"   CssClass="d-none"   @bind-Value="PPCAtlasBobbin_EnteringWarehouseDetail.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_Global_PackagingId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":331,\"FieldId\":14219,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":570,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Global_Packaging\",\"RelationParentModel\":\"Global_Global_Packaging\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Global_Packaging/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"نوع بسته بندی\",\"tableView\":true,\"key\":\"Global_Global_PackagingId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14219?EId=331&SubId=26\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=PPCAtlasBobbin_EnteringWarehouseDetail_Global_Global_PackagingId  @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_Global_Global_PackagingId" Label="نوع بسته بندی" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@PPCAtlasBobbin_EnteringWarehouseDetail.Global_Global_PackagingId" FieldName="Global_Global_PackagingId" OnItemSelected="ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_Global_PackagingId" Component="Component_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_Global_PackagingId" _Entity="_Entity" _EntityRow=PPCAtlasBobbin_EnteringWarehouseDetail>
</Dropdown>
@code {
    public async Task ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_Global_PackagingId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = PPCAtlasBobbin_EnteringWarehouseDetail;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.Global_Global_PackagingId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.Global_Global_PackagingId =EntityHelper.SetPropertyNull(Item.Global_Global_PackagingId);
 }
 Item.Global_Global_Packaging = await Utility.JSON.ToObject<Entity.Global_Global_Packaging>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_RawMaterialId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":331,\"FieldId\":14220,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":570,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"PPCAtlasBobbin_RawMaterial\",\"RelationParentModel\":\"PPCAtlasBobbin_RawMaterial\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/PPCAtlasBobbin_RawMaterial/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.RawMaterialName}} </span>\",\"FieldsTemplate\":[{\"key\":\"RawMaterialName\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"مواد اولیه\",\"tableView\":true,\"key\":\"PPCAtlasBobbin_RawMaterialId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14220?EId=331&SubId=26\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=PPCAtlasBobbin_EnteringWarehouseDetail_PPCAtlasBobbin_RawMaterialId  @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_PPCAtlasBobbin_RawMaterialId" Label="مواد اولیه" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@PPCAtlasBobbin_EnteringWarehouseDetail.PPCAtlasBobbin_RawMaterialId" FieldName="PPCAtlasBobbin_RawMaterialId" OnItemSelected="ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_RawMaterialId" Component="Component_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_RawMaterialId" _Entity="_Entity" _EntityRow=PPCAtlasBobbin_EnteringWarehouseDetail>
</Dropdown>
@code {
    public async Task ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_RawMaterialId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = PPCAtlasBobbin_EnteringWarehouseDetail;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.PPCAtlasBobbin_RawMaterialId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.PPCAtlasBobbin_RawMaterialId =EntityHelper.SetPropertyNull(Item.PPCAtlasBobbin_RawMaterialId);
 }
 Item.PPCAtlasBobbin_RawMaterial = await Utility.JSON.ToObject<Entity.PPCAtlasBobbin_RawMaterial>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_UnitId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":331,\"FieldId\":14221,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":570,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Unit\",\"RelationParentModel\":\"Global_Unit\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Unit/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"واحد شمارش\",\"tableView\":true,\"key\":\"Global_UnitId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14221?EId=331&SubId=26\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=PPCAtlasBobbin_EnteringWarehouseDetail_Global_UnitId  @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_Global_UnitId" Label="واحد شمارش" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@PPCAtlasBobbin_EnteringWarehouseDetail.Global_UnitId" FieldName="Global_UnitId" OnItemSelected="ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_UnitId" Component="Component_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_UnitId" _Entity="_Entity" _EntityRow=PPCAtlasBobbin_EnteringWarehouseDetail>
</Dropdown>
@code {
    public async Task ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailGlobal_UnitId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = PPCAtlasBobbin_EnteringWarehouseDetail;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.Global_UnitId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.Global_UnitId =EntityHelper.SetPropertyNull(Item.Global_UnitId);
 }
 Item.Global_Unit = await Utility.JSON.ToObject<Entity.Global_Unit>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_ProducerId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":331,\"FieldId\":14222,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":570,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"PPCAtlasBobbin_Producer\",\"RelationParentModel\":\"PPCAtlasBobbin_Producer\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/PPCAtlasBobbin_Producer/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.ProducerName}} </span>\",\"FieldsTemplate\":[{\"key\":\"ProducerName\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"تامین کننده\",\"tableView\":true,\"key\":\"PPCAtlasBobbin_ProducerId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14222?EId=331&SubId=26\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=PPCAtlasBobbin_EnteringWarehouseDetail_PPCAtlasBobbin_ProducerId  @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_PPCAtlasBobbin_ProducerId" Label="تامین کننده" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@PPCAtlasBobbin_EnteringWarehouseDetail.PPCAtlasBobbin_ProducerId" FieldName="PPCAtlasBobbin_ProducerId" OnItemSelected="ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_ProducerId" Component="Component_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_ProducerId" _Entity="_Entity" _EntityRow=PPCAtlasBobbin_EnteringWarehouseDetail>
</Dropdown>
@code {
    public async Task ItemSelected_PPCAtlasBobbin_EnteringWarehouseDetailPPCAtlasBobbin_ProducerId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = PPCAtlasBobbin_EnteringWarehouseDetail;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.PPCAtlasBobbin_ProducerId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.PPCAtlasBobbin_ProducerId =EntityHelper.SetPropertyNull(Item.PPCAtlasBobbin_ProducerId);
 }
 Item.PPCAtlasBobbin_Producer = await Utility.JSON.ToObject<Entity.PPCAtlasBobbin_Producer>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
    
<Input Id="PPCAtlasBobbin_EnteringWarehouseDetail_BarcodeNo" @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_BarcodeNo" Label="بارکد"     @bind-Value="PPCAtlasBobbin_EnteringWarehouseDetail.BarcodeNo" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
    
<Input Id="PPCAtlasBobbin_EnteringWarehouseDetail_Amount" @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_Amount" Label="مقدار"     @bind-Value="PPCAtlasBobbin_EnteringWarehouseDetail.Amount" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\",\"maxlength\":\"1\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail">
    
<Input Id="PPCAtlasBobbin_EnteringWarehouseDetail_SellerBarcode" @ref="Ref_PPCAtlasBobbin_EnteringWarehouseDetail_SellerBarcode" Label="شماره لات"     @bind-Value="PPCAtlasBobbin_EnteringWarehouseDetail.SellerBarcode" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextPPCAtlasBobbin_EnteringWarehouseDetail" CssClass="btn-modal-custom">
            <DxButton Id="PPCAtlasBobbin_EnteringWarehouseDetail_GridPPCAtlasBobbin_EnteringWarehouseId_331ButtonSave" Click="@(() => SaveModalGrid_PPCAtlasBobbin_EnteringWarehouseDetail(EditFormContextPPCAtlasBobbin_EnteringWarehouseDetail))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="PPCAtlasBobbin_EnteringWarehouseDetail_GridPPCAtlasBobbin_EnteringWarehouseId_331ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_PPCAtlasBobbin_EnteringWarehouseDetail(EditFormContextPPCAtlasBobbin_EnteringWarehouseDetail))" CssClass="btn btn-green" />


            <DxButton Id="PPCAtlasBobbin_EnteringWarehouseDetail_GridPPCAtlasBobbin_EnteringWarehouseId_331ButtonCancel" Click="@(() => Grid_PPCAtlasBobbin_EnteringWarehouseDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="PPCAtlasBobbin_EnteringWarehouseDetail_GridPPCAtlasBobbin_EnteringWarehouseId_331ButtonBefore" Click="@(() => Dialog_Grid_PPCAtlasBobbin_EnteringWarehouseDetail(0,IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail,EditFormContextPPCAtlasBobbin_EnteringWarehouseDetail))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="PPCAtlasBobbin_EnteringWarehouseDetail_GridPPCAtlasBobbin_EnteringWarehouseId_331ButtonNext" Click="@(() => Dialog_Grid_PPCAtlasBobbin_EnteringWarehouseDetail(1,IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail,EditFormContextPPCAtlasBobbin_EnteringWarehouseDetail))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownPPCAtlasBobbin_EnteringWarehouseDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_PPCAtlasBobbin_EnteringWarehouseDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_PPCAtlasBobbin_EnteringWarehouseDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationPPCAtlasBobbin_EnteringWarehouseDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonPPCAtlasBobbin_EnteringWarehouseDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonPPCAtlasBobbin_EnteringWarehouseDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_PPCAtlasBobbin_EnteringWarehouseDetail;
    Entity.PPCAtlasBobbin_EnteringWarehouseDetail PPCAtlasBobbin_EnteringWarehouseDetail;
    bool ConfirmationShownPPCAtlasBobbin_EnteringWarehouseDetail { get; set; } = false;
    public Entity.PPCAtlasBobbin_EnteringWarehouseDetail SelectedItemGrid_PPCAtlasBobbin_EnteringWarehouseDetail { get; set; } = new Entity.PPCAtlasBobbin_EnteringWarehouseDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail { get; set; }

    ///////////////////////
    bool ConfirmationPPCAtlasBobbin_EnteringWarehouseDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplatePPCAtlasBobbin_EnteringWarehouseDetail { get; set; }
    public int OpenDialogCodePPCAtlasBobbin_EnteringWarehouseDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingPPCAtlasBobbin_EnteringWarehouseDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_PPCAtlasBobbin_EnteringWarehouseDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_PPCAtlasBobbin_EnteringWarehouseDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodePPCAtlasBobbin_EnteringWarehouseDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplatePPCAtlasBobbin_EnteringWarehouseDetail = e;
    ConfirmationPPCAtlasBobbin_EnteringWarehouseDetail = true;
    }
    else
    {
    await OnNoButtonPPCAtlasBobbin_EnteringWarehouseDetail();
    }
}
async Task OnYesButtonPPCAtlasBobbin_EnteringWarehouseDetail()
{

    ConfirmationPPCAtlasBobbin_EnteringWarehouseDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplatePPCAtlasBobbin_EnteringWarehouseDetail.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_PPCAtlasBobbin_EnteringWarehouseDetail(_ContextFormTemplatePPCAtlasBobbin_EnteringWarehouseDetail.DataItem, _ContextFormTemplatePPCAtlasBobbin_EnteringWarehouseDetail.EditModel);
            await Grid_PPCAtlasBobbin_EnteringWarehouseDetail.CancelEditAsync();
         await ChangePageGrid_PPCAtlasBobbin_EnteringWarehouseDetail();
         await SetEditFormContextGrid_PPCAtlasBobbin_EnteringWarehouseDetail();
         }
          
    }

}
async Task OnNoButtonPPCAtlasBobbin_EnteringWarehouseDetail()
{
    ConfirmationPPCAtlasBobbin_EnteringWarehouseDetail = false;
    await ChangePageGrid_PPCAtlasBobbin_EnteringWarehouseDetail();
    await SetEditFormContextGrid_PPCAtlasBobbin_EnteringWarehouseDetail();

}
async Task SetEditFormContextGrid_PPCAtlasBobbin_EnteringWarehouseDetail()
{
    var e = (Entity.PPCAtlasBobbin_EnteringWarehouseDetail)Grid_PPCAtlasBobbin_EnteringWarehouseDetail.GetDataItem(IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_PPCAtlasBobbin_EnteringWarehouseDetail()
{
    int VisibleIndex = IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail;
    try
    {
    if (OpenDialogCodePPCAtlasBobbin_EnteringWarehouseDetail == 1)
    {
        if (VisibleIndex != (Grid_PPCAtlasBobbin_EnteringWarehouseDetail.GetVisibleRowCount() - 1))
    { 
            Grid_PPCAtlasBobbin_EnteringWarehouseDetail.CancelEditAsync();
            IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail = VisibleIndex + 1;
    Grid_PPCAtlasBobbin_EnteringWarehouseDetail.StartEditRowAsync(IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail);
    }
    }
    else if (OpenDialogCodePPCAtlasBobbin_EnteringWarehouseDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_PPCAtlasBobbin_EnteringWarehouseDetail.CancelEditAsync();
            IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail = VisibleIndex - 1;
    Grid_PPCAtlasBobbin_EnteringWarehouseDetail.StartEditRowAsync(IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail);
    }

    }
    var e = (Entity.PPCAtlasBobbin_EnteringWarehouseDetail)Grid_PPCAtlasBobbin_EnteringWarehouseDetail.GetDataItem(IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_PPCAtlasBobbin_EnteringWarehouseDetail()
{
    IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail = Grid_PPCAtlasBobbin_EnteringWarehouseDetail.GetVisibleRowCount();
Grid_PPCAtlasBobbin_EnteringWarehouseDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.PPCAtlasBobbin_EnteringWarehouseDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_PPCAtlasBobbin_EnteringWarehouseDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail = Context.VisibleIndex;
Grid_PPCAtlasBobbin_EnteringWarehouseDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.PPCAtlasBobbin_EnteringWarehouseDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_PPCAtlasBobbin_EnteringWarehouseDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_PPCAtlasBobbin_EnteringWarehouseDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_PPCAtlasBobbin_EnteringWarehouseDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_PPCAtlasBobbin_EnteringWarehouseDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_PPCAtlasBobbin_EnteringWarehouseDetail();

    }
          
    }
   
}

void PerviousPageGrid_PPCAtlasBobbin_EnteringWarehouseDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_PPCAtlasBobbin_EnteringWarehouseDetail.CancelEditAsync();
        IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail = VisibleIndex - 1;
         Grid_PPCAtlasBobbin_EnteringWarehouseDetail.StartEditRowAsync(IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_PPCAtlasBobbin_EnteringWarehouseDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_PPCAtlasBobbin_EnteringWarehouseDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_PPCAtlasBobbin_EnteringWarehouseDetail ");
    try
    {
Grid_PPCAtlasBobbin_EnteringWarehouseDetail.CancelEditAsync();
        IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail = VisibleIndex + 1;
         Grid_PPCAtlasBobbin_EnteringWarehouseDetail.StartEditRowAsync(IndexGrid_PPCAtlasBobbin_EnteringWarehouseDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_PPCAtlasBobbin_EnteringWarehouseDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.PPCAtlasBobbin_EnteringWarehouseDetail;
    var MainModel = (Entity.PPCAtlasBobbin_EnteringWarehouseDetail)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).Id;
MainModel.RequestID = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).RequestID;
MainModel.CreateUser = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).IsDelete;
MainModel.Global_Global_PackagingId = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).Global_Global_PackagingId;
MainModel.Global_Global_Packaging = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).Global_Global_Packaging;
MainModel.PPCAtlasBobbin_RawMaterialId = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).PPCAtlasBobbin_RawMaterialId;
MainModel.PPCAtlasBobbin_RawMaterial = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).PPCAtlasBobbin_RawMaterial;
MainModel.Global_UnitId = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).Global_UnitId;
MainModel.Global_Unit = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).Global_Unit;
MainModel.PPCAtlasBobbin_ProducerId = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).PPCAtlasBobbin_ProducerId;
MainModel.PPCAtlasBobbin_Producer = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).PPCAtlasBobbin_Producer;
MainModel.BarcodeNo = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).BarcodeNo;
MainModel.Amount = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).Amount;
MainModel.SellerBarcode = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel).SellerBarcode;

    }
    else
    {
    ListEntity.Add((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)EditModel);
    }
}

async Task OnDataItemDeletingPPCAtlasBobbin_EnteringWarehouseDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.PPCAtlasBobbin_EnteringWarehouseDetail;
    ListEntity.Remove((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_PPCAtlasBobbin_EnteringWarehouseDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_PPCAtlasBobbin_EnteringWarehouseDetail = (ex.DataItem as Entity.PPCAtlasBobbin_EnteringWarehouseDetail);
    var e =SelectedItemGrid_PPCAtlasBobbin_EnteringWarehouseDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownPPCAtlasBobbin_EnteringWarehouseDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_PPCAtlasBobbin_EnteringWarehouseDetail ()
{
       if (SelectedItemGrid_PPCAtlasBobbin_EnteringWarehouseDetail != null)
    {
      if (SelectedItemGrid_PPCAtlasBobbin_EnteringWarehouseDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.PPCAtlasBobbin_EnteringWarehouseDetail;
        ListEntity.Remove((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)SelectedItemGrid_PPCAtlasBobbin_EnteringWarehouseDetail);
     
      }
      else
      {
        var cleanModel = new Entity.PPCAtlasBobbin_EnteringWarehouseDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.PPCAtlasBobbin_EnteringWarehouseDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_PPCAtlasBobbin_EnteringWarehouseDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_PPCAtlasBobbin_EnteringWarehouseDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_PPCAtlasBobbin_EnteringWarehouseDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_PPCAtlasBobbin_EnteringWarehouseDetail;
    
    Grid_PPCAtlasBobbin_EnteringWarehouseDetail.Reload();
    ConfirmationShownPPCAtlasBobbin_EnteringWarehouseDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_PPCAtlasBobbin_EnteringWarehouseDetail ()
{
    ConfirmationShownPPCAtlasBobbin_EnteringWarehouseDetail = false;
}

void CustomizeRowsGrid_PPCAtlasBobbin_EnteringWarehouseDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.PPCAtlasBobbin_EnteringWarehouseDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_PPCAtlasBobbin_EnteringWarehouseDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.PPCAtlasBobbin_EnteringWarehouseDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_PPCAtlasBobbin_EnteringWarehouseDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_PPCAtlasBobbin_EnteringWarehouseDetail(GridRowClickEventArgs e)
{

}
}

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"PPCAtlasBobbin_EnteringWarehouse\",\"GetNameAs\":\"PPCAtlasBobbin_EnteringWarehouse\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"EnteringWarehouseNo\",\"GetNameAs\":\"EnteringWarehouseNo\"},{\"Name\":\"BarNamehNo\",\"GetNameAs\":\"BarNamehNo\"},{\"Name\":\"DateBarnameh\",\"GetNameAs\":\"DateBarnameh\"},{\"Name\":\"Global_VehicleId\",\"GetNameAs\":\"Global_VehicleId\"},{\"Name\":\"CarNumber\",\"GetNameAs\":\"CarNumber\"},{\"Name\":\"DriverName\",\"GetNameAs\":\"DriverName\"},{\"Name\":\"MobileDriverName\",\"GetNameAs\":\"MobileDriverName\"},{\"Name\":\"Remark\",\"GetNameAs\":\"Remark\"}],\"Relation\":[{\"Name\":\"Global_Vehicle\",\"GetNameAs\":\"Global_Vehicle\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"PPCAtlasBobbin_EnteringWarehouseDetail\",\"GetNameAs\":\"PPCAtlasBobbin_EnteringWarehouseDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Global_UnitId\",\"GetNameAs\":\"Global_UnitId\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Global_Global_PackagingId\",\"GetNameAs\":\"Global_Global_PackagingId\"},{\"Name\":\"PPCAtlasBobbin_RawMaterialId\",\"GetNameAs\":\"PPCAtlasBobbin_RawMaterialId\"},{\"Name\":\"PPCAtlasBobbin_ProducerId\",\"GetNameAs\":\"PPCAtlasBobbin_ProducerId\"},{\"Name\":\"BarcodeNo\",\"GetNameAs\":\"BarcodeNo\"},{\"Name\":\"Amount\",\"GetNameAs\":\"Amount\"},{\"Name\":\"SellerBarcode\",\"GetNameAs\":\"SellerBarcode\"}],\"Relation\":[{\"Name\":\"Global_Unit\",\"GetNameAs\":\"Global_Unit\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}]},{\"Name\":\"Global_Global_Packaging\",\"GetNameAs\":\"Global_Global_Packaging\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}]},{\"Name\":\"PPCAtlasBobbin_RawMaterial\",\"GetNameAs\":\"PPCAtlasBobbin_RawMaterial\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RawMaterialCode\",\"GetNameAs\":\"RawMaterialCode\"},{\"Name\":\"RawMaterialName\",\"GetNameAs\":\"RawMaterialName\"},{\"Name\":\"RawMaterialLatinName\",\"GetNameAs\":\"RawMaterialLatinName\"},{\"Name\":\"Global_UnitId\",\"GetNameAs\":\"Global_UnitId\"},{\"Name\":\"PPCAtlasBobbin_RawMaterialGroupId\",\"GetNameAs\":\"PPCAtlasBobbin_RawMaterialGroupId\"},{\"Name\":\"Width\",\"GetNameAs\":\"Width\"}]},{\"Name\":\"PPCAtlasBobbin_Producer\",\"GetNameAs\":\"PPCAtlasBobbin_Producer\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"ProducerName\",\"GetNameAs\":\"ProducerName\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"PPCAtlasBobbin_EnteringWarehouse\",\"GetNameAs\":\"PPCAtlasBobbin_EnteringWarehouse\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"EnteringWarehouseNo\",\"GetNameAs\":\"EnteringWarehouseNo\"},{\"Name\":\"BarNamehNo\",\"GetNameAs\":\"BarNamehNo\"},{\"Name\":\"DateBarnameh\",\"GetNameAs\":\"DateBarnameh\"},{\"Name\":\"Global_VehicleId\",\"GetNameAs\":\"Global_VehicleId\"},{\"Name\":\"CarNumber\",\"GetNameAs\":\"CarNumber\"},{\"Name\":\"DriverName\",\"GetNameAs\":\"DriverName\"},{\"Name\":\"MobileDriverName\",\"GetNameAs\":\"MobileDriverName\"},{\"Name\":\"Remark\",\"GetNameAs\":\"Remark\"}],\"Relation\":[{\"Name\":\"PPCAtlasBobbin_EnteringWarehouseDetail\",\"GetNameAs\":\"PPCAtlasBobbin_EnteringWarehouseDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Global_UnitId\",\"GetNameAs\":\"Global_UnitId\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Global_Global_PackagingId\",\"GetNameAs\":\"Global_Global_PackagingId\"},{\"Name\":\"PPCAtlasBobbin_RawMaterialId\",\"GetNameAs\":\"PPCAtlasBobbin_RawMaterialId\"},{\"Name\":\"PPCAtlasBobbin_ProducerId\",\"GetNameAs\":\"PPCAtlasBobbin_ProducerId\"},{\"Name\":\"BarcodeNo\",\"GetNameAs\":\"BarcodeNo\"},{\"Name\":\"Amount\",\"GetNameAs\":\"Amount\"},{\"Name\":\"SellerBarcode\",\"GetNameAs\":\"SellerBarcode\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.PPCAtlasBobbin_EnteringWarehouse>(Data);
        }
            }
            else
            {
                _Entity = new Entity.PPCAtlasBobbin_EnteringWarehouse();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.PPCAtlasBobbin_EnteringWarehouse>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
