@inherits Forms.Forms.Form_504_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="row ">
    
<div class="col-md-4">
    
</div>

<div class="col-md-4">
    
</div>

<div class="col-md-4">
    
</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="SCMPETCO_OS_Details_GridSCMPETCO_AreaOperationId_343">برون سپاری پتکو - بخش جزئیات
   
    
</label>

<DxGrid @ref="Grid_SCMPETCO_OS_Details" Data="_Entity.SCMPETCO_OS_Details" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSCMPETCO_OS_Details"
        DataItemDeleting="OnDataItemDeletingSCMPETCO_OS_Details"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="برون سپاری پتکو - بخش جزئیات"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SCMPETCO_OS_Details"
        CustomizeElement="CustomizeRowsGrid_SCMPETCO_OS_Details" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":343,\"FieldId\":343,\"TypeCSharp\":\"\",\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"RelationChildModel\":\"SCMPETCO_OS_Details\",\"GridMainModel\":\"SCMPETCO_OS_Details\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"برون سپاری پتکو - بخش جزئیات\",\"tableView\":true,\"key\":\"GridSCMPETCO_AreaOperationId_343\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSCMPETCO_AreaOperationId\",\"modalEdit\":true,\"FieldUrl\":\"343?EId=343&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":false,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SCMPETCO_OS_Details_GridSCMPETCO_AreaOperationId_343ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SCMPETCO_OS_Details())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SCMPETCO_OS_Details_GridSCMPETCO_AreaOperationId_343ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SCMPETCO_OS_Details(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn Context="SCMPETCO_OS_MasterId_" Caption="ارتباط با بخش اصلی برون سپاری" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCMPETCO_OS_MasterId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":343,\"FieldId\":14518,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":504,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCMPETCO_OS_Master\",\"RelationParentModel\":\"SCMPETCO_OS_Master\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_OS_Master/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":false,\"modal\":true,\"label\":\"ارتباط با بخش اصلی برون سپاری\",\"tableView\":true,\"key\":\"SCMPETCO_OS_MasterId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14518?EId=343&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCMPETCO_OS_MasterId = ((Entity.SCMPETCO_OS_Details)SCMPETCO_OS_MasterId_.DataItem).SCMPETCO_OS_MasterId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSCMPETCO_OS_MasterId"   FieldName="SCMPETCO_OS_MasterId" OnItemSelected="ItemSelected_SCMPETCO_OS_DetailsSCMPETCO_OS_MasterId_Header" Component="HeaderSCMPETCO_OS_MasterId">
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_OS_DetailsSCMPETCO_OS_MasterId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCMPETCO_OS_MasterId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="عنوان کار"  FieldName="OS_JobTitle" />

<DxGridDataColumn Context="Global_UnitsId_" Caption="واحد کالا" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderGlobal_UnitsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":343,\"FieldId\":14536,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":504,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Units\",\"RelationParentModel\":\"Global_Units\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Units/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":false,\"modal\":true,\"label\":\"واحد کالا\",\"tableView\":true,\"key\":\"Global_UnitsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14536?EId=343&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowGlobal_UnitsId = ((Entity.SCMPETCO_OS_Details)Global_UnitsId_.DataItem).Global_UnitsId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowGlobal_UnitsId"   FieldName="Global_UnitsId" OnItemSelected="ItemSelected_SCMPETCO_OS_DetailsGlobal_UnitsId_Header" Component="HeaderGlobal_UnitsId">
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_OS_DetailsGlobal_UnitsId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Global_UnitsId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn DisplayFormat="0" Caption="تعداد"  FieldName="Amount" />

<DxGridDataColumn Context="Global_PriorityId_" Caption="اولویت" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderGlobal_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":343,\"FieldId\":14539,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":504,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Priority\",\"RelationParentModel\":\"Global_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Priority/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":false,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"Global_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14539?EId=343&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowGlobal_PriorityId = ((Entity.SCMPETCO_OS_Details)Global_PriorityId_.DataItem).Global_PriorityId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowGlobal_PriorityId"   FieldName="Global_PriorityId" OnItemSelected="ItemSelected_SCMPETCO_OS_DetailsGlobal_PriorityId_Header" Component="HeaderGlobal_PriorityId">
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_OS_DetailsGlobal_PriorityId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Global_PriorityId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="محل مصرف"  FieldName="AreaUse" />

<DxGridDataColumn  Caption="محل عملیات"  FieldName="SCMPETCO_AreaOperationId" />


</Columns>

    <EditFormTemplate Context="EditFormContextSCMPETCO_OS_Details">
    @{
        SCMPETCO_OS_Details  = (Entity.SCMPETCO_OS_Details)EditFormContextSCMPETCO_OS_Details.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_Id" @ref="Ref_SCMPETCO_OS_Details_Id"   CssClass="d-none"   @bind-Value="SCMPETCO_OS_Details.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_RequestID" @ref="Ref_SCMPETCO_OS_Details_RequestID"      @bind-Value="SCMPETCO_OS_Details.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_CreateUser" @ref="Ref_SCMPETCO_OS_Details_CreateUser"      @bind-Value="SCMPETCO_OS_Details.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_UpdateUser" @ref="Ref_SCMPETCO_OS_Details_UpdateUser"      @bind-Value="SCMPETCO_OS_Details.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_CreateDate" @ref="Ref_SCMPETCO_OS_Details_CreateDate"   CssClass="d-none"   @bind-Value="SCMPETCO_OS_Details.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_UpdateDate" @ref="Ref_SCMPETCO_OS_Details_UpdateDate"   CssClass="d-none"   @bind-Value="SCMPETCO_OS_Details.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_IsDelete" @ref="Ref_SCMPETCO_OS_Details_IsDelete"   CssClass="d-none"   @bind-Value="SCMPETCO_OS_Details.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_OS_DetailsSCMPETCO_OS_MasterId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":343,\"FieldId\":14518,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":504,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCMPETCO_OS_Master\",\"RelationParentModel\":\"SCMPETCO_OS_Master\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_OS_Master/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":false,\"modal\":true,\"label\":\"ارتباط با بخش اصلی برون سپاری\",\"tableView\":true,\"key\":\"SCMPETCO_OS_MasterId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14518?EId=343&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMPETCO_OS_Details_SCMPETCO_OS_MasterId  @ref="Ref_SCMPETCO_OS_Details_SCMPETCO_OS_MasterId" Label="ارتباط با بخش اصلی برون سپاری" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCMPETCO_OS_Details.SCMPETCO_OS_MasterId" FieldName="SCMPETCO_OS_MasterId" OnItemSelected="ItemSelected_SCMPETCO_OS_DetailsSCMPETCO_OS_MasterId" Component="Component_SCMPETCO_OS_DetailsSCMPETCO_OS_MasterId" _Entity="_Entity" _EntityRow=SCMPETCO_OS_Details>
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_OS_DetailsSCMPETCO_OS_MasterId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMPETCO_OS_Details;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SCMPETCO_OS_MasterId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SCMPETCO_OS_MasterId =EntityHelper.SetPropertyNull(Item.SCMPETCO_OS_MasterId);
 }
 Item.SCMPETCO_OS_Master = await Utility.JSON.ToObject<Entity.SCMPETCO_OS_Master>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_OS_JobTitle" @ref="Ref_SCMPETCO_OS_Details_OS_JobTitle" Label="عنوان کار"     @bind-Value="SCMPETCO_OS_Details.OS_JobTitle" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_OS_DetailsGlobal_UnitsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":343,\"FieldId\":14536,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":504,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Units\",\"RelationParentModel\":\"Global_Units\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Units/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":false,\"modal\":true,\"label\":\"واحد کالا\",\"tableView\":true,\"key\":\"Global_UnitsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14536?EId=343&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMPETCO_OS_Details_Global_UnitsId  @ref="Ref_SCMPETCO_OS_Details_Global_UnitsId" Label="واحد کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCMPETCO_OS_Details.Global_UnitsId" FieldName="Global_UnitsId" OnItemSelected="ItemSelected_SCMPETCO_OS_DetailsGlobal_UnitsId" Component="Component_SCMPETCO_OS_DetailsGlobal_UnitsId" _Entity="_Entity" _EntityRow=SCMPETCO_OS_Details>
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_OS_DetailsGlobal_UnitsId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMPETCO_OS_Details;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.Global_UnitsId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.Global_UnitsId =EntityHelper.SetPropertyNull(Item.Global_UnitsId);
 }
 Item.Global_Units = await Utility.JSON.ToObject<Entity.Global_Units>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_Amount" @ref="Ref_SCMPETCO_OS_Details_Amount" Label="تعداد"     @bind-Value="SCMPETCO_OS_Details.Amount" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_OS_DetailsGlobal_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":343,\"FieldId\":14539,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":504,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Priority\",\"RelationParentModel\":\"Global_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Priority/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":false,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"Global_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14539?EId=343&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMPETCO_OS_Details_Global_PriorityId  @ref="Ref_SCMPETCO_OS_Details_Global_PriorityId" Label="اولویت" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCMPETCO_OS_Details.Global_PriorityId" FieldName="Global_PriorityId" OnItemSelected="ItemSelected_SCMPETCO_OS_DetailsGlobal_PriorityId" Component="Component_SCMPETCO_OS_DetailsGlobal_PriorityId" _Entity="_Entity" _EntityRow=SCMPETCO_OS_Details>
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_OS_DetailsGlobal_PriorityId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMPETCO_OS_Details;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.Global_PriorityId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.Global_PriorityId =EntityHelper.SetPropertyNull(Item.Global_PriorityId);
 }
 Item.Global_Priority = await Utility.JSON.ToObject<Entity.Global_Priority>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_AreaUse" @ref="Ref_SCMPETCO_OS_Details_AreaUse" Label="محل مصرف"     @bind-Value="SCMPETCO_OS_Details.AreaUse" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"150\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OS_Details">
    
<Input Id="SCMPETCO_OS_Details_SCMPETCO_AreaOperationId" @ref="Ref_SCMPETCO_OS_Details_SCMPETCO_AreaOperationId" Label="محل عملیات"     @bind-Value="SCMPETCO_OS_Details.SCMPETCO_AreaOperationId" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSCMPETCO_OS_Details" CssClass="btn-modal-custom">
            <DxButton Id="SCMPETCO_OS_Details_GridSCMPETCO_AreaOperationId_343ButtonSave" Click="@(() => SaveModalGrid_SCMPETCO_OS_Details(EditFormContextSCMPETCO_OS_Details))" Text="@languageContainer.Keys["DXGrid:Ok"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SCMPETCO_OS_Details_GridSCMPETCO_AreaOperationId_343ButtonSaveAndNew"    Text="@languageContainer.Keys["DXGrid:OkAndNew"]" Click="@(() => SaveAndNewGrid_SCMPETCO_OS_Details(EditFormContextSCMPETCO_OS_Details))" CssClass="btn btn-green" />


            <DxButton Id="SCMPETCO_OS_Details_GridSCMPETCO_AreaOperationId_343ButtonCancel" Click="@(() => Grid_SCMPETCO_OS_Details.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SCMPETCO_OS_Details_GridSCMPETCO_AreaOperationId_343ButtonBefore" Click="@(() => Dialog_Grid_SCMPETCO_OS_Details(0,IndexGrid_SCMPETCO_OS_Details,EditFormContextSCMPETCO_OS_Details))" Text="@languageContainer.Keys["DXGrid:Prev"]" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SCMPETCO_OS_Details_GridSCMPETCO_AreaOperationId_343ButtonNext" Click="@(() => Dialog_Grid_SCMPETCO_OS_Details(1,IndexGrid_SCMPETCO_OS_Details,EditFormContextSCMPETCO_OS_Details))" Text="@languageContainer.Keys["DXGrid:Next"]" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSCMPETCO_OS_Details" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SCMPETCO_OS_Details" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SCMPETCO_OS_Details" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSCMPETCO_OS_Details" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSCMPETCO_OS_Details" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSCMPETCO_OS_Details" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SCMPETCO_OS_Details;
    Entity.SCMPETCO_OS_Details SCMPETCO_OS_Details;
    bool ConfirmationShownSCMPETCO_OS_Details { get; set; } = false;
    public Entity.SCMPETCO_OS_Details SelectedItemGrid_SCMPETCO_OS_Details { get; set; } = new Entity.SCMPETCO_OS_Details();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SCMPETCO_OS_Details { get; set; }

    ///////////////////////
    bool ConfirmationSCMPETCO_OS_Details { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSCMPETCO_OS_Details { get; set; }
    public int OpenDialogCodeSCMPETCO_OS_Details { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSCMPETCO_OS_Details(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SCMPETCO_OS_Details(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SCMPETCO_OS_Details(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSCMPETCO_OS_Details = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSCMPETCO_OS_Details = e;
    ConfirmationSCMPETCO_OS_Details = true;
    }
    else
    {
    await OnNoButtonSCMPETCO_OS_Details();
    }
}
async Task OnYesButtonSCMPETCO_OS_Details()
{

    ConfirmationSCMPETCO_OS_Details = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSCMPETCO_OS_Details.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SCMPETCO_OS_Details(_ContextFormTemplateSCMPETCO_OS_Details.DataItem, _ContextFormTemplateSCMPETCO_OS_Details.EditModel);
            await Grid_SCMPETCO_OS_Details.CancelEditAsync();
         await ChangePageGrid_SCMPETCO_OS_Details();
         await SetEditFormContextGrid_SCMPETCO_OS_Details();
         }
          
    }

}
async Task OnNoButtonSCMPETCO_OS_Details()
{
    ConfirmationSCMPETCO_OS_Details = false;
    await ChangePageGrid_SCMPETCO_OS_Details();
    await SetEditFormContextGrid_SCMPETCO_OS_Details();

}
async Task SetEditFormContextGrid_SCMPETCO_OS_Details()
{
    var e = (Entity.SCMPETCO_OS_Details)Grid_SCMPETCO_OS_Details.GetDataItem(IndexGrid_SCMPETCO_OS_Details);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SCMPETCO_OS_Details()
{
    int VisibleIndex = IndexGrid_SCMPETCO_OS_Details;
    try
    {
    if (OpenDialogCodeSCMPETCO_OS_Details == 1)
    {
        if (VisibleIndex != (Grid_SCMPETCO_OS_Details.GetVisibleRowCount() - 1))
    { 
            Grid_SCMPETCO_OS_Details.CancelEditAsync();
            IndexGrid_SCMPETCO_OS_Details = VisibleIndex + 1;
    Grid_SCMPETCO_OS_Details.StartEditRowAsync(IndexGrid_SCMPETCO_OS_Details);
    }
    }
    else if (OpenDialogCodeSCMPETCO_OS_Details == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SCMPETCO_OS_Details.CancelEditAsync();
            IndexGrid_SCMPETCO_OS_Details = VisibleIndex - 1;
    Grid_SCMPETCO_OS_Details.StartEditRowAsync(IndexGrid_SCMPETCO_OS_Details);
    }

    }
    var e = (Entity.SCMPETCO_OS_Details)Grid_SCMPETCO_OS_Details.GetDataItem(IndexGrid_SCMPETCO_OS_Details);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SCMPETCO_OS_Details()
{
    IndexGrid_SCMPETCO_OS_Details = Grid_SCMPETCO_OS_Details.GetVisibleRowCount();
Grid_SCMPETCO_OS_Details.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SCMPETCO_OS_Details();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SCMPETCO_OS_Details(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SCMPETCO_OS_Details = Context.VisibleIndex;
Grid_SCMPETCO_OS_Details.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SCMPETCO_OS_Details)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SCMPETCO_OS_Details(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SCMPETCO_OS_Details(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SCMPETCO_OS_Details(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SCMPETCO_OS_Details(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SCMPETCO_OS_Details();

    }
          
    }
   
}

void PerviousPageGrid_SCMPETCO_OS_Details(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SCMPETCO_OS_Details.CancelEditAsync();
        IndexGrid_SCMPETCO_OS_Details = VisibleIndex - 1;
         Grid_SCMPETCO_OS_Details.StartEditRowAsync(IndexGrid_SCMPETCO_OS_Details);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SCMPETCO_OS_Details(int VisibleIndex)
{

    if (VisibleIndex == Grid_SCMPETCO_OS_Details.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SCMPETCO_OS_Details ");
    try
    {
Grid_SCMPETCO_OS_Details.CancelEditAsync();
        IndexGrid_SCMPETCO_OS_Details = VisibleIndex + 1;
         Grid_SCMPETCO_OS_Details.StartEditRowAsync(IndexGrid_SCMPETCO_OS_Details);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SCMPETCO_OS_Details(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SCMPETCO_OS_Details;
    var MainModel = (Entity.SCMPETCO_OS_Details)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.SCMPETCO_OS_Details)EditModel).Id;
MainModel.RequestID = ((Entity.SCMPETCO_OS_Details)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SCMPETCO_OS_Details)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SCMPETCO_OS_Details)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SCMPETCO_OS_Details)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SCMPETCO_OS_Details)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SCMPETCO_OS_Details)EditModel).IsDelete;
MainModel.SCMPETCO_OS_MasterId = ((Entity.SCMPETCO_OS_Details)EditModel).SCMPETCO_OS_MasterId;
MainModel.SCMPETCO_OS_Master = ((Entity.SCMPETCO_OS_Details)EditModel).SCMPETCO_OS_Master;
MainModel.OS_JobTitle = ((Entity.SCMPETCO_OS_Details)EditModel).OS_JobTitle;
MainModel.Global_UnitsId = ((Entity.SCMPETCO_OS_Details)EditModel).Global_UnitsId;
MainModel.Global_Units = ((Entity.SCMPETCO_OS_Details)EditModel).Global_Units;
MainModel.Amount = ((Entity.SCMPETCO_OS_Details)EditModel).Amount;
MainModel.Global_PriorityId = ((Entity.SCMPETCO_OS_Details)EditModel).Global_PriorityId;
MainModel.Global_Priority = ((Entity.SCMPETCO_OS_Details)EditModel).Global_Priority;
MainModel.AreaUse = ((Entity.SCMPETCO_OS_Details)EditModel).AreaUse;
MainModel.SCMPETCO_AreaOperationId = ((Entity.SCMPETCO_OS_Details)EditModel).SCMPETCO_AreaOperationId;

    }
    else
    {
    ListEntity.Add((Entity.SCMPETCO_OS_Details)EditModel);
    }
}

async Task OnDataItemDeletingSCMPETCO_OS_Details(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SCMPETCO_OS_Details;
    ListEntity.Remove((Entity.SCMPETCO_OS_Details)e.DataItem);
}
async void OnDeleteButtonClickGrid_SCMPETCO_OS_Details (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SCMPETCO_OS_Details = (ex.DataItem as Entity.SCMPETCO_OS_Details);
    var e =SelectedItemGrid_SCMPETCO_OS_Details;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSCMPETCO_OS_Details = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SCMPETCO_OS_Details ()
{
       if (SelectedItemGrid_SCMPETCO_OS_Details != null)
    {
      if (SelectedItemGrid_SCMPETCO_OS_Details.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SCMPETCO_OS_Details;
        ListEntity.Remove((Entity.SCMPETCO_OS_Details)SelectedItemGrid_SCMPETCO_OS_Details);
     
      }
      else
      {
        var cleanModel = new Entity.SCMPETCO_OS_Details();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SCMPETCO_OS_Details).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SCMPETCO_OS_Details);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SCMPETCO_OS_Details, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SCMPETCO_OS_Details._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SCMPETCO_OS_Details;
    
    Grid_SCMPETCO_OS_Details.Reload();
    ConfirmationShownSCMPETCO_OS_Details = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SCMPETCO_OS_Details ()
{
    ConfirmationShownSCMPETCO_OS_Details = false;
}

void CustomizeRowsGrid_SCMPETCO_OS_Details(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SCMPETCO_OS_Details)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SCMPETCO_OS_Details(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SCMPETCO_OS_Details)e.EditModel;

     

    }


}
public async void RowClickGrid_SCMPETCO_OS_Details(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SCMPETCO_OS_Details(GridRowClickEventArgs e)
{

}
}

<Input Id="Title" @ref="Ref_Title" Label="عنوان"     @bind-Value="_Entity.Title" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"40\"}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMPETCO_AreaOperation\",\"GetNameAs\":\"SCMPETCO_AreaOperation\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[{\"Name\":\"SCMPETCO_OS_Details\",\"GetNameAs\":\"SCMPETCO_OS_Details\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SCMPETCO_AreaOperationId\",\"GetNameAs\":\"SCMPETCO_AreaOperationId\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SCMPETCO_OS_MasterId\",\"GetNameAs\":\"SCMPETCO_OS_MasterId\"},{\"Name\":\"OS_JobTitle\",\"GetNameAs\":\"OS_JobTitle\"},{\"Name\":\"Global_UnitsId\",\"GetNameAs\":\"Global_UnitsId\"},{\"Name\":\"Amount\",\"GetNameAs\":\"Amount\"},{\"Name\":\"Global_PriorityId\",\"GetNameAs\":\"Global_PriorityId\"},{\"Name\":\"AreaUse\",\"GetNameAs\":\"AreaUse\"}],\"Relation\":[{\"Name\":\"SCMPETCO_AreaOperation\",\"GetNameAs\":\"SCMPETCO_AreaOperation\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}]},{\"Name\":\"SCMPETCO_OS_Master\",\"GetNameAs\":\"SCMPETCO_OS_Master\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"UserStarterFullName\",\"GetNameAs\":\"UserStarterFullName\"},{\"Name\":\"UserStarterCompanyName\",\"GetNameAs\":\"UserStarterCompanyName\"},{\"Name\":\"UserStarterUnitName\",\"GetNameAs\":\"UserStarterUnitName\"},{\"Name\":\"UserStarterSectionName\",\"GetNameAs\":\"UserStarterSectionName\"},{\"Name\":\"RequestTrakingCode\",\"GetNameAs\":\"RequestTrakingCode\"},{\"Name\":\"ProcessVersionID\",\"GetNameAs\":\"ProcessVersionID\"},{\"Name\":\"ProcessInitiator\",\"GetNameAs\":\"ProcessInitiator\"},{\"Name\":\"SCMPETCO_OS_ResultingFromId\",\"GetNameAs\":\"SCMPETCO_OS_ResultingFromId\"},{\"Name\":\"HardwareORNetwork\",\"GetNameAs\":\"HardwareORNetwork\"},{\"Name\":\"AllRejectRequestRow\",\"GetNameAs\":\"AllRejectRequestRow\"},{\"Name\":\"CancellationReason\",\"GetNameAs\":\"CancellationReason\"},{\"Name\":\"CancelledBy\",\"GetNameAs\":\"CancelledBy\"},{\"Name\":\"SCMPETCO_ICT_DepartmentsId\",\"GetNameAs\":\"SCMPETCO_ICT_DepartmentsId\"}]},{\"Name\":\"Global_Units\",\"GetNameAs\":\"Global_Units\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}]},{\"Name\":\"Global_Priority\",\"GetNameAs\":\"Global_Priority\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMPETCO_AreaOperation\",\"GetNameAs\":\"SCMPETCO_AreaOperation\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[{\"Name\":\"SCMPETCO_OS_Details\",\"GetNameAs\":\"SCMPETCO_OS_Details\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SCMPETCO_AreaOperationId\",\"GetNameAs\":\"SCMPETCO_AreaOperationId\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SCMPETCO_OS_MasterId\",\"GetNameAs\":\"SCMPETCO_OS_MasterId\"},{\"Name\":\"OS_JobTitle\",\"GetNameAs\":\"OS_JobTitle\"},{\"Name\":\"Global_UnitsId\",\"GetNameAs\":\"Global_UnitsId\"},{\"Name\":\"Amount\",\"GetNameAs\":\"Amount\"},{\"Name\":\"Global_PriorityId\",\"GetNameAs\":\"Global_PriorityId\"},{\"Name\":\"AreaUse\",\"GetNameAs\":\"AreaUse\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SCMPETCO_AreaOperation>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SCMPETCO_AreaOperation();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SCMPETCO_AreaOperation>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
