@inherits Forms.Forms.Form_287Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    .DisableParameterField input{
    color: black !important;
    background-color: lightgray !important;
    opacity: 1;
    margin-top: 0.3vh;
}
.WidthAuto input {
    width: auto !important;
}
.Width6rem input {
    width: 6rem !important;
}
.Width8rem input {
    width: 8rem !important;
}
.Width10rem input {
    width: 10rem !important;
}
.Width12rem input {
    width: 12rem !important;
}
.InputDanger input {
    background-color: crimson !important;
}
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="row ">
    
<div class="col-md-3">
    <div  class="d-flex text-center pt-3 fs-4 text-black  justify-content-right">
    <div style="">
  <p>
    <picture>
      <img src="https://File.workcv.ir/fa/api/v1/File/Get?FileID=6e5b6fb8-a5b2-490c-f83f-08dbea5b8061" class="" alt="لوگو پل فیلم" width="230px;">
    </picture>
  </p>
</div>
</div>

</div>

<div class="col-md-6">
    <div  class="">
    <div class="fs-3 fw-black rounded p-3 text-center ">
   درخواست خرید کالا
</div>
</div>

</div>

<div class="col-md-3">
    <div  class="d-flex text-center pt-3 fs-5 text-black bg-secondary-subtle justify-content-center opacity-50 rounded">
    <div style="">
  <p>
    <span>
      کد فرم: FPL02600
    </span>
  </p>
</div>
</div>

</div>

</div>

<div class="row ">
    
<div class="col-md-6">
    
<div class="row  card flex-row pb-2 m-1 border-0 bg-warning-subtle">
    
<div class="col-md-12">
    <div  class="">
    <div class="card-header text- bg-light fw-black fs-6 border-0 rounded-2 mt-2" style="">
  کاربر درخواست دهنده
</div>
</div>

</div>

<div class="col-md-3">
    
<Input Id="SystemUser" @ref="Ref_SystemUser"   CssClass="DisableParameterField               " Disabled=true  @bind-Value="_Entity.SystemUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"40\"}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="UserCompanyName" @ref="Ref_UserCompanyName"   CssClass="DisableParameterField               " Disabled=true  @bind-Value="_Entity.UserCompanyName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"40\"}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="SystemUnitUser" @ref="Ref_SystemUnitUser"   CssClass="DisableParameterField               " Disabled=true  @bind-Value="_Entity.SystemUnitUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"40\"}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="SystemSectionUser" @ref="Ref_SystemSectionUser"   CssClass="DisableParameterField                                 " Disabled=true  @bind-Value="_Entity.SystemSectionUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"40\"}").Result))></Input>

</div>

</div>

</div>

<div class="col-md-6">
    
</div>

</div>
<div  class="">
    
</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"   CssClass="                "   @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"   CssClass="                "   @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"   CssClass="                "   @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="SCM_ProductRequestDetails_GridSCM_ProductRequestId_182">جزییات درخواست کالا
   
    
</label>

<DxGrid @ref="Grid_SCM_ProductRequestDetails" Data="_Entity.SCM_ProductRequestDetails" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSCM_ProductRequestDetails"
        DataItemDeleting="OnDataItemDeletingSCM_ProductRequestDetails"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزییات درخواست کالا"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SCM_ProductRequestDetails"
        CustomizeElement="CustomizeRowsGrid_SCM_ProductRequestDetails" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":182,\"FieldId\":182,\"TypeCSharp\":\"\",\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"RelationChildModel\":\"SCM_ProductRequestDetails\",\"GridMainModel\":\"SCM_ProductRequestDetails\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزییات درخواست کالا\",\"tableView\":true,\"key\":\"GridSCM_ProductRequestId_182\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSCM_ProductRequestId_182\",\"modalEdit\":true,\"FieldUrl\":\"182?EId=182&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SCM_ProductRequestDetails_GridSCM_ProductRequestId_182ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SCM_ProductRequestDetails())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SCM_ProductRequestDetails_GridSCM_ProductRequestId_182ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SCM_ProductRequestDetails(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SCM_ProductRequestDetails(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn  Caption="کد کالا شماران"  FieldName="ProductCodeText" />

<DxGridDataColumn  Caption="واحد کالا"  FieldName="ProductUnitText" />

<DxGridDataColumn DisplayFormat="G" Caption="موجودی کالا شماران"  FieldName="ProductInventoryText" />

<DxGridDataColumn DisplayFormat="G" Caption="تعداد یا مقدار درخواستی"  FieldName="ProductRequestingQTY" />

<DxGridDataColumn Context="SCM_PriorityId_" Caption="اولویت" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCM_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":182,\"FieldId\":1882,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":287,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_Priority\",\"RelationParentModel\":\"SCM_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_Priority/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.PriorityTitle}} </span>\",\"FieldsTemplate\":[{\"key\":\"PriorityTitle\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"SCM_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"1882?EId=182&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCM_PriorityId = ((Entity.SCM_ProductRequestDetails)SCM_PriorityId_.DataItem).SCM_PriorityId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSCM_PriorityId"   FieldName="SCM_PriorityId" OnItemSelected="ItemSelected_SCM_ProductRequestDetailsSCM_PriorityId_Header" Component="HeaderSCM_PriorityId">
</Dropdown>
@code {
    public async Task ItemSelected_SCM_ProductRequestDetailsSCM_PriorityId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCM_PriorityId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="محل مصرف کالا"  FieldName="PlaceOfUseProduct" />

<DxGridDataColumn  Caption="توضیحات درخواست کننده"  FieldName="ProductRowDescription" />

<DxGridDataColumn  Caption="نام کالا شماران"  FieldName="ProductNameText" />

<DxGridDataColumn Context="ForeignMachineryProductTrueFasle_" Caption="نحوه تامین کالا" >
    <CellDisplayTemplate>
       
@{
    var SCM_ProductRequestDetails_ForeignMachineryProductTrueFasle = ((Entity.SCM_ProductRequestDetails)ForeignMachineryProductTrueFasle_.DataItem).ForeignMachineryProductTrueFasle;
}

<p class="text-center " hidden="@(SCM_ProductRequestDetails_ForeignMachineryProductTrueFasle !=null ? !SCM_ProductRequestDetails_ForeignMachineryProductTrueFasle : true)">داخلی</p>

<p class="text-center" hidden="@(SCM_ProductRequestDetails_ForeignMachineryProductTrueFasle !=null ? SCM_ProductRequestDetails_ForeignMachineryProductTrueFasle : true)">خارجی</p>


    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="FutureActionTrueFalse_" Caption="آیا تامین کسری انجام شود؟" >
    <CellDisplayTemplate>
       
@{
    var SCM_ProductRequestDetails_FutureActionTrueFalse = ((Entity.SCM_ProductRequestDetails)FutureActionTrueFalse_.DataItem).FutureActionTrueFalse;
}

<p class="text-center " hidden="@(SCM_ProductRequestDetails_FutureActionTrueFalse !=null ? !SCM_ProductRequestDetails_FutureActionTrueFalse : true)">بله</p>

<p class="text-center" hidden="@(SCM_ProductRequestDetails_FutureActionTrueFalse !=null ? SCM_ProductRequestDetails_FutureActionTrueFalse : true)">خیر</p>


    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="توضیحات تایید کننده"  FieldName="Description2" />

<DxGridDataColumn Context="ProductDataSheetTrueFalse_" Caption="آیا کالا دارای (Technical Data Sheet - (TDS است؟" >
    <CellDisplayTemplate>
       
@{
    var SCM_ProductRequestDetails_ProductDataSheetTrueFalse = ((Entity.SCM_ProductRequestDetails)ProductDataSheetTrueFalse_.DataItem).ProductDataSheetTrueFalse;
}

<p class="text-center " hidden="@(SCM_ProductRequestDetails_ProductDataSheetTrueFalse !=null ? !SCM_ProductRequestDetails_ProductDataSheetTrueFalse : true)">بله</p>

<p class="text-center" hidden="@(SCM_ProductRequestDetails_ProductDataSheetTrueFalse !=null ? SCM_ProductRequestDetails_ProductDataSheetTrueFalse : true)">خیر</p>


    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="SCM_ProductRequestDetails_ProductDataSheetFile_" Caption="فایل برگه اطلاعات فنی (Technical Data Sheet - TDS)" >
    <CellDisplayTemplate>
      
@{
    var SCM_ProductRequestDetails_SCM_ProductRequestDetails_ProductDataSheetFile = (Entity.SCM_ProductRequestDetails)SCM_ProductRequestDetails_ProductDataSheetFile_.DataItem;
}
@foreach (var item_SCM_ProductRequestDetails in SCM_ProductRequestDetails_SCM_ProductRequestDetails_ProductDataSheetFile.SCM_ProductRequestDetails_ProductDataSheetFile.Where(p=>!p.IsDelete.HasValue || !p.IsDelete.Value))
{

    <div class="bg-lightblue rounded p-1 d-inline-block m-1">
        <span>@item_SCM_ProductRequestDetails.originalName</span>
        <hr class="hrdash mt-1 mb-0">
        <div class="btn-group align-items-center">
            <button type="button" class="btn btn-sm text-yellow p-0" onclick="ShowImageNewTab('@item_SCM_ProductRequestDetails.url')">@languageContainer.Keys["DXGrid:View"]</button>
            <a href="@item_SCM_ProductRequestDetails.url" class="btn btn-sm text-green p-0">@languageContainer.Keys["DXGrid:Download"]</a>
        </div>
    </div>
}


    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="توضیحات تصویب کننده"  FieldName="Description3" />

<DxGridDataColumn DisplayFormat="G" Caption="تعداد تامین کسری"  FieldName="DeficitSupplyNumber" />

<DxGridDataColumn Context="ProductDelivery_" Caption="آیا فرآیند تحویل اجرا گردد؟" >
    <CellDisplayTemplate>
       
@{
    var SCM_ProductRequestDetails_ProductDelivery = ((Entity.SCM_ProductRequestDetails)ProductDelivery_.DataItem).ProductDelivery;
}

<p class="text-center " hidden="@(SCM_ProductRequestDetails_ProductDelivery !=null ? !SCM_ProductRequestDetails_ProductDelivery : true)">بله</p>

<p class="text-center" hidden="@(SCM_ProductRequestDetails_ProductDelivery !=null ? SCM_ProductRequestDetails_ProductDelivery : true)">خیر</p>


    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn DisplayFormat="0" Caption="کد تحویل کالا"  FieldName="DeliveryCode" />

<DxGridDataColumn Context="Global_SCMRequestTypeId_" Caption="نوع درخواست" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderGlobal_SCMRequestTypeId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":182,\"FieldId\":14095,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":287,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_SCMRequestType\",\"RelationParentModel\":\"Global_SCMRequestType\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_SCMRequestType/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":true,\"modal\":true,\"label\":\"نوع درخواست\",\"tableView\":true,\"key\":\"Global_SCMRequestTypeId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14095?EId=182&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowGlobal_SCMRequestTypeId = ((Entity.SCM_ProductRequestDetails)Global_SCMRequestTypeId_.DataItem).Global_SCMRequestTypeId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowGlobal_SCMRequestTypeId"   FieldName="Global_SCMRequestTypeId" OnItemSelected="ItemSelected_SCM_ProductRequestDetailsGlobal_SCMRequestTypeId_Header" Component="HeaderGlobal_SCMRequestTypeId">
</Dropdown>
@code {
    public async Task ItemSelected_SCM_ProductRequestDetailsGlobal_SCMRequestTypeId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Global_SCMRequestTypeId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextSCM_ProductRequestDetails">
    @{
        SCM_ProductRequestDetails  = (Entity.SCM_ProductRequestDetails)EditFormContextSCM_ProductRequestDetails.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_Id" @ref="Ref_SCM_ProductRequestDetails_Id"   CssClass="d-none"   @bind-Value="SCM_ProductRequestDetails.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_RequestID" @ref="Ref_SCM_ProductRequestDetails_RequestID"      @bind-Value="SCM_ProductRequestDetails.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_CreateUser" @ref="Ref_SCM_ProductRequestDetails_CreateUser"      @bind-Value="SCM_ProductRequestDetails.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_UpdateUser" @ref="Ref_SCM_ProductRequestDetails_UpdateUser"      @bind-Value="SCM_ProductRequestDetails.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_CreateDate" @ref="Ref_SCM_ProductRequestDetails_CreateDate"   CssClass="d-none"   @bind-Value="SCM_ProductRequestDetails.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_UpdateDate" @ref="Ref_SCM_ProductRequestDetails_UpdateDate"   CssClass="d-none"   @bind-Value="SCM_ProductRequestDetails.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_IsDelete" @ref="Ref_SCM_ProductRequestDetails_IsDelete"   CssClass="d-none"   @bind-Value="SCM_ProductRequestDetails.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_ProductCodeText" @ref="Ref_SCM_ProductRequestDetails_ProductCodeText" Label="کد کالا شماران"   Disabled=true  @bind-Value="SCM_ProductRequestDetails.ProductCodeText" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_ProductUnitText" @ref="Ref_SCM_ProductRequestDetails_ProductUnitText" Label="واحد کالا"   Disabled=true  @bind-Value="SCM_ProductRequestDetails.ProductUnitText" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_ProductInventoryText" @ref="Ref_SCM_ProductRequestDetails_ProductInventoryText" Label="موجودی کالا شماران"   Disabled=true  @bind-Value="SCM_ProductRequestDetails.ProductInventoryText" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_ProductRequestingQTY" @ref="Ref_SCM_ProductRequestDetails_ProductRequestingQTY" Label="تعداد یا مقدار درخواستی"     @bind-Value="SCM_ProductRequestDetails.ProductRequestingQTY" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCM_ProductRequestDetailsSCM_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":182,\"FieldId\":1882,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":287,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_Priority\",\"RelationParentModel\":\"SCM_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_Priority/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.PriorityTitle}} </span>\",\"FieldsTemplate\":[{\"key\":\"PriorityTitle\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"SCM_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"1882?EId=182&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCM_ProductRequestDetails_SCM_PriorityId  @ref="Ref_SCM_ProductRequestDetails_SCM_PriorityId" Label="اولویت" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCM_ProductRequestDetails.SCM_PriorityId" FieldName="SCM_PriorityId" OnItemSelected="ItemSelected_SCM_ProductRequestDetailsSCM_PriorityId" Component="Component_SCM_ProductRequestDetailsSCM_PriorityId" _Entity="_Entity" _EntityRow=SCM_ProductRequestDetails>
</Dropdown>
@code {
    public async Task ItemSelected_SCM_ProductRequestDetailsSCM_PriorityId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCM_ProductRequestDetails;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SCM_PriorityId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SCM_PriorityId =EntityHelper.SetPropertyNull(Item.SCM_PriorityId);
 }
 Item.SCM_Priority = await Utility.JSON.ToObject<Entity.SCM_Priority>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_PlaceOfUseProduct" @ref="Ref_SCM_ProductRequestDetails_PlaceOfUseProduct" Label="محل مصرف کالا"   Disabled=true  @bind-Value="SCM_ProductRequestDetails.PlaceOfUseProduct" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_ProductRowDescription" @ref="Ref_SCM_ProductRequestDetails_ProductRowDescription" Label="توضیحات درخواست کننده"   Disabled=true  @bind-Value="SCM_ProductRequestDetails.ProductRowDescription" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_ProductNameText" @ref="Ref_SCM_ProductRequestDetails_ProductNameText" Label="نام کالا شماران"   Disabled=true  @bind-Value="SCM_ProductRequestDetails.ProductNameText" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<RadioBoolean @ref="Ref_SCM_ProductRequestDetails_ForeignMachineryProductTrueFasle" InLine=true Id="SCM_ProductRequestDetails_ForeignMachineryProductTrueFasle" Required=true  LabelTrue="داخلی" LabelFalse="خارجی" Label="نحوه تامین کالا" @bind-Value="SCM_ProductRequestDetails.ForeignMachineryProductTrueFasle" CssClass="" ></RadioBoolean>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<RadioBoolean @ref="Ref_SCM_ProductRequestDetails_FutureActionTrueFalse" InLine=true Id="SCM_ProductRequestDetails_FutureActionTrueFalse"  oninput="@(e => FutureActionTrueFalse_oninput(e ,SCM_ProductRequestDetails))"  LabelTrue="بله" LabelFalse="خیر" Label="آیا تامین کسری انجام شود؟" @bind-Value="SCM_ProductRequestDetails.FutureActionTrueFalse" CssClass="" ></RadioBoolean>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_Description2" @ref="Ref_SCM_ProductRequestDetails_Description2" Label="توضیحات تایید کننده"   Disabled=true  @bind-Value="SCM_ProductRequestDetails.Description2" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<RadioBoolean @ref="Ref_SCM_ProductRequestDetails_ProductDataSheetTrueFalse" InLine=true Id="SCM_ProductRequestDetails_ProductDataSheetTrueFalse"  oninput="@(e => ProductDataSheetTrueFalse_oninput(e ,SCM_ProductRequestDetails))"  LabelTrue="بله" LabelFalse="خیر" Label="آیا کالا دارای (Technical Data Sheet - (TDS است؟" @bind-Value="SCM_ProductRequestDetails.ProductDataSheetTrueFalse" CssClass="" ></RadioBoolean>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    <Uploader Id=SCM_ProductRequestDetails_SCM_ProductRequestDetails_ProductDataSheetFile  @ref="Ref_SCM_ProductRequestDetails_SCM_ProductRequestDetails_ProductDataSheetFile"   Accept="image/* , application/pdf , .doc,.docx , .xls,.xlsx" MinSize="1KB" MaxSize="5MB" Caption="فایل برگه اطلاعات فنی (Technical Data Sheet - TDS)" Data="SCM_ProductRequestDetails.SCM_ProductRequestDetails_ProductDataSheetFile" Url="https://File.workcv.ir/fa/api/v1/File/Post" TItem="Entity.SCM_ProductRequestDetails_ProductDataSheetFile"></Uploader>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_Description3" @ref="Ref_SCM_ProductRequestDetails_Description3" Label="توضیحات تصویب کننده"     @bind-Value="SCM_ProductRequestDetails.Description3" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_DeficitSupplyNumber" @ref="Ref_SCM_ProductRequestDetails_DeficitSupplyNumber" Label="تعداد تامین کسری"     @bind-Value="SCM_ProductRequestDetails.DeficitSupplyNumber" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<RadioBoolean @ref="Ref_SCM_ProductRequestDetails_ProductDelivery" InLine=true Id="SCM_ProductRequestDetails_ProductDelivery"   LabelTrue="بله" LabelFalse="خیر" Label="آیا فرآیند تحویل اجرا گردد؟" @bind-Value="SCM_ProductRequestDetails.ProductDelivery" CssClass="" ></RadioBoolean>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
    
<Input Id="SCM_ProductRequestDetails_DeliveryCode" @ref="Ref_SCM_ProductRequestDetails_DeliveryCode" Label="کد تحویل کالا"   Disabled=true  @bind-Value="SCM_ProductRequestDetails.DeliveryCode" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_ProductRequestDetails">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCM_ProductRequestDetailsGlobal_SCMRequestTypeId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":182,\"FieldId\":14095,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":287,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_SCMRequestType\",\"RelationParentModel\":\"Global_SCMRequestType\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_SCMRequestType/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":true,\"modal\":true,\"label\":\"نوع درخواست\",\"tableView\":true,\"key\":\"Global_SCMRequestTypeId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14095?EId=182&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCM_ProductRequestDetails_Global_SCMRequestTypeId Disabled=true @ref="Ref_SCM_ProductRequestDetails_Global_SCMRequestTypeId" Label="نوع درخواست" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCM_ProductRequestDetails.Global_SCMRequestTypeId" FieldName="Global_SCMRequestTypeId" OnItemSelected="ItemSelected_SCM_ProductRequestDetailsGlobal_SCMRequestTypeId" Component="Component_SCM_ProductRequestDetailsGlobal_SCMRequestTypeId" _Entity="_Entity" _EntityRow=SCM_ProductRequestDetails>
</Dropdown>
@code {
    public async Task ItemSelected_SCM_ProductRequestDetailsGlobal_SCMRequestTypeId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCM_ProductRequestDetails;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.Global_SCMRequestTypeId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.Global_SCMRequestTypeId =EntityHelper.SetPropertyNull(Item.Global_SCMRequestTypeId);
 }
 Item.Global_SCMRequestType = await Utility.JSON.ToObject<Entity.Global_SCMRequestType>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSCM_ProductRequestDetails" CssClass="btn-modal-custom">
            <DxButton Id="SCM_ProductRequestDetails_GridSCM_ProductRequestId_182ButtonSave" Click="@(() => SaveModalGrid_SCM_ProductRequestDetails(EditFormContextSCM_ProductRequestDetails))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SCM_ProductRequestDetails_GridSCM_ProductRequestId_182ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_SCM_ProductRequestDetails(EditFormContextSCM_ProductRequestDetails))" CssClass="btn btn-green" />


            <DxButton Id="SCM_ProductRequestDetails_GridSCM_ProductRequestId_182ButtonCancel" Click="@(() => Grid_SCM_ProductRequestDetails.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SCM_ProductRequestDetails_GridSCM_ProductRequestId_182ButtonBefore" Click="@(() => Dialog_Grid_SCM_ProductRequestDetails(0,IndexGrid_SCM_ProductRequestDetails,EditFormContextSCM_ProductRequestDetails))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SCM_ProductRequestDetails_GridSCM_ProductRequestId_182ButtonNext" Click="@(() => Dialog_Grid_SCM_ProductRequestDetails(1,IndexGrid_SCM_ProductRequestDetails,EditFormContextSCM_ProductRequestDetails))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSCM_ProductRequestDetails" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SCM_ProductRequestDetails" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SCM_ProductRequestDetails" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSCM_ProductRequestDetails" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSCM_ProductRequestDetails" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSCM_ProductRequestDetails" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SCM_ProductRequestDetails;
    Entity.SCM_ProductRequestDetails SCM_ProductRequestDetails;
    bool ConfirmationShownSCM_ProductRequestDetails { get; set; } = false;
    public Entity.SCM_ProductRequestDetails SelectedItemGrid_SCM_ProductRequestDetails { get; set; } = new Entity.SCM_ProductRequestDetails();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SCM_ProductRequestDetails { get; set; }

    ///////////////////////
    bool ConfirmationSCM_ProductRequestDetails { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSCM_ProductRequestDetails { get; set; }
    public int OpenDialogCodeSCM_ProductRequestDetails { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSCM_ProductRequestDetails(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SCM_ProductRequestDetails(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SCM_ProductRequestDetails(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSCM_ProductRequestDetails = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSCM_ProductRequestDetails = e;
    ConfirmationSCM_ProductRequestDetails = true;
    }
    else
    {
    await OnNoButtonSCM_ProductRequestDetails();
    }
}
async Task OnYesButtonSCM_ProductRequestDetails()
{

    ConfirmationSCM_ProductRequestDetails = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSCM_ProductRequestDetails.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SCM_ProductRequestDetails(_ContextFormTemplateSCM_ProductRequestDetails.DataItem, _ContextFormTemplateSCM_ProductRequestDetails.EditModel);
            await Grid_SCM_ProductRequestDetails.CancelEditAsync();
         await ChangePageGrid_SCM_ProductRequestDetails();
         await SetEditFormContextGrid_SCM_ProductRequestDetails();
         }
          
    }

}
async Task OnNoButtonSCM_ProductRequestDetails()
{
    ConfirmationSCM_ProductRequestDetails = false;
    await ChangePageGrid_SCM_ProductRequestDetails();
    await SetEditFormContextGrid_SCM_ProductRequestDetails();

}
async Task SetEditFormContextGrid_SCM_ProductRequestDetails()
{
    var e = (Entity.SCM_ProductRequestDetails)Grid_SCM_ProductRequestDetails.GetDataItem(IndexGrid_SCM_ProductRequestDetails);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SCM_ProductRequestDetails()
{
    int VisibleIndex = IndexGrid_SCM_ProductRequestDetails;
    try
    {
    if (OpenDialogCodeSCM_ProductRequestDetails == 1)
    {
        if (VisibleIndex != (Grid_SCM_ProductRequestDetails.GetVisibleRowCount() - 1))
    { 
            Grid_SCM_ProductRequestDetails.CancelEditAsync();
            IndexGrid_SCM_ProductRequestDetails = VisibleIndex + 1;
    Grid_SCM_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCM_ProductRequestDetails);
    }
    }
    else if (OpenDialogCodeSCM_ProductRequestDetails == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SCM_ProductRequestDetails.CancelEditAsync();
            IndexGrid_SCM_ProductRequestDetails = VisibleIndex - 1;
    Grid_SCM_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCM_ProductRequestDetails);
    }

    }
    var e = (Entity.SCM_ProductRequestDetails)Grid_SCM_ProductRequestDetails.GetDataItem(IndexGrid_SCM_ProductRequestDetails);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SCM_ProductRequestDetails()
{
    IndexGrid_SCM_ProductRequestDetails = Grid_SCM_ProductRequestDetails.GetVisibleRowCount();
Grid_SCM_ProductRequestDetails.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SCM_ProductRequestDetails();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SCM_ProductRequestDetails(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SCM_ProductRequestDetails = Context.VisibleIndex;
Grid_SCM_ProductRequestDetails.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SCM_ProductRequestDetails)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SCM_ProductRequestDetails(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SCM_ProductRequestDetails(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SCM_ProductRequestDetails(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SCM_ProductRequestDetails(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SCM_ProductRequestDetails();

    }
          
    }
   
}

void PerviousPageGrid_SCM_ProductRequestDetails(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SCM_ProductRequestDetails.CancelEditAsync();
        IndexGrid_SCM_ProductRequestDetails = VisibleIndex - 1;
         Grid_SCM_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCM_ProductRequestDetails);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SCM_ProductRequestDetails(int VisibleIndex)
{

    if (VisibleIndex == Grid_SCM_ProductRequestDetails.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SCM_ProductRequestDetails ");
    try
    {
Grid_SCM_ProductRequestDetails.CancelEditAsync();
        IndexGrid_SCM_ProductRequestDetails = VisibleIndex + 1;
         Grid_SCM_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCM_ProductRequestDetails);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SCM_ProductRequestDetails(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SCM_ProductRequestDetails;
    var MainModel = (Entity.SCM_ProductRequestDetails)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.SCM_ProductRequestDetails)EditModel).Id;
MainModel.RequestID = ((Entity.SCM_ProductRequestDetails)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SCM_ProductRequestDetails)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SCM_ProductRequestDetails)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SCM_ProductRequestDetails)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SCM_ProductRequestDetails)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SCM_ProductRequestDetails)EditModel).IsDelete;
MainModel.ProductCodeText = ((Entity.SCM_ProductRequestDetails)EditModel).ProductCodeText;
MainModel.ProductUnitText = ((Entity.SCM_ProductRequestDetails)EditModel).ProductUnitText;
MainModel.ProductInventoryText = ((Entity.SCM_ProductRequestDetails)EditModel).ProductInventoryText;
MainModel.ProductRequestingQTY = ((Entity.SCM_ProductRequestDetails)EditModel).ProductRequestingQTY;
MainModel.SCM_PriorityId = ((Entity.SCM_ProductRequestDetails)EditModel).SCM_PriorityId;
MainModel.SCM_Priority = ((Entity.SCM_ProductRequestDetails)EditModel).SCM_Priority;
MainModel.PlaceOfUseProduct = ((Entity.SCM_ProductRequestDetails)EditModel).PlaceOfUseProduct;
MainModel.ProductRowDescription = ((Entity.SCM_ProductRequestDetails)EditModel).ProductRowDescription;
MainModel.ProductNameText = ((Entity.SCM_ProductRequestDetails)EditModel).ProductNameText;
MainModel.ForeignMachineryProductTrueFasle = ((Entity.SCM_ProductRequestDetails)EditModel).ForeignMachineryProductTrueFasle;
MainModel.FutureActionTrueFalse = ((Entity.SCM_ProductRequestDetails)EditModel).FutureActionTrueFalse;
MainModel.Description2 = ((Entity.SCM_ProductRequestDetails)EditModel).Description2;
MainModel.ProductDataSheetTrueFalse = ((Entity.SCM_ProductRequestDetails)EditModel).ProductDataSheetTrueFalse;
MainModel.Description3 = ((Entity.SCM_ProductRequestDetails)EditModel).Description3;
MainModel.DeficitSupplyNumber = ((Entity.SCM_ProductRequestDetails)EditModel).DeficitSupplyNumber;
MainModel.ProductDelivery = ((Entity.SCM_ProductRequestDetails)EditModel).ProductDelivery;
MainModel.DeliveryCode = ((Entity.SCM_ProductRequestDetails)EditModel).DeliveryCode;
MainModel.Global_SCMRequestTypeId = ((Entity.SCM_ProductRequestDetails)EditModel).Global_SCMRequestTypeId;
MainModel.Global_SCMRequestType = ((Entity.SCM_ProductRequestDetails)EditModel).Global_SCMRequestType;

    }
    else
    {
    ListEntity.Add((Entity.SCM_ProductRequestDetails)EditModel);
    }
}

async Task OnDataItemDeletingSCM_ProductRequestDetails(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SCM_ProductRequestDetails;
    ListEntity.Remove((Entity.SCM_ProductRequestDetails)e.DataItem);
}
async void OnDeleteButtonClickGrid_SCM_ProductRequestDetails (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SCM_ProductRequestDetails = (ex.DataItem as Entity.SCM_ProductRequestDetails);
    var e =SelectedItemGrid_SCM_ProductRequestDetails;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSCM_ProductRequestDetails = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SCM_ProductRequestDetails ()
{
       if (SelectedItemGrid_SCM_ProductRequestDetails != null)
    {
      if (SelectedItemGrid_SCM_ProductRequestDetails.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SCM_ProductRequestDetails;
        ListEntity.Remove((Entity.SCM_ProductRequestDetails)SelectedItemGrid_SCM_ProductRequestDetails);
     
      }
      else
      {
        var cleanModel = new Entity.SCM_ProductRequestDetails();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SCM_ProductRequestDetails).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SCM_ProductRequestDetails);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SCM_ProductRequestDetails, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SCM_ProductRequestDetails._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SCM_ProductRequestDetails;
    
    Grid_SCM_ProductRequestDetails.Reload();
    ConfirmationShownSCM_ProductRequestDetails = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SCM_ProductRequestDetails ()
{
    ConfirmationShownSCM_ProductRequestDetails = false;
}

void CustomizeRowsGrid_SCM_ProductRequestDetails(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SCM_ProductRequestDetails)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SCM_ProductRequestDetails(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SCM_ProductRequestDetails)e.EditModel;

      newRow.ProductDataSheetTrueFalse = false;


    }


}
public async void RowClickGrid_SCM_ProductRequestDetails(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SCM_ProductRequestDetails(GridRowClickEventArgs e)
{

}
}

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCM_ProductRequest\",\"GetNameAs\":\"SCM_ProductRequest\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SystemUser\",\"GetNameAs\":\"SystemUser\"},{\"Name\":\"SystemUnitUser\",\"GetNameAs\":\"SystemUnitUser\"},{\"Name\":\"SystemSectionUser\",\"GetNameAs\":\"SystemSectionUser\"},{\"Name\":\"UserCompanyName\",\"GetNameAs\":\"UserCompanyName\"}],\"Relation\":[{\"Name\":\"SCM_ICT_Departments\",\"GetNameAs\":\"SCM_ICT_Departments\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"SCM_ProductRequestDetails\",\"GetNameAs\":\"SCM_ProductRequestDetails\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"ProductCodeText\",\"GetNameAs\":\"ProductCodeText\"},{\"Name\":\"ProductUnitText\",\"GetNameAs\":\"ProductUnitText\"},{\"Name\":\"ProductInventoryText\",\"GetNameAs\":\"ProductInventoryText\"},{\"Name\":\"ProductRequestingQTY\",\"GetNameAs\":\"ProductRequestingQTY\"},{\"Name\":\"SCM_PriorityId\",\"GetNameAs\":\"SCM_PriorityId\"},{\"Name\":\"PlaceOfUseProduct\",\"GetNameAs\":\"PlaceOfUseProduct\"},{\"Name\":\"ProductRowDescription\",\"GetNameAs\":\"ProductRowDescription\"},{\"Name\":\"ProductNameText\",\"GetNameAs\":\"ProductNameText\"},{\"Name\":\"ForeignMachineryProductTrueFasle\",\"GetNameAs\":\"ForeignMachineryProductTrueFasle\"},{\"Name\":\"FutureActionTrueFalse\",\"GetNameAs\":\"FutureActionTrueFalse\"},{\"Name\":\"Description2\",\"GetNameAs\":\"Description2\"},{\"Name\":\"ProductDataSheetTrueFalse\",\"GetNameAs\":\"ProductDataSheetTrueFalse\"},{\"Name\":\"Description3\",\"GetNameAs\":\"Description3\"},{\"Name\":\"DeficitSupplyNumber\",\"GetNameAs\":\"DeficitSupplyNumber\"},{\"Name\":\"ProductDelivery\",\"GetNameAs\":\"ProductDelivery\"},{\"Name\":\"DeliveryCode\",\"GetNameAs\":\"DeliveryCode\"},{\"Name\":\"Global_SCMRequestTypeId\",\"GetNameAs\":\"Global_SCMRequestTypeId\"}],\"Relation\":[{\"Name\":\"SCM_Priority\",\"GetNameAs\":\"SCM_Priority\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"PriorityTitle\",\"GetNameAs\":\"PriorityTitle\"},{\"Name\":\"PriorityDateTime\",\"GetNameAs\":\"PriorityDateTime\"},{\"Name\":\"PriorityDescription\",\"GetNameAs\":\"PriorityDescription\"}]},{\"Name\":\"SCM_ProductRequestDetails_ProductDataSheetFile\",\"GetNameAs\":\"SCM_ProductRequestDetails_ProductDataSheetFile\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"SCM_ProductRequestDetailsId\",\"GetNameAs\":\"SCM_ProductRequestDetailsId\"},{\"Name\":\"storage\",\"GetNameAs\":\"storage\"},{\"Name\":\"name\",\"GetNameAs\":\"name\"},{\"Name\":\"url\",\"GetNameAs\":\"url\"},{\"Name\":\"size\",\"GetNameAs\":\"size\"},{\"Name\":\"type\",\"GetNameAs\":\"type\"},{\"Name\":\"originalName\",\"GetNameAs\":\"originalName\"},{\"Name\":\"hash\",\"GetNameAs\":\"hash\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}]},{\"Name\":\"Global_SCMRequestType\",\"GetNameAs\":\"Global_SCMRequestType\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCM_ProductRequest\",\"GetNameAs\":\"SCM_ProductRequest\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SystemUser\",\"GetNameAs\":\"SystemUser\"},{\"Name\":\"SystemUnitUser\",\"GetNameAs\":\"SystemUnitUser\"},{\"Name\":\"SystemSectionUser\",\"GetNameAs\":\"SystemSectionUser\"},{\"Name\":\"UserCompanyName\",\"GetNameAs\":\"UserCompanyName\"}],\"Relation\":[{\"Name\":\"SCM_ProductRequestDetails\",\"GetNameAs\":\"SCM_ProductRequestDetails\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"ProductCodeText\",\"GetNameAs\":\"ProductCodeText\"},{\"Name\":\"ProductUnitText\",\"GetNameAs\":\"ProductUnitText\"},{\"Name\":\"ProductInventoryText\",\"GetNameAs\":\"ProductInventoryText\"},{\"Name\":\"ProductRequestingQTY\",\"GetNameAs\":\"ProductRequestingQTY\"},{\"Name\":\"SCM_PriorityId\",\"GetNameAs\":\"SCM_PriorityId\"},{\"Name\":\"PlaceOfUseProduct\",\"GetNameAs\":\"PlaceOfUseProduct\"},{\"Name\":\"ProductRowDescription\",\"GetNameAs\":\"ProductRowDescription\"},{\"Name\":\"ProductNameText\",\"GetNameAs\":\"ProductNameText\"},{\"Name\":\"ForeignMachineryProductTrueFasle\",\"GetNameAs\":\"ForeignMachineryProductTrueFasle\"},{\"Name\":\"FutureActionTrueFalse\",\"GetNameAs\":\"FutureActionTrueFalse\"},{\"Name\":\"Description2\",\"GetNameAs\":\"Description2\"},{\"Name\":\"ProductDataSheetTrueFalse\",\"GetNameAs\":\"ProductDataSheetTrueFalse\"},{\"Name\":\"Description3\",\"GetNameAs\":\"Description3\"},{\"Name\":\"DeficitSupplyNumber\",\"GetNameAs\":\"DeficitSupplyNumber\"},{\"Name\":\"ProductDelivery\",\"GetNameAs\":\"ProductDelivery\"},{\"Name\":\"DeliveryCode\",\"GetNameAs\":\"DeliveryCode\"},{\"Name\":\"Global_SCMRequestTypeId\",\"GetNameAs\":\"Global_SCMRequestTypeId\"}],\"Relation\":[{\"Name\":\"SCM_ProductRequestDetails_ProductDataSheetFile\",\"GetNameAs\":\"SCM_ProductRequestDetails_ProductDataSheetFile\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"SCM_ProductRequestDetailsId\",\"GetNameAs\":\"SCM_ProductRequestDetailsId\"},{\"Name\":\"storage\",\"GetNameAs\":\"storage\"},{\"Name\":\"name\",\"GetNameAs\":\"name\"},{\"Name\":\"url\",\"GetNameAs\":\"url\"},{\"Name\":\"size\",\"GetNameAs\":\"size\"},{\"Name\":\"type\",\"GetNameAs\":\"type\"},{\"Name\":\"originalName\",\"GetNameAs\":\"originalName\"},{\"Name\":\"hash\",\"GetNameAs\":\"hash\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}]}]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SCM_ProductRequest>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SCM_ProductRequest();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//
_Entity.SystemUser = _RequestParameters.UserStarterFullName;
_Entity.UserCompanyName = _RequestParameters.UserStarterCompanyName;
_Entity.SystemUnitUser = _RequestParameters.UserStarterUnitName;
_Entity.SystemSectionUser = _RequestParameters.UserStarterSectionName;


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SCM_ProductRequest>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
