@inherits Forms.Forms.Form_1063Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.ORM
@using Castle.DynamicLinqQueryBuilder
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Forms
@using Utility
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
<style>
    
</style>

<div class="@(ReadOnly?"FormReadOnly":"")">


    <span class="d-none">VersionForm:@VersionForm</span>

    <div class="formListi mt-3">
        <div class="masterArea">
            <div class="p-2 cardbox">

                @*فیلد های مستر اگه نیاز شد اینجا قرار گیرد *@


                <Form_1063_Filter @ref="RefListFilter" OnSearch="@(f => SearchFilter(f))" _RequestParameters="@_RequestParameters" _CartablesParameters="@_CartablesParameters"></Form_1063_Filter>


                <div class="gridArea">

                    @*
                    فیلتر و گرید با یک لیست داده کار میکنند
                    *@

                    <label for="ITIL_Operation_ITIL_Operation">عملیات
   
    
</label>

<DxGrid @ref="Grid_ITIL_Operation" Data="_Entity" KeyFieldName="_Id" 
        EditModelSaving="OnEditModelSavingITIL_Operation"
        DataItemDeleting="OnDataItemDeletingITIL_Operation"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="عملیات"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_ITIL_Operation"
        CustomizeElement="CustomizeRowsGrid_ITIL_Operation" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":801,\"FieldId\":0,\"ViewId\":1063,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"ITIL_Operation\",\"GridMainModel\":\"ITIL_Operation\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"modal\":true,\"StartCustomDataGrid\":true,\"label\":\"عملیات\",\"tableView\":false,\"key\":\"ITIL_Operation\",\"type\":\"datagrid\",\"input\":true,\"modalEdit\":false,\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=ITIL_Operation_ITIL_OperationButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_ITIL_Operation())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=ITIL_Operation_ITIL_OperationButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_ITIL_Operation(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_ITIL_Operation(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn  Caption="عنوان"  FieldName="Title" />


</Columns>

    
</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownITIL_Operation" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_ITIL_Operation" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_ITIL_Operation" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationITIL_Operation" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonITIL_Operation" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonITIL_Operation" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_ITIL_Operation;
    Entity.ITIL_Operation ITIL_Operation;
    bool ConfirmationShownITIL_Operation { get; set; } = false;
    public Entity.ITIL_Operation SelectedItemGrid_ITIL_Operation { get; set; } = new Entity.ITIL_Operation();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_ITIL_Operation { get; set; }

    ///////////////////////
    bool ConfirmationITIL_Operation { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateITIL_Operation { get; set; }
    public int OpenDialogCodeITIL_Operation { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingITIL_Operation(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_ITIL_Operation(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_ITIL_Operation(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeITIL_Operation = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateITIL_Operation = e;
    ConfirmationITIL_Operation = true;
    }
    else
    {
    await OnNoButtonITIL_Operation();
    }
}
async Task OnYesButtonITIL_Operation()
{

    ConfirmationITIL_Operation = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateITIL_Operation.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_ITIL_Operation(_ContextFormTemplateITIL_Operation.DataItem, _ContextFormTemplateITIL_Operation.EditModel);
            await Grid_ITIL_Operation.CancelEditAsync();
         await ChangePageGrid_ITIL_Operation();
         await SetEditFormContextGrid_ITIL_Operation();
         }
          
    }

}
async Task OnNoButtonITIL_Operation()
{
    ConfirmationITIL_Operation = false;
    await ChangePageGrid_ITIL_Operation();
    await SetEditFormContextGrid_ITIL_Operation();

}
async Task SetEditFormContextGrid_ITIL_Operation()
{
    var e = (Entity.ITIL_Operation)Grid_ITIL_Operation.GetDataItem(IndexGrid_ITIL_Operation);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_ITIL_Operation()
{
    int VisibleIndex = IndexGrid_ITIL_Operation;
    try
    {
    if (OpenDialogCodeITIL_Operation == 1)
    {
        if (VisibleIndex != (Grid_ITIL_Operation.GetVisibleRowCount() - 1))
    { 
            Grid_ITIL_Operation.CancelEditAsync();
            IndexGrid_ITIL_Operation = VisibleIndex + 1;
    Grid_ITIL_Operation.StartEditRowAsync(IndexGrid_ITIL_Operation);
    }
    }
    else if (OpenDialogCodeITIL_Operation == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_ITIL_Operation.CancelEditAsync();
            IndexGrid_ITIL_Operation = VisibleIndex - 1;
    Grid_ITIL_Operation.StartEditRowAsync(IndexGrid_ITIL_Operation);
    }

    }
    var e = (Entity.ITIL_Operation)Grid_ITIL_Operation.GetDataItem(IndexGrid_ITIL_Operation);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_ITIL_Operation()
{
    //تعداد سطرهای کل
_VisibleIndex = Grid_ITIL_Operation.GetVisibleRowCount();
setFocusOff();
IsNew = true;
await ShowFormCU(null);
var e = new Entity.ITIL_Operation();
await Task.Delay(300);

}

async Task StartModalGrid_ITIL_Operation(GridCommandColumnCellDisplayTemplateContext Context)
{
    IsNew = false;
setFocusOn();
_VisibleIndex = Context.VisibleIndex;
await ShowFormCU(Context.DataItem);
var e = (Entity.ITIL_Operation)Context.DataItem;
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_ITIL_Operation(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_ITIL_Operation(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_ITIL_Operation(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_ITIL_Operation(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_ITIL_Operation();

    }
          
    }
   
}

void PerviousPageGrid_ITIL_Operation(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_ITIL_Operation.CancelEditAsync();
        IndexGrid_ITIL_Operation = VisibleIndex - 1;
         Grid_ITIL_Operation.StartEditRowAsync(IndexGrid_ITIL_Operation);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_ITIL_Operation(int VisibleIndex)
{

    if (VisibleIndex == Grid_ITIL_Operation.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_ITIL_Operation ");
    try
    {
Grid_ITIL_Operation.CancelEditAsync();
        IndexGrid_ITIL_Operation = VisibleIndex + 1;
         Grid_ITIL_Operation.StartEditRowAsync(IndexGrid_ITIL_Operation);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_ITIL_Operation(object DataItem, object EditModel)
{
    var ListEntity = _Entity;
    var MainModel = (Entity.ITIL_Operation)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.ITIL_Operation)EditModel).Id;
MainModel.RequestID = ((Entity.ITIL_Operation)EditModel).RequestID;
MainModel.CreateUser = ((Entity.ITIL_Operation)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.ITIL_Operation)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.ITIL_Operation)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.ITIL_Operation)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.ITIL_Operation)EditModel).IsDelete;
MainModel.Title = ((Entity.ITIL_Operation)EditModel).Title;

    }
    else
    {
    ListEntity.Add((Entity.ITIL_Operation)EditModel);
    }
}

async Task OnDataItemDeletingITIL_Operation(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity;
    ListEntity.Remove((Entity.ITIL_Operation)e.DataItem);
}
async void OnDeleteButtonClickGrid_ITIL_Operation (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_ITIL_Operation = (ex.DataItem as Entity.ITIL_Operation);
    var e =SelectedItemGrid_ITIL_Operation;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownITIL_Operation = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_ITIL_Operation ()
{
       if (SelectedItemGrid_ITIL_Operation != null)
    {
      if (SelectedItemGrid_ITIL_Operation.Id == Guid.Empty)
      {
          var ListEntity = _Entity;
        ListEntity.Remove((Entity.ITIL_Operation)SelectedItemGrid_ITIL_Operation);
     
      }
      else
      {
        var cleanModel = new Entity.ITIL_Operation();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.ITIL_Operation).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_ITIL_Operation);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_ITIL_Operation, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_ITIL_Operation._Id);
    
      await PostDataDelete(cleanModel); 
       
      }
    }
    var e= SelectedItemGrid_ITIL_Operation;
    
    Grid_ITIL_Operation.Reload();
    ConfirmationShownITIL_Operation = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_ITIL_Operation ()
{
    ConfirmationShownITIL_Operation = false;
}

void CustomizeRowsGrid_ITIL_Operation(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.ITIL_Operation)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_ITIL_Operation(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.ITIL_Operation)e.EditModel;

     

    }

await ShowFormCU(e);
}
public async void RowClickGrid_ITIL_Operation(GridRowClickEventArgs e)
{
if (!e.Grid.FocusedRowEnabled)
{
    setFocusOn();
}
IsNew = false;
_VisibleIndex = e.VisibleIndex;
ShowFormCU(e.Grid.GetDataItem(e.VisibleIndex));
e.Grid.SetFocusedRowIndex(e.VisibleIndex);
}

public async void RowDubbleClickGrid_ITIL_Operation(GridRowClickEventArgs e)
{

}
}


                    <DxPager @ref=DxPager VisibleNumericButtonCount="1" SwitchToInputBoxButtonCount="3" PageCount="@PageCount" NavigationMode="PagerNavigationMode.NumericButtons" ActivePageIndexChanged="PageIndexChanged" />
                    @* دیالوگ برای سابمیت *@
                    <DxPopup @bind-Visible="@Confirmation_Submit" HeaderText="Save" Width="350px" CloseOnOutsideClick="false">
                        <BodyContentTemplate Context="EditFormContext">
                            <div class="py-3 px-5 text-center">
                                <p>آیا از ذخیره این رکورد مطمئن هستید</p>
                                <div class="confirm-dialog-buttons">


                                    <DxButton Text="Yes" Enabled="!isSending" CssClass="btn btn-red px-4" Click="@OnYesSubmitClick">
                                        @* تبدیل دکمه به لود  *@
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "Send"))</span>

                                    </DxButton>
                                    <DxButton Text="No" CssClass="btn btn-purple-light px-4" Click="@OnNoSubmitClick" />
                                </div>
                            </div>
                        </BodyContentTemplate>
                    </DxPopup>
                    @* دیالوگ برای ذخیره و رکورد جدید *@
                    <DxPopup @bind-Visible="@Confirmation_SubmitNew" HeaderText="Save" Width="350px" CloseOnOutsideClick="false">

                        <BodyContentTemplate Context="EditFormContext">
                            <div class="py-3 px-5 text-center">
                                <p>آیا از ذخیره این رکورد مطمئن هستید</p>
                                <div class="confirm-dialog-buttons">
                                    <DxButton Text="Yes" Enabled="!isSending" CssClass="btn btn-red px-4" Click="@OnYesSubmitNewClick">
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "Send"))</span>

                                    </DxButton>
                                    <DxButton Text="No" CssClass="btn btn-purple-light px-4" Click="@OnNoSubmitNewClick" />
                                </div>
                            </div>
                        </BodyContentTemplate>
                    </DxPopup>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade xyz-in @(ShowForm?"show d-block":"")" id="DetailDialog" tabindex="-1" aria-labelledby="DetailDialog2Label" aria-hidden="true" style="z-index:1049">
        <div class="modal-dialog modal-fullscreen" style="z-index:1049;">
            <div class="modal-content" xyz="fade up-25% perspective-2 stagger">
                <div class="modal-header xyz-nested py-1" xyz="up-100% in-delay-3">
                    <h1 class="modal-title fs-5 fw-black">جزئیات</h1>
                    <button type="button" class="btn" @onclick="()=>ShowForm=false">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="detailArea">
                        @*
            @if (Id != null)
            {
            <h3>Row Id: @Id </h3>
            }

            <div>
            برای ایجاد هم از همین اصتفاده میشه
            باید وقتی داخل گرید سطری انتخاب شد برای ویرایش
            ارسال بشه به این فرم
            فرم وقتی ویرایش کرد داده رو به ORM ارسال کنه برای ذخیره داده
            و موجودیت بروز شده رو برگردونه که گرید هم بروز کنه داده رو
            ***تغیراتی داخل فرم پاین نیاز هست اعمال شود
            </div> *@

                        <Form_1063_CU @ref="RefForm" IndependentForm=false _CartablesParameters="_CartablesParameters" _RequestParameters="_RequestParameters"></Form_1063_CU>
                        <div class="mt-3">

                            @if (DtComponent is not null && DtComponent.AccessEdit)
                            {

                                <DxButton Enabled="!isSending" id="btn_listi_Save" CssClass="btn btn-sm btn-green" Click="@OnYesSubmitClick">
                                    @* تبدیل دکمه به لود  *@
                                    <DxWaitIndicator Visible="isSending" />
                                    <span class="mx-2">@((isSending ? "Sending..." : "ذخیره"))</span>

                                </DxButton>

                                <DxButton Enabled="!isSending" id="btn_listi_Save_close" CssClass="btn btn-sm btn-green" Click="@OnSubmitCloseClick">
                                    @* تبدیل دکمه به لود  *@
                                    <DxWaitIndicator Visible="isSending" />
                                    <span class="mx-2">@((isSending ? "Sending..." : "ذخیره و بستن"))</span>

                                </DxButton>
                                @if (DtComponent.AccessNew)
                                {
                                    <DxButton Enabled="!isSending" id="btn_listi_Save_New" CssClass="btn btn-sm btn-green" Click="@OnYesSubmitNewClick">
                                        @* تبدیل دکمه به لود  *@
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "ذخیره و جدید"))</span>

                                    </DxButton>
                                }
                            }
                            <button class="btn btn-sm btn-red" @onclick=SubmitCancell>انصراف</button>
                            |

                            <DxButton Text="Yes" Enabled="!isSending" id="btn_listi_Previous" CssClass="btn btn-sm btn-purple" Click="@BackRow">
                                @* تبدیل دکمه به لود  *@
                                <DxWaitIndicator Visible="isSending" />
                                <span class="bi bi-chevron-right btnicon"></span>
                                <span>@((isSending ? "wait..." : "قبلی"))</span>

                            </DxButton>
                            <DxButton Text="Yes" Enabled="!isSending" id="btn_listi_Next" CssClass="btn btn-sm btn-purple" Click="@NextRow">
                                @* تبدیل دکمه به لود  *@
                                <DxWaitIndicator Visible="isSending" />
                                <span>@((isSending ? "wait..." : "بعدی"))</span>
                                <span class="bi bi-chevron-left btnicon"></span>
                            </DxButton>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-backdrop fade @(ShowForm?"show":"")" style="z-index:1048"></div>
    </div>

</div>



@code {
    /// <summary>
    /// مقداردهی بر اساس ایندکس فعال
    /// </summary>
    protected int? _VisibleIndex { get; set; }
    //// <summary>
    /// نمایش دیالوگ ذخیره
    /// </summary>

    public bool Confirmation_Submit { get; set; } = false;
    /// <summary>
    /// نمایش دیالوگ ذخیره و فرم جدید
    /// </summary>
    public bool Confirmation_SubmitNew { get; set; } = false;
    /// <summary>
    /// کامپوننت دیتاگرید
    /// </summary>
    public View_Component DtComponent { get; set; } = new View_Component();

    //// <summary>
    /// نمایش لودینگ
    /// </summary>
    public bool isSending { get; set; } = false;
    /// <summary>
    /// رکورد جدید می باشد یا ویرایش
    /// </summary>

    public bool IsNew { get; set; }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
        //   RefListFilter = new();
    }
    protected override async Task OnInitializedAsync()
    {
        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        //     RefListFilter = new();
        await base.OnInitializedAsync();
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Yield();
            StateHasChanged();
            if (Grid_ITIL_Operation is not null)
    {
                DtComponent = (View_Component)Grid_ITIL_Operation.Attributes.GetValueOrDefault("Component");
    }

            //JSO = await JS.InvokeAsync<IJSObjectReference>("import", "./js/FormFunctions.js?ver=1.2");

            /*             var ResultConvert = await Forms.Domain.Utility.ConvertParameter.ConvertParametersToDaunamic(RequestParameters, CartablesParameters);
            _RequestParameters = ResultConvert._RequestParameters;
            _CartablesParameters = ResultConvert._CartablesParameters; */

            /*    RefForm.CartablesParameters = CartablesParameters;
            RefForm.RequestParameters = RequestParameters; */

            await InvokeAsync(StateHasChanged);
            await Task.Yield();
            QueryFilter = new QueryBuilderFilterRule();
            if ("{}" != "null" || "{}" != "{}")
            {
                QueryFilter = await JSON.ToObject<QueryBuilderFilterRule>("{}");

            }


            if (RefListFilter == null)
            {

                RefListFilter = new();
            }

            await InvokeAsync(StateHasChanged);
            await Task.Yield();

            RefListFilter.QueryFilter = QueryFilter;//برای این گذاشتم که فیلتر نال نره تو پکامپوننتش

            await base.BeforGetData();
            await InvokeAsync(StateHasChanged);
            await Task.Yield();

            await RefListFilter.SearchFilter();
            await base.AfterGetData();
            //ست کردن شماره صفحه به گرید
            await SetPageIndex(0);

            //          if (Grid_ITIL_Operation.GetDataItem(0) != null)
            //  {
            //              await ShowFormCU(Grid_ITIL_Operation.GetDataItem(0));
            //  }
        }

        await base.OnAfterRenderAsync(firstRender);
    }


    public async Task SearchFilter(QueryBuilderFilterRule? Filter)
    {

        SearchQueryFilter = Filter;

        //ریست پیج بندی
        if (PageReset)
            PageIndex = 0;
        //
        //فیلتر ارسال بشه برای ORM
        //لیست ردیافتی بایند بشه تو لیست ListData
        await LoadData();
        PageReset = true;
        StateHasChanged();
    }

    /// <summary>
    /// لود دیتا گرید
    /// </summary>
    /// <returns></returns>
    public async Task LoadData()
    {

        //string Url = "https://bayaorm.workcv.ir/fa/api/v1/ITIL_Operation/GetList";
        //string Url = "https://testorm.workcv.ir/fa/api/v1/ITIL_Operation/GetList";
        // string Url = "https://bayaorm.workcv.ir/fa/api/v1/ITIL_Operation/GetList";

        int skip = (PageIndex * PageSize);

        var pagedResult = new PagedResult();

        pagedResult.PageSize = PageSize;

        pagedResult.PageNumber = skip;
        await FillTableGet();

        var R = await ApiServer.External.Services.Data.GetListPost(TableGet, SearchQueryFilter, pagedResult, "ITIL_Operation");


        if (R is not null)
        {//اگه داده گرفته 
            if (R.Status == System.Net.HttpStatusCode.OK)
            {


                var page = await Utility.JSON.ToObject<PagedResult>(R.Content?.ToString());

                if (page?.Items != null)
                {
                    // مستقیم به لیست مدل تبدیل کن
                    _Entity = await Utility.JSON.ToObject<List<Entity.ITIL_Operation>>(
               await Utility.JSON.ToJson(page.Items)
                    );


                }
                if (page?.PagesCount != null)
                {
                    PageCount = page.PagesCount;
                }
      
                //  _Entity = (await Utility.JSON.ToObject<List<Entity.ITIL_Operation>>(R.Content?.ToString()));
            }
            else
            {
                Console.WriteLine("#Log LoadData Error:");
              //  Console.WriteLine(R.Status);
                Console.WriteLine(R.Content);
                Console.WriteLine(R.Message);
            }
          
            //await OnFormloaded.InvokeAsync(Result);
        }
        
    }

    /// <summary>
    /// تابع پیج بندی
    /// </summary>
    /// <param name="Index"></param>
    /// <returns></returns>
    public async Task PageIndexChanged(int Index)
    {
        await SetPageIndex(Index);

        await LoadData();
    }


    /// <summary>
    /// دریافت داده فرم سمت راست CU
    /// </summary>
    /// <param name="Id"></param>
    /// <returns></returns>
    public async Task GetDataForm(object Id)
    {
        ShowForm = true;
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = PrimaryFieldName,
                        Id = PrimaryFieldName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        RefForm.QueryFilter = NewQuery;
        await RefForm.GetData();
        StateHasChanged();
    }
    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }
    /// <summary>
    /// سامبیت فرم
    /// </summary>
    /// <returns></returns>
    public async Task Submit()
    {
        Confirmation_Submit = true;
        // var R = await RefForm.Submit();

        // if (R.Status != System.Net.HttpStatusCode.OK)
        // {
        //     toastService.ShowError("ذخیره سازی دچار خطا شد");
        // }
    }
    /// <summary>
    /// تایید ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnYesSubmitClick()
    {
        PageReset = false;
        await RefForm.Submit();
        await RefListFilter.SearchFilter();
        var PageIndex = Grid_ITIL_Operation.PageIndex;
    //اگر جدید بود برو بر روی خود رکورد جدید
  // if (IsNew)
  //     {
  //         if (_VisibleIndex == (Grid_ITIL_Operation.GetVisibleRowCount() - 1))
  // {
  //             PageIndex = PageIndex + 1;
  //             _VisibleIndex = 0;
  //         }
  //         else
  //         {
  //             _VisibleIndex = _VisibleIndex.Value + 1;
  //         }
  //
  //     }
  //     await SelectRecord(PageIndex, _VisibleIndex.Value);
    }

    /// <summary>
    /// ذخیره و بستن فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnSubmitCloseClick()
    {
        PageReset = false;
        await SubmitAndRefreshData();
        ShowForm = false;
        await InvokeAsync(StateHasChanged);
    }

    /// <summary>
    /// تایید ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnYesSubmitNewClick()
    {
        PageReset = false;
        await SubmitAndRefreshData();
        StartEditNewRowAsync_Grid_ITIL_Operation();
    }

    public async Task SubmitAndRefreshData()
    {
        isSending = true;
        await RefForm.Submit();
        await RefListFilter.SearchFilter();
        await InvokeAsync(StateHasChanged);
        Confirmation_SubmitNew = false;
        isSending = false;
    }

    /// <summary>
    /// انصراف ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnNoSubmitClick()
    {
        Confirmation_Submit = false;
    }

    //// <summary>
    /// فعال شدن دیالوگ ذخیره و فرم جدید
    /// </summary>
    /// <returns></returns>
    public async Task SubmitNew()
    {
        Confirmation_SubmitNew = true;
    }


    /// <summary>
    /// انصراف ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnNoSubmitNewClick()
    {
        Confirmation_Submit = false;
    }

    /// <summary>
    /// انصراف از ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task SubmitCancell()
    {
       // await GetDataForm(null);
        ShowForm = false;
        PageReset = false;
        await RefListFilter.SearchFilter();
    }
    /// <summary>
    /// رکورد بعدی
    /// </summary>
    /// <returns></returns>
    public async Task NextRow()
    {


        if (_VisibleIndex is null)
        {
            _VisibleIndex = 0;
        }
        else if (_VisibleIndex == (Grid_ITIL_Operation.GetVisibleRowCount() - 1))
    {
            if (PageIndex < DxPager.PageCount)
            {
                PageIndex = PageIndex + 1;
            }
            else
            {
                PageIndex = 0;
            }
            _VisibleIndex = 0;
        }
        else
        {
            _VisibleIndex = _VisibleIndex.Value + 1;
        }
        await SelectRecord(PageIndex, _VisibleIndex.Value);

    }
    /// <summary>
    /// رکورد قبلی
    /// </summary>
    /// <returns></returns>
    public async Task BackRow()
    {
        if (_VisibleIndex is null)
        {
            _VisibleIndex = 0;
        }
        if (_VisibleIndex == 0)
        {
            if (PageIndex > 0)
            {
                PageIndex = PageIndex - 1;
                _VisibleIndex = Grid_ITIL_Operation.PageSize - 1;
    }
        }
        else
        {

            _VisibleIndex = _VisibleIndex.Value - 1;
        }
        await SelectRecord(PageIndex, _VisibleIndex.Value);
    }

    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }


    /// <summary>
    /// نمایش دادن فرم CU برای ویرایش و ضافه کردن رکورد
    /// </summary>
    /// <param name="e"></param>
    // public async Task ShowFormCU(GridCustomizeEditModelEventArgs e)
    // {
    //     Guid Id = Guid.Empty;
    //     if (!e.IsNew)
    //     {
    //         var newRow = (Entity.ITIL_Operation)e.EditModel;
    //         Id = newRow.Id;
    //     }
    //     await GetDataForm(Id);
    // }

    /// <summary>
    /// نمایش دادن فرم CU برای ویرایش و ضافه کردن رکورد
    /// </summary>
    /// <param name="e"></param>
    public async Task ShowFormCU(object e)
    {
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        object Id = null;
        Type type = null;
        ShowForm = true;
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        if (!IsNew)
        {
            var newRow = (Entity.ITIL_Operation)e;
    Id = newRow._Id;
            await InvokeAsync(StateHasChanged);
            await Task.Yield();
        }
        else
        {
            var newRow = new Entity.ITIL_Operation();
    Id = newRow._Id;
        }
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        await GetDataForm(Id);
    }
    /// <summary>
    /// خاموش کردن فوکوس گرید
    /// </summary>
    /// <returns></returns>
    public async Task setFocusOff()
    {
        //اگر فوکوس روشن بود خاموشش کن
        if (Grid_ITIL_Operation.FocusedRowEnabled)
    {
            //به علت یروزرسانی دیتاگرید و اینکه فوکوس باید مقدار اولیه داده شود از خط زیر استفاده می شود
            Grid_ITIL_Operation.BeginUpdate();
    Grid_ITIL_Operation.FocusedRowEnabled = false;
    Grid_ITIL_Operation.EndUpdate();
    }

    }
    /// <summary>
    /// فعال کردن فوکوس گرید
    /// </summary>
    /// <returns></returns>
    public async Task setFocusOn()
    {
        if (!Grid_ITIL_Operation.FocusedRowEnabled)
    {
            Grid_ITIL_Operation.BeginUpdate();
    Grid_ITIL_Operation.FocusedRowEnabled = true;

    Grid_ITIL_Operation.EndUpdate();
    }

    }

    public async Task SelectRecord(int PageIndex, int __VisibleIndex)
    {

        isSending = true;
        await setFocusOn();
        PageIndexChanged(PageIndex);
        await ShowFormCU(Grid_ITIL_Operation.GetDataItem(__VisibleIndex));
    DxPager.ActivePageIndex = PageIndex;
        Grid_ITIL_Operation.BeginUpdate();
    Grid_ITIL_Operation.PageIndex = PageIndex;
    Grid_ITIL_Operation.EndUpdate();
    Grid_ITIL_Operation.SetFocusedRowIndex(__VisibleIndex);

    isSending = false;
    }

    public async Task SetPageIndex(int Index)
    {
        PageIndex = Index;
        Grid_ITIL_Operation.BeginUpdate();
    Grid_ITIL_Operation.PageIndex = Index;
    Grid_ITIL_Operation.EndUpdate();
    }
    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostDataDelete(Entity.ITIL_Operation _entity)
    {
        string Data = await Utility.JSON.ToJson(_entity);

        var TablePost = new Table();
        TablePost.Name = "ITIL_Operation";
        TablePost.Column = new List<Coulmn>
                    {
                    new Coulmn {Name=_entity._GetIdName  , NameAs= _entity._GetIdName},
                    new Coulmn {Name ="IsDelete",NameAs="IsDelete" }

                    };
        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, null, _User.UserID.ToString());
        if (Model?.Status == HttpStatusCode.OK)
        {
            IsOk = true;
        }

        return IsOk;
    }
}
