@inherits Forms.Forms.Form_1022_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    /* ************************************************** */
.detailArea form div:not(.devdrop) {
    margin-top: .1rem;
}

/* ************************************************** */
.header-form {
    height: 100px;
    background: linear-gradient(96deg, #0d3b66, #6a0dad);
    color: white;
    border-bottom: 2px solid #ffffff33;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.header-icon {
    font-size: 56px;
    color: #ffccff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-icon:hover {
    transform: scale(1.1) rotate(-5deg);
    color: #f5baff;
}

.header-title {
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-subtitle {
    font-size: 14px;
    opacity: 0.95;
    transition: opacity 0.3s ease;
}

.header-text:hover .header-title {
    color: #ffe0ff;
}

.header-text:hover .header-subtitle {
    opacity: 1;
}

/* ********** */

.col_bg1 {
    border: 1px dashed rgba(99, 100, 102, 0.3);
    background-color: rgba(189, 193, 196, 0.488);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0.1rem !important;
    /*align-items: baseline;*/
}

.col_bg1:hover {
    /* background-color: rgba(255, 193, 7, 0.03);
  border-color: rgba(255, 193, 7, 0.5);*/
}


.col_bg {
    /* border: 1px dashed rgba(88, 89, 104, 0.5);*/
    /* طوسی خط‌چین */
    background: #DEDED1;
    /* background-color: #DEDED1; */
    /* طوسی خیلی روشن */
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0.1rem !important;
}

/* حذف کامل هاور */
.col_bg:hover {
    /* خالی بماند تا هیچ تغییری نکند */
}
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<div  class="">
    <header class="header-form d-flex align-items-center py-1">
    <i class="fal fa-box header-icon px-3 fs-1"></i>
    <div class="header-text">
      <h4 class="header-title mb-1">ایجاد و ویرایش خرید</h4>
      <p class="header-subtitle">ایجاد و ویرایش خرید در شماران</p>
    </div>
  </header>
</div>
<div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <div>
  &nbsp;
</div>
</div>

<div class="bg-light">
    
<div class="row ">
    
<div class="col-md-5">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_Petco_AnbordAnbord_List = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"خرید\",\"primaryKey\":false,\"EntityID\":762,\"FieldId\":31020,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1022,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_anbordDTL/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DataGrid\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"ORDERNO\",\"template\":\"<span>{{item.ORDERNO}} {{item.TEMPNO}} {{item.ORDERDATE}} {{item.vaziat}} </span>\",\"FieldsTemplate\":[{\"key\":\"ORDERNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TEMPNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"ORDERDATE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"vaziat\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"TEMPNO\",\"disabled\":false,\"modal\":true,\"label\":\"فهرست خریدهای صادره\",\"tableView\":true,\"key\":\"Anbord_List\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31020?EId=762&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=Anbord_List  @ref="Ref_Anbord_List" Label="فهرست خریدهای صادره" CssClass=""  DisplayFormat="DataGrid" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.Anbord_List" FieldName="Anbord_List" OnItemSelected="ItemSelected_SH_Petco_AnbordAnbord_List" Component="Component_SH_Petco_AnbordAnbord_List" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_AnbordAnbord_List(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.Anbord_List = Selected.ORDERNO;


    

    
    }
} 

</div>

<div class="col-md-7">
    
<div class="row col_bg1 px-2">
    
<div class="col-md-4">
    
<Input Id="ORDERNO" @ref="Ref_ORDERNO" Label="شماره"     @bind-Value="_Entity.ORDERNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="CREATOR" @ref="Ref_CREATOR" Label="تنظیم کننده"     @bind-Value="_Entity.CREATOR" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="TEMPNO" @ref="Ref_TEMPNO" Label="شماره عطف"     @bind-Value="_Entity.TEMPNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-4">
    
<Input Id="ORDERDATE" @ref="Ref_ORDERDATE" Label="تاریخ درخواست خرید"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.ORDERDATE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="NDATE" @ref="Ref_NDATE" Label="تاریخ تحویل"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.NDATE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="OKFACTDATE" @ref="Ref_OKFACTDATE" Label="تاریخ تائید درخواست خرید"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.OKFACTDATE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-4">
    
<Input Id="REQPERSON" @ref="Ref_REQPERSON" Label="درخواست کننده"     @bind-Value="_Entity.REQPERSON" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
</div>

<div class="col-md-4">
    
</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-4">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_Petco_AnbordCENTCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"خرید\",\"primaryKey\":false,\"EntityID\":762,\"FieldId\":31003,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1022,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_paycent/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"CENTCODE\",\"template\":\"<span>{{item.name}} {{item.CENTCODE}} </span>\",\"FieldsTemplate\":[{\"key\":\"name\",\"value\":\"nvarchar(Max)\"},{\"key\":\"CENTCODE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"name,CENTCODE\",\"disabled\":false,\"modal\":true,\"label\":\"مرکز هزینه\",\"tableView\":true,\"key\":\"CENTCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31003?EId=762&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=CENTCODE  @ref="Ref_CENTCODE" Label="مرکز هزینه" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.CENTCODE" FieldName="CENTCODE" OnItemSelected="ItemSelected_SH_Petco_AnbordCENTCODE" Component="Component_SH_Petco_AnbordCENTCODE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_AnbordCENTCODE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.CENTCODE = Selected.CENTCODE;


    

    
    }
} 

</div>

<div class="col-md-4">
    
</div>

<div class="col-md-4">
    
</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-4">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_Petco_AnbordINVCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"خرید\",\"primaryKey\":false,\"EntityID\":762,\"FieldId\":31008,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1022,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_INV/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"INVCODE\",\"template\":\"<span>{{item.INVNAME}} {{item.INVCODE}} </span>\",\"FieldsTemplate\":[{\"key\":\"INVNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"INVCODE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"INVCODE,INVNAME\",\"disabled\":false,\"modal\":true,\"label\":\"نام انبار\",\"tableView\":true,\"key\":\"INVCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31008?EId=762&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=INVCODE  @ref="Ref_INVCODE" Label="نام انبار" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.INVCODE" FieldName="INVCODE" OnItemSelected="ItemSelected_SH_Petco_AnbordINVCODE" Component="Component_SH_Petco_AnbordINVCODE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_AnbordINVCODE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.INVCODE = Selected.INVCODE;


    

    
    }
} 

</div>

<div class="col-md-4">
    
</div>

<div class="col-md-4">
    
</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-4">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_Petco_AnbordPSOURCE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"خرید\",\"primaryKey\":false,\"EntityID\":762,\"FieldId\":31015,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1022,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_tamin_type/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.code}} {{item.title}} </span>\",\"FieldsTemplate\":[{\"key\":\"code\",\"value\":\"int\"},{\"key\":\"title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"مبنع تامین\",\"tableView\":true,\"key\":\"PSOURCE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31015?EId=762&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=PSOURCE  @ref="Ref_PSOURCE" Label="مبنع تامین" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.PSOURCE" FieldName="PSOURCE" OnItemSelected="ItemSelected_SH_Petco_AnbordPSOURCE" Component="Component_SH_Petco_AnbordPSOURCE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_AnbordPSOURCE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.PSOURCE = Selected.code;


    

    
    }
} 

</div>

<div class="col-md-4">
    
</div>

<div class="col-md-4">
    
</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-6">
    
<Input Id="Description" @ref="Ref_Description" Label="توضیحات"     @bind-Value="_Entity.Description" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-6">
    
</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-4">
    
<Input Id="YEAR" @ref="Ref_YEAR" Label="سال"     @bind-Value="_Entity.YEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
</div>

<div class="col-md-4">
    
</div>

</div>

</div>

</div>

</div>
<div  class="">
    <hr class="hrdash bg-red">
</div>
<div  class="">
    <div id="resid_header" 
     class="rounded rounded-1 border border-0 fs-6 fw-bold p-2 d-flex justify-content-center align-items-center"
     style="background-color:#b38cff;">

  <span class="text-black">
    اقلام مصرفی توسط سازنده
  </span>

</div>

</div>
<label for="SH_Petco_AnbordDetail_GridSH_Petco_AnbordId_763">جزئیات خرید
   
    
</label>

<DxGrid @ref="Grid_SH_Petco_AnbordDetail" Data="_Entity.SH_Petco_AnbordDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSH_Petco_AnbordDetail"
        DataItemDeleting="OnDataItemDeletingSH_Petco_AnbordDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزئیات خرید"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SH_Petco_AnbordDetail"
        CustomizeElement="CustomizeRowsGrid_SH_Petco_AnbordDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":763,\"FieldId\":763,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SH_Petco_AnbordDetail\",\"GridMainModel\":\"SH_Petco_AnbordDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزئیات خرید\",\"tableView\":true,\"key\":\"GridSH_Petco_AnbordId_763\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSH_Petco_AnbordId_763\",\"modalEdit\":true,\"FieldUrl\":\"763?EId=763&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"editmodelsaving\":\"GridSH_Petco_AnbordId_763_editmodelsaving\",\"afterrendermodal\":\"GridSH_Petco_AnbordId_763_afterrendermodal\"}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SH_Petco_AnbordDetail_GridSH_Petco_AnbordId_763ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SH_Petco_AnbordDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SH_Petco_AnbordDetail_GridSH_Petco_AnbordId_763ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SH_Petco_AnbordDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SH_Petco_AnbordDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn Context="ProductSearch_" Caption="جستجو کالا" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":763,\"FieldId\":31021,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1022,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":false,\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-6\",\"FieldUrl\":\"31021?EId=763&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"ProductSearch_onitemselected\"}").Result;
    var RowProductSearch = ((Entity.SH_Petco_AnbordDetail)ProductSearch_.DataItem).ProductSearch;
}

<Dropdown ExternalApi=true CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6" NotMapped=false TextGrid=true Value="@RowProductSearch"   FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_Petco_AnbordDetailProductSearch_Header" Component="HeaderProductSearch">
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_AnbordDetailProductSearch_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   ProductSearch

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="html_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="کد کالا"  FieldName="PARTCODE" />

<DxGridDataColumn  Caption="نام کالا"  FieldName="ProductName" />

<DxGridDataColumn  Caption="واحد کالا"  FieldName="ProductUnit" />

<DxGridDataColumn  Caption="شماره فنی"  FieldName="ShomareFani" />

<DxGridDataColumn  Caption="مشخصات فنی"  FieldName="TECDESC" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار درخواستی"  FieldName="ORDAMOUNT" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار تائید شده"  FieldName="OKAMOUNT" />

<DxGridDataColumn  Caption="یادداشت"  FieldName="DESC1" />

<DxGridDataColumn DisplayFormat="0" Caption="سال"  FieldName="Year" />

<DxGridDataColumn  Caption="ردیف دیتیل فرم" Visible=false FieldName="RowId" />


</Columns>

    <EditFormTemplate Context="EditFormContextSH_Petco_AnbordDetail">
    @{
        SH_Petco_AnbordDetail  = (Entity.SH_Petco_AnbordDetail)EditFormContextSH_Petco_AnbordDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_Petco_AnbordDetailProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":763,\"FieldId\":31021,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1022,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":false,\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-6\",\"FieldUrl\":\"31021?EId=763&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"ProductSearch_onitemselected\"}").Result;
}

    <Dropdown Id=SH_Petco_AnbordDetail_ProductSearch  @ref="Ref_SH_Petco_AnbordDetail_ProductSearch" Label="جستجو کالا" CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6"  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SH_Petco_AnbordDetail.ProductSearch" FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_Petco_AnbordDetailProductSearch" Component="Component_SH_Petco_AnbordDetailProductSearch" _Entity="_Entity" _EntityRow=SH_Petco_AnbordDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_AnbordDetailProductSearch(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_Petco_AnbordDetail;

    Item.ProductSearch = Selected.partcode;


    

    await ProductSearch_onitemselected( Selected , SH_Petco_AnbordDetail);
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    
<Input Id="SH_Petco_AnbordDetail_PARTCODE" @ref="Ref_SH_Petco_AnbordDetail_PARTCODE" Label="کد کالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3"   @bind-Value="SH_Petco_AnbordDetail.PARTCODE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    
<Input Id="SH_Petco_AnbordDetail_ProductName" @ref="Ref_SH_Petco_AnbordDetail_ProductName" Label="نام کالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3"   @bind-Value="SH_Petco_AnbordDetail.ProductName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    
<Input Id="SH_Petco_AnbordDetail_ProductUnit" @ref="Ref_SH_Petco_AnbordDetail_ProductUnit" Label="واحد کالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-2"   @bind-Value="SH_Petco_AnbordDetail.ProductUnit" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    
<Input Id="SH_Petco_AnbordDetail_ShomareFani" @ref="Ref_SH_Petco_AnbordDetail_ShomareFani" Label="شماره فنی"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-2"   @bind-Value="SH_Petco_AnbordDetail.ShomareFani" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    
<Input Id="SH_Petco_AnbordDetail_TECDESC" @ref="Ref_SH_Petco_AnbordDetail_TECDESC" Label="مشخصات فنی"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-2"   @bind-Value="SH_Petco_AnbordDetail.TECDESC" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    
<Input Id="SH_Petco_AnbordDetail_ORDAMOUNT" @ref="Ref_SH_Petco_AnbordDetail_ORDAMOUNT" Label="مقدار درخواستی"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3"   @bind-Value="SH_Petco_AnbordDetail.ORDAMOUNT" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    
<Input Id="SH_Petco_AnbordDetail_OKAMOUNT" @ref="Ref_SH_Petco_AnbordDetail_OKAMOUNT" Label="مقدار تائید شده"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3"   @bind-Value="SH_Petco_AnbordDetail.OKAMOUNT" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    
<Input Id="SH_Petco_AnbordDetail_DESC1" @ref="Ref_SH_Petco_AnbordDetail_DESC1" Label="یادداشت"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6"   @bind-Value="SH_Petco_AnbordDetail.DESC1" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    
<Input Id="SH_Petco_AnbordDetail_Year" @ref="Ref_SH_Petco_AnbordDetail_Year" Label="سال"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-2"   @bind-Value="SH_Petco_AnbordDetail.Year" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_Petco_AnbordDetail">
    
<Input Id="SH_Petco_AnbordDetail_RowId" @ref="Ref_SH_Petco_AnbordDetail_RowId" Label="ردیف دیتیل فرم"  CssClass="d-none" Disabled=true  @bind-Value="SH_Petco_AnbordDetail.RowId" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSH_Petco_AnbordDetail" CssClass="btn-modal-custom">
            <DxButton Id="SH_Petco_AnbordDetail_GridSH_Petco_AnbordId_763ButtonSave" Click="@(() => SaveModalGrid_SH_Petco_AnbordDetail(EditFormContextSH_Petco_AnbordDetail))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SH_Petco_AnbordDetail_GridSH_Petco_AnbordId_763ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_SH_Petco_AnbordDetail(EditFormContextSH_Petco_AnbordDetail))" CssClass="btn btn-green" />


            <DxButton Id="SH_Petco_AnbordDetail_GridSH_Petco_AnbordId_763ButtonCancel" Click="@(() => Grid_SH_Petco_AnbordDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SH_Petco_AnbordDetail_GridSH_Petco_AnbordId_763ButtonBefore" Click="@(() => Dialog_Grid_SH_Petco_AnbordDetail(0,IndexGrid_SH_Petco_AnbordDetail,EditFormContextSH_Petco_AnbordDetail))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SH_Petco_AnbordDetail_GridSH_Petco_AnbordId_763ButtonNext" Click="@(() => Dialog_Grid_SH_Petco_AnbordDetail(1,IndexGrid_SH_Petco_AnbordDetail,EditFormContextSH_Petco_AnbordDetail))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSH_Petco_AnbordDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SH_Petco_AnbordDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SH_Petco_AnbordDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSH_Petco_AnbordDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSH_Petco_AnbordDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSH_Petco_AnbordDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SH_Petco_AnbordDetail;
    Entity.SH_Petco_AnbordDetail SH_Petco_AnbordDetail;
    bool ConfirmationShownSH_Petco_AnbordDetail { get; set; } = false;
    public Entity.SH_Petco_AnbordDetail SelectedItemGrid_SH_Petco_AnbordDetail { get; set; } = new Entity.SH_Petco_AnbordDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SH_Petco_AnbordDetail { get; set; }

    ///////////////////////
    bool ConfirmationSH_Petco_AnbordDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSH_Petco_AnbordDetail { get; set; }
    public int OpenDialogCodeSH_Petco_AnbordDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSH_Petco_AnbordDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       NotValid = await GridSH_Petco_AnbordId_763_editmodelsaving(e);
        
      if (!NotValid)
     {
      SaveGrid_SH_Petco_AnbordDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SH_Petco_AnbordDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSH_Petco_AnbordDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSH_Petco_AnbordDetail = e;
    ConfirmationSH_Petco_AnbordDetail = true;
    }
    else
    {
    await OnNoButtonSH_Petco_AnbordDetail();
    }
}
async Task OnYesButtonSH_Petco_AnbordDetail()
{

    ConfirmationSH_Petco_AnbordDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSH_Petco_AnbordDetail.EditModel;
         //events
         NotValid = await GridSH_Petco_AnbordId_763_editmodelsaving(e);

        if (!NotValid)
         {
        SaveGrid_SH_Petco_AnbordDetail(_ContextFormTemplateSH_Petco_AnbordDetail.DataItem, _ContextFormTemplateSH_Petco_AnbordDetail.EditModel);
            await Grid_SH_Petco_AnbordDetail.CancelEditAsync();
         await ChangePageGrid_SH_Petco_AnbordDetail();
         await SetEditFormContextGrid_SH_Petco_AnbordDetail();
         }
          
    }

}
async Task OnNoButtonSH_Petco_AnbordDetail()
{
    ConfirmationSH_Petco_AnbordDetail = false;
    await ChangePageGrid_SH_Petco_AnbordDetail();
    await SetEditFormContextGrid_SH_Petco_AnbordDetail();

}
async Task SetEditFormContextGrid_SH_Petco_AnbordDetail()
{
    var e = (Entity.SH_Petco_AnbordDetail)Grid_SH_Petco_AnbordDetail.GetDataItem(IndexGrid_SH_Petco_AnbordDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SH_Petco_AnbordDetail()
{
    int VisibleIndex = IndexGrid_SH_Petco_AnbordDetail;
    try
    {
    if (OpenDialogCodeSH_Petco_AnbordDetail == 1)
    {
        if (VisibleIndex != (Grid_SH_Petco_AnbordDetail.GetVisibleRowCount() - 1))
    { 
            Grid_SH_Petco_AnbordDetail.CancelEditAsync();
            IndexGrid_SH_Petco_AnbordDetail = VisibleIndex + 1;
    Grid_SH_Petco_AnbordDetail.StartEditRowAsync(IndexGrid_SH_Petco_AnbordDetail);
    }
    }
    else if (OpenDialogCodeSH_Petco_AnbordDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SH_Petco_AnbordDetail.CancelEditAsync();
            IndexGrid_SH_Petco_AnbordDetail = VisibleIndex - 1;
    Grid_SH_Petco_AnbordDetail.StartEditRowAsync(IndexGrid_SH_Petco_AnbordDetail);
    }

    }
    var e = (Entity.SH_Petco_AnbordDetail)Grid_SH_Petco_AnbordDetail.GetDataItem(IndexGrid_SH_Petco_AnbordDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    await GridSH_Petco_AnbordId_763_afterrendermodal(e);
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SH_Petco_AnbordDetail()
{
    IndexGrid_SH_Petco_AnbordDetail = Grid_SH_Petco_AnbordDetail.GetVisibleRowCount();
Grid_SH_Petco_AnbordDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SH_Petco_AnbordDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await GridSH_Petco_AnbordId_763_afterrendermodal(e);
}

async Task StartModalGrid_SH_Petco_AnbordDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SH_Petco_AnbordDetail = Context.VisibleIndex;
Grid_SH_Petco_AnbordDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SH_Petco_AnbordDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await GridSH_Petco_AnbordId_763_afterrendermodal(e);
   // await Task.Delay(500);
}
public async Task SaveModalGrid_SH_Petco_AnbordDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    NotValid = await GridSH_Petco_AnbordId_763_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_SH_Petco_AnbordDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SH_Petco_AnbordDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    NotValid = await GridSH_Petco_AnbordId_763_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_SH_Petco_AnbordDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SH_Petco_AnbordDetail();

    }
          
    }
   
}

void PerviousPageGrid_SH_Petco_AnbordDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SH_Petco_AnbordDetail.CancelEditAsync();
        IndexGrid_SH_Petco_AnbordDetail = VisibleIndex - 1;
         Grid_SH_Petco_AnbordDetail.StartEditRowAsync(IndexGrid_SH_Petco_AnbordDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SH_Petco_AnbordDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_SH_Petco_AnbordDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SH_Petco_AnbordDetail ");
    try
    {
Grid_SH_Petco_AnbordDetail.CancelEditAsync();
        IndexGrid_SH_Petco_AnbordDetail = VisibleIndex + 1;
         Grid_SH_Petco_AnbordDetail.StartEditRowAsync(IndexGrid_SH_Petco_AnbordDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SH_Petco_AnbordDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SH_Petco_AnbordDetail;
    var MainModel = (Entity.SH_Petco_AnbordDetail)DataItem;
    if (MainModel != null)
    {
MainModel.ProductSearch = ((Entity.SH_Petco_AnbordDetail)EditModel).ProductSearch;
MainModel.PARTCODE = ((Entity.SH_Petco_AnbordDetail)EditModel).PARTCODE;
MainModel.ProductName = ((Entity.SH_Petco_AnbordDetail)EditModel).ProductName;
MainModel.ProductUnit = ((Entity.SH_Petco_AnbordDetail)EditModel).ProductUnit;
MainModel.ShomareFani = ((Entity.SH_Petco_AnbordDetail)EditModel).ShomareFani;
MainModel.TECDESC = ((Entity.SH_Petco_AnbordDetail)EditModel).TECDESC;
MainModel.ORDAMOUNT = ((Entity.SH_Petco_AnbordDetail)EditModel).ORDAMOUNT;
MainModel.OKAMOUNT = ((Entity.SH_Petco_AnbordDetail)EditModel).OKAMOUNT;
MainModel.DESC1 = ((Entity.SH_Petco_AnbordDetail)EditModel).DESC1;
MainModel.Year = ((Entity.SH_Petco_AnbordDetail)EditModel).Year;
MainModel.RowId = ((Entity.SH_Petco_AnbordDetail)EditModel).RowId;

    }
    else
    {
    ListEntity.Add((Entity.SH_Petco_AnbordDetail)EditModel);
    }
}

async Task OnDataItemDeletingSH_Petco_AnbordDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SH_Petco_AnbordDetail;
    ListEntity.Remove((Entity.SH_Petco_AnbordDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_SH_Petco_AnbordDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SH_Petco_AnbordDetail = (ex.DataItem as Entity.SH_Petco_AnbordDetail);
    var e =SelectedItemGrid_SH_Petco_AnbordDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSH_Petco_AnbordDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SH_Petco_AnbordDetail ()
{
       if (SelectedItemGrid_SH_Petco_AnbordDetail != null)
    {
      if (SelectedItemGrid_SH_Petco_AnbordDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SH_Petco_AnbordDetail;
        ListEntity.Remove((Entity.SH_Petco_AnbordDetail)SelectedItemGrid_SH_Petco_AnbordDetail);
     
      }
      else
      {
        var cleanModel = new Entity.SH_Petco_AnbordDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SH_Petco_AnbordDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SH_Petco_AnbordDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SH_Petco_AnbordDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SH_Petco_AnbordDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SH_Petco_AnbordDetail;
    
    Grid_SH_Petco_AnbordDetail.Reload();
    ConfirmationShownSH_Petco_AnbordDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SH_Petco_AnbordDetail ()
{
    ConfirmationShownSH_Petco_AnbordDetail = false;
}

void CustomizeRowsGrid_SH_Petco_AnbordDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SH_Petco_AnbordDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SH_Petco_AnbordDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SH_Petco_AnbordDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_SH_Petco_AnbordDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SH_Petco_AnbordDetail(GridRowClickEventArgs e)
{

}
}

<Input Id="ApiResult" @ref="Ref_ApiResult" Label="ApiResult"     @bind-Value="_Entity.ApiResult" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_Petco_Anbord\",\"GetNameAs\":\"SH_Petco_Anbord\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"CENTCODE\",\"GetNameAs\":\"CENTCODE\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"REQPERSON\",\"GetNameAs\":\"REQPERSON\"},{\"Name\":\"ORDERNO\",\"GetNameAs\":\"ORDERNO\"},{\"Name\":\"INVCODE\",\"GetNameAs\":\"INVCODE\"},{\"Name\":\"NDATE\",\"GetNameAs\":\"NDATE\"},{\"Name\":\"ORDERDATE\",\"GetNameAs\":\"ORDERDATE\"},{\"Name\":\"OKFACTDATE\",\"GetNameAs\":\"OKFACTDATE\"},{\"Name\":\"PSOURCE\",\"GetNameAs\":\"PSOURCE\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"},{\"Name\":\"Anbord_List\",\"GetNameAs\":\"Anbord_List\"}],\"Relation\":[{\"Name\":\"CLOSEDNavigation\",\"GetNameAs\":\"CLOSEDNavigation\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"}],\"Relation\":[]},{\"Name\":\"SH_Petco_AnbordDetail\",\"GetNameAs\":\"SH_Petco_AnbordDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"ShomareFani\",\"GetNameAs\":\"ShomareFani\"},{\"Name\":\"TECDESC\",\"GetNameAs\":\"TECDESC\"},{\"Name\":\"ProductUnit\",\"GetNameAs\":\"ProductUnit\"},{\"Name\":\"OKAMOUNT\",\"GetNameAs\":\"OKAMOUNT\"},{\"Name\":\"ORDAMOUNT\",\"GetNameAs\":\"ORDAMOUNT\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"DESC1\",\"GetNameAs\":\"DESC1\"},{\"Name\":\"PARTCODE\",\"GetNameAs\":\"PARTCODE\"},{\"Name\":\"RowId\",\"GetNameAs\":\"RowId\"}],\"Relation\":[]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_Petco_Anbord\",\"GetNameAs\":\"SH_Petco_Anbord\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"CENTCODE\",\"GetNameAs\":\"CENTCODE\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"REQPERSON\",\"GetNameAs\":\"REQPERSON\"},{\"Name\":\"ORDERNO\",\"GetNameAs\":\"ORDERNO\"},{\"Name\":\"INVCODE\",\"GetNameAs\":\"INVCODE\"},{\"Name\":\"NDATE\",\"GetNameAs\":\"NDATE\"},{\"Name\":\"ORDERDATE\",\"GetNameAs\":\"ORDERDATE\"},{\"Name\":\"OKFACTDATE\",\"GetNameAs\":\"OKFACTDATE\"},{\"Name\":\"PSOURCE\",\"GetNameAs\":\"PSOURCE\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"},{\"Name\":\"Anbord_List\",\"GetNameAs\":\"Anbord_List\"}],\"Relation\":[{\"Name\":\"SH_Petco_AnbordDetail\",\"GetNameAs\":\"SH_Petco_AnbordDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"ShomareFani\",\"GetNameAs\":\"ShomareFani\"},{\"Name\":\"TECDESC\",\"GetNameAs\":\"TECDESC\"},{\"Name\":\"ProductUnit\",\"GetNameAs\":\"ProductUnit\"},{\"Name\":\"OKAMOUNT\",\"GetNameAs\":\"OKAMOUNT\"},{\"Name\":\"ORDAMOUNT\",\"GetNameAs\":\"ORDAMOUNT\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"DESC1\",\"GetNameAs\":\"DESC1\"},{\"Name\":\"PARTCODE\",\"GetNameAs\":\"PARTCODE\"},{\"Name\":\"RowId\",\"GetNameAs\":\"RowId\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SH_Petco_Anbord>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SH_Petco_Anbord();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SH_Petco_Anbord>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
