@inherits Forms.Forms.Form_1130Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    .custom-class {
    display: flex;
    /* معادل d-flex */
    justify-content: flex-end;
    /* معادل justify-content-right */
    text-align: center;
    /* معادل text-center */
    padding-top: 0.25rem;
    /* معادل pt-1 در Bootstrap */
    font-size: 1.5rem;
    /* معادل fs-4 */
    color: #000000;
    /* معادل text-black */
}

.bg-atlascell {
    background-color: #52c5cd;
}

.form-title {
    font-size: 1.25rem;
    font-weight: 900;
    padding: 0.5rem;
    text-align: center;
}

.form-serial {
    text-align: center;
    font-size: 1.25rem;
    color: #9d9d9e;
    background-color: #f4f5f7;
    border-radius: 0.375rem;
    padding: 0.2rem;
}

.userHolderBox {
    max-width: 700px;
}

.userboxscroll {
    width: 680px;
}

.userInfoBox {
    width: 165px;
    display: inline-block;
}

.userInfoBox .form-control {
    font-size: 13px;
}

.GridSCMAtlasCellPRD table thead tr>*:nth-child(4),
.GridSCMAtlasCellPRD table tbody tr>*:nth-child(4) {
    display: none;
}
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        <div  class="">
    <div class="row">
  

<div class="col-md-3 col-6 order-md-1">
  <img src="https://file.workcv.ir/fa-ir/api/v1/File/Get?FileID=1e17add2-6c31-400b-d0ba-08deb5670b07" class="img-fluid" alt="لوگو اطلس بوبین" width="100">
</div>

<div class="col-md-6 col-12 order-md-2 order-3">
  <div class="form-title">
    درخواست واگذاری جنس از انبار
  </div>
</div>

<div class="col-md-3 col-6 order-md-3">
  <div class="form-serial">
  کد فرم: FPL02600
</div>
</div>
</div>
</div>

<div class=" p-2 m-1 border-0 bg-atlascell rounded userHolderBox">
    <div  class="">
    <div class="bg-light fw-black fs-6 rounded px-2 py-2" style="">
  کاربر درخواست دهنده
</div>
</div>

<div class="overflow-x-auto pb-2">
    
<div class="userInfoBox">
    
<Input Id="UserStarterFullName" @ref="Ref_UserStarterFullName" Label="کاربر"   Disabled=true  @bind-Value="_Entity.UserStarterFullName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"350\"}").Result))></Input>

</div>

<div class="userInfoBox">
    
<Input Id="UserStarterCompanyName" @ref="Ref_UserStarterCompanyName" Label="شرکت کاربر	"   Disabled=true  @bind-Value="_Entity.UserStarterCompanyName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="userInfoBox">
    
<Input Id="UserStarterUnitName" @ref="Ref_UserStarterUnitName" Label="واحد کاربر"   Disabled=true  @bind-Value="_Entity.UserStarterUnitName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="userInfoBox">
    
<Input Id="UserStarterSectionName" @ref="Ref_UserStarterSectionName" Label="قسمت کاربر"   Disabled=true  @bind-Value="_Entity.UserStarterSectionName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="userInfoBox">
    
<Input Id="RequestTrakingCode" @ref="Ref_RequestTrakingCode" Label="کد پیگیری سیستمی"   Disabled=true  @bind-Value="_Entity.RequestTrakingCode" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="userInfoBox">
    
<Input Id="ProcessVersionID" @ref="Ref_ProcessVersionID" Label="شناسه نسخه فرآیند جاری"   Disabled=true  @bind-Value="_Entity.ProcessVersionID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMATLASBOBIN_ProductRequestT_TempNoNum_NotMapped = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"درخواست کالا\",\"primaryKey\":false,\"EntityID\":846,\"FieldId\":32741,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1130,\"NotMapped\":true,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranplate.workcv.ir/fa-ir/api/v1/vw_Havale/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO_GUID\",\"template\":\"<span>{{item.TempNoNum}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شماره عطف تحویل\",\"tableView\":true,\"key\":\"T_TempNoNum_NotMapped\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32741?EId=846&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"T_TempNoNum_NotMapped_onitemselected\"}").Result;
}

    <Dropdown Id=T_TempNoNum_NotMapped  @ref="Ref_T_TempNoNum_NotMapped" Label="شماره عطف تحویل" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=true TextGrid=false   FieldName="T_TempNoNum_NotMapped" OnItemSelected="ItemSelected_SCMATLASBOBIN_ProductRequestT_TempNoNum_NotMapped" Component="Component_SCMATLASBOBIN_ProductRequestT_TempNoNum_NotMapped" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASBOBIN_ProductRequestT_TempNoNum_NotMapped(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    

    

    await T_TempNoNum_NotMapped_onitemselected( Selected);
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMATLASBOBIN_ProductRequestT_HavaleDTL = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"درخواست کالا\",\"primaryKey\":false,\"EntityID\":846,\"FieldId\":32752,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1130,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranplate.workcv.ir/fa-ir/api/v1/vw_HavaleDTL/GetList\",\"_Parameters\":[{\"text\":\"FACTNO_GUID={{data.FACTNO_GUID}}\",\"Type\":1}]},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DataGrid\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO_GUID\",\"template\":\"<span>{{item.DESC}} {{item.UNIT}} {{item.AMOUNT}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"SCMATLASBOBIN_ProductRequest.FACTNO_GUID\",\"clearOnRefresh\":true,\"modal\":true,\"label\":\"نمایش داده های عطف تحویل شماران\",\"tableView\":true,\"key\":\"T_HavaleDTL\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32752?EId=846&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=T_HavaleDTL  @ref="Ref_T_HavaleDTL" Label="نمایش داده های عطف تحویل شماران" CssClass=""  DisplayFormat="DataGrid" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.T_HavaleDTL" FieldName="T_HavaleDTL" OnItemSelected="ItemSelected_SCMATLASBOBIN_ProductRequestT_HavaleDTL" Component="Component_SCMATLASBOBIN_ProductRequestT_HavaleDTL" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASBOBIN_ProductRequestT_HavaleDTL(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.T_HavaleDTL = Selected.FACTNO_GUID;


    

    
    }
} 
<label for="SCMATLASBOBIN_ProductRequestDetails_GridSCMATLASBOBIN_ProductRequestId_847">جزییات درخواست کالا
   
    
</label>

<DxGrid @ref="Grid_SCMATLASBOBIN_ProductRequestDetails" Data="_Entity.SCMATLASBOBIN_ProductRequestDetails" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSCMATLASBOBIN_ProductRequestDetails"
        DataItemDeleting="OnDataItemDeletingSCMATLASBOBIN_ProductRequestDetails"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزییات درخواست کالا"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SCMATLASBOBIN_ProductRequestDetails"
        CustomizeElement="CustomizeRowsGrid_SCMATLASBOBIN_ProductRequestDetails" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":847,\"FieldId\":847,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SCMATLASBOBIN_ProductRequestDetails\",\"GridMainModel\":\"SCMATLASBOBIN_ProductRequestDetails\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزییات درخواست کالا\",\"tableView\":true,\"key\":\"GridSCMATLASBOBIN_ProductRequestId_847\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSCMATLASBOBIN_ProductRequestId_847\",\"modalEdit\":true,\"FieldUrl\":\"847?EId=847&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":false,\"AccessEdit\":true,\"AccessNew\":false,\"editmodelsaving\":\"GridSCMATLASBOBIN_ProductRequestId_847_editmodelsaving\",\"afterrendermodal\":\"GridSCMATLASBOBIN_ProductRequestId_847_afterrendermodal\"}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SCMATLASBOBIN_ProductRequestDetails_GridSCMATLASBOBIN_ProductRequestId_847ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SCMATLASBOBIN_ProductRequestDetails(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn Context="ProductSearch_NotMapped_" Caption="جستجوی کالا (شماران)" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProductSearch_NotMapped = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":847,\"FieldId\":32704,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1130,\"NotMapped\":true,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranplate.workcv.ir/fa-ir/api/v1/vw_Parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"PARTNO_GUID\",\"template\":\"<span>{{item.DESC}} {{item.PARTNO}} </span>\",\"FieldsTemplate\":[{\"key\":\"DESC\",\"value\":\"int\"},{\"key\":\"PARTNO\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"DESC,PARTNO\",\"disabled\":true,\"modal\":true,\"label\":\"جستجوی کالا (شماران)\",\"tableView\":true,\"key\":\"ProductSearch_NotMapped\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32704?EId=847&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"ProductSearch_NotMapped_onitemselected\"}").Result;
    var RowProductSearch_NotMapped = ((Entity.SCMATLASBOBIN_ProductRequestDetails)ProductSearch_NotMapped_.DataItem).ProductSearch_NotMapped;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=true TextGrid=true Value="@RowProductSearch_NotMapped"   FieldName="ProductSearch_NotMapped" OnItemSelected="ItemSelected_SCMATLASBOBIN_ProductRequestDetailsProductSearch_NotMapped_Header" Component="HeaderProductSearch_NotMapped">
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASBOBIN_ProductRequestDetailsProductSearch_NotMapped_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   ProductSearch_NotMapped

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="کد کالا شماران"  FieldName="SH_PARTNO" />

<DxGridDataColumn  Caption="شناسه سیستمی کد کالا شماران" Visible=false FieldName="SH_PARTNO_GUID" />

<DxGridDataColumn  Caption="شماره کالا شماران" Visible=false FieldName="SH_PARTCODE" />

<DxGridDataColumn  Caption="شناسه شماره کالا شماران" Visible=false FieldName="SH_PARTCODE_GUID" />

<DxGridDataColumn  Caption="نام کالا شماران"  FieldName="SH_DESC" />

<DxGridDataColumn  Caption="واحد کالا شماران"  FieldName="SH_UNIT" />

<DxGridDataColumn  Caption="کد دسته بندی فرعی کالا شماران" Visible=false FieldName="SH_SUBGRCODE" />

<DxGridDataColumn  Caption="شناسه کد دسته بندی فرعی کالا شماران" Visible=false FieldName="SH_SUBGRCODE_GUID" />

<DxGridDataColumn  Caption="کد دسته بندی اصلی شماران" Visible=false FieldName="SH_GRCODE" />

<DxGridDataColumn  Caption="شناسه کد دسته بندی اصلی کالا شماران" Visible=false FieldName="SH_GRCODE_GUID" />

<DxGridDataColumn  Caption="نام دسته بندی اصلی کالا شماران" Visible=false FieldName="SH_GroupName" />

<DxGridDataColumn  Caption="نام دسته بندی فرعی کالا شماران" Visible=false FieldName="SH_SubGroupName" />

<DxGridDataColumn DisplayFormat="0" Caption="سال مالی کالا شماران" Visible=false FieldName="SH_YEAR" />

<DxGridDataColumn DisplayFormat="G" Caption="موجودی کالا شماران"  FieldName="SH_Amount" />

<DxGridDataColumn  Caption="کالا موجود است یا خیر شماران" Visible=false FieldName="SH_IsExist" />

<DxGridDataColumn  Caption="نام شرکت کالا شماران" Visible=false FieldName="SH_Factory" />

<DxGridDataColumn DisplayFormat="0" Caption="کد گروه اصلی کالا شماران" Visible=false FieldName="SH_MapGroupCode" />

<DxGridDataColumn Context="Global_PriorityId_" Caption="اولویت" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderGlobal_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":847,\"FieldId\":32722,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1130,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Priority\",\"RelationParentModel\":\"Global_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Priority/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"Global_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32722?EId=847&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowGlobal_PriorityId = ((Entity.SCMATLASBOBIN_ProductRequestDetails)Global_PriorityId_.DataItem).Global_PriorityId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowGlobal_PriorityId"   FieldName="Global_PriorityId" OnItemSelected="ItemSelected_SCMATLASBOBIN_ProductRequestDetailsGlobal_PriorityId_Header" Component="HeaderGlobal_PriorityId">
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASBOBIN_ProductRequestDetailsGlobal_PriorityId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Global_PriorityId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn DisplayFormat="G" Caption="تعداد یا مقدار درخواستی"  FieldName="ProductRequestingQTY" />

<DxGridDataColumn  Caption="محل مصرف"  FieldName="PlaceOfUse" />

<DxGridDataColumn  Caption="توضیحات درخواست کننده"  FieldName="SR_Desc" />

<DxGridDataColumn  Caption="توضیحات تایید کننده"  FieldName="ApproverDescription" />

<DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn  Caption="توضیحات انباردار"  FieldName="DescriptionWarehouseKeeper" />

<DxGridDataColumn Context="GoodsDeliveryIsEnable_" Caption="آیا تحویل کالا انجام گردد؟" >
    <CellDisplayTemplate>
       
@{
    var SCMATLASBOBIN_ProductRequestDetails_GoodsDeliveryIsEnable = ((Entity.SCMATLASBOBIN_ProductRequestDetails)GoodsDeliveryIsEnable_.DataItem).GoodsDeliveryIsEnable;
}

<p class="text-center " hidden="@(SCMATLASBOBIN_ProductRequestDetails_GoodsDeliveryIsEnable !=null ? !SCMATLASBOBIN_ProductRequestDetails_GoodsDeliveryIsEnable : true)">بله</p>

<p class="text-center" hidden="@(SCMATLASBOBIN_ProductRequestDetails_GoodsDeliveryIsEnable !=null ? SCMATLASBOBIN_ProductRequestDetails_GoodsDeliveryIsEnable : true)">خیر</p>


    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="T_Search_NotMapped_" Caption="جستجو عطف حواله مصرف" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderT_Search_NotMapped = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":847,\"FieldId\":32949,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1130,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranplate.workcv.ir/fa-ir/api/v1/vw_Havale/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO_GUID\",\"template\":\"<span>{{item.TempNoNum}} </span>\",\"FieldsTemplate\":[{\"key\":\"TempNoNum\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"جستجو عطف حواله مصرف\",\"tableView\":true,\"key\":\"T_Search_NotMapped\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32949?EId=847&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"T_Search_NotMapped_onitemselected\"}").Result;
    var RowT_Search_NotMapped = ((Entity.SCMATLASBOBIN_ProductRequestDetails)T_Search_NotMapped_.DataItem).T_Search_NotMapped;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowT_Search_NotMapped"   FieldName="T_Search_NotMapped" OnItemSelected="ItemSelected_SCMATLASBOBIN_ProductRequestDetailsT_Search_NotMapped_Header" Component="HeaderT_Search_NotMapped">
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASBOBIN_ProductRequestDetailsT_Search_NotMapped_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   T_Search_NotMapped

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="عطف تحویل کالا شماران"  FieldName="T_TEMPNO" />

<DxGridDataColumn DisplayFormat="0" Caption="شماره عطف تحویل کالا شماران"  FieldName="T_TempNoNum" />

<DxGridDataColumn  Caption="شماره درخواست تحویل کالا شماران	"  FieldName="T_FACTNO" />

<DxGridDataColumn  Caption="کد شماره درخواست تحویل کالا شماران"  FieldName="T_FACTNO_GUID" />

<DxGridDataColumn  Caption="کد شماره مرکز هزینه شماران"  FieldName="T_CENTCODE_GUID" />

<DxGridDataColumn  Caption="مرکز هزینه تحویل کالا شماران"  FieldName="T_PAYCENTName" />

<DxGridDataColumn  Caption="کاربر سیستمی تحویل کالا شماران"  FieldName="T_CREATOR" />

<DxGridDataColumn  Caption="تاریخ ثبت تحویل کالا شماران"  FieldName="T_FACTDATE" />

<DxGridDataColumn DisplayFormat="0" Caption="سال مالی تحویل کالا شماران"  FieldName="T_YEAR" />

<DxGridDataColumn Context="SH_Tahvil_DTL_" Caption="نمایش داده های تحویل کالا شماران" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSH_Tahvil_DTL = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":847,\"FieldId\":32952,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1130,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranplate.workcv.ir/fa-ir/api/v1/vw_HavaleDTL/GetList\",\"_Parameters\":[{\"text\":\"FACTNO_GUID={{data.T_FACTNO_GUID}}\",\"Type\":1}]},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DataGrid\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO_GUID\",\"template\":\"<span>{{item.DESC}} {{item.PARTNO}} {{item.UNIT}} {{item.AMOUNT}} {{item.FACTNO}} {{item.YEAR}} </span>\",\"FieldsTemplate\":[{\"key\":\"DESC\",\"value\":\"int\"},{\"key\":\"PARTNO\",\"value\":\"int\"},{\"key\":\"UNIT\",\"value\":\"int\"},{\"key\":\"AMOUNT\",\"value\":\"int\"},{\"key\":\"FACTNO\",\"value\":\"int\"},{\"key\":\"YEAR\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"SCMATLASBOBIN_ProductRequestDetails.FACTNO_GUID\",\"clearOnRefresh\":true,\"modal\":true,\"label\":\"نمایش داده های تحویل کالا شماران\",\"tableView\":true,\"key\":\"SH_Tahvil_DTL\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32952?EId=847&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSH_Tahvil_DTL = ((Entity.SCMATLASBOBIN_ProductRequestDetails)SH_Tahvil_DTL_.DataItem).SH_Tahvil_DTL;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowSH_Tahvil_DTL"   FieldName="SH_Tahvil_DTL" OnItemSelected="ItemSelected_SCMATLASBOBIN_ProductRequestDetailsSH_Tahvil_DTL_Header" Component="HeaderSH_Tahvil_DTL">
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASBOBIN_ProductRequestDetailsSH_Tahvil_DTL_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SH_Tahvil_DTL

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextSCMATLASBOBIN_ProductRequestDetails">
    @{
        SCMATLASBOBIN_ProductRequestDetails  = (Entity.SCMATLASBOBIN_ProductRequestDetails)EditFormContextSCMATLASBOBIN_ProductRequestDetails.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMATLASBOBIN_ProductRequestDetailsProductSearch_NotMapped = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":847,\"FieldId\":32704,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1130,\"NotMapped\":true,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranplate.workcv.ir/fa-ir/api/v1/vw_Parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"PARTNO_GUID\",\"template\":\"<span>{{item.DESC}} {{item.PARTNO}} </span>\",\"FieldsTemplate\":[{\"key\":\"DESC\",\"value\":\"int\"},{\"key\":\"PARTNO\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"DESC,PARTNO\",\"disabled\":true,\"modal\":true,\"label\":\"جستجوی کالا (شماران)\",\"tableView\":true,\"key\":\"ProductSearch_NotMapped\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32704?EId=847&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"ProductSearch_NotMapped_onitemselected\"}").Result;
}

    <Dropdown Id=SCMATLASBOBIN_ProductRequestDetails_ProductSearch_NotMapped Disabled=true @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_ProductSearch_NotMapped" Label="جستجوی کالا (شماران)" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=true TextGrid=false   FieldName="ProductSearch_NotMapped" OnItemSelected="ItemSelected_SCMATLASBOBIN_ProductRequestDetailsProductSearch_NotMapped" Component="Component_SCMATLASBOBIN_ProductRequestDetailsProductSearch_NotMapped" _Entity="_Entity" _EntityRow=SCMATLASBOBIN_ProductRequestDetails>
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASBOBIN_ProductRequestDetailsProductSearch_NotMapped(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMATLASBOBIN_ProductRequestDetails;

    

    

    await ProductSearch_NotMapped_onitemselected( Selected , SCMATLASBOBIN_ProductRequestDetails);
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_PARTNO" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_PARTNO" Label="کد کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_PARTNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_PARTNO_GUID" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_PARTNO_GUID" Label="شناسه سیستمی کد کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_PARTNO_GUID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_PARTCODE" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_PARTCODE" Label="شماره کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_PARTCODE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_PARTCODE_GUID" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_PARTCODE_GUID" Label="شناسه شماره کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_PARTCODE_GUID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_DESC" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_DESC" Label="نام کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_DESC" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_UNIT" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_UNIT" Label="واحد کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_UNIT" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_SUBGRCODE" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_SUBGRCODE" Label="کد دسته بندی فرعی کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_SUBGRCODE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_SUBGRCODE_GUID" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_SUBGRCODE_GUID" Label="شناسه کد دسته بندی فرعی کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_SUBGRCODE_GUID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_GRCODE" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_GRCODE" Label="کد دسته بندی اصلی شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_GRCODE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_GRCODE_GUID" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_GRCODE_GUID" Label="شناسه کد دسته بندی اصلی کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_GRCODE_GUID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_GroupName" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_GroupName" Label="نام دسته بندی اصلی کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_GroupName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_SubGroupName" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_SubGroupName" Label="نام دسته بندی فرعی کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_SubGroupName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_YEAR" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_YEAR" Label="سال مالی کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_YEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_Amount" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_Amount" Label="موجودی کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_Amount" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_IsExist" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_IsExist" Label="کالا موجود است یا خیر شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_IsExist" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_Factory" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_Factory" Label="نام شرکت کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_Factory" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SH_MapGroupCode" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_MapGroupCode" Label="کد گروه اصلی کالا شماران"  CssClass="d-none" Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SH_MapGroupCode" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMATLASBOBIN_ProductRequestDetailsGlobal_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":847,\"FieldId\":32722,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1130,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Global_Priority\",\"RelationParentModel\":\"Global_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Global_Priority/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"Global_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32722?EId=847&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMATLASBOBIN_ProductRequestDetails_Global_PriorityId Disabled=true @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_Global_PriorityId" Label="اولویت" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCMATLASBOBIN_ProductRequestDetails.Global_PriorityId" FieldName="Global_PriorityId" OnItemSelected="ItemSelected_SCMATLASBOBIN_ProductRequestDetailsGlobal_PriorityId" Component="Component_SCMATLASBOBIN_ProductRequestDetailsGlobal_PriorityId" _Entity="_Entity" _EntityRow=SCMATLASBOBIN_ProductRequestDetails>
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASBOBIN_ProductRequestDetailsGlobal_PriorityId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMATLASBOBIN_ProductRequestDetails;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.Global_PriorityId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.Global_PriorityId =EntityHelper.SetPropertyNull(Item.Global_PriorityId);
 }
 Item.Global_Priority = await Utility.JSON.ToObject<Entity.Global_Priority>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_ProductRequestingQTY" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_ProductRequestingQTY" Label="تعداد یا مقدار درخواستی"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.ProductRequestingQTY" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_PlaceOfUse" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_PlaceOfUse" Label="محل مصرف"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.PlaceOfUse" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_SR_Desc" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SR_Desc" Label="توضیحات درخواست کننده"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.SR_Desc" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"350\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_ApproverDescription" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_ApproverDescription" Label="توضیحات تایید کننده"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.ApproverDescription" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"350\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_Id" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_Id"   CssClass="d-none"   @bind-Value="SCMATLASBOBIN_ProductRequestDetails.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_RequestID" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_RequestID"      @bind-Value="SCMATLASBOBIN_ProductRequestDetails.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_CreateUser" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_CreateUser"      @bind-Value="SCMATLASBOBIN_ProductRequestDetails.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_UpdateUser" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_UpdateUser"      @bind-Value="SCMATLASBOBIN_ProductRequestDetails.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_CreateDate" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_CreateDate"   CssClass="d-none"   @bind-Value="SCMATLASBOBIN_ProductRequestDetails.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_UpdateDate" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_UpdateDate"   CssClass="d-none"   @bind-Value="SCMATLASBOBIN_ProductRequestDetails.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_IsDelete" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_IsDelete"   CssClass="d-none"   @bind-Value="SCMATLASBOBIN_ProductRequestDetails.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_DescriptionWarehouseKeeper" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_DescriptionWarehouseKeeper" Label="توضیحات انباردار"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.DescriptionWarehouseKeeper" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"350\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<RadioBoolean @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_GoodsDeliveryIsEnable" InLine=true Id="SCMATLASBOBIN_ProductRequestDetails_GoodsDeliveryIsEnable"   LabelTrue="بله" LabelFalse="خیر" Label="آیا تحویل کالا انجام گردد؟" @bind-Value="SCMATLASBOBIN_ProductRequestDetails.GoodsDeliveryIsEnable" CssClass="" Disabled=true></RadioBoolean>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMATLASBOBIN_ProductRequestDetailsT_Search_NotMapped = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":847,\"FieldId\":32949,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1130,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranplate.workcv.ir/fa-ir/api/v1/vw_Havale/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO_GUID\",\"template\":\"<span>{{item.TempNoNum}} </span>\",\"FieldsTemplate\":[{\"key\":\"TempNoNum\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"جستجو عطف حواله مصرف\",\"tableView\":true,\"key\":\"T_Search_NotMapped\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32949?EId=847&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"T_Search_NotMapped_onitemselected\"}").Result;
}

    <Dropdown Id=SCMATLASBOBIN_ProductRequestDetails_T_Search_NotMapped  @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_T_Search_NotMapped" Label="جستجو عطف حواله مصرف" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SCMATLASBOBIN_ProductRequestDetails.T_Search_NotMapped" FieldName="T_Search_NotMapped" OnItemSelected="ItemSelected_SCMATLASBOBIN_ProductRequestDetailsT_Search_NotMapped" Component="Component_SCMATLASBOBIN_ProductRequestDetailsT_Search_NotMapped" _Entity="_Entity" _EntityRow=SCMATLASBOBIN_ProductRequestDetails>
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASBOBIN_ProductRequestDetailsT_Search_NotMapped(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMATLASBOBIN_ProductRequestDetails;

    Item.T_Search_NotMapped = Selected.FACTNO_GUID;


    

    await T_Search_NotMapped_onitemselected( Selected , SCMATLASBOBIN_ProductRequestDetails);
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_T_TEMPNO" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_T_TEMPNO" Label="عطف تحویل کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.T_TEMPNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_T_TempNoNum" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_T_TempNoNum" Label="شماره عطف تحویل کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.T_TempNoNum" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_T_FACTNO" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_T_FACTNO" Label="شماره درخواست تحویل کالا شماران	"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.T_FACTNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_T_FACTNO_GUID" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_T_FACTNO_GUID" Label="کد شماره درخواست تحویل کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.T_FACTNO_GUID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_T_CENTCODE_GUID" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_T_CENTCODE_GUID" Label="کد شماره مرکز هزینه شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.T_CENTCODE_GUID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_T_PAYCENTName" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_T_PAYCENTName" Label="مرکز هزینه تحویل کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.T_PAYCENTName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_T_CREATOR" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_T_CREATOR" Label="کاربر سیستمی تحویل کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.T_CREATOR" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_T_FACTDATE" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_T_FACTDATE" Label="تاریخ ثبت تحویل کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.T_FACTDATE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
    
<Input Id="SCMATLASBOBIN_ProductRequestDetails_T_YEAR" @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_T_YEAR" Label="سال مالی تحویل کالا شماران"   Disabled=true  @bind-Value="SCMATLASBOBIN_ProductRequestDetails.T_YEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMATLASBOBIN_ProductRequestDetailsSH_Tahvil_DTL = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":847,\"FieldId\":32952,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1130,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranplate.workcv.ir/fa-ir/api/v1/vw_HavaleDTL/GetList\",\"_Parameters\":[{\"text\":\"FACTNO_GUID={{data.T_FACTNO_GUID}}\",\"Type\":1}]},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DataGrid\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO_GUID\",\"template\":\"<span>{{item.DESC}} {{item.PARTNO}} {{item.UNIT}} {{item.AMOUNT}} {{item.FACTNO}} {{item.YEAR}} </span>\",\"FieldsTemplate\":[{\"key\":\"DESC\",\"value\":\"int\"},{\"key\":\"PARTNO\",\"value\":\"int\"},{\"key\":\"UNIT\",\"value\":\"int\"},{\"key\":\"AMOUNT\",\"value\":\"int\"},{\"key\":\"FACTNO\",\"value\":\"int\"},{\"key\":\"YEAR\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"SCMATLASBOBIN_ProductRequestDetails.FACTNO_GUID\",\"clearOnRefresh\":true,\"modal\":true,\"label\":\"نمایش داده های تحویل کالا شماران\",\"tableView\":true,\"key\":\"SH_Tahvil_DTL\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32952?EId=847&SubId=39\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMATLASBOBIN_ProductRequestDetails_SH_Tahvil_DTL  @ref="Ref_SCMATLASBOBIN_ProductRequestDetails_SH_Tahvil_DTL" Label="نمایش داده های تحویل کالا شماران" CssClass=""  DisplayFormat="DataGrid" ExternalApi=true NotMapped=false TextGrid=false  Value="@SCMATLASBOBIN_ProductRequestDetails.SH_Tahvil_DTL" FieldName="SH_Tahvil_DTL" OnItemSelected="ItemSelected_SCMATLASBOBIN_ProductRequestDetailsSH_Tahvil_DTL" Component="Component_SCMATLASBOBIN_ProductRequestDetailsSH_Tahvil_DTL" _Entity="_Entity" _EntityRow=SCMATLASBOBIN_ProductRequestDetails>
</Dropdown>
@code {
    public async Task ItemSelected_SCMATLASBOBIN_ProductRequestDetailsSH_Tahvil_DTL(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMATLASBOBIN_ProductRequestDetails;

    Item.SH_Tahvil_DTL = Selected.FACTNO_GUID;


    

    
    }
} 

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSCMATLASBOBIN_ProductRequestDetails" CssClass="btn-modal-custom">
            <DxButton Id="SCMATLASBOBIN_ProductRequestDetails_GridSCMATLASBOBIN_ProductRequestId_847ButtonSave" Click="@(() => SaveModalGrid_SCMATLASBOBIN_ProductRequestDetails(EditFormContextSCMATLASBOBIN_ProductRequestDetails))" Text="@languageContainer.Keys["DXGrid:Ok"]" CssClass="btn btn-green px-5" />
            

            <DxButton Id="SCMATLASBOBIN_ProductRequestDetails_GridSCMATLASBOBIN_ProductRequestId_847ButtonCancel" Click="@(() => Grid_SCMATLASBOBIN_ProductRequestDetails.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SCMATLASBOBIN_ProductRequestDetails_GridSCMATLASBOBIN_ProductRequestId_847ButtonBefore" Click="@(() => Dialog_Grid_SCMATLASBOBIN_ProductRequestDetails(0,IndexGrid_SCMATLASBOBIN_ProductRequestDetails,EditFormContextSCMATLASBOBIN_ProductRequestDetails))" Text="@languageContainer.Keys["DXGrid:Prev"]" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SCMATLASBOBIN_ProductRequestDetails_GridSCMATLASBOBIN_ProductRequestId_847ButtonNext" Click="@(() => Dialog_Grid_SCMATLASBOBIN_ProductRequestDetails(1,IndexGrid_SCMATLASBOBIN_ProductRequestDetails,EditFormContextSCMATLASBOBIN_ProductRequestDetails))" Text="@languageContainer.Keys["DXGrid:Next"]" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSCMATLASBOBIN_ProductRequestDetails" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SCMATLASBOBIN_ProductRequestDetails" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SCMATLASBOBIN_ProductRequestDetails" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSCMATLASBOBIN_ProductRequestDetails" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSCMATLASBOBIN_ProductRequestDetails" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSCMATLASBOBIN_ProductRequestDetails" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SCMATLASBOBIN_ProductRequestDetails;
    Entity.SCMATLASBOBIN_ProductRequestDetails SCMATLASBOBIN_ProductRequestDetails;
    bool ConfirmationShownSCMATLASBOBIN_ProductRequestDetails { get; set; } = false;
    public Entity.SCMATLASBOBIN_ProductRequestDetails SelectedItemGrid_SCMATLASBOBIN_ProductRequestDetails { get; set; } = new Entity.SCMATLASBOBIN_ProductRequestDetails();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SCMATLASBOBIN_ProductRequestDetails { get; set; }

    ///////////////////////
    bool ConfirmationSCMATLASBOBIN_ProductRequestDetails { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSCMATLASBOBIN_ProductRequestDetails { get; set; }
    public int OpenDialogCodeSCMATLASBOBIN_ProductRequestDetails { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSCMATLASBOBIN_ProductRequestDetails(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       NotValid = await GridSCMATLASBOBIN_ProductRequestId_847_editmodelsaving(e);
        
      if (!NotValid)
     {
      SaveGrid_SCMATLASBOBIN_ProductRequestDetails(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SCMATLASBOBIN_ProductRequestDetails(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSCMATLASBOBIN_ProductRequestDetails = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSCMATLASBOBIN_ProductRequestDetails = e;
    ConfirmationSCMATLASBOBIN_ProductRequestDetails = true;
    }
    else
    {
    await OnNoButtonSCMATLASBOBIN_ProductRequestDetails();
    }
}
async Task OnYesButtonSCMATLASBOBIN_ProductRequestDetails()
{

    ConfirmationSCMATLASBOBIN_ProductRequestDetails = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSCMATLASBOBIN_ProductRequestDetails.EditModel;
         //events
         NotValid = await GridSCMATLASBOBIN_ProductRequestId_847_editmodelsaving(e);

        if (!NotValid)
         {
        SaveGrid_SCMATLASBOBIN_ProductRequestDetails(_ContextFormTemplateSCMATLASBOBIN_ProductRequestDetails.DataItem, _ContextFormTemplateSCMATLASBOBIN_ProductRequestDetails.EditModel);
            await Grid_SCMATLASBOBIN_ProductRequestDetails.CancelEditAsync();
         await ChangePageGrid_SCMATLASBOBIN_ProductRequestDetails();
         await SetEditFormContextGrid_SCMATLASBOBIN_ProductRequestDetails();
         }
          
    }

}
async Task OnNoButtonSCMATLASBOBIN_ProductRequestDetails()
{
    ConfirmationSCMATLASBOBIN_ProductRequestDetails = false;
    await ChangePageGrid_SCMATLASBOBIN_ProductRequestDetails();
    await SetEditFormContextGrid_SCMATLASBOBIN_ProductRequestDetails();

}
async Task SetEditFormContextGrid_SCMATLASBOBIN_ProductRequestDetails()
{
    var e = (Entity.SCMATLASBOBIN_ProductRequestDetails)Grid_SCMATLASBOBIN_ProductRequestDetails.GetDataItem(IndexGrid_SCMATLASBOBIN_ProductRequestDetails);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SCMATLASBOBIN_ProductRequestDetails()
{
    int VisibleIndex = IndexGrid_SCMATLASBOBIN_ProductRequestDetails;
    try
    {
    if (OpenDialogCodeSCMATLASBOBIN_ProductRequestDetails == 1)
    {
        if (VisibleIndex != (Grid_SCMATLASBOBIN_ProductRequestDetails.GetVisibleRowCount() - 1))
    { 
            Grid_SCMATLASBOBIN_ProductRequestDetails.CancelEditAsync();
            IndexGrid_SCMATLASBOBIN_ProductRequestDetails = VisibleIndex + 1;
    Grid_SCMATLASBOBIN_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMATLASBOBIN_ProductRequestDetails);
    }
    }
    else if (OpenDialogCodeSCMATLASBOBIN_ProductRequestDetails == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SCMATLASBOBIN_ProductRequestDetails.CancelEditAsync();
            IndexGrid_SCMATLASBOBIN_ProductRequestDetails = VisibleIndex - 1;
    Grid_SCMATLASBOBIN_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMATLASBOBIN_ProductRequestDetails);
    }

    }
    var e = (Entity.SCMATLASBOBIN_ProductRequestDetails)Grid_SCMATLASBOBIN_ProductRequestDetails.GetDataItem(IndexGrid_SCMATLASBOBIN_ProductRequestDetails);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    await GridSCMATLASBOBIN_ProductRequestId_847_afterrendermodal(e);
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SCMATLASBOBIN_ProductRequestDetails()
{
    IndexGrid_SCMATLASBOBIN_ProductRequestDetails = Grid_SCMATLASBOBIN_ProductRequestDetails.GetVisibleRowCount();
Grid_SCMATLASBOBIN_ProductRequestDetails.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SCMATLASBOBIN_ProductRequestDetails();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await GridSCMATLASBOBIN_ProductRequestId_847_afterrendermodal(e);
}

async Task StartModalGrid_SCMATLASBOBIN_ProductRequestDetails(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SCMATLASBOBIN_ProductRequestDetails = Context.VisibleIndex;
Grid_SCMATLASBOBIN_ProductRequestDetails.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SCMATLASBOBIN_ProductRequestDetails)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await GridSCMATLASBOBIN_ProductRequestId_847_afterrendermodal(e);
   // await Task.Delay(500);
}
public async Task SaveModalGrid_SCMATLASBOBIN_ProductRequestDetails(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    NotValid = await GridSCMATLASBOBIN_ProductRequestId_847_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_SCMATLASBOBIN_ProductRequestDetails(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SCMATLASBOBIN_ProductRequestDetails(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    NotValid = await GridSCMATLASBOBIN_ProductRequestId_847_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_SCMATLASBOBIN_ProductRequestDetails(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SCMATLASBOBIN_ProductRequestDetails();

    }
          
    }
   
}

void PerviousPageGrid_SCMATLASBOBIN_ProductRequestDetails(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SCMATLASBOBIN_ProductRequestDetails.CancelEditAsync();
        IndexGrid_SCMATLASBOBIN_ProductRequestDetails = VisibleIndex - 1;
         Grid_SCMATLASBOBIN_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMATLASBOBIN_ProductRequestDetails);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SCMATLASBOBIN_ProductRequestDetails(int VisibleIndex)
{

    if (VisibleIndex == Grid_SCMATLASBOBIN_ProductRequestDetails.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SCMATLASBOBIN_ProductRequestDetails ");
    try
    {
Grid_SCMATLASBOBIN_ProductRequestDetails.CancelEditAsync();
        IndexGrid_SCMATLASBOBIN_ProductRequestDetails = VisibleIndex + 1;
         Grid_SCMATLASBOBIN_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMATLASBOBIN_ProductRequestDetails);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SCMATLASBOBIN_ProductRequestDetails(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SCMATLASBOBIN_ProductRequestDetails;
    var MainModel = (Entity.SCMATLASBOBIN_ProductRequestDetails)DataItem;
    if (MainModel != null)
    {
MainModel.SH_PARTNO = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_PARTNO;
MainModel.SH_PARTNO_GUID = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_PARTNO_GUID;
MainModel.SH_PARTCODE = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_PARTCODE;
MainModel.SH_PARTCODE_GUID = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_PARTCODE_GUID;
MainModel.SH_DESC = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_DESC;
MainModel.SH_UNIT = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_UNIT;
MainModel.SH_SUBGRCODE = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_SUBGRCODE;
MainModel.SH_SUBGRCODE_GUID = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_SUBGRCODE_GUID;
MainModel.SH_GRCODE = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_GRCODE;
MainModel.SH_GRCODE_GUID = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_GRCODE_GUID;
MainModel.SH_GroupName = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_GroupName;
MainModel.SH_SubGroupName = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_SubGroupName;
MainModel.SH_YEAR = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_YEAR;
MainModel.SH_Amount = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_Amount;
MainModel.SH_IsExist = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_IsExist;
MainModel.SH_Factory = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_Factory;
MainModel.SH_MapGroupCode = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_MapGroupCode;
MainModel.Global_PriorityId = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).Global_PriorityId;
MainModel.Global_Priority = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).Global_Priority;
MainModel.ProductRequestingQTY = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).ProductRequestingQTY;
MainModel.PlaceOfUse = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).PlaceOfUse;
MainModel.SR_Desc = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SR_Desc;
MainModel.ApproverDescription = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).ApproverDescription;
MainModel.Id = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).Id;
MainModel.RequestID = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).IsDelete;
MainModel.DescriptionWarehouseKeeper = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).DescriptionWarehouseKeeper;
MainModel.GoodsDeliveryIsEnable = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).GoodsDeliveryIsEnable;
MainModel.T_Search_NotMapped = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).T_Search_NotMapped;
MainModel.T_TEMPNO = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).T_TEMPNO;
MainModel.T_TempNoNum = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).T_TempNoNum;
MainModel.T_FACTNO = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).T_FACTNO;
MainModel.T_FACTNO_GUID = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).T_FACTNO_GUID;
MainModel.T_CENTCODE_GUID = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).T_CENTCODE_GUID;
MainModel.T_PAYCENTName = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).T_PAYCENTName;
MainModel.T_CREATOR = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).T_CREATOR;
MainModel.T_FACTDATE = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).T_FACTDATE;
MainModel.T_YEAR = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).T_YEAR;
MainModel.SH_Tahvil_DTL = ((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel).SH_Tahvil_DTL;

    }
    else
    {
    ListEntity.Add((Entity.SCMATLASBOBIN_ProductRequestDetails)EditModel);
    }
}

async Task OnDataItemDeletingSCMATLASBOBIN_ProductRequestDetails(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SCMATLASBOBIN_ProductRequestDetails;
    ListEntity.Remove((Entity.SCMATLASBOBIN_ProductRequestDetails)e.DataItem);
}
async void OnDeleteButtonClickGrid_SCMATLASBOBIN_ProductRequestDetails (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SCMATLASBOBIN_ProductRequestDetails = (ex.DataItem as Entity.SCMATLASBOBIN_ProductRequestDetails);
    var e =SelectedItemGrid_SCMATLASBOBIN_ProductRequestDetails;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSCMATLASBOBIN_ProductRequestDetails = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SCMATLASBOBIN_ProductRequestDetails ()
{
       if (SelectedItemGrid_SCMATLASBOBIN_ProductRequestDetails != null)
    {
      if (SelectedItemGrid_SCMATLASBOBIN_ProductRequestDetails.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SCMATLASBOBIN_ProductRequestDetails;
        ListEntity.Remove((Entity.SCMATLASBOBIN_ProductRequestDetails)SelectedItemGrid_SCMATLASBOBIN_ProductRequestDetails);
     
      }
      else
      {
        var cleanModel = new Entity.SCMATLASBOBIN_ProductRequestDetails();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SCMATLASBOBIN_ProductRequestDetails).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SCMATLASBOBIN_ProductRequestDetails);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SCMATLASBOBIN_ProductRequestDetails, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SCMATLASBOBIN_ProductRequestDetails._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SCMATLASBOBIN_ProductRequestDetails;
    
    Grid_SCMATLASBOBIN_ProductRequestDetails.Reload();
    ConfirmationShownSCMATLASBOBIN_ProductRequestDetails = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SCMATLASBOBIN_ProductRequestDetails ()
{
    ConfirmationShownSCMATLASBOBIN_ProductRequestDetails = false;
}

void CustomizeRowsGrid_SCMATLASBOBIN_ProductRequestDetails(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SCMATLASBOBIN_ProductRequestDetails)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SCMATLASBOBIN_ProductRequestDetails(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SCMATLASBOBIN_ProductRequestDetails)e.EditModel;

     

    }


}
public async void RowClickGrid_SCMATLASBOBIN_ProductRequestDetails(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SCMATLASBOBIN_ProductRequestDetails(GridRowClickEventArgs e)
{

}
}

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMATLASBOBIN_ProductRequest\",\"GetNameAs\":\"SCMATLASBOBIN_ProductRequest\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"UserStarterFullName\",\"GetNameAs\":\"UserStarterFullName\"},{\"Name\":\"UserStarterCompanyName\",\"GetNameAs\":\"UserStarterCompanyName\"},{\"Name\":\"UserStarterUnitName\",\"GetNameAs\":\"UserStarterUnitName\"},{\"Name\":\"UserStarterSectionName\",\"GetNameAs\":\"UserStarterSectionName\"},{\"Name\":\"RequestTrakingCode\",\"GetNameAs\":\"RequestTrakingCode\"},{\"Name\":\"ProcessVersionID\",\"GetNameAs\":\"ProcessVersionID\"},{\"Name\":\"T_HavaleDTL\",\"GetNameAs\":\"T_HavaleDTL\"}],\"Relation\":[{\"Name\":\"SCMATLASBOBIN_ICT_Departments\",\"GetNameAs\":\"SCMATLASBOBIN_ICT_Departments\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"SCMATLASBOBIN_ProductRequestDetails\",\"GetNameAs\":\"SCMATLASBOBIN_ProductRequestDetails\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SH_PARTNO\",\"GetNameAs\":\"SH_PARTNO\"},{\"Name\":\"SH_PARTNO_GUID\",\"GetNameAs\":\"SH_PARTNO_GUID\"},{\"Name\":\"SH_PARTCODE\",\"GetNameAs\":\"SH_PARTCODE\"},{\"Name\":\"SH_PARTCODE_GUID\",\"GetNameAs\":\"SH_PARTCODE_GUID\"},{\"Name\":\"SH_DESC\",\"GetNameAs\":\"SH_DESC\"},{\"Name\":\"SH_UNIT\",\"GetNameAs\":\"SH_UNIT\"},{\"Name\":\"SH_SUBGRCODE\",\"GetNameAs\":\"SH_SUBGRCODE\"},{\"Name\":\"SH_SUBGRCODE_GUID\",\"GetNameAs\":\"SH_SUBGRCODE_GUID\"},{\"Name\":\"SH_GRCODE\",\"GetNameAs\":\"SH_GRCODE\"},{\"Name\":\"SH_GRCODE_GUID\",\"GetNameAs\":\"SH_GRCODE_GUID\"},{\"Name\":\"SH_GroupName\",\"GetNameAs\":\"SH_GroupName\"},{\"Name\":\"SH_SubGroupName\",\"GetNameAs\":\"SH_SubGroupName\"},{\"Name\":\"SH_YEAR\",\"GetNameAs\":\"SH_YEAR\"},{\"Name\":\"SH_Amount\",\"GetNameAs\":\"SH_Amount\"},{\"Name\":\"SH_IsExist\",\"GetNameAs\":\"SH_IsExist\"},{\"Name\":\"SH_Factory\",\"GetNameAs\":\"SH_Factory\"},{\"Name\":\"SH_MapGroupCode\",\"GetNameAs\":\"SH_MapGroupCode\"},{\"Name\":\"Global_PriorityId\",\"GetNameAs\":\"Global_PriorityId\"},{\"Name\":\"ProductRequestingQTY\",\"GetNameAs\":\"ProductRequestingQTY\"},{\"Name\":\"PlaceOfUse\",\"GetNameAs\":\"PlaceOfUse\"},{\"Name\":\"SR_Desc\",\"GetNameAs\":\"SR_Desc\"},{\"Name\":\"GoodsDeliveryIsEnable\",\"GetNameAs\":\"GoodsDeliveryIsEnable\"},{\"Name\":\"DescriptionWarehouseKeeper\",\"GetNameAs\":\"DescriptionWarehouseKeeper\"},{\"Name\":\"ApproverDescription\",\"GetNameAs\":\"ApproverDescription\"},{\"Name\":\"T_CENTCODE_GUID\",\"GetNameAs\":\"T_CENTCODE_GUID\"},{\"Name\":\"T_PAYCENTName\",\"GetNameAs\":\"T_PAYCENTName\"},{\"Name\":\"T_CREATOR\",\"GetNameAs\":\"T_CREATOR\"},{\"Name\":\"T_FACTDATE\",\"GetNameAs\":\"T_FACTDATE\"},{\"Name\":\"T_FACTNO\",\"GetNameAs\":\"T_FACTNO\"},{\"Name\":\"T_FACTNO_GUID\",\"GetNameAs\":\"T_FACTNO_GUID\"},{\"Name\":\"T_TEMPNO\",\"GetNameAs\":\"T_TEMPNO\"},{\"Name\":\"T_TempNoNum\",\"GetNameAs\":\"T_TempNoNum\"},{\"Name\":\"T_YEAR\",\"GetNameAs\":\"T_YEAR\"},{\"Name\":\"T_Search_NotMapped\",\"GetNameAs\":\"T_Search_NotMapped\"},{\"Name\":\"SH_Tahvil_DTL\",\"GetNameAs\":\"SH_Tahvil_DTL\"}],\"Relation\":[{\"Name\":\"Global_Priority\",\"GetNameAs\":\"Global_Priority\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMATLASBOBIN_ProductRequest\",\"GetNameAs\":\"SCMATLASBOBIN_ProductRequest\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"UserStarterFullName\",\"GetNameAs\":\"UserStarterFullName\"},{\"Name\":\"UserStarterCompanyName\",\"GetNameAs\":\"UserStarterCompanyName\"},{\"Name\":\"UserStarterUnitName\",\"GetNameAs\":\"UserStarterUnitName\"},{\"Name\":\"UserStarterSectionName\",\"GetNameAs\":\"UserStarterSectionName\"},{\"Name\":\"RequestTrakingCode\",\"GetNameAs\":\"RequestTrakingCode\"},{\"Name\":\"ProcessVersionID\",\"GetNameAs\":\"ProcessVersionID\"},{\"Name\":\"T_HavaleDTL\",\"GetNameAs\":\"T_HavaleDTL\"}],\"Relation\":[{\"Name\":\"SCMATLASBOBIN_ProductRequestDetails\",\"GetNameAs\":\"SCMATLASBOBIN_ProductRequestDetails\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SH_PARTNO\",\"GetNameAs\":\"SH_PARTNO\"},{\"Name\":\"SH_PARTNO_GUID\",\"GetNameAs\":\"SH_PARTNO_GUID\"},{\"Name\":\"SH_PARTCODE\",\"GetNameAs\":\"SH_PARTCODE\"},{\"Name\":\"SH_PARTCODE_GUID\",\"GetNameAs\":\"SH_PARTCODE_GUID\"},{\"Name\":\"SH_DESC\",\"GetNameAs\":\"SH_DESC\"},{\"Name\":\"SH_UNIT\",\"GetNameAs\":\"SH_UNIT\"},{\"Name\":\"SH_SUBGRCODE\",\"GetNameAs\":\"SH_SUBGRCODE\"},{\"Name\":\"SH_SUBGRCODE_GUID\",\"GetNameAs\":\"SH_SUBGRCODE_GUID\"},{\"Name\":\"SH_GRCODE\",\"GetNameAs\":\"SH_GRCODE\"},{\"Name\":\"SH_GRCODE_GUID\",\"GetNameAs\":\"SH_GRCODE_GUID\"},{\"Name\":\"SH_GroupName\",\"GetNameAs\":\"SH_GroupName\"},{\"Name\":\"SH_SubGroupName\",\"GetNameAs\":\"SH_SubGroupName\"},{\"Name\":\"SH_YEAR\",\"GetNameAs\":\"SH_YEAR\"},{\"Name\":\"SH_Amount\",\"GetNameAs\":\"SH_Amount\"},{\"Name\":\"SH_IsExist\",\"GetNameAs\":\"SH_IsExist\"},{\"Name\":\"SH_Factory\",\"GetNameAs\":\"SH_Factory\"},{\"Name\":\"SH_MapGroupCode\",\"GetNameAs\":\"SH_MapGroupCode\"},{\"Name\":\"Global_PriorityId\",\"GetNameAs\":\"Global_PriorityId\"},{\"Name\":\"ProductRequestingQTY\",\"GetNameAs\":\"ProductRequestingQTY\"},{\"Name\":\"PlaceOfUse\",\"GetNameAs\":\"PlaceOfUse\"},{\"Name\":\"SR_Desc\",\"GetNameAs\":\"SR_Desc\"},{\"Name\":\"GoodsDeliveryIsEnable\",\"GetNameAs\":\"GoodsDeliveryIsEnable\"},{\"Name\":\"DescriptionWarehouseKeeper\",\"GetNameAs\":\"DescriptionWarehouseKeeper\"},{\"Name\":\"ApproverDescription\",\"GetNameAs\":\"ApproverDescription\"},{\"Name\":\"T_CENTCODE_GUID\",\"GetNameAs\":\"T_CENTCODE_GUID\"},{\"Name\":\"T_PAYCENTName\",\"GetNameAs\":\"T_PAYCENTName\"},{\"Name\":\"T_CREATOR\",\"GetNameAs\":\"T_CREATOR\"},{\"Name\":\"T_FACTDATE\",\"GetNameAs\":\"T_FACTDATE\"},{\"Name\":\"T_FACTNO\",\"GetNameAs\":\"T_FACTNO\"},{\"Name\":\"T_FACTNO_GUID\",\"GetNameAs\":\"T_FACTNO_GUID\"},{\"Name\":\"T_TEMPNO\",\"GetNameAs\":\"T_TEMPNO\"},{\"Name\":\"T_TempNoNum\",\"GetNameAs\":\"T_TempNoNum\"},{\"Name\":\"T_YEAR\",\"GetNameAs\":\"T_YEAR\"},{\"Name\":\"T_Search_NotMapped\",\"GetNameAs\":\"T_Search_NotMapped\"},{\"Name\":\"SH_Tahvil_DTL\",\"GetNameAs\":\"SH_Tahvil_DTL\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SCMATLASBOBIN_ProductRequest>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SCMATLASBOBIN_ProductRequest();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//
_Entity.UserStarterFullName = _RequestParameters.UserStarterFullName;
_Entity.UserStarterCompanyName = _RequestParameters.UserStarterCompanyName;
_Entity.UserStarterUnitName = _RequestParameters.UserStarterUnitName;
_Entity.UserStarterSectionName = _RequestParameters.UserStarterSectionName;
_Entity.RequestTrakingCode = _RequestParameters.RequestTrakingCode;
_Entity.ProcessVersionID = _RequestParameters.ProcessVersionID;


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SCMATLASBOBIN_ProductRequest>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
