@inherits Forms.Forms.Form_955_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Code" @ref="Ref_Code" Label="کد آگهی استخدامی"     @bind-Value="_Entity.Code" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"50\"}").Result))></Input>

<Input Id="FirstName" @ref="Ref_FirstName" Label="نام"     @bind-Value="_Entity.FirstName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

<Input Id="LastName" @ref="Ref_LastName" Label="نام خانوادگی"     @bind-Value="_Entity.LastName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

<Input Id="CellphoneNo" @ref="Ref_CellphoneNo" Label="شماره تلفن همراه"     @bind-Value="_Entity.CellphoneNo" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"11\"}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_JobInterviewJobInterviewer1 = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مصاحبه استخدامی\",\"primaryKey\":false,\"EntityID\":684,\"FieldId\":19542,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":955,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/vw_AspNetUsers/GetList?IsCut=false&CompanyID=1001&UnitID=154\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.FullName}} </span>\",\"FieldsTemplate\":[{\"key\":\"FullName\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"HR_JobInterview.IsCut\",\"searchField\":\"\",\"clearOnRefresh\":true,\"disabled\":false,\"modal\":true,\"label\":\"کاربر مصاحبه کننده\",\"tableView\":true,\"key\":\"JobInterviewer1\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"19542?EId=684&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=JobInterviewer1  @ref="Ref_JobInterviewer1" Label="کاربر مصاحبه کننده" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.JobInterviewer1" FieldName="JobInterviewer1" OnItemSelected="ItemSelected_HR_JobInterviewJobInterviewer1" Component="Component_HR_JobInterviewJobInterviewer1" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_JobInterviewJobInterviewer1(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.JobInterviewer1 = Selected.Id;


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_JobInterviewHR_InterviewResumeSiteId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مصاحبه استخدامی\",\"primaryKey\":false,\"EntityID\":684,\"FieldId\":19559,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":955,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_InterviewResumeSite\",\"RelationParentModel\":\"HR_InterviewResumeSite\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_InterviewResumeSite/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} {{item.URL}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"URL\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"سایت دریافت رزومه مصاحبه\",\"tableView\":true,\"key\":\"HR_InterviewResumeSiteId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"19559?EId=684&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_InterviewResumeSiteId  @ref="Ref_HR_InterviewResumeSiteId" Label="سایت دریافت رزومه مصاحبه" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_InterviewResumeSiteId" FieldName="HR_InterviewResumeSiteId" OnItemSelected="ItemSelected_HR_JobInterviewHR_InterviewResumeSiteId" Component="Component_HR_JobInterviewHR_InterviewResumeSiteId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_JobInterviewHR_InterviewResumeSiteId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.HR_InterviewResumeSiteId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.HR_InterviewResumeSiteId =EntityHelper.SetPropertyNull(Item.HR_InterviewResumeSiteId);
 }
 Item.HR_InterviewResumeSite = await Utility.JSON.ToObject<Entity.HR_InterviewResumeSite>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_JobInterviewHR_InterviewTypeId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مصاحبه استخدامی\",\"primaryKey\":false,\"EntityID\":684,\"FieldId\":19560,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":955,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_InterviewType\",\"RelationParentModel\":\"HR_InterviewType\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_InterviewType/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Tilte}} </span>\",\"FieldsTemplate\":[{\"key\":\"Tilte\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"نوع مصاحبه استخدامی\",\"tableView\":true,\"key\":\"HR_InterviewTypeId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"19560?EId=684&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_InterviewTypeId  @ref="Ref_HR_InterviewTypeId" Label="نوع مصاحبه استخدامی" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_InterviewTypeId" FieldName="HR_InterviewTypeId" OnItemSelected="ItemSelected_HR_JobInterviewHR_InterviewTypeId" Component="Component_HR_JobInterviewHR_InterviewTypeId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_JobInterviewHR_InterviewTypeId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.HR_InterviewTypeId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.HR_InterviewTypeId =EntityHelper.SetPropertyNull(Item.HR_InterviewTypeId);
 }
 Item.HR_InterviewType = await Utility.JSON.ToObject<Entity.HR_InterviewType>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_JobInterviewHR_JobInterviewContractTypeId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مصاحبه استخدامی\",\"primaryKey\":false,\"EntityID\":684,\"FieldId\":19561,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":955,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_JobInterviewContractType\",\"RelationParentModel\":\"HR_JobInterviewContractType\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_JobInterviewContractType/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"نوع قرارداد مصاحبه شغلی\",\"tableView\":true,\"key\":\"HR_JobInterviewContractTypeId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"19561?EId=684&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_JobInterviewContractTypeId  @ref="Ref_HR_JobInterviewContractTypeId" Label="نوع قرارداد مصاحبه شغلی" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_JobInterviewContractTypeId" FieldName="HR_JobInterviewContractTypeId" OnItemSelected="ItemSelected_HR_JobInterviewHR_JobInterviewContractTypeId" Component="Component_HR_JobInterviewHR_JobInterviewContractTypeId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_JobInterviewHR_JobInterviewContractTypeId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.HR_JobInterviewContractTypeId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.HR_JobInterviewContractTypeId =EntityHelper.SetPropertyNull(Item.HR_JobInterviewContractTypeId);
 }
 Item.HR_JobInterviewContractType = await Utility.JSON.ToObject<Entity.HR_JobInterviewContractType>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_JobInterviewHR_JobIntervieweTitleId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مصاحبه استخدامی\",\"primaryKey\":false,\"EntityID\":684,\"FieldId\":19571,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":955,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_JobIntervieweTitle\",\"RelationParentModel\":\"HR_JobIntervieweTitle\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_JobIntervieweTitle/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"عنوان مصاحبه شغلی\",\"tableView\":true,\"key\":\"HR_JobIntervieweTitleId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"19571?EId=684&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_JobIntervieweTitleId  @ref="Ref_HR_JobIntervieweTitleId" Label="عنوان مصاحبه شغلی" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_JobIntervieweTitleId" FieldName="HR_JobIntervieweTitleId" OnItemSelected="ItemSelected_HR_JobInterviewHR_JobIntervieweTitleId" Component="Component_HR_JobInterviewHR_JobIntervieweTitleId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_JobInterviewHR_JobIntervieweTitleId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.HR_JobIntervieweTitleId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.HR_JobIntervieweTitleId =EntityHelper.SetPropertyNull(Item.HR_JobIntervieweTitleId);
 }
 Item.HR_JobIntervieweTitle = await Utility.JSON.ToObject<Entity.HR_JobIntervieweTitle>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

<Input Id="InterviewDateTime" @ref="Ref_InterviewDateTime" Label="تاریخ و زمان مصاحبه"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.InterviewDateTime" type="textfield"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \"}").Result))></Input>

<Input Id="InterviewerDescription" @ref="Ref_InterviewerDescription" Label="توضیحات مصاحبه کننده"     @bind-Value="_Entity.InterviewerDescription" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"2000\"}").Result))></Input>

<Input Id="MeetingLink" @ref="Ref_MeetingLink" Label="نشانی اینترنتی مصاحبه"     @bind-Value="_Entity.MeetingLink" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"500\"}").Result))></Input>

<Input Id="IsReInterview" @ref="Ref_IsReInterview" Label="آیا مصاحبه مجدد انجام می‌شود؟"     @bind-Value="_Entity.IsReInterview" type="checkbox"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<RadioBoolean @ref="Ref_IsApproved" InLine=true Id="IsApproved"   LabelTrue="بله" LabelFalse="خیر" Label="مورد تایید است؟" @bind-Value="_Entity.IsApproved" CssClass="" ></RadioBoolean>

<Input Id="ReInterviewDateTime" @ref="Ref_ReInterviewDateTime" Label="تاریخ و زمان مجدد مصاحبه"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.ReInterviewDateTime" type="textfield"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \"}").Result))></Input>
<Uploader Id=HR_JobInterview_JobInterviewResumeFile  @ref="Ref_HR_JobInterview_JobInterviewResumeFile"   Accept="image/* , application/pdf , .doc,.docx" MinSize="1KB" MaxSize="5MB" Caption="فایل رزومه مصاحبه شونده" Data="_Entity.HR_JobInterview_JobInterviewResumeFile" Url="https://File.workcv.ir/fa/api/v1/File/Post" TItem="Entity.HR_JobInterview_JobInterviewResumeFile"></Uploader>

<Input Id="CancellatioReason" @ref="Ref_CancellatioReason" Label="علت عدم تایید"     @bind-Value="_Entity.CancellatioReason" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"450\"}").Result))></Input>

<Input Id="PortfolioURL" @ref="Ref_PortfolioURL" Label="نشانی اینترنتی نمونه کار"     @bind-Value="_Entity.PortfolioURL" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"150\"}").Result))></Input>

<Input Id="SuggestedSalary" @ref="Ref_SuggestedSalary" Label="حقوق خالص دریافتی"     @bind-Value="_Entity.SuggestedSalary" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="ShuttleService" @ref="Ref_ShuttleService" Label="حق سرویس"     @bind-Value="_Entity.ShuttleService" type="checkbox"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="GoogleMeetUserName" @ref="Ref_GoogleMeetUserName" Label="نام کاربری"     @bind-Value="_Entity.GoogleMeetUserName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"150\"}").Result))></Input>

<Input Id="GoogleMeetPassword" @ref="Ref_GoogleMeetPassword" Label="پسورد"     @bind-Value="_Entity.GoogleMeetPassword" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"150\"}").Result))></Input>

<Input Id="SupervisorComment" @ref="Ref_SupervisorComment" Label="نظر سرپرست"     @bind-Value="_Entity.SupervisorComment" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<RadioBoolean @ref="Ref_SupervisorApprove" InLine=true Id="SupervisorApprove"   LabelTrue="بله" LabelFalse="خیر" Label="تاییدیه سرپرست" @bind-Value="_Entity.SupervisorApprove" CssClass="" ></RadioBoolean>

<Input Id="ManagerComment" @ref="Ref_ManagerComment" Label="نظر مدیر"     @bind-Value="_Entity.ManagerComment" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<RadioBoolean @ref="Ref_ManagerApprove" InLine=true Id="ManagerApprove"   LabelTrue="بله" LabelFalse="خیر" Label="تاییدیه مدیر" @bind-Value="_Entity.ManagerApprove" CssClass="" ></RadioBoolean>

<Input Id="JobSeekerNotAvailable" @ref="Ref_JobSeekerNotAvailable" Label="آیا کارجو تمایلی به مصاحبه ندارد"     @bind-Value="_Entity.JobSeekerNotAvailable" type="checkbox"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestDescription" @ref="Ref_RequestDescription" Label="توضیحات درخواست دهنده"     @bind-Value="_Entity.RequestDescription" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Age" @ref="Ref_Age" Label="سن"     @bind-Value="_Entity.Age" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<RadioBoolean @ref="Ref_MaritalStatus" InLine=true Id="MaritalStatus"   LabelTrue="مجرد" LabelFalse="متاهل" Label="وضعیت تاهل" @bind-Value="_Entity.MaritalStatus" CssClass="" ></RadioBoolean>

<RadioBoolean @ref="Ref_Gender" InLine=true Id="Gender"   LabelTrue="مرد" LabelFalse="زن" Label="جنسیت" @bind-Value="_Entity.Gender" CssClass="" ></RadioBoolean>

<Input Id="Location" @ref="Ref_Location" Label="موقیت مکانی فعلی کارجو"     @bind-Value="_Entity.Location" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"30\"}").Result))></Input>

<Input Id="Referral" @ref="Ref_Referral" Label="نحوه آشنایی"     @bind-Value="_Entity.Referral" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"50\"}").Result))></Input>

<Input Id="InterviewLocation" @ref="Ref_InterviewLocation" Label="محل مصاحبه"     @bind-Value="_Entity.InterviewLocation" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_JobInterviewBaseInfo_MilitaryStatusId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مصاحبه استخدامی\",\"primaryKey\":false,\"EntityID\":684,\"FieldId\":29724,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":955,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"BaseInfo_MilitaryStatus\",\"RelationParentModel\":\"BaseInfo_MilitaryStatus\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/BaseInfo_MilitaryStatus/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"وضعیت نظام وظیفه\",\"tableView\":true,\"key\":\"BaseInfo_MilitaryStatusId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29724?EId=684&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=BaseInfo_MilitaryStatusId  @ref="Ref_BaseInfo_MilitaryStatusId" Label="وضعیت نظام وظیفه" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.BaseInfo_MilitaryStatusId" FieldName="BaseInfo_MilitaryStatusId" OnItemSelected="ItemSelected_HR_JobInterviewBaseInfo_MilitaryStatusId" Component="Component_HR_JobInterviewBaseInfo_MilitaryStatusId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_JobInterviewBaseInfo_MilitaryStatusId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.BaseInfo_MilitaryStatusId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.BaseInfo_MilitaryStatusId =EntityHelper.SetPropertyNull(Item.BaseInfo_MilitaryStatusId);
 }
 Item.BaseInfo_MilitaryStatus = await Utility.JSON.ToObject<Entity.BaseInfo_MilitaryStatus>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

<Input Id="Telephone" @ref="Ref_Telephone" Label="تلفن ثابت"     @bind-Value="_Entity.Telephone" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"50\"}").Result))></Input>

<RadioBoolean @ref="Ref_IsEmployed" InLine=true Id="IsEmployed"   LabelTrue="بله" LabelFalse="خیر" Label="آیا مشغول به کار است" @bind-Value="_Entity.IsEmployed" CssClass="" ></RadioBoolean>

<Input Id="LastCompany" @ref="Ref_LastCompany" Label="آخرین شرکت مشغول به کار"     @bind-Value="_Entity.LastCompany" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"53\"}").Result))></Input>

<Input Id="Skills" @ref="Ref_Skills" Label="مهارت‌های کلیدی موردنیاز"     @bind-Value="_Entity.Skills" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

<Time Id="InterviewDuration" DisplayFormat ="HH:mm:ss" @ref="Ref_InterviewDuration" Label="مدت مصاحبه"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.InterviewDuration" type="text"    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-time\":\"   \"}").Result))></Time>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_JobInterviewHR_EmploymentOffersId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مصاحبه استخدامی\",\"primaryKey\":false,\"EntityID\":684,\"FieldId\":29759,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":955,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_EmploymentOffers\",\"RelationParentModel\":\"HR_EmploymentOffers\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_EmploymentOffers/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} {{item.Code}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"Code\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"پیشنهاد برای استخدام\",\"tableView\":true,\"key\":\"HR_EmploymentOffersId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29759?EId=684&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_EmploymentOffersId  @ref="Ref_HR_EmploymentOffersId" Label="پیشنهاد برای استخدام" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_EmploymentOffersId" FieldName="HR_EmploymentOffersId" OnItemSelected="ItemSelected_HR_JobInterviewHR_EmploymentOffersId" Component="Component_HR_JobInterviewHR_EmploymentOffersId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_JobInterviewHR_EmploymentOffersId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.HR_EmploymentOffersId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.HR_EmploymentOffersId =EntityHelper.SetPropertyNull(Item.HR_EmploymentOffersId);
 }
 Item.HR_EmploymentOffers = await Utility.JSON.ToObject<Entity.HR_EmploymentOffers>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_JobInterviewHR_InterviewItemsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مصاحبه استخدامی\",\"primaryKey\":false,\"EntityID\":684,\"FieldId\":29760,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":955,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_InterviewItems\",\"RelationParentModel\":\"HR_InterviewItems\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_InterviewItems/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} {{item.Code}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"Code\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"آیا مهارت‌های کارجو با نیاز شغلی منطبق است؟\",\"tableView\":true,\"key\":\"HR_InterviewItemsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29760?EId=684&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_InterviewItemsId  @ref="Ref_HR_InterviewItemsId" Label="آیا مهارت‌های کارجو با نیاز شغلی منطبق است؟" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_InterviewItemsId" FieldName="HR_InterviewItemsId" OnItemSelected="ItemSelected_HR_JobInterviewHR_InterviewItemsId" Component="Component_HR_JobInterviewHR_InterviewItemsId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_JobInterviewHR_InterviewItemsId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.HR_InterviewItemsId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.HR_InterviewItemsId =EntityHelper.SetPropertyNull(Item.HR_InterviewItemsId);
 }
 Item.HR_InterviewItems = await Utility.JSON.ToObject<Entity.HR_InterviewItems>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_JobInterviewInterviewLevelItemsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مصاحبه استخدامی\",\"primaryKey\":false,\"EntityID\":684,\"FieldId\":29761,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":955,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"InterviewLevelItems\",\"RelationParentModel\":\"HR_InterviewItems\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_InterviewItems/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} {{item.Code}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"Code\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"سطح تخصص مورد نیاز پوشش داده می‌شود؟\",\"tableView\":true,\"key\":\"InterviewLevelItemsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29761?EId=684&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=InterviewLevelItemsId  @ref="Ref_InterviewLevelItemsId" Label="سطح تخصص مورد نیاز پوشش داده می‌شود؟" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.InterviewLevelItemsId" FieldName="InterviewLevelItemsId" OnItemSelected="ItemSelected_HR_JobInterviewInterviewLevelItemsId" Component="Component_HR_JobInterviewInterviewLevelItemsId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_JobInterviewInterviewLevelItemsId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.InterviewLevelItemsId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.InterviewLevelItemsId =EntityHelper.SetPropertyNull(Item.InterviewLevelItemsId);
 }
 Item.InterviewLevelItems = await Utility.JSON.ToObject<Entity.HR_InterviewItems>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

<Input Id="AvailabilityToStartWork" @ref="Ref_AvailabilityToStartWork" Label="زمان در دسترس بودن برای شروع همکاری"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.AvailabilityToStartWork" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \"}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_JobInterview\",\"GetNameAs\":\"HR_JobInterview\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"FirstName\",\"GetNameAs\":\"FirstName\"},{\"Name\":\"LastName\",\"GetNameAs\":\"LastName\"},{\"Name\":\"CellphoneNo\",\"GetNameAs\":\"CellphoneNo\"},{\"Name\":\"JobInterviewer1\",\"GetNameAs\":\"JobInterviewer1\"},{\"Name\":\"HR_InterviewResumeSiteId\",\"GetNameAs\":\"HR_InterviewResumeSiteId\"},{\"Name\":\"HR_InterviewTypeId\",\"GetNameAs\":\"HR_InterviewTypeId\"},{\"Name\":\"HR_JobInterviewContractTypeId\",\"GetNameAs\":\"HR_JobInterviewContractTypeId\"},{\"Name\":\"HR_JobIntervieweTitleId\",\"GetNameAs\":\"HR_JobIntervieweTitleId\"},{\"Name\":\"InterviewDateTime\",\"GetNameAs\":\"InterviewDateTime\"},{\"Name\":\"InterviewerDescription\",\"GetNameAs\":\"InterviewerDescription\"},{\"Name\":\"MeetingLink\",\"GetNameAs\":\"MeetingLink\"},{\"Name\":\"IsReInterview\",\"GetNameAs\":\"IsReInterview\"},{\"Name\":\"IsApproved\",\"GetNameAs\":\"IsApproved\"},{\"Name\":\"ReInterviewDateTime\",\"GetNameAs\":\"ReInterviewDateTime\"},{\"Name\":\"CancellatioReason\",\"GetNameAs\":\"CancellatioReason\"},{\"Name\":\"PortfolioURL\",\"GetNameAs\":\"PortfolioURL\"},{\"Name\":\"SuggestedSalary\",\"GetNameAs\":\"SuggestedSalary\"},{\"Name\":\"ShuttleService\",\"GetNameAs\":\"ShuttleService\"},{\"Name\":\"GoogleMeetUserName\",\"GetNameAs\":\"GoogleMeetUserName\"},{\"Name\":\"GoogleMeetPassword\",\"GetNameAs\":\"GoogleMeetPassword\"},{\"Name\":\"SupervisorComment\",\"GetNameAs\":\"SupervisorComment\"},{\"Name\":\"SupervisorApprove\",\"GetNameAs\":\"SupervisorApprove\"},{\"Name\":\"ManagerComment\",\"GetNameAs\":\"ManagerComment\"},{\"Name\":\"ManagerApprove\",\"GetNameAs\":\"ManagerApprove\"},{\"Name\":\"JobSeekerNotAvailable\",\"GetNameAs\":\"JobSeekerNotAvailable\"},{\"Name\":\"RequestDescription\",\"GetNameAs\":\"RequestDescription\"},{\"Name\":\"Age\",\"GetNameAs\":\"Age\"},{\"Name\":\"MaritalStatus\",\"GetNameAs\":\"MaritalStatus\"},{\"Name\":\"Gender\",\"GetNameAs\":\"Gender\"},{\"Name\":\"Location\",\"GetNameAs\":\"Location\"},{\"Name\":\"Referral\",\"GetNameAs\":\"Referral\"},{\"Name\":\"InterviewLocation\",\"GetNameAs\":\"InterviewLocation\"},{\"Name\":\"BaseInfo_MilitaryStatusId\",\"GetNameAs\":\"BaseInfo_MilitaryStatusId\"},{\"Name\":\"Telephone\",\"GetNameAs\":\"Telephone\"},{\"Name\":\"IsEmployed\",\"GetNameAs\":\"IsEmployed\"},{\"Name\":\"LastCompany\",\"GetNameAs\":\"LastCompany\"},{\"Name\":\"Skills\",\"GetNameAs\":\"Skills\"},{\"Name\":\"InterviewDuration\",\"GetNameAs\":\"InterviewDuration\"},{\"Name\":\"HR_EmploymentOffersId\",\"GetNameAs\":\"HR_EmploymentOffersId\"},{\"Name\":\"HR_InterviewItemsId\",\"GetNameAs\":\"HR_InterviewItemsId\"},{\"Name\":\"InterviewLevelItemsId\",\"GetNameAs\":\"InterviewLevelItemsId\"},{\"Name\":\"AvailabilityToStartWork\",\"GetNameAs\":\"AvailabilityToStartWork\"}],\"Relation\":[{\"Name\":\"HR_InterviewResumeSite\",\"GetNameAs\":\"HR_InterviewResumeSite\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"URL\",\"GetNameAs\":\"URL\"}],\"Relation\":[]},{\"Name\":\"HR_InterviewType\",\"GetNameAs\":\"HR_InterviewType\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Tilte\",\"GetNameAs\":\"Tilte\"}],\"Relation\":[]},{\"Name\":\"HR_JobInterviewContractType\",\"GetNameAs\":\"HR_JobInterviewContractType\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"HR_JobIntervieweTitle\",\"GetNameAs\":\"HR_JobIntervieweTitle\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"BaseInfo_MilitaryStatus\",\"GetNameAs\":\"BaseInfo_MilitaryStatus\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"}],\"Relation\":[]},{\"Name\":\"HR_InterviewStatus\",\"GetNameAs\":\"HR_InterviewStatus\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"}],\"Relation\":[]},{\"Name\":\"HR_EmploymentOffers\",\"GetNameAs\":\"HR_EmploymentOffers\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"}],\"Relation\":[]},{\"Name\":\"HR_InterviewItems\",\"GetNameAs\":\"HR_InterviewItems\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"}],\"Relation\":[]},{\"Name\":\"InterviewLevelItems\",\"GetNameAs\":\"InterviewLevelItems\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"}],\"Relation\":[]},{\"Name\":\"HR_JobInterview_JobInterviewResumeFile\",\"GetNameAs\":\"HR_JobInterview_JobInterviewResumeFile\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"HR_JobInterviewId\",\"GetNameAs\":\"HR_JobInterviewId\"},{\"Name\":\"storage\",\"GetNameAs\":\"storage\"},{\"Name\":\"name\",\"GetNameAs\":\"name\"},{\"Name\":\"url\",\"GetNameAs\":\"url\"},{\"Name\":\"size\",\"GetNameAs\":\"size\"},{\"Name\":\"type\",\"GetNameAs\":\"type\"},{\"Name\":\"originalName\",\"GetNameAs\":\"originalName\"},{\"Name\":\"hash\",\"GetNameAs\":\"hash\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_JobInterview\",\"GetNameAs\":\"HR_JobInterview\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"FirstName\",\"GetNameAs\":\"FirstName\"},{\"Name\":\"LastName\",\"GetNameAs\":\"LastName\"},{\"Name\":\"CellphoneNo\",\"GetNameAs\":\"CellphoneNo\"},{\"Name\":\"JobInterviewer1\",\"GetNameAs\":\"JobInterviewer1\"},{\"Name\":\"HR_InterviewResumeSiteId\",\"GetNameAs\":\"HR_InterviewResumeSiteId\"},{\"Name\":\"HR_InterviewTypeId\",\"GetNameAs\":\"HR_InterviewTypeId\"},{\"Name\":\"HR_JobInterviewContractTypeId\",\"GetNameAs\":\"HR_JobInterviewContractTypeId\"},{\"Name\":\"HR_JobIntervieweTitleId\",\"GetNameAs\":\"HR_JobIntervieweTitleId\"},{\"Name\":\"InterviewDateTime\",\"GetNameAs\":\"InterviewDateTime\"},{\"Name\":\"InterviewerDescription\",\"GetNameAs\":\"InterviewerDescription\"},{\"Name\":\"MeetingLink\",\"GetNameAs\":\"MeetingLink\"},{\"Name\":\"IsReInterview\",\"GetNameAs\":\"IsReInterview\"},{\"Name\":\"IsApproved\",\"GetNameAs\":\"IsApproved\"},{\"Name\":\"ReInterviewDateTime\",\"GetNameAs\":\"ReInterviewDateTime\"},{\"Name\":\"CancellatioReason\",\"GetNameAs\":\"CancellatioReason\"},{\"Name\":\"PortfolioURL\",\"GetNameAs\":\"PortfolioURL\"},{\"Name\":\"SuggestedSalary\",\"GetNameAs\":\"SuggestedSalary\"},{\"Name\":\"ShuttleService\",\"GetNameAs\":\"ShuttleService\"},{\"Name\":\"GoogleMeetUserName\",\"GetNameAs\":\"GoogleMeetUserName\"},{\"Name\":\"GoogleMeetPassword\",\"GetNameAs\":\"GoogleMeetPassword\"},{\"Name\":\"SupervisorComment\",\"GetNameAs\":\"SupervisorComment\"},{\"Name\":\"SupervisorApprove\",\"GetNameAs\":\"SupervisorApprove\"},{\"Name\":\"ManagerComment\",\"GetNameAs\":\"ManagerComment\"},{\"Name\":\"ManagerApprove\",\"GetNameAs\":\"ManagerApprove\"},{\"Name\":\"JobSeekerNotAvailable\",\"GetNameAs\":\"JobSeekerNotAvailable\"},{\"Name\":\"RequestDescription\",\"GetNameAs\":\"RequestDescription\"},{\"Name\":\"Age\",\"GetNameAs\":\"Age\"},{\"Name\":\"MaritalStatus\",\"GetNameAs\":\"MaritalStatus\"},{\"Name\":\"Gender\",\"GetNameAs\":\"Gender\"},{\"Name\":\"Location\",\"GetNameAs\":\"Location\"},{\"Name\":\"Referral\",\"GetNameAs\":\"Referral\"},{\"Name\":\"InterviewLocation\",\"GetNameAs\":\"InterviewLocation\"},{\"Name\":\"BaseInfo_MilitaryStatusId\",\"GetNameAs\":\"BaseInfo_MilitaryStatusId\"},{\"Name\":\"Telephone\",\"GetNameAs\":\"Telephone\"},{\"Name\":\"IsEmployed\",\"GetNameAs\":\"IsEmployed\"},{\"Name\":\"LastCompany\",\"GetNameAs\":\"LastCompany\"},{\"Name\":\"Skills\",\"GetNameAs\":\"Skills\"},{\"Name\":\"InterviewDuration\",\"GetNameAs\":\"InterviewDuration\"},{\"Name\":\"HR_EmploymentOffersId\",\"GetNameAs\":\"HR_EmploymentOffersId\"},{\"Name\":\"HR_InterviewItemsId\",\"GetNameAs\":\"HR_InterviewItemsId\"},{\"Name\":\"InterviewLevelItemsId\",\"GetNameAs\":\"InterviewLevelItemsId\"},{\"Name\":\"AvailabilityToStartWork\",\"GetNameAs\":\"AvailabilityToStartWork\"}],\"Relation\":[{\"Name\":\"HR_JobInterview_JobInterviewResumeFile\",\"GetNameAs\":\"HR_JobInterview_JobInterviewResumeFile\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"HR_JobInterviewId\",\"GetNameAs\":\"HR_JobInterviewId\"},{\"Name\":\"storage\",\"GetNameAs\":\"storage\"},{\"Name\":\"name\",\"GetNameAs\":\"name\"},{\"Name\":\"url\",\"GetNameAs\":\"url\"},{\"Name\":\"size\",\"GetNameAs\":\"size\"},{\"Name\":\"type\",\"GetNameAs\":\"type\"},{\"Name\":\"originalName\",\"GetNameAs\":\"originalName\"},{\"Name\":\"hash\",\"GetNameAs\":\"hash\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.HR_JobInterview>(Data);
        }
            }
            else
            {
                _Entity = new Entity.HR_JobInterview();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.HR_JobInterview>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
