@inherits Forms.Forms.Form_964_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    /* ************************************************** */
.detailArea form div:not(.devdrop) {
    margin-top: .1rem;
}

/* ************************************************** */
.header-form {
    height: 100px;
    background: linear-gradient(96deg, #0d3b66, #6a0dad);
    color: white;
    border-bottom: 2px solid #ffffff33;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.header-icon {
    font-size: 56px;
    color: #ffccff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-icon:hover {
    transform: scale(1.1) rotate(-5deg);
    color: #f5baff;
}

.header-title {
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-subtitle {
    font-size: 14px;
    opacity: 0.95;
    transition: opacity 0.3s ease;
}

.header-text:hover .header-title {
    color: #ffe0ff;
}

.header-text:hover .header-subtitle {
    opacity: 1;
}
/* ********** */

.col_bg1 {
    border: 1px dashed rgba(99, 100, 102, 0.3);
    background-color: rgba(189, 193, 196, 0.488);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0.1rem !important;
    /*align-items: baseline;*/
}

.col_bg1:hover {
    /* background-color: rgba(255, 193, 7, 0.03);
  border-color: rgba(255, 193, 7, 0.5);*/
}


.col_bg {
    /* border: 1px dashed rgba(88, 89, 104, 0.5);*/
    /* طوسی خط‌چین */
    background: #DEDED1;
    /* background-color: #DEDED1; */
    /* طوسی خیلی روشن */
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0.1rem !important;
}

/* حذف کامل هاور */
.col_bg:hover {
    /* خالی بماند تا هیچ تغییری نکند */
}
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="row ">
    
<div class="col-md-12">
    <div  class="">
    <header class="header-form d-flex align-items-center py-1">
    <i class="fal fa-box header-icon px-3 fs-1"></i>
    <div class="header-text">
      <h4 class="header-title mb-1">ایجاد و ویرایش رسید</h4>
      <p class="header-subtitle">ایجاد و ویرایش رسید در شماران</p>
    </div>
  </header>
</div>
<div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <div>
  &nbsp;
</div>
</div>

<div class="bg-light">
    
<div class="row ">
    
<div class="col-md-5">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_FACTBUYFactBuy_List = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"رسید\",\"primaryKey\":false,\"EntityID\":709,\"FieldId\":30850,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":964,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_FACTBUYdtl2/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DataGrid\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO\",\"template\":\"<span>{{item.FACTNO}} {{item.factdate}} {{item.invcode}} {{item.invname}} {{item.SELERNAME}} {{item.vaziat}} </span>\",\"FieldsTemplate\":[{\"key\":\"FACTNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"factdate\",\"value\":\"nvarchar(Max)\"},{\"key\":\"invcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"invname\",\"value\":\"nvarchar(Max)\"},{\"key\":\"SELERNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"vaziat\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"فهرست رسیدهای صادرشده\",\"tableView\":true,\"key\":\"FactBuy_List\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30850?EId=709&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=FactBuy_List Disabled=true @ref="Ref_FactBuy_List" Label="فهرست رسیدهای صادرشده" CssClass=""  DisplayFormat="DataGrid" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.FactBuy_List" FieldName="FactBuy_List" OnItemSelected="ItemSelected_SH_PolFilm_FACTBUYFactBuy_List" Component="Component_SH_PolFilm_FACTBUYFactBuy_List" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_FACTBUYFactBuy_List(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.FactBuy_List = Selected.FACTNO;


    

    
    }
} 

</div>

<div class="col-md-7">
    
<div class="row col_bg1 px-2">
    
<div class="col-md-4">
    
<Input Id="FACTNO" @ref="Ref_FACTNO" Label="شماره"   Disabled=true  @bind-Value="_Entity.FACTNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="FACTDATE" @ref="Ref_FACTDATE" Label="تاریخ"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.FACTDATE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="CREATOR" @ref="Ref_CREATOR" Label="نام تنظیم کننده"   Disabled=true  @bind-Value="_Entity.CREATOR" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"20\"}").Result))></Input>

<Input Id="MiladiDate" @ref="Ref_MiladiDate" Label="تاریخ میلادی"     @bind-Value="_Entity.MiladiDate" type="datetime-local"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="FACTOR" @ref="Ref_FACTOR" Label="عطف رسید"     @bind-Value="_Entity.FACTOR" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"11\"}").Result))></Input>

<Input Id="ORDERYEAR" @ref="Ref_ORDERYEAR" Label="سال درخواست خرید"     @bind-Value="_Entity.ORDERYEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-6">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_FACTBUYSELERCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"رسید\",\"primaryKey\":false,\"EntityID\":709,\"FieldId\":29917,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":964,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_person/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.code}} {{item.name}} </span>\",\"FieldsTemplate\":[{\"key\":\"code\",\"value\":\"nvarchar(Max)\"},{\"key\":\"name\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"code,name\",\"modal\":true,\"label\":\"فروشنده کد\",\"tableView\":true,\"key\":\"SELERCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29917?EId=709&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"SELERCODE_onitemselected\"}").Result;
}

    <Dropdown Id=SELERCODE  @ref="Ref_SELERCODE" Label="فروشنده کد" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.SELERCODE" FieldName="SELERCODE" OnItemSelected="ItemSelected_SH_PolFilm_FACTBUYSELERCODE" Component="Component_SH_PolFilm_FACTBUYSELERCODE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_FACTBUYSELERCODE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.SELERCODE = Selected.code;


    

    await SELERCODE_onitemselected( Selected);
    }
} 

</div>

<div class="col-md-6">
    
</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-6">
    
<Input Id="SELERNAME" @ref="Ref_SELERNAME" Label="فروشنده"   Disabled=true  @bind-Value="_Entity.SELERNAME" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</div>

<div class="col-md-6">
    
<Input Id="SelerAddr" @ref="Ref_SelerAddr" Label="آدرس فروشنده"   Disabled=true  @bind-Value="_Entity.SelerAddr" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-6">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_FACTBUYORDERNO = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"رسید\",\"primaryKey\":false,\"EntityID\":709,\"FieldId\":29914,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":964,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_anbordDTL/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"ORDERNO\",\"template\":\"<span>{{item.ORDERNO}} {{item.ORDERDATE}} {{item.TEMPNO}} {{item.OKFACTDATE}} </span>\",\"FieldsTemplate\":[{\"key\":\"ORDERNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"ORDERDATE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TEMPNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"OKFACTDATE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"درخواست خرید\",\"tableView\":true,\"key\":\"ORDERNO\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29914?EId=709&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=ORDERNO  @ref="Ref_ORDERNO" Label="درخواست خرید" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.ORDERNO" FieldName="ORDERNO" OnItemSelected="ItemSelected_SH_PolFilm_FACTBUYORDERNO" Component="Component_SH_PolFilm_FACTBUYORDERNO" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_FACTBUYORDERNO(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.ORDERNO = Selected.ORDERNO;


    

    
    }
} 

</div>

<div class="col-md-6">
    
</div>

</div>

<div class="row col_bg1 px-2">
    
<div class="col-md-6">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_FACTBUYINVCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"رسید\",\"primaryKey\":false,\"EntityID\":709,\"FieldId\":29913,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":964,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_INV/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"INVCODE\",\"template\":\"<span>{{item.INVNAME}} {{item.INVCODE}} </span>\",\"FieldsTemplate\":[{\"key\":\"INVNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"INVCODE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"INVCODE\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\"نام انبار\",\"tableView\":true,\"key\":\"INVCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29913?EId=709&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=INVCODE  @ref="Ref_INVCODE" Label="نام انبار" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.INVCODE" FieldName="INVCODE" OnItemSelected="ItemSelected_SH_PolFilm_FACTBUYINVCODE" Component="Component_SH_PolFilm_FACTBUYINVCODE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_FACTBUYINVCODE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.INVCODE = Selected.INVCODE;


    

    
    }
} 

</div>

<div class="col-md-6">
    
</div>

</div>

<div class="">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_FACTBUYPARTKIND = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"رسید\",\"primaryKey\":false,\"EntityID\":709,\"FieldId\":29916,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":964,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_partkind/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"PKINDVALUE\",\"template\":\"<span>{{item.PKINDNAME}} {{item.PKINDVALUE}} </span>\",\"FieldsTemplate\":[{\"key\":\"PKINDNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"PKINDVALUE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"نوع رسید (رسید کالا و مواد مصرفی1 اموال و اثاثیه 2 رسید مستقیم مصرف 3 رسید قطعه دغی 4)\",\"tableView\":true,\"key\":\"PARTKIND\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29916?EId=709&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=PARTKIND  @ref="Ref_PARTKIND" Label="نوع رسید (رسید کالا و مواد مصرفی1 اموال و اثاثیه 2 رسید مستقیم مصرف 3 رسید قطعه دغی 4)" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.PARTKIND" FieldName="PARTKIND" OnItemSelected="ItemSelected_SH_PolFilm_FACTBUYPARTKIND" Component="Component_SH_PolFilm_FACTBUYPARTKIND" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_FACTBUYPARTKIND(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.PARTKIND = Selected.PKINDVALUE;


    

    
    }
} 

<div class="row ">
    
<div class="col-md-6">
    
<Input Id="NOTE" @ref="Ref_NOTE" Label="توضیح"     @bind-Value="_Entity.NOTE" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"500\"}").Result))></Input>

</div>

<div class="col-md-6">
    
</div>

</div>

<div class="row ">
    
<div class="col-md-3">
    
<Input Id="YEAR" @ref="Ref_YEAR" Label="سال"     @bind-Value="_Entity.YEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

</div>

</div>

</div>

</div>

</div>
<div  class="">
    <hr class="hrdash bg-red">
</div>
<div  class="">
    <div id="resid_header" 
     class="rounded rounded-1 border border-0 fs-6 fw-bold p-2 d-flex justify-content-center align-items-center"
     style="background-color:#b38cff;">

  <span class="text-black">
    اقلام مصرفی توسط سازنده
  </span>

</div>

</div>
<label for="SH_PolFilm_FactBuyDetail_GridSH_PolFilm_FACTBUYId_710">جزئیات رسید
   
    
</label>

<DxGrid @ref="Grid_SH_PolFilm_FactBuyDetail" Data="_Entity.SH_PolFilm_FactBuyDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSH_PolFilm_FactBuyDetail"
        DataItemDeleting="OnDataItemDeletingSH_PolFilm_FactBuyDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزئیات رسید"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SH_PolFilm_FactBuyDetail"
        CustomizeElement="CustomizeRowsGrid_SH_PolFilm_FactBuyDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":710,\"FieldId\":710,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SH_PolFilm_FactBuyDetail\",\"GridMainModel\":\"SH_PolFilm_FactBuyDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزئیات رسید\",\"tableView\":true,\"key\":\"GridSH_PolFilm_FACTBUYId_710\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSH_PolFilm_FACTBUYId_710\",\"modalEdit\":true,\"FieldUrl\":\"710?EId=710&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"editmodelsaving\":\"GridSH_PolFilm_FACTBUYId_710_editmodelsaving\",\"afterrendermodal\":\"GridSH_PolFilm_FACTBUYId_710_afterrendermodal\"}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SH_PolFilm_FactBuyDetail_GridSH_PolFilm_FACTBUYId_710ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SH_PolFilm_FactBuyDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SH_PolFilm_FactBuyDetail_GridSH_PolFilm_FACTBUYId_710ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SH_PolFilm_FactBuyDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SH_PolFilm_FactBuyDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn Context="ProductSearch_" Caption="جستجو کالا" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":710,\"FieldId\":30853,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":964,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,desc,partno\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-6\",\"FieldUrl\":\"30853?EId=710&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"ProductSearch_onitemselected\"}").Result;
    var RowProductSearch = ((Entity.SH_PolFilm_FactBuyDetail)ProductSearch_.DataItem).ProductSearch;
}

<Dropdown ExternalApi=true CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6" NotMapped=false TextGrid=true Value="@RowProductSearch"   FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_PolFilm_FactBuyDetailProductSearch_Header" Component="HeaderProductSearch">
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_FactBuyDetailProductSearch_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   ProductSearch

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="html1_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="کد کالا"  FieldName="PARTCODE" />

<DxGridDataColumn  Caption="نام کالا"  FieldName="ProductName" />

<DxGridDataColumn  Caption="شماره فنی"  FieldName="ShomareFani" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار اول"  FieldName="AMOUNT" />

<DxGridDataColumn  Caption="واحدکالا"  FieldName="ProductUnit" />

<DxGridDataColumn  Caption="توضیحات"  FieldName="NoteD" />

<DxGridDataColumn Context="html2_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <hr class="hrdash bg-black">
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="ردیابی کالا"  FieldName="RADYABI" />

<DxGridDataColumn  Caption="سفارش کالاها"  FieldName="SEFARESH" />

<DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn DisplayFormat="0" Caption="ردیف دیتیل فرم" Visible=false FieldName="ROW_ID" />

<DxGridDataColumn DisplayFormat="0" Caption="سال"  FieldName="YEAR" />

<DxGridDataColumn Context="html_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextSH_PolFilm_FactBuyDetail">
    @{
        SH_PolFilm_FactBuyDetail  = (Entity.SH_PolFilm_FactBuyDetail)EditFormContextSH_PolFilm_FactBuyDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_FactBuyDetailProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":710,\"FieldId\":30853,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":964,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,desc,partno\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-6\",\"FieldUrl\":\"30853?EId=710&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"ProductSearch_onitemselected\"}").Result;
}

    <Dropdown Id=SH_PolFilm_FactBuyDetail_ProductSearch  @ref="Ref_SH_PolFilm_FactBuyDetail_ProductSearch" Label="جستجو کالا" CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6"  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SH_PolFilm_FactBuyDetail.ProductSearch" FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_PolFilm_FactBuyDetailProductSearch" Component="Component_SH_PolFilm_FactBuyDetailProductSearch" _Entity="_Entity" _EntityRow=SH_PolFilm_FactBuyDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_FactBuyDetailProductSearch(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_PolFilm_FactBuyDetail;

    Item.ProductSearch = Selected.partcode;


    

    await ProductSearch_onitemselected( Selected , SH_PolFilm_FactBuyDetail);
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_PARTCODE" @ref="Ref_SH_PolFilm_FactBuyDetail_PARTCODE" Label="کد کالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SH_PolFilm_FactBuyDetail.PARTCODE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"150\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_ProductName" @ref="Ref_SH_PolFilm_FactBuyDetail_ProductName" Label="نام کالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SH_PolFilm_FactBuyDetail.ProductName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"300\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_ShomareFani" @ref="Ref_SH_PolFilm_FactBuyDetail_ShomareFani" Label="شماره فنی"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-2" Disabled=true  @bind-Value="SH_PolFilm_FactBuyDetail.ShomareFani" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"150\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_AMOUNT" @ref="Ref_SH_PolFilm_FactBuyDetail_AMOUNT" Label="مقدار اول"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-2"   @bind-Value="SH_PolFilm_FactBuyDetail.AMOUNT" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_ProductUnit" @ref="Ref_SH_PolFilm_FactBuyDetail_ProductUnit" Label="واحدکالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-2" Disabled=true  @bind-Value="SH_PolFilm_FactBuyDetail.ProductUnit" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"150\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_NoteD" @ref="Ref_SH_PolFilm_FactBuyDetail_NoteD" Label="توضیحات"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6"   @bind-Value="SH_PolFilm_FactBuyDetail.NoteD" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <hr class="hrdash bg-black">
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_RADYABI" @ref="Ref_SH_PolFilm_FactBuyDetail_RADYABI" Label="ردیابی کالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6"   @bind-Value="SH_PolFilm_FactBuyDetail.RADYABI" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"30\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_SEFARESH" @ref="Ref_SH_PolFilm_FactBuyDetail_SEFARESH" Label="سفارش کالاها"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6"   @bind-Value="SH_PolFilm_FactBuyDetail.SEFARESH" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"30\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_Id" @ref="Ref_SH_PolFilm_FactBuyDetail_Id"   CssClass="d-none"   @bind-Value="SH_PolFilm_FactBuyDetail.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_RequestID" @ref="Ref_SH_PolFilm_FactBuyDetail_RequestID"      @bind-Value="SH_PolFilm_FactBuyDetail.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_CreateUser" @ref="Ref_SH_PolFilm_FactBuyDetail_CreateUser"      @bind-Value="SH_PolFilm_FactBuyDetail.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_UpdateUser" @ref="Ref_SH_PolFilm_FactBuyDetail_UpdateUser"      @bind-Value="SH_PolFilm_FactBuyDetail.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_CreateDate" @ref="Ref_SH_PolFilm_FactBuyDetail_CreateDate"   CssClass="d-none"   @bind-Value="SH_PolFilm_FactBuyDetail.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_UpdateDate" @ref="Ref_SH_PolFilm_FactBuyDetail_UpdateDate"   CssClass="d-none"   @bind-Value="SH_PolFilm_FactBuyDetail.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_IsDelete" @ref="Ref_SH_PolFilm_FactBuyDetail_IsDelete"   CssClass="d-none"   @bind-Value="SH_PolFilm_FactBuyDetail.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_ROW_ID" @ref="Ref_SH_PolFilm_FactBuyDetail_ROW_ID" Label="ردیف دیتیل فرم"  CssClass="d-none" Disabled=true  @bind-Value="SH_PolFilm_FactBuyDetail.ROW_ID" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    
<Input Id="SH_PolFilm_FactBuyDetail_YEAR" @ref="Ref_SH_PolFilm_FactBuyDetail_YEAR" Label="سال"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-2 "   @bind-Value="SH_PolFilm_FactBuyDetail.YEAR" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_PolFilm_FactBuyDetail">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-6">
    
</div>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSH_PolFilm_FactBuyDetail" CssClass="btn-modal-custom">
            <DxButton Id="SH_PolFilm_FactBuyDetail_GridSH_PolFilm_FACTBUYId_710ButtonSave" Click="@(() => SaveModalGrid_SH_PolFilm_FactBuyDetail(EditFormContextSH_PolFilm_FactBuyDetail))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SH_PolFilm_FactBuyDetail_GridSH_PolFilm_FACTBUYId_710ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_SH_PolFilm_FactBuyDetail(EditFormContextSH_PolFilm_FactBuyDetail))" CssClass="btn btn-green" />


            <DxButton Id="SH_PolFilm_FactBuyDetail_GridSH_PolFilm_FACTBUYId_710ButtonCancel" Click="@(() => Grid_SH_PolFilm_FactBuyDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SH_PolFilm_FactBuyDetail_GridSH_PolFilm_FACTBUYId_710ButtonBefore" Click="@(() => Dialog_Grid_SH_PolFilm_FactBuyDetail(0,IndexGrid_SH_PolFilm_FactBuyDetail,EditFormContextSH_PolFilm_FactBuyDetail))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SH_PolFilm_FactBuyDetail_GridSH_PolFilm_FACTBUYId_710ButtonNext" Click="@(() => Dialog_Grid_SH_PolFilm_FactBuyDetail(1,IndexGrid_SH_PolFilm_FactBuyDetail,EditFormContextSH_PolFilm_FactBuyDetail))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSH_PolFilm_FactBuyDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SH_PolFilm_FactBuyDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SH_PolFilm_FactBuyDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSH_PolFilm_FactBuyDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSH_PolFilm_FactBuyDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSH_PolFilm_FactBuyDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SH_PolFilm_FactBuyDetail;
    Entity.SH_PolFilm_FactBuyDetail SH_PolFilm_FactBuyDetail;
    bool ConfirmationShownSH_PolFilm_FactBuyDetail { get; set; } = false;
    public Entity.SH_PolFilm_FactBuyDetail SelectedItemGrid_SH_PolFilm_FactBuyDetail { get; set; } = new Entity.SH_PolFilm_FactBuyDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SH_PolFilm_FactBuyDetail { get; set; }

    ///////////////////////
    bool ConfirmationSH_PolFilm_FactBuyDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSH_PolFilm_FactBuyDetail { get; set; }
    public int OpenDialogCodeSH_PolFilm_FactBuyDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSH_PolFilm_FactBuyDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       NotValid = await GridSH_PolFilm_FACTBUYId_710_editmodelsaving(e);
        
      if (!NotValid)
     {
      SaveGrid_SH_PolFilm_FactBuyDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SH_PolFilm_FactBuyDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSH_PolFilm_FactBuyDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSH_PolFilm_FactBuyDetail = e;
    ConfirmationSH_PolFilm_FactBuyDetail = true;
    }
    else
    {
    await OnNoButtonSH_PolFilm_FactBuyDetail();
    }
}
async Task OnYesButtonSH_PolFilm_FactBuyDetail()
{

    ConfirmationSH_PolFilm_FactBuyDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSH_PolFilm_FactBuyDetail.EditModel;
         //events
         NotValid = await GridSH_PolFilm_FACTBUYId_710_editmodelsaving(e);

        if (!NotValid)
         {
        SaveGrid_SH_PolFilm_FactBuyDetail(_ContextFormTemplateSH_PolFilm_FactBuyDetail.DataItem, _ContextFormTemplateSH_PolFilm_FactBuyDetail.EditModel);
            await Grid_SH_PolFilm_FactBuyDetail.CancelEditAsync();
         await ChangePageGrid_SH_PolFilm_FactBuyDetail();
         await SetEditFormContextGrid_SH_PolFilm_FactBuyDetail();
         }
          
    }

}
async Task OnNoButtonSH_PolFilm_FactBuyDetail()
{
    ConfirmationSH_PolFilm_FactBuyDetail = false;
    await ChangePageGrid_SH_PolFilm_FactBuyDetail();
    await SetEditFormContextGrid_SH_PolFilm_FactBuyDetail();

}
async Task SetEditFormContextGrid_SH_PolFilm_FactBuyDetail()
{
    var e = (Entity.SH_PolFilm_FactBuyDetail)Grid_SH_PolFilm_FactBuyDetail.GetDataItem(IndexGrid_SH_PolFilm_FactBuyDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SH_PolFilm_FactBuyDetail()
{
    int VisibleIndex = IndexGrid_SH_PolFilm_FactBuyDetail;
    try
    {
    if (OpenDialogCodeSH_PolFilm_FactBuyDetail == 1)
    {
        if (VisibleIndex != (Grid_SH_PolFilm_FactBuyDetail.GetVisibleRowCount() - 1))
    { 
            Grid_SH_PolFilm_FactBuyDetail.CancelEditAsync();
            IndexGrid_SH_PolFilm_FactBuyDetail = VisibleIndex + 1;
    Grid_SH_PolFilm_FactBuyDetail.StartEditRowAsync(IndexGrid_SH_PolFilm_FactBuyDetail);
    }
    }
    else if (OpenDialogCodeSH_PolFilm_FactBuyDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SH_PolFilm_FactBuyDetail.CancelEditAsync();
            IndexGrid_SH_PolFilm_FactBuyDetail = VisibleIndex - 1;
    Grid_SH_PolFilm_FactBuyDetail.StartEditRowAsync(IndexGrid_SH_PolFilm_FactBuyDetail);
    }

    }
    var e = (Entity.SH_PolFilm_FactBuyDetail)Grid_SH_PolFilm_FactBuyDetail.GetDataItem(IndexGrid_SH_PolFilm_FactBuyDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    await GridSH_PolFilm_FACTBUYId_710_afterrendermodal(e);
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SH_PolFilm_FactBuyDetail()
{
    IndexGrid_SH_PolFilm_FactBuyDetail = Grid_SH_PolFilm_FactBuyDetail.GetVisibleRowCount();
Grid_SH_PolFilm_FactBuyDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SH_PolFilm_FactBuyDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await GridSH_PolFilm_FACTBUYId_710_afterrendermodal(e);
}

async Task StartModalGrid_SH_PolFilm_FactBuyDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SH_PolFilm_FactBuyDetail = Context.VisibleIndex;
Grid_SH_PolFilm_FactBuyDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SH_PolFilm_FactBuyDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await GridSH_PolFilm_FACTBUYId_710_afterrendermodal(e);
   // await Task.Delay(500);
}
public async Task SaveModalGrid_SH_PolFilm_FactBuyDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    NotValid = await GridSH_PolFilm_FACTBUYId_710_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_SH_PolFilm_FactBuyDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SH_PolFilm_FactBuyDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    NotValid = await GridSH_PolFilm_FACTBUYId_710_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_SH_PolFilm_FactBuyDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SH_PolFilm_FactBuyDetail();

    }
          
    }
   
}

void PerviousPageGrid_SH_PolFilm_FactBuyDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SH_PolFilm_FactBuyDetail.CancelEditAsync();
        IndexGrid_SH_PolFilm_FactBuyDetail = VisibleIndex - 1;
         Grid_SH_PolFilm_FactBuyDetail.StartEditRowAsync(IndexGrid_SH_PolFilm_FactBuyDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SH_PolFilm_FactBuyDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_SH_PolFilm_FactBuyDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SH_PolFilm_FactBuyDetail ");
    try
    {
Grid_SH_PolFilm_FactBuyDetail.CancelEditAsync();
        IndexGrid_SH_PolFilm_FactBuyDetail = VisibleIndex + 1;
         Grid_SH_PolFilm_FactBuyDetail.StartEditRowAsync(IndexGrid_SH_PolFilm_FactBuyDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SH_PolFilm_FactBuyDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SH_PolFilm_FactBuyDetail;
    var MainModel = (Entity.SH_PolFilm_FactBuyDetail)DataItem;
    if (MainModel != null)
    {
MainModel.ProductSearch = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).ProductSearch;
MainModel.PARTCODE = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).PARTCODE;
MainModel.ProductName = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).ProductName;
MainModel.ShomareFani = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).ShomareFani;
MainModel.AMOUNT = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).AMOUNT;
MainModel.ProductUnit = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).ProductUnit;
MainModel.NoteD = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).NoteD;
MainModel.RADYABI = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).RADYABI;
MainModel.SEFARESH = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).SEFARESH;
MainModel.Id = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).Id;
MainModel.RequestID = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).IsDelete;
MainModel.ROW_ID = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).ROW_ID;
MainModel.YEAR = ((Entity.SH_PolFilm_FactBuyDetail)EditModel).YEAR;

    }
    else
    {
    ListEntity.Add((Entity.SH_PolFilm_FactBuyDetail)EditModel);
    }
}

async Task OnDataItemDeletingSH_PolFilm_FactBuyDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SH_PolFilm_FactBuyDetail;
    ListEntity.Remove((Entity.SH_PolFilm_FactBuyDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_SH_PolFilm_FactBuyDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SH_PolFilm_FactBuyDetail = (ex.DataItem as Entity.SH_PolFilm_FactBuyDetail);
    var e =SelectedItemGrid_SH_PolFilm_FactBuyDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSH_PolFilm_FactBuyDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SH_PolFilm_FactBuyDetail ()
{
       if (SelectedItemGrid_SH_PolFilm_FactBuyDetail != null)
    {
      if (SelectedItemGrid_SH_PolFilm_FactBuyDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SH_PolFilm_FactBuyDetail;
        ListEntity.Remove((Entity.SH_PolFilm_FactBuyDetail)SelectedItemGrid_SH_PolFilm_FactBuyDetail);
     
      }
      else
      {
        var cleanModel = new Entity.SH_PolFilm_FactBuyDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SH_PolFilm_FactBuyDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SH_PolFilm_FactBuyDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SH_PolFilm_FactBuyDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SH_PolFilm_FactBuyDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SH_PolFilm_FactBuyDetail;
    
    Grid_SH_PolFilm_FactBuyDetail.Reload();
    ConfirmationShownSH_PolFilm_FactBuyDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SH_PolFilm_FactBuyDetail ()
{
    ConfirmationShownSH_PolFilm_FactBuyDetail = false;
}

void CustomizeRowsGrid_SH_PolFilm_FactBuyDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SH_PolFilm_FactBuyDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SH_PolFilm_FactBuyDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SH_PolFilm_FactBuyDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_SH_PolFilm_FactBuyDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SH_PolFilm_FactBuyDetail(GridRowClickEventArgs e)
{

}
}

<Input Id="ApiResult" @ref="Ref_ApiResult" Label="ApiResult"     @bind-Value="_Entity.ApiResult" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

<div class="col-md-12">
    
</div>

<div class="col-md-12">
    
</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_PolFilm_FACTBUY\",\"GetNameAs\":\"SH_PolFilm_FACTBUY\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"FACTDATE\",\"GetNameAs\":\"FACTDATE\"},{\"Name\":\"FACTOR\",\"GetNameAs\":\"FACTOR\"},{\"Name\":\"INVCODE\",\"GetNameAs\":\"INVCODE\"},{\"Name\":\"ORDERNO\",\"GetNameAs\":\"ORDERNO\"},{\"Name\":\"ORDERYEAR\",\"GetNameAs\":\"ORDERYEAR\"},{\"Name\":\"PARTKIND\",\"GetNameAs\":\"PARTKIND\"},{\"Name\":\"SELERCODE\",\"GetNameAs\":\"SELERCODE\"},{\"Name\":\"SELERNAME\",\"GetNameAs\":\"SELERNAME\"},{\"Name\":\"NOTE\",\"GetNameAs\":\"NOTE\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"},{\"Name\":\"FactBuy_List\",\"GetNameAs\":\"FactBuy_List\"},{\"Name\":\"SelerAddr\",\"GetNameAs\":\"SelerAddr\"},{\"Name\":\"MiladiDate\",\"GetNameAs\":\"MiladiDate\"}],\"Relation\":[{\"Name\":\"SH_PolFilm_FactBuyDetail\",\"GetNameAs\":\"SH_PolFilm_FactBuyDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"AMOUNT\",\"GetNameAs\":\"AMOUNT\"},{\"Name\":\"PARTCODE\",\"GetNameAs\":\"PARTCODE\"},{\"Name\":\"RADYABI\",\"GetNameAs\":\"RADYABI\"},{\"Name\":\"SEFARESH\",\"GetNameAs\":\"SEFARESH\"},{\"Name\":\"ROW_ID\",\"GetNameAs\":\"ROW_ID\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"NoteD\",\"GetNameAs\":\"NoteD\"},{\"Name\":\"ShomareFani\",\"GetNameAs\":\"ShomareFani\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"ProductUnit\",\"GetNameAs\":\"ProductUnit\"}],\"Relation\":[]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_PolFilm_FACTBUY\",\"GetNameAs\":\"SH_PolFilm_FACTBUY\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"FACTDATE\",\"GetNameAs\":\"FACTDATE\"},{\"Name\":\"FACTOR\",\"GetNameAs\":\"FACTOR\"},{\"Name\":\"INVCODE\",\"GetNameAs\":\"INVCODE\"},{\"Name\":\"ORDERNO\",\"GetNameAs\":\"ORDERNO\"},{\"Name\":\"ORDERYEAR\",\"GetNameAs\":\"ORDERYEAR\"},{\"Name\":\"PARTKIND\",\"GetNameAs\":\"PARTKIND\"},{\"Name\":\"SELERCODE\",\"GetNameAs\":\"SELERCODE\"},{\"Name\":\"SELERNAME\",\"GetNameAs\":\"SELERNAME\"},{\"Name\":\"NOTE\",\"GetNameAs\":\"NOTE\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"},{\"Name\":\"FactBuy_List\",\"GetNameAs\":\"FactBuy_List\"},{\"Name\":\"SelerAddr\",\"GetNameAs\":\"SelerAddr\"},{\"Name\":\"MiladiDate\",\"GetNameAs\":\"MiladiDate\"}],\"Relation\":[{\"Name\":\"SH_PolFilm_FactBuyDetail\",\"GetNameAs\":\"SH_PolFilm_FactBuyDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"AMOUNT\",\"GetNameAs\":\"AMOUNT\"},{\"Name\":\"PARTCODE\",\"GetNameAs\":\"PARTCODE\"},{\"Name\":\"RADYABI\",\"GetNameAs\":\"RADYABI\"},{\"Name\":\"SEFARESH\",\"GetNameAs\":\"SEFARESH\"},{\"Name\":\"ROW_ID\",\"GetNameAs\":\"ROW_ID\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"NoteD\",\"GetNameAs\":\"NoteD\"},{\"Name\":\"ShomareFani\",\"GetNameAs\":\"ShomareFani\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"ProductUnit\",\"GetNameAs\":\"ProductUnit\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SH_PolFilm_FACTBUY>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SH_PolFilm_FACTBUY();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SH_PolFilm_FACTBUY>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
