@inherits Forms.Forms.Form_1083_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="AnnarrNo" @ref="Ref_AnnarrNo" Label="شماره"     @bind-Value="_Entity.AnnarrNo" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="ANNARRDATE" @ref="Ref_ANNARRDATE" Label="تاریخ اعلامیه"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.ANNARRDATE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

<Input Id="TEMPNO" @ref="Ref_TEMPNO" Label="شماره عطف"     @bind-Value="_Entity.TEMPNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CREATOR" @ref="Ref_CREATOR" Label="تنظیم کننده"     @bind-Value="_Entity.CREATOR" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="ContractType" @ref="Ref_ContractType" Label="نوع قرارداد"     @bind-Value="_Entity.ContractType" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_AnnarrCONCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"اعلامیه ورود\",\"primaryKey\":false,\"EntityID\":830,\"FieldId\":32393,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1083,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_person/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.name}} {{item.code}} {{item.HOMEADDR}} {{item.WORKADDR}} </span>\",\"FieldsTemplate\":[{\"key\":\"name\",\"value\":\"nvarchar(Max)\"},{\"key\":\"code\",\"value\":\"nvarchar(Max)\"},{\"key\":\"HOMEADDR\",\"value\":\"nvarchar(Max)\"},{\"key\":\"WORKADDR\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"code,name\",\"modal\":true,\"label\":\"تامین کننده\",\"tableView\":true,\"key\":\"CONCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32393?EId=830&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=CONCODE  @ref="Ref_CONCODE" Label="تامین کننده" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.CONCODE" FieldName="CONCODE" OnItemSelected="ItemSelected_SH_ATLASCELL_AnnarrCONCODE" Component="Component_SH_ATLASCELL_AnnarrCONCODE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_AnnarrCONCODE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.CONCODE = Selected.code;


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_AnnarrORDERNO = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"اعلامیه ورود\",\"primaryKey\":false,\"EntityID\":830,\"FieldId\":32394,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1083,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_anbordDTL/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"ORDERNO\",\"template\":\"<span>{{item.ORDERNO}} {{item.TEMPNO}} {{item.ORDERDATE}} </span>\",\"FieldsTemplate\":[{\"key\":\"ORDERNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TEMPNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"ORDERDATE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"ORDERNO,TEMPNO\",\"modal\":true,\"label\":\"درخواست خرید\",\"tableView\":true,\"key\":\"ORDERNO\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32394?EId=830&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=ORDERNO  @ref="Ref_ORDERNO" Label="درخواست خرید" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.ORDERNO" FieldName="ORDERNO" OnItemSelected="ItemSelected_SH_ATLASCELL_AnnarrORDERNO" Component="Component_SH_ATLASCELL_AnnarrORDERNO" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_AnnarrORDERNO(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.ORDERNO = Selected.ORDERNO;


    

    
    }
} 

<Input Id="ConfirmDate" @ref="Ref_ConfirmDate" Label="تاریخ تایید درخواست"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.ConfirmDate" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

<Input Id="Person" @ref="Ref_Person" Label="نام درخواست کننده"     @bind-Value="_Entity.Person" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Description" @ref="Ref_Description" Label="توضیحات"     @bind-Value="_Entity.Description" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="YEAR" @ref="Ref_YEAR" Label="سال"     @bind-Value="_Entity.YEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="ORDERYEAR" @ref="Ref_ORDERYEAR" Label="سال درخواست خرید"     @bind-Value="_Entity.ORDERYEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_AnnarrAnnarr_List = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"اعلامیه ورود\",\"primaryKey\":false,\"EntityID\":830,\"FieldId\":32400,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1083,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_Annarrdtl/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"ORDERNO\",\"template\":\"<span>{{item.ORDERNO}} {{item.ORDERDATE}} {{item.TEMPNO}} </span>\",\"FieldsTemplate\":[{\"key\":\"ORDERNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"ORDERDATE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TEMPNO\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"ORDERNO,TEMPNO\",\"modal\":true,\"label\":\"فهرست اصلی اعلامیه ورود کالا\",\"tableView\":true,\"key\":\"Annarr_List\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32400?EId=830&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=Annarr_List  @ref="Ref_Annarr_List" Label="فهرست اصلی اعلامیه ورود کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.Annarr_List" FieldName="Annarr_List" OnItemSelected="ItemSelected_SH_ATLASCELL_AnnarrAnnarr_List" Component="Component_SH_ATLASCELL_AnnarrAnnarr_List" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_AnnarrAnnarr_List(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.Annarr_List = Selected.ORDERNO;


    

    
    }
} 

<Input Id="ApiResult" @ref="Ref_ApiResult" Label="ApiResult"     @bind-Value="_Entity.ApiResult" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="SH_ATLASCELL_AnnarrDetail_GridSH_ATLASCELL_AnnarrId_831">جزئیات اعلامیه ورود
   
    
</label>

<DxGrid @ref="Grid_SH_ATLASCELL_AnnarrDetail" Data="_Entity.SH_ATLASCELL_AnnarrDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSH_ATLASCELL_AnnarrDetail"
        DataItemDeleting="OnDataItemDeletingSH_ATLASCELL_AnnarrDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزئیات اعلامیه ورود"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SH_ATLASCELL_AnnarrDetail"
        CustomizeElement="CustomizeRowsGrid_SH_ATLASCELL_AnnarrDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":831,\"FieldId\":831,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SH_ATLASCELL_AnnarrDetail\",\"GridMainModel\":\"SH_ATLASCELL_AnnarrDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزئیات اعلامیه ورود\",\"tableView\":true,\"key\":\"GridSH_ATLASCELL_AnnarrId_831\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSH_ATLASCELL_AnnarrId_831\",\"modalEdit\":true,\"FieldUrl\":\"831?EId=831&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SH_ATLASCELL_AnnarrDetail_GridSH_ATLASCELL_AnnarrId_831ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SH_ATLASCELL_AnnarrDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SH_ATLASCELL_AnnarrDetail_GridSH_ATLASCELL_AnnarrId_831ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SH_ATLASCELL_AnnarrDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SH_ATLASCELL_AnnarrDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn Context="ProductSearch_" Caption="جستجو کالا" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":831,\"FieldId\":32409,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1083,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit1}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit1\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32409?EId=831&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowProductSearch = ((Entity.SH_ATLASCELL_AnnarrDetail)ProductSearch_.DataItem).ProductSearch;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowProductSearch"   FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_ATLASCELL_AnnarrDetailProductSearch_Header" Component="HeaderProductSearch">
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_AnnarrDetailProductSearch_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   ProductSearch

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="کد کالا"  FieldName="PARTCODE" />

<DxGridDataColumn  Caption="نام کالا"  FieldName="ProductName" />

<DxGridDataColumn  Caption="شماره فنی"  FieldName="ShomareFani" />

<DxGridDataColumn  Caption="واحد"  FieldName="Unit" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار1"  FieldName="ARRAMOUNT" />

<DxGridDataColumn  Caption="ردیابی"  FieldName="RADYABI" />

<DxGridDataColumn  Caption="سفارش"  FieldName="SEFARESH" />

<DxGridDataColumn  Caption="ردیف دیتیل"  FieldName="RowId" />

<DxGridDataColumn DisplayFormat="0" Caption="سال"  FieldName="YEAR" />

<DxGridDataColumn  Caption="توضیحات"  FieldName="DESC2" />

<DxGridDataColumn Context="SH_ATLASCELL_AnnarrId_" Caption="شناسه اصلی SH_ATLASCELL_Annarr" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSH_ATLASCELL_AnnarrId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":831,\"FieldId\":32559,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1083,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SH_ATLASCELL_Annarr\",\"RelationParentModel\":\"SH_ATLASCELL_Annarr\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SH_ATLASCELL_Annarr/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شناسه اصلی SH_ATLASCELL_Annarr\",\"tableView\":true,\"key\":\"SH_ATLASCELL_AnnarrId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32559?EId=831&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSH_ATLASCELL_AnnarrId = ((Entity.SH_ATLASCELL_AnnarrDetail)SH_ATLASCELL_AnnarrId_.DataItem).SH_ATLASCELL_AnnarrId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSH_ATLASCELL_AnnarrId"   FieldName="SH_ATLASCELL_AnnarrId" OnItemSelected="ItemSelected_SH_ATLASCELL_AnnarrDetailSH_ATLASCELL_AnnarrId_Header" Component="HeaderSH_ATLASCELL_AnnarrId">
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_AnnarrDetailSH_ATLASCELL_AnnarrId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SH_ATLASCELL_AnnarrId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextSH_ATLASCELL_AnnarrDetail">
    @{
        SH_ATLASCELL_AnnarrDetail  = (Entity.SH_ATLASCELL_AnnarrDetail)EditFormContextSH_ATLASCELL_AnnarrDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_AnnarrDetailProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":831,\"FieldId\":32409,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1083,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit1}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit1\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32409?EId=831&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SH_ATLASCELL_AnnarrDetail_ProductSearch  @ref="Ref_SH_ATLASCELL_AnnarrDetail_ProductSearch" Label="جستجو کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SH_ATLASCELL_AnnarrDetail.ProductSearch" FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_ATLASCELL_AnnarrDetailProductSearch" Component="Component_SH_ATLASCELL_AnnarrDetailProductSearch" _Entity="_Entity" _EntityRow=SH_ATLASCELL_AnnarrDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_AnnarrDetailProductSearch(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_ATLASCELL_AnnarrDetail;

    Item.ProductSearch = Selected.partcode;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
    
<Input Id="SH_ATLASCELL_AnnarrDetail_PARTCODE" @ref="Ref_SH_ATLASCELL_AnnarrDetail_PARTCODE" Label="کد کالا"     @bind-Value="SH_ATLASCELL_AnnarrDetail.PARTCODE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
    
<Input Id="SH_ATLASCELL_AnnarrDetail_ProductName" @ref="Ref_SH_ATLASCELL_AnnarrDetail_ProductName" Label="نام کالا"     @bind-Value="SH_ATLASCELL_AnnarrDetail.ProductName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
    
<Input Id="SH_ATLASCELL_AnnarrDetail_ShomareFani" @ref="Ref_SH_ATLASCELL_AnnarrDetail_ShomareFani" Label="شماره فنی"     @bind-Value="SH_ATLASCELL_AnnarrDetail.ShomareFani" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
    
<Input Id="SH_ATLASCELL_AnnarrDetail_Unit" @ref="Ref_SH_ATLASCELL_AnnarrDetail_Unit" Label="واحد"     @bind-Value="SH_ATLASCELL_AnnarrDetail.Unit" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
    
<Input Id="SH_ATLASCELL_AnnarrDetail_ARRAMOUNT" @ref="Ref_SH_ATLASCELL_AnnarrDetail_ARRAMOUNT" Label="مقدار1"     @bind-Value="SH_ATLASCELL_AnnarrDetail.ARRAMOUNT" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
    
<Input Id="SH_ATLASCELL_AnnarrDetail_RADYABI" @ref="Ref_SH_ATLASCELL_AnnarrDetail_RADYABI" Label="ردیابی"     @bind-Value="SH_ATLASCELL_AnnarrDetail.RADYABI" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
    
<Input Id="SH_ATLASCELL_AnnarrDetail_SEFARESH" @ref="Ref_SH_ATLASCELL_AnnarrDetail_SEFARESH" Label="سفارش"     @bind-Value="SH_ATLASCELL_AnnarrDetail.SEFARESH" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
    
<Input Id="SH_ATLASCELL_AnnarrDetail_RowId" @ref="Ref_SH_ATLASCELL_AnnarrDetail_RowId" Label="ردیف دیتیل"     @bind-Value="SH_ATLASCELL_AnnarrDetail.RowId" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
    
<Input Id="SH_ATLASCELL_AnnarrDetail_YEAR" @ref="Ref_SH_ATLASCELL_AnnarrDetail_YEAR" Label="سال"     @bind-Value="SH_ATLASCELL_AnnarrDetail.YEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
    
<Input Id="SH_ATLASCELL_AnnarrDetail_DESC2" @ref="Ref_SH_ATLASCELL_AnnarrDetail_DESC2" Label="توضیحات"     @bind-Value="SH_ATLASCELL_AnnarrDetail.DESC2" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_AnnarrDetailSH_ATLASCELL_AnnarrId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":831,\"FieldId\":32559,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1083,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SH_ATLASCELL_Annarr\",\"RelationParentModel\":\"SH_ATLASCELL_Annarr\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SH_ATLASCELL_Annarr/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شناسه اصلی SH_ATLASCELL_Annarr\",\"tableView\":true,\"key\":\"SH_ATLASCELL_AnnarrId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32559?EId=831&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SH_ATLASCELL_AnnarrDetail_SH_ATLASCELL_AnnarrId  @ref="Ref_SH_ATLASCELL_AnnarrDetail_SH_ATLASCELL_AnnarrId" Label="شناسه اصلی SH_ATLASCELL_Annarr" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SH_ATLASCELL_AnnarrDetail.SH_ATLASCELL_AnnarrId" FieldName="SH_ATLASCELL_AnnarrId" OnItemSelected="ItemSelected_SH_ATLASCELL_AnnarrDetailSH_ATLASCELL_AnnarrId" Component="Component_SH_ATLASCELL_AnnarrDetailSH_ATLASCELL_AnnarrId" _Entity="_Entity" _EntityRow=SH_ATLASCELL_AnnarrDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_AnnarrDetailSH_ATLASCELL_AnnarrId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_ATLASCELL_AnnarrDetail;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SH_ATLASCELL_AnnarrId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SH_ATLASCELL_AnnarrId =EntityHelper.SetPropertyNull(Item.SH_ATLASCELL_AnnarrId);
 }
 Item.SH_ATLASCELL_Annarr = await Utility.JSON.ToObject<Entity.SH_ATLASCELL_Annarr>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSH_ATLASCELL_AnnarrDetail" CssClass="btn-modal-custom">
            <DxButton Id="SH_ATLASCELL_AnnarrDetail_GridSH_ATLASCELL_AnnarrId_831ButtonSave" Click="@(() => SaveModalGrid_SH_ATLASCELL_AnnarrDetail(EditFormContextSH_ATLASCELL_AnnarrDetail))" Text="@languageContainer.Keys["DXGrid:Ok"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SH_ATLASCELL_AnnarrDetail_GridSH_ATLASCELL_AnnarrId_831ButtonSaveAndNew"    Text="@languageContainer.Keys["DXGrid:OkAndNew"]" Click="@(() => SaveAndNewGrid_SH_ATLASCELL_AnnarrDetail(EditFormContextSH_ATLASCELL_AnnarrDetail))" CssClass="btn btn-green" />


            <DxButton Id="SH_ATLASCELL_AnnarrDetail_GridSH_ATLASCELL_AnnarrId_831ButtonCancel" Click="@(() => Grid_SH_ATLASCELL_AnnarrDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SH_ATLASCELL_AnnarrDetail_GridSH_ATLASCELL_AnnarrId_831ButtonBefore" Click="@(() => Dialog_Grid_SH_ATLASCELL_AnnarrDetail(0,IndexGrid_SH_ATLASCELL_AnnarrDetail,EditFormContextSH_ATLASCELL_AnnarrDetail))" Text="@languageContainer.Keys["DXGrid:Prev"]" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SH_ATLASCELL_AnnarrDetail_GridSH_ATLASCELL_AnnarrId_831ButtonNext" Click="@(() => Dialog_Grid_SH_ATLASCELL_AnnarrDetail(1,IndexGrid_SH_ATLASCELL_AnnarrDetail,EditFormContextSH_ATLASCELL_AnnarrDetail))" Text="@languageContainer.Keys["DXGrid:Next"]" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSH_ATLASCELL_AnnarrDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SH_ATLASCELL_AnnarrDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SH_ATLASCELL_AnnarrDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSH_ATLASCELL_AnnarrDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSH_ATLASCELL_AnnarrDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSH_ATLASCELL_AnnarrDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SH_ATLASCELL_AnnarrDetail;
    Entity.SH_ATLASCELL_AnnarrDetail SH_ATLASCELL_AnnarrDetail;
    bool ConfirmationShownSH_ATLASCELL_AnnarrDetail { get; set; } = false;
    public Entity.SH_ATLASCELL_AnnarrDetail SelectedItemGrid_SH_ATLASCELL_AnnarrDetail { get; set; } = new Entity.SH_ATLASCELL_AnnarrDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SH_ATLASCELL_AnnarrDetail { get; set; }

    ///////////////////////
    bool ConfirmationSH_ATLASCELL_AnnarrDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSH_ATLASCELL_AnnarrDetail { get; set; }
    public int OpenDialogCodeSH_ATLASCELL_AnnarrDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSH_ATLASCELL_AnnarrDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SH_ATLASCELL_AnnarrDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SH_ATLASCELL_AnnarrDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSH_ATLASCELL_AnnarrDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSH_ATLASCELL_AnnarrDetail = e;
    ConfirmationSH_ATLASCELL_AnnarrDetail = true;
    }
    else
    {
    await OnNoButtonSH_ATLASCELL_AnnarrDetail();
    }
}
async Task OnYesButtonSH_ATLASCELL_AnnarrDetail()
{

    ConfirmationSH_ATLASCELL_AnnarrDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSH_ATLASCELL_AnnarrDetail.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SH_ATLASCELL_AnnarrDetail(_ContextFormTemplateSH_ATLASCELL_AnnarrDetail.DataItem, _ContextFormTemplateSH_ATLASCELL_AnnarrDetail.EditModel);
            await Grid_SH_ATLASCELL_AnnarrDetail.CancelEditAsync();
         await ChangePageGrid_SH_ATLASCELL_AnnarrDetail();
         await SetEditFormContextGrid_SH_ATLASCELL_AnnarrDetail();
         }
          
    }

}
async Task OnNoButtonSH_ATLASCELL_AnnarrDetail()
{
    ConfirmationSH_ATLASCELL_AnnarrDetail = false;
    await ChangePageGrid_SH_ATLASCELL_AnnarrDetail();
    await SetEditFormContextGrid_SH_ATLASCELL_AnnarrDetail();

}
async Task SetEditFormContextGrid_SH_ATLASCELL_AnnarrDetail()
{
    var e = (Entity.SH_ATLASCELL_AnnarrDetail)Grid_SH_ATLASCELL_AnnarrDetail.GetDataItem(IndexGrid_SH_ATLASCELL_AnnarrDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SH_ATLASCELL_AnnarrDetail()
{
    int VisibleIndex = IndexGrid_SH_ATLASCELL_AnnarrDetail;
    try
    {
    if (OpenDialogCodeSH_ATLASCELL_AnnarrDetail == 1)
    {
        if (VisibleIndex != (Grid_SH_ATLASCELL_AnnarrDetail.GetVisibleRowCount() - 1))
    { 
            Grid_SH_ATLASCELL_AnnarrDetail.CancelEditAsync();
            IndexGrid_SH_ATLASCELL_AnnarrDetail = VisibleIndex + 1;
    Grid_SH_ATLASCELL_AnnarrDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_AnnarrDetail);
    }
    }
    else if (OpenDialogCodeSH_ATLASCELL_AnnarrDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SH_ATLASCELL_AnnarrDetail.CancelEditAsync();
            IndexGrid_SH_ATLASCELL_AnnarrDetail = VisibleIndex - 1;
    Grid_SH_ATLASCELL_AnnarrDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_AnnarrDetail);
    }

    }
    var e = (Entity.SH_ATLASCELL_AnnarrDetail)Grid_SH_ATLASCELL_AnnarrDetail.GetDataItem(IndexGrid_SH_ATLASCELL_AnnarrDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SH_ATLASCELL_AnnarrDetail()
{
    IndexGrid_SH_ATLASCELL_AnnarrDetail = Grid_SH_ATLASCELL_AnnarrDetail.GetVisibleRowCount();
Grid_SH_ATLASCELL_AnnarrDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SH_ATLASCELL_AnnarrDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SH_ATLASCELL_AnnarrDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SH_ATLASCELL_AnnarrDetail = Context.VisibleIndex;
Grid_SH_ATLASCELL_AnnarrDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SH_ATLASCELL_AnnarrDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SH_ATLASCELL_AnnarrDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SH_ATLASCELL_AnnarrDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SH_ATLASCELL_AnnarrDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SH_ATLASCELL_AnnarrDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SH_ATLASCELL_AnnarrDetail();

    }
          
    }
   
}

void PerviousPageGrid_SH_ATLASCELL_AnnarrDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SH_ATLASCELL_AnnarrDetail.CancelEditAsync();
        IndexGrid_SH_ATLASCELL_AnnarrDetail = VisibleIndex - 1;
         Grid_SH_ATLASCELL_AnnarrDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_AnnarrDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SH_ATLASCELL_AnnarrDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_SH_ATLASCELL_AnnarrDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SH_ATLASCELL_AnnarrDetail ");
    try
    {
Grid_SH_ATLASCELL_AnnarrDetail.CancelEditAsync();
        IndexGrid_SH_ATLASCELL_AnnarrDetail = VisibleIndex + 1;
         Grid_SH_ATLASCELL_AnnarrDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_AnnarrDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SH_ATLASCELL_AnnarrDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SH_ATLASCELL_AnnarrDetail;
    var MainModel = (Entity.SH_ATLASCELL_AnnarrDetail)DataItem;
    if (MainModel != null)
    {
MainModel.ProductSearch = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).ProductSearch;
MainModel.PARTCODE = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).PARTCODE;
MainModel.ProductName = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).ProductName;
MainModel.ShomareFani = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).ShomareFani;
MainModel.Unit = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).Unit;
MainModel.ARRAMOUNT = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).ARRAMOUNT;
MainModel.RADYABI = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).RADYABI;
MainModel.SEFARESH = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).SEFARESH;
MainModel.RowId = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).RowId;
MainModel.YEAR = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).YEAR;
MainModel.DESC2 = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).DESC2;
MainModel.SH_ATLASCELL_AnnarrId = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).SH_ATLASCELL_AnnarrId;
MainModel.SH_ATLASCELL_Annarr = ((Entity.SH_ATLASCELL_AnnarrDetail)EditModel).SH_ATLASCELL_Annarr;

    }
    else
    {
    ListEntity.Add((Entity.SH_ATLASCELL_AnnarrDetail)EditModel);
    }
}

async Task OnDataItemDeletingSH_ATLASCELL_AnnarrDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SH_ATLASCELL_AnnarrDetail;
    ListEntity.Remove((Entity.SH_ATLASCELL_AnnarrDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_SH_ATLASCELL_AnnarrDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SH_ATLASCELL_AnnarrDetail = (ex.DataItem as Entity.SH_ATLASCELL_AnnarrDetail);
    var e =SelectedItemGrid_SH_ATLASCELL_AnnarrDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSH_ATLASCELL_AnnarrDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SH_ATLASCELL_AnnarrDetail ()
{
       if (SelectedItemGrid_SH_ATLASCELL_AnnarrDetail != null)
    {
      if (SelectedItemGrid_SH_ATLASCELL_AnnarrDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SH_ATLASCELL_AnnarrDetail;
        ListEntity.Remove((Entity.SH_ATLASCELL_AnnarrDetail)SelectedItemGrid_SH_ATLASCELL_AnnarrDetail);
     
      }
      else
      {
        var cleanModel = new Entity.SH_ATLASCELL_AnnarrDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SH_ATLASCELL_AnnarrDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SH_ATLASCELL_AnnarrDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SH_ATLASCELL_AnnarrDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SH_ATLASCELL_AnnarrDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SH_ATLASCELL_AnnarrDetail;
    
    Grid_SH_ATLASCELL_AnnarrDetail.Reload();
    ConfirmationShownSH_ATLASCELL_AnnarrDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SH_ATLASCELL_AnnarrDetail ()
{
    ConfirmationShownSH_ATLASCELL_AnnarrDetail = false;
}

void CustomizeRowsGrid_SH_ATLASCELL_AnnarrDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SH_ATLASCELL_AnnarrDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SH_ATLASCELL_AnnarrDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SH_ATLASCELL_AnnarrDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_SH_ATLASCELL_AnnarrDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SH_ATLASCELL_AnnarrDetail(GridRowClickEventArgs e)
{

}
}

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_ATLASCELL_Annarr\",\"GetNameAs\":\"SH_ATLASCELL_Annarr\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"AnnarrNo\",\"GetNameAs\":\"AnnarrNo\"},{\"Name\":\"ANNARRDATE\",\"GetNameAs\":\"ANNARRDATE\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"ContractType\",\"GetNameAs\":\"ContractType\"},{\"Name\":\"CONCODE\",\"GetNameAs\":\"CONCODE\"},{\"Name\":\"ORDERNO\",\"GetNameAs\":\"ORDERNO\"},{\"Name\":\"ConfirmDate\",\"GetNameAs\":\"ConfirmDate\"},{\"Name\":\"Person\",\"GetNameAs\":\"Person\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"ORDERYEAR\",\"GetNameAs\":\"ORDERYEAR\"},{\"Name\":\"Annarr_List\",\"GetNameAs\":\"Annarr_List\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_AnnarrDetail\",\"GetNameAs\":\"SH_ATLASCELL_AnnarrDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SH_ATLASCELL_AnnarrId\",\"GetNameAs\":\"SH_ATLASCELL_AnnarrId\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"PARTCODE\",\"GetNameAs\":\"PARTCODE\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"ShomareFani\",\"GetNameAs\":\"ShomareFani\"},{\"Name\":\"Unit\",\"GetNameAs\":\"Unit\"},{\"Name\":\"ARRAMOUNT\",\"GetNameAs\":\"ARRAMOUNT\"},{\"Name\":\"RADYABI\",\"GetNameAs\":\"RADYABI\"},{\"Name\":\"SEFARESH\",\"GetNameAs\":\"SEFARESH\"},{\"Name\":\"RowId\",\"GetNameAs\":\"RowId\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"DESC2\",\"GetNameAs\":\"DESC2\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_Annarr\",\"GetNameAs\":\"SH_ATLASCELL_Annarr\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"AnnarrNo\",\"GetNameAs\":\"AnnarrNo\"},{\"Name\":\"ANNARRDATE\",\"GetNameAs\":\"ANNARRDATE\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"ContractType\",\"GetNameAs\":\"ContractType\"},{\"Name\":\"CONCODE\",\"GetNameAs\":\"CONCODE\"},{\"Name\":\"ORDERNO\",\"GetNameAs\":\"ORDERNO\"},{\"Name\":\"ConfirmDate\",\"GetNameAs\":\"ConfirmDate\"},{\"Name\":\"Person\",\"GetNameAs\":\"Person\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"ORDERYEAR\",\"GetNameAs\":\"ORDERYEAR\"},{\"Name\":\"Annarr_List\",\"GetNameAs\":\"Annarr_List\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_ATLASCELL_Annarr\",\"GetNameAs\":\"SH_ATLASCELL_Annarr\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"AnnarrNo\",\"GetNameAs\":\"AnnarrNo\"},{\"Name\":\"ANNARRDATE\",\"GetNameAs\":\"ANNARRDATE\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"ContractType\",\"GetNameAs\":\"ContractType\"},{\"Name\":\"CONCODE\",\"GetNameAs\":\"CONCODE\"},{\"Name\":\"ORDERNO\",\"GetNameAs\":\"ORDERNO\"},{\"Name\":\"ConfirmDate\",\"GetNameAs\":\"ConfirmDate\"},{\"Name\":\"Person\",\"GetNameAs\":\"Person\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"ORDERYEAR\",\"GetNameAs\":\"ORDERYEAR\"},{\"Name\":\"Annarr_List\",\"GetNameAs\":\"Annarr_List\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_AnnarrDetail\",\"GetNameAs\":\"SH_ATLASCELL_AnnarrDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SH_ATLASCELL_AnnarrId\",\"GetNameAs\":\"SH_ATLASCELL_AnnarrId\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"PARTCODE\",\"GetNameAs\":\"PARTCODE\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"ShomareFani\",\"GetNameAs\":\"ShomareFani\"},{\"Name\":\"Unit\",\"GetNameAs\":\"Unit\"},{\"Name\":\"ARRAMOUNT\",\"GetNameAs\":\"ARRAMOUNT\"},{\"Name\":\"RADYABI\",\"GetNameAs\":\"RADYABI\"},{\"Name\":\"SEFARESH\",\"GetNameAs\":\"SEFARESH\"},{\"Name\":\"RowId\",\"GetNameAs\":\"RowId\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"DESC2\",\"GetNameAs\":\"DESC2\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SH_ATLASCELL_Annarr>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SH_ATLASCELL_Annarr();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SH_ATLASCELL_Annarr>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
