@inherits Forms.Forms.Form_866Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Title" @ref="Ref_Title" Label="Title"   Disabled=true  @bind-Value="_Entity.Title" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"30\"}").Result))></Input>

<Input Id="Price" @ref="Ref_Price" Label="قیمت"   Disabled=true  @bind-Value="_Entity.Price" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="SCMICT_Order2_GridSCMICT_Product2Id_627">Order2
   
    
</label>

<DxGrid @ref="Grid_SCMICT_Order2" Data="_Entity.SCMICT_Order2" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSCMICT_Order2"
        DataItemDeleting="OnDataItemDeletingSCMICT_Order2"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="Order2"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SCMICT_Order2"
        CustomizeElement="CustomizeRowsGrid_SCMICT_Order2" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":627,\"FieldId\":627,\"TypeCSharp\":\"\",\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"RelationChildModel\":\"SCMICT_Order2\",\"GridMainModel\":\"SCMICT_Order2\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"Order2\",\"tableView\":true,\"key\":\"GridSCMICT_Product2Id_627\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSCMICT_Product2Id_627\",\"modalEdit\":true,\"FieldUrl\":\"627?EId=627&SubId=21\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SCMICT_Order2_GridSCMICT_Product2Id_627ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SCMICT_Order2())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SCMICT_Order2_GridSCMICT_Product2Id_627ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SCMICT_Order2(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SCMICT_Order2(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn Context="SCMICT_Product2Id_" Caption="SCMICT_Product2Id" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCMICT_Product2Id = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":627,\"FieldId\":18829,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":866,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCMICT_Product2\",\"RelationParentModel\":\"SCMICT_Product2\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMICT_Product2/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"SCMICT_Product2Id\",\"tableView\":true,\"key\":\"SCMICT_Product2Id\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18829?EId=627&SubId=21\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCMICT_Product2Id = ((Entity.SCMICT_Order2)SCMICT_Product2Id_.DataItem).SCMICT_Product2Id;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSCMICT_Product2Id"   FieldName="SCMICT_Product2Id" OnItemSelected="ItemSelected_SCMICT_Order2SCMICT_Product2Id_Header" Component="HeaderSCMICT_Product2Id">
</Dropdown>
@code {
    public async Task ItemSelected_SCMICT_Order2SCMICT_Product2Id_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCMICT_Product2Id

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="Title"  FieldName="Title" />


</Columns>

    <EditFormTemplate Context="EditFormContextSCMICT_Order2">
    @{
        SCMICT_Order2  = (Entity.SCMICT_Order2)EditFormContextSCMICT_Order2.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMICT_Order2">
    
<Input Id="SCMICT_Order2_Id" @ref="Ref_SCMICT_Order2_Id"   CssClass="d-none"   @bind-Value="SCMICT_Order2.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMICT_Order2">
    
<Input Id="SCMICT_Order2_RequestID" @ref="Ref_SCMICT_Order2_RequestID"      @bind-Value="SCMICT_Order2.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMICT_Order2">
    
<Input Id="SCMICT_Order2_CreateUser" @ref="Ref_SCMICT_Order2_CreateUser"      @bind-Value="SCMICT_Order2.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMICT_Order2">
    
<Input Id="SCMICT_Order2_UpdateUser" @ref="Ref_SCMICT_Order2_UpdateUser"      @bind-Value="SCMICT_Order2.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMICT_Order2">
    
<Input Id="SCMICT_Order2_CreateDate" @ref="Ref_SCMICT_Order2_CreateDate"   CssClass="d-none"   @bind-Value="SCMICT_Order2.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMICT_Order2">
    
<Input Id="SCMICT_Order2_UpdateDate" @ref="Ref_SCMICT_Order2_UpdateDate"   CssClass="d-none"   @bind-Value="SCMICT_Order2.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMICT_Order2">
    
<Input Id="SCMICT_Order2_IsDelete" @ref="Ref_SCMICT_Order2_IsDelete"   CssClass="d-none"   @bind-Value="SCMICT_Order2.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMICT_Order2">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMICT_Order2SCMICT_Product2Id = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":627,\"FieldId\":18829,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":866,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCMICT_Product2\",\"RelationParentModel\":\"SCMICT_Product2\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMICT_Product2/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"SCMICT_Product2Id\",\"tableView\":true,\"key\":\"SCMICT_Product2Id\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"18829?EId=627&SubId=21\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMICT_Order2_SCMICT_Product2Id  @ref="Ref_SCMICT_Order2_SCMICT_Product2Id" Label="SCMICT_Product2Id" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCMICT_Order2.SCMICT_Product2Id" FieldName="SCMICT_Product2Id" OnItemSelected="ItemSelected_SCMICT_Order2SCMICT_Product2Id" Component="Component_SCMICT_Order2SCMICT_Product2Id" _Entity="_Entity" _EntityRow=SCMICT_Order2>
</Dropdown>
@code {
    public async Task ItemSelected_SCMICT_Order2SCMICT_Product2Id(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMICT_Order2;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SCMICT_Product2Id = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SCMICT_Product2Id =EntityHelper.SetPropertyNull(Item.SCMICT_Product2Id);
 }
 Item.SCMICT_Product2 = await Utility.JSON.ToObject<Entity.SCMICT_Product2>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMICT_Order2">
    
<Input Id="SCMICT_Order2_Title" @ref="Ref_SCMICT_Order2_Title" Label="Title"     @bind-Value="SCMICT_Order2.Title" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"30\"}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSCMICT_Order2" CssClass="btn-modal-custom">
            <DxButton Id="SCMICT_Order2_GridSCMICT_Product2Id_627ButtonSave" Click="@(() => SaveModalGrid_SCMICT_Order2(EditFormContextSCMICT_Order2))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SCMICT_Order2_GridSCMICT_Product2Id_627ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_SCMICT_Order2(EditFormContextSCMICT_Order2))" CssClass="btn btn-green" />


            <DxButton Id="SCMICT_Order2_GridSCMICT_Product2Id_627ButtonCancel" Click="@(() => Grid_SCMICT_Order2.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SCMICT_Order2_GridSCMICT_Product2Id_627ButtonBefore" Click="@(() => Dialog_Grid_SCMICT_Order2(0,IndexGrid_SCMICT_Order2,EditFormContextSCMICT_Order2))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SCMICT_Order2_GridSCMICT_Product2Id_627ButtonNext" Click="@(() => Dialog_Grid_SCMICT_Order2(1,IndexGrid_SCMICT_Order2,EditFormContextSCMICT_Order2))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSCMICT_Order2" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SCMICT_Order2" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SCMICT_Order2" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSCMICT_Order2" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSCMICT_Order2" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSCMICT_Order2" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SCMICT_Order2;
    Entity.SCMICT_Order2 SCMICT_Order2;
    bool ConfirmationShownSCMICT_Order2 { get; set; } = false;
    public Entity.SCMICT_Order2 SelectedItemGrid_SCMICT_Order2 { get; set; } = new Entity.SCMICT_Order2();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SCMICT_Order2 { get; set; }

    ///////////////////////
    bool ConfirmationSCMICT_Order2 { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSCMICT_Order2 { get; set; }
    public int OpenDialogCodeSCMICT_Order2 { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSCMICT_Order2(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SCMICT_Order2(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SCMICT_Order2(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSCMICT_Order2 = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSCMICT_Order2 = e;
    ConfirmationSCMICT_Order2 = true;
    }
    else
    {
    await OnNoButtonSCMICT_Order2();
    }
}
async Task OnYesButtonSCMICT_Order2()
{

    ConfirmationSCMICT_Order2 = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSCMICT_Order2.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SCMICT_Order2(_ContextFormTemplateSCMICT_Order2.DataItem, _ContextFormTemplateSCMICT_Order2.EditModel);
            await Grid_SCMICT_Order2.CancelEditAsync();
         await ChangePageGrid_SCMICT_Order2();
         await SetEditFormContextGrid_SCMICT_Order2();
         }
          
    }

}
async Task OnNoButtonSCMICT_Order2()
{
    ConfirmationSCMICT_Order2 = false;
    await ChangePageGrid_SCMICT_Order2();
    await SetEditFormContextGrid_SCMICT_Order2();

}
async Task SetEditFormContextGrid_SCMICT_Order2()
{
    var e = (Entity.SCMICT_Order2)Grid_SCMICT_Order2.GetDataItem(IndexGrid_SCMICT_Order2);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SCMICT_Order2()
{
    int VisibleIndex = IndexGrid_SCMICT_Order2;
    try
    {
    if (OpenDialogCodeSCMICT_Order2 == 1)
    {
        if (VisibleIndex != (Grid_SCMICT_Order2.GetVisibleRowCount() - 1))
    { 
            Grid_SCMICT_Order2.CancelEditAsync();
            IndexGrid_SCMICT_Order2 = VisibleIndex + 1;
    Grid_SCMICT_Order2.StartEditRowAsync(IndexGrid_SCMICT_Order2);
    }
    }
    else if (OpenDialogCodeSCMICT_Order2 == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SCMICT_Order2.CancelEditAsync();
            IndexGrid_SCMICT_Order2 = VisibleIndex - 1;
    Grid_SCMICT_Order2.StartEditRowAsync(IndexGrid_SCMICT_Order2);
    }

    }
    var e = (Entity.SCMICT_Order2)Grid_SCMICT_Order2.GetDataItem(IndexGrid_SCMICT_Order2);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SCMICT_Order2()
{
    IndexGrid_SCMICT_Order2 = Grid_SCMICT_Order2.GetVisibleRowCount();
Grid_SCMICT_Order2.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SCMICT_Order2();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SCMICT_Order2(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SCMICT_Order2 = Context.VisibleIndex;
Grid_SCMICT_Order2.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SCMICT_Order2)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SCMICT_Order2(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SCMICT_Order2(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SCMICT_Order2(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SCMICT_Order2(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SCMICT_Order2();

    }
          
    }
   
}

void PerviousPageGrid_SCMICT_Order2(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SCMICT_Order2.CancelEditAsync();
        IndexGrid_SCMICT_Order2 = VisibleIndex - 1;
         Grid_SCMICT_Order2.StartEditRowAsync(IndexGrid_SCMICT_Order2);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SCMICT_Order2(int VisibleIndex)
{

    if (VisibleIndex == Grid_SCMICT_Order2.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SCMICT_Order2 ");
    try
    {
Grid_SCMICT_Order2.CancelEditAsync();
        IndexGrid_SCMICT_Order2 = VisibleIndex + 1;
         Grid_SCMICT_Order2.StartEditRowAsync(IndexGrid_SCMICT_Order2);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SCMICT_Order2(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SCMICT_Order2;
    var MainModel = (Entity.SCMICT_Order2)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.SCMICT_Order2)EditModel).Id;
MainModel.RequestID = ((Entity.SCMICT_Order2)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SCMICT_Order2)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SCMICT_Order2)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SCMICT_Order2)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SCMICT_Order2)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SCMICT_Order2)EditModel).IsDelete;
MainModel.SCMICT_Product2Id = ((Entity.SCMICT_Order2)EditModel).SCMICT_Product2Id;
MainModel.SCMICT_Product2 = ((Entity.SCMICT_Order2)EditModel).SCMICT_Product2;
MainModel.Title = ((Entity.SCMICT_Order2)EditModel).Title;

    }
    else
    {
    ListEntity.Add((Entity.SCMICT_Order2)EditModel);
    }
}

async Task OnDataItemDeletingSCMICT_Order2(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SCMICT_Order2;
    ListEntity.Remove((Entity.SCMICT_Order2)e.DataItem);
}
async void OnDeleteButtonClickGrid_SCMICT_Order2 (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SCMICT_Order2 = (ex.DataItem as Entity.SCMICT_Order2);
    var e =SelectedItemGrid_SCMICT_Order2;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSCMICT_Order2 = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SCMICT_Order2 ()
{
       if (SelectedItemGrid_SCMICT_Order2 != null)
    {
      if (SelectedItemGrid_SCMICT_Order2.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SCMICT_Order2;
        ListEntity.Remove((Entity.SCMICT_Order2)SelectedItemGrid_SCMICT_Order2);
     
      }
      else
      {
        var cleanModel = new Entity.SCMICT_Order2();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SCMICT_Order2).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SCMICT_Order2);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SCMICT_Order2, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SCMICT_Order2._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SCMICT_Order2;
    
    Grid_SCMICT_Order2.Reload();
    ConfirmationShownSCMICT_Order2 = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SCMICT_Order2 ()
{
    ConfirmationShownSCMICT_Order2 = false;
}

void CustomizeRowsGrid_SCMICT_Order2(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SCMICT_Order2)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SCMICT_Order2(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SCMICT_Order2)e.EditModel;

     

    }


}
public async void RowClickGrid_SCMICT_Order2(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SCMICT_Order2(GridRowClickEventArgs e)
{

}
}

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMICT_Product2\",\"GetNameAs\":\"SCMICT_Product2\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Price\",\"GetNameAs\":\"Price\"}],\"Relation\":[{\"Name\":\"SCMICT_Order2\",\"GetNameAs\":\"SCMICT_Order2\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SCMICT_Product2Id\",\"GetNameAs\":\"SCMICT_Product2Id\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[{\"Name\":\"SCMICT_Product2\",\"GetNameAs\":\"SCMICT_Product2\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Price\",\"GetNameAs\":\"Price\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMICT_Product2\",\"GetNameAs\":\"SCMICT_Product2\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Price\",\"GetNameAs\":\"Price\"}],\"Relation\":[{\"Name\":\"SCMICT_Order2\",\"GetNameAs\":\"SCMICT_Order2\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SCMICT_Product2Id\",\"GetNameAs\":\"SCMICT_Product2Id\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SCMICT_Product2>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SCMICT_Product2();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SCMICT_Product2>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
