@inherits Forms.Forms.Form_1085_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="FACTNO" @ref="Ref_FACTNO" Label="شماره"     @bind-Value="_Entity.FACTNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="FactDate" @ref="Ref_FactDate" Label="تاریخ"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.FactDate" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

<Input Id="TempNo" @ref="Ref_TempNo" Label="عطف"     @bind-Value="_Entity.TempNo" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Creator" @ref="Ref_Creator" Label="تنظیم کننده"     @bind-Value="_Entity.Creator" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FactbBuySelerCode = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"برگشت کالا از خرید کالا\",\"primaryKey\":false,\"EntityID\":834,\"FieldId\":32466,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1085,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_person/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.code}} {{item.name}} {{item.HOMEADDR}} {{item.WORKADDR}} </span>\",\"FieldsTemplate\":[{\"key\":\"code\",\"value\":\"nvarchar(Max)\"},{\"key\":\"name\",\"value\":\"nvarchar(Max)\"},{\"key\":\"HOMEADDR\",\"value\":\"nvarchar(Max)\"},{\"key\":\"WORKADDR\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"code,name\",\"modal\":true,\"label\":\"کد فروشنده\",\"tableView\":true,\"key\":\"SelerCode\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32466?EId=834&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SelerCode  @ref="Ref_SelerCode" Label="کد فروشنده" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.SelerCode" FieldName="SelerCode" OnItemSelected="ItemSelected_SH_ATLASCELL_FactbBuySelerCode" Component="Component_SH_ATLASCELL_FactbBuySelerCode" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactbBuySelerCode(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.SelerCode = Selected.code;


    

    
    }
} 

<Input Id="SelerName" @ref="Ref_SelerName" Label="فروشنده"     @bind-Value="_Entity.SelerName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="SelerAddr" @ref="Ref_SelerAddr" Label="آدرس فروشنده"     @bind-Value="_Entity.SelerAddr" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FactbBuyBUYKIND = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"برگشت کالا از خرید کالا\",\"primaryKey\":false,\"EntityID\":834,\"FieldId\":32470,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1085,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_buykind/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.code}} {{item.title}} </span>\",\"FieldsTemplate\":[{\"key\":\"code\",\"value\":\"int\"},{\"key\":\"title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"نوع خرید\",\"tableView\":true,\"key\":\"BUYKIND\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32470?EId=834&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=BUYKIND  @ref="Ref_BUYKIND" Label="نوع خرید" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.BUYKIND" FieldName="BUYKIND" OnItemSelected="ItemSelected_SH_ATLASCELL_FactbBuyBUYKIND" Component="Component_SH_ATLASCELL_FactbBuyBUYKIND" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactbBuyBUYKIND(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.BUYKIND = Selected.code;


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FactbBuyPartKind = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"برگشت کالا از خرید کالا\",\"primaryKey\":false,\"EntityID\":834,\"FieldId\":32471,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1085,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_partkind/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"PKINDVALUE\",\"template\":\"<span>{{item.PKINDNAME}} {{item.PKINDVALUE}} </span>\",\"FieldsTemplate\":[{\"key\":\"PKINDNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"PKINDVALUE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"نوع کالا\",\"tableView\":true,\"key\":\"PartKind\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32471?EId=834&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=PartKind  @ref="Ref_PartKind" Label="نوع کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.PartKind" FieldName="PartKind" OnItemSelected="ItemSelected_SH_ATLASCELL_FactbBuyPartKind" Component="Component_SH_ATLASCELL_FactbBuyPartKind" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactbBuyPartKind(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.PartKind = Selected.PKINDVALUE;


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FactbBuyInvCode = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"برگشت کالا از خرید کالا\",\"primaryKey\":false,\"EntityID\":834,\"FieldId\":32472,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1085,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_INV/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"INVCODE\",\"template\":\"<span>{{item.INVNAME}} {{item.INVCODE}} </span>\",\"FieldsTemplate\":[{\"key\":\"INVNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"INVCODE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"INVCODE,INVNAME\",\"modal\":true,\"label\":\"انبار\",\"tableView\":true,\"key\":\"InvCode\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32472?EId=834&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=InvCode  @ref="Ref_InvCode" Label="انبار" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.InvCode" FieldName="InvCode" OnItemSelected="ItemSelected_SH_ATLASCELL_FactbBuyInvCode" Component="Component_SH_ATLASCELL_FactbBuyInvCode" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactbBuyInvCode(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.InvCode = Selected.INVCODE;


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FactbBuyNBARGASHT = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"برگشت کالا از خرید کالا\",\"primaryKey\":false,\"EntityID\":834,\"FieldId\":32473,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1085,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_bargasht/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.code}} {{item.sharh}} </span>\",\"FieldsTemplate\":[{\"key\":\"code\",\"value\":\"nvarchar(Max)\"},{\"key\":\"sharh\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"code,sharh\",\"modal\":true,\"label\":\"علت برگشتی\",\"tableView\":true,\"key\":\"NBARGASHT\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32473?EId=834&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=NBARGASHT  @ref="Ref_NBARGASHT" Label="علت برگشتی" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.NBARGASHT" FieldName="NBARGASHT" OnItemSelected="ItemSelected_SH_ATLASCELL_FactbBuyNBARGASHT" Component="Component_SH_ATLASCELL_FactbBuyNBARGASHT" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactbBuyNBARGASHT(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.NBARGASHT = Selected.code;


    

    
    }
} 

<Input Id="Note" @ref="Ref_Note" Label="توضیحات"     @bind-Value="_Entity.Note" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="FACTOR" @ref="Ref_FACTOR" Label="شماره عطف"     @bind-Value="_Entity.FACTOR" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FactbBuyFactbBuy_List = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"برگشت کالا از خرید کالا\",\"primaryKey\":false,\"EntityID\":834,\"FieldId\":32476,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1085,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_FACTBBUYdtl2/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO\",\"template\":\"<span>{{item.FACTNO}} {{item.TEMPNO}} {{item.factdate}} </span>\",\"FieldsTemplate\":[{\"key\":\"FACTNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TEMPNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"factdate\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"FACTNO,TEMPNO\",\"modal\":true,\"label\":\"فهرست حواله برگشت از خرید\",\"tableView\":true,\"key\":\"FactbBuy_List\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32476?EId=834&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=FactbBuy_List  @ref="Ref_FactbBuy_List" Label="فهرست حواله برگشت از خرید" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.FactbBuy_List" FieldName="FactbBuy_List" OnItemSelected="ItemSelected_SH_ATLASCELL_FactbBuyFactbBuy_List" Component="Component_SH_ATLASCELL_FactbBuyFactbBuy_List" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactbBuyFactbBuy_List(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.FactbBuy_List = Selected.FACTNO;


    

    
    }
} 

<Input Id="ApiResult" @ref="Ref_ApiResult" Label="ApiResult"     @bind-Value="_Entity.ApiResult" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="SH_ATLASCELL_FactbBuyDetail_GridSH_ATLASCELL_FactbBuyId_835">جزئیات برگشت کالا از خرید کالا
   
    
</label>

<DxGrid @ref="Grid_SH_ATLASCELL_FactbBuyDetail" Data="_Entity.SH_ATLASCELL_FactbBuyDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSH_ATLASCELL_FactbBuyDetail"
        DataItemDeleting="OnDataItemDeletingSH_ATLASCELL_FactbBuyDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزئیات برگشت کالا از خرید کالا"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SH_ATLASCELL_FactbBuyDetail"
        CustomizeElement="CustomizeRowsGrid_SH_ATLASCELL_FactbBuyDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":835,\"FieldId\":835,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SH_ATLASCELL_FactbBuyDetail\",\"GridMainModel\":\"SH_ATLASCELL_FactbBuyDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزئیات برگشت کالا از خرید کالا\",\"tableView\":true,\"key\":\"GridSH_ATLASCELL_FactbBuyId_835\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSH_ATLASCELL_FactbBuyId_835\",\"modalEdit\":true,\"FieldUrl\":\"835?EId=835&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SH_ATLASCELL_FactbBuyDetail_GridSH_ATLASCELL_FactbBuyId_835ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SH_ATLASCELL_FactbBuyDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SH_ATLASCELL_FactbBuyDetail_GridSH_ATLASCELL_FactbBuyId_835ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SH_ATLASCELL_FactbBuyDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SH_ATLASCELL_FactbBuyDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn Context="ProductSearch_" Caption="جستجو کالا" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":835,\"FieldId\":32485,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1085,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32485?EId=835&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowProductSearch = ((Entity.SH_ATLASCELL_FactbBuyDetail)ProductSearch_.DataItem).ProductSearch;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowProductSearch"   FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_ATLASCELL_FactbBuyDetailProductSearch_Header" Component="HeaderProductSearch">
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactbBuyDetailProductSearch_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   ProductSearch

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="شماره فنی"  FieldName="ShomareFani" />

<DxGridDataColumn  Caption="نام کالا"  FieldName="ProductName" />

<DxGridDataColumn  Caption="واحد"  FieldName="Unit" />

<DxGridDataColumn  Caption="کد کالا"  FieldName="PartCode" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار اول"  FieldName="Amount" />

<DxGridDataColumn  Caption="شماره ردیابی"  FieldName="Radyabi" />

<DxGridDataColumn  Caption="شماره سفارش"  FieldName="Sefaresh" />

<DxGridDataColumn DisplayFormat="0" Caption="ردیف"  FieldName="RowId" />

<DxGridDataColumn DisplayFormat="0" Caption="سال"  FieldName="Year" />

<DxGridDataColumn Context="SH_ATLASCELL_FactbBuyId_" Caption="شناسه اصلی SH_ATLASCELL_FactbBuy" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSH_ATLASCELL_FactbBuyId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":835,\"FieldId\":32561,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1085,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SH_ATLASCELL_FactbBuy\",\"RelationParentModel\":\"SH_ATLASCELL_FactbBuy\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SH_ATLASCELL_FactbBuy/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شناسه اصلی SH_ATLASCELL_FactbBuy\",\"tableView\":true,\"key\":\"SH_ATLASCELL_FactbBuyId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32561?EId=835&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSH_ATLASCELL_FactbBuyId = ((Entity.SH_ATLASCELL_FactbBuyDetail)SH_ATLASCELL_FactbBuyId_.DataItem).SH_ATLASCELL_FactbBuyId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSH_ATLASCELL_FactbBuyId"   FieldName="SH_ATLASCELL_FactbBuyId" OnItemSelected="ItemSelected_SH_ATLASCELL_FactbBuyDetailSH_ATLASCELL_FactbBuyId_Header" Component="HeaderSH_ATLASCELL_FactbBuyId">
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactbBuyDetailSH_ATLASCELL_FactbBuyId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SH_ATLASCELL_FactbBuyId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextSH_ATLASCELL_FactbBuyDetail">
    @{
        SH_ATLASCELL_FactbBuyDetail  = (Entity.SH_ATLASCELL_FactbBuyDetail)EditFormContextSH_ATLASCELL_FactbBuyDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FactbBuyDetailProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":835,\"FieldId\":32485,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1085,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32485?EId=835&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SH_ATLASCELL_FactbBuyDetail_ProductSearch  @ref="Ref_SH_ATLASCELL_FactbBuyDetail_ProductSearch" Label="جستجو کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SH_ATLASCELL_FactbBuyDetail.ProductSearch" FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_ATLASCELL_FactbBuyDetailProductSearch" Component="Component_SH_ATLASCELL_FactbBuyDetailProductSearch" _Entity="_Entity" _EntityRow=SH_ATLASCELL_FactbBuyDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactbBuyDetailProductSearch(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_ATLASCELL_FactbBuyDetail;

    Item.ProductSearch = Selected.partcode;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
    
<Input Id="SH_ATLASCELL_FactbBuyDetail_ShomareFani" @ref="Ref_SH_ATLASCELL_FactbBuyDetail_ShomareFani" Label="شماره فنی"     @bind-Value="SH_ATLASCELL_FactbBuyDetail.ShomareFani" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
    
<Input Id="SH_ATLASCELL_FactbBuyDetail_ProductName" @ref="Ref_SH_ATLASCELL_FactbBuyDetail_ProductName" Label="نام کالا"     @bind-Value="SH_ATLASCELL_FactbBuyDetail.ProductName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
    
<Input Id="SH_ATLASCELL_FactbBuyDetail_Unit" @ref="Ref_SH_ATLASCELL_FactbBuyDetail_Unit" Label="واحد"     @bind-Value="SH_ATLASCELL_FactbBuyDetail.Unit" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
    
<Input Id="SH_ATLASCELL_FactbBuyDetail_PartCode" @ref="Ref_SH_ATLASCELL_FactbBuyDetail_PartCode" Label="کد کالا"     @bind-Value="SH_ATLASCELL_FactbBuyDetail.PartCode" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
    
<Input Id="SH_ATLASCELL_FactbBuyDetail_Amount" @ref="Ref_SH_ATLASCELL_FactbBuyDetail_Amount" Label="مقدار اول"     @bind-Value="SH_ATLASCELL_FactbBuyDetail.Amount" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
    
<Input Id="SH_ATLASCELL_FactbBuyDetail_Radyabi" @ref="Ref_SH_ATLASCELL_FactbBuyDetail_Radyabi" Label="شماره ردیابی"     @bind-Value="SH_ATLASCELL_FactbBuyDetail.Radyabi" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
    
<Input Id="SH_ATLASCELL_FactbBuyDetail_Sefaresh" @ref="Ref_SH_ATLASCELL_FactbBuyDetail_Sefaresh" Label="شماره سفارش"     @bind-Value="SH_ATLASCELL_FactbBuyDetail.Sefaresh" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
    
<Input Id="SH_ATLASCELL_FactbBuyDetail_RowId" @ref="Ref_SH_ATLASCELL_FactbBuyDetail_RowId" Label="ردیف"     @bind-Value="SH_ATLASCELL_FactbBuyDetail.RowId" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
    
<Input Id="SH_ATLASCELL_FactbBuyDetail_Year" @ref="Ref_SH_ATLASCELL_FactbBuyDetail_Year" Label="سال"     @bind-Value="SH_ATLASCELL_FactbBuyDetail.Year" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FactbBuyDetailSH_ATLASCELL_FactbBuyId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":835,\"FieldId\":32561,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1085,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SH_ATLASCELL_FactbBuy\",\"RelationParentModel\":\"SH_ATLASCELL_FactbBuy\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SH_ATLASCELL_FactbBuy/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شناسه اصلی SH_ATLASCELL_FactbBuy\",\"tableView\":true,\"key\":\"SH_ATLASCELL_FactbBuyId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32561?EId=835&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SH_ATLASCELL_FactbBuyDetail_SH_ATLASCELL_FactbBuyId  @ref="Ref_SH_ATLASCELL_FactbBuyDetail_SH_ATLASCELL_FactbBuyId" Label="شناسه اصلی SH_ATLASCELL_FactbBuy" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SH_ATLASCELL_FactbBuyDetail.SH_ATLASCELL_FactbBuyId" FieldName="SH_ATLASCELL_FactbBuyId" OnItemSelected="ItemSelected_SH_ATLASCELL_FactbBuyDetailSH_ATLASCELL_FactbBuyId" Component="Component_SH_ATLASCELL_FactbBuyDetailSH_ATLASCELL_FactbBuyId" _Entity="_Entity" _EntityRow=SH_ATLASCELL_FactbBuyDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactbBuyDetailSH_ATLASCELL_FactbBuyId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_ATLASCELL_FactbBuyDetail;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SH_ATLASCELL_FactbBuyId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SH_ATLASCELL_FactbBuyId =EntityHelper.SetPropertyNull(Item.SH_ATLASCELL_FactbBuyId);
 }
 Item.SH_ATLASCELL_FactbBuy = await Utility.JSON.ToObject<Entity.SH_ATLASCELL_FactbBuy>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSH_ATLASCELL_FactbBuyDetail" CssClass="btn-modal-custom">
            <DxButton Id="SH_ATLASCELL_FactbBuyDetail_GridSH_ATLASCELL_FactbBuyId_835ButtonSave" Click="@(() => SaveModalGrid_SH_ATLASCELL_FactbBuyDetail(EditFormContextSH_ATLASCELL_FactbBuyDetail))" Text="@languageContainer.Keys["DXGrid:Ok"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SH_ATLASCELL_FactbBuyDetail_GridSH_ATLASCELL_FactbBuyId_835ButtonSaveAndNew"    Text="@languageContainer.Keys["DXGrid:OkAndNew"]" Click="@(() => SaveAndNewGrid_SH_ATLASCELL_FactbBuyDetail(EditFormContextSH_ATLASCELL_FactbBuyDetail))" CssClass="btn btn-green" />


            <DxButton Id="SH_ATLASCELL_FactbBuyDetail_GridSH_ATLASCELL_FactbBuyId_835ButtonCancel" Click="@(() => Grid_SH_ATLASCELL_FactbBuyDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SH_ATLASCELL_FactbBuyDetail_GridSH_ATLASCELL_FactbBuyId_835ButtonBefore" Click="@(() => Dialog_Grid_SH_ATLASCELL_FactbBuyDetail(0,IndexGrid_SH_ATLASCELL_FactbBuyDetail,EditFormContextSH_ATLASCELL_FactbBuyDetail))" Text="@languageContainer.Keys["DXGrid:Prev"]" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SH_ATLASCELL_FactbBuyDetail_GridSH_ATLASCELL_FactbBuyId_835ButtonNext" Click="@(() => Dialog_Grid_SH_ATLASCELL_FactbBuyDetail(1,IndexGrid_SH_ATLASCELL_FactbBuyDetail,EditFormContextSH_ATLASCELL_FactbBuyDetail))" Text="@languageContainer.Keys["DXGrid:Next"]" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSH_ATLASCELL_FactbBuyDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SH_ATLASCELL_FactbBuyDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SH_ATLASCELL_FactbBuyDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSH_ATLASCELL_FactbBuyDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSH_ATLASCELL_FactbBuyDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSH_ATLASCELL_FactbBuyDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SH_ATLASCELL_FactbBuyDetail;
    Entity.SH_ATLASCELL_FactbBuyDetail SH_ATLASCELL_FactbBuyDetail;
    bool ConfirmationShownSH_ATLASCELL_FactbBuyDetail { get; set; } = false;
    public Entity.SH_ATLASCELL_FactbBuyDetail SelectedItemGrid_SH_ATLASCELL_FactbBuyDetail { get; set; } = new Entity.SH_ATLASCELL_FactbBuyDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SH_ATLASCELL_FactbBuyDetail { get; set; }

    ///////////////////////
    bool ConfirmationSH_ATLASCELL_FactbBuyDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSH_ATLASCELL_FactbBuyDetail { get; set; }
    public int OpenDialogCodeSH_ATLASCELL_FactbBuyDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSH_ATLASCELL_FactbBuyDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SH_ATLASCELL_FactbBuyDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SH_ATLASCELL_FactbBuyDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSH_ATLASCELL_FactbBuyDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSH_ATLASCELL_FactbBuyDetail = e;
    ConfirmationSH_ATLASCELL_FactbBuyDetail = true;
    }
    else
    {
    await OnNoButtonSH_ATLASCELL_FactbBuyDetail();
    }
}
async Task OnYesButtonSH_ATLASCELL_FactbBuyDetail()
{

    ConfirmationSH_ATLASCELL_FactbBuyDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSH_ATLASCELL_FactbBuyDetail.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SH_ATLASCELL_FactbBuyDetail(_ContextFormTemplateSH_ATLASCELL_FactbBuyDetail.DataItem, _ContextFormTemplateSH_ATLASCELL_FactbBuyDetail.EditModel);
            await Grid_SH_ATLASCELL_FactbBuyDetail.CancelEditAsync();
         await ChangePageGrid_SH_ATLASCELL_FactbBuyDetail();
         await SetEditFormContextGrid_SH_ATLASCELL_FactbBuyDetail();
         }
          
    }

}
async Task OnNoButtonSH_ATLASCELL_FactbBuyDetail()
{
    ConfirmationSH_ATLASCELL_FactbBuyDetail = false;
    await ChangePageGrid_SH_ATLASCELL_FactbBuyDetail();
    await SetEditFormContextGrid_SH_ATLASCELL_FactbBuyDetail();

}
async Task SetEditFormContextGrid_SH_ATLASCELL_FactbBuyDetail()
{
    var e = (Entity.SH_ATLASCELL_FactbBuyDetail)Grid_SH_ATLASCELL_FactbBuyDetail.GetDataItem(IndexGrid_SH_ATLASCELL_FactbBuyDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SH_ATLASCELL_FactbBuyDetail()
{
    int VisibleIndex = IndexGrid_SH_ATLASCELL_FactbBuyDetail;
    try
    {
    if (OpenDialogCodeSH_ATLASCELL_FactbBuyDetail == 1)
    {
        if (VisibleIndex != (Grid_SH_ATLASCELL_FactbBuyDetail.GetVisibleRowCount() - 1))
    { 
            Grid_SH_ATLASCELL_FactbBuyDetail.CancelEditAsync();
            IndexGrid_SH_ATLASCELL_FactbBuyDetail = VisibleIndex + 1;
    Grid_SH_ATLASCELL_FactbBuyDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_FactbBuyDetail);
    }
    }
    else if (OpenDialogCodeSH_ATLASCELL_FactbBuyDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SH_ATLASCELL_FactbBuyDetail.CancelEditAsync();
            IndexGrid_SH_ATLASCELL_FactbBuyDetail = VisibleIndex - 1;
    Grid_SH_ATLASCELL_FactbBuyDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_FactbBuyDetail);
    }

    }
    var e = (Entity.SH_ATLASCELL_FactbBuyDetail)Grid_SH_ATLASCELL_FactbBuyDetail.GetDataItem(IndexGrid_SH_ATLASCELL_FactbBuyDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SH_ATLASCELL_FactbBuyDetail()
{
    IndexGrid_SH_ATLASCELL_FactbBuyDetail = Grid_SH_ATLASCELL_FactbBuyDetail.GetVisibleRowCount();
Grid_SH_ATLASCELL_FactbBuyDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SH_ATLASCELL_FactbBuyDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SH_ATLASCELL_FactbBuyDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SH_ATLASCELL_FactbBuyDetail = Context.VisibleIndex;
Grid_SH_ATLASCELL_FactbBuyDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SH_ATLASCELL_FactbBuyDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SH_ATLASCELL_FactbBuyDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SH_ATLASCELL_FactbBuyDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SH_ATLASCELL_FactbBuyDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SH_ATLASCELL_FactbBuyDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SH_ATLASCELL_FactbBuyDetail();

    }
          
    }
   
}

void PerviousPageGrid_SH_ATLASCELL_FactbBuyDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SH_ATLASCELL_FactbBuyDetail.CancelEditAsync();
        IndexGrid_SH_ATLASCELL_FactbBuyDetail = VisibleIndex - 1;
         Grid_SH_ATLASCELL_FactbBuyDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_FactbBuyDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SH_ATLASCELL_FactbBuyDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_SH_ATLASCELL_FactbBuyDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SH_ATLASCELL_FactbBuyDetail ");
    try
    {
Grid_SH_ATLASCELL_FactbBuyDetail.CancelEditAsync();
        IndexGrid_SH_ATLASCELL_FactbBuyDetail = VisibleIndex + 1;
         Grid_SH_ATLASCELL_FactbBuyDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_FactbBuyDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SH_ATLASCELL_FactbBuyDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SH_ATLASCELL_FactbBuyDetail;
    var MainModel = (Entity.SH_ATLASCELL_FactbBuyDetail)DataItem;
    if (MainModel != null)
    {
MainModel.ProductSearch = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).ProductSearch;
MainModel.ShomareFani = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).ShomareFani;
MainModel.ProductName = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).ProductName;
MainModel.Unit = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).Unit;
MainModel.PartCode = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).PartCode;
MainModel.Amount = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).Amount;
MainModel.Radyabi = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).Radyabi;
MainModel.Sefaresh = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).Sefaresh;
MainModel.RowId = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).RowId;
MainModel.Year = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).Year;
MainModel.SH_ATLASCELL_FactbBuyId = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).SH_ATLASCELL_FactbBuyId;
MainModel.SH_ATLASCELL_FactbBuy = ((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel).SH_ATLASCELL_FactbBuy;

    }
    else
    {
    ListEntity.Add((Entity.SH_ATLASCELL_FactbBuyDetail)EditModel);
    }
}

async Task OnDataItemDeletingSH_ATLASCELL_FactbBuyDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SH_ATLASCELL_FactbBuyDetail;
    ListEntity.Remove((Entity.SH_ATLASCELL_FactbBuyDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_SH_ATLASCELL_FactbBuyDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SH_ATLASCELL_FactbBuyDetail = (ex.DataItem as Entity.SH_ATLASCELL_FactbBuyDetail);
    var e =SelectedItemGrid_SH_ATLASCELL_FactbBuyDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSH_ATLASCELL_FactbBuyDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SH_ATLASCELL_FactbBuyDetail ()
{
       if (SelectedItemGrid_SH_ATLASCELL_FactbBuyDetail != null)
    {
      if (SelectedItemGrid_SH_ATLASCELL_FactbBuyDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SH_ATLASCELL_FactbBuyDetail;
        ListEntity.Remove((Entity.SH_ATLASCELL_FactbBuyDetail)SelectedItemGrid_SH_ATLASCELL_FactbBuyDetail);
     
      }
      else
      {
        var cleanModel = new Entity.SH_ATLASCELL_FactbBuyDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SH_ATLASCELL_FactbBuyDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SH_ATLASCELL_FactbBuyDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SH_ATLASCELL_FactbBuyDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SH_ATLASCELL_FactbBuyDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SH_ATLASCELL_FactbBuyDetail;
    
    Grid_SH_ATLASCELL_FactbBuyDetail.Reload();
    ConfirmationShownSH_ATLASCELL_FactbBuyDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SH_ATLASCELL_FactbBuyDetail ()
{
    ConfirmationShownSH_ATLASCELL_FactbBuyDetail = false;
}

void CustomizeRowsGrid_SH_ATLASCELL_FactbBuyDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SH_ATLASCELL_FactbBuyDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SH_ATLASCELL_FactbBuyDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SH_ATLASCELL_FactbBuyDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_SH_ATLASCELL_FactbBuyDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SH_ATLASCELL_FactbBuyDetail(GridRowClickEventArgs e)
{

}
}

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_ATLASCELL_FactbBuy\",\"GetNameAs\":\"SH_ATLASCELL_FactbBuy\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"FactDate\",\"GetNameAs\":\"FactDate\"},{\"Name\":\"TempNo\",\"GetNameAs\":\"TempNo\"},{\"Name\":\"Creator\",\"GetNameAs\":\"Creator\"},{\"Name\":\"SelerCode\",\"GetNameAs\":\"SelerCode\"},{\"Name\":\"SelerName\",\"GetNameAs\":\"SelerName\"},{\"Name\":\"SelerAddr\",\"GetNameAs\":\"SelerAddr\"},{\"Name\":\"BUYKIND\",\"GetNameAs\":\"BUYKIND\"},{\"Name\":\"PartKind\",\"GetNameAs\":\"PartKind\"},{\"Name\":\"InvCode\",\"GetNameAs\":\"InvCode\"},{\"Name\":\"NBARGASHT\",\"GetNameAs\":\"NBARGASHT\"},{\"Name\":\"Note\",\"GetNameAs\":\"Note\"},{\"Name\":\"FACTOR\",\"GetNameAs\":\"FACTOR\"},{\"Name\":\"FactbBuy_List\",\"GetNameAs\":\"FactbBuy_List\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_FactbBuyDetail\",\"GetNameAs\":\"SH_ATLASCELL_FactbBuyDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SH_ATLASCELL_FactbBuyId\",\"GetNameAs\":\"SH_ATLASCELL_FactbBuyId\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"ShomareFani\",\"GetNameAs\":\"ShomareFani\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"Unit\",\"GetNameAs\":\"Unit\"},{\"Name\":\"PartCode\",\"GetNameAs\":\"PartCode\"},{\"Name\":\"Amount\",\"GetNameAs\":\"Amount\"},{\"Name\":\"Radyabi\",\"GetNameAs\":\"Radyabi\"},{\"Name\":\"Sefaresh\",\"GetNameAs\":\"Sefaresh\"},{\"Name\":\"RowId\",\"GetNameAs\":\"RowId\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_FactbBuy\",\"GetNameAs\":\"SH_ATLASCELL_FactbBuy\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"FactDate\",\"GetNameAs\":\"FactDate\"},{\"Name\":\"TempNo\",\"GetNameAs\":\"TempNo\"},{\"Name\":\"Creator\",\"GetNameAs\":\"Creator\"},{\"Name\":\"SelerCode\",\"GetNameAs\":\"SelerCode\"},{\"Name\":\"SelerName\",\"GetNameAs\":\"SelerName\"},{\"Name\":\"SelerAddr\",\"GetNameAs\":\"SelerAddr\"},{\"Name\":\"BUYKIND\",\"GetNameAs\":\"BUYKIND\"},{\"Name\":\"PartKind\",\"GetNameAs\":\"PartKind\"},{\"Name\":\"InvCode\",\"GetNameAs\":\"InvCode\"},{\"Name\":\"NBARGASHT\",\"GetNameAs\":\"NBARGASHT\"},{\"Name\":\"Note\",\"GetNameAs\":\"Note\"},{\"Name\":\"FACTOR\",\"GetNameAs\":\"FACTOR\"},{\"Name\":\"FactbBuy_List\",\"GetNameAs\":\"FactbBuy_List\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_ATLASCELL_FactbBuy\",\"GetNameAs\":\"SH_ATLASCELL_FactbBuy\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"FactDate\",\"GetNameAs\":\"FactDate\"},{\"Name\":\"TempNo\",\"GetNameAs\":\"TempNo\"},{\"Name\":\"Creator\",\"GetNameAs\":\"Creator\"},{\"Name\":\"SelerCode\",\"GetNameAs\":\"SelerCode\"},{\"Name\":\"SelerName\",\"GetNameAs\":\"SelerName\"},{\"Name\":\"SelerAddr\",\"GetNameAs\":\"SelerAddr\"},{\"Name\":\"BUYKIND\",\"GetNameAs\":\"BUYKIND\"},{\"Name\":\"PartKind\",\"GetNameAs\":\"PartKind\"},{\"Name\":\"InvCode\",\"GetNameAs\":\"InvCode\"},{\"Name\":\"NBARGASHT\",\"GetNameAs\":\"NBARGASHT\"},{\"Name\":\"Note\",\"GetNameAs\":\"Note\"},{\"Name\":\"FACTOR\",\"GetNameAs\":\"FACTOR\"},{\"Name\":\"FactbBuy_List\",\"GetNameAs\":\"FactbBuy_List\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_FactbBuyDetail\",\"GetNameAs\":\"SH_ATLASCELL_FactbBuyDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SH_ATLASCELL_FactbBuyId\",\"GetNameAs\":\"SH_ATLASCELL_FactbBuyId\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"ShomareFani\",\"GetNameAs\":\"ShomareFani\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"Unit\",\"GetNameAs\":\"Unit\"},{\"Name\":\"PartCode\",\"GetNameAs\":\"PartCode\"},{\"Name\":\"Amount\",\"GetNameAs\":\"Amount\"},{\"Name\":\"Radyabi\",\"GetNameAs\":\"Radyabi\"},{\"Name\":\"Sefaresh\",\"GetNameAs\":\"Sefaresh\"},{\"Name\":\"RowId\",\"GetNameAs\":\"RowId\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SH_ATLASCELL_FactbBuy>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SH_ATLASCELL_FactbBuy();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SH_ATLASCELL_FactbBuy>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
