@inherits Forms.Forms.Form_882Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    .EMP_bg {
  border: 1px dashed rgba(255, 193, 7, 0.3);
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 0.1rem !important;
  /*align-items: baseline;*/
}

.EMP_bg:hover {
  background-color: rgba(255, 193, 7, 0.03);
  border-color: rgba(255, 193, 7, 0.5);
}

/* ************************************************** */



/* ************************************************** */
.detailArea form div:not(.devdrop) {
  margin-top: .1rem;
}
/* ************************************************** */
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="row ">
    
<div class="col-md-12">
    
<div class="row ">
    
<div class="col-md-3">
    <div  class="d-flex text-center pt-3 fs-4 text-black  justify-content-right">
    <div style="">
  <p>
    <picture>
      <img src="https://File.workcv.ir/fa/api/v1/File/Get?FileID=a18190d9-4b1c-45e3-db13-08dc25546b46" class="" alt="لوگو پتکو" width="230px;">
    </picture>
  </p>
</div>
</div>

</div>

<div class="col-md-6">
    <div  class="">
    <div class="fs-4 fw-black rounded p-3 text-center ">
   ارزیابی اولیه تامین کنندگان داخلی/ فروشندگان
</div>
</div>

</div>

<div class="col-md-3">
    <div  class=" ">
    <div class="header bg-secondary-subtle justify-content-center opacity-50 rounded p-3">
  <div class="fs-5 fw-bold text-black text-center">
      کد فرم: FC10-02
  </div>
</div>
</div>

</div>

</div>

</div>

<div class="col-md-12">
     
<nav class="">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link  active" id="nav-tabs_tab1" data-bs-toggle="tab" data-bs-target="#tabs_tab1_tab"
        type="button" role="tab" aria-controls="tabs_tab1_tab" aria-selected="true">
    اطلاعات درخواست دهنده
</button>
<button class="nav-link " id="nav-tabs_tab2" data-bs-toggle="tab" data-bs-target="#tabs_tab2_tab"
        type="button" role="tab" aria-controls="tabs_tab2_tab" >
    راهنما
</button>

    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade   show active" id="tabs_tab1_tab" role="tabpanel" aria-labelledby="nav-tabs_tab1">
   
<div class="row ">
    
<div class="col-md-6">
    
<div class="row card flex-row pb-2 m-1 border-0 bg-lightgreen ">
    
<div class="col-md-12">
    <div  class="">
    <div class="card-header text-white fw-black fs-6 border-0 mt-2" style="background:#386641">
  کاربر درخواست دهنده
</div>
</div>

</div>

<div class="col-md-3">
    
<Input Id="SystemUser" @ref="Ref_SystemUser"   CssClass="pt-1" Disabled=true  @bind-Value="_Entity.SystemUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="SystemUnitUser" @ref="Ref_SystemUnitUser"   CssClass="pt-1" Disabled=true  @bind-Value="_Entity.SystemUnitUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="SystemSectionUser" @ref="Ref_SystemSectionUser"   CssClass="pt-1" Disabled=true  @bind-Value="_Entity.SystemSectionUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="UserCompanyName" @ref="Ref_UserCompanyName"   CssClass="pt-1" Disabled=true  @bind-Value="_Entity.UserCompanyName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</div>

</div>

</div>

<div class="col-md-6">
    
<Input Id="RequestTrakingCode" @ref="Ref_RequestTrakingCode" Label="کد پیگیری سیستمی"  CssClass="d-none" Disabled=true  @bind-Value="_Entity.RequestTrakingCode" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

<Input Id="ProcessVersionID" @ref="Ref_ProcessVersionID" Label="شناسه نسخه فرآیند جاری"  CssClass="d-none" Disabled=true  @bind-Value="_Entity.ProcessVersionID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</div>

</div>

</div> 
<div class="tab-pane fade  " id="tabs_tab2_tab" role="tabpanel" aria-labelledby="nav-tabs_tab2">
   
</div> 

</div>

</div>

</div>

<div class="row ">
    
<div class="col-md-12">
    <div  class="">
    <div class="header p-2 px-2 rounded-1 fs-5 fw-black" style="background-color: #62b6cb">
  <div class="text-white">
    اطلاعات بخش اصلی
  </div>
</div>
</div>

</div>

<div class="col-md-3">
    
<Input Id="SupplierName" @ref="Ref_SupplierName" Label="نام تامین کننده"     @bind-Value="_Entity.SupplierName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

<Input Id="SupplierBusinessOwner" @ref="Ref_SupplierBusinessOwner" Label="نام مالک کسب و کار یا تامین کننده"     @bind-Value="_Entity.SupplierBusinessOwner" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

<Input Id="ServiceName" @ref="Ref_ServiceName" Label="نام خدمات"     @bind-Value="_Entity.ServiceName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="ContactPerson" @ref="Ref_ContactPerson" Label="فرد رابط"     @bind-Value="_Entity.ContactPerson" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

<Input Id="Email" @ref="Ref_Email" Label="ایمیل"     @bind-Value="_Entity.Email" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"250\"}").Result))></Input>

</div>

<div class="col-md-9">
    
<div class="row ">
    
<div class="col-md-12">
    <div  class="">
    <div class="header bg-lightgreen p-2 px-2 rounded-1 fs-5 fw-bold mt-2 mb-2">
  <div class="">
  اطلاعات دفتر مرکزی
  </div>
</div>
</div>

</div>

<div class="col-md-3">
    
<Input Id="OfficePhoneNumber" @ref="Ref_OfficePhoneNumber" Label="تلفن دفتر مرکزی / فروشگاه"     @bind-Value="_Entity.OfficePhoneNumber" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"11\"}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="OfficeFax" @ref="Ref_OfficeFax" Label="فکس دفتر مرکزی / فروشگاه"     @bind-Value="_Entity.OfficeFax" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"11\"}").Result))></Input>

</div>

<div class="col-md-6">
    
<Input Id="OfficeAddress" @ref="Ref_OfficeAddress" Label="آدرس دفتر مرکزی / فروشگاه"     @bind-Value="_Entity.OfficeAddress" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"350\"}").Result))></Input>

</div>

</div>

<div class="row ">
    
<div class="col-md-12">
    <div  class="">
    <div class="header bg-lightgreen p-2 px-2 rounded-1 fs-5 fw-bold mt-2 mb-2">
  <div class="">
  اطلاعات کارخانه
  </div>
</div>
</div>

</div>

<div class="col-md-3">
    
<Input Id="FactoryPhoneNumber" @ref="Ref_FactoryPhoneNumber" Label="تلفن کارخانه"     @bind-Value="_Entity.FactoryPhoneNumber" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"11\"}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="FactoryFax" @ref="Ref_FactoryFax" Label="فکس کارخانه"     @bind-Value="_Entity.FactoryFax" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"11\"}").Result))></Input>

</div>

<div class="col-md-6">
    
<Input Id="FactoryAddress" @ref="Ref_FactoryAddress" Label="آدرس کارخانه"     @bind-Value="_Entity.FactoryAddress" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"350\"}").Result))></Input>

</div>

</div>

</div>

</div>

<div class="row ">
    
<div class="col-md-12">
    <div  class="">
    <div class="header bg-lightgreen p-2 px-2 rounded-1 fs-5 fw-bold mt-2 mb-2">
  <div class="">
  اطلاعات پیوست تامین کننده
  </div>
</div>
</div>

</div>

<div class="col-md-6">
    <Uploader Id=SCMPETCO_SupplierMaster_Attachments  @ref="Ref_SCMPETCO_SupplierMaster_Attachments"   Accept="image/* , application/pdf , .doc,.docx , .xls,.xlsx , .ppt,.pptx" MinSize="1KB" MaxSize="30MB" Caption="مدارک پیوست" Data="_Entity.SCMPETCO_SupplierMaster_Attachments" Url="https://File.workcv.ir/fa/api/v1/File/Post" TItem="Entity.SCMPETCO_SupplierMaster_Attachments"></Uploader>

</div>

<div class="col-md-6">
    
</div>

</div>
<div  class="">
    <div class="header p-2 px-2 rounded-1 fs-5 fw-black mt-2 mb-1" style="background-color: #62b6cb">
  <div class="text-white">
  اطلاعات توانایی های قابل ارائه به سازمان
  </div>
</div>
</div>

<DxGrid @ref="Grid_SCMPETCO_OrgSkills_SupplierDetail" Data="_Entity.SCMPETCO_OrgSkills_SupplierDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSCMPETCO_OrgSkills_SupplierDetail"
        DataItemDeleting="OnDataItemDeletingSCMPETCO_OrgSkills_SupplierDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="توانایی های قابل ارائه به سازمان"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SCMPETCO_OrgSkills_SupplierDetail"
        CustomizeElement="CustomizeRowsGrid_SCMPETCO_OrgSkills_SupplierDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":632,\"FieldId\":632,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SCMPETCO_OrgSkills_SupplierDetail\",\"GridMainModel\":\"SCMPETCO_OrgSkills_SupplierDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"توانایی های قابل ارائه به سازمان\",\"tableView\":true,\"key\":\"GridSCMPETCO_SupplierMasterId_632\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSCMPETCO_SupplierMasterId_632\",\"hideLabel\":true,\"modalEdit\":true,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-12\",\"FieldUrl\":\"632?EId=632&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":false,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
        CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-12" >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SCMPETCO_OrgSkills_SupplierDetail_GridSCMPETCO_SupplierMasterId_632ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SCMPETCO_OrgSkills_SupplierDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SCMPETCO_OrgSkills_SupplierDetail_GridSCMPETCO_SupplierMasterId_632ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SCMPETCO_OrgSkills_SupplierDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="نام خدمات"  FieldName="ServicesName" />

<DxGridDataColumn  Caption="نام محصول"  FieldName="ProductName" />

<DxGridDataColumn DisplayFormat="G" Caption="ظرفیت روزانه"  FieldName="DailyCapacity" />

<DxGridDataColumn  Caption="توضیحات"  FieldName="Description" />

<DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />


</Columns>

    <EditFormTemplate Context="EditFormContextSCMPETCO_OrgSkills_SupplierDetail">
    @{
        SCMPETCO_OrgSkills_SupplierDetail  = (Entity.SCMPETCO_OrgSkills_SupplierDetail)EditFormContextSCMPETCO_OrgSkills_SupplierDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_ServicesName" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_ServicesName" Label="نام خدمات"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-4"   @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.ServicesName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_ProductName" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_ProductName" Label="نام محصول"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-4"   @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.ProductName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_DailyCapacity" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_DailyCapacity" Label="ظرفیت روزانه"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-4"   @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.DailyCapacity" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_Description" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_Description" Label="توضیحات"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-12"   @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.Description" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"350\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_Id" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_Id"   CssClass="d-none"   @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_RequestID" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_RequestID"      @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_CreateUser" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_CreateUser"      @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_UpdateUser" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_UpdateUser"      @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_CreateDate" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_CreateDate"   CssClass="d-none"   @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_UpdateDate" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_UpdateDate"   CssClass="d-none"   @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail">
    
<Input Id="SCMPETCO_OrgSkills_SupplierDetail_IsDelete" @ref="Ref_SCMPETCO_OrgSkills_SupplierDetail_IsDelete"   CssClass="d-none"   @bind-Value="SCMPETCO_OrgSkills_SupplierDetail.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSCMPETCO_OrgSkills_SupplierDetail" CssClass="btn-modal-custom">
            <DxButton Id="SCMPETCO_OrgSkills_SupplierDetail_GridSCMPETCO_SupplierMasterId_632ButtonSave" Click="@(() => SaveModalGrid_SCMPETCO_OrgSkills_SupplierDetail(EditFormContextSCMPETCO_OrgSkills_SupplierDetail))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SCMPETCO_OrgSkills_SupplierDetail_GridSCMPETCO_SupplierMasterId_632ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_SCMPETCO_OrgSkills_SupplierDetail(EditFormContextSCMPETCO_OrgSkills_SupplierDetail))" CssClass="btn btn-green" />


            <DxButton Id="SCMPETCO_OrgSkills_SupplierDetail_GridSCMPETCO_SupplierMasterId_632ButtonCancel" Click="@(() => Grid_SCMPETCO_OrgSkills_SupplierDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SCMPETCO_OrgSkills_SupplierDetail_GridSCMPETCO_SupplierMasterId_632ButtonBefore" Click="@(() => Dialog_Grid_SCMPETCO_OrgSkills_SupplierDetail(0,IndexGrid_SCMPETCO_OrgSkills_SupplierDetail,EditFormContextSCMPETCO_OrgSkills_SupplierDetail))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SCMPETCO_OrgSkills_SupplierDetail_GridSCMPETCO_SupplierMasterId_632ButtonNext" Click="@(() => Dialog_Grid_SCMPETCO_OrgSkills_SupplierDetail(1,IndexGrid_SCMPETCO_OrgSkills_SupplierDetail,EditFormContextSCMPETCO_OrgSkills_SupplierDetail))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSCMPETCO_OrgSkills_SupplierDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SCMPETCO_OrgSkills_SupplierDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SCMPETCO_OrgSkills_SupplierDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSCMPETCO_OrgSkills_SupplierDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSCMPETCO_OrgSkills_SupplierDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSCMPETCO_OrgSkills_SupplierDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SCMPETCO_OrgSkills_SupplierDetail;
    Entity.SCMPETCO_OrgSkills_SupplierDetail SCMPETCO_OrgSkills_SupplierDetail;
    bool ConfirmationShownSCMPETCO_OrgSkills_SupplierDetail { get; set; } = false;
    public Entity.SCMPETCO_OrgSkills_SupplierDetail SelectedItemGrid_SCMPETCO_OrgSkills_SupplierDetail { get; set; } = new Entity.SCMPETCO_OrgSkills_SupplierDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SCMPETCO_OrgSkills_SupplierDetail { get; set; }

    ///////////////////////
    bool ConfirmationSCMPETCO_OrgSkills_SupplierDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSCMPETCO_OrgSkills_SupplierDetail { get; set; }
    public int OpenDialogCodeSCMPETCO_OrgSkills_SupplierDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSCMPETCO_OrgSkills_SupplierDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SCMPETCO_OrgSkills_SupplierDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SCMPETCO_OrgSkills_SupplierDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSCMPETCO_OrgSkills_SupplierDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSCMPETCO_OrgSkills_SupplierDetail = e;
    ConfirmationSCMPETCO_OrgSkills_SupplierDetail = true;
    }
    else
    {
    await OnNoButtonSCMPETCO_OrgSkills_SupplierDetail();
    }
}
async Task OnYesButtonSCMPETCO_OrgSkills_SupplierDetail()
{

    ConfirmationSCMPETCO_OrgSkills_SupplierDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSCMPETCO_OrgSkills_SupplierDetail.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SCMPETCO_OrgSkills_SupplierDetail(_ContextFormTemplateSCMPETCO_OrgSkills_SupplierDetail.DataItem, _ContextFormTemplateSCMPETCO_OrgSkills_SupplierDetail.EditModel);
            await Grid_SCMPETCO_OrgSkills_SupplierDetail.CancelEditAsync();
         await ChangePageGrid_SCMPETCO_OrgSkills_SupplierDetail();
         await SetEditFormContextGrid_SCMPETCO_OrgSkills_SupplierDetail();
         }
          
    }

}
async Task OnNoButtonSCMPETCO_OrgSkills_SupplierDetail()
{
    ConfirmationSCMPETCO_OrgSkills_SupplierDetail = false;
    await ChangePageGrid_SCMPETCO_OrgSkills_SupplierDetail();
    await SetEditFormContextGrid_SCMPETCO_OrgSkills_SupplierDetail();

}
async Task SetEditFormContextGrid_SCMPETCO_OrgSkills_SupplierDetail()
{
    var e = (Entity.SCMPETCO_OrgSkills_SupplierDetail)Grid_SCMPETCO_OrgSkills_SupplierDetail.GetDataItem(IndexGrid_SCMPETCO_OrgSkills_SupplierDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SCMPETCO_OrgSkills_SupplierDetail()
{
    int VisibleIndex = IndexGrid_SCMPETCO_OrgSkills_SupplierDetail;
    try
    {
    if (OpenDialogCodeSCMPETCO_OrgSkills_SupplierDetail == 1)
    {
        if (VisibleIndex != (Grid_SCMPETCO_OrgSkills_SupplierDetail.GetVisibleRowCount() - 1))
    { 
            Grid_SCMPETCO_OrgSkills_SupplierDetail.CancelEditAsync();
            IndexGrid_SCMPETCO_OrgSkills_SupplierDetail = VisibleIndex + 1;
    Grid_SCMPETCO_OrgSkills_SupplierDetail.StartEditRowAsync(IndexGrid_SCMPETCO_OrgSkills_SupplierDetail);
    }
    }
    else if (OpenDialogCodeSCMPETCO_OrgSkills_SupplierDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SCMPETCO_OrgSkills_SupplierDetail.CancelEditAsync();
            IndexGrid_SCMPETCO_OrgSkills_SupplierDetail = VisibleIndex - 1;
    Grid_SCMPETCO_OrgSkills_SupplierDetail.StartEditRowAsync(IndexGrid_SCMPETCO_OrgSkills_SupplierDetail);
    }

    }
    var e = (Entity.SCMPETCO_OrgSkills_SupplierDetail)Grid_SCMPETCO_OrgSkills_SupplierDetail.GetDataItem(IndexGrid_SCMPETCO_OrgSkills_SupplierDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SCMPETCO_OrgSkills_SupplierDetail()
{
    IndexGrid_SCMPETCO_OrgSkills_SupplierDetail = Grid_SCMPETCO_OrgSkills_SupplierDetail.GetVisibleRowCount();
Grid_SCMPETCO_OrgSkills_SupplierDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SCMPETCO_OrgSkills_SupplierDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SCMPETCO_OrgSkills_SupplierDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SCMPETCO_OrgSkills_SupplierDetail = Context.VisibleIndex;
Grid_SCMPETCO_OrgSkills_SupplierDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SCMPETCO_OrgSkills_SupplierDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SCMPETCO_OrgSkills_SupplierDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SCMPETCO_OrgSkills_SupplierDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SCMPETCO_OrgSkills_SupplierDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SCMPETCO_OrgSkills_SupplierDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SCMPETCO_OrgSkills_SupplierDetail();

    }
          
    }
   
}

void PerviousPageGrid_SCMPETCO_OrgSkills_SupplierDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SCMPETCO_OrgSkills_SupplierDetail.CancelEditAsync();
        IndexGrid_SCMPETCO_OrgSkills_SupplierDetail = VisibleIndex - 1;
         Grid_SCMPETCO_OrgSkills_SupplierDetail.StartEditRowAsync(IndexGrid_SCMPETCO_OrgSkills_SupplierDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SCMPETCO_OrgSkills_SupplierDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_SCMPETCO_OrgSkills_SupplierDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SCMPETCO_OrgSkills_SupplierDetail ");
    try
    {
Grid_SCMPETCO_OrgSkills_SupplierDetail.CancelEditAsync();
        IndexGrid_SCMPETCO_OrgSkills_SupplierDetail = VisibleIndex + 1;
         Grid_SCMPETCO_OrgSkills_SupplierDetail.StartEditRowAsync(IndexGrid_SCMPETCO_OrgSkills_SupplierDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SCMPETCO_OrgSkills_SupplierDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SCMPETCO_OrgSkills_SupplierDetail;
    var MainModel = (Entity.SCMPETCO_OrgSkills_SupplierDetail)DataItem;
    if (MainModel != null)
    {
MainModel.ServicesName = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).ServicesName;
MainModel.ProductName = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).ProductName;
MainModel.DailyCapacity = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).DailyCapacity;
MainModel.Description = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).Description;
MainModel.Id = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).Id;
MainModel.RequestID = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel).IsDelete;

    }
    else
    {
    ListEntity.Add((Entity.SCMPETCO_OrgSkills_SupplierDetail)EditModel);
    }
}

async Task OnDataItemDeletingSCMPETCO_OrgSkills_SupplierDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SCMPETCO_OrgSkills_SupplierDetail;
    ListEntity.Remove((Entity.SCMPETCO_OrgSkills_SupplierDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_SCMPETCO_OrgSkills_SupplierDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SCMPETCO_OrgSkills_SupplierDetail = (ex.DataItem as Entity.SCMPETCO_OrgSkills_SupplierDetail);
    var e =SelectedItemGrid_SCMPETCO_OrgSkills_SupplierDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSCMPETCO_OrgSkills_SupplierDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SCMPETCO_OrgSkills_SupplierDetail ()
{
       if (SelectedItemGrid_SCMPETCO_OrgSkills_SupplierDetail != null)
    {
      if (SelectedItemGrid_SCMPETCO_OrgSkills_SupplierDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SCMPETCO_OrgSkills_SupplierDetail;
        ListEntity.Remove((Entity.SCMPETCO_OrgSkills_SupplierDetail)SelectedItemGrid_SCMPETCO_OrgSkills_SupplierDetail);
     
      }
      else
      {
        var cleanModel = new Entity.SCMPETCO_OrgSkills_SupplierDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SCMPETCO_OrgSkills_SupplierDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SCMPETCO_OrgSkills_SupplierDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SCMPETCO_OrgSkills_SupplierDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SCMPETCO_OrgSkills_SupplierDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SCMPETCO_OrgSkills_SupplierDetail;
    
    Grid_SCMPETCO_OrgSkills_SupplierDetail.Reload();
    ConfirmationShownSCMPETCO_OrgSkills_SupplierDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SCMPETCO_OrgSkills_SupplierDetail ()
{
    ConfirmationShownSCMPETCO_OrgSkills_SupplierDetail = false;
}

void CustomizeRowsGrid_SCMPETCO_OrgSkills_SupplierDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SCMPETCO_OrgSkills_SupplierDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SCMPETCO_OrgSkills_SupplierDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SCMPETCO_OrgSkills_SupplierDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_SCMPETCO_OrgSkills_SupplierDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SCMPETCO_OrgSkills_SupplierDetail(GridRowClickEventArgs e)
{

}
}
<div  class="">
    <div class="header p-2 px-2 rounded-1 fs-5 fw-black mt-2 mb-1" style="background-color: #62b6cb">
  <div class="text-white">
  اطلاعات قراردادها با سایر مشتریان
  </div>
</div>
</div>

<DxGrid @ref="Grid_SCMPETCO_Partnerships_SupplierDetail" Data="_Entity.SCMPETCO_Partnerships_SupplierDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSCMPETCO_Partnerships_SupplierDetail"
        DataItemDeleting="OnDataItemDeletingSCMPETCO_Partnerships_SupplierDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="قراردادها با سایر مشتریان"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SCMPETCO_Partnerships_SupplierDetail"
        CustomizeElement="CustomizeRowsGrid_SCMPETCO_Partnerships_SupplierDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":633,\"FieldId\":633,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SCMPETCO_Partnerships_SupplierDetail\",\"GridMainModel\":\"SCMPETCO_Partnerships_SupplierDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"قراردادها با سایر مشتریان\",\"tableView\":true,\"key\":\"GridSCMPETCO_SupplierMasterId_633\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSCMPETCO_SupplierMasterId_633\",\"hideLabel\":true,\"modalEdit\":true,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-12\",\"FieldUrl\":\"633?EId=633&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":false,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
        CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-12" >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SCMPETCO_Partnerships_SupplierDetail_GridSCMPETCO_SupplierMasterId_633ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SCMPETCO_Partnerships_SupplierDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SCMPETCO_Partnerships_SupplierDetail_GridSCMPETCO_SupplierMasterId_633ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SCMPETCO_Partnerships_SupplierDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="نام و مشخصات طرف قرارداد"  FieldName="ContractorDetails" />

<DxGridDataColumn Context="html1_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-8">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="کالا / خدمات"  FieldName="ServicesTitle" />

<DxGridDataColumn Context="html_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-8">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="تاریخ شروع قرارداد"  FieldName="StartDate" />

<DxGridDataColumn Context="html2_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-8">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="تاریخ شروع قرارداد میلادی" Visible=false FieldName="StartDateEN" />

<DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />


</Columns>

    <EditFormTemplate Context="EditFormContextSCMPETCO_Partnerships_SupplierDetail">
    @{
        SCMPETCO_Partnerships_SupplierDetail  = (Entity.SCMPETCO_Partnerships_SupplierDetail)EditFormContextSCMPETCO_Partnerships_SupplierDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_ContractorDetails" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_ContractorDetails" Label="نام و مشخصات طرف قرارداد"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-4"   @bind-Value="SCMPETCO_Partnerships_SupplierDetail.ContractorDetails" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-8">
    
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_ServicesTitle" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_ServicesTitle" Label="کالا / خدمات"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-4"   @bind-Value="SCMPETCO_Partnerships_SupplierDetail.ServicesTitle" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"100\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-8">
    
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_StartDate" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_StartDate" Label="تاریخ شروع قرارداد"  CssClass=" PersianDatePicker Gcol-sm-8 Gcol-md-6 Gcol-lg-4"   @bind-Value="SCMPETCO_Partnerships_SupplierDetail.StartDate" type="textfield"    onselect="@(e => StartDate_onselect(e ,SCMPETCO_Partnerships_SupplierDetail))"  Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-8">
    
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_StartDateEN" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_StartDateEN" Label="تاریخ شروع قرارداد میلادی"  CssClass="d-none" Disabled=true  @bind-Value="SCMPETCO_Partnerships_SupplierDetail.StartDateEN" type="datetime-local"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_Id" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_Id"   CssClass="d-none"   @bind-Value="SCMPETCO_Partnerships_SupplierDetail.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_RequestID" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_RequestID"      @bind-Value="SCMPETCO_Partnerships_SupplierDetail.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_CreateUser" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_CreateUser"      @bind-Value="SCMPETCO_Partnerships_SupplierDetail.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_UpdateUser" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_UpdateUser"      @bind-Value="SCMPETCO_Partnerships_SupplierDetail.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_CreateDate" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_CreateDate"   CssClass="d-none"   @bind-Value="SCMPETCO_Partnerships_SupplierDetail.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_UpdateDate" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_UpdateDate"   CssClass="d-none"   @bind-Value="SCMPETCO_Partnerships_SupplierDetail.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail">
    
<Input Id="SCMPETCO_Partnerships_SupplierDetail_IsDelete" @ref="Ref_SCMPETCO_Partnerships_SupplierDetail_IsDelete"   CssClass="d-none"   @bind-Value="SCMPETCO_Partnerships_SupplierDetail.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSCMPETCO_Partnerships_SupplierDetail" CssClass="btn-modal-custom">
            <DxButton Id="SCMPETCO_Partnerships_SupplierDetail_GridSCMPETCO_SupplierMasterId_633ButtonSave" Click="@(() => SaveModalGrid_SCMPETCO_Partnerships_SupplierDetail(EditFormContextSCMPETCO_Partnerships_SupplierDetail))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SCMPETCO_Partnerships_SupplierDetail_GridSCMPETCO_SupplierMasterId_633ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_SCMPETCO_Partnerships_SupplierDetail(EditFormContextSCMPETCO_Partnerships_SupplierDetail))" CssClass="btn btn-green" />


            <DxButton Id="SCMPETCO_Partnerships_SupplierDetail_GridSCMPETCO_SupplierMasterId_633ButtonCancel" Click="@(() => Grid_SCMPETCO_Partnerships_SupplierDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SCMPETCO_Partnerships_SupplierDetail_GridSCMPETCO_SupplierMasterId_633ButtonBefore" Click="@(() => Dialog_Grid_SCMPETCO_Partnerships_SupplierDetail(0,IndexGrid_SCMPETCO_Partnerships_SupplierDetail,EditFormContextSCMPETCO_Partnerships_SupplierDetail))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SCMPETCO_Partnerships_SupplierDetail_GridSCMPETCO_SupplierMasterId_633ButtonNext" Click="@(() => Dialog_Grid_SCMPETCO_Partnerships_SupplierDetail(1,IndexGrid_SCMPETCO_Partnerships_SupplierDetail,EditFormContextSCMPETCO_Partnerships_SupplierDetail))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSCMPETCO_Partnerships_SupplierDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SCMPETCO_Partnerships_SupplierDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SCMPETCO_Partnerships_SupplierDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSCMPETCO_Partnerships_SupplierDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSCMPETCO_Partnerships_SupplierDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSCMPETCO_Partnerships_SupplierDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SCMPETCO_Partnerships_SupplierDetail;
    Entity.SCMPETCO_Partnerships_SupplierDetail SCMPETCO_Partnerships_SupplierDetail;
    bool ConfirmationShownSCMPETCO_Partnerships_SupplierDetail { get; set; } = false;
    public Entity.SCMPETCO_Partnerships_SupplierDetail SelectedItemGrid_SCMPETCO_Partnerships_SupplierDetail { get; set; } = new Entity.SCMPETCO_Partnerships_SupplierDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SCMPETCO_Partnerships_SupplierDetail { get; set; }

    ///////////////////////
    bool ConfirmationSCMPETCO_Partnerships_SupplierDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSCMPETCO_Partnerships_SupplierDetail { get; set; }
    public int OpenDialogCodeSCMPETCO_Partnerships_SupplierDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSCMPETCO_Partnerships_SupplierDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SCMPETCO_Partnerships_SupplierDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SCMPETCO_Partnerships_SupplierDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSCMPETCO_Partnerships_SupplierDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSCMPETCO_Partnerships_SupplierDetail = e;
    ConfirmationSCMPETCO_Partnerships_SupplierDetail = true;
    }
    else
    {
    await OnNoButtonSCMPETCO_Partnerships_SupplierDetail();
    }
}
async Task OnYesButtonSCMPETCO_Partnerships_SupplierDetail()
{

    ConfirmationSCMPETCO_Partnerships_SupplierDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSCMPETCO_Partnerships_SupplierDetail.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SCMPETCO_Partnerships_SupplierDetail(_ContextFormTemplateSCMPETCO_Partnerships_SupplierDetail.DataItem, _ContextFormTemplateSCMPETCO_Partnerships_SupplierDetail.EditModel);
            await Grid_SCMPETCO_Partnerships_SupplierDetail.CancelEditAsync();
         await ChangePageGrid_SCMPETCO_Partnerships_SupplierDetail();
         await SetEditFormContextGrid_SCMPETCO_Partnerships_SupplierDetail();
         }
          
    }

}
async Task OnNoButtonSCMPETCO_Partnerships_SupplierDetail()
{
    ConfirmationSCMPETCO_Partnerships_SupplierDetail = false;
    await ChangePageGrid_SCMPETCO_Partnerships_SupplierDetail();
    await SetEditFormContextGrid_SCMPETCO_Partnerships_SupplierDetail();

}
async Task SetEditFormContextGrid_SCMPETCO_Partnerships_SupplierDetail()
{
    var e = (Entity.SCMPETCO_Partnerships_SupplierDetail)Grid_SCMPETCO_Partnerships_SupplierDetail.GetDataItem(IndexGrid_SCMPETCO_Partnerships_SupplierDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SCMPETCO_Partnerships_SupplierDetail()
{
    int VisibleIndex = IndexGrid_SCMPETCO_Partnerships_SupplierDetail;
    try
    {
    if (OpenDialogCodeSCMPETCO_Partnerships_SupplierDetail == 1)
    {
        if (VisibleIndex != (Grid_SCMPETCO_Partnerships_SupplierDetail.GetVisibleRowCount() - 1))
    { 
            Grid_SCMPETCO_Partnerships_SupplierDetail.CancelEditAsync();
            IndexGrid_SCMPETCO_Partnerships_SupplierDetail = VisibleIndex + 1;
    Grid_SCMPETCO_Partnerships_SupplierDetail.StartEditRowAsync(IndexGrid_SCMPETCO_Partnerships_SupplierDetail);
    }
    }
    else if (OpenDialogCodeSCMPETCO_Partnerships_SupplierDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SCMPETCO_Partnerships_SupplierDetail.CancelEditAsync();
            IndexGrid_SCMPETCO_Partnerships_SupplierDetail = VisibleIndex - 1;
    Grid_SCMPETCO_Partnerships_SupplierDetail.StartEditRowAsync(IndexGrid_SCMPETCO_Partnerships_SupplierDetail);
    }

    }
    var e = (Entity.SCMPETCO_Partnerships_SupplierDetail)Grid_SCMPETCO_Partnerships_SupplierDetail.GetDataItem(IndexGrid_SCMPETCO_Partnerships_SupplierDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SCMPETCO_Partnerships_SupplierDetail()
{
    IndexGrid_SCMPETCO_Partnerships_SupplierDetail = Grid_SCMPETCO_Partnerships_SupplierDetail.GetVisibleRowCount();
Grid_SCMPETCO_Partnerships_SupplierDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SCMPETCO_Partnerships_SupplierDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SCMPETCO_Partnerships_SupplierDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SCMPETCO_Partnerships_SupplierDetail = Context.VisibleIndex;
Grid_SCMPETCO_Partnerships_SupplierDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SCMPETCO_Partnerships_SupplierDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SCMPETCO_Partnerships_SupplierDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SCMPETCO_Partnerships_SupplierDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SCMPETCO_Partnerships_SupplierDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SCMPETCO_Partnerships_SupplierDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SCMPETCO_Partnerships_SupplierDetail();

    }
          
    }
   
}

void PerviousPageGrid_SCMPETCO_Partnerships_SupplierDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SCMPETCO_Partnerships_SupplierDetail.CancelEditAsync();
        IndexGrid_SCMPETCO_Partnerships_SupplierDetail = VisibleIndex - 1;
         Grid_SCMPETCO_Partnerships_SupplierDetail.StartEditRowAsync(IndexGrid_SCMPETCO_Partnerships_SupplierDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SCMPETCO_Partnerships_SupplierDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_SCMPETCO_Partnerships_SupplierDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SCMPETCO_Partnerships_SupplierDetail ");
    try
    {
Grid_SCMPETCO_Partnerships_SupplierDetail.CancelEditAsync();
        IndexGrid_SCMPETCO_Partnerships_SupplierDetail = VisibleIndex + 1;
         Grid_SCMPETCO_Partnerships_SupplierDetail.StartEditRowAsync(IndexGrid_SCMPETCO_Partnerships_SupplierDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SCMPETCO_Partnerships_SupplierDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SCMPETCO_Partnerships_SupplierDetail;
    var MainModel = (Entity.SCMPETCO_Partnerships_SupplierDetail)DataItem;
    if (MainModel != null)
    {
MainModel.ContractorDetails = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).ContractorDetails;
MainModel.ServicesTitle = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).ServicesTitle;
MainModel.StartDate = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).StartDate;
MainModel.StartDateEN = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).StartDateEN;
MainModel.Id = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).Id;
MainModel.RequestID = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel).IsDelete;

    }
    else
    {
    ListEntity.Add((Entity.SCMPETCO_Partnerships_SupplierDetail)EditModel);
    }
}

async Task OnDataItemDeletingSCMPETCO_Partnerships_SupplierDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SCMPETCO_Partnerships_SupplierDetail;
    ListEntity.Remove((Entity.SCMPETCO_Partnerships_SupplierDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_SCMPETCO_Partnerships_SupplierDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SCMPETCO_Partnerships_SupplierDetail = (ex.DataItem as Entity.SCMPETCO_Partnerships_SupplierDetail);
    var e =SelectedItemGrid_SCMPETCO_Partnerships_SupplierDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSCMPETCO_Partnerships_SupplierDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SCMPETCO_Partnerships_SupplierDetail ()
{
       if (SelectedItemGrid_SCMPETCO_Partnerships_SupplierDetail != null)
    {
      if (SelectedItemGrid_SCMPETCO_Partnerships_SupplierDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SCMPETCO_Partnerships_SupplierDetail;
        ListEntity.Remove((Entity.SCMPETCO_Partnerships_SupplierDetail)SelectedItemGrid_SCMPETCO_Partnerships_SupplierDetail);
     
      }
      else
      {
        var cleanModel = new Entity.SCMPETCO_Partnerships_SupplierDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SCMPETCO_Partnerships_SupplierDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SCMPETCO_Partnerships_SupplierDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SCMPETCO_Partnerships_SupplierDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SCMPETCO_Partnerships_SupplierDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SCMPETCO_Partnerships_SupplierDetail;
    
    Grid_SCMPETCO_Partnerships_SupplierDetail.Reload();
    ConfirmationShownSCMPETCO_Partnerships_SupplierDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SCMPETCO_Partnerships_SupplierDetail ()
{
    ConfirmationShownSCMPETCO_Partnerships_SupplierDetail = false;
}

void CustomizeRowsGrid_SCMPETCO_Partnerships_SupplierDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SCMPETCO_Partnerships_SupplierDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SCMPETCO_Partnerships_SupplierDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SCMPETCO_Partnerships_SupplierDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_SCMPETCO_Partnerships_SupplierDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SCMPETCO_Partnerships_SupplierDetail(GridRowClickEventArgs e)
{

}
}
<div  class="">
    <div class="header p-2 px-2 rounded-1 fs-5 fw-black mt-2 mb-1" style="background-color: #62b6cb">
  <div class="text-white">
  توانایی تست و آزمون
  </div>
</div>
</div>

<div class="row ">
    
<div class="col-md-12">
    
<Input Id="TestingSkillsDesc" @ref="Ref_TestingSkillsDesc"   CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-12"   @bind-Value="_Entity.TestingSkillsDesc" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"400\"}").Result))></Input>

</div>

<div class="col-md-12">
    
</div>

</div>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMPETCO_SupplierMaster\",\"GetNameAs\":\"SCMPETCO_SupplierMaster\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SupplierName\",\"GetNameAs\":\"SupplierName\"},{\"Name\":\"ServiceName\",\"GetNameAs\":\"ServiceName\"},{\"Name\":\"SupplierBusinessOwner\",\"GetNameAs\":\"SupplierBusinessOwner\"},{\"Name\":\"OfficeAddress\",\"GetNameAs\":\"OfficeAddress\"},{\"Name\":\"ContactPerson\",\"GetNameAs\":\"ContactPerson\"},{\"Name\":\"OfficePhoneNumber\",\"GetNameAs\":\"OfficePhoneNumber\"},{\"Name\":\"OfficeFax\",\"GetNameAs\":\"OfficeFax\"},{\"Name\":\"FactoryAddress\",\"GetNameAs\":\"FactoryAddress\"},{\"Name\":\"FactoryPhoneNumber\",\"GetNameAs\":\"FactoryPhoneNumber\"},{\"Name\":\"FactoryFax\",\"GetNameAs\":\"FactoryFax\"},{\"Name\":\"Email\",\"GetNameAs\":\"Email\"},{\"Name\":\"TestingSkillsDesc\",\"GetNameAs\":\"TestingSkillsDesc\"},{\"Name\":\"SystemUser\",\"GetNameAs\":\"SystemUser\"},{\"Name\":\"SystemUnitUser\",\"GetNameAs\":\"SystemUnitUser\"},{\"Name\":\"SystemSectionUser\",\"GetNameAs\":\"SystemSectionUser\"},{\"Name\":\"UserCompanyName\",\"GetNameAs\":\"UserCompanyName\"},{\"Name\":\"RequestTrakingCode\",\"GetNameAs\":\"RequestTrakingCode\"},{\"Name\":\"ProcessVersionID\",\"GetNameAs\":\"ProcessVersionID\"}],\"Relation\":[{\"Name\":\"SCMPETCO_GradType\",\"GetNameAs\":\"SCMPETCO_GradType\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"SCMPETCO_OrgSkills_SupplierDetail\",\"GetNameAs\":\"SCMPETCO_OrgSkills_SupplierDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"ServicesName\",\"GetNameAs\":\"ServicesName\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"DailyCapacity\",\"GetNameAs\":\"DailyCapacity\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"}],\"Relation\":[]},{\"Name\":\"SCMPETCO_Partnerships_SupplierDetail\",\"GetNameAs\":\"SCMPETCO_Partnerships_SupplierDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"ContractorDetails\",\"GetNameAs\":\"ContractorDetails\"},{\"Name\":\"ServicesTitle\",\"GetNameAs\":\"ServicesTitle\"},{\"Name\":\"StartDate\",\"GetNameAs\":\"StartDate\"},{\"Name\":\"StartDateEN\",\"GetNameAs\":\"StartDateEN\"}],\"Relation\":[]},{\"Name\":\"SCMPETCO_SupplierMaster_Attachments\",\"GetNameAs\":\"SCMPETCO_SupplierMaster_Attachments\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"SCMPETCO_SupplierMasterId\",\"GetNameAs\":\"SCMPETCO_SupplierMasterId\"},{\"Name\":\"storage\",\"GetNameAs\":\"storage\"},{\"Name\":\"name\",\"GetNameAs\":\"name\"},{\"Name\":\"url\",\"GetNameAs\":\"url\"},{\"Name\":\"size\",\"GetNameAs\":\"size\"},{\"Name\":\"type\",\"GetNameAs\":\"type\"},{\"Name\":\"originalName\",\"GetNameAs\":\"originalName\"},{\"Name\":\"hash\",\"GetNameAs\":\"hash\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMPETCO_SupplierMaster\",\"GetNameAs\":\"SCMPETCO_SupplierMaster\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SupplierName\",\"GetNameAs\":\"SupplierName\"},{\"Name\":\"ServiceName\",\"GetNameAs\":\"ServiceName\"},{\"Name\":\"SupplierBusinessOwner\",\"GetNameAs\":\"SupplierBusinessOwner\"},{\"Name\":\"OfficeAddress\",\"GetNameAs\":\"OfficeAddress\"},{\"Name\":\"ContactPerson\",\"GetNameAs\":\"ContactPerson\"},{\"Name\":\"OfficePhoneNumber\",\"GetNameAs\":\"OfficePhoneNumber\"},{\"Name\":\"OfficeFax\",\"GetNameAs\":\"OfficeFax\"},{\"Name\":\"FactoryAddress\",\"GetNameAs\":\"FactoryAddress\"},{\"Name\":\"FactoryPhoneNumber\",\"GetNameAs\":\"FactoryPhoneNumber\"},{\"Name\":\"FactoryFax\",\"GetNameAs\":\"FactoryFax\"},{\"Name\":\"Email\",\"GetNameAs\":\"Email\"},{\"Name\":\"TestingSkillsDesc\",\"GetNameAs\":\"TestingSkillsDesc\"},{\"Name\":\"SystemUser\",\"GetNameAs\":\"SystemUser\"},{\"Name\":\"SystemUnitUser\",\"GetNameAs\":\"SystemUnitUser\"},{\"Name\":\"SystemSectionUser\",\"GetNameAs\":\"SystemSectionUser\"},{\"Name\":\"UserCompanyName\",\"GetNameAs\":\"UserCompanyName\"},{\"Name\":\"RequestTrakingCode\",\"GetNameAs\":\"RequestTrakingCode\"},{\"Name\":\"ProcessVersionID\",\"GetNameAs\":\"ProcessVersionID\"}],\"Relation\":[{\"Name\":\"SCMPETCO_OrgSkills_SupplierDetail\",\"GetNameAs\":\"SCMPETCO_OrgSkills_SupplierDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"ServicesName\",\"GetNameAs\":\"ServicesName\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"DailyCapacity\",\"GetNameAs\":\"DailyCapacity\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"}],\"Relation\":[]},{\"Name\":\"SCMPETCO_Partnerships_SupplierDetail\",\"GetNameAs\":\"SCMPETCO_Partnerships_SupplierDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"ContractorDetails\",\"GetNameAs\":\"ContractorDetails\"},{\"Name\":\"ServicesTitle\",\"GetNameAs\":\"ServicesTitle\"},{\"Name\":\"StartDate\",\"GetNameAs\":\"StartDate\"},{\"Name\":\"StartDateEN\",\"GetNameAs\":\"StartDateEN\"}],\"Relation\":[]},{\"Name\":\"SCMPETCO_SupplierMaster_Attachments\",\"GetNameAs\":\"SCMPETCO_SupplierMaster_Attachments\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"SCMPETCO_SupplierMasterId\",\"GetNameAs\":\"SCMPETCO_SupplierMasterId\"},{\"Name\":\"storage\",\"GetNameAs\":\"storage\"},{\"Name\":\"name\",\"GetNameAs\":\"name\"},{\"Name\":\"url\",\"GetNameAs\":\"url\"},{\"Name\":\"size\",\"GetNameAs\":\"size\"},{\"Name\":\"type\",\"GetNameAs\":\"type\"},{\"Name\":\"originalName\",\"GetNameAs\":\"originalName\"},{\"Name\":\"hash\",\"GetNameAs\":\"hash\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SCMPETCO_SupplierMaster>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SCMPETCO_SupplierMaster();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//
_Entity.SystemUser = _RequestParameters.UserStarterFullName;
_Entity.SystemUnitUser = _RequestParameters.UserStarterUnitName;
_Entity.SystemSectionUser = _RequestParameters.UserStarterSectionName;
_Entity.UserCompanyName = _RequestParameters.UserStarterCompanyName;
_Entity.RequestTrakingCode = _RequestParameters.RequestTrakingCode;
_Entity.ProcessVersionID = _RequestParameters.ProcessVersionID;


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SCMPETCO_SupplierMaster>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
