@inherits Forms.Forms.Form_285Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="FileUploads_FileUploads_GridFileUploads_MainFileUploadsId_180">بارگذاری فایل
   
    
</label>

<DxGrid @ref="Grid_FileUploads_FileUploads" Data="_Entity.FileUploads_FileUploads" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingFileUploads_FileUploads"
        DataItemDeleting="OnDataItemDeletingFileUploads_FileUploads"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="بارگذاری فایل"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_FileUploads_FileUploads"
        CustomizeElement="CustomizeRowsGrid_FileUploads_FileUploads" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":180,\"FieldId\":0,\"ViewId\":285,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"FileUploads_FileUploads\",\"GridMainModel\":\"FileUploads_FileUploads\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"modal\":true,\"label\":\"بارگذاری فایل\",\"tableView\":false,\"key\":\"GridFileUploads_MainFileUploadsId_180\",\"type\":\"datagrid\",\"input\":true,\"modalEdit\":true,\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":false,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=FileUploads_FileUploads_GridFileUploads_MainFileUploadsId_180ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_FileUploads_FileUploads())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=FileUploads_FileUploads_GridFileUploads_MainFileUploadsId_180ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_FileUploads_FileUploads(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn  Caption="عنوان فایل"  FieldName="FileTitle" />

<DxGridDataColumn Context="FileUploads_FileUploads_FileUpload_" Caption="بارگذاری فایل" >
    <CellDisplayTemplate>
      
@{
    var FileUploads_FileUploads_FileUploads_FileUploads_FileUpload = (Entity.FileUploads_FileUploads)FileUploads_FileUploads_FileUpload_.DataItem;
}
@foreach (var item_FileUploads_FileUploads in FileUploads_FileUploads_FileUploads_FileUploads_FileUpload.FileUploads_FileUploads_FileUpload.Where(p=>!p.IsDelete.HasValue || !p.IsDelete.Value))
{

    <div class="bg-lightblue rounded p-1 d-inline-block m-1">
        <span>@item_FileUploads_FileUploads.originalName</span>
        <hr class="hrdash mt-1 mb-0">
        <div class="btn-group align-items-center">
            <button type="button" class="btn btn-sm text-yellow p-0" onclick="ShowImageNewTab('@item_FileUploads_FileUploads.url')">@languageContainer.Keys["DXGrid:View"]</button>
            <a href="@item_FileUploads_FileUploads.url" class="btn btn-sm text-green p-0">@languageContainer.Keys["DXGrid:Download"]</a>
        </div>
    </div>
}


    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextFileUploads_FileUploads">
    @{
        FileUploads_FileUploads  = (Entity.FileUploads_FileUploads)EditFormContextFileUploads_FileUploads.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFileUploads_FileUploads">
    
<Input Id="FileUploads_FileUploads_Id" @ref="Ref_FileUploads_FileUploads_Id"   CssClass="d-none"   @bind-Value="FileUploads_FileUploads.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFileUploads_FileUploads">
    
<Input Id="FileUploads_FileUploads_RequestID" @ref="Ref_FileUploads_FileUploads_RequestID"      @bind-Value="FileUploads_FileUploads.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFileUploads_FileUploads">
    
<Input Id="FileUploads_FileUploads_CreateUser" @ref="Ref_FileUploads_FileUploads_CreateUser"      @bind-Value="FileUploads_FileUploads.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFileUploads_FileUploads">
    
<Input Id="FileUploads_FileUploads_UpdateUser" @ref="Ref_FileUploads_FileUploads_UpdateUser"      @bind-Value="FileUploads_FileUploads.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFileUploads_FileUploads">
    
<Input Id="FileUploads_FileUploads_CreateDate" @ref="Ref_FileUploads_FileUploads_CreateDate"   CssClass="d-none"   @bind-Value="FileUploads_FileUploads.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFileUploads_FileUploads">
    
<Input Id="FileUploads_FileUploads_UpdateDate" @ref="Ref_FileUploads_FileUploads_UpdateDate"   CssClass="d-none"   @bind-Value="FileUploads_FileUploads.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFileUploads_FileUploads">
    
<Input Id="FileUploads_FileUploads_IsDelete" @ref="Ref_FileUploads_FileUploads_IsDelete"   CssClass="d-none"   @bind-Value="FileUploads_FileUploads.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFileUploads_FileUploads">
    
<Input Id="FileUploads_FileUploads_FileTitle" @ref="Ref_FileUploads_FileUploads_FileTitle" Label="عنوان فایل" placeholder="عنوان فایل"    @bind-Value="FileUploads_FileUploads.FileTitle" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextFileUploads_FileUploads">
    <Uploader Id=FileUploads_FileUploads_FileUploads_FileUploads_FileUpload  @ref="Ref_FileUploads_FileUploads_FileUploads_FileUploads_FileUpload"   Accept="image/* , application/pdf" MinSize="1KB" MaxSize="10MB" Caption="بارگذاری فایل" Data="FileUploads_FileUploads.FileUploads_FileUploads_FileUpload" Url="https://File.workcv.ir/fa/api/v1/File/Post" TItem="Entity.FileUploads_FileUploads_FileUpload"></Uploader>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextFileUploads_FileUploads" CssClass="btn-modal-custom">
            <DxButton Id="FileUploads_FileUploads_GridFileUploads_MainFileUploadsId_180ButtonSave" Click="@(() => SaveModalGrid_FileUploads_FileUploads(EditFormContextFileUploads_FileUploads))" Text="@languageContainer.Keys["DXGrid:Ok"]" CssClass="btn btn-green px-5" />
            
<DxButton id="FileUploads_FileUploads_GridFileUploads_MainFileUploadsId_180ButtonSaveAndNew"    Text="@languageContainer.Keys["DXGrid:OkAndNew"]" Click="@(() => SaveAndNewGrid_FileUploads_FileUploads(EditFormContextFileUploads_FileUploads))" CssClass="btn btn-green" />


            <DxButton Id="FileUploads_FileUploads_GridFileUploads_MainFileUploadsId_180ButtonCancel" Click="@(() => Grid_FileUploads_FileUploads.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="FileUploads_FileUploads_GridFileUploads_MainFileUploadsId_180ButtonBefore" Click="@(() => Dialog_Grid_FileUploads_FileUploads(0,IndexGrid_FileUploads_FileUploads,EditFormContextFileUploads_FileUploads))" Text="@languageContainer.Keys["DXGrid:Prev"]" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="FileUploads_FileUploads_GridFileUploads_MainFileUploadsId_180ButtonNext" Click="@(() => Dialog_Grid_FileUploads_FileUploads(1,IndexGrid_FileUploads_FileUploads,EditFormContextFileUploads_FileUploads))" Text="@languageContainer.Keys["DXGrid:Next"]" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownFileUploads_FileUploads" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_FileUploads_FileUploads" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_FileUploads_FileUploads" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationFileUploads_FileUploads" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonFileUploads_FileUploads" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonFileUploads_FileUploads" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_FileUploads_FileUploads;
    Entity.FileUploads_FileUploads FileUploads_FileUploads;
    bool ConfirmationShownFileUploads_FileUploads { get; set; } = false;
    public Entity.FileUploads_FileUploads SelectedItemGrid_FileUploads_FileUploads { get; set; } = new Entity.FileUploads_FileUploads();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_FileUploads_FileUploads { get; set; }

    ///////////////////////
    bool ConfirmationFileUploads_FileUploads { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateFileUploads_FileUploads { get; set; }
    public int OpenDialogCodeFileUploads_FileUploads { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingFileUploads_FileUploads(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_FileUploads_FileUploads(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_FileUploads_FileUploads(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeFileUploads_FileUploads = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateFileUploads_FileUploads = e;
    ConfirmationFileUploads_FileUploads = true;
    }
    else
    {
    await OnNoButtonFileUploads_FileUploads();
    }
}
async Task OnYesButtonFileUploads_FileUploads()
{

    ConfirmationFileUploads_FileUploads = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateFileUploads_FileUploads.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_FileUploads_FileUploads(_ContextFormTemplateFileUploads_FileUploads.DataItem, _ContextFormTemplateFileUploads_FileUploads.EditModel);
            await Grid_FileUploads_FileUploads.CancelEditAsync();
         await ChangePageGrid_FileUploads_FileUploads();
         await SetEditFormContextGrid_FileUploads_FileUploads();
         }
          
    }

}
async Task OnNoButtonFileUploads_FileUploads()
{
    ConfirmationFileUploads_FileUploads = false;
    await ChangePageGrid_FileUploads_FileUploads();
    await SetEditFormContextGrid_FileUploads_FileUploads();

}
async Task SetEditFormContextGrid_FileUploads_FileUploads()
{
    var e = (Entity.FileUploads_FileUploads)Grid_FileUploads_FileUploads.GetDataItem(IndexGrid_FileUploads_FileUploads);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_FileUploads_FileUploads()
{
    int VisibleIndex = IndexGrid_FileUploads_FileUploads;
    try
    {
    if (OpenDialogCodeFileUploads_FileUploads == 1)
    {
        if (VisibleIndex != (Grid_FileUploads_FileUploads.GetVisibleRowCount() - 1))
    { 
            Grid_FileUploads_FileUploads.CancelEditAsync();
            IndexGrid_FileUploads_FileUploads = VisibleIndex + 1;
    Grid_FileUploads_FileUploads.StartEditRowAsync(IndexGrid_FileUploads_FileUploads);
    }
    }
    else if (OpenDialogCodeFileUploads_FileUploads == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_FileUploads_FileUploads.CancelEditAsync();
            IndexGrid_FileUploads_FileUploads = VisibleIndex - 1;
    Grid_FileUploads_FileUploads.StartEditRowAsync(IndexGrid_FileUploads_FileUploads);
    }

    }
    var e = (Entity.FileUploads_FileUploads)Grid_FileUploads_FileUploads.GetDataItem(IndexGrid_FileUploads_FileUploads);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_FileUploads_FileUploads()
{
    IndexGrid_FileUploads_FileUploads = Grid_FileUploads_FileUploads.GetVisibleRowCount();
Grid_FileUploads_FileUploads.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.FileUploads_FileUploads();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_FileUploads_FileUploads(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_FileUploads_FileUploads = Context.VisibleIndex;
Grid_FileUploads_FileUploads.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.FileUploads_FileUploads)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_FileUploads_FileUploads(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_FileUploads_FileUploads(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_FileUploads_FileUploads(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_FileUploads_FileUploads(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_FileUploads_FileUploads();

    }
          
    }
   
}

void PerviousPageGrid_FileUploads_FileUploads(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_FileUploads_FileUploads.CancelEditAsync();
        IndexGrid_FileUploads_FileUploads = VisibleIndex - 1;
         Grid_FileUploads_FileUploads.StartEditRowAsync(IndexGrid_FileUploads_FileUploads);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_FileUploads_FileUploads(int VisibleIndex)
{

    if (VisibleIndex == Grid_FileUploads_FileUploads.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_FileUploads_FileUploads ");
    try
    {
Grid_FileUploads_FileUploads.CancelEditAsync();
        IndexGrid_FileUploads_FileUploads = VisibleIndex + 1;
         Grid_FileUploads_FileUploads.StartEditRowAsync(IndexGrid_FileUploads_FileUploads);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_FileUploads_FileUploads(object DataItem, object EditModel)
{
    var ListEntity = _Entity.FileUploads_FileUploads;
    var MainModel = (Entity.FileUploads_FileUploads)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.FileUploads_FileUploads)EditModel).Id;
MainModel.RequestID = ((Entity.FileUploads_FileUploads)EditModel).RequestID;
MainModel.CreateUser = ((Entity.FileUploads_FileUploads)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.FileUploads_FileUploads)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.FileUploads_FileUploads)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.FileUploads_FileUploads)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.FileUploads_FileUploads)EditModel).IsDelete;
MainModel.FileTitle = ((Entity.FileUploads_FileUploads)EditModel).FileTitle;

    }
    else
    {
    ListEntity.Add((Entity.FileUploads_FileUploads)EditModel);
    }
}

async Task OnDataItemDeletingFileUploads_FileUploads(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.FileUploads_FileUploads;
    ListEntity.Remove((Entity.FileUploads_FileUploads)e.DataItem);
}
async void OnDeleteButtonClickGrid_FileUploads_FileUploads (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_FileUploads_FileUploads = (ex.DataItem as Entity.FileUploads_FileUploads);
    var e =SelectedItemGrid_FileUploads_FileUploads;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownFileUploads_FileUploads = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_FileUploads_FileUploads ()
{
       if (SelectedItemGrid_FileUploads_FileUploads != null)
    {
      if (SelectedItemGrid_FileUploads_FileUploads.Id == Guid.Empty)
      {
          var ListEntity = _Entity.FileUploads_FileUploads;
        ListEntity.Remove((Entity.FileUploads_FileUploads)SelectedItemGrid_FileUploads_FileUploads);
     
      }
      else
      {
        var cleanModel = new Entity.FileUploads_FileUploads();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.FileUploads_FileUploads).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_FileUploads_FileUploads);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_FileUploads_FileUploads, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_FileUploads_FileUploads._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_FileUploads_FileUploads;
    
    Grid_FileUploads_FileUploads.Reload();
    ConfirmationShownFileUploads_FileUploads = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_FileUploads_FileUploads ()
{
    ConfirmationShownFileUploads_FileUploads = false;
}

void CustomizeRowsGrid_FileUploads_FileUploads(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.FileUploads_FileUploads)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_FileUploads_FileUploads(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.FileUploads_FileUploads)e.EditModel;

     

    }


}
public async void RowClickGrid_FileUploads_FileUploads(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_FileUploads_FileUploads(GridRowClickEventArgs e)
{

}
}

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"FileUploads_MainFileUploads\",\"GetNameAs\":\"FileUploads_MainFileUploads\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}],\"Relation\":[{\"Name\":\"FileUploads_FileUploads\",\"GetNameAs\":\"FileUploads_FileUploads\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"FileTitle\",\"GetNameAs\":\"FileTitle\"}],\"Relation\":[{\"Name\":\"FileUploads_FileUploads_FileUpload\",\"GetNameAs\":\"FileUploads_FileUploads_FileUpload\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"FileUploads_FileUploadsId\",\"GetNameAs\":\"FileUploads_FileUploadsId\"},{\"Name\":\"storage\",\"GetNameAs\":\"storage\"},{\"Name\":\"name\",\"GetNameAs\":\"name\"},{\"Name\":\"url\",\"GetNameAs\":\"url\"},{\"Name\":\"size\",\"GetNameAs\":\"size\"},{\"Name\":\"type\",\"GetNameAs\":\"type\"},{\"Name\":\"originalName\",\"GetNameAs\":\"originalName\"},{\"Name\":\"hash\",\"GetNameAs\":\"hash\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"FileUploads_MainFileUploads\",\"GetNameAs\":\"FileUploads_MainFileUploads\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}],\"Relation\":[{\"Name\":\"FileUploads_FileUploads\",\"GetNameAs\":\"FileUploads_FileUploads\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"FileTitle\",\"GetNameAs\":\"FileTitle\"}],\"Relation\":[{\"Name\":\"FileUploads_FileUploads_FileUpload\",\"GetNameAs\":\"FileUploads_FileUploads_FileUpload\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"FileUploads_FileUploadsId\",\"GetNameAs\":\"FileUploads_FileUploadsId\"},{\"Name\":\"storage\",\"GetNameAs\":\"storage\"},{\"Name\":\"name\",\"GetNameAs\":\"name\"},{\"Name\":\"url\",\"GetNameAs\":\"url\"},{\"Name\":\"size\",\"GetNameAs\":\"size\"},{\"Name\":\"type\",\"GetNameAs\":\"type\"},{\"Name\":\"originalName\",\"GetNameAs\":\"originalName\"},{\"Name\":\"hash\",\"GetNameAs\":\"hash\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"}]}]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.FileUploads_MainFileUploads>(Data);
        }
            }
            else
            {
                _Entity = new Entity.FileUploads_MainFileUploads();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.FileUploads_MainFileUploads>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
