@inherits Forms.Forms.Form_922_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        <div  class="">
    <header class="form-header">
  <!-- عناصر تزئینی -->
  <div class="decoration decoration-1"></div>
  <div class="decoration decoration-2 pulse-animation"></div>
  
  <!-- محتوای هدر -->
  <h5>
      <i class="fas fa-building icon"></i>
      اطلاعات بانک و شعب
  </h5>
</header>
</div>

<div class="row ">
    
<div class="col-md-12">
    
</div>

<div class="col-md-3">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_BaseInfo_BanksBaseInfo_BankType = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"بانک‌ها\",\"primaryKey\":false,\"EntityID\":675,\"FieldId\":19426,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":922,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"BaseInfo_BankTypeNavigation\",\"RelationParentModel\":\"BaseInfo_BankType\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/BaseInfo_BankType/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"Title\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\"نوع بانک\",\"tableView\":true,\"key\":\"BaseInfo_BankType\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"19426?EId=675&SubId=30\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=BaseInfo_BankType  @ref="Ref_BaseInfo_BankType" Label="نوع بانک" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.BaseInfo_BankType" FieldName="BaseInfo_BankType" OnItemSelected="ItemSelected_BaseInfo_BanksBaseInfo_BankType" Component="Component_BaseInfo_BanksBaseInfo_BankType" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_BaseInfo_BanksBaseInfo_BankType(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.BaseInfo_BankType = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.BaseInfo_BankType =EntityHelper.SetPropertyNull(Item.BaseInfo_BankType);
 }
 Item.BaseInfo_BankTypeNavigation = await Utility.JSON.ToObject<Entity.BaseInfo_BankType>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

<Input Id="Title" @ref="Ref_Title" Label="عنوان بانک"     @bind-Value="_Entity.Title" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"75\"}").Result))></Input>

<Input Id="CNAPSE_Code" @ref="Ref_CNAPSE_Code" Label="کد برای بانکهای چین"     @bind-Value="_Entity.CNAPSE_Code" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"11\"}").Result))></Input>

<Input Id="ExtCode" @ref="Ref_ExtCode" Label="کد بانک های خارجی	"     @bind-Value="_Entity.ExtCode" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"20\"}").Result))></Input>

<Input Id="IsActive" @ref="Ref_IsActive" Label="فعال است؟"     @bind-Value="_Entity.IsActive" type="checkbox"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-9">
    <label for="BaseInfo_BankBranches_GridBaseInfo_BanksId_678">شعب بانک
   
    
</label>

<DxGrid @ref="Grid_BaseInfo_BankBranches" Data="_Entity.BaseInfo_BankBranches" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingBaseInfo_BankBranches"
        DataItemDeleting="OnDataItemDeletingBaseInfo_BankBranches"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="شعب بانک"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_BaseInfo_BankBranches"
        CustomizeElement="CustomizeRowsGrid_BaseInfo_BankBranches" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":678,\"FieldId\":678,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"BaseInfo_BankBranches\",\"GridMainModel\":\"BaseInfo_BankBranches\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"شعب بانک\",\"tableView\":true,\"key\":\"GridBaseInfo_BanksId_678\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridBaseInfo_BanksId_678\",\"modalEdit\":true,\"FieldUrl\":\"678?EId=678&SubId=30\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=BaseInfo_BankBranches_GridBaseInfo_BanksId_678ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_BaseInfo_BankBranches())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=BaseInfo_BankBranches_GridBaseInfo_BanksId_678ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_BaseInfo_BankBranches(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_BaseInfo_BankBranches(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn  Caption="عنوان شعبه"  FieldName="Title" />

<DxGridDataColumn  Caption="نشانی شعبه بانک"  FieldName="Address" />

<DxGridDataColumn  Caption="کد شعبه"  FieldName="Code" />

<DxGridDataColumn Context="IsActive_" Caption="فعال است؟" >
    <CellDisplayTemplate>
       
@{
    var BaseInfo_BankBranches_IsActive = ((Entity.BaseInfo_BankBranches)IsActive_.DataItem).IsActive;
}

<p class="text-center " hidden="@(BaseInfo_BankBranches_IsActive !=null ? !BaseInfo_BankBranches_IsActive : true)">@languageContainer.Keys["DXGrid:Yes"]</p>

<p class="text-center" hidden="@(BaseInfo_BankBranches_IsActive !=null ? BaseInfo_BankBranches_IsActive : true)">@languageContainer.Keys["DXGrid:No"]</p>
 

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="BaseInfo_CitiesId_" Caption="شهر" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderBaseInfo_CitiesId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":678,\"FieldId\":19427,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":922,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"BaseInfo_Cities\",\"RelationParentModel\":\"BaseInfo_Cities\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/BaseInfo_Cities/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شهر\",\"tableView\":true,\"key\":\"BaseInfo_CitiesId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"19427?EId=678&SubId=30\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowBaseInfo_CitiesId = ((Entity.BaseInfo_BankBranches)BaseInfo_CitiesId_.DataItem).BaseInfo_CitiesId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowBaseInfo_CitiesId"   FieldName="BaseInfo_CitiesId" OnItemSelected="ItemSelected_BaseInfo_BankBranchesBaseInfo_CitiesId_Header" Component="HeaderBaseInfo_CitiesId">
</Dropdown>
@code {
    public async Task ItemSelected_BaseInfo_BankBranchesBaseInfo_CitiesId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   BaseInfo_CitiesId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="BaseInfo_BanksId_" Caption="بانک" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderBaseInfo_BanksId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":678,\"FieldId\":19447,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":922,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"BaseInfo_Banks\",\"RelationParentModel\":\"BaseInfo_Banks\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/BaseInfo_Banks/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"بانک\",\"tableView\":true,\"key\":\"BaseInfo_BanksId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"19447?EId=678&SubId=30\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowBaseInfo_BanksId = ((Entity.BaseInfo_BankBranches)BaseInfo_BanksId_.DataItem).BaseInfo_BanksId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowBaseInfo_BanksId"   FieldName="BaseInfo_BanksId" OnItemSelected="ItemSelected_BaseInfo_BankBranchesBaseInfo_BanksId_Header" Component="HeaderBaseInfo_BanksId">
</Dropdown>
@code {
    public async Task ItemSelected_BaseInfo_BankBranchesBaseInfo_BanksId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   BaseInfo_BanksId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextBaseInfo_BankBranches">
    @{
        BaseInfo_BankBranches  = (Entity.BaseInfo_BankBranches)EditFormContextBaseInfo_BankBranches.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_Id" @ref="Ref_BaseInfo_BankBranches_Id"   CssClass="d-none"   @bind-Value="BaseInfo_BankBranches.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_RequestID" @ref="Ref_BaseInfo_BankBranches_RequestID"      @bind-Value="BaseInfo_BankBranches.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_CreateUser" @ref="Ref_BaseInfo_BankBranches_CreateUser"      @bind-Value="BaseInfo_BankBranches.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_UpdateUser" @ref="Ref_BaseInfo_BankBranches_UpdateUser"      @bind-Value="BaseInfo_BankBranches.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_CreateDate" @ref="Ref_BaseInfo_BankBranches_CreateDate"   CssClass="d-none"   @bind-Value="BaseInfo_BankBranches.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_UpdateDate" @ref="Ref_BaseInfo_BankBranches_UpdateDate"   CssClass="d-none"   @bind-Value="BaseInfo_BankBranches.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_IsDelete" @ref="Ref_BaseInfo_BankBranches_IsDelete"   CssClass="d-none"   @bind-Value="BaseInfo_BankBranches.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_Title" @ref="Ref_BaseInfo_BankBranches_Title" Label="عنوان شعبه"     @bind-Value="BaseInfo_BankBranches.Title" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"75\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_Address" @ref="Ref_BaseInfo_BankBranches_Address" Label="نشانی شعبه بانک"     @bind-Value="BaseInfo_BankBranches.Address" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"1000\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_Code" @ref="Ref_BaseInfo_BankBranches_Code" Label="کد شعبه"     @bind-Value="BaseInfo_BankBranches.Code" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"15\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
    
<Input Id="BaseInfo_BankBranches_IsActive" @ref="Ref_BaseInfo_BankBranches_IsActive" Label="فعال است؟"     @bind-Value="BaseInfo_BankBranches.IsActive" type="checkbox"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_BaseInfo_BankBranchesBaseInfo_CitiesId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":678,\"FieldId\":19427,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":922,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"BaseInfo_Cities\",\"RelationParentModel\":\"BaseInfo_Cities\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/BaseInfo_Cities/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شهر\",\"tableView\":true,\"key\":\"BaseInfo_CitiesId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"19427?EId=678&SubId=30\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=BaseInfo_BankBranches_BaseInfo_CitiesId  @ref="Ref_BaseInfo_BankBranches_BaseInfo_CitiesId" Label="شهر" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@BaseInfo_BankBranches.BaseInfo_CitiesId" FieldName="BaseInfo_CitiesId" OnItemSelected="ItemSelected_BaseInfo_BankBranchesBaseInfo_CitiesId" Component="Component_BaseInfo_BankBranchesBaseInfo_CitiesId" _Entity="_Entity" _EntityRow=BaseInfo_BankBranches>
</Dropdown>
@code {
    public async Task ItemSelected_BaseInfo_BankBranchesBaseInfo_CitiesId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = BaseInfo_BankBranches;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.BaseInfo_CitiesId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.BaseInfo_CitiesId =EntityHelper.SetPropertyNull(Item.BaseInfo_CitiesId);
 }
 Item.BaseInfo_Cities = await Utility.JSON.ToObject<Entity.BaseInfo_Cities>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextBaseInfo_BankBranches">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_BaseInfo_BankBranchesBaseInfo_BanksId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":678,\"FieldId\":19447,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":922,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"BaseInfo_Banks\",\"RelationParentModel\":\"BaseInfo_Banks\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/BaseInfo_Banks/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"بانک\",\"tableView\":true,\"key\":\"BaseInfo_BanksId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"19447?EId=678&SubId=30\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=BaseInfo_BankBranches_BaseInfo_BanksId  @ref="Ref_BaseInfo_BankBranches_BaseInfo_BanksId" Label="بانک" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@BaseInfo_BankBranches.BaseInfo_BanksId" FieldName="BaseInfo_BanksId" OnItemSelected="ItemSelected_BaseInfo_BankBranchesBaseInfo_BanksId" Component="Component_BaseInfo_BankBranchesBaseInfo_BanksId" _Entity="_Entity" _EntityRow=BaseInfo_BankBranches>
</Dropdown>
@code {
    public async Task ItemSelected_BaseInfo_BankBranchesBaseInfo_BanksId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = BaseInfo_BankBranches;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.BaseInfo_BanksId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.BaseInfo_BanksId =EntityHelper.SetPropertyNull(Item.BaseInfo_BanksId);
 }
 Item.BaseInfo_Banks = await Utility.JSON.ToObject<Entity.BaseInfo_Banks>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextBaseInfo_BankBranches" CssClass="btn-modal-custom">
            <DxButton Id="BaseInfo_BankBranches_GridBaseInfo_BanksId_678ButtonSave" Click="@(() => SaveModalGrid_BaseInfo_BankBranches(EditFormContextBaseInfo_BankBranches))" Text="@languageContainer.Keys["DXGrid:Ok"]" CssClass="btn btn-green px-5" />
            
<DxButton id="BaseInfo_BankBranches_GridBaseInfo_BanksId_678ButtonSaveAndNew"    Text="@languageContainer.Keys["DXGrid:OkAndNew"]" Click="@(() => SaveAndNewGrid_BaseInfo_BankBranches(EditFormContextBaseInfo_BankBranches))" CssClass="btn btn-green" />


            <DxButton Id="BaseInfo_BankBranches_GridBaseInfo_BanksId_678ButtonCancel" Click="@(() => Grid_BaseInfo_BankBranches.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="BaseInfo_BankBranches_GridBaseInfo_BanksId_678ButtonBefore" Click="@(() => Dialog_Grid_BaseInfo_BankBranches(0,IndexGrid_BaseInfo_BankBranches,EditFormContextBaseInfo_BankBranches))" Text="@languageContainer.Keys["DXGrid:Prev"]" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="BaseInfo_BankBranches_GridBaseInfo_BanksId_678ButtonNext" Click="@(() => Dialog_Grid_BaseInfo_BankBranches(1,IndexGrid_BaseInfo_BankBranches,EditFormContextBaseInfo_BankBranches))" Text="@languageContainer.Keys["DXGrid:Next"]" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownBaseInfo_BankBranches" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_BaseInfo_BankBranches" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_BaseInfo_BankBranches" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationBaseInfo_BankBranches" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonBaseInfo_BankBranches" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonBaseInfo_BankBranches" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_BaseInfo_BankBranches;
    Entity.BaseInfo_BankBranches BaseInfo_BankBranches;
    bool ConfirmationShownBaseInfo_BankBranches { get; set; } = false;
    public Entity.BaseInfo_BankBranches SelectedItemGrid_BaseInfo_BankBranches { get; set; } = new Entity.BaseInfo_BankBranches();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_BaseInfo_BankBranches { get; set; }

    ///////////////////////
    bool ConfirmationBaseInfo_BankBranches { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateBaseInfo_BankBranches { get; set; }
    public int OpenDialogCodeBaseInfo_BankBranches { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingBaseInfo_BankBranches(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_BaseInfo_BankBranches(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_BaseInfo_BankBranches(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeBaseInfo_BankBranches = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateBaseInfo_BankBranches = e;
    ConfirmationBaseInfo_BankBranches = true;
    }
    else
    {
    await OnNoButtonBaseInfo_BankBranches();
    }
}
async Task OnYesButtonBaseInfo_BankBranches()
{

    ConfirmationBaseInfo_BankBranches = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateBaseInfo_BankBranches.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_BaseInfo_BankBranches(_ContextFormTemplateBaseInfo_BankBranches.DataItem, _ContextFormTemplateBaseInfo_BankBranches.EditModel);
            await Grid_BaseInfo_BankBranches.CancelEditAsync();
         await ChangePageGrid_BaseInfo_BankBranches();
         await SetEditFormContextGrid_BaseInfo_BankBranches();
         }
          
    }

}
async Task OnNoButtonBaseInfo_BankBranches()
{
    ConfirmationBaseInfo_BankBranches = false;
    await ChangePageGrid_BaseInfo_BankBranches();
    await SetEditFormContextGrid_BaseInfo_BankBranches();

}
async Task SetEditFormContextGrid_BaseInfo_BankBranches()
{
    var e = (Entity.BaseInfo_BankBranches)Grid_BaseInfo_BankBranches.GetDataItem(IndexGrid_BaseInfo_BankBranches);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_BaseInfo_BankBranches()
{
    int VisibleIndex = IndexGrid_BaseInfo_BankBranches;
    try
    {
    if (OpenDialogCodeBaseInfo_BankBranches == 1)
    {
        if (VisibleIndex != (Grid_BaseInfo_BankBranches.GetVisibleRowCount() - 1))
    { 
            Grid_BaseInfo_BankBranches.CancelEditAsync();
            IndexGrid_BaseInfo_BankBranches = VisibleIndex + 1;
    Grid_BaseInfo_BankBranches.StartEditRowAsync(IndexGrid_BaseInfo_BankBranches);
    }
    }
    else if (OpenDialogCodeBaseInfo_BankBranches == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_BaseInfo_BankBranches.CancelEditAsync();
            IndexGrid_BaseInfo_BankBranches = VisibleIndex - 1;
    Grid_BaseInfo_BankBranches.StartEditRowAsync(IndexGrid_BaseInfo_BankBranches);
    }

    }
    var e = (Entity.BaseInfo_BankBranches)Grid_BaseInfo_BankBranches.GetDataItem(IndexGrid_BaseInfo_BankBranches);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_BaseInfo_BankBranches()
{
    IndexGrid_BaseInfo_BankBranches = Grid_BaseInfo_BankBranches.GetVisibleRowCount();
Grid_BaseInfo_BankBranches.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.BaseInfo_BankBranches();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_BaseInfo_BankBranches(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_BaseInfo_BankBranches = Context.VisibleIndex;
Grid_BaseInfo_BankBranches.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.BaseInfo_BankBranches)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_BaseInfo_BankBranches(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_BaseInfo_BankBranches(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_BaseInfo_BankBranches(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_BaseInfo_BankBranches(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_BaseInfo_BankBranches();

    }
          
    }
   
}

void PerviousPageGrid_BaseInfo_BankBranches(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_BaseInfo_BankBranches.CancelEditAsync();
        IndexGrid_BaseInfo_BankBranches = VisibleIndex - 1;
         Grid_BaseInfo_BankBranches.StartEditRowAsync(IndexGrid_BaseInfo_BankBranches);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_BaseInfo_BankBranches(int VisibleIndex)
{

    if (VisibleIndex == Grid_BaseInfo_BankBranches.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_BaseInfo_BankBranches ");
    try
    {
Grid_BaseInfo_BankBranches.CancelEditAsync();
        IndexGrid_BaseInfo_BankBranches = VisibleIndex + 1;
         Grid_BaseInfo_BankBranches.StartEditRowAsync(IndexGrid_BaseInfo_BankBranches);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_BaseInfo_BankBranches(object DataItem, object EditModel)
{
    var ListEntity = _Entity.BaseInfo_BankBranches;
    var MainModel = (Entity.BaseInfo_BankBranches)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.BaseInfo_BankBranches)EditModel).Id;
MainModel.RequestID = ((Entity.BaseInfo_BankBranches)EditModel).RequestID;
MainModel.CreateUser = ((Entity.BaseInfo_BankBranches)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.BaseInfo_BankBranches)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.BaseInfo_BankBranches)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.BaseInfo_BankBranches)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.BaseInfo_BankBranches)EditModel).IsDelete;
MainModel.Title = ((Entity.BaseInfo_BankBranches)EditModel).Title;
MainModel.Address = ((Entity.BaseInfo_BankBranches)EditModel).Address;
MainModel.Code = ((Entity.BaseInfo_BankBranches)EditModel).Code;
MainModel.IsActive = ((Entity.BaseInfo_BankBranches)EditModel).IsActive;
MainModel.BaseInfo_CitiesId = ((Entity.BaseInfo_BankBranches)EditModel).BaseInfo_CitiesId;
MainModel.BaseInfo_Cities = ((Entity.BaseInfo_BankBranches)EditModel).BaseInfo_Cities;
MainModel.BaseInfo_BanksId = ((Entity.BaseInfo_BankBranches)EditModel).BaseInfo_BanksId;
MainModel.BaseInfo_Banks = ((Entity.BaseInfo_BankBranches)EditModel).BaseInfo_Banks;

    }
    else
    {
    ListEntity.Add((Entity.BaseInfo_BankBranches)EditModel);
    }
}

async Task OnDataItemDeletingBaseInfo_BankBranches(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.BaseInfo_BankBranches;
    ListEntity.Remove((Entity.BaseInfo_BankBranches)e.DataItem);
}
async void OnDeleteButtonClickGrid_BaseInfo_BankBranches (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_BaseInfo_BankBranches = (ex.DataItem as Entity.BaseInfo_BankBranches);
    var e =SelectedItemGrid_BaseInfo_BankBranches;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownBaseInfo_BankBranches = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_BaseInfo_BankBranches ()
{
       if (SelectedItemGrid_BaseInfo_BankBranches != null)
    {
      if (SelectedItemGrid_BaseInfo_BankBranches.Id == Guid.Empty)
      {
          var ListEntity = _Entity.BaseInfo_BankBranches;
        ListEntity.Remove((Entity.BaseInfo_BankBranches)SelectedItemGrid_BaseInfo_BankBranches);
     
      }
      else
      {
        var cleanModel = new Entity.BaseInfo_BankBranches();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.BaseInfo_BankBranches).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_BaseInfo_BankBranches);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_BaseInfo_BankBranches, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_BaseInfo_BankBranches._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_BaseInfo_BankBranches;
    
    Grid_BaseInfo_BankBranches.Reload();
    ConfirmationShownBaseInfo_BankBranches = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_BaseInfo_BankBranches ()
{
    ConfirmationShownBaseInfo_BankBranches = false;
}

void CustomizeRowsGrid_BaseInfo_BankBranches(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.BaseInfo_BankBranches)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_BaseInfo_BankBranches(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.BaseInfo_BankBranches)e.EditModel;

     

    }


}
public async void RowClickGrid_BaseInfo_BankBranches(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_BaseInfo_BankBranches(GridRowClickEventArgs e)
{

}
}

</div>

<div class="col-md-12">
    
</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"BaseInfo_Banks\",\"GetNameAs\":\"BaseInfo_Banks\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"CNAPSE_Code\",\"GetNameAs\":\"CNAPSE_Code\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"ExtCode\",\"GetNameAs\":\"ExtCode\"},{\"Name\":\"BaseInfo_BankType\",\"GetNameAs\":\"BaseInfo_BankType\"}],\"Relation\":[{\"Name\":\"BaseInfo_BankTypeNavigation\",\"GetNameAs\":\"BaseInfo_BankTypeNavigation\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"BaseInfo_BankBranches\",\"GetNameAs\":\"BaseInfo_BankBranches\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"BaseInfo_BanksId\",\"GetNameAs\":\"BaseInfo_BanksId\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Address\",\"GetNameAs\":\"Address\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"BaseInfo_CitiesId\",\"GetNameAs\":\"BaseInfo_CitiesId\"}],\"Relation\":[{\"Name\":\"BaseInfo_Banks\",\"GetNameAs\":\"BaseInfo_Banks\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"CNAPSE_Code\",\"GetNameAs\":\"CNAPSE_Code\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"ExtCode\",\"GetNameAs\":\"ExtCode\"},{\"Name\":\"BaseInfo_BankType\",\"GetNameAs\":\"BaseInfo_BankType\"}]},{\"Name\":\"BaseInfo_Cities\",\"GetNameAs\":\"BaseInfo_Cities\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"BaseInfo_ProvincesId\",\"GetNameAs\":\"BaseInfo_ProvincesId\"},{\"Name\":\"ParentId\",\"GetNameAs\":\"ParentId\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"BaseInfo_Banks\",\"GetNameAs\":\"BaseInfo_Banks\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"CNAPSE_Code\",\"GetNameAs\":\"CNAPSE_Code\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"ExtCode\",\"GetNameAs\":\"ExtCode\"},{\"Name\":\"BaseInfo_BankType\",\"GetNameAs\":\"BaseInfo_BankType\"}],\"Relation\":[{\"Name\":\"BaseInfo_BankBranches\",\"GetNameAs\":\"BaseInfo_BankBranches\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"BaseInfo_BanksId\",\"GetNameAs\":\"BaseInfo_BanksId\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Address\",\"GetNameAs\":\"Address\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"IsActive\",\"GetNameAs\":\"IsActive\"},{\"Name\":\"BaseInfo_CitiesId\",\"GetNameAs\":\"BaseInfo_CitiesId\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.BaseInfo_Banks>(Data);
        }
            }
            else
            {
                _Entity = new Entity.BaseInfo_Banks();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.BaseInfo_Banks>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
