@inherits Forms.Forms.Form_387Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="row ">
    
<div class="col-md-3">
    <div  class="d-flex text-center pt-3 fs-4 text-black  justify-content-right ">
    <div style="">
  <p>
    <picture>
      <img src="https://File.workcv.ir/fa/api/v1/File/Get?FileID=6e5b6fb8-a5b2-490c-f83f-08dbea5b8061" class="" alt="لوگو پل فیلم" width="230px;">
    </picture>
  </p>
</div>
</div>

</div>

<div class="col-md-6">
    <div  class="">
    <div class="fs-3 fw-black rounded p-3 text-center ">
    برون سپاری و خرید خدمات
</div>
</div>

</div>

<div class="col-md-3">
    <div  class="d-flex text-center pt-3 fs-5 text-black bg-secondary-subtle justify-content-center opacity-50 rounded">
    <div style="">
  <p>
    <span>
      کد فرم: FPL00303
    </span>
  </p>
</div>
</div>

</div>

</div>

<div class="row ">
    
<div class="col-md-6">
    
<div class="row card flex-row pb-2 m-1 border-0 bg-warning-subtle ">
    
<div class="col-md-12">
    <div  class="">
    <div class="card-header text-black fw-black fs-6 border-0 bg-light rounded mt-2" style="background:#">
  اطلاعات کاربر درخواست کننده
</div>
</div>

</div>

<div class="col-md-3">
    
<Input Id="UserStarterFullName" @ref="Ref_UserStarterFullName"   CssClass="DisableParameterField" Disabled=true  @bind-Value="_Entity.UserStarterFullName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="UserStarterCompanyName" @ref="Ref_UserStarterCompanyName"   CssClass="DisableParameterField" Disabled=true  @bind-Value="_Entity.UserStarterCompanyName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="UserStarterUnitName" @ref="Ref_UserStarterUnitName"   CssClass="DisableParameterField" Disabled=true  @bind-Value="_Entity.UserStarterUnitName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="UserStarterSectionName" @ref="Ref_UserStarterSectionName"   CssClass="DisableParameterField" Disabled=true  @bind-Value="_Entity.UserStarterSectionName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

</div>

<div class="col-md-6">
    
</div>

</div>

<div class="row ">
    
<div class="col-md-3">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCM_OS_MasterSCM_ResultingFromId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"برون سپاری - اصلی\",\"primaryKey\":false,\"EntityID\":251,\"FieldId\":3037,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_ResultingFrom\",\"RelationParentModel\":\"SCM_ResultingFrom\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_ResultingFrom/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"منتج از\",\"tableView\":true,\"key\":\"SCM_ResultingFromId\",\"type\":\"select\",\"input\":true,\"modalEdit\":true,\"FieldUrl\":\"3037?EId=251&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCM_ResultingFromId Disabled=true @ref="Ref_SCM_ResultingFromId" Label="منتج از" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.SCM_ResultingFromId" FieldName="SCM_ResultingFromId" OnItemSelected="ItemSelected_SCM_OS_MasterSCM_ResultingFromId" Component="Component_SCM_OS_MasterSCM_ResultingFromId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_MasterSCM_ResultingFromId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SCM_ResultingFromId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SCM_ResultingFromId =EntityHelper.SetPropertyNull(Item.SCM_ResultingFromId);
 }
 Item.SCM_ResultingFrom = await Utility.JSON.ToObject<Entity.SCM_ResultingFrom>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

</div>
<label for="SCM_OS_Details_GridSCM_OS_MasterId_252">برون سپاری - جزئیات
   
    
</label>

<DxGrid @ref="Grid_SCM_OS_Details" Data="_Entity.SCM_OS_Details" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSCM_OS_Details"
        DataItemDeleting="OnDataItemDeletingSCM_OS_Details"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="برون سپاری - جزئیات"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SCM_OS_Details"
        CustomizeElement="CustomizeRowsGrid_SCM_OS_Details" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":252,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SCM_OS_Details\",\"GridMainModel\":\"SCM_OS_Details\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"برون سپاری - جزئیات\",\"tableView\":true,\"key\":\"GridSCM_OS_MasterId_252\",\"type\":\"datagrid\",\"input\":true,\"modalEdit\":true,\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":false,\"AccessEdit\":true,\"AccessNew\":false}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SCM_OS_Details_GridSCM_OS_MasterId_252ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SCM_OS_Details(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn Context="SCM_OS_JobTitleId_" Caption="عنوان کار درخواستی" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCM_OS_JobTitleId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":14249,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_OS_JobTitle\",\"RelationParentModel\":\"SCM_OS_JobTitle\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_OS_JobTitle/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"عنوان کار درخواستی\",\"tableView\":true,\"key\":\"SCM_OS_JobTitleId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14249?EId=252&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCM_OS_JobTitleId = ((Entity.SCM_OS_Details)SCM_OS_JobTitleId_.DataItem).SCM_OS_JobTitleId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSCM_OS_JobTitleId"   FieldName="SCM_OS_JobTitleId" OnItemSelected="ItemSelected_SCM_OS_DetailsSCM_OS_JobTitleId_Header" Component="HeaderSCM_OS_JobTitleId">
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_DetailsSCM_OS_JobTitleId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCM_OS_JobTitleId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="SCM_UnitsId_" Caption="واحد" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCM_UnitsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":3039,\"TypeCSharp\":\"string\",\"NotNull\":true,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_Units\",\"RelationParentModel\":\"SCM_Units\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_Units/GetList\"},\"validate\":{\"required\":true,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"واحد\",\"tableView\":true,\"key\":\"SCM_UnitsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"3039?EId=252&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCM_UnitsId = ((Entity.SCM_OS_Details)SCM_UnitsId_.DataItem).SCM_UnitsId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSCM_UnitsId"   FieldName="SCM_UnitsId" OnItemSelected="ItemSelected_SCM_OS_DetailsSCM_UnitsId_Header" Component="HeaderSCM_UnitsId">
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_DetailsSCM_UnitsId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCM_UnitsId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn DisplayFormat="G" Caption="تعداد"  FieldName="Amount" />

<DxGridDataColumn Context="SCM_OS_PlaceofUseId_" Caption="محل مصرف" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCM_OS_PlaceofUseId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":14250,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_OS_PlaceofUse\",\"RelationParentModel\":\"SCM_OS_PlaceofUse\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_OS_PlaceofUse/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"محل مصرف\",\"tableView\":true,\"key\":\"SCM_OS_PlaceofUseId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14250?EId=252&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCM_OS_PlaceofUseId = ((Entity.SCM_OS_Details)SCM_OS_PlaceofUseId_.DataItem).SCM_OS_PlaceofUseId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSCM_OS_PlaceofUseId"   FieldName="SCM_OS_PlaceofUseId" OnItemSelected="ItemSelected_SCM_OS_DetailsSCM_OS_PlaceofUseId_Header" Component="HeaderSCM_OS_PlaceofUseId">
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_DetailsSCM_OS_PlaceofUseId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCM_OS_PlaceofUseId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="SCM_PriorityId_" Caption="اولویت" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCM_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":3041,\"TypeCSharp\":\"string\",\"NotNull\":true,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_Priority\",\"RelationParentModel\":\"SCM_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_Priority/GetList\"},\"validate\":{\"required\":true,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.PriorityTitle}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"SCM_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"3041?EId=252&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCM_PriorityId = ((Entity.SCM_OS_Details)SCM_PriorityId_.DataItem).SCM_PriorityId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSCM_PriorityId"   FieldName="SCM_PriorityId" OnItemSelected="ItemSelected_SCM_OS_DetailsSCM_PriorityId_Header" Component="HeaderSCM_PriorityId">
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_DetailsSCM_PriorityId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCM_PriorityId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="توضیحات درخواست کننده"  FieldName="RequsterDesc" />

<DxGridDataColumn  Caption="توضیحات تدارکات"  FieldName="ProcurementDesc" />

<DxGridDataColumn Context="SCM_AreaOperationId_" Caption="محل عملیات" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCM_AreaOperationId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":3043,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_AreaOperation\",\"RelationParentModel\":\"SCM_AreaOperation\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_AreaOperation/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"محل عملیات\",\"tableView\":true,\"key\":\"SCM_AreaOperationId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"3043?EId=252&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCM_AreaOperationId = ((Entity.SCM_OS_Details)SCM_AreaOperationId_.DataItem).SCM_AreaOperationId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSCM_AreaOperationId"   FieldName="SCM_AreaOperationId" OnItemSelected="ItemSelected_SCM_OS_DetailsSCM_AreaOperationId_Header" Component="HeaderSCM_AreaOperationId">
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_DetailsSCM_AreaOperationId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCM_AreaOperationId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="پیمانکار"  FieldName="Contractor" />

<DxGridDataColumn DisplayFormat="0" Caption="شماره فاکتور / قراداد"  FieldName="InvoiceNum" />

<DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn  Caption="تاریخ تحویل به انبار فنی" Visible=false FieldName="DateOfDeliveryToWarehouse" />


</Columns>

    <EditFormTemplate Context="EditFormContextSCM_OS_Details">
    @{
        SCM_OS_Details  = (Entity.SCM_OS_Details)EditFormContextSCM_OS_Details.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCM_OS_DetailsSCM_OS_JobTitleId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":14249,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_OS_JobTitle\",\"RelationParentModel\":\"SCM_OS_JobTitle\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_OS_JobTitle/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"عنوان کار درخواستی\",\"tableView\":true,\"key\":\"SCM_OS_JobTitleId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14249?EId=252&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCM_OS_Details_SCM_OS_JobTitleId Disabled=true @ref="Ref_SCM_OS_Details_SCM_OS_JobTitleId" Label="عنوان کار درخواستی" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCM_OS_Details.SCM_OS_JobTitleId" FieldName="SCM_OS_JobTitleId" OnItemSelected="ItemSelected_SCM_OS_DetailsSCM_OS_JobTitleId" Component="Component_SCM_OS_DetailsSCM_OS_JobTitleId" _Entity="_Entity" _EntityRow=SCM_OS_Details>
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_DetailsSCM_OS_JobTitleId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCM_OS_Details;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SCM_OS_JobTitleId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SCM_OS_JobTitleId =EntityHelper.SetPropertyNull(Item.SCM_OS_JobTitleId);
 }
 Item.SCM_OS_JobTitle = await Utility.JSON.ToObject<Entity.SCM_OS_JobTitle>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCM_OS_DetailsSCM_UnitsId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":3039,\"TypeCSharp\":\"string\",\"NotNull\":true,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_Units\",\"RelationParentModel\":\"SCM_Units\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_Units/GetList\"},\"validate\":{\"required\":true,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"واحد\",\"tableView\":true,\"key\":\"SCM_UnitsId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"3039?EId=252&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCM_OS_Details_SCM_UnitsId Disabled=true @ref="Ref_SCM_OS_Details_SCM_UnitsId" Label="واحد" CssClass="" Required=true DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCM_OS_Details.SCM_UnitsId" FieldName="SCM_UnitsId" OnItemSelected="ItemSelected_SCM_OS_DetailsSCM_UnitsId" Component="Component_SCM_OS_DetailsSCM_UnitsId" _Entity="_Entity" _EntityRow=SCM_OS_Details>
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_DetailsSCM_UnitsId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCM_OS_Details;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SCM_UnitsId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SCM_UnitsId =EntityHelper.SetPropertyNull(Item.SCM_UnitsId);
 }
 Item.SCM_Units = await Utility.JSON.ToObject<Entity.SCM_Units>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_Amount" @ref="Ref_SCM_OS_Details_Amount" Label="تعداد"   Disabled=true Required=true @bind-Value="SCM_OS_Details.Amount" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCM_OS_DetailsSCM_OS_PlaceofUseId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":14250,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_OS_PlaceofUse\",\"RelationParentModel\":\"SCM_OS_PlaceofUse\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_OS_PlaceofUse/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"محل مصرف\",\"tableView\":true,\"key\":\"SCM_OS_PlaceofUseId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"14250?EId=252&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCM_OS_Details_SCM_OS_PlaceofUseId Disabled=true @ref="Ref_SCM_OS_Details_SCM_OS_PlaceofUseId" Label="محل مصرف" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCM_OS_Details.SCM_OS_PlaceofUseId" FieldName="SCM_OS_PlaceofUseId" OnItemSelected="ItemSelected_SCM_OS_DetailsSCM_OS_PlaceofUseId" Component="Component_SCM_OS_DetailsSCM_OS_PlaceofUseId" _Entity="_Entity" _EntityRow=SCM_OS_Details>
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_DetailsSCM_OS_PlaceofUseId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCM_OS_Details;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SCM_OS_PlaceofUseId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SCM_OS_PlaceofUseId =EntityHelper.SetPropertyNull(Item.SCM_OS_PlaceofUseId);
 }
 Item.SCM_OS_PlaceofUse = await Utility.JSON.ToObject<Entity.SCM_OS_PlaceofUse>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCM_OS_DetailsSCM_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":3041,\"TypeCSharp\":\"string\",\"NotNull\":true,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_Priority\",\"RelationParentModel\":\"SCM_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_Priority/GetList\"},\"validate\":{\"required\":true,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.PriorityTitle}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"SCM_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"3041?EId=252&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCM_OS_Details_SCM_PriorityId Disabled=true @ref="Ref_SCM_OS_Details_SCM_PriorityId" Label="اولویت" CssClass="" Required=true DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCM_OS_Details.SCM_PriorityId" FieldName="SCM_PriorityId" OnItemSelected="ItemSelected_SCM_OS_DetailsSCM_PriorityId" Component="Component_SCM_OS_DetailsSCM_PriorityId" _Entity="_Entity" _EntityRow=SCM_OS_Details>
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_DetailsSCM_PriorityId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCM_OS_Details;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SCM_PriorityId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SCM_PriorityId =EntityHelper.SetPropertyNull(Item.SCM_PriorityId);
 }
 Item.SCM_Priority = await Utility.JSON.ToObject<Entity.SCM_Priority>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_RequsterDesc" @ref="Ref_SCM_OS_Details_RequsterDesc" Label="توضیحات درخواست کننده"   Disabled=true  @bind-Value="SCM_OS_Details.RequsterDesc" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_ProcurementDesc" @ref="Ref_SCM_OS_Details_ProcurementDesc" Label="توضیحات تدارکات"   Disabled=true  @bind-Value="SCM_OS_Details.ProcurementDesc" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCM_OS_DetailsSCM_AreaOperationId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":252,\"FieldId\":3043,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":387,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCM_AreaOperation\",\"RelationParentModel\":\"SCM_AreaOperation\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCM_AreaOperation/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disabled\":true,\"modal\":true,\"label\":\"محل عملیات\",\"tableView\":true,\"key\":\"SCM_AreaOperationId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"3043?EId=252&SubId=8\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCM_OS_Details_SCM_AreaOperationId Disabled=true @ref="Ref_SCM_OS_Details_SCM_AreaOperationId" Label="محل عملیات" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCM_OS_Details.SCM_AreaOperationId" FieldName="SCM_AreaOperationId" OnItemSelected="ItemSelected_SCM_OS_DetailsSCM_AreaOperationId" Component="Component_SCM_OS_DetailsSCM_AreaOperationId" _Entity="_Entity" _EntityRow=SCM_OS_Details>
</Dropdown>
@code {
    public async Task ItemSelected_SCM_OS_DetailsSCM_AreaOperationId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCM_OS_Details;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SCM_AreaOperationId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SCM_AreaOperationId =EntityHelper.SetPropertyNull(Item.SCM_AreaOperationId);
 }
 Item.SCM_AreaOperation = await Utility.JSON.ToObject<Entity.SCM_AreaOperation>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_Contractor" @ref="Ref_SCM_OS_Details_Contractor" Label="پیمانکار" placeholder="نام پیمانکار را وارد نمایید"   Required=true @bind-Value="SCM_OS_Details.Contractor" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_InvoiceNum" @ref="Ref_SCM_OS_Details_InvoiceNum" Label="شماره فاکتور / قراداد"    Required=true @bind-Value="SCM_OS_Details.InvoiceNum" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_Id" @ref="Ref_SCM_OS_Details_Id"   CssClass="d-none"   @bind-Value="SCM_OS_Details.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_RequestID" @ref="Ref_SCM_OS_Details_RequestID"      @bind-Value="SCM_OS_Details.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_CreateUser" @ref="Ref_SCM_OS_Details_CreateUser"      @bind-Value="SCM_OS_Details.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_UpdateUser" @ref="Ref_SCM_OS_Details_UpdateUser"      @bind-Value="SCM_OS_Details.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_CreateDate" @ref="Ref_SCM_OS_Details_CreateDate"   CssClass="d-none"   @bind-Value="SCM_OS_Details.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_UpdateDate" @ref="Ref_SCM_OS_Details_UpdateDate"   CssClass="d-none"   @bind-Value="SCM_OS_Details.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_IsDelete" @ref="Ref_SCM_OS_Details_IsDelete"   CssClass="d-none"   @bind-Value="SCM_OS_Details.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCM_OS_Details">
    
<Input Id="SCM_OS_Details_DateOfDeliveryToWarehouse" @ref="Ref_SCM_OS_Details_DateOfDeliveryToWarehouse" Label="تاریخ تحویل به انبار فنی"  CssClass=" PersianDatePicker d-none PersianDatePicker" Disabled=true  @bind-Value="SCM_OS_Details.DateOfDeliveryToWarehouse" type="textfield"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \"}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSCM_OS_Details" CssClass="btn-modal-custom">
            <DxButton Id="SCM_OS_Details_GridSCM_OS_MasterId_252ButtonSave" Click="@(() => SaveModalGrid_SCM_OS_Details(EditFormContextSCM_OS_Details))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            

            <DxButton Id="SCM_OS_Details_GridSCM_OS_MasterId_252ButtonCancel" Click="@(() => Grid_SCM_OS_Details.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SCM_OS_Details_GridSCM_OS_MasterId_252ButtonBefore" Click="@(() => Dialog_Grid_SCM_OS_Details(0,IndexGrid_SCM_OS_Details,EditFormContextSCM_OS_Details))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SCM_OS_Details_GridSCM_OS_MasterId_252ButtonNext" Click="@(() => Dialog_Grid_SCM_OS_Details(1,IndexGrid_SCM_OS_Details,EditFormContextSCM_OS_Details))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSCM_OS_Details" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SCM_OS_Details" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SCM_OS_Details" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSCM_OS_Details" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSCM_OS_Details" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSCM_OS_Details" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SCM_OS_Details;
    Entity.SCM_OS_Details SCM_OS_Details;
    bool ConfirmationShownSCM_OS_Details { get; set; } = false;
    public Entity.SCM_OS_Details SelectedItemGrid_SCM_OS_Details { get; set; } = new Entity.SCM_OS_Details();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SCM_OS_Details { get; set; }

    ///////////////////////
    bool ConfirmationSCM_OS_Details { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSCM_OS_Details { get; set; }
    public int OpenDialogCodeSCM_OS_Details { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSCM_OS_Details(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SCM_OS_Details(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SCM_OS_Details(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSCM_OS_Details = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSCM_OS_Details = e;
    ConfirmationSCM_OS_Details = true;
    }
    else
    {
    await OnNoButtonSCM_OS_Details();
    }
}
async Task OnYesButtonSCM_OS_Details()
{

    ConfirmationSCM_OS_Details = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSCM_OS_Details.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SCM_OS_Details(_ContextFormTemplateSCM_OS_Details.DataItem, _ContextFormTemplateSCM_OS_Details.EditModel);
            await Grid_SCM_OS_Details.CancelEditAsync();
         await ChangePageGrid_SCM_OS_Details();
         await SetEditFormContextGrid_SCM_OS_Details();
         }
          
    }

}
async Task OnNoButtonSCM_OS_Details()
{
    ConfirmationSCM_OS_Details = false;
    await ChangePageGrid_SCM_OS_Details();
    await SetEditFormContextGrid_SCM_OS_Details();

}
async Task SetEditFormContextGrid_SCM_OS_Details()
{
    var e = (Entity.SCM_OS_Details)Grid_SCM_OS_Details.GetDataItem(IndexGrid_SCM_OS_Details);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SCM_OS_Details()
{
    int VisibleIndex = IndexGrid_SCM_OS_Details;
    try
    {
    if (OpenDialogCodeSCM_OS_Details == 1)
    {
        if (VisibleIndex != (Grid_SCM_OS_Details.GetVisibleRowCount() - 1))
    { 
            Grid_SCM_OS_Details.CancelEditAsync();
            IndexGrid_SCM_OS_Details = VisibleIndex + 1;
    Grid_SCM_OS_Details.StartEditRowAsync(IndexGrid_SCM_OS_Details);
    }
    }
    else if (OpenDialogCodeSCM_OS_Details == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SCM_OS_Details.CancelEditAsync();
            IndexGrid_SCM_OS_Details = VisibleIndex - 1;
    Grid_SCM_OS_Details.StartEditRowAsync(IndexGrid_SCM_OS_Details);
    }

    }
    var e = (Entity.SCM_OS_Details)Grid_SCM_OS_Details.GetDataItem(IndexGrid_SCM_OS_Details);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SCM_OS_Details()
{
    IndexGrid_SCM_OS_Details = Grid_SCM_OS_Details.GetVisibleRowCount();
Grid_SCM_OS_Details.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SCM_OS_Details();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SCM_OS_Details(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SCM_OS_Details = Context.VisibleIndex;
Grid_SCM_OS_Details.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SCM_OS_Details)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SCM_OS_Details(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SCM_OS_Details(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SCM_OS_Details(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SCM_OS_Details(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SCM_OS_Details();

    }
          
    }
   
}

void PerviousPageGrid_SCM_OS_Details(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SCM_OS_Details.CancelEditAsync();
        IndexGrid_SCM_OS_Details = VisibleIndex - 1;
         Grid_SCM_OS_Details.StartEditRowAsync(IndexGrid_SCM_OS_Details);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SCM_OS_Details(int VisibleIndex)
{

    if (VisibleIndex == Grid_SCM_OS_Details.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SCM_OS_Details ");
    try
    {
Grid_SCM_OS_Details.CancelEditAsync();
        IndexGrid_SCM_OS_Details = VisibleIndex + 1;
         Grid_SCM_OS_Details.StartEditRowAsync(IndexGrid_SCM_OS_Details);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SCM_OS_Details(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SCM_OS_Details;
    var MainModel = (Entity.SCM_OS_Details)DataItem;
    if (MainModel != null)
    {
MainModel.SCM_OS_JobTitleId = ((Entity.SCM_OS_Details)EditModel).SCM_OS_JobTitleId;
MainModel.SCM_OS_JobTitle = ((Entity.SCM_OS_Details)EditModel).SCM_OS_JobTitle;
MainModel.SCM_UnitsId = ((Entity.SCM_OS_Details)EditModel).SCM_UnitsId;
MainModel.SCM_Units = ((Entity.SCM_OS_Details)EditModel).SCM_Units;
MainModel.Amount = ((Entity.SCM_OS_Details)EditModel).Amount;
MainModel.SCM_OS_PlaceofUseId = ((Entity.SCM_OS_Details)EditModel).SCM_OS_PlaceofUseId;
MainModel.SCM_OS_PlaceofUse = ((Entity.SCM_OS_Details)EditModel).SCM_OS_PlaceofUse;
MainModel.SCM_PriorityId = ((Entity.SCM_OS_Details)EditModel).SCM_PriorityId;
MainModel.SCM_Priority = ((Entity.SCM_OS_Details)EditModel).SCM_Priority;
MainModel.RequsterDesc = ((Entity.SCM_OS_Details)EditModel).RequsterDesc;
MainModel.ProcurementDesc = ((Entity.SCM_OS_Details)EditModel).ProcurementDesc;
MainModel.SCM_AreaOperationId = ((Entity.SCM_OS_Details)EditModel).SCM_AreaOperationId;
MainModel.SCM_AreaOperation = ((Entity.SCM_OS_Details)EditModel).SCM_AreaOperation;
MainModel.Contractor = ((Entity.SCM_OS_Details)EditModel).Contractor;
MainModel.InvoiceNum = ((Entity.SCM_OS_Details)EditModel).InvoiceNum;
MainModel.Id = ((Entity.SCM_OS_Details)EditModel).Id;
MainModel.RequestID = ((Entity.SCM_OS_Details)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SCM_OS_Details)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SCM_OS_Details)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SCM_OS_Details)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SCM_OS_Details)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SCM_OS_Details)EditModel).IsDelete;
MainModel.DateOfDeliveryToWarehouse = ((Entity.SCM_OS_Details)EditModel).DateOfDeliveryToWarehouse;

    }
    else
    {
    ListEntity.Add((Entity.SCM_OS_Details)EditModel);
    }
}

async Task OnDataItemDeletingSCM_OS_Details(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SCM_OS_Details;
    ListEntity.Remove((Entity.SCM_OS_Details)e.DataItem);
}
async void OnDeleteButtonClickGrid_SCM_OS_Details (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SCM_OS_Details = (ex.DataItem as Entity.SCM_OS_Details);
    var e =SelectedItemGrid_SCM_OS_Details;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSCM_OS_Details = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SCM_OS_Details ()
{
       if (SelectedItemGrid_SCM_OS_Details != null)
    {
      if (SelectedItemGrid_SCM_OS_Details.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SCM_OS_Details;
        ListEntity.Remove((Entity.SCM_OS_Details)SelectedItemGrid_SCM_OS_Details);
     
      }
      else
      {
        var cleanModel = new Entity.SCM_OS_Details();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SCM_OS_Details).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SCM_OS_Details);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SCM_OS_Details, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SCM_OS_Details._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SCM_OS_Details;
    
    Grid_SCM_OS_Details.Reload();
    ConfirmationShownSCM_OS_Details = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SCM_OS_Details ()
{
    ConfirmationShownSCM_OS_Details = false;
}

void CustomizeRowsGrid_SCM_OS_Details(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SCM_OS_Details)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SCM_OS_Details(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SCM_OS_Details)e.EditModel;

     

    }


}
public async void RowClickGrid_SCM_OS_Details(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SCM_OS_Details(GridRowClickEventArgs e)
{

}
}

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCM_OS_Master\",\"GetNameAs\":\"SCM_OS_Master\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SCM_ResultingFromId\",\"GetNameAs\":\"SCM_ResultingFromId\"},{\"Name\":\"UserStarterFullName\",\"GetNameAs\":\"UserStarterFullName\"},{\"Name\":\"UserStarterCompanyName\",\"GetNameAs\":\"UserStarterCompanyName\"},{\"Name\":\"UserStarterUnitName\",\"GetNameAs\":\"UserStarterUnitName\"},{\"Name\":\"UserStarterSectionName\",\"GetNameAs\":\"UserStarterSectionName\"}],\"Relation\":[{\"Name\":\"SCM_ResultingFrom\",\"GetNameAs\":\"SCM_ResultingFrom\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"SCM_ICT_Departments\",\"GetNameAs\":\"SCM_ICT_Departments\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"SCM_OS_Details\",\"GetNameAs\":\"SCM_OS_Details\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SCM_UnitsId\",\"GetNameAs\":\"SCM_UnitsId\"},{\"Name\":\"Amount\",\"GetNameAs\":\"Amount\"},{\"Name\":\"SCM_PriorityId\",\"GetNameAs\":\"SCM_PriorityId\"},{\"Name\":\"SCM_AreaOperationId\",\"GetNameAs\":\"SCM_AreaOperationId\"},{\"Name\":\"RequsterDesc\",\"GetNameAs\":\"RequsterDesc\"},{\"Name\":\"DateOfDeliveryToWarehouse\",\"GetNameAs\":\"DateOfDeliveryToWarehouse\"},{\"Name\":\"Contractor\",\"GetNameAs\":\"Contractor\"},{\"Name\":\"InvoiceNum\",\"GetNameAs\":\"InvoiceNum\"},{\"Name\":\"ProcurementDesc\",\"GetNameAs\":\"ProcurementDesc\"},{\"Name\":\"SCM_OS_JobTitleId\",\"GetNameAs\":\"SCM_OS_JobTitleId\"},{\"Name\":\"SCM_OS_PlaceofUseId\",\"GetNameAs\":\"SCM_OS_PlaceofUseId\"}],\"Relation\":[{\"Name\":\"SCM_Units\",\"GetNameAs\":\"SCM_Units\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}]},{\"Name\":\"SCM_Priority\",\"GetNameAs\":\"SCM_Priority\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"PriorityTitle\",\"GetNameAs\":\"PriorityTitle\"},{\"Name\":\"PriorityDateTime\",\"GetNameAs\":\"PriorityDateTime\"},{\"Name\":\"PriorityDescription\",\"GetNameAs\":\"PriorityDescription\"}]},{\"Name\":\"SCM_AreaOperation\",\"GetNameAs\":\"SCM_AreaOperation\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}]},{\"Name\":\"SCM_OS_JobTitle\",\"GetNameAs\":\"SCM_OS_JobTitle\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}]},{\"Name\":\"SCM_OS_PlaceofUse\",\"GetNameAs\":\"SCM_OS_PlaceofUse\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCM_OS_Master\",\"GetNameAs\":\"SCM_OS_Master\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SCM_ResultingFromId\",\"GetNameAs\":\"SCM_ResultingFromId\"},{\"Name\":\"UserStarterFullName\",\"GetNameAs\":\"UserStarterFullName\"},{\"Name\":\"UserStarterCompanyName\",\"GetNameAs\":\"UserStarterCompanyName\"},{\"Name\":\"UserStarterUnitName\",\"GetNameAs\":\"UserStarterUnitName\"},{\"Name\":\"UserStarterSectionName\",\"GetNameAs\":\"UserStarterSectionName\"}],\"Relation\":[{\"Name\":\"SCM_OS_Details\",\"GetNameAs\":\"SCM_OS_Details\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SCM_UnitsId\",\"GetNameAs\":\"SCM_UnitsId\"},{\"Name\":\"Amount\",\"GetNameAs\":\"Amount\"},{\"Name\":\"SCM_PriorityId\",\"GetNameAs\":\"SCM_PriorityId\"},{\"Name\":\"SCM_AreaOperationId\",\"GetNameAs\":\"SCM_AreaOperationId\"},{\"Name\":\"RequsterDesc\",\"GetNameAs\":\"RequsterDesc\"},{\"Name\":\"DateOfDeliveryToWarehouse\",\"GetNameAs\":\"DateOfDeliveryToWarehouse\"},{\"Name\":\"Contractor\",\"GetNameAs\":\"Contractor\"},{\"Name\":\"InvoiceNum\",\"GetNameAs\":\"InvoiceNum\"},{\"Name\":\"ProcurementDesc\",\"GetNameAs\":\"ProcurementDesc\"},{\"Name\":\"SCM_OS_JobTitleId\",\"GetNameAs\":\"SCM_OS_JobTitleId\"},{\"Name\":\"SCM_OS_PlaceofUseId\",\"GetNameAs\":\"SCM_OS_PlaceofUseId\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SCM_OS_Master>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SCM_OS_Master();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//
_Entity.UserStarterFullName = _RequestParameters.UserStarterFullName;
_Entity.UserStarterCompanyName = _RequestParameters.UserStarterCompanyName;
_Entity.UserStarterUnitName = _RequestParameters.UserStarterUnitName;
_Entity.UserStarterSectionName = _RequestParameters.UserStarterSectionName;


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SCM_OS_Master>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
