@inherits Forms.Forms.Form_1078_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CENTCODE" @ref="Ref_CENTCODE" Label="مرکز هزینه"     @bind-Value="_Entity.CENTCODE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_ProductDeliveryCENTCODE2 = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"حواله مصرف\",\"primaryKey\":false,\"EntityID\":808,\"FieldId\":31770,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1078,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/view_pkind/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"PKINDNO\",\"template\":\"<span>{{item.PKINDNAME}} {{item.PKINDNO}} {{item.CODE}} {{item.MOEENCODE}} {{item.YEAR}} </span>\",\"FieldsTemplate\":[{\"key\":\"PKINDNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"PKINDNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"CODE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"MOEENCODE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"YEAR\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"PKINDNO,PKINDNAME,CODE,MOEENCODE\",\"modal\":true,\"label\":\"دارایی ها\",\"tableView\":true,\"key\":\"CENTCODE2\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31770?EId=808&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=CENTCODE2  @ref="Ref_CENTCODE2" Label="دارایی ها" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.CENTCODE2" FieldName="CENTCODE2" OnItemSelected="ItemSelected_SH_ATLASCELL_ProductDeliveryCENTCODE2" Component="Component_SH_ATLASCELL_ProductDeliveryCENTCODE2" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_ProductDeliveryCENTCODE2(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.CENTCODE2 = Selected.PKINDNO;


    

    
    }
} 

<Input Id="CREATOR" @ref="Ref_CREATOR" Label="تنظیم کننده"     @bind-Value="_Entity.CREATOR" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="FACTDATE" @ref="Ref_FACTDATE" Label="تاریخ حواله مصرف"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.FACTDATE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

<Input Id="FACTNO" @ref="Ref_FACTNO" Label="شماره"     @bind-Value="_Entity.FACTNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<RadioBoolean @ref="Ref_H_KIND" InLine=true Id="H_KIND"   LabelTrue="مصرف" LabelFalse="اموال و دارایی" Label="نوع مصرف" @bind-Value="_Entity.H_KIND" CssClass="" ></RadioBoolean>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_ProductDeliveryINVCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"حواله مصرف\",\"primaryKey\":false,\"EntityID\":808,\"FieldId\":31775,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1078,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/view_INV/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"INVCODE\",\"template\":\"<span>{{item.INVNAME}} {{item.INVCODE}} {{item.ACCCODE}} </span>\",\"FieldsTemplate\":[{\"key\":\"INVNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"INVCODE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"ACCCODE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"INVNAME,INVCODE\",\"modal\":true,\"label\":\"انبار\",\"tableView\":true,\"key\":\"INVCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31775?EId=808&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=INVCODE  @ref="Ref_INVCODE" Label="انبار" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.INVCODE" FieldName="INVCODE" OnItemSelected="ItemSelected_SH_ATLASCELL_ProductDeliveryINVCODE" Component="Component_SH_ATLASCELL_ProductDeliveryINVCODE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_ProductDeliveryINVCODE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.INVCODE = Selected.INVCODE;


    

    
    }
} 

<Input Id="TEMPNO" @ref="Ref_TEMPNO" Label="شماره عطف"     @bind-Value="_Entity.TEMPNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="NOTE" @ref="Ref_NOTE" Label="توضیحات"     @bind-Value="_Entity.NOTE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Year" @ref="Ref_Year" Label="سال"     @bind-Value="_Entity.Year" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_ProductDeliveryHavale_List = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"حواله مصرف\",\"primaryKey\":false,\"EntityID\":808,\"FieldId\":31779,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1078,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/view_havale_cardex/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"eeno\",\"template\":\"<span>{{item.eeno}} {{item.tempno}} {{item.partno}} {{item.desc}} </span>\",\"FieldsTemplate\":[{\"key\":\"eeno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"tempno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partno,desc,eeno,tempno\",\"modal\":true,\"label\":\"فهرست اصلی حواله مصرف\",\"tableView\":true,\"key\":\"Havale_List\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31779?EId=808&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=Havale_List  @ref="Ref_Havale_List" Label="فهرست اصلی حواله مصرف" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.Havale_List" FieldName="Havale_List" OnItemSelected="ItemSelected_SH_ATLASCELL_ProductDeliveryHavale_List" Component="Component_SH_ATLASCELL_ProductDeliveryHavale_List" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_ProductDeliveryHavale_List(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.Havale_List = Selected.eeno;


    

    
    }
} 

<Input Id="ApiResult" @ref="Ref_ApiResult" Label="ApiResult"     @bind-Value="_Entity.ApiResult" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="SH_ATLASCELL_ProductDeliveryDetail_GridSH_ATLASCELL_ProductDeliveryId_809">جزئیات حواله مصرف
   
    
</label>

<DxGrid @ref="Grid_SH_ATLASCELL_ProductDeliveryDetail" Data="_Entity.SH_ATLASCELL_ProductDeliveryDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSH_ATLASCELL_ProductDeliveryDetail"
        DataItemDeleting="OnDataItemDeletingSH_ATLASCELL_ProductDeliveryDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزئیات حواله مصرف"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SH_ATLASCELL_ProductDeliveryDetail"
        CustomizeElement="CustomizeRowsGrid_SH_ATLASCELL_ProductDeliveryDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":809,\"FieldId\":809,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SH_ATLASCELL_ProductDeliveryDetail\",\"GridMainModel\":\"SH_ATLASCELL_ProductDeliveryDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزئیات حواله مصرف\",\"tableView\":true,\"key\":\"GridSH_ATLASCELL_ProductDeliveryId_809\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSH_ATLASCELL_ProductDeliveryId_809\",\"modalEdit\":true,\"FieldUrl\":\"809?EId=809&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SH_ATLASCELL_ProductDeliveryDetail_GridSH_ATLASCELL_ProductDeliveryId_809ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SH_ATLASCELL_ProductDeliveryDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SH_ATLASCELL_ProductDeliveryDetail_GridSH_ATLASCELL_ProductDeliveryId_809ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SH_ATLASCELL_ProductDeliveryDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SH_ATLASCELL_ProductDeliveryDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn Context="ProductSearch_" Caption="جستجو کالا" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":809,\"FieldId\":31788,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1078,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partno}} {{item.partcode}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partno\",\"value\":\"int\"},{\"key\":\"partcode\",\"value\":\"int\"},{\"key\":\"desc\",\"value\":\"int\"},{\"key\":\"unit\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31788?EId=809&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowProductSearch = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)ProductSearch_.DataItem).ProductSearch;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowProductSearch"   FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_ATLASCELL_ProductDeliveryDetailProductSearch_Header" Component="HeaderProductSearch">
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_ProductDeliveryDetailProductSearch_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   ProductSearch

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="کد کالا"  FieldName="PARTCODE" />

<DxGridDataColumn  Caption="شماره فنی"  FieldName="shomarefani" />

<DxGridDataColumn  Caption="نام کالا"  FieldName="ProductName" />

<DxGridDataColumn  Caption="واحد"  FieldName="Unit" />

<DxGridDataColumn Context="CENTCODE3_" Caption="عامل هزینه" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderCENTCODE3 = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":809,\"FieldId\":31793,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1078,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/view_pays/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.acccode}} {{item.name}} {{item.code}} </span>\",\"FieldsTemplate\":[{\"key\":\"acccode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"name\",\"value\":\"nvarchar(Max)\"},{\"key\":\"code\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"acccode,name,code\",\"modal\":true,\"label\":\"عامل هزینه\",\"tableView\":true,\"key\":\"CENTCODE3\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31793?EId=809&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowCENTCODE3 = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)CENTCODE3_.DataItem).CENTCODE3;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowCENTCODE3"   FieldName="CENTCODE3" OnItemSelected="ItemSelected_SH_ATLASCELL_ProductDeliveryDetailCENTCODE3_Header" Component="HeaderCENTCODE3">
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_ProductDeliveryDetailCENTCODE3_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   CENTCODE3

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn DisplayFormat="G" Caption="مقدار اول"  FieldName="AMOUNT" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار دوم"  FieldName="AMOUNT2" />

<DxGridDataColumn  Caption="ردیابی کالا"  FieldName="RADYABI" />

<DxGridDataColumn  Caption="سفارش کالاها"  FieldName="SEFARESH" />

<DxGridDataColumn DisplayFormat="0" Caption="ردیف"  FieldName="ROW_ID" />

<DxGridDataColumn DisplayFormat="0" Caption="سال"  FieldName="Year" />

<DxGridDataColumn Context="SH_ATLASCELL_ProductDeliveryId_" Caption="شناسه اصلی SH_ATLASCELL_ProductDelivery" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSH_ATLASCELL_ProductDeliveryId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":809,\"FieldId\":32554,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1078,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SH_ATLASCELL_ProductDelivery\",\"RelationParentModel\":\"SH_ATLASCELL_ProductDelivery\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SH_ATLASCELL_ProductDelivery/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شناسه اصلی SH_ATLASCELL_ProductDelivery\",\"tableView\":true,\"key\":\"SH_ATLASCELL_ProductDeliveryId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32554?EId=809&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSH_ATLASCELL_ProductDeliveryId = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)SH_ATLASCELL_ProductDeliveryId_.DataItem).SH_ATLASCELL_ProductDeliveryId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSH_ATLASCELL_ProductDeliveryId"   FieldName="SH_ATLASCELL_ProductDeliveryId" OnItemSelected="ItemSelected_SH_ATLASCELL_ProductDeliveryDetailSH_ATLASCELL_ProductDeliveryId_Header" Component="HeaderSH_ATLASCELL_ProductDeliveryId">
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_ProductDeliveryDetailSH_ATLASCELL_ProductDeliveryId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SH_ATLASCELL_ProductDeliveryId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextSH_ATLASCELL_ProductDeliveryDetail">
    @{
        SH_ATLASCELL_ProductDeliveryDetail  = (Entity.SH_ATLASCELL_ProductDeliveryDetail)EditFormContextSH_ATLASCELL_ProductDeliveryDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_ProductDeliveryDetailProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":809,\"FieldId\":31788,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1078,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partno}} {{item.partcode}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partno\",\"value\":\"int\"},{\"key\":\"partcode\",\"value\":\"int\"},{\"key\":\"desc\",\"value\":\"int\"},{\"key\":\"unit\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31788?EId=809&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SH_ATLASCELL_ProductDeliveryDetail_ProductSearch  @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_ProductSearch" Label="جستجو کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SH_ATLASCELL_ProductDeliveryDetail.ProductSearch" FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_ATLASCELL_ProductDeliveryDetailProductSearch" Component="Component_SH_ATLASCELL_ProductDeliveryDetailProductSearch" _Entity="_Entity" _EntityRow=SH_ATLASCELL_ProductDeliveryDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_ProductDeliveryDetailProductSearch(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_ATLASCELL_ProductDeliveryDetail;

    Item.ProductSearch = Selected.partcode;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
    
<Input Id="SH_ATLASCELL_ProductDeliveryDetail_PARTCODE" @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_PARTCODE" Label="کد کالا"     @bind-Value="SH_ATLASCELL_ProductDeliveryDetail.PARTCODE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
    
<Input Id="SH_ATLASCELL_ProductDeliveryDetail_shomarefani" @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_shomarefani" Label="شماره فنی"     @bind-Value="SH_ATLASCELL_ProductDeliveryDetail.shomarefani" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
    
<Input Id="SH_ATLASCELL_ProductDeliveryDetail_ProductName" @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_ProductName" Label="نام کالا"     @bind-Value="SH_ATLASCELL_ProductDeliveryDetail.ProductName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
    
<Input Id="SH_ATLASCELL_ProductDeliveryDetail_Unit" @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_Unit" Label="واحد"     @bind-Value="SH_ATLASCELL_ProductDeliveryDetail.Unit" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_ProductDeliveryDetailCENTCODE3 = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":809,\"FieldId\":31793,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1078,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/view_pays/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.acccode}} {{item.name}} {{item.code}} </span>\",\"FieldsTemplate\":[{\"key\":\"acccode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"name\",\"value\":\"nvarchar(Max)\"},{\"key\":\"code\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"acccode,name,code\",\"modal\":true,\"label\":\"عامل هزینه\",\"tableView\":true,\"key\":\"CENTCODE3\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31793?EId=809&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SH_ATLASCELL_ProductDeliveryDetail_CENTCODE3  @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_CENTCODE3" Label="عامل هزینه" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SH_ATLASCELL_ProductDeliveryDetail.CENTCODE3" FieldName="CENTCODE3" OnItemSelected="ItemSelected_SH_ATLASCELL_ProductDeliveryDetailCENTCODE3" Component="Component_SH_ATLASCELL_ProductDeliveryDetailCENTCODE3" _Entity="_Entity" _EntityRow=SH_ATLASCELL_ProductDeliveryDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_ProductDeliveryDetailCENTCODE3(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_ATLASCELL_ProductDeliveryDetail;

    Item.CENTCODE3 = Selected.code;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
    
<Input Id="SH_ATLASCELL_ProductDeliveryDetail_AMOUNT" @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_AMOUNT" Label="مقدار اول"     @bind-Value="SH_ATLASCELL_ProductDeliveryDetail.AMOUNT" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
    
<Input Id="SH_ATLASCELL_ProductDeliveryDetail_AMOUNT2" @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_AMOUNT2" Label="مقدار دوم"     @bind-Value="SH_ATLASCELL_ProductDeliveryDetail.AMOUNT2" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
    
<Input Id="SH_ATLASCELL_ProductDeliveryDetail_RADYABI" @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_RADYABI" Label="ردیابی کالا"     @bind-Value="SH_ATLASCELL_ProductDeliveryDetail.RADYABI" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
    
<Input Id="SH_ATLASCELL_ProductDeliveryDetail_SEFARESH" @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_SEFARESH" Label="سفارش کالاها"     @bind-Value="SH_ATLASCELL_ProductDeliveryDetail.SEFARESH" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
    
<Input Id="SH_ATLASCELL_ProductDeliveryDetail_ROW_ID" @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_ROW_ID" Label="ردیف"     @bind-Value="SH_ATLASCELL_ProductDeliveryDetail.ROW_ID" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
    
<Input Id="SH_ATLASCELL_ProductDeliveryDetail_Year" @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_Year" Label="سال"     @bind-Value="SH_ATLASCELL_ProductDeliveryDetail.Year" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_ProductDeliveryDetailSH_ATLASCELL_ProductDeliveryId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":809,\"FieldId\":32554,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1078,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SH_ATLASCELL_ProductDelivery\",\"RelationParentModel\":\"SH_ATLASCELL_ProductDelivery\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SH_ATLASCELL_ProductDelivery/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شناسه اصلی SH_ATLASCELL_ProductDelivery\",\"tableView\":true,\"key\":\"SH_ATLASCELL_ProductDeliveryId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32554?EId=809&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SH_ATLASCELL_ProductDeliveryDetail_SH_ATLASCELL_ProductDeliveryId  @ref="Ref_SH_ATLASCELL_ProductDeliveryDetail_SH_ATLASCELL_ProductDeliveryId" Label="شناسه اصلی SH_ATLASCELL_ProductDelivery" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SH_ATLASCELL_ProductDeliveryDetail.SH_ATLASCELL_ProductDeliveryId" FieldName="SH_ATLASCELL_ProductDeliveryId" OnItemSelected="ItemSelected_SH_ATLASCELL_ProductDeliveryDetailSH_ATLASCELL_ProductDeliveryId" Component="Component_SH_ATLASCELL_ProductDeliveryDetailSH_ATLASCELL_ProductDeliveryId" _Entity="_Entity" _EntityRow=SH_ATLASCELL_ProductDeliveryDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_ProductDeliveryDetailSH_ATLASCELL_ProductDeliveryId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_ATLASCELL_ProductDeliveryDetail;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SH_ATLASCELL_ProductDeliveryId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SH_ATLASCELL_ProductDeliveryId =EntityHelper.SetPropertyNull(Item.SH_ATLASCELL_ProductDeliveryId);
 }
 Item.SH_ATLASCELL_ProductDelivery = await Utility.JSON.ToObject<Entity.SH_ATLASCELL_ProductDelivery>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSH_ATLASCELL_ProductDeliveryDetail" CssClass="btn-modal-custom">
            <DxButton Id="SH_ATLASCELL_ProductDeliveryDetail_GridSH_ATLASCELL_ProductDeliveryId_809ButtonSave" Click="@(() => SaveModalGrid_SH_ATLASCELL_ProductDeliveryDetail(EditFormContextSH_ATLASCELL_ProductDeliveryDetail))" Text="@languageContainer.Keys["DXGrid:Ok"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SH_ATLASCELL_ProductDeliveryDetail_GridSH_ATLASCELL_ProductDeliveryId_809ButtonSaveAndNew"    Text="@languageContainer.Keys["DXGrid:OkAndNew"]" Click="@(() => SaveAndNewGrid_SH_ATLASCELL_ProductDeliveryDetail(EditFormContextSH_ATLASCELL_ProductDeliveryDetail))" CssClass="btn btn-green" />


            <DxButton Id="SH_ATLASCELL_ProductDeliveryDetail_GridSH_ATLASCELL_ProductDeliveryId_809ButtonCancel" Click="@(() => Grid_SH_ATLASCELL_ProductDeliveryDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SH_ATLASCELL_ProductDeliveryDetail_GridSH_ATLASCELL_ProductDeliveryId_809ButtonBefore" Click="@(() => Dialog_Grid_SH_ATLASCELL_ProductDeliveryDetail(0,IndexGrid_SH_ATLASCELL_ProductDeliveryDetail,EditFormContextSH_ATLASCELL_ProductDeliveryDetail))" Text="@languageContainer.Keys["DXGrid:Prev"]" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SH_ATLASCELL_ProductDeliveryDetail_GridSH_ATLASCELL_ProductDeliveryId_809ButtonNext" Click="@(() => Dialog_Grid_SH_ATLASCELL_ProductDeliveryDetail(1,IndexGrid_SH_ATLASCELL_ProductDeliveryDetail,EditFormContextSH_ATLASCELL_ProductDeliveryDetail))" Text="@languageContainer.Keys["DXGrid:Next"]" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSH_ATLASCELL_ProductDeliveryDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SH_ATLASCELL_ProductDeliveryDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SH_ATLASCELL_ProductDeliveryDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSH_ATLASCELL_ProductDeliveryDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSH_ATLASCELL_ProductDeliveryDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSH_ATLASCELL_ProductDeliveryDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SH_ATLASCELL_ProductDeliveryDetail;
    Entity.SH_ATLASCELL_ProductDeliveryDetail SH_ATLASCELL_ProductDeliveryDetail;
    bool ConfirmationShownSH_ATLASCELL_ProductDeliveryDetail { get; set; } = false;
    public Entity.SH_ATLASCELL_ProductDeliveryDetail SelectedItemGrid_SH_ATLASCELL_ProductDeliveryDetail { get; set; } = new Entity.SH_ATLASCELL_ProductDeliveryDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SH_ATLASCELL_ProductDeliveryDetail { get; set; }

    ///////////////////////
    bool ConfirmationSH_ATLASCELL_ProductDeliveryDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSH_ATLASCELL_ProductDeliveryDetail { get; set; }
    public int OpenDialogCodeSH_ATLASCELL_ProductDeliveryDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSH_ATLASCELL_ProductDeliveryDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SH_ATLASCELL_ProductDeliveryDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SH_ATLASCELL_ProductDeliveryDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSH_ATLASCELL_ProductDeliveryDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSH_ATLASCELL_ProductDeliveryDetail = e;
    ConfirmationSH_ATLASCELL_ProductDeliveryDetail = true;
    }
    else
    {
    await OnNoButtonSH_ATLASCELL_ProductDeliveryDetail();
    }
}
async Task OnYesButtonSH_ATLASCELL_ProductDeliveryDetail()
{

    ConfirmationSH_ATLASCELL_ProductDeliveryDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSH_ATLASCELL_ProductDeliveryDetail.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SH_ATLASCELL_ProductDeliveryDetail(_ContextFormTemplateSH_ATLASCELL_ProductDeliveryDetail.DataItem, _ContextFormTemplateSH_ATLASCELL_ProductDeliveryDetail.EditModel);
            await Grid_SH_ATLASCELL_ProductDeliveryDetail.CancelEditAsync();
         await ChangePageGrid_SH_ATLASCELL_ProductDeliveryDetail();
         await SetEditFormContextGrid_SH_ATLASCELL_ProductDeliveryDetail();
         }
          
    }

}
async Task OnNoButtonSH_ATLASCELL_ProductDeliveryDetail()
{
    ConfirmationSH_ATLASCELL_ProductDeliveryDetail = false;
    await ChangePageGrid_SH_ATLASCELL_ProductDeliveryDetail();
    await SetEditFormContextGrid_SH_ATLASCELL_ProductDeliveryDetail();

}
async Task SetEditFormContextGrid_SH_ATLASCELL_ProductDeliveryDetail()
{
    var e = (Entity.SH_ATLASCELL_ProductDeliveryDetail)Grid_SH_ATLASCELL_ProductDeliveryDetail.GetDataItem(IndexGrid_SH_ATLASCELL_ProductDeliveryDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SH_ATLASCELL_ProductDeliveryDetail()
{
    int VisibleIndex = IndexGrid_SH_ATLASCELL_ProductDeliveryDetail;
    try
    {
    if (OpenDialogCodeSH_ATLASCELL_ProductDeliveryDetail == 1)
    {
        if (VisibleIndex != (Grid_SH_ATLASCELL_ProductDeliveryDetail.GetVisibleRowCount() - 1))
    { 
            Grid_SH_ATLASCELL_ProductDeliveryDetail.CancelEditAsync();
            IndexGrid_SH_ATLASCELL_ProductDeliveryDetail = VisibleIndex + 1;
    Grid_SH_ATLASCELL_ProductDeliveryDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_ProductDeliveryDetail);
    }
    }
    else if (OpenDialogCodeSH_ATLASCELL_ProductDeliveryDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SH_ATLASCELL_ProductDeliveryDetail.CancelEditAsync();
            IndexGrid_SH_ATLASCELL_ProductDeliveryDetail = VisibleIndex - 1;
    Grid_SH_ATLASCELL_ProductDeliveryDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_ProductDeliveryDetail);
    }

    }
    var e = (Entity.SH_ATLASCELL_ProductDeliveryDetail)Grid_SH_ATLASCELL_ProductDeliveryDetail.GetDataItem(IndexGrid_SH_ATLASCELL_ProductDeliveryDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SH_ATLASCELL_ProductDeliveryDetail()
{
    IndexGrid_SH_ATLASCELL_ProductDeliveryDetail = Grid_SH_ATLASCELL_ProductDeliveryDetail.GetVisibleRowCount();
Grid_SH_ATLASCELL_ProductDeliveryDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SH_ATLASCELL_ProductDeliveryDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SH_ATLASCELL_ProductDeliveryDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SH_ATLASCELL_ProductDeliveryDetail = Context.VisibleIndex;
Grid_SH_ATLASCELL_ProductDeliveryDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SH_ATLASCELL_ProductDeliveryDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SH_ATLASCELL_ProductDeliveryDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SH_ATLASCELL_ProductDeliveryDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SH_ATLASCELL_ProductDeliveryDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SH_ATLASCELL_ProductDeliveryDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SH_ATLASCELL_ProductDeliveryDetail();

    }
          
    }
   
}

void PerviousPageGrid_SH_ATLASCELL_ProductDeliveryDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SH_ATLASCELL_ProductDeliveryDetail.CancelEditAsync();
        IndexGrid_SH_ATLASCELL_ProductDeliveryDetail = VisibleIndex - 1;
         Grid_SH_ATLASCELL_ProductDeliveryDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_ProductDeliveryDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SH_ATLASCELL_ProductDeliveryDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_SH_ATLASCELL_ProductDeliveryDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SH_ATLASCELL_ProductDeliveryDetail ");
    try
    {
Grid_SH_ATLASCELL_ProductDeliveryDetail.CancelEditAsync();
        IndexGrid_SH_ATLASCELL_ProductDeliveryDetail = VisibleIndex + 1;
         Grid_SH_ATLASCELL_ProductDeliveryDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_ProductDeliveryDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SH_ATLASCELL_ProductDeliveryDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SH_ATLASCELL_ProductDeliveryDetail;
    var MainModel = (Entity.SH_ATLASCELL_ProductDeliveryDetail)DataItem;
    if (MainModel != null)
    {
MainModel.ProductSearch = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).ProductSearch;
MainModel.PARTCODE = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).PARTCODE;
MainModel.shomarefani = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).shomarefani;
MainModel.ProductName = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).ProductName;
MainModel.Unit = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).Unit;
MainModel.CENTCODE3 = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).CENTCODE3;
MainModel.AMOUNT = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).AMOUNT;
MainModel.AMOUNT2 = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).AMOUNT2;
MainModel.RADYABI = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).RADYABI;
MainModel.SEFARESH = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).SEFARESH;
MainModel.ROW_ID = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).ROW_ID;
MainModel.Year = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).Year;
MainModel.SH_ATLASCELL_ProductDeliveryId = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).SH_ATLASCELL_ProductDeliveryId;
MainModel.SH_ATLASCELL_ProductDelivery = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel).SH_ATLASCELL_ProductDelivery;

    }
    else
    {
    ListEntity.Add((Entity.SH_ATLASCELL_ProductDeliveryDetail)EditModel);
    }
}

async Task OnDataItemDeletingSH_ATLASCELL_ProductDeliveryDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SH_ATLASCELL_ProductDeliveryDetail;
    ListEntity.Remove((Entity.SH_ATLASCELL_ProductDeliveryDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_SH_ATLASCELL_ProductDeliveryDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SH_ATLASCELL_ProductDeliveryDetail = (ex.DataItem as Entity.SH_ATLASCELL_ProductDeliveryDetail);
    var e =SelectedItemGrid_SH_ATLASCELL_ProductDeliveryDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSH_ATLASCELL_ProductDeliveryDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SH_ATLASCELL_ProductDeliveryDetail ()
{
       if (SelectedItemGrid_SH_ATLASCELL_ProductDeliveryDetail != null)
    {
      if (SelectedItemGrid_SH_ATLASCELL_ProductDeliveryDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SH_ATLASCELL_ProductDeliveryDetail;
        ListEntity.Remove((Entity.SH_ATLASCELL_ProductDeliveryDetail)SelectedItemGrid_SH_ATLASCELL_ProductDeliveryDetail);
     
      }
      else
      {
        var cleanModel = new Entity.SH_ATLASCELL_ProductDeliveryDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SH_ATLASCELL_ProductDeliveryDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SH_ATLASCELL_ProductDeliveryDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SH_ATLASCELL_ProductDeliveryDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SH_ATLASCELL_ProductDeliveryDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SH_ATLASCELL_ProductDeliveryDetail;
    
    Grid_SH_ATLASCELL_ProductDeliveryDetail.Reload();
    ConfirmationShownSH_ATLASCELL_ProductDeliveryDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SH_ATLASCELL_ProductDeliveryDetail ()
{
    ConfirmationShownSH_ATLASCELL_ProductDeliveryDetail = false;
}

void CustomizeRowsGrid_SH_ATLASCELL_ProductDeliveryDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SH_ATLASCELL_ProductDeliveryDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SH_ATLASCELL_ProductDeliveryDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SH_ATLASCELL_ProductDeliveryDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_SH_ATLASCELL_ProductDeliveryDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SH_ATLASCELL_ProductDeliveryDetail(GridRowClickEventArgs e)
{

}
}

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_ATLASCELL_ProductDelivery\",\"GetNameAs\":\"SH_ATLASCELL_ProductDelivery\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"CENTCODE\",\"GetNameAs\":\"CENTCODE\"},{\"Name\":\"CENTCODE2\",\"GetNameAs\":\"CENTCODE2\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"FACTDATE\",\"GetNameAs\":\"FACTDATE\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"H_KIND\",\"GetNameAs\":\"H_KIND\"},{\"Name\":\"INVCODE\",\"GetNameAs\":\"INVCODE\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"NOTE\",\"GetNameAs\":\"NOTE\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"Havale_List\",\"GetNameAs\":\"Havale_List\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_ProductDeliveryDetail\",\"GetNameAs\":\"SH_ATLASCELL_ProductDeliveryDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SH_ATLASCELL_ProductDeliveryId\",\"GetNameAs\":\"SH_ATLASCELL_ProductDeliveryId\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"PARTCODE\",\"GetNameAs\":\"PARTCODE\"},{\"Name\":\"shomarefani\",\"GetNameAs\":\"shomarefani\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"Unit\",\"GetNameAs\":\"Unit\"},{\"Name\":\"CENTCODE3\",\"GetNameAs\":\"CENTCODE3\"},{\"Name\":\"AMOUNT\",\"GetNameAs\":\"AMOUNT\"},{\"Name\":\"AMOUNT2\",\"GetNameAs\":\"AMOUNT2\"},{\"Name\":\"RADYABI\",\"GetNameAs\":\"RADYABI\"},{\"Name\":\"SEFARESH\",\"GetNameAs\":\"SEFARESH\"},{\"Name\":\"ROW_ID\",\"GetNameAs\":\"ROW_ID\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_ProductDelivery\",\"GetNameAs\":\"SH_ATLASCELL_ProductDelivery\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"CENTCODE\",\"GetNameAs\":\"CENTCODE\"},{\"Name\":\"CENTCODE2\",\"GetNameAs\":\"CENTCODE2\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"FACTDATE\",\"GetNameAs\":\"FACTDATE\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"H_KIND\",\"GetNameAs\":\"H_KIND\"},{\"Name\":\"INVCODE\",\"GetNameAs\":\"INVCODE\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"NOTE\",\"GetNameAs\":\"NOTE\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"Havale_List\",\"GetNameAs\":\"Havale_List\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_ATLASCELL_ProductDelivery\",\"GetNameAs\":\"SH_ATLASCELL_ProductDelivery\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"CENTCODE\",\"GetNameAs\":\"CENTCODE\"},{\"Name\":\"CENTCODE2\",\"GetNameAs\":\"CENTCODE2\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"FACTDATE\",\"GetNameAs\":\"FACTDATE\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"H_KIND\",\"GetNameAs\":\"H_KIND\"},{\"Name\":\"INVCODE\",\"GetNameAs\":\"INVCODE\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"NOTE\",\"GetNameAs\":\"NOTE\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"Havale_List\",\"GetNameAs\":\"Havale_List\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_ProductDeliveryDetail\",\"GetNameAs\":\"SH_ATLASCELL_ProductDeliveryDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SH_ATLASCELL_ProductDeliveryId\",\"GetNameAs\":\"SH_ATLASCELL_ProductDeliveryId\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"PARTCODE\",\"GetNameAs\":\"PARTCODE\"},{\"Name\":\"shomarefani\",\"GetNameAs\":\"shomarefani\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"Unit\",\"GetNameAs\":\"Unit\"},{\"Name\":\"CENTCODE3\",\"GetNameAs\":\"CENTCODE3\"},{\"Name\":\"AMOUNT\",\"GetNameAs\":\"AMOUNT\"},{\"Name\":\"AMOUNT2\",\"GetNameAs\":\"AMOUNT2\"},{\"Name\":\"RADYABI\",\"GetNameAs\":\"RADYABI\"},{\"Name\":\"SEFARESH\",\"GetNameAs\":\"SEFARESH\"},{\"Name\":\"ROW_ID\",\"GetNameAs\":\"ROW_ID\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SH_ATLASCELL_ProductDelivery>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SH_ATLASCELL_ProductDelivery();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SH_ATLASCELL_ProductDelivery>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
