@inherits Forms.Forms.Form_1080_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="FACTNO" @ref="Ref_FACTNO" Label="شماره"     @bind-Value="_Entity.FACTNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CREATOR" @ref="Ref_CREATOR" Label="نام تنظیم کننده"     @bind-Value="_Entity.CREATOR" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="TEMPNO" @ref="Ref_TEMPNO" Label="عطف"     @bind-Value="_Entity.TEMPNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="FACTDATE" @ref="Ref_FACTDATE" Label="تاریخ"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.FACTDATE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

<Input Id="FACTOR" @ref="Ref_FACTOR" Label="عطف رسید"     @bind-Value="_Entity.FACTOR" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="MiladiDate" @ref="Ref_MiladiDate" Label="تاریخ میلادی"     @bind-Value="_Entity.MiladiDate" type="datetime-local"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FACTBUYORDERNO = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"رسید\",\"primaryKey\":false,\"EntityID\":812,\"FieldId\":31853,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1080,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_anbordDTL/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"ORDERNO\",\"template\":\"<span>{{item.ORDERNO}} {{item.ORDERDATE}} {{item.TEMPNO}} {{item.OKFACTDATE}} </span>\",\"FieldsTemplate\":[{\"key\":\"ORDERNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"ORDERDATE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TEMPNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"OKFACTDATE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"ORDERNO,TEMPNO\",\"modal\":true,\"label\":\"درخواست خرید\",\"tableView\":true,\"key\":\"ORDERNO\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31853?EId=812&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=ORDERNO  @ref="Ref_ORDERNO" Label="درخواست خرید" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.ORDERNO" FieldName="ORDERNO" OnItemSelected="ItemSelected_SH_ATLASCELL_FACTBUYORDERNO" Component="Component_SH_ATLASCELL_FACTBUYORDERNO" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FACTBUYORDERNO(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.ORDERNO = Selected.ORDERNO;


    

    
    }
} 

<Input Id="ORDERYEAR" @ref="Ref_ORDERYEAR" Label="سال درخواست خرید"     @bind-Value="_Entity.ORDERYEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FACTBUYPARTKIND = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"رسید\",\"primaryKey\":false,\"EntityID\":812,\"FieldId\":31855,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1080,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_partkind/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"PKINDVALUE\",\"template\":\"<span>{{item.PKINDNAME}} {{item.PKINDVALUE}} </span>\",\"FieldsTemplate\":[{\"key\":\"PKINDNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"PKINDVALUE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"PKINDNAME,PKINDVALUE\",\"modal\":true,\"label\":\"نوع رسید\",\"tableView\":true,\"key\":\"PARTKIND\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31855?EId=812&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=PARTKIND  @ref="Ref_PARTKIND" Label="نوع رسید" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.PARTKIND" FieldName="PARTKIND" OnItemSelected="ItemSelected_SH_ATLASCELL_FACTBUYPARTKIND" Component="Component_SH_ATLASCELL_FACTBUYPARTKIND" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FACTBUYPARTKIND(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.PARTKIND = Selected.PKINDVALUE;


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FACTBUYINVCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"رسید\",\"primaryKey\":false,\"EntityID\":812,\"FieldId\":31856,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1080,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_INV/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"INVCODE\",\"template\":\"<span>{{item.INVCODE}} {{item.INVNAME}} </span>\",\"FieldsTemplate\":[{\"key\":\"INVCODE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"INVNAME\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"INVCODE,INVNAME\",\"modal\":true,\"label\":\"نام انبار\",\"tableView\":true,\"key\":\"INVCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31856?EId=812&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=INVCODE  @ref="Ref_INVCODE" Label="نام انبار" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.INVCODE" FieldName="INVCODE" OnItemSelected="ItemSelected_SH_ATLASCELL_FACTBUYINVCODE" Component="Component_SH_ATLASCELL_FACTBUYINVCODE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FACTBUYINVCODE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.INVCODE = Selected.INVCODE;


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FACTBUYSELERCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"رسید\",\"primaryKey\":false,\"EntityID\":812,\"FieldId\":31857,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1080,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_person/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.code}} {{item.name}} </span>\",\"FieldsTemplate\":[{\"key\":\"code\",\"value\":\"nvarchar(Max)\"},{\"key\":\"name\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"code,name\",\"modal\":true,\"label\":\"فروشنده کد\",\"tableView\":true,\"key\":\"SELERCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31857?EId=812&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SELERCODE  @ref="Ref_SELERCODE" Label="فروشنده کد" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.SELERCODE" FieldName="SELERCODE" OnItemSelected="ItemSelected_SH_ATLASCELL_FACTBUYSELERCODE" Component="Component_SH_ATLASCELL_FACTBUYSELERCODE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FACTBUYSELERCODE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.SELERCODE = Selected.code;


    

    
    }
} 

<Input Id="SELERNAME" @ref="Ref_SELERNAME" Label="فروشنده"     @bind-Value="_Entity.SELERNAME" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="SelerAddr" @ref="Ref_SelerAddr" Label="آدرس فروشنده"     @bind-Value="_Entity.SelerAddr" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="NOTE" @ref="Ref_NOTE" Label="توضیح"     @bind-Value="_Entity.NOTE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="YEAR" @ref="Ref_YEAR" Label="سال"     @bind-Value="_Entity.YEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="ApiResult" @ref="Ref_ApiResult" Label="ApiResult"     @bind-Value="_Entity.ApiResult" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FACTBUYFactBuy_List = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"رسید\",\"primaryKey\":false,\"EntityID\":812,\"FieldId\":31863,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1080,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_FACTBUYdtl2/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO\",\"template\":\"<span>{{item.FACTNO}} {{item.factdate}} {{item.invcode}} {{item.invname}} {{item.SELERNAME}} {{item.vaziat}} </span>\",\"FieldsTemplate\":[{\"key\":\"FACTNO\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"فهرست رسیدهای صادرشده\",\"tableView\":true,\"key\":\"FactBuy_List\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31863?EId=812&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=FactBuy_List  @ref="Ref_FactBuy_List" Label="فهرست رسیدهای صادرشده" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.FactBuy_List" FieldName="FactBuy_List" OnItemSelected="ItemSelected_SH_ATLASCELL_FACTBUYFactBuy_List" Component="Component_SH_ATLASCELL_FACTBUYFactBuy_List" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FACTBUYFactBuy_List(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.FactBuy_List = Selected.FACTNO;


    

    
    }
} 
<label for="SH_ATLASCELL_FactBuyDetail_GridSH_ATLASCELL_FACTBUYId_813">جزئیات رسید
   
    
</label>

<DxGrid @ref="Grid_SH_ATLASCELL_FactBuyDetail" Data="_Entity.SH_ATLASCELL_FactBuyDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSH_ATLASCELL_FactBuyDetail"
        DataItemDeleting="OnDataItemDeletingSH_ATLASCELL_FactBuyDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزئیات رسید"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SH_ATLASCELL_FactBuyDetail"
        CustomizeElement="CustomizeRowsGrid_SH_ATLASCELL_FactBuyDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":813,\"FieldId\":813,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SH_ATLASCELL_FactBuyDetail\",\"GridMainModel\":\"SH_ATLASCELL_FactBuyDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزئیات رسید\",\"tableView\":true,\"key\":\"GridSH_ATLASCELL_FACTBUYId_813\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSH_ATLASCELL_FACTBUYId_813\",\"modalEdit\":true,\"FieldUrl\":\"813?EId=813&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SH_ATLASCELL_FactBuyDetail_GridSH_ATLASCELL_FACTBUYId_813ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SH_ATLASCELL_FactBuyDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SH_ATLASCELL_FactBuyDetail_GridSH_ATLASCELL_FACTBUYId_813ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SH_ATLASCELL_FactBuyDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SH_ATLASCELL_FactBuyDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn Context="ProductSearch_" Caption="جستجو کالا" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":813,\"FieldId\":31871,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1080,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31871?EId=813&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowProductSearch = ((Entity.SH_ATLASCELL_FactBuyDetail)ProductSearch_.DataItem).ProductSearch;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowProductSearch"   FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_ATLASCELL_FactBuyDetailProductSearch_Header" Component="HeaderProductSearch">
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactBuyDetailProductSearch_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   ProductSearch

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="نام کالا"  FieldName="ProductName" />

<DxGridDataColumn  Caption="واحدکالا"  FieldName="ProductUnit" />

<DxGridDataColumn  Caption="کد کالا"  FieldName="PARTCODE" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار اول"  FieldName="AMOUNT" />

<DxGridDataColumn  Caption="ردیابی کالا"  FieldName="RADYABI" />

<DxGridDataColumn  Caption="سفارش کالاها"  FieldName="SEFARESH" />

<DxGridDataColumn DisplayFormat="0" Caption="ردیف دیتیل فرم"  FieldName="ROW_ID" />

<DxGridDataColumn DisplayFormat="0" Caption="سال"  FieldName="YEAR" />

<DxGridDataColumn  Caption="توضیحات"  FieldName="NoteD" />

<DxGridDataColumn  Caption="شماره فنی"  FieldName="ShomareFani" />

<DxGridDataColumn Context="SH_ATLASCELL_FACTBUYId_" Caption="شناسه اصلی SH_ATLASCELL_FACTBUY" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSH_ATLASCELL_FACTBUYId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":813,\"FieldId\":32556,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1080,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SH_ATLASCELL_FACTBUY\",\"RelationParentModel\":\"SH_ATLASCELL_FACTBUY\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SH_ATLASCELL_FACTBUY/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شناسه اصلی SH_ATLASCELL_FACTBUY\",\"tableView\":true,\"key\":\"SH_ATLASCELL_FACTBUYId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32556?EId=813&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSH_ATLASCELL_FACTBUYId = ((Entity.SH_ATLASCELL_FactBuyDetail)SH_ATLASCELL_FACTBUYId_.DataItem).SH_ATLASCELL_FACTBUYId;
}

<Dropdown ExternalApi=false CssClass="" NotMapped=false TextGrid=true Value="@RowSH_ATLASCELL_FACTBUYId"   FieldName="SH_ATLASCELL_FACTBUYId" OnItemSelected="ItemSelected_SH_ATLASCELL_FactBuyDetailSH_ATLASCELL_FACTBUYId_Header" Component="HeaderSH_ATLASCELL_FACTBUYId">
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactBuyDetailSH_ATLASCELL_FACTBUYId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SH_ATLASCELL_FACTBUYId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    <EditFormTemplate Context="EditFormContextSH_ATLASCELL_FactBuyDetail">
    @{
        SH_ATLASCELL_FactBuyDetail  = (Entity.SH_ATLASCELL_FactBuyDetail)EditFormContextSH_ATLASCELL_FactBuyDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FactBuyDetailProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":813,\"FieldId\":31871,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1080,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31871?EId=813&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SH_ATLASCELL_FactBuyDetail_ProductSearch  @ref="Ref_SH_ATLASCELL_FactBuyDetail_ProductSearch" Label="جستجو کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SH_ATLASCELL_FactBuyDetail.ProductSearch" FieldName="ProductSearch" OnItemSelected="ItemSelected_SH_ATLASCELL_FactBuyDetailProductSearch" Component="Component_SH_ATLASCELL_FactBuyDetailProductSearch" _Entity="_Entity" _EntityRow=SH_ATLASCELL_FactBuyDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactBuyDetailProductSearch(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_ATLASCELL_FactBuyDetail;

    Item.ProductSearch = Selected.partcode;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
    
<Input Id="SH_ATLASCELL_FactBuyDetail_ProductName" @ref="Ref_SH_ATLASCELL_FactBuyDetail_ProductName" Label="نام کالا"     @bind-Value="SH_ATLASCELL_FactBuyDetail.ProductName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
    
<Input Id="SH_ATLASCELL_FactBuyDetail_ProductUnit" @ref="Ref_SH_ATLASCELL_FactBuyDetail_ProductUnit" Label="واحدکالا"     @bind-Value="SH_ATLASCELL_FactBuyDetail.ProductUnit" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
    
<Input Id="SH_ATLASCELL_FactBuyDetail_PARTCODE" @ref="Ref_SH_ATLASCELL_FactBuyDetail_PARTCODE" Label="کد کالا"     @bind-Value="SH_ATLASCELL_FactBuyDetail.PARTCODE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
    
<Input Id="SH_ATLASCELL_FactBuyDetail_AMOUNT" @ref="Ref_SH_ATLASCELL_FactBuyDetail_AMOUNT" Label="مقدار اول"     @bind-Value="SH_ATLASCELL_FactBuyDetail.AMOUNT" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
    
<Input Id="SH_ATLASCELL_FactBuyDetail_RADYABI" @ref="Ref_SH_ATLASCELL_FactBuyDetail_RADYABI" Label="ردیابی کالا"     @bind-Value="SH_ATLASCELL_FactBuyDetail.RADYABI" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
    
<Input Id="SH_ATLASCELL_FactBuyDetail_SEFARESH" @ref="Ref_SH_ATLASCELL_FactBuyDetail_SEFARESH" Label="سفارش کالاها"     @bind-Value="SH_ATLASCELL_FactBuyDetail.SEFARESH" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
    
<Input Id="SH_ATLASCELL_FactBuyDetail_ROW_ID" @ref="Ref_SH_ATLASCELL_FactBuyDetail_ROW_ID" Label="ردیف دیتیل فرم"     @bind-Value="SH_ATLASCELL_FactBuyDetail.ROW_ID" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
    
<Input Id="SH_ATLASCELL_FactBuyDetail_YEAR" @ref="Ref_SH_ATLASCELL_FactBuyDetail_YEAR" Label="سال"     @bind-Value="SH_ATLASCELL_FactBuyDetail.YEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
    
<Input Id="SH_ATLASCELL_FactBuyDetail_NoteD" @ref="Ref_SH_ATLASCELL_FactBuyDetail_NoteD" Label="توضیحات"     @bind-Value="SH_ATLASCELL_FactBuyDetail.NoteD" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
    
<Input Id="SH_ATLASCELL_FactBuyDetail_ShomareFani" @ref="Ref_SH_ATLASCELL_FactBuyDetail_ShomareFani" Label="شماره فنی"     @bind-Value="SH_ATLASCELL_FactBuyDetail.ShomareFani" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_ATLASCELL_FactBuyDetailSH_ATLASCELL_FACTBUYId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":813,\"FieldId\":32556,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1080,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SH_ATLASCELL_FACTBUY\",\"RelationParentModel\":\"SH_ATLASCELL_FACTBUY\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SH_ATLASCELL_FACTBUY/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"شناسه اصلی SH_ATLASCELL_FACTBUY\",\"tableView\":true,\"key\":\"SH_ATLASCELL_FACTBUYId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"32556?EId=813&SubId=38\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SH_ATLASCELL_FactBuyDetail_SH_ATLASCELL_FACTBUYId  @ref="Ref_SH_ATLASCELL_FactBuyDetail_SH_ATLASCELL_FACTBUYId" Label="شناسه اصلی SH_ATLASCELL_FACTBUY" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SH_ATLASCELL_FactBuyDetail.SH_ATLASCELL_FACTBUYId" FieldName="SH_ATLASCELL_FACTBUYId" OnItemSelected="ItemSelected_SH_ATLASCELL_FactBuyDetailSH_ATLASCELL_FACTBUYId" Component="Component_SH_ATLASCELL_FactBuyDetailSH_ATLASCELL_FACTBUYId" _Entity="_Entity" _EntityRow=SH_ATLASCELL_FactBuyDetail>
</Dropdown>
@code {
    public async Task ItemSelected_SH_ATLASCELL_FactBuyDetailSH_ATLASCELL_FACTBUYId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SH_ATLASCELL_FactBuyDetail;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SH_ATLASCELL_FACTBUYId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SH_ATLASCELL_FACTBUYId =EntityHelper.SetPropertyNull(Item.SH_ATLASCELL_FACTBUYId);
 }
 Item.SH_ATLASCELL_FACTBUY = await Utility.JSON.ToObject<Entity.SH_ATLASCELL_FACTBUY>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSH_ATLASCELL_FactBuyDetail" CssClass="btn-modal-custom">
            <DxButton Id="SH_ATLASCELL_FactBuyDetail_GridSH_ATLASCELL_FACTBUYId_813ButtonSave" Click="@(() => SaveModalGrid_SH_ATLASCELL_FactBuyDetail(EditFormContextSH_ATLASCELL_FactBuyDetail))" Text="@languageContainer.Keys["DXGrid:Ok"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SH_ATLASCELL_FactBuyDetail_GridSH_ATLASCELL_FACTBUYId_813ButtonSaveAndNew"    Text="@languageContainer.Keys["DXGrid:OkAndNew"]" Click="@(() => SaveAndNewGrid_SH_ATLASCELL_FactBuyDetail(EditFormContextSH_ATLASCELL_FactBuyDetail))" CssClass="btn btn-green" />


            <DxButton Id="SH_ATLASCELL_FactBuyDetail_GridSH_ATLASCELL_FACTBUYId_813ButtonCancel" Click="@(() => Grid_SH_ATLASCELL_FactBuyDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SH_ATLASCELL_FactBuyDetail_GridSH_ATLASCELL_FACTBUYId_813ButtonBefore" Click="@(() => Dialog_Grid_SH_ATLASCELL_FactBuyDetail(0,IndexGrid_SH_ATLASCELL_FactBuyDetail,EditFormContextSH_ATLASCELL_FactBuyDetail))" Text="@languageContainer.Keys["DXGrid:Prev"]" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SH_ATLASCELL_FactBuyDetail_GridSH_ATLASCELL_FACTBUYId_813ButtonNext" Click="@(() => Dialog_Grid_SH_ATLASCELL_FactBuyDetail(1,IndexGrid_SH_ATLASCELL_FactBuyDetail,EditFormContextSH_ATLASCELL_FactBuyDetail))" Text="@languageContainer.Keys["DXGrid:Next"]" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSH_ATLASCELL_FactBuyDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SH_ATLASCELL_FactBuyDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SH_ATLASCELL_FactBuyDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSH_ATLASCELL_FactBuyDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSH_ATLASCELL_FactBuyDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSH_ATLASCELL_FactBuyDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SH_ATLASCELL_FactBuyDetail;
    Entity.SH_ATLASCELL_FactBuyDetail SH_ATLASCELL_FactBuyDetail;
    bool ConfirmationShownSH_ATLASCELL_FactBuyDetail { get; set; } = false;
    public Entity.SH_ATLASCELL_FactBuyDetail SelectedItemGrid_SH_ATLASCELL_FactBuyDetail { get; set; } = new Entity.SH_ATLASCELL_FactBuyDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SH_ATLASCELL_FactBuyDetail { get; set; }

    ///////////////////////
    bool ConfirmationSH_ATLASCELL_FactBuyDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSH_ATLASCELL_FactBuyDetail { get; set; }
    public int OpenDialogCodeSH_ATLASCELL_FactBuyDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSH_ATLASCELL_FactBuyDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SH_ATLASCELL_FactBuyDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SH_ATLASCELL_FactBuyDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSH_ATLASCELL_FactBuyDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSH_ATLASCELL_FactBuyDetail = e;
    ConfirmationSH_ATLASCELL_FactBuyDetail = true;
    }
    else
    {
    await OnNoButtonSH_ATLASCELL_FactBuyDetail();
    }
}
async Task OnYesButtonSH_ATLASCELL_FactBuyDetail()
{

    ConfirmationSH_ATLASCELL_FactBuyDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSH_ATLASCELL_FactBuyDetail.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SH_ATLASCELL_FactBuyDetail(_ContextFormTemplateSH_ATLASCELL_FactBuyDetail.DataItem, _ContextFormTemplateSH_ATLASCELL_FactBuyDetail.EditModel);
            await Grid_SH_ATLASCELL_FactBuyDetail.CancelEditAsync();
         await ChangePageGrid_SH_ATLASCELL_FactBuyDetail();
         await SetEditFormContextGrid_SH_ATLASCELL_FactBuyDetail();
         }
          
    }

}
async Task OnNoButtonSH_ATLASCELL_FactBuyDetail()
{
    ConfirmationSH_ATLASCELL_FactBuyDetail = false;
    await ChangePageGrid_SH_ATLASCELL_FactBuyDetail();
    await SetEditFormContextGrid_SH_ATLASCELL_FactBuyDetail();

}
async Task SetEditFormContextGrid_SH_ATLASCELL_FactBuyDetail()
{
    var e = (Entity.SH_ATLASCELL_FactBuyDetail)Grid_SH_ATLASCELL_FactBuyDetail.GetDataItem(IndexGrid_SH_ATLASCELL_FactBuyDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SH_ATLASCELL_FactBuyDetail()
{
    int VisibleIndex = IndexGrid_SH_ATLASCELL_FactBuyDetail;
    try
    {
    if (OpenDialogCodeSH_ATLASCELL_FactBuyDetail == 1)
    {
        if (VisibleIndex != (Grid_SH_ATLASCELL_FactBuyDetail.GetVisibleRowCount() - 1))
    { 
            Grid_SH_ATLASCELL_FactBuyDetail.CancelEditAsync();
            IndexGrid_SH_ATLASCELL_FactBuyDetail = VisibleIndex + 1;
    Grid_SH_ATLASCELL_FactBuyDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_FactBuyDetail);
    }
    }
    else if (OpenDialogCodeSH_ATLASCELL_FactBuyDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SH_ATLASCELL_FactBuyDetail.CancelEditAsync();
            IndexGrid_SH_ATLASCELL_FactBuyDetail = VisibleIndex - 1;
    Grid_SH_ATLASCELL_FactBuyDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_FactBuyDetail);
    }

    }
    var e = (Entity.SH_ATLASCELL_FactBuyDetail)Grid_SH_ATLASCELL_FactBuyDetail.GetDataItem(IndexGrid_SH_ATLASCELL_FactBuyDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SH_ATLASCELL_FactBuyDetail()
{
    IndexGrid_SH_ATLASCELL_FactBuyDetail = Grid_SH_ATLASCELL_FactBuyDetail.GetVisibleRowCount();
Grid_SH_ATLASCELL_FactBuyDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SH_ATLASCELL_FactBuyDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SH_ATLASCELL_FactBuyDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SH_ATLASCELL_FactBuyDetail = Context.VisibleIndex;
Grid_SH_ATLASCELL_FactBuyDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SH_ATLASCELL_FactBuyDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SH_ATLASCELL_FactBuyDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SH_ATLASCELL_FactBuyDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SH_ATLASCELL_FactBuyDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SH_ATLASCELL_FactBuyDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SH_ATLASCELL_FactBuyDetail();

    }
          
    }
   
}

void PerviousPageGrid_SH_ATLASCELL_FactBuyDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SH_ATLASCELL_FactBuyDetail.CancelEditAsync();
        IndexGrid_SH_ATLASCELL_FactBuyDetail = VisibleIndex - 1;
         Grid_SH_ATLASCELL_FactBuyDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_FactBuyDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SH_ATLASCELL_FactBuyDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_SH_ATLASCELL_FactBuyDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SH_ATLASCELL_FactBuyDetail ");
    try
    {
Grid_SH_ATLASCELL_FactBuyDetail.CancelEditAsync();
        IndexGrid_SH_ATLASCELL_FactBuyDetail = VisibleIndex + 1;
         Grid_SH_ATLASCELL_FactBuyDetail.StartEditRowAsync(IndexGrid_SH_ATLASCELL_FactBuyDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SH_ATLASCELL_FactBuyDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SH_ATLASCELL_FactBuyDetail;
    var MainModel = (Entity.SH_ATLASCELL_FactBuyDetail)DataItem;
    if (MainModel != null)
    {
MainModel.ProductSearch = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).ProductSearch;
MainModel.ProductName = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).ProductName;
MainModel.ProductUnit = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).ProductUnit;
MainModel.PARTCODE = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).PARTCODE;
MainModel.AMOUNT = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).AMOUNT;
MainModel.RADYABI = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).RADYABI;
MainModel.SEFARESH = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).SEFARESH;
MainModel.ROW_ID = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).ROW_ID;
MainModel.YEAR = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).YEAR;
MainModel.NoteD = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).NoteD;
MainModel.ShomareFani = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).ShomareFani;
MainModel.SH_ATLASCELL_FACTBUYId = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).SH_ATLASCELL_FACTBUYId;
MainModel.SH_ATLASCELL_FACTBUY = ((Entity.SH_ATLASCELL_FactBuyDetail)EditModel).SH_ATLASCELL_FACTBUY;

    }
    else
    {
    ListEntity.Add((Entity.SH_ATLASCELL_FactBuyDetail)EditModel);
    }
}

async Task OnDataItemDeletingSH_ATLASCELL_FactBuyDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SH_ATLASCELL_FactBuyDetail;
    ListEntity.Remove((Entity.SH_ATLASCELL_FactBuyDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_SH_ATLASCELL_FactBuyDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SH_ATLASCELL_FactBuyDetail = (ex.DataItem as Entity.SH_ATLASCELL_FactBuyDetail);
    var e =SelectedItemGrid_SH_ATLASCELL_FactBuyDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSH_ATLASCELL_FactBuyDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SH_ATLASCELL_FactBuyDetail ()
{
       if (SelectedItemGrid_SH_ATLASCELL_FactBuyDetail != null)
    {
      if (SelectedItemGrid_SH_ATLASCELL_FactBuyDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SH_ATLASCELL_FactBuyDetail;
        ListEntity.Remove((Entity.SH_ATLASCELL_FactBuyDetail)SelectedItemGrid_SH_ATLASCELL_FactBuyDetail);
     
      }
      else
      {
        var cleanModel = new Entity.SH_ATLASCELL_FactBuyDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SH_ATLASCELL_FactBuyDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SH_ATLASCELL_FactBuyDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SH_ATLASCELL_FactBuyDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SH_ATLASCELL_FactBuyDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SH_ATLASCELL_FactBuyDetail;
    
    Grid_SH_ATLASCELL_FactBuyDetail.Reload();
    ConfirmationShownSH_ATLASCELL_FactBuyDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SH_ATLASCELL_FactBuyDetail ()
{
    ConfirmationShownSH_ATLASCELL_FactBuyDetail = false;
}

void CustomizeRowsGrid_SH_ATLASCELL_FactBuyDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SH_ATLASCELL_FactBuyDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SH_ATLASCELL_FactBuyDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SH_ATLASCELL_FactBuyDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_SH_ATLASCELL_FactBuyDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SH_ATLASCELL_FactBuyDetail(GridRowClickEventArgs e)
{

}
}

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_ATLASCELL_FACTBUY\",\"GetNameAs\":\"SH_ATLASCELL_FACTBUY\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"FACTDATE\",\"GetNameAs\":\"FACTDATE\"},{\"Name\":\"FACTOR\",\"GetNameAs\":\"FACTOR\"},{\"Name\":\"MiladiDate\",\"GetNameAs\":\"MiladiDate\"},{\"Name\":\"ORDERNO\",\"GetNameAs\":\"ORDERNO\"},{\"Name\":\"ORDERYEAR\",\"GetNameAs\":\"ORDERYEAR\"},{\"Name\":\"PARTKIND\",\"GetNameAs\":\"PARTKIND\"},{\"Name\":\"INVCODE\",\"GetNameAs\":\"INVCODE\"},{\"Name\":\"SELERCODE\",\"GetNameAs\":\"SELERCODE\"},{\"Name\":\"SELERNAME\",\"GetNameAs\":\"SELERNAME\"},{\"Name\":\"SelerAddr\",\"GetNameAs\":\"SelerAddr\"},{\"Name\":\"NOTE\",\"GetNameAs\":\"NOTE\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"},{\"Name\":\"FactBuy_List\",\"GetNameAs\":\"FactBuy_List\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_FactBuyDetail\",\"GetNameAs\":\"SH_ATLASCELL_FactBuyDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SH_ATLASCELL_FACTBUYId\",\"GetNameAs\":\"SH_ATLASCELL_FACTBUYId\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"ProductUnit\",\"GetNameAs\":\"ProductUnit\"},{\"Name\":\"PARTCODE\",\"GetNameAs\":\"PARTCODE\"},{\"Name\":\"AMOUNT\",\"GetNameAs\":\"AMOUNT\"},{\"Name\":\"RADYABI\",\"GetNameAs\":\"RADYABI\"},{\"Name\":\"SEFARESH\",\"GetNameAs\":\"SEFARESH\"},{\"Name\":\"ROW_ID\",\"GetNameAs\":\"ROW_ID\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"NoteD\",\"GetNameAs\":\"NoteD\"},{\"Name\":\"ShomareFani\",\"GetNameAs\":\"ShomareFani\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_FACTBUY\",\"GetNameAs\":\"SH_ATLASCELL_FACTBUY\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"FACTDATE\",\"GetNameAs\":\"FACTDATE\"},{\"Name\":\"FACTOR\",\"GetNameAs\":\"FACTOR\"},{\"Name\":\"MiladiDate\",\"GetNameAs\":\"MiladiDate\"},{\"Name\":\"ORDERNO\",\"GetNameAs\":\"ORDERNO\"},{\"Name\":\"ORDERYEAR\",\"GetNameAs\":\"ORDERYEAR\"},{\"Name\":\"PARTKIND\",\"GetNameAs\":\"PARTKIND\"},{\"Name\":\"INVCODE\",\"GetNameAs\":\"INVCODE\"},{\"Name\":\"SELERCODE\",\"GetNameAs\":\"SELERCODE\"},{\"Name\":\"SELERNAME\",\"GetNameAs\":\"SELERNAME\"},{\"Name\":\"SelerAddr\",\"GetNameAs\":\"SelerAddr\"},{\"Name\":\"NOTE\",\"GetNameAs\":\"NOTE\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"},{\"Name\":\"FactBuy_List\",\"GetNameAs\":\"FactBuy_List\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_ATLASCELL_FACTBUY\",\"GetNameAs\":\"SH_ATLASCELL_FACTBUY\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"FACTNO\",\"GetNameAs\":\"FACTNO\"},{\"Name\":\"CREATOR\",\"GetNameAs\":\"CREATOR\"},{\"Name\":\"TEMPNO\",\"GetNameAs\":\"TEMPNO\"},{\"Name\":\"FACTDATE\",\"GetNameAs\":\"FACTDATE\"},{\"Name\":\"FACTOR\",\"GetNameAs\":\"FACTOR\"},{\"Name\":\"MiladiDate\",\"GetNameAs\":\"MiladiDate\"},{\"Name\":\"ORDERNO\",\"GetNameAs\":\"ORDERNO\"},{\"Name\":\"ORDERYEAR\",\"GetNameAs\":\"ORDERYEAR\"},{\"Name\":\"PARTKIND\",\"GetNameAs\":\"PARTKIND\"},{\"Name\":\"INVCODE\",\"GetNameAs\":\"INVCODE\"},{\"Name\":\"SELERCODE\",\"GetNameAs\":\"SELERCODE\"},{\"Name\":\"SELERNAME\",\"GetNameAs\":\"SELERNAME\"},{\"Name\":\"SelerAddr\",\"GetNameAs\":\"SelerAddr\"},{\"Name\":\"NOTE\",\"GetNameAs\":\"NOTE\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"},{\"Name\":\"FactBuy_List\",\"GetNameAs\":\"FactBuy_List\"}],\"Relation\":[{\"Name\":\"SH_ATLASCELL_FactBuyDetail\",\"GetNameAs\":\"SH_ATLASCELL_FactBuyDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SH_ATLASCELL_FACTBUYId\",\"GetNameAs\":\"SH_ATLASCELL_FACTBUYId\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"ProductUnit\",\"GetNameAs\":\"ProductUnit\"},{\"Name\":\"PARTCODE\",\"GetNameAs\":\"PARTCODE\"},{\"Name\":\"AMOUNT\",\"GetNameAs\":\"AMOUNT\"},{\"Name\":\"RADYABI\",\"GetNameAs\":\"RADYABI\"},{\"Name\":\"SEFARESH\",\"GetNameAs\":\"SEFARESH\"},{\"Name\":\"ROW_ID\",\"GetNameAs\":\"ROW_ID\"},{\"Name\":\"YEAR\",\"GetNameAs\":\"YEAR\"},{\"Name\":\"NoteD\",\"GetNameAs\":\"NoteD\"},{\"Name\":\"ShomareFani\",\"GetNameAs\":\"ShomareFani\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SH_ATLASCELL_FACTBUY>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SH_ATLASCELL_FACTBUY();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SH_ATLASCELL_FACTBUY>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
