@inherits Forms.Forms.Form_1020Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.ORM
@using Castle.DynamicLinqQueryBuilder
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Forms
@using Utility
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
<style>
    
</style>

<div class="@(ReadOnly?"FormReadOnly":"")">


    <span class="d-none">VersionForm:@VersionForm</span>

    <div class="formListi mt-3">
        <div class="masterArea">
            <div class="p-2 cardbox">

                @*فیلد های مستر اگه نیاز شد اینجا قرار گیرد *@


                <Form_1020_Filter @ref="RefListFilter" OnSearch="@(f => SearchFilter(f))" _RequestParameters="@_RequestParameters" _CartablesParameters="@_CartablesParameters"></Form_1020_Filter>


                <div class="gridArea">

                    @*
                    فیلتر و گرید با یک لیست داده کار میکنند
                    *@

                    <label for="SH_Petco_InsertParts_SH_Petco_InsertParts">ایجاد کالا
   
    
</label>

<DxGrid @ref="Grid_SH_Petco_InsertParts" Data="_Entity" KeyFieldName="_Id" 
        EditModelSaving="OnEditModelSavingSH_Petco_InsertParts"
        DataItemDeleting="OnDataItemDeletingSH_Petco_InsertParts"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="ایجاد کالا"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SH_Petco_InsertParts"
        CustomizeElement="CustomizeRowsGrid_SH_Petco_InsertParts" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":759,\"FieldId\":0,\"ViewId\":1020,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SH_Petco_InsertParts\",\"GridMainModel\":\"SH_Petco_InsertParts\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"modal\":true,\"StartCustomDataGrid\":true,\"label\":\"ایجاد کالا\",\"tableView\":false,\"key\":\"SH_Petco_InsertParts\",\"type\":\"datagrid\",\"input\":true,\"modalEdit\":false,\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SH_Petco_InsertParts_SH_Petco_InsertPartsButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SH_Petco_InsertParts())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SH_Petco_InsertParts_SH_Petco_InsertPartsButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SH_Petco_InsertParts(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SH_Petco_InsertParts(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn  Caption="کد کالا"  FieldName="PartNo" />

<DxGridDataColumn  Caption="شرح کالا"  FieldName="ProductName" />

<DxGridDataColumn Context="GRCODE_" Caption="گروه" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderGRCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":759,\"FieldId\":30937,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1020,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/VIEW_TAFKINDDTL_PARTS/GetList?TAFKINDNO=0010\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"TAFNO\",\"template\":\"<span>{{item.TAFNAME}} {{item.TAFCODE}} {{item.TAFKINDNO}} {{item.TAFNO}} </span>\",\"FieldsTemplate\":[{\"key\":\"TAFNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TAFCODE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TAFKINDNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TAFNO\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"SH_Petco_InsertParts.TAFKINDNO\",\"searchField\":\"TAFNAME\",\"clearOnRefresh\":true,\"modal\":true,\"label\":\"گروه\",\"tableView\":true,\"key\":\"GRCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30937?EId=759&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowGRCODE = ((Entity.SH_Petco_InsertParts)GRCODE_.DataItem).GRCODE;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowGRCODE"   FieldName="GRCODE" OnItemSelected="ItemSelected_SH_Petco_InsertPartsGRCODE_Header" Component="HeaderGRCODE">
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_InsertPartsGRCODE_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   GRCODE

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="SUBGRCODE_" Caption="زیر گروه" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSUBGRCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":759,\"FieldId\":30938,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1020,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/VIEW_TAFKINDDTL_PARTS/GetList?TAFKINDNO=0011\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"TAFNO\",\"template\":\"<span>{{item.TAFNAME}} {{item.TAFCODE}} {{item.TAFKINDNO}} {{item.TAFNO}} </span>\",\"FieldsTemplate\":[{\"key\":\"TAFNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TAFCODE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TAFKINDNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TAFNO\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"SH_Petco_InsertParts.TAFKINDNO\",\"searchField\":\"TAFNAME\",\"clearOnRefresh\":true,\"modal\":true,\"label\":\"زیر گروه\",\"tableView\":true,\"key\":\"SUBGRCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30938?EId=759&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSUBGRCODE = ((Entity.SH_Petco_InsertParts)SUBGRCODE_.DataItem).SUBGRCODE;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowSUBGRCODE"   FieldName="SUBGRCODE" OnItemSelected="ItemSelected_SH_Petco_InsertPartsSUBGRCODE_Header" Component="HeaderSUBGRCODE">
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_InsertPartsSUBGRCODE_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SUBGRCODE

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="Units_" Caption="واحد کالا" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderUnits = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":759,\"FieldId\":30939,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1020,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_vahed_unit/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"samancode\",\"template\":\"<span>{{item.name}} </span>\",\"FieldsTemplate\":[{\"key\":\"name\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"name\",\"modal\":true,\"label\":\"واحد کالا\",\"tableView\":true,\"key\":\"Units\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30939?EId=759&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowUnits = ((Entity.SH_Petco_InsertParts)Units_.DataItem).Units;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowUnits"   FieldName="Units" OnItemSelected="ItemSelected_SH_Petco_InsertPartsUnits_Header" Component="HeaderUnits">
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_InsertPartsUnits_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Units

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="Units2_" Caption="واحد کالا 2" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderUnits2 = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":759,\"FieldId\":30940,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1020,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_vahed_unit/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"samancode\",\"template\":\"<span>{{item.name}} </span>\",\"FieldsTemplate\":[{\"key\":\"name\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"name\",\"modal\":true,\"label\":\"واحد کالا 2\",\"tableView\":true,\"key\":\"Units2\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30940?EId=759&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowUnits2 = ((Entity.SH_Petco_InsertParts)Units2_.DataItem).Units2;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowUnits2"   FieldName="Units2" OnItemSelected="ItemSelected_SH_Petco_InsertPartsUnits2_Header" Component="HeaderUnits2">
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_InsertPartsUnits2_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Units2

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="کد شناسه مالیاتی"  FieldName="SSTID" />

<DxGridDataColumn  Caption="شماره فنی"  FieldName="TECNO" />

<DxGridDataColumn  Caption="مشخصه فنی"  FieldName="TECDESC" />

<DxGridDataColumn DisplayFormat="0" Caption="سال مالی"  FieldName="Year" />

<DxGridDataColumn Context="Product_List_" Caption="فهرست اصلی کالاها" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProduct_List = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":759,\"FieldId\":30945,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1020,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\" https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DataGrid\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partno}} {{item.desc}} {{item.partcode}} {{item.unit}} {{item.PKINDNAME}} </span>\",\"FieldsTemplate\":[{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit\",\"value\":\"nvarchar(Max)\"},{\"key\":\"PKINDNAME\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc,PKINDNAME\",\"modal\":true,\"label\":\"فهرست اصلی کالاها\",\"tableView\":true,\"key\":\"Product_List\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30945?EId=759&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowProduct_List = ((Entity.SH_Petco_InsertParts)Product_List_.DataItem).Product_List;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowProduct_List"   FieldName="Product_List" OnItemSelected="ItemSelected_SH_Petco_InsertPartsProduct_List_Header" Component="HeaderProduct_List">
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_InsertPartsProduct_List_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   Product_List

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="ApiResult"  FieldName="ApiResult" />

<DxGridDataColumn Context="ProductType_" Caption="نوع کالا" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProductType = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":759,\"FieldId\":30947,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":1020,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_tamin_type/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.title}} {{item.code}} </span>\",\"FieldsTemplate\":[{\"key\":\"title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"code\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"نوع کالا\",\"tableView\":true,\"key\":\"ProductType\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30947?EId=759&SubId=33\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowProductType = ((Entity.SH_Petco_InsertParts)ProductType_.DataItem).ProductType;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowProductType"   FieldName="ProductType" OnItemSelected="ItemSelected_SH_Petco_InsertPartsProductType_Header" Component="HeaderProductType">
</Dropdown>
@code {
    public async Task ItemSelected_SH_Petco_InsertPartsProductType_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   ProductType

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>

</Columns>

    
</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSH_Petco_InsertParts" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SH_Petco_InsertParts" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SH_Petco_InsertParts" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSH_Petco_InsertParts" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSH_Petco_InsertParts" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSH_Petco_InsertParts" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SH_Petco_InsertParts;
    Entity.SH_Petco_InsertParts SH_Petco_InsertParts;
    bool ConfirmationShownSH_Petco_InsertParts { get; set; } = false;
    public Entity.SH_Petco_InsertParts SelectedItemGrid_SH_Petco_InsertParts { get; set; } = new Entity.SH_Petco_InsertParts();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SH_Petco_InsertParts { get; set; }

    ///////////////////////
    bool ConfirmationSH_Petco_InsertParts { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSH_Petco_InsertParts { get; set; }
    public int OpenDialogCodeSH_Petco_InsertParts { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSH_Petco_InsertParts(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SH_Petco_InsertParts(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SH_Petco_InsertParts(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSH_Petco_InsertParts = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSH_Petco_InsertParts = e;
    ConfirmationSH_Petco_InsertParts = true;
    }
    else
    {
    await OnNoButtonSH_Petco_InsertParts();
    }
}
async Task OnYesButtonSH_Petco_InsertParts()
{

    ConfirmationSH_Petco_InsertParts = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSH_Petco_InsertParts.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SH_Petco_InsertParts(_ContextFormTemplateSH_Petco_InsertParts.DataItem, _ContextFormTemplateSH_Petco_InsertParts.EditModel);
            await Grid_SH_Petco_InsertParts.CancelEditAsync();
         await ChangePageGrid_SH_Petco_InsertParts();
         await SetEditFormContextGrid_SH_Petco_InsertParts();
         }
          
    }

}
async Task OnNoButtonSH_Petco_InsertParts()
{
    ConfirmationSH_Petco_InsertParts = false;
    await ChangePageGrid_SH_Petco_InsertParts();
    await SetEditFormContextGrid_SH_Petco_InsertParts();

}
async Task SetEditFormContextGrid_SH_Petco_InsertParts()
{
    var e = (Entity.SH_Petco_InsertParts)Grid_SH_Petco_InsertParts.GetDataItem(IndexGrid_SH_Petco_InsertParts);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SH_Petco_InsertParts()
{
    int VisibleIndex = IndexGrid_SH_Petco_InsertParts;
    try
    {
    if (OpenDialogCodeSH_Petco_InsertParts == 1)
    {
        if (VisibleIndex != (Grid_SH_Petco_InsertParts.GetVisibleRowCount() - 1))
    { 
            Grid_SH_Petco_InsertParts.CancelEditAsync();
            IndexGrid_SH_Petco_InsertParts = VisibleIndex + 1;
    Grid_SH_Petco_InsertParts.StartEditRowAsync(IndexGrid_SH_Petco_InsertParts);
    }
    }
    else if (OpenDialogCodeSH_Petco_InsertParts == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SH_Petco_InsertParts.CancelEditAsync();
            IndexGrid_SH_Petco_InsertParts = VisibleIndex - 1;
    Grid_SH_Petco_InsertParts.StartEditRowAsync(IndexGrid_SH_Petco_InsertParts);
    }

    }
    var e = (Entity.SH_Petco_InsertParts)Grid_SH_Petco_InsertParts.GetDataItem(IndexGrid_SH_Petco_InsertParts);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SH_Petco_InsertParts()
{
    //تعداد سطرهای کل
_VisibleIndex = Grid_SH_Petco_InsertParts.GetVisibleRowCount();
setFocusOff();
IsNew = true;
await ShowFormCU(null);
var e = new Entity.SH_Petco_InsertParts();
await Task.Delay(300);

}

async Task StartModalGrid_SH_Petco_InsertParts(GridCommandColumnCellDisplayTemplateContext Context)
{
    IsNew = false;
setFocusOn();
_VisibleIndex = Context.VisibleIndex;
await ShowFormCU(Context.DataItem);
var e = (Entity.SH_Petco_InsertParts)Context.DataItem;
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SH_Petco_InsertParts(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SH_Petco_InsertParts(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SH_Petco_InsertParts(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SH_Petco_InsertParts(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SH_Petco_InsertParts();

    }
          
    }
   
}

void PerviousPageGrid_SH_Petco_InsertParts(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SH_Petco_InsertParts.CancelEditAsync();
        IndexGrid_SH_Petco_InsertParts = VisibleIndex - 1;
         Grid_SH_Petco_InsertParts.StartEditRowAsync(IndexGrid_SH_Petco_InsertParts);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SH_Petco_InsertParts(int VisibleIndex)
{

    if (VisibleIndex == Grid_SH_Petco_InsertParts.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SH_Petco_InsertParts ");
    try
    {
Grid_SH_Petco_InsertParts.CancelEditAsync();
        IndexGrid_SH_Petco_InsertParts = VisibleIndex + 1;
         Grid_SH_Petco_InsertParts.StartEditRowAsync(IndexGrid_SH_Petco_InsertParts);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SH_Petco_InsertParts(object DataItem, object EditModel)
{
    var ListEntity = _Entity;
    var MainModel = (Entity.SH_Petco_InsertParts)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.SH_Petco_InsertParts)EditModel).Id;
MainModel.RequestID = ((Entity.SH_Petco_InsertParts)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SH_Petco_InsertParts)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SH_Petco_InsertParts)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SH_Petco_InsertParts)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SH_Petco_InsertParts)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SH_Petco_InsertParts)EditModel).IsDelete;
MainModel.PartNo = ((Entity.SH_Petco_InsertParts)EditModel).PartNo;
MainModel.ProductName = ((Entity.SH_Petco_InsertParts)EditModel).ProductName;
MainModel.GRCODE = ((Entity.SH_Petco_InsertParts)EditModel).GRCODE;
MainModel.SUBGRCODE = ((Entity.SH_Petco_InsertParts)EditModel).SUBGRCODE;
MainModel.Units = ((Entity.SH_Petco_InsertParts)EditModel).Units;
MainModel.Units2 = ((Entity.SH_Petco_InsertParts)EditModel).Units2;
MainModel.SSTID = ((Entity.SH_Petco_InsertParts)EditModel).SSTID;
MainModel.TECNO = ((Entity.SH_Petco_InsertParts)EditModel).TECNO;
MainModel.TECDESC = ((Entity.SH_Petco_InsertParts)EditModel).TECDESC;
MainModel.Year = ((Entity.SH_Petco_InsertParts)EditModel).Year;
MainModel.Product_List = ((Entity.SH_Petco_InsertParts)EditModel).Product_List;
MainModel.ApiResult = ((Entity.SH_Petco_InsertParts)EditModel).ApiResult;
MainModel.ProductType = ((Entity.SH_Petco_InsertParts)EditModel).ProductType;

    }
    else
    {
    ListEntity.Add((Entity.SH_Petco_InsertParts)EditModel);
    }
}

async Task OnDataItemDeletingSH_Petco_InsertParts(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity;
    ListEntity.Remove((Entity.SH_Petco_InsertParts)e.DataItem);
}
async void OnDeleteButtonClickGrid_SH_Petco_InsertParts (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SH_Petco_InsertParts = (ex.DataItem as Entity.SH_Petco_InsertParts);
    var e =SelectedItemGrid_SH_Petco_InsertParts;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSH_Petco_InsertParts = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SH_Petco_InsertParts ()
{
       if (SelectedItemGrid_SH_Petco_InsertParts != null)
    {
      if (SelectedItemGrid_SH_Petco_InsertParts.Id == Guid.Empty)
      {
          var ListEntity = _Entity;
        ListEntity.Remove((Entity.SH_Petco_InsertParts)SelectedItemGrid_SH_Petco_InsertParts);
     
      }
      else
      {
        var cleanModel = new Entity.SH_Petco_InsertParts();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SH_Petco_InsertParts).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SH_Petco_InsertParts);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SH_Petco_InsertParts, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SH_Petco_InsertParts._Id);
    
      await PostDataDelete(cleanModel); 
       
      }
    }
    var e= SelectedItemGrid_SH_Petco_InsertParts;
    
    Grid_SH_Petco_InsertParts.Reload();
    ConfirmationShownSH_Petco_InsertParts = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SH_Petco_InsertParts ()
{
    ConfirmationShownSH_Petco_InsertParts = false;
}

void CustomizeRowsGrid_SH_Petco_InsertParts(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SH_Petco_InsertParts)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SH_Petco_InsertParts(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SH_Petco_InsertParts)e.EditModel;

     

    }

await ShowFormCU(e);
}
public async void RowClickGrid_SH_Petco_InsertParts(GridRowClickEventArgs e)
{
if (!e.Grid.FocusedRowEnabled)
{
    setFocusOn();
}
IsNew = false;
_VisibleIndex = e.VisibleIndex;
ShowFormCU(e.Grid.GetDataItem(e.VisibleIndex));
e.Grid.SetFocusedRowIndex(e.VisibleIndex);
}

public async void RowDubbleClickGrid_SH_Petco_InsertParts(GridRowClickEventArgs e)
{

}
}


                    <DxPager @ref=DxPager VisibleNumericButtonCount="1" SwitchToInputBoxButtonCount="3" PageCount="@PageCount" NavigationMode="PagerNavigationMode.NumericButtons" ActivePageIndexChanged="PageIndexChanged" />
                    @* دیالوگ برای سابمیت *@
                    <DxPopup @bind-Visible="@Confirmation_Submit" HeaderText="Save" Width="350px" CloseOnOutsideClick="false">
                        <BodyContentTemplate Context="EditFormContext">
                            <div class="py-3 px-5 text-center">
                                <p>آیا از ذخیره این رکورد مطمئن هستید</p>
                                <div class="confirm-dialog-buttons">


                                    <DxButton Text="Yes" Enabled="!isSending" CssClass="btn btn-red px-4" Click="@OnYesSubmitClick">
                                        @* تبدیل دکمه به لود  *@
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "Send"))</span>

                                    </DxButton>
                                    <DxButton Text="No" CssClass="btn btn-purple-light px-4" Click="@OnNoSubmitClick" />
                                </div>
                            </div>
                        </BodyContentTemplate>
                    </DxPopup>
                    @* دیالوگ برای ذخیره و رکورد جدید *@
                    <DxPopup @bind-Visible="@Confirmation_SubmitNew" HeaderText="Save" Width="350px" CloseOnOutsideClick="false">

                        <BodyContentTemplate Context="EditFormContext">
                            <div class="py-3 px-5 text-center">
                                <p>آیا از ذخیره این رکورد مطمئن هستید</p>
                                <div class="confirm-dialog-buttons">
                                    <DxButton Text="Yes" Enabled="!isSending" CssClass="btn btn-red px-4" Click="@OnYesSubmitNewClick">
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "Send"))</span>

                                    </DxButton>
                                    <DxButton Text="No" CssClass="btn btn-purple-light px-4" Click="@OnNoSubmitNewClick" />
                                </div>
                            </div>
                        </BodyContentTemplate>
                    </DxPopup>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade xyz-in @(ShowForm?"show d-block":"")" id="DetailDialog" tabindex="-1" aria-labelledby="DetailDialog2Label" aria-hidden="true" style="z-index:1049">
        <div class="modal-dialog modal-fullscreen" style="z-index:1049;">
            <div class="modal-content" xyz="fade up-25% perspective-2 stagger">
                <div class="modal-header xyz-nested py-1" xyz="up-100% in-delay-3">
                    <h1 class="modal-title fs-5 fw-black">جزئیات</h1>
                    <button type="button" class="btn" @onclick="()=>ShowForm=false">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="detailArea">
                        @*
            @if (Id != null)
            {
            <h3>Row Id: @Id </h3>
            }

            <div>
            برای ایجاد هم از همین اصتفاده میشه
            باید وقتی داخل گرید سطری انتخاب شد برای ویرایش
            ارسال بشه به این فرم
            فرم وقتی ویرایش کرد داده رو به ORM ارسال کنه برای ذخیره داده
            و موجودیت بروز شده رو برگردونه که گرید هم بروز کنه داده رو
            ***تغیراتی داخل فرم پاین نیاز هست اعمال شود
            </div> *@

                        <Form_1020_CU @ref="RefForm" IndependentForm=false _CartablesParameters="_CartablesParameters" _RequestParameters="_RequestParameters"></Form_1020_CU>
                        <div class="mt-3">

                            @if (DtComponent is not null && DtComponent.AccessEdit)
                            {

                                <DxButton Enabled="!isSending" id="btn_listi_Save" CssClass="btn btn-sm btn-green" Click="@OnYesSubmitClick">
                                    @* تبدیل دکمه به لود  *@
                                    <DxWaitIndicator Visible="isSending" />
                                    <span class="mx-2">@((isSending ? "Sending..." : "ذخیره"))</span>

                                </DxButton>

                                <DxButton Enabled="!isSending" id="btn_listi_Save_close" CssClass="btn btn-sm btn-green" Click="@OnSubmitCloseClick">
                                    @* تبدیل دکمه به لود  *@
                                    <DxWaitIndicator Visible="isSending" />
                                    <span class="mx-2">@((isSending ? "Sending..." : "ذخیره و بستن"))</span>

                                </DxButton>
                                @if (DtComponent.AccessNew)
                                {
                                    <DxButton Enabled="!isSending" id="btn_listi_Save_New" CssClass="btn btn-sm btn-green" Click="@OnYesSubmitNewClick">
                                        @* تبدیل دکمه به لود  *@
                                        <DxWaitIndicator Visible="isSending" />
                                        <span class="mx-2">@((isSending ? "Sending..." : "ذخیره و جدید"))</span>

                                    </DxButton>
                                }
                            }
                            <button class="btn btn-sm btn-red" @onclick=SubmitCancell>انصراف</button>
                            |

                            <DxButton Text="Yes" Enabled="!isSending" id="btn_listi_Previous" CssClass="btn btn-sm btn-purple" Click="@BackRow">
                                @* تبدیل دکمه به لود  *@
                                <DxWaitIndicator Visible="isSending" />
                                <span class="bi bi-chevron-right btnicon"></span>
                                <span>@((isSending ? "wait..." : "قبلی"))</span>

                            </DxButton>
                            <DxButton Text="Yes" Enabled="!isSending" id="btn_listi_Next" CssClass="btn btn-sm btn-purple" Click="@NextRow">
                                @* تبدیل دکمه به لود  *@
                                <DxWaitIndicator Visible="isSending" />
                                <span>@((isSending ? "wait..." : "بعدی"))</span>
                                <span class="bi bi-chevron-left btnicon"></span>
                            </DxButton>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-backdrop fade @(ShowForm?"show":"")" style="z-index:1048"></div>
    </div>

</div>



@code {
    /// <summary>
    /// مقداردهی بر اساس ایندکس فعال
    /// </summary>
    protected int? _VisibleIndex { get; set; }
    //// <summary>
    /// نمایش دیالوگ ذخیره
    /// </summary>

    public bool Confirmation_Submit { get; set; } = false;
    /// <summary>
    /// نمایش دیالوگ ذخیره و فرم جدید
    /// </summary>
    public bool Confirmation_SubmitNew { get; set; } = false;
    /// <summary>
    /// کامپوننت دیتاگرید
    /// </summary>
    public View_Component DtComponent { get; set; } = new View_Component();

    //// <summary>
    /// نمایش لودینگ
    /// </summary>
    public bool isSending { get; set; } = false;
    /// <summary>
    /// رکورد جدید می باشد یا ویرایش
    /// </summary>

    public bool IsNew { get; set; }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
        //   RefListFilter = new();
    }
    protected override async Task OnInitializedAsync()
    {
        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        //     RefListFilter = new();
        await base.OnInitializedAsync();
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Yield();
            StateHasChanged();
            if (Grid_SH_Petco_InsertParts is not null)
    {
                DtComponent = (View_Component)Grid_SH_Petco_InsertParts.Attributes.GetValueOrDefault("Component");
    }

            //JSO = await JS.InvokeAsync<IJSObjectReference>("import", "./js/FormFunctions.js?ver=1.2");

            /*             var ResultConvert = await Forms.Domain.Utility.ConvertParameter.ConvertParametersToDaunamic(RequestParameters, CartablesParameters);
            _RequestParameters = ResultConvert._RequestParameters;
            _CartablesParameters = ResultConvert._CartablesParameters; */

            /*    RefForm.CartablesParameters = CartablesParameters;
            RefForm.RequestParameters = RequestParameters; */

            await InvokeAsync(StateHasChanged);
            await Task.Yield();
            QueryFilter = new QueryBuilderFilterRule();
            if ("{}" != "null" || "{}" != "{}")
            {
                QueryFilter = await JSON.ToObject<QueryBuilderFilterRule>("{}");

            }


            if (RefListFilter == null)
            {

                RefListFilter = new();
            }

            await InvokeAsync(StateHasChanged);
            await Task.Yield();

            RefListFilter.QueryFilter = QueryFilter;//برای این گذاشتم که فیلتر نال نره تو پکامپوننتش

            await base.BeforGetData();
            await InvokeAsync(StateHasChanged);
            await Task.Yield();

            await RefListFilter.SearchFilter();
            await base.AfterGetData();
            //ست کردن شماره صفحه به گرید
            await SetPageIndex(0);

            //          if (Grid_SH_Petco_InsertParts.GetDataItem(0) != null)
            //  {
            //              await ShowFormCU(Grid_SH_Petco_InsertParts.GetDataItem(0));
            //  }
        }

        await base.OnAfterRenderAsync(firstRender);
    }


    public async Task SearchFilter(QueryBuilderFilterRule? Filter)
    {

        SearchQueryFilter = Filter;

        //ریست پیج بندی
        if (PageReset)
            PageIndex = 0;
        //
        //فیلتر ارسال بشه برای ORM
        //لیست ردیافتی بایند بشه تو لیست ListData
        await LoadData();
        PageReset = true;
        StateHasChanged();
    }

    /// <summary>
    /// لود دیتا گرید
    /// </summary>
    /// <returns></returns>
    public async Task LoadData()
    {

        //string Url = "https://bayaorm.workcv.ir/fa/api/v1/SH_Petco_InsertParts/GetList";
        //string Url = "https://testorm.workcv.ir/fa/api/v1/SH_Petco_InsertParts/GetList";
        // string Url = "https://bayaorm.workcv.ir/fa/api/v1/SH_Petco_InsertParts/GetList";

        int skip = (PageIndex * PageSize);

        var pagedResult = new PagedResult();

        pagedResult.PageSize = PageSize;

        pagedResult.PageNumber = skip;
        await FillTableGet();

        var R = await ApiServer.External.Services.Data.GetListPost(TableGet, SearchQueryFilter, pagedResult, "SH_Petco_InsertParts");


        if (R is not null)
        {//اگه داده گرفته 
            if (R.Status == System.Net.HttpStatusCode.OK)
            {


                var page = await Utility.JSON.ToObject<PagedResult>(R.Content?.ToString());

                if (page?.Items != null)
                {
                    // مستقیم به لیست مدل تبدیل کن
                    _Entity = await Utility.JSON.ToObject<List<Entity.SH_Petco_InsertParts>>(
               await Utility.JSON.ToJson(page.Items)
                    );


                }
                if (page?.PagesCount != null)
                {
                    PageCount = page.PagesCount;
                }
      
                //  _Entity = (await Utility.JSON.ToObject<List<Entity.SH_Petco_InsertParts>>(R.Content?.ToString()));
            }
            else
            {
                Console.WriteLine("#Log LoadData Error:");
              //  Console.WriteLine(R.Status);
                Console.WriteLine(R.Content);
                Console.WriteLine(R.Message);
            }
          
            //await OnFormloaded.InvokeAsync(Result);
        }
        
    }

    /// <summary>
    /// تابع پیج بندی
    /// </summary>
    /// <param name="Index"></param>
    /// <returns></returns>
    public async Task PageIndexChanged(int Index)
    {
        await SetPageIndex(Index);

        await LoadData();
    }


    /// <summary>
    /// دریافت داده فرم سمت راست CU
    /// </summary>
    /// <param name="Id"></param>
    /// <returns></returns>
    public async Task GetDataForm(object Id)
    {
        ShowForm = true;
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = PrimaryFieldName,
                        Id = PrimaryFieldName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        RefForm.QueryFilter = NewQuery;
        await RefForm.GetData();
        StateHasChanged();
    }
    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }
    /// <summary>
    /// سامبیت فرم
    /// </summary>
    /// <returns></returns>
    public async Task Submit()
    {
        Confirmation_Submit = true;
        // var R = await RefForm.Submit();

        // if (R.Status != System.Net.HttpStatusCode.OK)
        // {
        //     toastService.ShowError("ذخیره سازی دچار خطا شد");
        // }
    }
    /// <summary>
    /// تایید ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnYesSubmitClick()
    {
        PageReset = false;
        await RefForm.Submit();
        await RefListFilter.SearchFilter();
        var PageIndex = Grid_SH_Petco_InsertParts.PageIndex;
    //اگر جدید بود برو بر روی خود رکورد جدید
  // if (IsNew)
  //     {
  //         if (_VisibleIndex == (Grid_SH_Petco_InsertParts.GetVisibleRowCount() - 1))
  // {
  //             PageIndex = PageIndex + 1;
  //             _VisibleIndex = 0;
  //         }
  //         else
  //         {
  //             _VisibleIndex = _VisibleIndex.Value + 1;
  //         }
  //
  //     }
  //     await SelectRecord(PageIndex, _VisibleIndex.Value);
    }

    /// <summary>
    /// ذخیره و بستن فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnSubmitCloseClick()
    {
        PageReset = false;
        await SubmitAndRefreshData();
        ShowForm = false;
        await InvokeAsync(StateHasChanged);
    }

    /// <summary>
    /// تایید ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnYesSubmitNewClick()
    {
        PageReset = false;
        await SubmitAndRefreshData();
        StartEditNewRowAsync_Grid_SH_Petco_InsertParts();
    }

    public async Task SubmitAndRefreshData()
    {
        isSending = true;
        await RefForm.Submit();
        await RefListFilter.SearchFilter();
        await InvokeAsync(StateHasChanged);
        Confirmation_SubmitNew = false;
        isSending = false;
    }

    /// <summary>
    /// انصراف ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnNoSubmitClick()
    {
        Confirmation_Submit = false;
    }

    //// <summary>
    /// فعال شدن دیالوگ ذخیره و فرم جدید
    /// </summary>
    /// <returns></returns>
    public async Task SubmitNew()
    {
        Confirmation_SubmitNew = true;
    }


    /// <summary>
    /// انصراف ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task OnNoSubmitNewClick()
    {
        Confirmation_Submit = false;
    }

    /// <summary>
    /// انصراف از ذخیره فرم
    /// </summary>
    /// <returns></returns>
    public async Task SubmitCancell()
    {
       // await GetDataForm(null);
        ShowForm = false;
        PageReset = false;
        await RefListFilter.SearchFilter();
    }
    /// <summary>
    /// رکورد بعدی
    /// </summary>
    /// <returns></returns>
    public async Task NextRow()
    {


        if (_VisibleIndex is null)
        {
            _VisibleIndex = 0;
        }
        else if (_VisibleIndex == (Grid_SH_Petco_InsertParts.GetVisibleRowCount() - 1))
    {
            if (PageIndex < DxPager.PageCount)
            {
                PageIndex = PageIndex + 1;
            }
            else
            {
                PageIndex = 0;
            }
            _VisibleIndex = 0;
        }
        else
        {
            _VisibleIndex = _VisibleIndex.Value + 1;
        }
        await SelectRecord(PageIndex, _VisibleIndex.Value);

    }
    /// <summary>
    /// رکورد قبلی
    /// </summary>
    /// <returns></returns>
    public async Task BackRow()
    {
        if (_VisibleIndex is null)
        {
            _VisibleIndex = 0;
        }
        if (_VisibleIndex == 0)
        {
            if (PageIndex > 0)
            {
                PageIndex = PageIndex - 1;
                _VisibleIndex = Grid_SH_Petco_InsertParts.PageSize - 1;
    }
        }
        else
        {

            _VisibleIndex = _VisibleIndex.Value - 1;
        }
        await SelectRecord(PageIndex, _VisibleIndex.Value);
    }

    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }


    /// <summary>
    /// نمایش دادن فرم CU برای ویرایش و ضافه کردن رکورد
    /// </summary>
    /// <param name="e"></param>
    // public async Task ShowFormCU(GridCustomizeEditModelEventArgs e)
    // {
    //     Guid Id = Guid.Empty;
    //     if (!e.IsNew)
    //     {
    //         var newRow = (Entity.SH_Petco_InsertParts)e.EditModel;
    //         Id = newRow.Id;
    //     }
    //     await GetDataForm(Id);
    // }

    /// <summary>
    /// نمایش دادن فرم CU برای ویرایش و ضافه کردن رکورد
    /// </summary>
    /// <param name="e"></param>
    public async Task ShowFormCU(object e)
    {
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        object Id = null;
        Type type = null;
        ShowForm = true;
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        if (!IsNew)
        {
            var newRow = (Entity.SH_Petco_InsertParts)e;
    Id = newRow._Id;
            await InvokeAsync(StateHasChanged);
            await Task.Yield();
        }
        else
        {
            var newRow = new Entity.SH_Petco_InsertParts();
    Id = newRow._Id;
        }
        await InvokeAsync(StateHasChanged);
        await Task.Yield();
        await GetDataForm(Id);
    }
    /// <summary>
    /// خاموش کردن فوکوس گرید
    /// </summary>
    /// <returns></returns>
    public async Task setFocusOff()
    {
        //اگر فوکوس روشن بود خاموشش کن
        if (Grid_SH_Petco_InsertParts.FocusedRowEnabled)
    {
            //به علت یروزرسانی دیتاگرید و اینکه فوکوس باید مقدار اولیه داده شود از خط زیر استفاده می شود
            Grid_SH_Petco_InsertParts.BeginUpdate();
    Grid_SH_Petco_InsertParts.FocusedRowEnabled = false;
    Grid_SH_Petco_InsertParts.EndUpdate();
    }

    }
    /// <summary>
    /// فعال کردن فوکوس گرید
    /// </summary>
    /// <returns></returns>
    public async Task setFocusOn()
    {
        if (!Grid_SH_Petco_InsertParts.FocusedRowEnabled)
    {
            Grid_SH_Petco_InsertParts.BeginUpdate();
    Grid_SH_Petco_InsertParts.FocusedRowEnabled = true;

    Grid_SH_Petco_InsertParts.EndUpdate();
    }

    }

    public async Task SelectRecord(int PageIndex, int __VisibleIndex)
    {

        isSending = true;
        await setFocusOn();
        PageIndexChanged(PageIndex);
        await ShowFormCU(Grid_SH_Petco_InsertParts.GetDataItem(__VisibleIndex));
    DxPager.ActivePageIndex = PageIndex;
        Grid_SH_Petco_InsertParts.BeginUpdate();
    Grid_SH_Petco_InsertParts.PageIndex = PageIndex;
    Grid_SH_Petco_InsertParts.EndUpdate();
    Grid_SH_Petco_InsertParts.SetFocusedRowIndex(__VisibleIndex);

    isSending = false;
    }

    public async Task SetPageIndex(int Index)
    {
        PageIndex = Index;
        Grid_SH_Petco_InsertParts.BeginUpdate();
    Grid_SH_Petco_InsertParts.PageIndex = Index;
    Grid_SH_Petco_InsertParts.EndUpdate();
    }
    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostDataDelete(Entity.SH_Petco_InsertParts _entity)
    {
        string Data = await Utility.JSON.ToJson(_entity);

        var TablePost = new Table();
        TablePost.Name = "SH_Petco_InsertParts";
        TablePost.Column = new List<Coulmn>
                    {
                    new Coulmn {Name=_entity._GetIdName  , NameAs= _entity._GetIdName},
                    new Coulmn {Name ="IsDelete",NameAs="IsDelete" }

                    };
        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, null, _User.UserID.ToString());
        if (Model?.Status == HttpStatusCode.OK)
        {
            IsOk = true;
        }

        return IsOk;
    }
}
