@inherits Forms.Forms.Form_826Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    .DisableParameterField input {
    color: black !important;
    background-color: lightgray !important;
    opacity: 1;
    margin-top: 0.3vh;
    font-size: 0.8rem;
    text-align: center;
}

.WidthAuto input {
    width: auto !important;
}

.Width6rem input {
    width: 6rem !important;
}

.Width8rem input {
    width: 8rem !important;
}

.Width10rem input {
    width: 10rem !important;
}

.Width12rem input {
    width: 12rem !important;
}

.InputDanger input {
    background-color: crimson !important;
}

.htm_Header {
    display: flex;
}
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="row ">
    
<div class="col-md-3">
    <div  class="d-flex text-center pt-3 fs-4 text-black  justify-content-right">
    <div style="">
    <picture>
      <img src="https://File.workcv.ir/fa/api/v1/File/Get?FileID=a18190d9-4b1c-45e3-db13-08dc25546b46" class="" alt="لوگو پتکو" width="230px;">
    </picture>
</div>
</div>

</div>

<div class="col-md-6">
    <div  class="">
    <div class="fs-3 fw-black rounded p-3 text-center ">
   درخواست واگذاری جنس از انبار
</div>
</div>

</div>

<div class="col-md-3">
    <div  class="">
    <div class="d-flex text-center my-2 py-2 fs-5 text-black bg-secondary-subtle justify-content-center opacity-50 rounded rounded-1" style="">
    <span>
      کد فرم: FPL02600
    </span>
</div>
</div>

</div>

</div>

<div class="row ">
    
<div class="col-md-6">
    
<div class="row card flex-row pb-2 m-1 border-0 bg-lightgreen ">
    
<div class="col-md-12">
    <div  class="">
    <div class="card-header text-white fw-black fs-6 border-0" style="background:#336353">

      کاربر درخواست دهنده

</div>
</div>

</div>

<div class="col-md-3">
    
<Input Id="SystemUser" @ref="Ref_SystemUser"   CssClass="  " Disabled=true  @bind-Value="_Entity.SystemUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="UserCompanyName" @ref="Ref_UserCompanyName"   CssClass="  " Disabled=true  @bind-Value="_Entity.UserCompanyName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="SystemUnitUser" @ref="Ref_SystemUnitUser"   CssClass="  " Disabled=true  @bind-Value="_Entity.SystemUnitUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="SystemSectionUser" @ref="Ref_SystemSectionUser"   CssClass="  " Disabled=true  @bind-Value="_Entity.SystemSectionUser" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

</div>

<div class="col-md-6">
    
</div>

</div>

<DxGrid @ref="Grid_SCMPETCO_ProductRequestDetails" Data="_Entity.SCMPETCO_ProductRequestDetails" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSCMPETCO_ProductRequestDetails"
        DataItemDeleting="OnDataItemDeletingSCMPETCO_ProductRequestDetails"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزییات درخواست کالا"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SCMPETCO_ProductRequestDetails"
        CustomizeElement="CustomizeRowsGrid_SCMPETCO_ProductRequestDetails" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":200,\"FieldId\":200,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"SCMPETCO_ProductRequestDetails\",\"GridMainModel\":\"SCMPETCO_ProductRequestDetails\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزییات درخواست کالا\",\"tableView\":true,\"key\":\"GridSCMPETCO_ProductRequestId_200\",\"type\":\"datagrid\",\"input\":true,\"hideLabel\":true,\"modalEdit\":true,\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":false,\"AccessEdit\":true,\"AccessNew\":false,\"editmodelsaving\":\"SCMPETCO_ProductRequestDetails_editmodelsaving\",\"afterrendermodal\":\"SCMPETCO_ProductRequestDetails_afterrendermodal\"}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SCMPETCO_ProductRequestDetails_GridSCMPETCO_ProductRequestId_200ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SCMPETCO_ProductRequestDetails(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="نام کالا شماران"  FieldName="ProductNameText" />

<DxGridDataColumn  Caption="کد کالا شماران"  FieldName="ProductCodeText" />

<DxGridDataColumn  Caption="واحد کالا شماران"  FieldName="ProductUnitText" />

<DxGridDataColumn DisplayFormat="G" Caption="موجودی کالا شماران"  FieldName="ProductInventoryText" />

<DxGridDataColumn Context="SCMPETCO_PriorityId_" Caption="اولویت" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCMPETCO_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":200,\"FieldId\":2178,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":826,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCMPETCO_Priority\",\"RelationParentModel\":\"SCMPETCO_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_Priority/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.PriorityTitle}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":true,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"SCMPETCO_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-3\",\"FieldUrl\":\"2178?EId=200&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCMPETCO_PriorityId = ((Entity.SCMPETCO_ProductRequestDetails)SCMPETCO_PriorityId_.DataItem).SCMPETCO_PriorityId;
}

<Dropdown ExternalApi=false CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" NotMapped=false TextGrid=true Value="@RowSCMPETCO_PriorityId"   FieldName="SCMPETCO_PriorityId" OnItemSelected="ItemSelected_SCMPETCO_ProductRequestDetailsSCMPETCO_PriorityId_Header" Component="HeaderSCMPETCO_PriorityId">
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_ProductRequestDetailsSCMPETCO_PriorityId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCMPETCO_PriorityId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="محل مصرف کالا"  FieldName="PlaceOfUseProduct" />

<DxGridDataColumn DisplayFormat="G" Caption="تعداد یا مقدار درخواستی"  FieldName="ProductRequestingQTY" />

<DxGridDataColumn  Caption="توضیحات درخواست کننده"  FieldName="ProductRowDescription" />

<DxGridDataColumn Context="html_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <hr class="hrdash">
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn DisplayFormat="G" Caption="تعداد یا مقدار واگذاری کالا"  FieldName="NumberofProductDelivery" />

<DxGridDataColumn  Caption="توضیحات انباردار"  FieldName="DescriptionWarehouseKeeper" />

<DxGridDataColumn Context="html1_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <hr class="hrdash">
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn DisplayFormat="0" Caption="کد تحویل کالا"  FieldName="DeliveryCode" />

<DxGridDataColumn  Caption="تاریخ ثبت کد تحویل کالا"  FieldName="DateTimeDeliveryCode" />

<DxGridDataColumn Context="html3_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <div id="resid_header" class="rounded rounded-1 border border-0 fs-5 fw-black bg-lightpurple p-2 ">
  <span class='fal fa-cart-arrow-down text-success' style='font-size:20px'></span>
  <span class="text-success">ثبت حواله مصرف کالا شماران</span>
</div>

</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="T_Search_NotMapped_" Caption="جستجو عطف حواله مصرف" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderT_Search_NotMapped = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":200,\"FieldId\":14498,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":826,\"NotMapped\":true,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/vw_Havale/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"CENTCODE_GUID\",\"template\":\"<span>{{item.TempNoNum}} </span>\",\"FieldsTemplate\":[{\"key\":\"TempNoNum\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"TempNoNum\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\"جستجو عطف حواله مصرف\",\"tableView\":true,\"key\":\"T_Search_NotMapped\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-6\",\"FieldUrl\":\"14498?EId=200&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"T_Search_NotMapped_onitemselected\"}").Result;
    var RowT_Search_NotMapped = ((Entity.SCMPETCO_ProductRequestDetails)T_Search_NotMapped_.DataItem).T_Search_NotMapped;
}

<Dropdown ExternalApi=true CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6" NotMapped=true TextGrid=true Value="@RowT_Search_NotMapped"   FieldName="T_Search_NotMapped" OnItemSelected="ItemSelected_SCMPETCO_ProductRequestDetailsT_Search_NotMapped_Header" Component="HeaderT_Search_NotMapped">
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_ProductRequestDetailsT_Search_NotMapped_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   T_Search_NotMapped

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="html6_" Caption="HTML" >
    <CellDisplayTemplate>
      <div  class="">
    
</div>

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="شماره درخواست تحویل کالا شماران	"  FieldName="T_FACTNO" />

<DxGridDataColumn  Caption="عطف تحویل کالا شماران"  FieldName="T_TEMPNO" />

<DxGridDataColumn DisplayFormat="0" Caption="شماره عطف تحویل کالا شماران"  FieldName="T_TempNoNum" />

<DxGridDataColumn  Caption="کد مرکز هزینه سیستمی شماران"  FieldName="T_CENTCODE" />

<DxGridDataColumn  Caption="مرکز هزینه تحویل کالا شماران"  FieldName="T_PAYCENTName" />

<DxGridDataColumn  Caption="کاربر سیستمی تحویل کالا شماران"  FieldName="T_CREATOR" />

<DxGridDataColumn  Caption="تاریخ ثبت تحویل کالا شماران"  FieldName="T_FACTDATE" />

<DxGridDataColumn  Caption="کد شماره مرکز هزینه شماران"  FieldName="T_CENTCODE_GUID" />

<DxGridDataColumn  Caption="کد شماره درخواست تحویل کالا شماران"  FieldName="T_FACTNO_GUID" />

<DxGridDataColumn DisplayFormat="0" Caption="سال مالی تحویل کالا شماران"  FieldName="T_YEAR" />

<DxGridDataColumn Context="SH_Tahvil_DTL_" Caption="نمایش داده های تحویل کالا شماران " >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSH_Tahvil_DTL = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":200,\"FieldId\":14359,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":826,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/vw_HavaleDTL/GetList?FACTNO_GUID={{data.T_FACTNO_GUID}}\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DataGrid\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO_GUID\",\"template\":\"<span>{{item.DESC}} {{item.UNIT}} {{item.PARTNO}} {{item.FACTNO}} {{item.AMOUNT}} </span>\",\"FieldsTemplate\":[{\"key\":\"DESC\",\"value\":\"int\"},{\"key\":\"UNIT\",\"value\":\"int\"},{\"key\":\"PARTNO\",\"value\":\"int\"},{\"key\":\"FACTNO\",\"value\":\"int\"},{\"key\":\"AMOUNT\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"SCMPETCO_ProductRequestDetails.FACTNO_GUID\",\"clearOnRefresh\":true,\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\"نمایش داده های تحویل کالا شماران \",\"tableView\":true,\"key\":\"SH_Tahvil_DTL\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-12\",\"FieldUrl\":\"14359?EId=200&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSH_Tahvil_DTL = ((Entity.SCMPETCO_ProductRequestDetails)SH_Tahvil_DTL_.DataItem).SH_Tahvil_DTL;
}

<Dropdown ExternalApi=true CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-12" NotMapped=false TextGrid=true Value="@RowSH_Tahvil_DTL"   FieldName="SH_Tahvil_DTL" OnItemSelected="ItemSelected_SCMPETCO_ProductRequestDetailsSH_Tahvil_DTL_Header" Component="HeaderSH_Tahvil_DTL">
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_ProductRequestDetailsSH_Tahvil_DTL_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SH_Tahvil_DTL

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />


</Columns>

    <EditFormTemplate Context="EditFormContextSCMPETCO_ProductRequestDetails">
    @{
        SCMPETCO_ProductRequestDetails  = (Entity.SCMPETCO_ProductRequestDetails)EditFormContextSCMPETCO_ProductRequestDetails.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_ProductNameText" @ref="Ref_SCMPETCO_ProductRequestDetails_ProductNameText" Label="نام کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.ProductNameText" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_ProductCodeText" @ref="Ref_SCMPETCO_ProductRequestDetails_ProductCodeText" Label="کد کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.ProductCodeText" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_ProductUnitText" @ref="Ref_SCMPETCO_ProductRequestDetails_ProductUnitText" Label="واحد کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.ProductUnitText" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_ProductInventoryText" @ref="Ref_SCMPETCO_ProductRequestDetails_ProductInventoryText" Label="موجودی کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.ProductInventoryText" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_ProductRequestDetailsSCMPETCO_PriorityId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":200,\"FieldId\":2178,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":826,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"SCMPETCO_Priority\",\"RelationParentModel\":\"SCMPETCO_Priority\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_Priority/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.PriorityTitle}} </span>\",\"FieldsTemplate\":[],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":true,\"modal\":true,\"label\":\"اولویت\",\"tableView\":true,\"key\":\"SCMPETCO_PriorityId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-3\",\"FieldUrl\":\"2178?EId=200&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMPETCO_ProductRequestDetails_SCMPETCO_PriorityId Disabled=true @ref="Ref_SCMPETCO_ProductRequestDetails_SCMPETCO_PriorityId" Label="اولویت" CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3"  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@SCMPETCO_ProductRequestDetails.SCMPETCO_PriorityId" FieldName="SCMPETCO_PriorityId" OnItemSelected="ItemSelected_SCMPETCO_ProductRequestDetailsSCMPETCO_PriorityId" Component="Component_SCMPETCO_ProductRequestDetailsSCMPETCO_PriorityId" _Entity="_Entity" _EntityRow=SCMPETCO_ProductRequestDetails>
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_ProductRequestDetailsSCMPETCO_PriorityId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMPETCO_ProductRequestDetails;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.SCMPETCO_PriorityId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.SCMPETCO_PriorityId =EntityHelper.SetPropertyNull(Item.SCMPETCO_PriorityId);
 }
 Item.SCMPETCO_Priority = await Utility.JSON.ToObject<Entity.SCMPETCO_Priority>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_PlaceOfUseProduct" @ref="Ref_SCMPETCO_ProductRequestDetails_PlaceOfUseProduct" Label="محل مصرف کالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.PlaceOfUseProduct" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_ProductRequestingQTY" @ref="Ref_SCMPETCO_ProductRequestDetails_ProductRequestingQTY" Label="تعداد یا مقدار درخواستی"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.ProductRequestingQTY" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_ProductRowDescription" @ref="Ref_SCMPETCO_ProductRequestDetails_ProductRowDescription" Label="توضیحات درخواست کننده"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-12" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.ProductRowDescription" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <hr class="hrdash">
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_NumberofProductDelivery" @ref="Ref_SCMPETCO_ProductRequestDetails_NumberofProductDelivery" Label="تعداد یا مقدار واگذاری کالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.NumberofProductDelivery" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_DescriptionWarehouseKeeper" @ref="Ref_SCMPETCO_ProductRequestDetails_DescriptionWarehouseKeeper" Label="توضیحات انباردار"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-9" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.DescriptionWarehouseKeeper" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <hr class="hrdash">
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_DeliveryCode" @ref="Ref_SCMPETCO_ProductRequestDetails_DeliveryCode" Label="کد تحویل کالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.DeliveryCode" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_DateTimeDeliveryCode" @ref="Ref_SCMPETCO_ProductRequestDetails_DateTimeDeliveryCode" Label="تاریخ ثبت کد تحویل کالا"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3  PersianDatePicker" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.DateTimeDeliveryCode" type="textfield"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    <div  class="Gcol-sm-8 Gcol-md-6 Gcol-lg-12">
    <div id="resid_header" class="rounded rounded-1 border border-0 fs-5 fw-black bg-lightpurple p-2 ">
  <span class='fal fa-cart-arrow-down text-success' style='font-size:20px'></span>
  <span class="text-success">ثبت حواله مصرف کالا شماران</span>
</div>

</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_ProductRequestDetailsT_Search_NotMapped = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":200,\"FieldId\":14498,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":826,\"NotMapped\":true,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/vw_Havale/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"CENTCODE_GUID\",\"template\":\"<span>{{item.TempNoNum}} </span>\",\"FieldsTemplate\":[{\"key\":\"TempNoNum\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"TempNoNum\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\"جستجو عطف حواله مصرف\",\"tableView\":true,\"key\":\"T_Search_NotMapped\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-6\",\"FieldUrl\":\"14498?EId=200&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"T_Search_NotMapped_onitemselected\"}").Result;
}

    <Dropdown Id=SCMPETCO_ProductRequestDetails_T_Search_NotMapped  @ref="Ref_SCMPETCO_ProductRequestDetails_T_Search_NotMapped" Label="جستجو عطف حواله مصرف" CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-6"  DisplayFormat="DropDown" ExternalApi=true NotMapped=true TextGrid=false   FieldName="T_Search_NotMapped" OnItemSelected="ItemSelected_SCMPETCO_ProductRequestDetailsT_Search_NotMapped" Component="Component_SCMPETCO_ProductRequestDetailsT_Search_NotMapped" _Entity="_Entity" _EntityRow=SCMPETCO_ProductRequestDetails>
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_ProductRequestDetailsT_Search_NotMapped(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMPETCO_ProductRequestDetails;

    

    

    await T_Search_NotMapped_onitemselected( Selected , SCMPETCO_ProductRequestDetails);
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    <div  class="">
    
</div>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_T_FACTNO" @ref="Ref_SCMPETCO_ProductRequestDetails_T_FACTNO" Label="شماره درخواست تحویل کالا شماران	"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.T_FACTNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_T_TEMPNO" @ref="Ref_SCMPETCO_ProductRequestDetails_T_TEMPNO" Label="عطف تحویل کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.T_TEMPNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_T_TempNoNum" @ref="Ref_SCMPETCO_ProductRequestDetails_T_TempNoNum" Label="شماره عطف تحویل کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.T_TempNoNum" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_T_CENTCODE" @ref="Ref_SCMPETCO_ProductRequestDetails_T_CENTCODE" Label="کد مرکز هزینه سیستمی شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.T_CENTCODE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_T_PAYCENTName" @ref="Ref_SCMPETCO_ProductRequestDetails_T_PAYCENTName" Label="مرکز هزینه تحویل کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.T_PAYCENTName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_T_CREATOR" @ref="Ref_SCMPETCO_ProductRequestDetails_T_CREATOR" Label="کاربر سیستمی تحویل کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.T_CREATOR" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_T_FACTDATE" @ref="Ref_SCMPETCO_ProductRequestDetails_T_FACTDATE" Label="تاریخ ثبت تحویل کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.T_FACTDATE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_T_CENTCODE_GUID" @ref="Ref_SCMPETCO_ProductRequestDetails_T_CENTCODE_GUID" Label="کد شماره مرکز هزینه شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.T_CENTCODE_GUID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_T_FACTNO_GUID" @ref="Ref_SCMPETCO_ProductRequestDetails_T_FACTNO_GUID" Label="کد شماره درخواست تحویل کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.T_FACTNO_GUID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_T_YEAR" @ref="Ref_SCMPETCO_ProductRequestDetails_T_YEAR" Label="سال مالی تحویل کالا شماران"  CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-3" Disabled=true  @bind-Value="SCMPETCO_ProductRequestDetails.T_YEAR" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_ProductRequestDetailsSH_Tahvil_DTL = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":200,\"FieldId\":14359,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":826,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaranpetcoorm.workcv.ir/fa-ir/api/v1/vw_HavaleDTL/GetList?FACTNO_GUID={{data.T_FACTNO_GUID}}\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DataGrid\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"FACTNO_GUID\",\"template\":\"<span>{{item.DESC}} {{item.UNIT}} {{item.PARTNO}} {{item.FACTNO}} {{item.AMOUNT}} </span>\",\"FieldsTemplate\":[{\"key\":\"DESC\",\"value\":\"int\"},{\"key\":\"UNIT\",\"value\":\"int\"},{\"key\":\"PARTNO\",\"value\":\"int\"},{\"key\":\"FACTNO\",\"value\":\"int\"},{\"key\":\"AMOUNT\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"SCMPETCO_ProductRequestDetails.FACTNO_GUID\",\"clearOnRefresh\":true,\"disableLimit\":false,\"noRefreshOnScroll\":false,\"modal\":true,\"label\":\"نمایش داده های تحویل کالا شماران \",\"tableView\":true,\"key\":\"SH_Tahvil_DTL\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"customClass\":\"Gcol-sm-8 Gcol-md-6 Gcol-lg-12\",\"FieldUrl\":\"14359?EId=200&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMPETCO_ProductRequestDetails_SH_Tahvil_DTL  @ref="Ref_SCMPETCO_ProductRequestDetails_SH_Tahvil_DTL" Label="نمایش داده های تحویل کالا شماران " CssClass="Gcol-sm-8 Gcol-md-6 Gcol-lg-12"  DisplayFormat="DataGrid" ExternalApi=true NotMapped=false TextGrid=false  Value="@SCMPETCO_ProductRequestDetails.SH_Tahvil_DTL" FieldName="SH_Tahvil_DTL" OnItemSelected="ItemSelected_SCMPETCO_ProductRequestDetailsSH_Tahvil_DTL" Component="Component_SCMPETCO_ProductRequestDetailsSH_Tahvil_DTL" _Entity="_Entity" _EntityRow=SCMPETCO_ProductRequestDetails>
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_ProductRequestDetailsSH_Tahvil_DTL(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMPETCO_ProductRequestDetails;

    Item.SH_Tahvil_DTL = Selected.FACTNO_GUID;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_Id" @ref="Ref_SCMPETCO_ProductRequestDetails_Id"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="SCMPETCO_ProductRequestDetails.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_RequestID" @ref="Ref_SCMPETCO_ProductRequestDetails_RequestID"   CssClass="                                        "   @bind-Value="SCMPETCO_ProductRequestDetails.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_CreateUser" @ref="Ref_SCMPETCO_ProductRequestDetails_CreateUser"   CssClass="                                        "   @bind-Value="SCMPETCO_ProductRequestDetails.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_UpdateUser" @ref="Ref_SCMPETCO_ProductRequestDetails_UpdateUser"   CssClass="                                        "   @bind-Value="SCMPETCO_ProductRequestDetails.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_CreateDate" @ref="Ref_SCMPETCO_ProductRequestDetails_CreateDate"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="SCMPETCO_ProductRequestDetails.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_UpdateDate" @ref="Ref_SCMPETCO_ProductRequestDetails_UpdateDate"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="SCMPETCO_ProductRequestDetails.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_ProductRequestDetails">
    
<Input Id="SCMPETCO_ProductRequestDetails_IsDelete" @ref="Ref_SCMPETCO_ProductRequestDetails_IsDelete"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="SCMPETCO_ProductRequestDetails.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSCMPETCO_ProductRequestDetails" CssClass="btn-modal-custom">
            <DxButton Id="SCMPETCO_ProductRequestDetails_GridSCMPETCO_ProductRequestId_200ButtonSave" Click="@(() => SaveModalGrid_SCMPETCO_ProductRequestDetails(EditFormContextSCMPETCO_ProductRequestDetails))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            

            <DxButton Id="SCMPETCO_ProductRequestDetails_GridSCMPETCO_ProductRequestId_200ButtonCancel" Click="@(() => Grid_SCMPETCO_ProductRequestDetails.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SCMPETCO_ProductRequestDetails_GridSCMPETCO_ProductRequestId_200ButtonBefore" Click="@(() => Dialog_Grid_SCMPETCO_ProductRequestDetails(0,IndexGrid_SCMPETCO_ProductRequestDetails,EditFormContextSCMPETCO_ProductRequestDetails))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SCMPETCO_ProductRequestDetails_GridSCMPETCO_ProductRequestId_200ButtonNext" Click="@(() => Dialog_Grid_SCMPETCO_ProductRequestDetails(1,IndexGrid_SCMPETCO_ProductRequestDetails,EditFormContextSCMPETCO_ProductRequestDetails))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSCMPETCO_ProductRequestDetails" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SCMPETCO_ProductRequestDetails" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SCMPETCO_ProductRequestDetails" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSCMPETCO_ProductRequestDetails" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSCMPETCO_ProductRequestDetails" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSCMPETCO_ProductRequestDetails" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SCMPETCO_ProductRequestDetails;
    Entity.SCMPETCO_ProductRequestDetails SCMPETCO_ProductRequestDetails;
    bool ConfirmationShownSCMPETCO_ProductRequestDetails { get; set; } = false;
    public Entity.SCMPETCO_ProductRequestDetails SelectedItemGrid_SCMPETCO_ProductRequestDetails { get; set; } = new Entity.SCMPETCO_ProductRequestDetails();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SCMPETCO_ProductRequestDetails { get; set; }

    ///////////////////////
    bool ConfirmationSCMPETCO_ProductRequestDetails { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSCMPETCO_ProductRequestDetails { get; set; }
    public int OpenDialogCodeSCMPETCO_ProductRequestDetails { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSCMPETCO_ProductRequestDetails(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       NotValid = await SCMPETCO_ProductRequestDetails_editmodelsaving(e);
        
      if (!NotValid)
     {
      SaveGrid_SCMPETCO_ProductRequestDetails(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SCMPETCO_ProductRequestDetails(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSCMPETCO_ProductRequestDetails = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSCMPETCO_ProductRequestDetails = e;
    ConfirmationSCMPETCO_ProductRequestDetails = true;
    }
    else
    {
    await OnNoButtonSCMPETCO_ProductRequestDetails();
    }
}
async Task OnYesButtonSCMPETCO_ProductRequestDetails()
{

    ConfirmationSCMPETCO_ProductRequestDetails = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSCMPETCO_ProductRequestDetails.EditModel;
         //events
         NotValid = await SCMPETCO_ProductRequestDetails_editmodelsaving(e);

        if (!NotValid)
         {
        SaveGrid_SCMPETCO_ProductRequestDetails(_ContextFormTemplateSCMPETCO_ProductRequestDetails.DataItem, _ContextFormTemplateSCMPETCO_ProductRequestDetails.EditModel);
            await Grid_SCMPETCO_ProductRequestDetails.CancelEditAsync();
         await ChangePageGrid_SCMPETCO_ProductRequestDetails();
         await SetEditFormContextGrid_SCMPETCO_ProductRequestDetails();
         }
          
    }

}
async Task OnNoButtonSCMPETCO_ProductRequestDetails()
{
    ConfirmationSCMPETCO_ProductRequestDetails = false;
    await ChangePageGrid_SCMPETCO_ProductRequestDetails();
    await SetEditFormContextGrid_SCMPETCO_ProductRequestDetails();

}
async Task SetEditFormContextGrid_SCMPETCO_ProductRequestDetails()
{
    var e = (Entity.SCMPETCO_ProductRequestDetails)Grid_SCMPETCO_ProductRequestDetails.GetDataItem(IndexGrid_SCMPETCO_ProductRequestDetails);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SCMPETCO_ProductRequestDetails()
{
    int VisibleIndex = IndexGrid_SCMPETCO_ProductRequestDetails;
    try
    {
    if (OpenDialogCodeSCMPETCO_ProductRequestDetails == 1)
    {
        if (VisibleIndex != (Grid_SCMPETCO_ProductRequestDetails.GetVisibleRowCount() - 1))
    { 
            Grid_SCMPETCO_ProductRequestDetails.CancelEditAsync();
            IndexGrid_SCMPETCO_ProductRequestDetails = VisibleIndex + 1;
    Grid_SCMPETCO_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMPETCO_ProductRequestDetails);
    }
    }
    else if (OpenDialogCodeSCMPETCO_ProductRequestDetails == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SCMPETCO_ProductRequestDetails.CancelEditAsync();
            IndexGrid_SCMPETCO_ProductRequestDetails = VisibleIndex - 1;
    Grid_SCMPETCO_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMPETCO_ProductRequestDetails);
    }

    }
    var e = (Entity.SCMPETCO_ProductRequestDetails)Grid_SCMPETCO_ProductRequestDetails.GetDataItem(IndexGrid_SCMPETCO_ProductRequestDetails);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    await SCMPETCO_ProductRequestDetails_afterrendermodal(e);
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SCMPETCO_ProductRequestDetails()
{
    IndexGrid_SCMPETCO_ProductRequestDetails = Grid_SCMPETCO_ProductRequestDetails.GetVisibleRowCount();
Grid_SCMPETCO_ProductRequestDetails.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SCMPETCO_ProductRequestDetails();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await SCMPETCO_ProductRequestDetails_afterrendermodal(e);
}

async Task StartModalGrid_SCMPETCO_ProductRequestDetails(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SCMPETCO_ProductRequestDetails = Context.VisibleIndex;
Grid_SCMPETCO_ProductRequestDetails.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SCMPETCO_ProductRequestDetails)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await SCMPETCO_ProductRequestDetails_afterrendermodal(e);
   // await Task.Delay(500);
}
public async Task SaveModalGrid_SCMPETCO_ProductRequestDetails(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    NotValid = await SCMPETCO_ProductRequestDetails_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_SCMPETCO_ProductRequestDetails(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SCMPETCO_ProductRequestDetails(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    NotValid = await SCMPETCO_ProductRequestDetails_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_SCMPETCO_ProductRequestDetails(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SCMPETCO_ProductRequestDetails();

    }
          
    }
   
}

void PerviousPageGrid_SCMPETCO_ProductRequestDetails(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SCMPETCO_ProductRequestDetails.CancelEditAsync();
        IndexGrid_SCMPETCO_ProductRequestDetails = VisibleIndex - 1;
         Grid_SCMPETCO_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMPETCO_ProductRequestDetails);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SCMPETCO_ProductRequestDetails(int VisibleIndex)
{

    if (VisibleIndex == Grid_SCMPETCO_ProductRequestDetails.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SCMPETCO_ProductRequestDetails ");
    try
    {
Grid_SCMPETCO_ProductRequestDetails.CancelEditAsync();
        IndexGrid_SCMPETCO_ProductRequestDetails = VisibleIndex + 1;
         Grid_SCMPETCO_ProductRequestDetails.StartEditRowAsync(IndexGrid_SCMPETCO_ProductRequestDetails);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SCMPETCO_ProductRequestDetails(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SCMPETCO_ProductRequestDetails;
    var MainModel = (Entity.SCMPETCO_ProductRequestDetails)DataItem;
    if (MainModel != null)
    {
MainModel.ProductNameText = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).ProductNameText;
MainModel.ProductCodeText = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).ProductCodeText;
MainModel.ProductUnitText = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).ProductUnitText;
MainModel.ProductInventoryText = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).ProductInventoryText;
MainModel.SCMPETCO_PriorityId = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).SCMPETCO_PriorityId;
MainModel.SCMPETCO_Priority = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).SCMPETCO_Priority;
MainModel.PlaceOfUseProduct = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).PlaceOfUseProduct;
MainModel.ProductRequestingQTY = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).ProductRequestingQTY;
MainModel.ProductRowDescription = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).ProductRowDescription;
MainModel.NumberofProductDelivery = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).NumberofProductDelivery;
MainModel.DescriptionWarehouseKeeper = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).DescriptionWarehouseKeeper;
MainModel.DeliveryCode = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).DeliveryCode;
MainModel.DateTimeDeliveryCode = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).DateTimeDeliveryCode;
MainModel.T_FACTNO = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).T_FACTNO;
MainModel.T_TEMPNO = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).T_TEMPNO;
MainModel.T_TempNoNum = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).T_TempNoNum;
MainModel.T_CENTCODE = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).T_CENTCODE;
MainModel.T_PAYCENTName = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).T_PAYCENTName;
MainModel.T_CREATOR = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).T_CREATOR;
MainModel.T_FACTDATE = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).T_FACTDATE;
MainModel.T_CENTCODE_GUID = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).T_CENTCODE_GUID;
MainModel.T_FACTNO_GUID = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).T_FACTNO_GUID;
MainModel.T_YEAR = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).T_YEAR;
MainModel.SH_Tahvil_DTL = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).SH_Tahvil_DTL;
MainModel.Id = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).Id;
MainModel.RequestID = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SCMPETCO_ProductRequestDetails)EditModel).IsDelete;

    }
    else
    {
    ListEntity.Add((Entity.SCMPETCO_ProductRequestDetails)EditModel);
    }
}

async Task OnDataItemDeletingSCMPETCO_ProductRequestDetails(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SCMPETCO_ProductRequestDetails;
    ListEntity.Remove((Entity.SCMPETCO_ProductRequestDetails)e.DataItem);
}
async void OnDeleteButtonClickGrid_SCMPETCO_ProductRequestDetails (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SCMPETCO_ProductRequestDetails = (ex.DataItem as Entity.SCMPETCO_ProductRequestDetails);
    var e =SelectedItemGrid_SCMPETCO_ProductRequestDetails;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSCMPETCO_ProductRequestDetails = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SCMPETCO_ProductRequestDetails ()
{
       if (SelectedItemGrid_SCMPETCO_ProductRequestDetails != null)
    {
      if (SelectedItemGrid_SCMPETCO_ProductRequestDetails.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SCMPETCO_ProductRequestDetails;
        ListEntity.Remove((Entity.SCMPETCO_ProductRequestDetails)SelectedItemGrid_SCMPETCO_ProductRequestDetails);
     
      }
      else
      {
        var cleanModel = new Entity.SCMPETCO_ProductRequestDetails();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SCMPETCO_ProductRequestDetails).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SCMPETCO_ProductRequestDetails);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SCMPETCO_ProductRequestDetails, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SCMPETCO_ProductRequestDetails._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SCMPETCO_ProductRequestDetails;
    
    Grid_SCMPETCO_ProductRequestDetails.Reload();
    ConfirmationShownSCMPETCO_ProductRequestDetails = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SCMPETCO_ProductRequestDetails ()
{
    ConfirmationShownSCMPETCO_ProductRequestDetails = false;
}

void CustomizeRowsGrid_SCMPETCO_ProductRequestDetails(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SCMPETCO_ProductRequestDetails)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SCMPETCO_ProductRequestDetails(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SCMPETCO_ProductRequestDetails)e.EditModel;

     

    }


}
public async void RowClickGrid_SCMPETCO_ProductRequestDetails(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SCMPETCO_ProductRequestDetails(GridRowClickEventArgs e)
{

}
}

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"   CssClass="                                           "   @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"   CssClass="                                           "   @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"   CssClass="                                           "   @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMPETCO_ProductRequest\",\"GetNameAs\":\"SCMPETCO_ProductRequest\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SystemUser\",\"GetNameAs\":\"SystemUser\"},{\"Name\":\"SystemUnitUser\",\"GetNameAs\":\"SystemUnitUser\"},{\"Name\":\"SystemSectionUser\",\"GetNameAs\":\"SystemSectionUser\"},{\"Name\":\"UserCompanyName\",\"GetNameAs\":\"UserCompanyName\"}],\"Relation\":[{\"Name\":\"SCMPETCO_QCInspectionArea\",\"GetNameAs\":\"SCMPETCO_QCInspectionArea\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"SCMPETCO_ICT_Departments\",\"GetNameAs\":\"SCMPETCO_ICT_Departments\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"SCMPETCO_ProductRequestDetails\",\"GetNameAs\":\"SCMPETCO_ProductRequestDetails\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"ProductCodeText\",\"GetNameAs\":\"ProductCodeText\"},{\"Name\":\"ProductUnitText\",\"GetNameAs\":\"ProductUnitText\"},{\"Name\":\"ProductInventoryText\",\"GetNameAs\":\"ProductInventoryText\"},{\"Name\":\"ProductRequestingQTY\",\"GetNameAs\":\"ProductRequestingQTY\"},{\"Name\":\"SCMPETCO_PriorityId\",\"GetNameAs\":\"SCMPETCO_PriorityId\"},{\"Name\":\"PlaceOfUseProduct\",\"GetNameAs\":\"PlaceOfUseProduct\"},{\"Name\":\"ProductRowDescription\",\"GetNameAs\":\"ProductRowDescription\"},{\"Name\":\"ProductNameText\",\"GetNameAs\":\"ProductNameText\"},{\"Name\":\"NumberofProductDelivery\",\"GetNameAs\":\"NumberofProductDelivery\"},{\"Name\":\"DescriptionWarehouseKeeper\",\"GetNameAs\":\"DescriptionWarehouseKeeper\"},{\"Name\":\"DeliveryCode\",\"GetNameAs\":\"DeliveryCode\"},{\"Name\":\"DateTimeDeliveryCode\",\"GetNameAs\":\"DateTimeDeliveryCode\"},{\"Name\":\"T_CENTCODE\",\"GetNameAs\":\"T_CENTCODE\"},{\"Name\":\"T_CENTCODE_GUID\",\"GetNameAs\":\"T_CENTCODE_GUID\"},{\"Name\":\"T_PAYCENTName\",\"GetNameAs\":\"T_PAYCENTName\"},{\"Name\":\"T_CREATOR\",\"GetNameAs\":\"T_CREATOR\"},{\"Name\":\"T_FACTDATE\",\"GetNameAs\":\"T_FACTDATE\"},{\"Name\":\"T_FACTNO\",\"GetNameAs\":\"T_FACTNO\"},{\"Name\":\"T_FACTNO_GUID\",\"GetNameAs\":\"T_FACTNO_GUID\"},{\"Name\":\"T_TEMPNO\",\"GetNameAs\":\"T_TEMPNO\"},{\"Name\":\"T_TempNoNum\",\"GetNameAs\":\"T_TempNoNum\"},{\"Name\":\"T_YEAR\",\"GetNameAs\":\"T_YEAR\"},{\"Name\":\"SH_Tahvil_DTL\",\"GetNameAs\":\"SH_Tahvil_DTL\"}],\"Relation\":[{\"Name\":\"SCMPETCO_Priority\",\"GetNameAs\":\"SCMPETCO_Priority\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"PriorityTitle\",\"GetNameAs\":\"PriorityTitle\"},{\"Name\":\"PriorityDateTime\",\"GetNameAs\":\"PriorityDateTime\"},{\"Name\":\"PriorityDescription\",\"GetNameAs\":\"PriorityDescription\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMPETCO_ProductRequest\",\"GetNameAs\":\"SCMPETCO_ProductRequest\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SystemUser\",\"GetNameAs\":\"SystemUser\"},{\"Name\":\"SystemUnitUser\",\"GetNameAs\":\"SystemUnitUser\"},{\"Name\":\"SystemSectionUser\",\"GetNameAs\":\"SystemSectionUser\"},{\"Name\":\"UserCompanyName\",\"GetNameAs\":\"UserCompanyName\"}],\"Relation\":[{\"Name\":\"SCMPETCO_ProductRequestDetails\",\"GetNameAs\":\"SCMPETCO_ProductRequestDetails\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"ProductCodeText\",\"GetNameAs\":\"ProductCodeText\"},{\"Name\":\"ProductUnitText\",\"GetNameAs\":\"ProductUnitText\"},{\"Name\":\"ProductInventoryText\",\"GetNameAs\":\"ProductInventoryText\"},{\"Name\":\"ProductRequestingQTY\",\"GetNameAs\":\"ProductRequestingQTY\"},{\"Name\":\"SCMPETCO_PriorityId\",\"GetNameAs\":\"SCMPETCO_PriorityId\"},{\"Name\":\"PlaceOfUseProduct\",\"GetNameAs\":\"PlaceOfUseProduct\"},{\"Name\":\"ProductRowDescription\",\"GetNameAs\":\"ProductRowDescription\"},{\"Name\":\"ProductNameText\",\"GetNameAs\":\"ProductNameText\"},{\"Name\":\"NumberofProductDelivery\",\"GetNameAs\":\"NumberofProductDelivery\"},{\"Name\":\"DescriptionWarehouseKeeper\",\"GetNameAs\":\"DescriptionWarehouseKeeper\"},{\"Name\":\"DeliveryCode\",\"GetNameAs\":\"DeliveryCode\"},{\"Name\":\"DateTimeDeliveryCode\",\"GetNameAs\":\"DateTimeDeliveryCode\"},{\"Name\":\"T_CENTCODE\",\"GetNameAs\":\"T_CENTCODE\"},{\"Name\":\"T_CENTCODE_GUID\",\"GetNameAs\":\"T_CENTCODE_GUID\"},{\"Name\":\"T_PAYCENTName\",\"GetNameAs\":\"T_PAYCENTName\"},{\"Name\":\"T_CREATOR\",\"GetNameAs\":\"T_CREATOR\"},{\"Name\":\"T_FACTDATE\",\"GetNameAs\":\"T_FACTDATE\"},{\"Name\":\"T_FACTNO\",\"GetNameAs\":\"T_FACTNO\"},{\"Name\":\"T_FACTNO_GUID\",\"GetNameAs\":\"T_FACTNO_GUID\"},{\"Name\":\"T_TEMPNO\",\"GetNameAs\":\"T_TEMPNO\"},{\"Name\":\"T_TempNoNum\",\"GetNameAs\":\"T_TempNoNum\"},{\"Name\":\"T_YEAR\",\"GetNameAs\":\"T_YEAR\"},{\"Name\":\"SH_Tahvil_DTL\",\"GetNameAs\":\"SH_Tahvil_DTL\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SCMPETCO_ProductRequest>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SCMPETCO_ProductRequest();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//
_Entity.SystemUser = _RequestParameters.UserStarterFullName;
_Entity.UserCompanyName = _RequestParameters.UserStarterCompanyName;
_Entity.SystemUnitUser = _RequestParameters.UserStarterUnitName;
_Entity.SystemSectionUser = _RequestParameters.UserStarterSectionName;


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SCMPETCO_ProductRequest>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
