@inherits Forms.Forms.Form_978_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    /* ************************************************** */
.detailArea form div:not(.devdrop) {
    margin-top: .1rem;
}

/* ************************************************** */
.header-form {
    height: 100px;
    background: linear-gradient(96deg, #0d3b66, #6a0dad);
    color: white;
    border-bottom: 2px solid #ffffff33;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.header-icon {
    font-size: 56px;
    color: #ffccff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-icon:hover {
    transform: scale(1.1) rotate(-5deg);
    color: #f5baff;
}

.header-title {
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-subtitle {
    font-size: 14px;
    opacity: 0.95;
    transition: opacity 0.3s ease;
}

.header-text:hover .header-title {
    color: #ffe0ff;
}

.header-text:hover .header-subtitle {
    opacity: 1;
}
.divider-with-icon {
    display: flex;
    align-items: center;
    text-align: center;
    color: #999;
}
.divider-with-icon::before,
.divider-with-icon::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider-with-icon span {
    padding: 0 10px;
    font-size: 1.2rem;
    color: #0d6efd;
}
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="row ">
    
<div class="col-md-12">
    <div  class="">
    <header class="header-form d-flex align-items-center py-1">
    <i class="fal fa-box header-icon px-3 fs-1"></i>
    <div class="header-text">
      <h4 class="header-title mb-1"> ارسال کالا به سازنده (برون سپاری کالا)</h4>
      <p class="header-subtitle">ایجاد و ویرایش  ارسال کالا به سازنده (برون سپاری کالا)</p>
    </div>
  </header>

</div>
<div  class="">
    <div>
  &nbsp;
</div>
</div>

<div class="bg-light">
    
<div class="row ">
    
<div class="col-md-5">
    
</div>

<div class="col-md-7">
    
<div class="row ">
    
<div class="col-md-3">
    
<Input Id="Havno" @ref="Ref_Havno" Label="شماره ارسال کالا به سازنده"   Disabled=true  @bind-Value="_Entity.Havno" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="HAVDATE" @ref="Ref_HAVDATE" Label="تاریخ ارسال"  CssClass=" PersianDatePicker"   @bind-Value="_Entity.HAVDATE" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"data-jdp\":\"  \",\"data-jdp-only-date\":\"   \"}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="TempNo" @ref="Ref_TempNo" Label="عطف"     @bind-Value="_Entity.TempNo" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="Creator" @ref="Ref_Creator" Label="تنظیم کننده"   Disabled=true  @bind-Value="_Entity.Creator" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<div class="row ">
    
<div class="col-md-4">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_Shomaran_DepoOutProduct = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"ارسال کالا به سازنده (برون سپاری کالا)\",\"primaryKey\":false,\"EntityID\":718,\"FieldId\":30148,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":978,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/View_product/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.code}} {{item.title}} </span>\",\"FieldsTemplate\":[{\"key\":\"code\",\"value\":\"nvarchar(Max)\"},{\"key\":\"title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"تولیدی1 یا غیر تولیدی2\",\"tableView\":true,\"key\":\"Product\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30148?EId=718&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=Product  @ref="Ref_Product" Label="تولیدی1 یا غیر تولیدی2" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.Product" FieldName="Product" OnItemSelected="ItemSelected_Shomaran_DepoOutProduct" Component="Component_Shomaran_DepoOutProduct" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoOutProduct(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.Product = Selected.code;


    

    
    }
} 

</div>

<div class="col-md-4">
    
</div>

<div class="col-md-4">
    
</div>

</div>

<div class="row ">
    
<div class="col-md-8">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_Shomaran_DepoOutReceipt = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"DepoOut\",\"primaryKey\":false,\"EntityID\":718,\"FieldId\":30149,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":978,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_person/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"code\",\"template\":\"<span>{{item.code}} {{item.name}} {{item.HOMEADDR}} {{item.WORKADDR}} </span>\",\"FieldsTemplate\":[{\"key\":\"code\",\"value\":\"nvarchar(Max)\"},{\"key\":\"name\",\"value\":\"nvarchar(Max)\"},{\"key\":\"HOMEADDR\",\"value\":\"nvarchar(Max)\"},{\"key\":\"WORKADDR\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"code,name\",\"modal\":true,\"label\":\"سازنده\",\"tableView\":true,\"key\":\"Receipt\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30149?EId=718&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=Receipt  @ref="Ref_Receipt" Label="سازنده" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.Receipt" FieldName="Receipt" OnItemSelected="ItemSelected_Shomaran_DepoOutReceipt" Component="Component_Shomaran_DepoOutReceipt" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoOutReceipt(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.Receipt = Selected.code;


    

    
    }
} 

</div>

<div class="col-md-4">
    
</div>

</div>

<div class="row ">
    
<div class="col-md-6">
    
<Input Id="Note" @ref="Ref_Note" Label="توضیحات"     @bind-Value="_Entity.Note" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-6">
    
</div>

</div>

<div class="row ">
    
<div class="col-md-3">
    
<Input Id="Year" @ref="Ref_Year" Label="سال"   Disabled=true  @bind-Value="_Entity.Year" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

</div>

</div>

</div>

</div>
<div  class="">
    <hr class="hrdash bg-red">
</div>
<div  class="">
    <div id="resid_header" 
     class="rounded rounded-1 border border-0 fs-6 fw-bold p-2 d-flex justify-content-center align-items-center"
     style="background-color:#b38cff;">

  <span class="text-black">
    برون سپاری خرید خدمات
  </span>

</div>

</div>
<label for="Shomaran_DepoOutDetail_GridShomaran_DepoOutId_723">DepoOutDetail
   
    
</label>

<DxGrid @ref="Grid_Shomaran_DepoOutDetail" Data="_Entity.Shomaran_DepoOutDetail" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingShomaran_DepoOutDetail"
        DataItemDeleting="OnDataItemDeletingShomaran_DepoOutDetail"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="DepoOutDetail"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_Shomaran_DepoOutDetail"
        CustomizeElement="CustomizeRowsGrid_Shomaran_DepoOutDetail" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":723,\"FieldId\":723,\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationChildModel\":\"Shomaran_DepoOutDetail\",\"GridMainModel\":\"Shomaran_DepoOutDetail\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"DepoOutDetail\",\"tableView\":true,\"key\":\"GridShomaran_DepoOutId_723\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridShomaran_DepoOutId_723\",\"modalEdit\":true,\"FieldUrl\":\"723?EId=723&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"editmodelsaving\":\"GridShomaran_DepoOutId_723_editmodelsaving\",\"afterrendermodal\":\"GridShomaran_DepoOutId_723_afterrendermodal\"}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=Shomaran_DepoOutDetail_GridShomaran_DepoOutId_723ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_Shomaran_DepoOutDetail())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=Shomaran_DepoOutDetail_GridShomaran_DepoOutId_723ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_Shomaran_DepoOutDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_Shomaran_DepoOutDetail(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn Context="InvCode_" Caption="کد انبار" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderInvCode = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":723,\"FieldId\":30163,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":978,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_INV/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"INVCODE\",\"template\":\"<span>{{item.INVNAME}} {{item.INVCODE}} </span>\",\"FieldsTemplate\":[{\"key\":\"INVNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"INVCODE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"INVNAME,INVCODE\",\"modal\":true,\"label\":\"کد انبار\",\"tableView\":true,\"key\":\"InvCode\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30163?EId=723&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowInvCode = ((Entity.Shomaran_DepoOutDetail)InvCode_.DataItem).InvCode;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowInvCode"   FieldName="InvCode" OnItemSelected="ItemSelected_Shomaran_DepoOutDetailInvCode_Header" Component="HeaderInvCode">
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoOutDetailInvCode_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   InvCode

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="کد کالا"  FieldName="PartCode" />

<DxGridDataColumn DisplayFormat="G" Caption="مقدار1"  FieldName="AMOUNT" />

<DxGridDataColumn  Caption="ردیابی"  FieldName="Radyabi" />

<DxGridDataColumn  Caption="سفارش"  FieldName="Sefaresh" />

<DxGridDataColumn  Caption="توضیحات"  FieldName="NoteD" />

<DxGridDataColumn DisplayFormat="0" Caption="سال"  FieldName="Year" />

<DxGridDataColumn  Caption="ردیف" Visible=false FieldName="RowId" />

<DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn Context="ProductSearch_" Caption="جستجو کالا" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":723,\"FieldId\":31242,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":978,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31242?EId=723&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"ProductSearch_onitemselected\"}").Result;
    var RowProductSearch = ((Entity.Shomaran_DepoOutDetail)ProductSearch_.DataItem).ProductSearch;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowProductSearch"   FieldName="ProductSearch" OnItemSelected="ItemSelected_Shomaran_DepoOutDetailProductSearch_Header" Component="HeaderProductSearch">
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoOutDetailProductSearch_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   ProductSearch

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="شماره فنی"  FieldName="shomarefani" />

<DxGridDataColumn  Caption="نام کالا"  FieldName="ProductName" />

<DxGridDataColumn  Caption="واحد"  FieldName="Unit" />


</Columns>

    <EditFormTemplate Context="EditFormContextShomaran_DepoOutDetail">
    @{
        Shomaran_DepoOutDetail  = (Entity.Shomaran_DepoOutDetail)EditFormContextShomaran_DepoOutDetail.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_Shomaran_DepoOutDetailInvCode = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":723,\"FieldId\":30163,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":978,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_INV/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"inputFormat\":\"DropDown\",\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"INVCODE\",\"template\":\"<span>{{item.INVNAME}} {{item.INVCODE}} </span>\",\"FieldsTemplate\":[{\"key\":\"INVNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"INVCODE\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"INVNAME,INVCODE\",\"modal\":true,\"label\":\"کد انبار\",\"tableView\":true,\"key\":\"InvCode\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30163?EId=723&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=Shomaran_DepoOutDetail_InvCode  @ref="Ref_Shomaran_DepoOutDetail_InvCode" Label="کد انبار" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@Shomaran_DepoOutDetail.InvCode" FieldName="InvCode" OnItemSelected="ItemSelected_Shomaran_DepoOutDetailInvCode" Component="Component_Shomaran_DepoOutDetailInvCode" _Entity="_Entity" _EntityRow=Shomaran_DepoOutDetail>
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoOutDetailInvCode(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = Shomaran_DepoOutDetail;

    Item.InvCode = Selected.INVCODE;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_PartCode" @ref="Ref_Shomaran_DepoOutDetail_PartCode" Label="کد کالا"   Disabled=true  @bind-Value="Shomaran_DepoOutDetail.PartCode" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_AMOUNT" @ref="Ref_Shomaran_DepoOutDetail_AMOUNT" Label="مقدار1"     @bind-Value="Shomaran_DepoOutDetail.AMOUNT" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"step\":\"any\"}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_Radyabi" @ref="Ref_Shomaran_DepoOutDetail_Radyabi" Label="ردیابی"     @bind-Value="Shomaran_DepoOutDetail.Radyabi" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_Sefaresh" @ref="Ref_Shomaran_DepoOutDetail_Sefaresh" Label="سفارش"     @bind-Value="Shomaran_DepoOutDetail.Sefaresh" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_NoteD" @ref="Ref_Shomaran_DepoOutDetail_NoteD" Label="توضیحات"     @bind-Value="Shomaran_DepoOutDetail.NoteD" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_Year" @ref="Ref_Shomaran_DepoOutDetail_Year" Label="سال"   Disabled=true  @bind-Value="Shomaran_DepoOutDetail.Year" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_RowId" @ref="Ref_Shomaran_DepoOutDetail_RowId" Label="ردیف"  CssClass="d-none" Disabled=true  @bind-Value="Shomaran_DepoOutDetail.RowId" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_Id" @ref="Ref_Shomaran_DepoOutDetail_Id"   CssClass="d-none"   @bind-Value="Shomaran_DepoOutDetail.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_RequestID" @ref="Ref_Shomaran_DepoOutDetail_RequestID"      @bind-Value="Shomaran_DepoOutDetail.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_CreateUser" @ref="Ref_Shomaran_DepoOutDetail_CreateUser"      @bind-Value="Shomaran_DepoOutDetail.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_UpdateUser" @ref="Ref_Shomaran_DepoOutDetail_UpdateUser"      @bind-Value="Shomaran_DepoOutDetail.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_CreateDate" @ref="Ref_Shomaran_DepoOutDetail_CreateDate"   CssClass="d-none"   @bind-Value="Shomaran_DepoOutDetail.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_UpdateDate" @ref="Ref_Shomaran_DepoOutDetail_UpdateDate"   CssClass="d-none"   @bind-Value="Shomaran_DepoOutDetail.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_IsDelete" @ref="Ref_Shomaran_DepoOutDetail_IsDelete"   CssClass="d-none"   @bind-Value="Shomaran_DepoOutDetail.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_Shomaran_DepoOutDetailProductSearch = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":723,\"FieldId\":31242,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":978,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_parts/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"partcode\",\"template\":\"<span>{{item.partcode}} {{item.partno}} {{item.desc}} {{item.unit}} </span>\",\"FieldsTemplate\":[{\"key\":\"partcode\",\"value\":\"nvarchar(Max)\"},{\"key\":\"partno\",\"value\":\"nvarchar(Max)\"},{\"key\":\"desc\",\"value\":\"nvarchar(Max)\"},{\"key\":\"unit\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"partcode,partno,desc\",\"modal\":true,\"label\":\"جستجو کالا\",\"tableView\":true,\"key\":\"ProductSearch\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"31242?EId=723&SubId=28\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"ProductSearch_onitemselected\"}").Result;
}

    <Dropdown Id=Shomaran_DepoOutDetail_ProductSearch  @ref="Ref_Shomaran_DepoOutDetail_ProductSearch" Label="جستجو کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@Shomaran_DepoOutDetail.ProductSearch" FieldName="ProductSearch" OnItemSelected="ItemSelected_Shomaran_DepoOutDetailProductSearch" Component="Component_Shomaran_DepoOutDetailProductSearch" _Entity="_Entity" _EntityRow=Shomaran_DepoOutDetail>
</Dropdown>
@code {
    public async Task ItemSelected_Shomaran_DepoOutDetailProductSearch(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = Shomaran_DepoOutDetail;

    Item.ProductSearch = Selected.partcode;


    

    await ProductSearch_onitemselected( Selected , Shomaran_DepoOutDetail);
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_shomarefani" @ref="Ref_Shomaran_DepoOutDetail_shomarefani" Label="شماره فنی"   Disabled=true  @bind-Value="Shomaran_DepoOutDetail.shomarefani" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_ProductName" @ref="Ref_Shomaran_DepoOutDetail_ProductName" Label="نام کالا"   Disabled=true  @bind-Value="Shomaran_DepoOutDetail.ProductName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextShomaran_DepoOutDetail">
    
<Input Id="Shomaran_DepoOutDetail_Unit" @ref="Ref_Shomaran_DepoOutDetail_Unit" Label="واحد"   Disabled=true  @bind-Value="Shomaran_DepoOutDetail.Unit" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextShomaran_DepoOutDetail" CssClass="btn-modal-custom">
            <DxButton Id="Shomaran_DepoOutDetail_GridShomaran_DepoOutId_723ButtonSave" Click="@(() => SaveModalGrid_Shomaran_DepoOutDetail(EditFormContextShomaran_DepoOutDetail))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="Shomaran_DepoOutDetail_GridShomaran_DepoOutId_723ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_Shomaran_DepoOutDetail(EditFormContextShomaran_DepoOutDetail))" CssClass="btn btn-green" />


            <DxButton Id="Shomaran_DepoOutDetail_GridShomaran_DepoOutId_723ButtonCancel" Click="@(() => Grid_Shomaran_DepoOutDetail.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="Shomaran_DepoOutDetail_GridShomaran_DepoOutId_723ButtonBefore" Click="@(() => Dialog_Grid_Shomaran_DepoOutDetail(0,IndexGrid_Shomaran_DepoOutDetail,EditFormContextShomaran_DepoOutDetail))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="Shomaran_DepoOutDetail_GridShomaran_DepoOutId_723ButtonNext" Click="@(() => Dialog_Grid_Shomaran_DepoOutDetail(1,IndexGrid_Shomaran_DepoOutDetail,EditFormContextShomaran_DepoOutDetail))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownShomaran_DepoOutDetail" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_Shomaran_DepoOutDetail" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_Shomaran_DepoOutDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationShomaran_DepoOutDetail" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonShomaran_DepoOutDetail" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonShomaran_DepoOutDetail" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_Shomaran_DepoOutDetail;
    Entity.Shomaran_DepoOutDetail Shomaran_DepoOutDetail;
    bool ConfirmationShownShomaran_DepoOutDetail { get; set; } = false;
    public Entity.Shomaran_DepoOutDetail SelectedItemGrid_Shomaran_DepoOutDetail { get; set; } = new Entity.Shomaran_DepoOutDetail();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_Shomaran_DepoOutDetail { get; set; }

    ///////////////////////
    bool ConfirmationShomaran_DepoOutDetail { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateShomaran_DepoOutDetail { get; set; }
    public int OpenDialogCodeShomaran_DepoOutDetail { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingShomaran_DepoOutDetail(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       NotValid = await GridShomaran_DepoOutId_723_editmodelsaving(e);
        
      if (!NotValid)
     {
      SaveGrid_Shomaran_DepoOutDetail(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_Shomaran_DepoOutDetail(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeShomaran_DepoOutDetail = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateShomaran_DepoOutDetail = e;
    ConfirmationShomaran_DepoOutDetail = true;
    }
    else
    {
    await OnNoButtonShomaran_DepoOutDetail();
    }
}
async Task OnYesButtonShomaran_DepoOutDetail()
{

    ConfirmationShomaran_DepoOutDetail = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateShomaran_DepoOutDetail.EditModel;
         //events
         NotValid = await GridShomaran_DepoOutId_723_editmodelsaving(e);

        if (!NotValid)
         {
        SaveGrid_Shomaran_DepoOutDetail(_ContextFormTemplateShomaran_DepoOutDetail.DataItem, _ContextFormTemplateShomaran_DepoOutDetail.EditModel);
            await Grid_Shomaran_DepoOutDetail.CancelEditAsync();
         await ChangePageGrid_Shomaran_DepoOutDetail();
         await SetEditFormContextGrid_Shomaran_DepoOutDetail();
         }
          
    }

}
async Task OnNoButtonShomaran_DepoOutDetail()
{
    ConfirmationShomaran_DepoOutDetail = false;
    await ChangePageGrid_Shomaran_DepoOutDetail();
    await SetEditFormContextGrid_Shomaran_DepoOutDetail();

}
async Task SetEditFormContextGrid_Shomaran_DepoOutDetail()
{
    var e = (Entity.Shomaran_DepoOutDetail)Grid_Shomaran_DepoOutDetail.GetDataItem(IndexGrid_Shomaran_DepoOutDetail);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_Shomaran_DepoOutDetail()
{
    int VisibleIndex = IndexGrid_Shomaran_DepoOutDetail;
    try
    {
    if (OpenDialogCodeShomaran_DepoOutDetail == 1)
    {
        if (VisibleIndex != (Grid_Shomaran_DepoOutDetail.GetVisibleRowCount() - 1))
    { 
            Grid_Shomaran_DepoOutDetail.CancelEditAsync();
            IndexGrid_Shomaran_DepoOutDetail = VisibleIndex + 1;
    Grid_Shomaran_DepoOutDetail.StartEditRowAsync(IndexGrid_Shomaran_DepoOutDetail);
    }
    }
    else if (OpenDialogCodeShomaran_DepoOutDetail == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_Shomaran_DepoOutDetail.CancelEditAsync();
            IndexGrid_Shomaran_DepoOutDetail = VisibleIndex - 1;
    Grid_Shomaran_DepoOutDetail.StartEditRowAsync(IndexGrid_Shomaran_DepoOutDetail);
    }

    }
    var e = (Entity.Shomaran_DepoOutDetail)Grid_Shomaran_DepoOutDetail.GetDataItem(IndexGrid_Shomaran_DepoOutDetail);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    await GridShomaran_DepoOutId_723_afterrendermodal(e);
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_Shomaran_DepoOutDetail()
{
    IndexGrid_Shomaran_DepoOutDetail = Grid_Shomaran_DepoOutDetail.GetVisibleRowCount();
Grid_Shomaran_DepoOutDetail.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.Shomaran_DepoOutDetail();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await GridShomaran_DepoOutId_723_afterrendermodal(e);
}

async Task StartModalGrid_Shomaran_DepoOutDetail(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_Shomaran_DepoOutDetail = Context.VisibleIndex;
Grid_Shomaran_DepoOutDetail.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.Shomaran_DepoOutDetail)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);
await GridShomaran_DepoOutId_723_afterrendermodal(e);
   // await Task.Delay(500);
}
public async Task SaveModalGrid_Shomaran_DepoOutDetail(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    NotValid = await GridShomaran_DepoOutId_723_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_Shomaran_DepoOutDetail(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_Shomaran_DepoOutDetail(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    NotValid = await GridShomaran_DepoOutId_723_editmodelsaving(e);
    if (!NotValid)
    {
        SaveGrid_Shomaran_DepoOutDetail(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_Shomaran_DepoOutDetail();

    }
          
    }
   
}

void PerviousPageGrid_Shomaran_DepoOutDetail(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_Shomaran_DepoOutDetail.CancelEditAsync();
        IndexGrid_Shomaran_DepoOutDetail = VisibleIndex - 1;
         Grid_Shomaran_DepoOutDetail.StartEditRowAsync(IndexGrid_Shomaran_DepoOutDetail);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_Shomaran_DepoOutDetail(int VisibleIndex)
{

    if (VisibleIndex == Grid_Shomaran_DepoOutDetail.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_Shomaran_DepoOutDetail ");
    try
    {
Grid_Shomaran_DepoOutDetail.CancelEditAsync();
        IndexGrid_Shomaran_DepoOutDetail = VisibleIndex + 1;
         Grid_Shomaran_DepoOutDetail.StartEditRowAsync(IndexGrid_Shomaran_DepoOutDetail);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_Shomaran_DepoOutDetail(object DataItem, object EditModel)
{
    var ListEntity = _Entity.Shomaran_DepoOutDetail;
    var MainModel = (Entity.Shomaran_DepoOutDetail)DataItem;
    if (MainModel != null)
    {
MainModel.InvCode = ((Entity.Shomaran_DepoOutDetail)EditModel).InvCode;
MainModel.PartCode = ((Entity.Shomaran_DepoOutDetail)EditModel).PartCode;
MainModel.AMOUNT = ((Entity.Shomaran_DepoOutDetail)EditModel).AMOUNT;
MainModel.Radyabi = ((Entity.Shomaran_DepoOutDetail)EditModel).Radyabi;
MainModel.Sefaresh = ((Entity.Shomaran_DepoOutDetail)EditModel).Sefaresh;
MainModel.NoteD = ((Entity.Shomaran_DepoOutDetail)EditModel).NoteD;
MainModel.Year = ((Entity.Shomaran_DepoOutDetail)EditModel).Year;
MainModel.RowId = ((Entity.Shomaran_DepoOutDetail)EditModel).RowId;
MainModel.Id = ((Entity.Shomaran_DepoOutDetail)EditModel).Id;
MainModel.RequestID = ((Entity.Shomaran_DepoOutDetail)EditModel).RequestID;
MainModel.CreateUser = ((Entity.Shomaran_DepoOutDetail)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.Shomaran_DepoOutDetail)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.Shomaran_DepoOutDetail)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.Shomaran_DepoOutDetail)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.Shomaran_DepoOutDetail)EditModel).IsDelete;
MainModel.ProductSearch = ((Entity.Shomaran_DepoOutDetail)EditModel).ProductSearch;
MainModel.shomarefani = ((Entity.Shomaran_DepoOutDetail)EditModel).shomarefani;
MainModel.ProductName = ((Entity.Shomaran_DepoOutDetail)EditModel).ProductName;
MainModel.Unit = ((Entity.Shomaran_DepoOutDetail)EditModel).Unit;

    }
    else
    {
    ListEntity.Add((Entity.Shomaran_DepoOutDetail)EditModel);
    }
}

async Task OnDataItemDeletingShomaran_DepoOutDetail(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.Shomaran_DepoOutDetail;
    ListEntity.Remove((Entity.Shomaran_DepoOutDetail)e.DataItem);
}
async void OnDeleteButtonClickGrid_Shomaran_DepoOutDetail (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_Shomaran_DepoOutDetail = (ex.DataItem as Entity.Shomaran_DepoOutDetail);
    var e =SelectedItemGrid_Shomaran_DepoOutDetail;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownShomaran_DepoOutDetail = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_Shomaran_DepoOutDetail ()
{
       if (SelectedItemGrid_Shomaran_DepoOutDetail != null)
    {
      if (SelectedItemGrid_Shomaran_DepoOutDetail.Id == Guid.Empty)
      {
          var ListEntity = _Entity.Shomaran_DepoOutDetail;
        ListEntity.Remove((Entity.Shomaran_DepoOutDetail)SelectedItemGrid_Shomaran_DepoOutDetail);
     
      }
      else
      {
        var cleanModel = new Entity.Shomaran_DepoOutDetail();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.Shomaran_DepoOutDetail).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_Shomaran_DepoOutDetail);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_Shomaran_DepoOutDetail, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_Shomaran_DepoOutDetail._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_Shomaran_DepoOutDetail;
    
    Grid_Shomaran_DepoOutDetail.Reload();
    ConfirmationShownShomaran_DepoOutDetail = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_Shomaran_DepoOutDetail ()
{
    ConfirmationShownShomaran_DepoOutDetail = false;
}

void CustomizeRowsGrid_Shomaran_DepoOutDetail(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.Shomaran_DepoOutDetail)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_Shomaran_DepoOutDetail(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.Shomaran_DepoOutDetail)e.EditModel;

     

    }


}
public async void RowClickGrid_Shomaran_DepoOutDetail(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_Shomaran_DepoOutDetail(GridRowClickEventArgs e)
{

}
}

<Input Id="ApiResult" @ref="Ref_ApiResult" Label="ApiResult"     @bind-Value="_Entity.ApiResult" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

<div class="col-md-12">
    
</div>

<div class="col-md-12">
    
</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"Shomaran_DepoOut\",\"GetNameAs\":\"Shomaran_DepoOut\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Havno\",\"GetNameAs\":\"Havno\"},{\"Name\":\"HAVDATE\",\"GetNameAs\":\"HAVDATE\"},{\"Name\":\"Product\",\"GetNameAs\":\"Product\"},{\"Name\":\"Receipt\",\"GetNameAs\":\"Receipt\"},{\"Name\":\"TempNo\",\"GetNameAs\":\"TempNo\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"Note\",\"GetNameAs\":\"Note\"},{\"Name\":\"Creator\",\"GetNameAs\":\"Creator\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}],\"Relation\":[{\"Name\":\"Shomaran_DepoOutDetail\",\"GetNameAs\":\"Shomaran_DepoOutDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"AMOUNT\",\"GetNameAs\":\"AMOUNT\"},{\"Name\":\"InvCode\",\"GetNameAs\":\"InvCode\"},{\"Name\":\"PartCode\",\"GetNameAs\":\"PartCode\"},{\"Name\":\"Radyabi\",\"GetNameAs\":\"Radyabi\"},{\"Name\":\"Sefaresh\",\"GetNameAs\":\"Sefaresh\"},{\"Name\":\"RowId\",\"GetNameAs\":\"RowId\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"NoteD\",\"GetNameAs\":\"NoteD\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"shomarefani\",\"GetNameAs\":\"shomarefani\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"Unit\",\"GetNameAs\":\"Unit\"}],\"Relation\":[]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"Shomaran_DepoOut\",\"GetNameAs\":\"Shomaran_DepoOut\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Havno\",\"GetNameAs\":\"Havno\"},{\"Name\":\"HAVDATE\",\"GetNameAs\":\"HAVDATE\"},{\"Name\":\"Product\",\"GetNameAs\":\"Product\"},{\"Name\":\"Receipt\",\"GetNameAs\":\"Receipt\"},{\"Name\":\"TempNo\",\"GetNameAs\":\"TempNo\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"Note\",\"GetNameAs\":\"Note\"},{\"Name\":\"Creator\",\"GetNameAs\":\"Creator\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}],\"Relation\":[{\"Name\":\"Shomaran_DepoOutDetail\",\"GetNameAs\":\"Shomaran_DepoOutDetail\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"AMOUNT\",\"GetNameAs\":\"AMOUNT\"},{\"Name\":\"InvCode\",\"GetNameAs\":\"InvCode\"},{\"Name\":\"PartCode\",\"GetNameAs\":\"PartCode\"},{\"Name\":\"Radyabi\",\"GetNameAs\":\"Radyabi\"},{\"Name\":\"Sefaresh\",\"GetNameAs\":\"Sefaresh\"},{\"Name\":\"RowId\",\"GetNameAs\":\"RowId\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"NoteD\",\"GetNameAs\":\"NoteD\"},{\"Name\":\"ProductSearch\",\"GetNameAs\":\"ProductSearch\"},{\"Name\":\"shomarefani\",\"GetNameAs\":\"shomarefani\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"Unit\",\"GetNameAs\":\"Unit\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.Shomaran_DepoOut>(Data);
        }
            }
            else
            {
                _Entity = new Entity.Shomaran_DepoOut();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.Shomaran_DepoOut>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
