@inherits Forms.Forms.Form_977Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_SupplierEvaluationChecklistSCMPETCO_SupplierMasterId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"چک لیست ارزیابی تامین کنندگان بخش اصلی\",\"primaryKey\":false,\"EntityID\":719,\"FieldId\":30170,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":977,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"SCMPETCO_SupplierMaster\",\"RelationParentModel\":\"SCMPETCO_SupplierMaster\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_SupplierMaster/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.SupplierName}} </span>\",\"FieldsTemplate\":[{\"key\":\"SupplierName\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"فهرست تامین کنندگان\",\"tableView\":true,\"key\":\"SCMPETCO_SupplierMasterId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30170?EId=719&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMPETCO_SupplierMasterId  @ref="Ref_SCMPETCO_SupplierMasterId" Label="فهرست تامین کنندگان" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.SCMPETCO_SupplierMasterId" FieldName="SCMPETCO_SupplierMasterId" OnItemSelected="ItemSelected_SCMPETCO_SupplierEvaluationChecklistSCMPETCO_SupplierMasterId" Component="Component_SCMPETCO_SupplierEvaluationChecklistSCMPETCO_SupplierMasterId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_SupplierEvaluationChecklistSCMPETCO_SupplierMasterId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.SCMPETCO_SupplierMasterId = Selected.Id;


    

    
    }
} 

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
<label for="SCMPETCO_SupplierEvaluationItems_GridSCMPETCO_SupplierEvaluationChecklistId_720">جزییات فهرست ارزیابی تامین کنندگان
   
    
</label>

<DxGrid @ref="Grid_SCMPETCO_SupplierEvaluationItems" Data="_Entity.SCMPETCO_SupplierEvaluationItems" KeyFieldName="_Id" EditMode="GridEditMode.PopupEditForm"
        EditModelSaving="OnEditModelSavingSCMPETCO_SupplierEvaluationItems"
        DataItemDeleting="OnDataItemDeletingSCMPETCO_SupplierEvaluationItems"
        PopupEditFormCssClass="ModalWidth"
        PopupEditFormHeaderText="جزییات فهرست ارزیابی تامین کنندگان"
        EditFormButtonsVisible="false"
        CustomizeEditModel="CustomizeEditGrid_SCMPETCO_SupplierEvaluationItems"
        CustomizeElement="CustomizeRowsGrid_SCMPETCO_SupplierEvaluationItems" 
        Component="@((Utility.JSON.ToObject<View_Component>("{\"primaryKey\":false,\"EntityID\":720,\"FieldId\":720,\"TypeCSharp\":\"\",\"NotNull\":false,\"ViewId\":0,\"NotMapped\":false,\"Relation\":false,\"RelationExternal\":false,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"RelationChildModel\":\"SCMPETCO_SupplierEvaluationItems\",\"GridMainModel\":\"SCMPETCO_SupplierEvaluationItems\",\"widget\":{\"altInput\":false,\"allowInput\":false,\"clickOpens\":false,\"enableDate\":false,\"enableTime\":false,\"noCalendar\":false,\"useLocaleSettings\":false,\"hourIncrement\":0,\"minuteIncrement\":0,\"time_24hr\":false},\"wysiwyg\":false,\"data\":{},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"FieldsTemplate\":[],\"refreshOn\":\"data\",\"reorder\":false,\"addAnotherPosition\":\"bottom\",\"layoutFixed\":false,\"enableRowGroups\":false,\"initEmpty\":false,\"disabled\":true,\"modal\":true,\"label\":\"جزییات فهرست ارزیابی تامین کنندگان\",\"tableView\":true,\"key\":\"GridSCMPETCO_SupplierEvaluationChecklistId_720\",\"type\":\"datagrid\",\"input\":true,\"placeholder\":\"GridSCMPETCO_SupplierEvaluationChecklistId_720\",\"modalEdit\":true,\"FieldUrl\":\"720?EId=720&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result))"
         >
    <Columns>
    
<DxGridCommandColumn Width="70px">
    <HeaderTemplate Context="HeaderContext">
       
<a id=SCMPETCO_SupplierEvaluationItems_GridSCMPETCO_SupplierEvaluationChecklistId_720ButtonNew class="btn btn-sm btn-green btnGridAddData" @onclick="@(() => StartEditNewRowAsync_Grid_SCMPETCO_SupplierEvaluationItems())" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-plus-circle btnicon"></span>
    <span>@languageContainer.Keys["DXGrid:New"]</span>
</a>

    </HeaderTemplate>
    <CellDisplayTemplate Context="CellContext">
       
<a id=SCMPETCO_SupplierEvaluationItems_GridSCMPETCO_SupplierEvaluationChecklistId_720ButtonEdit class="btn btn-sm btn-yellow-light btnEditGridData" @onclick="@(() => StartModalGrid_SCMPETCO_SupplierEvaluationItems(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-pencil btnicon"></span>
</a>

       
<a class="btn btn-sm btn-red-light btnDeleteGridData" @onclick="@(() => OnDeleteButtonClickGrid_SCMPETCO_SupplierEvaluationItems(CellContext))" style="text-decoration: none;" href="javascript:void(0);">
    <span class="fal fa-times-circle btnicon"></span>
</a>

    </CellDisplayTemplate>
</DxGridCommandColumn>

    <DxGridCommandColumn   Width="60px">
           <HeaderTemplate Context="HeaderContext">
               <a    style="text-decoration: none;"  >
                
                   <span>ردیف</span>
               </a>
           </HeaderTemplate>
           <CellDisplayTemplate Context="CellContext">
            @if (CellContext.VisibleIndex > 9){
                <p>@(CellContext.VisibleIndex + 1)</p>
            }else{
                <p>@(((CellContext.Grid.PageIndex * CellContext.Grid.PageSize) + (CellContext.VisibleIndex + 1)))</p>
            }
          
           </CellDisplayTemplate>
     </DxGridCommandColumn>
    <DxGridDataColumn  Caption="Id" Visible=false FieldName="Id" />

<DxGridDataColumn  Caption="RequestID" Visible=false FieldName="RequestID" />

<DxGridDataColumn  Caption="CreateUser" Visible=false FieldName="CreateUser" />

<DxGridDataColumn  Caption="UpdateUser" Visible=false FieldName="UpdateUser" />

<DxGridDataColumn  Caption="CreateDate" Visible=false FieldName="CreateDate" />

<DxGridDataColumn  Caption="UpdateDate" Visible=false FieldName="UpdateDate" />

<DxGridDataColumn  Caption="IsDelete" Visible=false FieldName="IsDelete" />

<DxGridDataColumn Context="SCMPETCO_SupplierEvaluationChecklistId_" Caption="شناسه چک لیست ارزیابی تامین کنندگان" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCMPETCO_SupplierEvaluationChecklistId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":720,\"FieldId\":30121,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":977,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"SCMPETCO_SupplierEvaluationChecklist\",\"RelationParentModel\":\"SCMPETCO_SupplierEvaluationChecklist\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_SupplierEvaluationChecklist/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"شناسه چک لیست ارزیابی تامین کنندگان\",\"tableView\":true,\"key\":\"SCMPETCO_SupplierEvaluationChecklistId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30121?EId=720&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCMPETCO_SupplierEvaluationChecklistId = ((Entity.SCMPETCO_SupplierEvaluationItems)SCMPETCO_SupplierEvaluationChecklistId_.DataItem).SCMPETCO_SupplierEvaluationChecklistId;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowSCMPETCO_SupplierEvaluationChecklistId"   FieldName="SCMPETCO_SupplierEvaluationChecklistId" OnItemSelected="ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationChecklistId_Header" Component="HeaderSCMPETCO_SupplierEvaluationChecklistId">
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationChecklistId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCMPETCO_SupplierEvaluationChecklistId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="SCMPETCO_SupplierEvaluationTitleId_" Caption="عناوین ارزیابی تامین کنندگان" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCMPETCO_SupplierEvaluationTitleId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":720,\"FieldId\":30141,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":977,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"SCMPETCO_SupplierEvaluationTitle\",\"RelationParentModel\":\"SCMPETCO_SupplierEvaluationTitle\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_SupplierEvaluationTitle/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} {{item.Status}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"Status\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"عناوین ارزیابی تامین کنندگان\",\"tableView\":true,\"key\":\"SCMPETCO_SupplierEvaluationTitleId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30141?EId=720&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCMPETCO_SupplierEvaluationTitleId = ((Entity.SCMPETCO_SupplierEvaluationItems)SCMPETCO_SupplierEvaluationTitleId_.DataItem).SCMPETCO_SupplierEvaluationTitleId;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowSCMPETCO_SupplierEvaluationTitleId"   FieldName="SCMPETCO_SupplierEvaluationTitleId" OnItemSelected="ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationTitleId_Header" Component="HeaderSCMPETCO_SupplierEvaluationTitleId">
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationTitleId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCMPETCO_SupplierEvaluationTitleId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="SCMPETCO_SupplierEvaluationModelId_" Caption="مدل‌های ارزیابی تامین کننده" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCMPETCO_SupplierEvaluationModelId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":720,\"FieldId\":30142,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":977,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"SCMPETCO_SupplierEvaluationModel\",\"RelationParentModel\":\"SCMPETCO_SupplierEvaluationModel\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_SupplierEvaluationModel/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"مدل‌های ارزیابی تامین کننده\",\"tableView\":true,\"key\":\"SCMPETCO_SupplierEvaluationModelId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30142?EId=720&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCMPETCO_SupplierEvaluationModelId = ((Entity.SCMPETCO_SupplierEvaluationItems)SCMPETCO_SupplierEvaluationModelId_.DataItem).SCMPETCO_SupplierEvaluationModelId;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowSCMPETCO_SupplierEvaluationModelId"   FieldName="SCMPETCO_SupplierEvaluationModelId" OnItemSelected="ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationModelId_Header" Component="HeaderSCMPETCO_SupplierEvaluationModelId">
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationModelId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCMPETCO_SupplierEvaluationModelId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn Context="SCMPETCO_ScoringMethod_SupplierId_" Caption="نحوه امتیازدهی به تامین کننده" >
    <CellDisplayTemplate>
       
@{
    Baya.Models.ViewEngine.View_Component HeaderSCMPETCO_ScoringMethod_SupplierId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":720,\"FieldId\":30143,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":977,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"SCMPETCO_ScoringMethod_Supplier\",\"RelationParentModel\":\"SCMPETCO_ScoringMethod_Supplier\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_ScoringMethod_Supplier/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} {{item.ScoringNo}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"ScoringNo\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"نحوه امتیازدهی به تامین کننده\",\"tableView\":true,\"key\":\"SCMPETCO_ScoringMethod_SupplierId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30143?EId=720&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
    var RowSCMPETCO_ScoringMethod_SupplierId = ((Entity.SCMPETCO_SupplierEvaluationItems)SCMPETCO_ScoringMethod_SupplierId_.DataItem).SCMPETCO_ScoringMethod_SupplierId;
}

<Dropdown ExternalApi=true CssClass="" NotMapped=false TextGrid=true Value="@RowSCMPETCO_ScoringMethod_SupplierId"   FieldName="SCMPETCO_ScoringMethod_SupplierId" OnItemSelected="ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_ScoringMethod_SupplierId_Header" Component="HeaderSCMPETCO_ScoringMethod_SupplierId">
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_ScoringMethod_SupplierId_Header(object _Item)
    {
      //  var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
  //   SCMPETCO_ScoringMethod_SupplierId

  //  #CustomCode

 //   

  //  #OnItemSelected
    }
}

    </CellDisplayTemplate>
</DxGridDataColumn>
<DxGridDataColumn  Caption="توضیحات"  FieldName="Description" />


</Columns>

    <EditFormTemplate Context="EditFormContextSCMPETCO_SupplierEvaluationItems">
    @{
        SCMPETCO_SupplierEvaluationItems  = (Entity.SCMPETCO_SupplierEvaluationItems)EditFormContextSCMPETCO_SupplierEvaluationItems.EditModel;
    }
    <DxFormLayout>
        <DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
    
<Input Id="SCMPETCO_SupplierEvaluationItems_Id" @ref="Ref_SCMPETCO_SupplierEvaluationItems_Id"   CssClass="d-none"   @bind-Value="SCMPETCO_SupplierEvaluationItems.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
    
<Input Id="SCMPETCO_SupplierEvaluationItems_RequestID" @ref="Ref_SCMPETCO_SupplierEvaluationItems_RequestID"      @bind-Value="SCMPETCO_SupplierEvaluationItems.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
    
<Input Id="SCMPETCO_SupplierEvaluationItems_CreateUser" @ref="Ref_SCMPETCO_SupplierEvaluationItems_CreateUser"      @bind-Value="SCMPETCO_SupplierEvaluationItems.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
    
<Input Id="SCMPETCO_SupplierEvaluationItems_UpdateUser" @ref="Ref_SCMPETCO_SupplierEvaluationItems_UpdateUser"      @bind-Value="SCMPETCO_SupplierEvaluationItems.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
    
<Input Id="SCMPETCO_SupplierEvaluationItems_CreateDate" @ref="Ref_SCMPETCO_SupplierEvaluationItems_CreateDate"   CssClass="d-none"   @bind-Value="SCMPETCO_SupplierEvaluationItems.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
    
<Input Id="SCMPETCO_SupplierEvaluationItems_UpdateDate" @ref="Ref_SCMPETCO_SupplierEvaluationItems_UpdateDate"   CssClass="d-none"   @bind-Value="SCMPETCO_SupplierEvaluationItems.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
    
<Input Id="SCMPETCO_SupplierEvaluationItems_IsDelete" @ref="Ref_SCMPETCO_SupplierEvaluationItems_IsDelete"   CssClass="d-none"   @bind-Value="SCMPETCO_SupplierEvaluationItems.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationChecklistId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":720,\"FieldId\":30121,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":977,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"SCMPETCO_SupplierEvaluationChecklist\",\"RelationParentModel\":\"SCMPETCO_SupplierEvaluationChecklist\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_SupplierEvaluationChecklist/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Id}} </span>\",\"FieldsTemplate\":[{\"key\":\"Id\",\"value\":\"uniqueidentifier\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"شناسه چک لیست ارزیابی تامین کنندگان\",\"tableView\":true,\"key\":\"SCMPETCO_SupplierEvaluationChecklistId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30121?EId=720&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMPETCO_SupplierEvaluationItems_SCMPETCO_SupplierEvaluationChecklistId  @ref="Ref_SCMPETCO_SupplierEvaluationItems_SCMPETCO_SupplierEvaluationChecklistId" Label="شناسه چک لیست ارزیابی تامین کنندگان" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SCMPETCO_SupplierEvaluationItems.SCMPETCO_SupplierEvaluationChecklistId" FieldName="SCMPETCO_SupplierEvaluationChecklistId" OnItemSelected="ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationChecklistId" Component="Component_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationChecklistId" _Entity="_Entity" _EntityRow=SCMPETCO_SupplierEvaluationItems>
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationChecklistId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMPETCO_SupplierEvaluationItems;

    Item.SCMPETCO_SupplierEvaluationChecklistId = Selected.Id;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationTitleId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":720,\"FieldId\":30141,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":977,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"SCMPETCO_SupplierEvaluationTitle\",\"RelationParentModel\":\"SCMPETCO_SupplierEvaluationTitle\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_SupplierEvaluationTitle/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} {{item.Status}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"Status\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"عناوین ارزیابی تامین کنندگان\",\"tableView\":true,\"key\":\"SCMPETCO_SupplierEvaluationTitleId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30141?EId=720&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMPETCO_SupplierEvaluationItems_SCMPETCO_SupplierEvaluationTitleId  @ref="Ref_SCMPETCO_SupplierEvaluationItems_SCMPETCO_SupplierEvaluationTitleId" Label="عناوین ارزیابی تامین کنندگان" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SCMPETCO_SupplierEvaluationItems.SCMPETCO_SupplierEvaluationTitleId" FieldName="SCMPETCO_SupplierEvaluationTitleId" OnItemSelected="ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationTitleId" Component="Component_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationTitleId" _Entity="_Entity" _EntityRow=SCMPETCO_SupplierEvaluationItems>
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationTitleId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMPETCO_SupplierEvaluationItems;

    Item.SCMPETCO_SupplierEvaluationTitleId = Selected.Id;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationModelId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":720,\"FieldId\":30142,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":977,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"SCMPETCO_SupplierEvaluationModel\",\"RelationParentModel\":\"SCMPETCO_SupplierEvaluationModel\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_SupplierEvaluationModel/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"مدل‌های ارزیابی تامین کننده\",\"tableView\":true,\"key\":\"SCMPETCO_SupplierEvaluationModelId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30142?EId=720&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMPETCO_SupplierEvaluationItems_SCMPETCO_SupplierEvaluationModelId  @ref="Ref_SCMPETCO_SupplierEvaluationItems_SCMPETCO_SupplierEvaluationModelId" Label="مدل‌های ارزیابی تامین کننده" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SCMPETCO_SupplierEvaluationItems.SCMPETCO_SupplierEvaluationModelId" FieldName="SCMPETCO_SupplierEvaluationModelId" OnItemSelected="ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationModelId" Component="Component_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationModelId" _Entity="_Entity" _EntityRow=SCMPETCO_SupplierEvaluationItems>
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_SupplierEvaluationModelId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMPETCO_SupplierEvaluationItems;

    Item.SCMPETCO_SupplierEvaluationModelId = Selected.Id;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SCMPETCO_SupplierEvaluationItemsSCMPETCO_ScoringMethod_SupplierId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"primaryKey\":false,\"EntityID\":720,\"FieldId\":30143,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":977,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"SCMPETCO_ScoringMethod_Supplier\",\"RelationParentModel\":\"SCMPETCO_ScoringMethod_Supplier\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/SCMPETCO_ScoringMethod_Supplier/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} {{item.ScoringNo}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"},{\"key\":\"ScoringNo\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"نحوه امتیازدهی به تامین کننده\",\"tableView\":true,\"key\":\"SCMPETCO_ScoringMethod_SupplierId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30143?EId=720&SubId=19\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=SCMPETCO_SupplierEvaluationItems_SCMPETCO_ScoringMethod_SupplierId  @ref="Ref_SCMPETCO_SupplierEvaluationItems_SCMPETCO_ScoringMethod_SupplierId" Label="نحوه امتیازدهی به تامین کننده" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@SCMPETCO_SupplierEvaluationItems.SCMPETCO_ScoringMethod_SupplierId" FieldName="SCMPETCO_ScoringMethod_SupplierId" OnItemSelected="ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_ScoringMethod_SupplierId" Component="Component_SCMPETCO_SupplierEvaluationItemsSCMPETCO_ScoringMethod_SupplierId" _Entity="_Entity" _EntityRow=SCMPETCO_SupplierEvaluationItems>
</Dropdown>
@code {
    public async Task ItemSelected_SCMPETCO_SupplierEvaluationItemsSCMPETCO_ScoringMethod_SupplierId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = SCMPETCO_SupplierEvaluationItems;

    Item.SCMPETCO_ScoringMethod_SupplierId = Selected.Id;


    

    
    }
} 

</DxFormLayoutItem>

<DxFormLayoutItem CssClass="Gsyscol"  ColSpanMd="6" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems">
    
<Input Id="SCMPETCO_SupplierEvaluationItems_Description" @ref="Ref_SCMPETCO_SupplierEvaluationItems_Description" Label="توضیحات"     @bind-Value="SCMPETCO_SupplierEvaluationItems.Description" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"1500\"}").Result))></Input>

</DxFormLayoutItem>


        <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContextSCMPETCO_SupplierEvaluationItems" CssClass="btn-modal-custom">
            <DxButton Id="SCMPETCO_SupplierEvaluationItems_GridSCMPETCO_SupplierEvaluationChecklistId_720ButtonSave" Click="@(() => SaveModalGrid_SCMPETCO_SupplierEvaluationItems(EditFormContextSCMPETCO_SupplierEvaluationItems))" Text="@languageContainer.Keys["DXGrid:Save"]" CssClass="btn btn-green px-5" />
            
<DxButton id="SCMPETCO_SupplierEvaluationItems_GridSCMPETCO_SupplierEvaluationChecklistId_720ButtonSaveAndNew"    Text="ذخیره و جدید" Click="@(() => SaveAndNewGrid_SCMPETCO_SupplierEvaluationItems(EditFormContextSCMPETCO_SupplierEvaluationItems))" CssClass="btn btn-green" />


            <DxButton Id="SCMPETCO_SupplierEvaluationItems_GridSCMPETCO_SupplierEvaluationChecklistId_720ButtonCancel" Click="@(() => Grid_SCMPETCO_SupplierEvaluationItems.CancelEditAsync())" Text="@languageContainer.Keys["DXGrid:Cancel"]" CssClass="btn btn-red" />
            <button id="click_s"  hidden>submit</button>
             <span>|</span>
           
            <DxButton Id="SCMPETCO_SupplierEvaluationItems_GridSCMPETCO_SupplierEvaluationChecklistId_720ButtonBefore" Click="@(() => Dialog_Grid_SCMPETCO_SupplierEvaluationItems(0,IndexGrid_SCMPETCO_SupplierEvaluationItems,EditFormContextSCMPETCO_SupplierEvaluationItems))" Text="قبلی" CssClass="btn btn-purple" />@* @languageContainer.Keys["DXGrid:??"] *@
         
            <DxButton Id="SCMPETCO_SupplierEvaluationItems_GridSCMPETCO_SupplierEvaluationChecklistId_720ButtonNext" Click="@(() => Dialog_Grid_SCMPETCO_SupplierEvaluationItems(1,IndexGrid_SCMPETCO_SupplierEvaluationItems,EditFormContextSCMPETCO_SupplierEvaluationItems))" Text="بعدی" CssClass="btn btn-purple" />

        </DxFormLayoutItem>
    </DxFormLayout>

</EditFormTemplate>

</DxGrid>

<DxPopup @bind-Visible="@ConfirmationShownSCMPETCO_SupplierEvaluationItems" HeaderText="@languageContainer.Keys["DXGrid:DeleteItem"]" Width="350px" CloseOnOutsideClick="false">

    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center">
            <p>@languageContainer.Keys["DXGrid:DeleteItemHint"]</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="@languageContainer.Keys["DXGrid:Yes"]" CssClass="btn btn-red px-4" Click="@OnYesButtonClickGrid_SCMPETCO_SupplierEvaluationItems" />
                <DxButton Text="@languageContainer.Keys["DXGrid:No"]" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonClickGrid_SCMPETCO_SupplierEvaluationItems" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>

<DxPopup @bind-Visible="@ConfirmationSCMPETCO_SupplierEvaluationItems" HeaderText="هشدار" Width="350px" CloseOnOutsideClick="false">
    <BodyContentTemplate Context="EditFormContext">
        <div class="py-3 px-5 text-center"> 
            <p>اطلاعات این فرم تغییر کرده است آیا تغییرات ذخیره شود؟</p>
            <div class="confirm-dialog-buttons">
                <DxButton Text="بله" CssClass="btn btn-red px-4" Click="@OnYesButtonSCMPETCO_SupplierEvaluationItems" />
                <DxButton Text="خیر" CssClass="btn btn-purple-light px-4" Click="@OnNoButtonSCMPETCO_SupplierEvaluationItems" />
            </div>
        </div>
    </BodyContentTemplate>
</DxPopup>
@code {
    // DxGrid? Grid_SCMPETCO_SupplierEvaluationItems;
    Entity.SCMPETCO_SupplierEvaluationItems SCMPETCO_SupplierEvaluationItems;
    bool ConfirmationShownSCMPETCO_SupplierEvaluationItems { get; set; } = false;
    public Entity.SCMPETCO_SupplierEvaluationItems SelectedItemGrid_SCMPETCO_SupplierEvaluationItems { get; set; } = new Entity.SCMPETCO_SupplierEvaluationItems();
    /// <summary>
    /// شماره ستون
    /// </summary>
    public int IndexGrid_SCMPETCO_SupplierEvaluationItems { get; set; }

    ///////////////////////
    bool ConfirmationSCMPETCO_SupplierEvaluationItems { get; set; } = false;
    GridEditFormTemplateContext? _ContextFormTemplateSCMPETCO_SupplierEvaluationItems { get; set; }
    public int OpenDialogCodeSCMPETCO_SupplierEvaluationItems { get; set; } = 0;
    ////////////////////////

    async Task OnEditModelSavingSCMPETCO_SupplierEvaluationItems(GridEditModelSavingEventArgs arg)
    {
        var e = arg.EditModel;
    bool NotValid = false;
    //events
       
        
      if (!NotValid)
     {
      SaveGrid_SCMPETCO_SupplierEvaluationItems(arg.DataItem, arg.EditModel);
     }
}

async void Dialog_Grid_SCMPETCO_SupplierEvaluationItems(int _OpenDialogCode, int VisibleIndex, GridEditFormTemplateContext e)
{
    OpenDialogCodeSCMPETCO_SupplierEvaluationItems = _OpenDialogCode;
    if (!CheckChangedData(await Utility.JSON.ToJson(e.EditModel)))
    {
    _ContextFormTemplateSCMPETCO_SupplierEvaluationItems = e;
    ConfirmationSCMPETCO_SupplierEvaluationItems = true;
    }
    else
    {
    await OnNoButtonSCMPETCO_SupplierEvaluationItems();
    }
}
async Task OnYesButtonSCMPETCO_SupplierEvaluationItems()
{

    ConfirmationSCMPETCO_SupplierEvaluationItems = false;
    await Task.Delay(1500);
    //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
    bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");
    if (FormValidate)
    {
        bool NotValid = false;
    var e = _ContextFormTemplateSCMPETCO_SupplierEvaluationItems.EditModel;
         //events
         

        if (!NotValid)
         {
        SaveGrid_SCMPETCO_SupplierEvaluationItems(_ContextFormTemplateSCMPETCO_SupplierEvaluationItems.DataItem, _ContextFormTemplateSCMPETCO_SupplierEvaluationItems.EditModel);
            await Grid_SCMPETCO_SupplierEvaluationItems.CancelEditAsync();
         await ChangePageGrid_SCMPETCO_SupplierEvaluationItems();
         await SetEditFormContextGrid_SCMPETCO_SupplierEvaluationItems();
         }
          
    }

}
async Task OnNoButtonSCMPETCO_SupplierEvaluationItems()
{
    ConfirmationSCMPETCO_SupplierEvaluationItems = false;
    await ChangePageGrid_SCMPETCO_SupplierEvaluationItems();
    await SetEditFormContextGrid_SCMPETCO_SupplierEvaluationItems();

}
async Task SetEditFormContextGrid_SCMPETCO_SupplierEvaluationItems()
{
    var e = (Entity.SCMPETCO_SupplierEvaluationItems)Grid_SCMPETCO_SupplierEvaluationItems.GetDataItem(IndexGrid_SCMPETCO_SupplierEvaluationItems);
    JsonData = await Utility.JSON.ToJson(e);
}

async Task ChangePageGrid_SCMPETCO_SupplierEvaluationItems()
{
    int VisibleIndex = IndexGrid_SCMPETCO_SupplierEvaluationItems;
    try
    {
    if (OpenDialogCodeSCMPETCO_SupplierEvaluationItems == 1)
    {
        if (VisibleIndex != (Grid_SCMPETCO_SupplierEvaluationItems.GetVisibleRowCount() - 1))
    { 
            Grid_SCMPETCO_SupplierEvaluationItems.CancelEditAsync();
            IndexGrid_SCMPETCO_SupplierEvaluationItems = VisibleIndex + 1;
    Grid_SCMPETCO_SupplierEvaluationItems.StartEditRowAsync(IndexGrid_SCMPETCO_SupplierEvaluationItems);
    }
    }
    else if (OpenDialogCodeSCMPETCO_SupplierEvaluationItems == 0)
    {
        if (VisibleIndex != 0)
        {

            Grid_SCMPETCO_SupplierEvaluationItems.CancelEditAsync();
            IndexGrid_SCMPETCO_SupplierEvaluationItems = VisibleIndex - 1;
    Grid_SCMPETCO_SupplierEvaluationItems.StartEditRowAsync(IndexGrid_SCMPETCO_SupplierEvaluationItems);
    }

    }
    var e = (Entity.SCMPETCO_SupplierEvaluationItems)Grid_SCMPETCO_SupplierEvaluationItems.GetDataItem(IndexGrid_SCMPETCO_SupplierEvaluationItems);
    JsonData = await Utility.JSON.ToJson(e);
    await Task.Delay(300);
    
    StateHasChanged();
    }
    catch (Exception ex)
    {

    Console.WriteLine("error in ChagePage" + ex.Message);
    }

}

async Task StartEditNewRowAsync_Grid_SCMPETCO_SupplierEvaluationItems()
{
    IndexGrid_SCMPETCO_SupplierEvaluationItems = Grid_SCMPETCO_SupplierEvaluationItems.GetVisibleRowCount();
Grid_SCMPETCO_SupplierEvaluationItems.StartEditNewRowAsync().GetAwaiter();
var e = new Entity.SCMPETCO_SupplierEvaluationItems();
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

}

async Task StartModalGrid_SCMPETCO_SupplierEvaluationItems(GridCommandColumnCellDisplayTemplateContext Context)
{
    IndexGrid_SCMPETCO_SupplierEvaluationItems = Context.VisibleIndex;
Grid_SCMPETCO_SupplierEvaluationItems.StartEditRowAsync(Context.VisibleIndex).GetAwaiter();
var e = (Entity.SCMPETCO_SupplierEvaluationItems)Context.DataItem;
JsonData = await Utility.JSON.ToJson(e);
await Task.Delay(300);

   // await Task.Delay(500);
}
public async Task SaveModalGrid_SCMPETCO_SupplierEvaluationItems(GridEditFormTemplateContext arg)
{
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate =  await JS.InvokeAsync<bool>("submitForm");

    if(FormValidate){

    var e = arg.EditModel;
    bool NotValid = false;
    //events
    
    if (!NotValid)
    {
        SaveGrid_SCMPETCO_SupplierEvaluationItems(arg.DataItem, arg.EditModel);

     await arg.Grid.CancelEditAsync(); 

    }

    }

}
public async Task SaveAndNewGrid_SCMPETCO_SupplierEvaluationItems(GridEditFormTemplateContext arg)
{ 
     //bool FormValidate = await JSO.InvokeAsync<bool>("submitForm");
     bool FormValidate = await JS.InvokeAsync<bool>("submitForm");
     
    if(FormValidate){
       
         var e = arg.EditModel;
          bool NotValid = false;
     //events
    
    if (!NotValid)
    {
        SaveGrid_SCMPETCO_SupplierEvaluationItems(arg.DataItem, arg.EditModel);

         await arg.Grid.CancelEditAsync();
        await StartEditNewRowAsync_Grid_SCMPETCO_SupplierEvaluationItems();

    }
          
    }
   
}

void PerviousPageGrid_SCMPETCO_SupplierEvaluationItems(int VisibleIndex)
{
    try
     {
    if (VisibleIndex == 0)
    {
        Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
Grid_SCMPETCO_SupplierEvaluationItems.CancelEditAsync();
        IndexGrid_SCMPETCO_SupplierEvaluationItems = VisibleIndex - 1;
         Grid_SCMPETCO_SupplierEvaluationItems.StartEditRowAsync(IndexGrid_SCMPETCO_SupplierEvaluationItems);
     }
    }
     catch (Exception e)
     {
    Console.WriteLine("PerviousPage Message");
    Console.WriteLine(e.Message);
    }

}

void NextPageGrid_SCMPETCO_SupplierEvaluationItems(int VisibleIndex)
{

    if (VisibleIndex == Grid_SCMPETCO_SupplierEvaluationItems.GetVisibleRowCount() - 1)
    {
    Console.WriteLine(VisibleIndex.ToString());
    }
    else
    {
    Console.WriteLine("NextPage Start Grid_SCMPETCO_SupplierEvaluationItems ");
    try
    {
Grid_SCMPETCO_SupplierEvaluationItems.CancelEditAsync();
        IndexGrid_SCMPETCO_SupplierEvaluationItems = VisibleIndex + 1;
         Grid_SCMPETCO_SupplierEvaluationItems.StartEditRowAsync(IndexGrid_SCMPETCO_SupplierEvaluationItems);
     }
    catch (Exception e)
    {
        Console.WriteLine("NextPage Message");
        Console.WriteLine(e.Message);
    }

    }
}

public void SaveGrid_SCMPETCO_SupplierEvaluationItems(object DataItem, object EditModel)
{
    var ListEntity = _Entity.SCMPETCO_SupplierEvaluationItems;
    var MainModel = (Entity.SCMPETCO_SupplierEvaluationItems)DataItem;
    if (MainModel != null)
    {
MainModel.Id = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).Id;
MainModel.RequestID = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).RequestID;
MainModel.CreateUser = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).CreateUser;
MainModel.UpdateUser = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).UpdateUser;
MainModel.CreateDate = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).CreateDate;
MainModel.UpdateDate = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).UpdateDate;
MainModel.IsDelete = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).IsDelete;
MainModel.SCMPETCO_SupplierEvaluationChecklistId = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).SCMPETCO_SupplierEvaluationChecklistId;
MainModel.SCMPETCO_SupplierEvaluationTitleId = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).SCMPETCO_SupplierEvaluationTitleId;
MainModel.SCMPETCO_SupplierEvaluationModelId = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).SCMPETCO_SupplierEvaluationModelId;
MainModel.SCMPETCO_ScoringMethod_SupplierId = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).SCMPETCO_ScoringMethod_SupplierId;
MainModel.Description = ((Entity.SCMPETCO_SupplierEvaluationItems)EditModel).Description;

    }
    else
    {
    ListEntity.Add((Entity.SCMPETCO_SupplierEvaluationItems)EditModel);
    }
}

async Task OnDataItemDeletingSCMPETCO_SupplierEvaluationItems(GridDataItemDeletingEventArgs e)
    {
    var ListEntity = _Entity.SCMPETCO_SupplierEvaluationItems;
    ListEntity.Remove((Entity.SCMPETCO_SupplierEvaluationItems)e.DataItem);
}
async void OnDeleteButtonClickGrid_SCMPETCO_SupplierEvaluationItems (GridCommandColumnCellDisplayTemplateContext ex)
{
    SelectedItemGrid_SCMPETCO_SupplierEvaluationItems = (ex.DataItem as Entity.SCMPETCO_SupplierEvaluationItems);
    var e =SelectedItemGrid_SCMPETCO_SupplierEvaluationItems;
    
     
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 0");
    ConfirmationShownSCMPETCO_SupplierEvaluationItems = true;
    await Task.Yield();
     await InvokeAsync(StateHasChanged);
    
    Console.WriteLine("end OnDeleteButtonClickGrid_test_OrderBody 1");
}
async void OnYesButtonClickGrid_SCMPETCO_SupplierEvaluationItems ()
{
       if (SelectedItemGrid_SCMPETCO_SupplierEvaluationItems != null)
    {
      if (SelectedItemGrid_SCMPETCO_SupplierEvaluationItems.Id == Guid.Empty)
      {
          var ListEntity = _Entity.SCMPETCO_SupplierEvaluationItems;
        ListEntity.Remove((Entity.SCMPETCO_SupplierEvaluationItems)SelectedItemGrid_SCMPETCO_SupplierEvaluationItems);
     
      }
      else
      {
        var cleanModel = new Entity.SCMPETCO_SupplierEvaluationItems();
      // چک کن آیا پراپرتی IsDelete در این نوع وجود دارد؟
        var prop = typeof(Entity.SCMPETCO_SupplierEvaluationItems).GetProperty("IsDelete");
        if (prop != null && prop.CanRead && prop.CanWrite)
        {
            // مقدار فعلی را بگیر
            var currentValue = prop.GetValue(SelectedItemGrid_SCMPETCO_SupplierEvaluationItems);

            if (currentValue is bool boolValue)
            {
                // مقدار را معکوس کن
                var newValue = !boolValue;

                // روی هر دو شیء تنظیم کن
                prop.SetValue(SelectedItemGrid_SCMPETCO_SupplierEvaluationItems, newValue);
                prop.SetValue(cleanModel, newValue);
            }
        }
        EntityHelper.SetPropertyValue(cleanModel, cleanModel._GetIdName, SelectedItemGrid_SCMPETCO_SupplierEvaluationItems._Id);
    
       
       
      }
    }
    var e= SelectedItemGrid_SCMPETCO_SupplierEvaluationItems;
    
    Grid_SCMPETCO_SupplierEvaluationItems.Reload();
    ConfirmationShownSCMPETCO_SupplierEvaluationItems = false;
     await Task.Yield();
    await InvokeAsync(StateHasChanged);

}
void OnNoButtonClickGrid_SCMPETCO_SupplierEvaluationItems ()
{
    ConfirmationShownSCMPETCO_SupplierEvaluationItems = false;
}

void CustomizeRowsGrid_SCMPETCO_SupplierEvaluationItems(GridCustomizeElementEventArgs e)
{
    ///استایل سطر
    if (e.ElementType == GridElementType.DataRow)
    {
    var item = ((Entity.SCMPETCO_SupplierEvaluationItems)e.Grid.GetDataItem(e.VisibleIndex));

       if (item.IsDelete == true)
       {
           e.CssClass = "bg-lightred disablediv";
       }
    }
}

async void CustomizeEditGrid_SCMPETCO_SupplierEvaluationItems(GridCustomizeEditModelEventArgs e)
{

    if (e.IsNew)
    {

    var newRow = (Entity.SCMPETCO_SupplierEvaluationItems)e.EditModel;

     

    }


}
public async void RowClickGrid_SCMPETCO_SupplierEvaluationItems(GridRowClickEventArgs e)
{

}

public async void RowDubbleClickGrid_SCMPETCO_SupplierEvaluationItems(GridRowClickEventArgs e)
{

}
}

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMPETCO_SupplierEvaluationChecklist\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationChecklist\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SCMPETCO_SupplierMasterId\",\"GetNameAs\":\"SCMPETCO_SupplierMasterId\"}],\"Relation\":[{\"Name\":\"SCMPETCO_SupplierMaster\",\"GetNameAs\":\"SCMPETCO_SupplierMaster\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"SupplierName\",\"GetNameAs\":\"SupplierName\"},{\"Name\":\"ServiceName\",\"GetNameAs\":\"ServiceName\"},{\"Name\":\"SupplierBusinessOwner\",\"GetNameAs\":\"SupplierBusinessOwner\"},{\"Name\":\"OfficeAddress\",\"GetNameAs\":\"OfficeAddress\"},{\"Name\":\"ContactPerson\",\"GetNameAs\":\"ContactPerson\"},{\"Name\":\"OfficePhoneNumber\",\"GetNameAs\":\"OfficePhoneNumber\"},{\"Name\":\"OfficeFax\",\"GetNameAs\":\"OfficeFax\"},{\"Name\":\"FactoryAddress\",\"GetNameAs\":\"FactoryAddress\"},{\"Name\":\"FactoryPhoneNumber\",\"GetNameAs\":\"FactoryPhoneNumber\"},{\"Name\":\"FactoryFax\",\"GetNameAs\":\"FactoryFax\"},{\"Name\":\"Email\",\"GetNameAs\":\"Email\"},{\"Name\":\"SCMPETCO_SupplierMaster_Attachments\",\"GetNameAs\":\"SCMPETCO_SupplierMaster_Attachments\"},{\"Name\":\"SystemUser\",\"GetNameAs\":\"SystemUser\"},{\"Name\":\"SystemUnitUser\",\"GetNameAs\":\"SystemUnitUser\"},{\"Name\":\"SystemSectionUser\",\"GetNameAs\":\"SystemSectionUser\"},{\"Name\":\"UserCompanyName\",\"GetNameAs\":\"UserCompanyName\"},{\"Name\":\"RequestTrakingCode\",\"GetNameAs\":\"RequestTrakingCode\"},{\"Name\":\"ProcessVersionID\",\"GetNameAs\":\"ProcessVersionID\"},{\"Name\":\"ProcurementSupervisorDesc\",\"GetNameAs\":\"ProcurementSupervisorDesc\"},{\"Name\":\"QCManagerDec\",\"GetNameAs\":\"QCManagerDec\"},{\"Name\":\"SystemsMethodsDesc\",\"GetNameAs\":\"SystemsMethodsDesc\"},{\"Name\":\"HSEDesc\",\"GetNameAs\":\"HSEDesc\"},{\"Name\":\"FactoryManagerDesc\",\"GetNameAs\":\"FactoryManagerDesc\"},{\"Name\":\"CEODesc\",\"GetNameAs\":\"CEODesc\"},{\"Name\":\"FinalScore\",\"GetNameAs\":\"FinalScore\"},{\"Name\":\"SCMPETCO_GradTypeId\",\"GetNameAs\":\"SCMPETCO_GradTypeId\"},{\"Name\":\"GradType\",\"GetNameAs\":\"GradType\"},{\"Name\":\"TestingSkillsDesc\",\"GetNameAs\":\"TestingSkillsDesc\"}],\"Relation\":[]},{\"Name\":\"SCMPETCO_SupplierEvaluationItems\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationItems\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SCMPETCO_ScoringMethod_SupplierId\",\"GetNameAs\":\"SCMPETCO_ScoringMethod_SupplierId\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SCMPETCO_SupplierEvaluationChecklistId\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationChecklistId\"},{\"Name\":\"SCMPETCO_SupplierEvaluationTitleId\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationTitleId\"},{\"Name\":\"SCMPETCO_SupplierEvaluationModelId\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationModelId\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"}],\"Relation\":[{\"Name\":\"SCMPETCO_ScoringMethod_Supplier\",\"GetNameAs\":\"SCMPETCO_ScoringMethod_Supplier\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"ScoringNo\",\"GetNameAs\":\"ScoringNo\"}]},{\"Name\":\"SCMPETCO_SupplierEvaluationChecklist\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationChecklist\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"SCMPETCO_SupplierMasterId\",\"GetNameAs\":\"SCMPETCO_SupplierMasterId\"}]},{\"Name\":\"SCMPETCO_SupplierEvaluationTitle\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationTitle\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Status\",\"GetNameAs\":\"Status\"}]},{\"Name\":\"SCMPETCO_SupplierEvaluationModel\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationModel\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"Code\",\"GetNameAs\":\"Code\"}]}]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SCMPETCO_SupplierEvaluationChecklist\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationChecklist\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SCMPETCO_SupplierMasterId\",\"GetNameAs\":\"SCMPETCO_SupplierMasterId\"}],\"Relation\":[{\"Name\":\"SCMPETCO_SupplierEvaluationItems\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationItems\",\"ModeErtebat\":2,\"Column\":[{\"Name\":\"SCMPETCO_ScoringMethod_SupplierId\",\"GetNameAs\":\"SCMPETCO_ScoringMethod_SupplierId\"},{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"SCMPETCO_SupplierEvaluationChecklistId\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationChecklistId\"},{\"Name\":\"SCMPETCO_SupplierEvaluationTitleId\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationTitleId\"},{\"Name\":\"SCMPETCO_SupplierEvaluationModelId\",\"GetNameAs\":\"SCMPETCO_SupplierEvaluationModelId\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"}],\"Relation\":[]}]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SCMPETCO_SupplierEvaluationChecklist>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SCMPETCO_SupplierEvaluationChecklist();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SCMPETCO_SupplierEvaluationChecklist>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
