@inherits Forms.Forms.Form_956_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    /* ************************************************** */
.detailArea form div:not(.devdrop) {
    margin-top: .1rem;
}

/* ************************************************** */
.header-form {
    height: 100px;
    background: linear-gradient(96deg, #0d3b66, #6a0dad);
    color: white;
    border-bottom: 2px solid #ffffff33;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.header-icon {
    font-size: 56px;
    color: #ffccff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-icon:hover {
    transform: scale(1.1) rotate(-5deg);
    color: #f5baff;
}

.header-title {
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-subtitle {
    font-size: 14px;
    opacity: 0.95;
    transition: opacity 0.3s ease;
}

.header-text:hover .header-title {
    color: #ffe0ff;
}

.header-text:hover .header-subtitle {
    opacity: 1;
}
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="row ">
    
<div class="col-md-12">
    <div  class="">
    <header class="header-form d-flex align-items-center py-1">
    <i class="fal fa-box header-icon px-3 fs-1"></i>
    <div class="header-text">
      <h4 class="header-title mb-1">ایجاد و ویرایش کالا</h4>
      <p class="header-subtitle">ایجاد و ویرایش کالا در شماران</p>
    </div>
  </header>
</div>

</div>

<div class="col-md-3">
    
<Input Id="PartNo" @ref="Ref_PartNo" Label="کد کالا"     @bind-Value="_Entity.PartNo" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"20\"}").Result))></Input>

<Input Id="ProductName" @ref="Ref_ProductName" Label="نام کالا"     @bind-Value="_Entity.ProductName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"75\"}").Result))></Input>
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_InsertPartsGRCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"ایجاد کالا\",\"primaryKey\":false,\"EntityID\":700,\"FieldId\":29772,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":956,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/VIEW_TAFKINDDTL_PARTS/GetList?TAFKINDNO=0010\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"TAFNO\",\"template\":\"<span>{{item.TAFNAME}} {{item.TAFCODE}} {{item.TAFKINDNO}} {{item.TAFNO}} </span>\",\"FieldsTemplate\":[{\"key\":\"TAFNAME\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TAFCODE\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TAFKINDNO\",\"value\":\"nvarchar(Max)\"},{\"key\":\"TAFNO\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"SH_PolFilm_InsertParts.TAFKINDNO\",\"searchField\":\"\",\"clearOnRefresh\":true,\"disabled\":false,\"modal\":true,\"label\":\"کد تفضیلی گروه کالا\",\"tableView\":true,\"key\":\"GRCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29772?EId=700&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"GRCODE_onitemselected\"}").Result;
}

    <Dropdown Id=GRCODE  @ref="Ref_GRCODE" Label="کد تفضیلی گروه کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.GRCODE" FieldName="GRCODE" OnItemSelected="ItemSelected_SH_PolFilm_InsertPartsGRCODE" Component="Component_SH_PolFilm_InsertPartsGRCODE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_InsertPartsGRCODE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.GRCODE = Selected.TAFNO;


    

    await GRCODE_onitemselected( Selected);
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_InsertPartsSUBGRCODE = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"ایجاد کالا\",\"primaryKey\":false,\"EntityID\":700,\"FieldId\":29773,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":956,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/VIEW_TAFKINDDTL_PARTS/GetList?TAFKINDNO=0011\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"TAFNO\",\"template\":\"<span>{{item.TAFNAME}} {{item.TAFCODE}} {{item.TAFKINDNO}} {{item.TAFNO}} </span>\",\"FieldsTemplate\":[{\"key\":\"TAFNAME\",\"value\":\"int\"},{\"key\":\"TAFCODE\",\"value\":\"int\"},{\"key\":\"TAFKINDNO\",\"value\":\"int\"},{\"key\":\"TAFNO\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"SH_PolFilm_InsertParts.TAFKINDNO\",\"searchField\":\"\",\"clearOnRefresh\":true,\"disabled\":false,\"modal\":true,\"label\":\"کد تفضیلی زیر گروه کالا\",\"tableView\":true,\"key\":\"SUBGRCODE\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29773?EId=700&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"SUBGRCODE_onitemselected\"}").Result;
}

    <Dropdown Id=SUBGRCODE  @ref="Ref_SUBGRCODE" Label="کد تفضیلی زیر گروه کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.SUBGRCODE" FieldName="SUBGRCODE" OnItemSelected="ItemSelected_SH_PolFilm_InsertPartsSUBGRCODE" Component="Component_SH_PolFilm_InsertPartsSUBGRCODE" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_InsertPartsSUBGRCODE(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.SUBGRCODE = Selected.TAFNO;


    

    await SUBGRCODE_onitemselected( Selected);
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_InsertPartsShomaran_ProductTypeId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"ایجاد کالا\",\"primaryKey\":false,\"EntityID\":700,\"FieldId\":29775,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":956,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Shomaran_ProductType\",\"RelationParentModel\":\"Shomaran_ProductType\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Shomaran_ProductType/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disableLimit\":false,\"noRefreshOnScroll\":false,\"disabled\":false,\"modal\":true,\"label\":\"نوع کالا\",\"tableView\":true,\"key\":\"Shomaran_ProductTypeId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29775?EId=700&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"Shomaran_ProductTypeId_onitemselected\"}").Result;
}

    <Dropdown Id=Shomaran_ProductTypeId  @ref="Ref_Shomaran_ProductTypeId" Label="نوع کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false Text="" Value="@_Entity.Shomaran_ProductTypeId" FieldName="Shomaran_ProductTypeId" OnItemSelected="ItemSelected_SH_PolFilm_InsertPartsShomaran_ProductTypeId" Component="Component_SH_PolFilm_InsertPartsShomaran_ProductTypeId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_InsertPartsShomaran_ProductTypeId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 Item.Shomaran_ProductTypeId = Selected.Id;
 Item.Shomaran_ProductType = await Utility.JSON.ToObject<Entity.Shomaran_ProductType>(await Utility.JSON.ToJson(_Item));

    

    await Shomaran_ProductTypeId_onitemselected( Selected);
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_InsertPartsUnits = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"ایجاد کالا\",\"primaryKey\":false,\"EntityID\":700,\"FieldId\":29774,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":956,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_vahed_unit/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"samancode\",\"template\":\"<span>{{item.name}} </span>\",\"FieldsTemplate\":[{\"key\":\"name\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"واحد کالا\",\"tableView\":true,\"key\":\"Units\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29774?EId=700&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"Units_onitemselected\"}").Result;
}

    <Dropdown Id=Units  @ref="Ref_Units" Label="واحد کالا" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.Units" FieldName="Units" OnItemSelected="ItemSelected_SH_PolFilm_InsertPartsUnits" Component="Component_SH_PolFilm_InsertPartsUnits" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_InsertPartsUnits(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.Units = Selected.samancode;


    

    await Units_onitemselected( Selected);
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_InsertPartsUnits2 = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"ایجاد کالا\",\"primaryKey\":false,\"EntityID\":700,\"FieldId\":29776,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":956,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":true,\"RelationParentName\":\"\",\"RelationParentModel\":\"\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://shomaran.workcv.ir:2010/fa-ir/api/v1/view_vahed_unit/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"samancode\",\"template\":\"<span>{{item.name}} </span>\",\"FieldsTemplate\":[{\"key\":\"name\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"واحد کالا 2\",\"tableView\":true,\"key\":\"Units2\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29776?EId=700&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"Units2_onitemselected\"}").Result;
}

    <Dropdown Id=Units2  @ref="Ref_Units2" Label="واحد کالا 2" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false  Value="@_Entity.Units2" FieldName="Units2" OnItemSelected="ItemSelected_SH_PolFilm_InsertPartsUnits2" Component="Component_SH_PolFilm_InsertPartsUnits2" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_InsertPartsUnits2(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

    Item.Units2 = Selected.samancode;


    

    await Units2_onitemselected( Selected);
    }
} 

</div>

<div class="col-md-3">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_SH_PolFilm_InsertPartsShomaran_FiscalYearId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"ایجاد کالا\",\"primaryKey\":false,\"EntityID\":700,\"FieldId\":29780,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":956,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"Shomaran_FiscalYear\",\"RelationParentModel\":\"Shomaran_FiscalYear\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/Shomaran_FiscalYear/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"\",\"disabled\":false,\"modal\":true,\"label\":\"سال مالی\",\"tableView\":true,\"key\":\"Shomaran_FiscalYearId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"29780?EId=700&SubId=29\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true,\"onitemselected\":\"Shomaran_FiscalYearId_onitemselected\"}").Result;
}

    <Dropdown Id=Shomaran_FiscalYearId  @ref="Ref_Shomaran_FiscalYearId" Label="سال مالی" CssClass=""  DisplayFormat="DropDown" ExternalApi=true NotMapped=false TextGrid=false Text="" Value="@_Entity.Shomaran_FiscalYearId" FieldName="Shomaran_FiscalYearId" OnItemSelected="ItemSelected_SH_PolFilm_InsertPartsShomaran_FiscalYearId" Component="Component_SH_PolFilm_InsertPartsShomaran_FiscalYearId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_SH_PolFilm_InsertPartsShomaran_FiscalYearId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 Item.Shomaran_FiscalYearId = Selected.Id;
 Item.Shomaran_FiscalYear = await Utility.JSON.ToObject<Entity.Shomaran_FiscalYear>(await Utility.JSON.ToJson(_Item));

    

    await Shomaran_FiscalYearId_onitemselected( Selected);
    }
} 

<Input Id="SSTID" @ref="Ref_SSTID" Label="کد شناسه مالیاتی"     @bind-Value="_Entity.SSTID" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"25\"}").Result))></Input>

<Input Id="TECNO" @ref="Ref_TECNO" Label="شماره فنی"     @bind-Value="_Entity.TECNO" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"40\"}").Result))></Input>

<Input Id="TECDESC" @ref="Ref_TECDESC" Label="مشخصه فنی"     @bind-Value="_Entity.TECDESC" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"300\"}").Result))></Input>

</div>

<div class="col-md-3">
    
</div>

<div class="col-md-3">
    
</div>

<div class="col-md-12">
    
</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="ApiResult" @ref="Ref_ApiResult" Label="ApiResult"     @bind-Value="_Entity.ApiResult" type="textarea"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_PolFilm_InsertParts\",\"GetNameAs\":\"SH_PolFilm_InsertParts\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"PartNo\",\"GetNameAs\":\"PartNo\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"GRCODE\",\"GetNameAs\":\"GRCODE\"},{\"Name\":\"SUBGRCODE\",\"GetNameAs\":\"SUBGRCODE\"},{\"Name\":\"Units\",\"GetNameAs\":\"Units\"},{\"Name\":\"Shomaran_ProductTypeId\",\"GetNameAs\":\"Shomaran_ProductTypeId\"},{\"Name\":\"Units2\",\"GetNameAs\":\"Units2\"},{\"Name\":\"SSTID\",\"GetNameAs\":\"SSTID\"},{\"Name\":\"TECNO\",\"GetNameAs\":\"TECNO\"},{\"Name\":\"TECDESC\",\"GetNameAs\":\"TECDESC\"},{\"Name\":\"Shomaran_FiscalYearId\",\"GetNameAs\":\"Shomaran_FiscalYearId\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}],\"Relation\":[{\"Name\":\"Shomaran_FiscalYear\",\"GetNameAs\":\"Shomaran_FiscalYear\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"Shomaran_ProductType\",\"GetNameAs\":\"Shomaran_ProductType\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"SH_PolFilm_InsertParts\",\"GetNameAs\":\"SH_PolFilm_InsertParts\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"PartNo\",\"GetNameAs\":\"PartNo\"},{\"Name\":\"ProductName\",\"GetNameAs\":\"ProductName\"},{\"Name\":\"GRCODE\",\"GetNameAs\":\"GRCODE\"},{\"Name\":\"SUBGRCODE\",\"GetNameAs\":\"SUBGRCODE\"},{\"Name\":\"Units\",\"GetNameAs\":\"Units\"},{\"Name\":\"Shomaran_ProductTypeId\",\"GetNameAs\":\"Shomaran_ProductTypeId\"},{\"Name\":\"Units2\",\"GetNameAs\":\"Units2\"},{\"Name\":\"SSTID\",\"GetNameAs\":\"SSTID\"},{\"Name\":\"TECNO\",\"GetNameAs\":\"TECNO\"},{\"Name\":\"TECDESC\",\"GetNameAs\":\"TECDESC\"},{\"Name\":\"Shomaran_FiscalYearId\",\"GetNameAs\":\"Shomaran_FiscalYearId\"},{\"Name\":\"ApiResult\",\"GetNameAs\":\"ApiResult\"}],\"Relation\":[]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.SH_PolFilm_InsertParts>(Data);
        }
            }
            else
            {
                _Entity = new Entity.SH_PolFilm_InsertParts();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.SH_PolFilm_InsertParts>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
